.c-mk-label {
  padding: 4px 8px;
  font-family: Lato;
  font-size: 10px;
  font-style: normal;
  font-weight: bold;
  line-height: 15px;
  border-radius: 4px;

  &--error {
    color: #ec4a0c;
    background: #fdede7;
  }

  &--success {
    color: #1baa56;
    background: #c4ffdc;
  }
}
