<template>
  <label :class="classes" class="c-mk-label">
    <slot />
  </label>
</template>

<script>
export default {
  name: 'MkLabel',
  props: {
    /**
     * The label background color
     * warning, success, error, default
     * Please add another option if you need
     */
    type: {
      type: String,
      validator: (type) => {
        return ['error', 'warning', 'success', 'default'].includes(type);
      },
      default: 'default',
    },
  },
  computed: {
    classes() {
      return `c-mk-label--${this.type}`;
    },
  },
};
</script>

<style lang="scss" src="./MkLabel.scss" scoped></style>
