<template>
  <div class="premium-promo">
    <div v-if="$device.isDesktop" class="premium-promo__header">
      <b-icon
        @click.native="$router.back()"
        icon="arrow-left"
        class="premium-promo__back-icon"
      ></b-icon>
      <span class="premium-promo__title">Promo Premium</span>
    </div>
    <div class="premium-promo__warning">
      <div class="premium-promo__warning-title">Verifikasi Promo</div>
      Berikan promo yang baik serta menarik agar mempermudah proses verifikasi.
    </div>

    <div :class="{ empty: !title, active: isActive.field1 }" class="premium-promo-field">
      <div class="premium-promo-field__label">
        <span class="premium-promo-field__number">1</span>
        <span class="premium-promo-field__title">Judul Promo</span>
      </div>
      <b-input
        ref="input1"
        v-model="title"
        @focus="changeFieldActive(1, true)"
        @blur="changeFieldActive(1, false)"
        :loading="isLoading"
        class="premium-promo-field__input title"
        placeholder="Contoh: Promo Januari"
        maxlength="25"
        has-counter
      />
    </div>

    <div :class="{ empty: !description, active: isActive.field2 }" class="premium-promo-field">
      <div class="premium-promo-field__label">
        <span class="premium-promo-field__number">2</span>
        <span class="premium-promo-field__title">Detail Promo</span>
      </div>
      <b-input
        v-model="$data['description']"
        @focus="changeFieldActive(2, true)"
        @blur="changeFieldActive(2, false)"
        :loading="isLoading"
        class="premium-promo-field__input description"
        type="textarea"
        placeholder="Contoh: -Diskon 50%, - Gratis Bantal"
        has-counter
      />
    </div>

    <div
      :class="{ empty: !isDirtyDatepicker, active: isActive.field3 || isActive.field4 }"
      class="premium-promo-field"
    >
      <div class="premium-promo-field__label">
        <span class="premium-promo-field__number">3</span>
        <span class="premium-promo-field__title">Periode Promo</span>
      </div>
      <div class="premium-promo-field__description">Tentukan tanggal promo</div>
      <div class="premium-promo-field__input --datepicker">
        <b-datepicker
          ref="datepicker"
          v-for="(i, idx) in [1, 2]"
          v-model="$data[`period${i}`]"
          :key="`period${i}`"
          :day-names="['Min', 'Sen', 'Sel', 'Rab', 'Kam', 'Jum', 'Sab']"
          :month-names="[
            'Januari',
            'Pebruari',
            'Maret',
            'April',
            'Mei',
            'Juni',
            'Juli',
            'Agustus',
            'September',
            'Oktober',
            'November',
            'Desember',
          ]"
          :class="{
            desktop: $device.isDesktop,
            mobile: !$device.isDesktop,
            [`datepicker${i}`]: isActive[`field${i + 2}`],
            [`period${i}`]: true,
          }"
          :mobile-native="false"
          :min-date="minDate"
          :date-formatter="formatDate"
          :placeholder="datepickerPlaceholder"
          @focus="handleDatepickerFocusAndBlur(i, i + 2, true)"
          @blur="handleDatepickerFocusAndBlur(i, i + 2, false)"
        >
          <template #default>
            <b-icon icon="alert-circle" size="is-small" />
            Anda bisa memilih tanggal yang sama
          </template>
          <template #header>
            <div class="custom-datepicker-header">
              <b-icon @click.native="handleNextOrPrevMonth(idx, 'prev', i)" icon="chevron-left" />
              {{ headerDate }}
              <b-icon @click.native="handleNextOrPrevMonth(idx, 'next', i)" icon="chevron-right" />
            </div>
          </template>
        </b-datepicker>
      </div>

      <div
        v-if="
          $dayjs(period1).isBefore($dayjs(), 'day') || $dayjs(period2).isBefore($dayjs(), 'day')
        "
        class="premium-promo-field__date-error"
      >
        <b-icon icon="alert-circle" />
        Durasi yang Anda masukan tidak valid.
      </div>

      <div
        v-else-if="$dayjs(period2).isBefore($dayjs(period1), 'day')"
        class="premium-promo-field__date-error"
      >
        <b-icon icon="alert-circle" size="is-small" />
        Tanggal berakhir tidak boleh sebelum tanggal mulai.
      </div>
    </div>

    <mk-button
      @clicked="handleSubmit"
      :disabled="isLoading || !canSubmit"
      :has-spinner="isLoading"
      color="green-brand"
      block
    >
      {{ submitLabel }}
    </mk-button>
  </div>
</template>

<script>
import isSameOrAfter from 'dayjs/plugin/isSameOrAfter';
import MkButton from '~/components/global/atoms/MkButton';

dayjs.extend(isSameOrAfter);

export default {
  name: 'PremiumPromo',
  components: {
    MkButton,
  },
  data() {
    const tomorrow = new Date(
      dayjs()
        .add(1, 'day')
        .toISOString(),
    );
    return {
      isLoading: true,
      submitLabel: 'Pasang Promo',
      title: '',
      description: '',
      period1: null,
      period2: null,
      minDate: new Date(),
      isDirtyDatepicker: false,
      isActive: {
        field1: false,
        field2: false,
        field3: false,
        field4: false,
      },
      tomorrow,
      headerDate: dayjs(tomorrow).format('MMMM YYYY'),
      datepickerPlaceholder: dayjs(tomorrow).format('DD MMMM YYYY'),
    };
  },
  computed: {
    canSubmit() {
      return (
        dayjs(this.period2).isSameOrAfter(dayjs(this.period1), 'day') &&
        dayjs(this.period1).isAfter(dayjs(), 'day') &&
        dayjs(this.period2).isAfter(dayjs(), 'day') &&
        !!this.title.trim() &&
        !!this.description.trim()
      );
    },
  },
  mounted() {
    this.$api
      .getPromotion(this.$route.params.id)
      .then((res) => {
        this.isLoading = false;
        if (res.data.status) {
          // TODO: because response API has inconsistent type. Empty promo = []. Has Promo = { title, ... }
          // This API needs to be updated
          // this state is for empty promo
          if (Array.isArray(res.data.promo) && !res.data.promo.length) {
            this.$nextTick(() => {
              this.$refs.input1 && this.$refs.input1.focus();
            });
          }
          // this state when owner has promo
          else {
            this.title = res.data.promo.title;
            this.description = res.data.promo.content;
            this.period1 = new Date(res.data.promo.from);
            this.period2 = new Date(res.data.promo.to);

            this.submitLabel = 'Edit Promo';
            // set to true, to make border and font color into black (filled state)
            this.isDirtyDatepicker = true;
          }
        } else {
          this.openToast('Gagal mengambil data');
        }
      })
      .catch(() => {
        this.isLoading = false;
      });
  },
  methods: {
    changeFieldActive(number, active) {
      this.isActive[`field${number}`] = active;
    },
    formatDate(date) {
      return this.$dayjs(date).format('DD MMMM YYYY');
    },
    openToast(message) {
      this.$buefy.toast.open({
        message,
        duration: 2000,
        position: 'is-bottom',
      });
    },
    handleSubmit() {
      this.isLoading = true;
      this.$api
        .updatePromotion({
          content: this.description,
          from: this.$dayjs(this.period1).format('YYYY-MM-DD'),
          to: this.$dayjs(this.period2).format('YYYY-MM-DD'),
          song_id: this.$route.params.id,
          title: this.title,
        })
        .then((res) => {
          this.isLoading = false;
          if (res.data.status) {
            this.$router.push({ path: `/premium-dashboard/kelola-iklan/${this.$route.params.id}` });
          } else {
            this.openToast(`Promo gagal diupdate`);
          }
        })
        .catch(() => {
          this.isLoading = false;
          this.openToast(`Promo gagal diupdate`);
        });
    },
    handleDatepickerFocusAndBlur(periodId, fieldId, isFocus) {
      // change header datepicker
      if (this[`period${periodId}`]) {
        this.headerDate = dayjs(this[`period${periodId}`]).format('MMMM YYYY');
      } else {
        this.headerDate = dayjs(this.tomorrow).format('MMMM YYYY');

        // add manually selected date for H+1 when value is null (Belum Ada Promo)
        this.toggleManualSelected(periodId, 'add');
      }

      !isFocus && this.toggleManualSelected(periodId, 'remove');

      this.changeFieldActive(fieldId, isFocus);
      // set to true when datepicker already been active for first time
      !this.isDirtyDatepicker && (this.isDirtyDatepicker = true);
    },
    handleNextOrPrevMonth(idx, action, periodId) {
      this.$refs.datepicker[idx][action]();
      this.headerDate = this.$dayjs(
        `${this.$refs.datepicker[idx].focusedDateData.year}-${this.$refs.datepicker[idx]
          .focusedDateData.month + 1}-01`,
      ).format('MMMM YYYY');

      // remove and add manual selected date
      if (!this[`period${periodId}`])
        this.$nextTick(() => {
          this.toggleManualSelected(periodId, 'remove');
          this.toggleManualSelected(periodId, 'add');
        });
    },

    toggleManualSelected(periodId, type) {
      if (type === 'add') {
        const tomorrowEl = document.querySelector(
          `.period${periodId} div.is-today + a.datepicker-cell`,
        );
        tomorrowEl && tomorrowEl.classList.add('manual-selected');
      } else {
        const manualSelectedDate = document.querySelector(`.period${periodId} .manual-selected`);

        manualSelectedDate && manualSelectedDate.classList.remove('manual-selected');
      }
    },
  },
};
</script>

<style lang="scss" src="./PremiumPromo.scss" scoped></style>
