.premium-promo {
  max-width: 416px;

  @media screen and (max-width: 768px) {
    padding: 12px 7px 24px;
  }

  &__header {
    margin-bottom: 24px;
  }

  &__back-icon {
    margin-right: 10px;
    cursor: pointer;

    &::v-deep .mdi-24px.mdi::before {
      font-size: 28px;
    }
  }
  &__title {
    font-size: 24px;
    font-weight: bold;
    line-height: 36px;
    color: rgba(0, 0, 0, 0.87);
  }

  &__warning {
    padding: 8px 16px;
    margin-bottom: 24px;
    font-size: 14px;
    font-weight: normal;
    line-height: 21px;
    background: #f9ede7;
    border-radius: 4px;

    &-title {
      margin-bottom: 4px;
      font-size: 16px;
      font-weight: bold;
      line-height: 24px;
      color: #ff863a;
    }
  }
}

.premium-promo-field {
  margin-bottom: 24px;

  &.empty {
    .premium-promo-field {
      &__number {
        color: #aaa;
        background: #fff;
        border-color: #aaa;
      }
      &__title {
        color: #aaa;
      }
      &__description {
        color: #aaa;
      }
      &__input {
        /* stylelint-disable-next-line  */
        ::v-deep {
          /* stylelint-disable-next-line  */
          .input,
          .textarea {
            color: #aaa;
            border-color: #aaa;
          }
        }
      }
    }
  }
  @mixin datepickerClass {
    ::v-deep {
      .input,
      .textarea {
        color: #484848;
        border: 1px solid #1baa56;
      }
    }
  }
  &.active {
    .premium-promo-field {
      &__number {
        color: #fff;
        background: #1baa56;
        border-color: #1baa56;
      }
      &__title {
        color: #484848;
      }
      &__description {
        color: #484848;
      }
      &__input {
        /* stylelint-disable-next-line  */
        .datepicker1,
        .datepicker2 {
          @include datepickerClass();
        }
        /* stylelint-disable-next-line  */
        &.title,
        &.description {
          @include datepickerClass();
        }
      }
    }
  }

  &__number {
    display: inline-block;
    width: 24px;
    height: 24px;
    font-size: 14px;
    line-height: 21px;
    color: #484848;
    text-align: center;
    vertical-align: middle;
    background: #fff;
    border: 1px solid #484848;
    border-radius: 12px;
  }

  &__title {
    margin-left: 12px;
    font-size: 20px;
    font-weight: bold;
    line-height: 24px;
    color: #484848;
    vertical-align: middle;
  }

  &__label {
    margin-bottom: 18px;
  }

  &__description {
    margin-top: -10px;
    margin-bottom: 16px;
    margin-left: 40px;
    font-size: 16px;
    line-height: 24px;
    color: #484848;
  }

  &__input {
    margin-left: 40px;
    background: #fff;

    &.--datepicker {
      position: relative;
      display: flex;
      justify-content: space-between;

      > .datepicker:last-child {
        margin-left: 16px;
      }

      ::v-deep {
        /* stylelint-disable-next-line  */
        .input,
        .textarea {
          text-align: center;
        }
      }
    }

    ::v-deep {
      /* stylelint-disable */
      .input,
      .textarea {
        height: 48px;
        border-color: #484848;
        border-radius: 4px;
        box-shadow: unset;
      }
      .dropdown-trigger,
      .control,
      .dropdown {
        position: unset;
      }
      .datepicker.desktop {
        .dropdown-menu {
          position: absolute;
          top: unset;
          bottom: 0;
          left: 110%;
        }
      }
      .datepicker.mobile {
        .dropdown .background {
          background-color: rgba(36, 36, 36, 0.5);
        }
        @media screen and (max-width: 1023px) {
          .dropdown.is-mobile-modal > .dropdown-menu {
            top: 40% !important;
          }
        }
      }
      .counter {
        // override buefy important style
        visibility: visible !important;
      }

      .pagination-previous,
      .pagination-next {
        border-width: 0;
      }
      .pagination-previous .icon,
      .pagination-next .icon {
        color: #484848 !important;
      }
      .datepicker-cell.is-selected {
        border-radius: 20px;
      }
      .datepicker .datepicker-table .datepicker-cell {
        padding: 0.5rem 0.5rem;
      }
      .datepicker .datepicker-table .datepicker-body .datepicker-cell.is-today {
        border-radius: 20px;
      }
      .pagination-previous {
        display: inline-flex !important;
      }
      @media screen and (max-width: 768px) {
        .pagination {
          flex-wrap: nowrap;
        }
        .pagination-list {
          order: 2;
        }
        .pagination-next {
          order: 3;
        }
        .pagination-previous {
          order: 1;
        }
      }
      @media screen and (max-width: 345px) {
        .datepicker {
          font-size: 0.675rem;
        }
        .pagination {
          font-size: 0.4rem;
        }
        .dropdown-item {
          padding: 1rem 1rem;
        }
      }

      .datepicker-header {
        .select select {
          border-width: 0;
          text-align: right;
          padding: 4px 10px;
          /* width: auto; */
          text-align-last: right;
        }
        .select:not(.is-multiple):not(.is-loading)::after {
          border-color: transparent;
          right: 1.125em;
          z-index: 4;
        }
      }
      .datepicker .datepicker-table .datepicker-body .datepicker-cell.is-today {
        border-width: 0;
      }
      /* stylelint-enable */
    }
  }

  ::v-deep {
    .datepicker-footer {
      font-size: 12px;
      line-height: 18px;
      color: #3485ea;
      text-align: center;
    }

    .manual-selected {
      color: #fff !important;
      background-color: #1baa56;
      border-radius: 20px;
    }
  }

  .custom-datepicker-header {
    display: flex;
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    color: #484848;
    text-align: center;
    justify-content: space-between;
  }

  &__date-error {
    margin-top: 18px;
    margin-left: 40px;
    font-size: 14px;
    color: #f00;
  }
}
