$border-default: 1px solid #e8e8e8;

.goldplus-detail-bill-desktop {
  &__wrapper {
    width: 576px;
    padding-bottom: 25px;
    margin: 0 auto;
  }

  &__header {
    display: flex;
    align-items: center;
    margin-bottom: 24px;

    .back-icon {
      margin-right: 27px;
      color: #303030;
    }
  }

  &__alert {
    margin-bottom: 24px;
  }

  &__title {
    color: #303030;
  }

  .divider {
    margin: 21px 0 0;
    border-bottom: $border-default;
  }
}
