<template>
  <mk-modal v-model="active" class="bm-filter-list-modal">
    <mk-card v-show="isShowCard" class="bm-filter-list-modal__card">
      <mk-card-header class="bm-filter-list-modal__header ">
        <b-icon @click.native="hideModal" class="close-icon" icon="close" size="is-medium" />
      </mk-card-header>
      <mk-card-body class="bm-filter-list-modal__body">
        <h1 class="title">
          Urutkan Berdasarkan
        </h1>

        <div v-for="(sort, i) in sortData" :key="i" class="field">
          <b-radio v-model="selectedSort" @input="selectSortType" :native-value="sort">
            <span class="label">
              {{ sort.name }}
            </span>
          </b-radio>
        </div>
      </mk-card-body>
      <mk-card-footer class="bm-filter-list-modal__footer" />
    </mk-card>
  </mk-modal>
</template>

<script>
import MkModal, { mixin as modalMixin } from '~/components/global/molecules/MkModal/MkModal';
import MkCard from '~/components/global/molecules/MkCard';
import MkCardHeader from '~/components/global/molecules/MkCard/components/MkCardHeader';
import MkCardBody from '~/components/global/molecules/MkCard/components/MkCardBody';
import MkCardFooter from '~/components/global/molecules/MkCard/components/MkCardFooter';
import billing from '~/components/page-features/kelola-tagihan/mixins/billing';

const listSort = [
  {
    value: 'scheduled_date',
    name: 'Tanggal Jatuh Tempo',
  },
  {
    value: 'room_number',
    name: 'Kamar',
  },
  {
    value: 'tenant_name',
    name: 'Nama Penyewa',
  },
];

export default {
  name: 'BillingManagementFilterListModal',
  components: {
    MkModal,
    MkCard,
    MkCardHeader,
    MkCardBody,
    MkCardFooter,
  },
  mixins: [modalMixin, billing],
  data() {
    return {
      isShowCard: true,
      selectedSort: listSort[0],
      sortData: listSort,
    };
  },
  computed: {
    page() {
      return this.$route.query.page;
    },
  },
  watch: {
    active(val) {
      this.isShowCard = val;
    },
  },
  methods: {
    selectSortType({ value }) {
      this.$store.commit('billingManagement/updateFilterSortBy', value);
      this.getBillListInvoices({
        invoiceStatus: this.page,
      });
      this.hideModal();
    },
    hideModal() {
      this.toggleModal(false);
      this.isShowCard = false;
    },
  },
};
</script>

<style lang="scss" scoped src="./BillingManagementFilterListModal.scss"></style>
