<template>
  <div class="redeem-detail --desktop">
    <div class="redeem-detail__menu">
      <router-link to="/mamipoin" class="redeem-menu__link">
        <b-icon icon="arrow-left" class="link-icon" />
        <strong class="link-text">
          Detail Status
        </strong>
      </router-link>
    </div>
    <div class="redeem-tile tile is-desktop">
      <div class="column exchange-column">
        <exchange-detail />
      </div>
      <div class="column general-column">
        <general-questions />
      </div>
    </div>
  </div>
</template>

<script>
import ExchangeDetail from '~/components/page-features/mamipoin/pages/rewards/components/ExchangeDetail';
import GeneralQuestions from '~/components/page-features/mamipoin/pages/rewards/components/GeneralQuestions';

export default {
  name: 'RedeemDetailDesktop',
  components: {
    ExchangeDetail,
    GeneralQuestions,
  },
};
</script>
<style scoped lang="scss" src="./desktop.scss"></style>
