$text-color: #383746;
$field-border-color: #e8e8e8;
$primary-color: #1baa56;
$danger-color: #db0808;

/* stylelint-disable selector-max-type, selector-max-compound-selectors, selector-max-nesting-depth, selector-max-specificity */

.exchange-form {
  color: $text-color;

  &__loader {
    margin-top: 30px;

    @media (max-width: 480px) {
      margin: 60px auto;
    }

    .c-loader {
      width: 40px;
      height: 40px;
    }
  }

  &__form {
    @media (max-width: 480px) {
      padding: 15px 15px 45px;
    }
  }
}

.form-header {
  margin-bottom: 30px;

  &__title {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.5;

    @media (max-width: 480px) {
      margin-bottom: 10px;
    }
  }

  &__desc {
    font-size: 14px;
  }

  &.--desktop {
    max-width: 420px;
  }
}

.form-content {
  margin-bottom: 50px;

  &.--desktop {
    max-width: 376px;
  }

  &__note {
    ::v-deep .label {
      font-size: 16px;
    }
  }

  ::v-deep .input,
  ::v-deep .textarea {
    border-color: $field-border-color;
    box-shadow: unset;

    &.is-danger {
      border-color: #ff3860;
    }
  }

  ::v-deep .form-field.required {
    .label::after {
      display: inline-block;
      margin-left: 5px;
      color: $danger-color;
      content: '*';
    }
  }

  .form-field {
    margin-bottom: 35px;

    ::v-deep label {
      font-size: 16px;
    }
  }

  .textarea-field {
    flex-direction: column;
  }

  .submit-button {
    color: #fff;
    background: $primary-color;
    border-radius: 4px;

    &[disabled='disabled'] {
      color: #bbb;
      background: #e8e8e8;
    }
  }
}
