<template>
  <div class="exchange-form">
    <div v-if="isLoading" class="exchange-form__loader">
      <div class="c-loader" />
    </div>
    <div v-else :class="isDesktop ? '--desktop' : '--mobile'" class="exchange-form__form">
      <div :class="isDesktop ? '--desktop' : '--mobile'" class="form-header">
        <h1 class="form-header__title">Data Penukaran</h1>
        <p class="form-header__desc">
          Isi form di bawah ini untuk melengkapi detail pengiriman hadiah.
        </p>
      </div>
      <div :class="isDesktop ? '--desktop' : '--mobile'" class="form-content">
        <form :validator="$v.formData" @submit.prevent="showConfirmationDialog">
          <b-field
            :message="isFormFieldInvalid.name ? errorMessages.name : ''"
            :type="isFormFieldInvalid.name ? 'is-danger' : ''"
            label="Nama"
            class="form-field"
          >
            <b-input
              v-model.trim="formData.name"
              @blur="hasFocusedOnce.name = true"
              placeholder="Masukan nama lengkap Anda"
              required
            />
          </b-field>
          <b-field
            :message="isFormFieldInvalid.phoneNumber ? errorMessages.phoneNumber : ''"
            :type="isFormFieldInvalid.phoneNumber ? 'is-danger' : ''"
            label="No HP yang bisa dihubungi"
            class="form-field"
          >
            <b-input
              v-model.trim="formData.phoneNumber"
              @blur="hasFocusedOnce.phoneNumber = true"
              minlength="10"
              required
              placeholder="Masukan nomor HP Anda"
            />
          </b-field>
          <div v-if="reward.type === 'virtual_goods_pln'" class="form-section">
            <b-field
              :message="
                isFormFieldInvalid.rElectricityNumber ? errorMessages.rElectricityNumber : ''
              "
              :type="isFormFieldInvalid.rElectricityNumber ? 'is-danger' : ''"
              label="No Meter Listrik Anda"
              class="form-field"
            >
              <b-input
                v-model.trim="formData.rElectricityNumber"
                @blur="hasFocusedOnce.rElectricityNumber = true"
                maxlength="20"
                placeholder="Masukan no meteran listrik Anda"
                required
              />
            </b-field>
          </div>
          <div v-if="reward.type === 'virtual_goods_pulsa'" class="form-section">
            <b-field
              :message="isFormFieldInvalid.rPhoneNumber ? errorMessages.rPhoneNumber : ''"
              :type="isFormFieldInvalid.rPhoneNumber ? 'is-danger' : ''"
              :disabled="formData.isReceiverSameAsOwner"
              label="No HP Penerima Voucher Pulsa"
              class="form-field"
            >
              <b-input
                v-model.trim="formData.rPhoneNumber"
                :disabled="formData.isReceiverSameAsOwner"
                @blur="hasFocusedOnce.rPhoneNumber = true"
                minlength="10"
                placeholder="Masukkan no HP Penerima Voucher Pulsa"
                required
              />
            </b-field>
            <b-checkbox v-model="formData.isReceiverSameAsOwner" class="form-field">
              No HP Penerima sama dengan Pemilik Akun
            </b-checkbox>
          </div>
          <div v-if="reward.type === 'shipping_goods'" class="form-section">
            <b-field
              :message="isFormFieldInvalid.rAddress ? errorMessages.rAddress : ''"
              :type="isFormFieldInvalid.rAddress ? 'is-danger' : ''"
              label="Alamat Pengiriman Hadiah"
              class="form-field textarea-field"
            >
              <b-input
                v-model.trim="formData.rAddress"
                @blur="hasFocusedOnce.rAddress = true"
                maxlength="90"
                placeholder="Masukan alamat pengiriman hadiah"
                type="textarea"
                required
              />
            </b-field>
            <b-field
              :message="isFormFieldInvalid.note ? errorMessages.note : ''"
              :type="isFormFieldInvalid.note ? 'is-danger' : ''"
              label="Catatan (Optional)"
              class="form-field form-content__note textarea-field"
            >
              <b-input
                v-model.trim="formData.note"
                @blur="hasFocusedOnce.note = true"
                maxlength="90"
                type="textarea"
              />
            </b-field>
          </div>
          <b-button
            :disabled="isSubmitButtonDisabled"
            @click="showConfirmationDialog"
            type="submit"
            expanded
            class="submit-button"
          >
            Tukar Poin
          </b-button>
        </form>
      </div>
    </div>

    <confirmation-modal
      v-model="isConfirmationDialogShown"
      :is-loading="isSubmitting"
      @submit="handleConfirmationDialogSubmission"
    >
      <div slot="description">
        Anda akan menukarkan {{ reward.redeem_value | toThousands }} poin untuk mendapatkan hadiah
        ini.
      </div>
    </confirmation-modal>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import { validationMixin } from 'vuelidate';
import { required, numeric, minLength, maxLength } from 'vuelidate/lib/validators';

import ConfirmationModal from '../ConfirmationModal';

export default {
  name: 'ExchangeForm',
  components: { ConfirmationModal },
  mixins: [validationMixin],
  data() {
    return {
      isLoading: false,
      isWaitingConfirmation: false,
      isSubmitting: false,
      isConfirmationDialogShown: false,
      point: 0,
      reward: {},
      formData: {
        name: '',
        phoneNumber: '',
        rElectricityNumber: '',
        rPhoneNumber: '',
        rAddress: '',
        isReceiverSameAsOwner: false,
        note: '',
      },
      hasFocusedOnce: {
        name: false,
        phoneNumber: false,
        rElectricityNumber: false,
        rPhoneNumber: false,
        rAddress: false,
        note: false,
      },
    };
  },
  validations: {
    formData: {
      name: {
        required,
      },
      phoneNumber: {
        required,
        numeric,
        minLength: minLength(10),
      },
      rPhoneNumber: {
        required,
        numeric,
        minLength: minLength(10),
      },
      rElectricityNumber: {
        required,
        numeric,
        maxLength: maxLength(20),
      },
      rAddress: {
        required,
        maxLength: maxLength(90),
      },
      note: {
        maxLength: maxLength(90),
      },
    },
  },
  computed: {
    ...mapGetters('profile', ['user', 'isBooking', 'isPremium', 'membership']),
    isDesktop() {
      return this.$device.isDesktop;
    },
    isAllowedToRedeem() {
      return Boolean(this.reward.isAllowedToRedeem) && this.point > 0 && this.requiredPoint <= 0;
    },
    isFormInvalid() {
      let isInvalid = false;
      Object.keys(this.isFormFieldInvalid).forEach((key) => {
        isInvalid = Boolean(this.isFormFieldInvalid[key]) || isInvalid;
      });
      return isInvalid;
    },
    isFormFieldInvalid() {
      const invalids = {
        name: this.hasFocusedOnce.name && this.$v.formData.name.$invalid,
        phoneNumber: this.hasFocusedOnce.phoneNumber && this.$v.formData.phoneNumber.$invalid,
        rElectricityNumber:
          this.hasFocusedOnce.rElectricityNumber && this.$v.formData.rElectricityNumber.$invalid,
        rPhoneNumber: this.hasFocusedOnce.rPhoneNumber && this.$v.formData.rPhoneNumber.$invalid,
        rAddress: this.hasFocusedOnce.rAddress && this.$v.formData.rAddress.$invalid,
        note: this.hasFocusedOnce.note && this.$v.formData.note.$invalid,
      };
      return invalids;
    },
    isSubmitButtonDisabled() {
      return (
        !this.isAllowedToRedeem ||
        this.isFormInvalid ||
        this.isWaitingConfirmation ||
        !this.hasFilledRequiredFields ||
        !this.reward.is_eligible
      );
    },
    errorMessages() {
      const messages = {
        name: 'Nama wajib diisi',
        rElectricityNumber: 'Mohon masukkan nomor token listrik yg valid',
        rPhoneNumber: 'Mohon masukkan nomor HP yg valid',
        rAddress: 'Alamat pengiriman wajib diisi dan tidak boleh lebih dari 90 karakter',
        phoneNumber: 'Mohon masukkan nomor HP yg valid',
        note: 'Catatan tidak boleh lebih dari 90 karakter',
      };
      return messages;
    },
    hasFilledRequiredFields() {
      const formFields = {
        virtual_goods_pln: this.formData.rElectricityNumber,
        virtual_goods_pulsa: this.formData.rPhoneNumber,
        shipping_goods: this.formData.rAddress,
      };

      return (
        Boolean(this.formData.name && this.formData.phoneNumber) &&
        Boolean(formFields[this.reward.type])
      );
    },
    rewardId() {
      return this.$route.params.reward_id;
    },
    requiredPoint() {
      return parseInt(this.reward.redeem_value || 0) - parseInt(this.point);
    },
  },
  watch: {
    'formData.isReceiverSameAsOwner'(isChecked) {
      if (this.reward.type === 'virtual_goods_pulsa') {
        this.formData.rPhoneNumber = isChecked ? this.user.phone_number : '';
        this.$nextTick(() => {
          this.$v.formData.rPhoneNumber.$touch();
          !isChecked && this.$v.formData.rPhoneNumber.$reset();
        });
      }
    },
  },
  created() {
    this.fetchPoint();
    this.fetchRewardDetail();
  },
  mounted() {
    this.setDefaultFormData();
  },
  methods: {
    setDefaultFormData() {
      const { name, phone_number } = this.user;
      this.formData = {
        ...this.formData,
        ...{
          name,
          phoneNumber: phone_number,
        },
      };
    },
    handleConfirmationDialogSubmission(isConfirmed = false) {
      if (isConfirmed) {
        this.submitForm();
      } else {
        this.isConfirmationDialogShown = false;
        this.isWaitingConfirmation = false;
      }
    },
    generateRequest() {
      const request = {
        id: parseInt(this.rewardId),
        recipient_name: this.formData.name,
        recipient_phone: this.formData.phoneNumber,
      };

      if (this.reward.type === 'virtual_goods_pln') {
        request.recipient_data = this.formData.rElectricityNumber;
      } else if (this.reward.type === 'virtual_goods_pulsa') {
        request.recipient_data = this.formData.rPhoneNumber;
      } else if (this.reward.type === 'shipping_goods') {
        request.recipient_data = this.formData.rAddress;

        if (this.formData.note) {
          request.recipient_notes = this.formData.note;
        }
      }

      return request;
    },
    showConfirmationDialog() {
      this.isConfirmationDialogShown = true;
      this.isWaitingConfirmation = true;
    },
    async submitForm() {
      this.sendConfirmRedeemTrackerEvent();

      const request = await this.generateRequest();
      this.isSubmitting = true;
      this.$api
        .redeemReward(this.rewardId, request)
        .then(async (response) => {
          if (response.data.status) {
            const redeemId = response.data.redeem_id;
            this.$buefy.toast.open({
              duration: 2000,
              message: 'Hadiah berhasil ditukar',
              position: 'is-bottom',
            });
            if (redeemId) {
              await this.$store.commit('mamipoin/setRedeemDetailPage', {
                prevPath: {
                  name: 'mamipoin',
                  path: '/mamipoin',
                },
              });
              this.$router.push(`/mamipoin/redeem/${redeemId}`);
            } else {
              this.$router.push('/mamipoin/rewards');
            }
          } else {
            this.$buefy.toast.open({
              duration: 2000,
              message: 'Hadiah gagal ditukar',
              position: 'is-bottom',
            });
          }
          this.isSubmitting = false;
          this.isWaitingConfirmation = false;
        })
        .catch(() => {
          this.isSubmitting = false;
          this.$buefy.toast.open({
            duration: 2000,
            message: 'Hadiah gagal ditukar',
            position: 'is-bottom',
          });
        });
    },
    sendConfirmRedeemTrackerEvent() {
      this.$tracker.send('moe', [
        '[Owner] Tukar Poin Confirmed',
        {
          interface: this.isDesktop ? 'desktop' : 'mobile',
          is_owner: true,
          is_mamipay: this.membership.is_mamipay_user,
          is_booking: this.isBooking,
          is_premium_owner: this.isPremium,
          reward_id: this.reward.id,
          reward_type: this.reward.type,
          reward_name: this.reward.name,
        },
      ]);
    },
    fetchPoint() {
      this.$api.getPointTotal().then((response) => {
        if (response.data.status) {
          this.point = response.data.point;
        }
      });
    },
    fetchRewardDetail() {
      this.isLoading = true;
      this.$api
        .getRewardDetail(this.rewardId)
        .then((response) => {
          if (response.data.status) {
            const reward = response.data.data || {};

            const remainingQuotaChecklist = ['total', 'daily', 'total_user', 'daily_user'];
            let isAllowedToRedeem = true;
            remainingQuotaChecklist.forEach((key) => {
              if (!reward.remaining_quota[key]) isAllowedToRedeem = false;
            });

            reward.isAllowedToRedeem = isAllowedToRedeem;
            reward.redeem_value = parseInt(reward.redeem_value || 0);

            this.reward = { ...this.reward, ...reward };
          }
          this.isLoading = false;
        })
        .catch(() => {
          this.isLoading = false;
        });
    },
  },
};
</script>

<style lang="scss" scoped src="./ExchangeForm.scss"></style>
