<template>
  <div class="detail-bill-mobile">
    <div class="detail-bill-mobile__wrapper">
      <h1 class="detail-bill-mobile__title">Detail Tagihan</h1>

      <div class="detail-bill-mobile__content">
        <detail-bill-invoice />
      </div>
    </div>
  </div>
</template>

<script>
import DetailBillInvoice from '~/components/page-features/kelola-tagihan/pages/detailBill/components/DetailBillInvoice';

export default {
  components: {
    DetailBillInvoice,
  },
};
</script>

<style lang="scss" src="./mobile.scss"></style>
