<template>
  <div id="dbetContractAccept">
    <!-- eslint-disable-next-line vue/require-component-is -->
    <component :is="view"></component>
  </div>
</template>

<script>
import pageView from '~/mixins/page-view';

export default {
  layout({ isDesktop }) {
    return `default/${isDesktop ? 'desktop' : 'mobile'}/index`;
  },
  head() {
    return this.$device.isDesktop
      ? { meta: [{ hid: 'viewport', name: 'viewport', content: 'width=1200' }] }
      : {};
  },
  meta: {
    hideMobileFloatingChat: true,
    hideSidebar: true,
    hideHeader: true,
    hideTopNavbarMobile: true,
    hideBottomNavbar: true,
  },
  name: 'ContractAcceptRequestRoute',
  mixins: [pageView],
  data() {
    let component;

    if (this.$device.isDesktop) {
      component = import(
        /* webpackChunkName: "page-view-contract-accept-request-desktop" */ `~/components/page-features/contract/accept-request/desktop`
      );
    } else {
      component = import(
        /* webpackChunkName: "page-view-contract-accept-request-mobile" */ `~/components/page-features/contract/accept-request/mobile`
      );
    }

    return { component };
  },
};
</script>
