.membership-card {
  &__title {
    position: relative;
    display: flex;
  }

  &__label {
    margin-top: 2px;
  }

  &__subtitle {
    text-decoration: underline;
  }

  &__premium {
    ::v-deep {
      .bg-c-card {
        cursor: pointer;

        @media (max-width: 768px) {
          padding: 4px 12px 4px 8px;
        }
      }

      .mk-action-card__main-content-title {
        @media (max-width: 768px) {
          font-size: 14px;
          line-height: 20px;
        }
      }
      .mk-action-card__main-content-subtitle {
        @media (max-width: 768px) {
          margin-top: 2px;
          font-size: 16px;
          line-height: 24px;
        }
      }
    }
  }

  ::v-deep {
    .bg-c-red-dot {
      left: 4px;
    }
  }

  @media (min-width: 768px) {
    &__label {
      margin-top: 8px;
    }

    ::v-deep {
      .mk-action-card__main-content-subtitle {
        margin-top: 4px;
      }
    }
  }
}

::v-deep {
  .bg-c-card--md {
    padding: 16px;
    cursor: pointer;

    @media (max-width: 768px) {
      padding: 4px 12px 4px 8px;
    }
  }
}

.c-wrapper {
  display: flex;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  justify-content: space-between;
  @media (max-width: 768px) {
    margin: 0;
  }

  &__title {
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    color: #757575;
    @media (max-width: 768px) {
      font-size: 14px;
      line-height: 20px;
    }
  }

  &__left {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  &__content {
    display: block;
    margin-top: 2px;
    font-size: 24px;
    line-height: 32px;
    color: #404040;
    word-break: break-word;

    @media (max-width: 768px) {
      margin: 2px 0 0;
      font-size: 16px;
      line-height: 24px;
    }
  }

  &__right {
    display: flex;
    margin: auto 0;
  }
}

.fadeOutDown {
  -webkit-animation-name: fadeOutDown;
  animation-name: fadeOutDown;
  -webkit-animation-duration: 700ms;
  animation-duration: 700ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes fadeOutDown {
  0% {
    -webkit-opacity: 1;
    opacity: 1;
  }
  100% {
    -webkit-opacity: 0;
    opacity: 0;
    -webkit-transform: translate3d(0, 25%, 0);
    transform: translate3d(0, 25%, 0);
  }
}
@keyframes fadeOutDown {
  0% {
    -webkit-opacity: 1;
    opacity: 1;
  }
  100% {
    -webkit-opacity: 0;
    opacity: 0;
    -webkit-transform: translate3d(0, 25%, 0);
    transform: translate3d(0, 25%, 0);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
  -webkit-animation-duration: 700ms;
  animation-duration: 700ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-delay: 150ms;
}
@-webkit-keyframes fadeInUp {
  0% {
    -webkit-opacity: 0;
    opacity: 0;
    -webkit-transform: translate3d(0, 25%, 0);
    transform: translate3d(0, 25%, 0);
  }
  100% {
    -webkit-opacity: 1;
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInUp {
  0% {
    -webkit-opacity: 0;
    opacity: 0;
    -webkit-transform: translate3d(0, 35%, 0);
    transform: translate3d(0, 35%, 0);
  }
  100% {
    -webkit-opacity: 1;
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

// STRING ANIMATION
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 700ms;
  animation-duration: 700ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-delay: 10ms;
}
@-webkit-keyframes fadeInDown {
  0% {
    -webkit-opacity: 0;
    opacity: 0;
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
  }
  100% {
    -webkit-opacity: 1;
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInDown {
  0% {
    -webkit-opacity: 0;
    opacity: 0;
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
  }
  100% {
    -webkit-opacity: 1;
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeOutUp {
  -webkit-animation-name: fadeOutUp;
  animation-name: fadeOutUp;
  -webkit-animation-duration: 700ms;
  animation-duration: 700ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes fadeOutUp {
  0% {
    -webkit-opacity: 1;
    opacity: 1;
  }
  100% {
    -webkit-opacity: 0;
    opacity: 0;
    -webkit-transform: translate3d(0, -20%, 0);
    transform: translate3d(0, -20%, 0);
  }
}
@keyframes fadeOutUp {
  0% {
    -webkit-opacity: 1;
    opacity: 1;
  }
  100% {
    -webkit-opacity: 0;
    opacity: 0;
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
  }
}

.title-running {
  text-decoration: underline;
}

.hight-point {
  @media (max-width: 320px) {
    margin-bottom: 24px;
  }
}
