<template>
  <bg-grid :mobile-only="isMobile" class="membership-card">
    <bg-grid-item v-if="gp_status != null" :col="isMobile ? 4 : 3">
      <bg-skeleton v-if="isGPCardLoading" :height="100" width="100%" />
      <mk-action-card v-else @click.native="handleGoldPlusCardClicked()" title-color="#757575">
        <template #title>
          <div class="membership-card__title">
            Member GoldPlus
            <bg-red-dot v-if="showRedDot"></bg-red-dot>
          </div>
        </template>
        <template #subtitle>
          <bg-label-rainbow
            v-if="gp_status.key != 'register'"
            class="membership-card__label"
            color="black"
            >{{ gp_status.label }}</bg-label-rainbow
          >
          <bg-link v-else variant="medium" class="membership-card__label">{{
            gp_status.label
          }}</bg-link>
        </template>
      </mk-action-card>
    </bg-grid-item>
    <bg-grid-item
      :col="isMobile && isMamipoinBlacklisted ? 4 : isMobile && !isMamipoinBlacklisted ? 2 : 3"
    >
      <mk-action-card
        @click="onBalanceCardClick()"
        :subtitle="createCardSubtitle()"
        :subtitle-size="handleSubtitleSize()"
        title="Saldo Premium"
        title-color="#757575"
        class="membership-card__premium"
      />
    </bg-grid-item>
    <has-no-property-modal v-model="isNoPropertyModalActive" />
    <confirm-payment-modal v-model="isConfirmModalActive" />

    <bg-grid-item v-if="!isMamipoinBlacklisted" :col="isMobile ? 2 : 3">
      <bg-card @click.native="gotoMamipoinPage"
        ><div class="c-wrapper">
          <div class="c-wrapper__left">
            <div class="c-wrapper__title">MamiPoin</div>
            <div class="c-wrapper__content">
              <div
                v-if="isFlipContent"
                :class="{ fadeInUp: isShowPoint, fadeOutDown: !isShowPoint }"
              >
                <div
                  :class="{
                    'hight-point': !isLowPoint,
                  }"
                  class="title-running"
                >
                  {{ titleMamipoin }}
                </div>
              </div>
              <div
                v-else
                :class="{
                  fadeInDown: !isShowPoint,
                  fadeOutUp: isShowPoint,
                }"
              >
                {{ totalMamipoin }}
              </div>
            </div>
          </div>
          <div class="c-wrapper__right">
            <bg-icon name="chevron-right" class="c-wrapper__icon" size="sm"></bg-icon>
          </div></div
      ></bg-card>
    </bg-grid-item>
  </bg-grid>
</template>
<script>
import {
  BgGrid,
  BgGridItem,
  BgLabelRainbow,
  BgRedDot,
  BgLink,
  BgSkeleton,
  BgCard,
  BgIcon,
} from 'bangul-vue';
import { mapGetters } from 'vuex';
import { toThousands } from '~/utils/number';
import MkActionCard from '~/components/global/molecules/MkActionCard';
import HasNoPropertyModal from '~/components/page-features/premium/components/HasNoPropertyModal/HasNoPropertyModal.vue';
import ConfirmPaymentModal from '~/components/page-features/premium/components/ConfirmPaymentModal/ConfirmPaymentModal.vue';
import { toIDR } from '~/utils/currencyString';
import MixinPremiumEntryAction from '~/components/page-features/premium-dashboard/mixins/mixinPremiumEntryAction.js';

export default {
  name: 'MembershipCard',
  components: {
    BgGrid,
    BgCard,
    BgLink,
    BgIcon,
    BgRedDot,
    BgSkeleton,
    BgGridItem,
    MkActionCard,
    BgLabelRainbow,
    HasNoPropertyModal,
    ConfirmPaymentModal,
  },
  mixins: [MixinPremiumEntryAction],
  data() {
    return {
      isNoPropertyModalActive: false,
      isConfirmModalActive: false,
      isGPCardLoading: false,
      isShowPoint: false,
      isFlipContent: false,
      gp_status: {
        key: null,
        label: null,
        invoice_id: null,
      },
    };
  },
  computed: {
    ...mapGetters('profile', ['user', 'isBbk', 'isPremium', 'membership']),
    isMamipayOwner() {
      return this.membership.is_mamipay_user;
    },
    isMobile() {
      return this.$device.isMobile;
    },
    showRedDot() {
      return this.gp_status.key === 'waiting' || this.gp_status.key === 'review';
    },

    totalMamipoin() {
      return toThousands(this.$store.state.profile.data.total_mamipoin || 0).toString();
    },

    isMamipoinBlacklisted() {
      return this.$store.state.profile.data.is_blacklist_mamipoin;
    },

    titleMamipoin() {
      return parseInt(this.totalMamipoin) === 0 ? 'Pelajari' : 'Tukar Poin';
    },

    isLowPoint() {
      return this.totalMamipoin.length <= 11;
    },

    userGpPackage() {
      return this.gp_status && ['gp1', 'gp2', 'gp3', 'gp4'].includes(this.gp_status.key)
        ? this.gp_status.key
        : 'Non-GP';
    },
    nonPremium() {
      return (
        this.membership.status === 'Upgrade ke Premium' || this.membership.status === 'Coba Trial'
      );
    },
  },
  mounted() {
    this.handleGetGoldPlusSubmissionStatus();
    this.handleAnimationMamipoin();
  },
  methods: {
    handleGetGoldPlusSubmissionStatus() {
      this.isGPCardLoading = true;
      this.$api
        .getGoldPlusSubmissionStatus()
        .then((response) => {
          // istanbul ignore else
          if (response.data.status) {
            this.gp_status = response.data.data.gp_status;
          }
        })
        .catch((error) => {
          this.$bugsnag.notify(error);
          this.$alert('is-danger', 'Gagal', 'Terjadi galat, silakan coba lagi.');
        })
        .finally(() => (this.isGPCardLoading = false));
    },
    handleGoldPlusCardClicked() {
      const key = this.gp_status.key;
      this.trackEntryPointClicked(key);
      switch (key) {
        case 'review':
          this.$router.push({ name: 'goldplus-list', params: { filter_key: 2 } });
          break;
        case 'waiting':
          this.$router.push(`/goldplus/payment/${this.gp_status.invoice_id}`);
          break;
        case 'register':
          this.$router.push({ name: 'goldplus-submission', params: { previousPage: 'Dashboard' } });
          break;
        default:
          this.$router.push({ name: 'goldplus' });
      }
    },
    trackEntryPointClicked(key) {
      if (key === 'register') {
        this.$tracker.send('moe', [
          '[Owner] GP Submission - Entry Point Clicked',
          {
            interface: this.$device.isMobile ? 'mobile' : 'desktop',
            owner_name: this.user.name,
            redirection_source: window.location.href,
            is_mamipay: this.isMamipayOwner,
          },
        ]);
      } else {
        this.$tracker.send('moe', [
          '[Owner] OD Profile - Goldplus Clicked',
          {
            owner_name: this.user.name,
            owner_phone_number: this.user.phone_number,
            owner_email: this.user.email || '',
            goldplus_status: this.gp_status.key,
            is_premium: this.isPremium,
            // for temporary set false on is_mamirooms until API is Done,
            is_mamirooms: !!this.user.is_mamirooms || false,
            is_booking: this.isBbk,
            interface: this.$device.isMobile ? 'mobile' : 'desktop',
          },
        ]);
      }
    },

    trackPremiumSaldoClicked() {
      this.$tracker.send('moe', [
        '[Owner] OD Profile - Premium Saldo Clicked',
        {
          owner_id: this.user.user_id,
          owner_name: this.user.name,
          owner_phone_number: this.user.phone_number,
          owner_email: this.user.email || '',
          is_promoted: null,
          is_premium: this.isPremium,
          saldo_amount: this.membership.views,
          is_mamirooms: !!this.user.is_mamirooms || false,
          is_booking: this.isBbk,
          redirection_source: 'owner dashboard',
          interface: this.$device.isMobile ? 'mobile' : 'desktop',
        },
      ]);
    },
    onBalanceCardClick() {
      this.handlePremiumEntryAction('dashboard');
      this.trackPremiumSaldoClicked();
    },
    toggleAddPropertyModal() {
      this.isNoPropertyModalActive = !this.isNoPropertyModalActive;
    },
    toggleConfirmModal() {
      this.isConfirmModalActive = !this.isConfirmModalActive;
    },
    createCardSubtitle() {
      let buttonLabel;

      if (this.nonPremium) {
        buttonLabel = 'Beli Paket';
      } else if (this.membership.status === 'Konfirmasi Pembayaran' && this.membership.expired) {
        buttonLabel = 'Konfirmasi';
      } else {
        buttonLabel = this.showBalance();
      }

      return buttonLabel;
    },
    showBalance() {
      let balance;
      const convertToString = this.membership.views.toString();

      if (convertToString <= 99999999) {
        balance = toIDR(convertToString);
      } else {
        balance = `Rp. ${convertToString.substr(0, 3)} Juta`;
      }

      return balance;
    },
    handleSubtitleSize() {
      let size;

      if (this.isMobile) {
        if (
          this.membership.views <= 999999 ||
          this.membership.status === 'Upgrade ke Premium' ||
          this.membership.status === 'Konfirmasi Pembayaran'
        ) {
          size = 'title-3';
        } else if (this.membership.views > 999999 && this.membership.views <= 999999999) {
          size = 'title-5';
        } else {
          size = 'title-2';
        }
      } else {
        size = 'title-2';
      }

      return size;
    },

    trackMamiPointClicked() {
      this.$tracker.send('moe', [
        '[Owner] OD Profile - MamiPoin Clicked',
        {
          owner_id: this.user.user_id,
          owner_name: this.user.name,
          owner_phone_number: this.user.phone_number,
          owner_email: this.user.email || '',
          goldplus_status: this.userGpPackage,
          is_premium: this.isPremium,
          // for temporary set false on is_mamirooms until API is Done,
          is_mamirooms: !!this.user.is_mamirooms || false,
          is_booking: this.isBbk,
          redirection_source: 'tab_home',
          interface: this.$device.isMobile ? 'mobile' : 'desktop',
          point_total: parseInt(this.$store.state.profile.data.total_mamipoin || 0),
        },
      ]);
    },

    gotoMamipoinPage() {
      localStorage.setItem('mamipoinVisitedStatus', true);
      this.trackMamiPointClicked();
      this.$router.push({ name: 'mamipoin' });
    },

    handleAnimationMamipoin() {
      const isAlreadyVisited = Boolean(localStorage.getItem('mamipoinVisitedStatus'));
      if (!isAlreadyVisited) {
        setInterval(() => {
          this.isShowPoint = !this.isShowPoint;
          setTimeout(() => {
            this.isFlipContent = !this.isFlipContent;
          }, 300);
        }, 3000);
      } else {
        this.isFlipContent = false;
        this.isShowPoint = false;
      }
    },
  },
};
</script>

<style lang="scss" src="./MembershipCard.scss" scoped></style>
