<template>
  <div class="goldplus-room-list-mweb">
    <gold-plus-header class="goldplus-room-list-mweb__header">
      <span slot="title">Paket GoldPlus Anda</span>
    </gold-plus-header>

    <gold-plus-room-list-kost-content />
  </div>
</template>

<script>
import GoldPlusRoomListKostContent from '../components/GoldPlusRoomListKostContent';
import GoldPlusHeader from '~/components/page-features/goldplus/components/GoldPlusHeader';
export default {
  name: 'GoldPlusRoomList',
  components: { GoldPlusRoomListKostContent, GoldPlusHeader },
};
</script>

<style scoped lang="scss" src="./mobile.scss"></style>
