<template>
  <mk-modal v-model="active" class="bm-filter-kost-modal">
    <mk-card v-show="isShowCard" class="bm-filter-kost-modal__card">
      <mk-card-header class="bm-filter-kost-modal__header">
        <b-icon @click.native="hideModal" class="close-icon" icon="close" size="is-medium" />
      </mk-card-header>
      <mk-card-body @scroll.native="handleFilterBodyScrolled" class="bm-filter-kost-modal__body">
        <h1 class="title">
          Tagihan di
        </h1>

        <div v-for="(kost, i) in kostList" :key="i" class="field">
          <b-radio :value="selectedKost" @input="updateSelectedKost" :native-value="kost">
            <div class="label">
              {{ kost.kostName }}
            </div>
          </b-radio>
        </div>
        <div v-if="isLoadingMore" class="bm-filter-kost-modal__loading">
          <bg-skeleton width="90%" height="28px" />
        </div>
      </mk-card-body>
      <mk-card-footer class="bm-filter-kost-modal__footer" />
    </mk-card>
    <bg-toast v-model="isShowToast" :duration="5">
      {{ toastMessage }}
    </bg-toast>
  </mk-modal>
</template>

<script>
import _get from 'lodash/get';
import { BgSkeleton, BgToast } from 'bangul-vue';
import MkModal, { mixin as modalMixin } from '~/components/global/molecules/MkModal/MkModal';
import MkCard from '~/components/global/molecules/MkCard';
import MkCardHeader from '~/components/global/molecules/MkCard/components/MkCardHeader';
import MkCardBody from '~/components/global/molecules/MkCard/components/MkCardBody';
import MkCardFooter from '~/components/global/molecules/MkCard/components/MkCardFooter';
import billing from '~/components/page-features/kelola-tagihan/mixins/billing';

export default {
  name: 'BillingManagementFilterKostModal',
  components: {
    MkModal,
    MkCard,
    MkCardHeader,
    MkCardBody,
    MkCardFooter,
    BgSkeleton,
    BgToast,
  },

  mixins: [modalMixin, billing],

  data() {
    return {
      isShowCard: true,
      isLoadingMore: false,
      isShowToast: false,
      toastMessage: '',
    };
  },

  computed: {
    selectedKost() {
      return this.$store.state.billingManagement.selectedKost;
    },
    kostList() {
      return this.$store.state.billingManagement.kostList;
    },
    page() {
      return this.$route.query.page;
    },
    kostListPagination() {
      return _get(this.$store.state, 'billingManagement.kostListPagination', {});
    },
  },

  watch: {
    active(val) {
      this.isShowCard = val;
    },
    isShowToast(val) {
      if (!val) {
        this.toastMessage = '';
      }
    },
  },

  methods: {
    formatSelected(songId, kostName) {
      return {
        songId,
        kostName,
      };
    },
    updateSelectedKost({ songId, kostName }) {
      const { month, year, rentType, page } = this.$route.query;
      this.$router.replace({ query: { selectedKost: songId, month, year, page, rentType } });
      this.$store.commit(
        'billingManagement/updateSelectedKost',
        this.formatSelected(songId, kostName),
      );
      this.getAllBillingSummary();
      this.getBillListInvoices({
        invoiceStatus: this.page,
      });
      this.hideModal();
    },
    hideModal() {
      this.toggleModal(false);
      this.isShowCard = false;
    },
    showToast(message) {
      this.toastMessage = message;
      this.isShowToast = true;
    },
    handleFilterBodyScrolled(e) {
      const { hasMore } = this.kostListPagination;
      if (!hasMore || !!this.isLoadingMore) return;

      const { scrollTop, scrollHeight, clientHeight } = e.target;
      if (scrollHeight - clientHeight <= scrollTop + 10) {
        this.getMoreKost();
      }
    },
    getMoreKost() {
      const { offset } = this.kostListPagination;

      this.isLoadingMore = true;
      this.$api
        .getMamipayRooms({ booking_status: 'approve', offset, limit: 20 })
        .then((res) => {
          const resStatus = _get(res, 'data.status', false);

          if (resStatus) {
            const { data, has_more } = res.data;
            const list = data.map((item) => {
              return {
                songId: item.id,
                kostName: item.room_title,
              };
            });

            this.$store.commit('billingManagement/addKostList', list);
            this.$store.commit('billingManagement/setKostListPagination', {
              offset: offset + ((data && data.length) || 0),
              hasMore: has_more,
            });
          } else {
            const message = _get(res, 'data.meta.message') || 'Terjadi galat, silakan coba lagi.';

            this.showToast(message);
          }

          this.isLoadingMore = false;
        })
        .catch((error) => {
          this.$bugsnag.notify(error);
          this.isLoadingMore = false;
          this.showToast('Terjadi galat, silakan coba lagi.');
        });
    },
  },
};
</script>

<style lang="scss" scoped src="./BillingManagementFilterKostModal.scss"></style>
