<template>
  <mk-modal v-model="active" class="bm-filter-list-modal">
    <mk-card v-show="isShowCard" class="bm-filter-list-modal__card">
      <mk-card-header class="bm-filter-list-modal__header ">
        <b-icon @click.native="hideModal" class="close-icon" icon="close" size="is-medium" />
      </mk-card-header>
      <mk-card-body class="bm-filter-list-modal__body">
        <h1 class="title">
          {{ typeReminderText.title }}
        </h1>

        <p>{{ typeReminderText.description }}</p>
      </mk-card-body>
      <mk-card-footer class="bm-filter-list-modal__footer">
        <mk-button @click.native="hideModal" :disabled="isLoading" color="white-brand" size="large"
          >Batal</mk-button
        >
        <mk-button
          :disabled="isLoading"
          @click.native="proccessReminder()"
          color="green-brand"
          size="large"
          >Ya, Ingatkan</mk-button
        >
      </mk-card-footer>
    </mk-card>
  </mk-modal>
</template>

<script>
import _map from 'lodash/map';
import _reject from 'lodash/reject';
import MkButton from '~/components/global/atoms/MkButton';
import MkModal, { mixin as modalMixin } from '~/components/global/molecules/MkModal/MkModal';
import MkCard from '~/components/global/molecules/MkCard';
import MkCardHeader from '~/components/global/molecules/MkCard/components/MkCardHeader';
import MkCardBody from '~/components/global/molecules/MkCard/components/MkCardBody';
import MkCardFooter from '~/components/global/molecules/MkCard/components/MkCardFooter';
import billing from '~/components/page-features/kelola-tagihan/mixins/billing';

export default {
  name: 'BillingManagementFilterListModal',
  components: {
    MkButton,
    MkModal,
    MkCard,
    MkCardHeader,
    MkCardBody,
    MkCardFooter,
  },
  mixins: [modalMixin, billing],
  props: {
    // all or single (if single must required tenantName props)
    typeReminder: {
      type: String,
      default: 'all',
    },
    invoiceId: {
      type: Number,
      default: 0,
    },
    tenantName: {
      type: String,
      default: '',
    },
    refreshPageNumber: {
      type: Number,
      default: 0,
    },
  },
  data() {
    return {
      isShowCard: true,
      isLoading: false,
    };
  },
  computed: {
    page() {
      return this.$route.query.page;
    },
    billingList() {
      return this.$store.state.billingManagement.pagination.data;
    },
    typeReminderText() {
      const reminderText = {
        all: {
          title: 'Ingatkan Penyewa',
          description:
            'Sistem Mamikos akan mengirimkan notifikasi ke aplikasi Mamikos milik penyewa.',
        },
        single: {
          title: 'Ingatkan Penyewa',
          description: `Sistem Mamikos akan mengirimkan notifikasi ke aplikasi Mamikos milik ${this.tenantName}. `,
        },
      };
      return reminderText[this.typeReminder];
    },
  },
  watch: {
    active(val) {
      this.isShowCard = val;
    },
  },
  methods: {
    openToast(message) {
      this.$buefy.toast.open({
        message,
        duration: 2000,
        position: 'is-bottom',
      });
    },
    proccessReminder() {
      this.isLoading = true;
      if (this.typeReminder === 'all') {
        this.sendBulkReminder();
      } else {
        this.sendReminder();
      }
    },
    sendBulkReminder() {
      const filterBillingNotOverdue = _reject(this.billingList, { invoice_is_overdue: false });
      const params = { invoice_ids: _map(filterBillingNotOverdue, 'invoice_id') };
      this.$api.sendBulkReminder(params).then((response) => {
        const { status, meta } = response.data;

        if (status) {
          this.openToast(meta.message);
          this.$emit('turnOffButton');

          if (this.refreshPageNumber !== 0) {
            this.getBillListInvoices({
              invoiceStatus: this.page,
              pageNumber: this.refreshPageNumber,
            });
          }
        } else {
          this.openToast(meta.message);
        }
        this.hideModal();
        this.isLoading = false;
      });
    },
    sendReminder() {
      this.$api.sendReminder(this.invoiceId).then((response) => {
        const { status, meta } = response.data;

        if (status) {
          this.openToast(meta.message);
          this.$emit('turnOffButton');

          if (this.refreshPageNumber !== 0) {
            this.getBillListInvoices({
              invoiceStatus: this.page,
              pageNumber: this.refreshPageNumber,
            });
          }
        } else {
          this.openToast(meta.message);
        }
        this.hideModal();
        this.isLoading = false;
      });
    },
    hideModal() {
      this.toggleModal(false);
      this.isShowCard = false;
    },
  },
};
</script>

<style lang="scss" scoped src="./BillingManagementReminderModal.scss"></style>
