.c-wrapper {
  width: 880px;
  margin: 40px auto 0;
}

::v-deep .bg-c-link--medium-naked {
  font-weight: bold;
  line-height: 24px;
}

::v-deep .bg-c-illustration {
  width: 100%;
  height: 100%;
}

.c-body {
  position: relative;
  display: flex;

  &__content {
    margin: 24px auto 0;
  }

  &__illustration {
    width: 492px;
    height: 364px;
  }
}

.l-right {
  position: relative;
  left: -25px;
}

.c-title {
  width: 285px;
  height: auto;
  margin: 62px auto 0;
  text-align: left;
  &__content {
    font-family: Lato;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: 60px;
    color: #303030;
  }
}

.c-subtitle {
  width: 285px;
  height: 120px;
  margin: 8px auto;
  text-align: center;
  &__content {
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: normal;
    line-height: 30px;
    color: #404040;
    text-align: left;
  }
}
.c-button {
  width: 285px;
  height: 120px;
  margin: 32px auto;
  &__content {
    width: 180px;
    text-align: left;
  }
}

.skeleton {
  display: flex;
  width: 100%;
  margin: 90px auto 0;
  justify-content: space-between;
  &__line {
    display: inline;
    width: 50%;
  }
}
