.mamipoin-card {
  position: relative;

  &.--has-highlight {
    margin-top: 20px;

    &::before {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 12;
      display: block;
      width: 100%;
      height: 100%;
      content: '';
      background-color: rgba(0, 0, 0, 0.6);
    }

    .mamipoin-card__highlight {
      z-index: 14;
    }

    .mamipoin-card__card {
      position: relative;
      z-index: 13;
    }
  }

  &__label-new {
    background-color: #fad686;
    font-weight: bold;
    color: #303030;
    padding: 0.2rem 0.5rem;
    border-radius: 100px;
    margin-left: 0.5rem;
    width: 46px;
    height: 28px;
    font-size: 14px;
    line-height: 20px;
  }

  &__highlight {
    max-width: 300px;

    &:hover {
      cursor: pointer;
    }

    &.--bottom {
      top: unset;
      margin-top: 10px;

      &::after {
        top: -20px;
        border-top: unset;
        border-bottom: 40px solid #fff;
      }
    }

    &.--right {
      &::after {
        bottom: unset;
        border-top: unset;
        border-right: 20px solid #fff;
      }
    }
  }

  &__card {
    position: relative;
  }

  &__body {
    padding: 30px 15px;
  }

  .c-mk-button {
    font-weight: bold;
  }
}

.mamipoin-info {
  display: flex;

  &__image {
    margin-right: 20px;

    .coin-image {
      max-height: 50px;
    }
  }
}

.content-loader {
  padding: 20px 0;

  .c-loader {
    width: 20px;
    height: 20px;
  }
}

.content-label {
  display: block;
  font-size: 16px;
  color: #2e2d39;
}

.content-text {
  .text-point {
    display: block;
    margin: 5px 0;
    font-size: 24px;
    font-weight: bold;
    line-height: 1.5;
    color: #484848;
  }

  .text-info {
    font-size: 16px;
    line-height: 24px;
    color: #aaa;
    word-break: break-word;

    .time {
      display: block;
    }
  }
}
