<template>
  <div ref="mamipoinCard" v-if="!isBlacklisted" class="mamipoin-card">
    <mk-card
      ref="mamipoinCardContent"
      :max-width="342"
      @click.native="closeHighlight"
      class="mamipoin-card__card"
    >
      <template #default>
        <mk-card-body class="mamipoin-card__body">
          <div class="mamipoin-info">
            <div class="mamipoin-info__image">
              <img class="coin-image" src="~/assets/images/mamipoin/mamicoin-basic.svg" />
            </div>
            <div class="mamipoin-info__content">
              <span class="content-label">
                MamiPoin Anda
                <span v-if="isMobileOrTablet" class="mamipoin-card__label-new">
                  Baru
                </span>
              </span>
              <div v-if="isLoading" class="content-loader">
                <div class="c-loader" />
              </div>
              <div v-else class="content-text">
                <strong class="text-point">{{ pointTotal | toThousands }} Poin </strong>
                <p v-show="nearExpiredPoint > 0" class="text-info">
                  {{ nearExpiredPoint | toThousands }} poin kedaluwarsa pada
                  <time class="time">{{ nearExpiredDate }}</time>
                </p>
              </div>
            </div>
          </div>

          <mk-highlight
            ref="mamipoinHighlight"
            v-if="isHighlightShown"
            v-popup-order="{
              name: `popoverMamipoinWidget`,
              order: 101,
              onVisible: handlePopupVisible,
              ready: isReadyToDisplay,
            }"
            :width="isWideScreen ? 300 : mamipoinCardWidth"
            @click.native="closeHighlight"
            :placement="highlightPlacement"
            class="mamipoin-card__highlight"
          >
            <div>
              Dengan memakai fitur Mamikos, Anda bisa mendapatkan poin dan menukarkannya dengan
              hadiah menarik.
            </div>
          </mk-highlight>
        </mk-card-body>
        <mk-card-footer class="mamipoin-card__footer">
          <mk-button
            @clicked="handleCtaButtonClicked"
            class="mamipoin-button"
            color="green-inverse"
            block
          >
            Dapatkan Poin
          </mk-button>
        </mk-card-footer>
      </template>
    </mk-card>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';

import MkCard from '~/components/global/molecules/MkCard';
import MkCardFooter from '~/components/global/molecules/MkCard/components/MkCardFooter';
import MkCardBody from '~/components/global/molecules/MkCard/components/MkCardBody';
import MkButton from '~/components/global/atoms/MkButton';
import MkHighlight from '~/components/global/atoms/MkHighlight';

import onboardingMixin from '~/components/page-features/mamipoin/mixins/onboarding';
import EventBus from '~/components/event-bus/index.js';

export default {
  name: 'MamipoinCard',
  components: {
    MkCard,
    MkCardBody,
    MkCardFooter,
    MkButton,
    MkHighlight,
  },
  mixins: [onboardingMixin],
  data() {
    return {
      isLoading: false,
      isElementVisible: false,
      pointTotal: 0,
      widgetToCheck: {
        BillingManagementWidget: false,
      },
      nearExpiredPoint: 0,
      nearExpiredDate: '',
    };
  },
  computed: {
    ...mapGetters('profile', ['user', 'isBooking', 'isBbk', 'isPremium', 'membership']),
    isDesktop() {
      return this.$device.isDesktop;
    },
    isMobileOrTablet() {
      return this.$device.isMobileOrTablet;
    },
    isBlacklisted() {
      return this.$store.state.profile.data.is_blacklist_mamipoin;
    },
    isWideScreen() {
      return window.screen.availWidth >= 1920;
    },
    isHighlightShown() {
      return !this.mamipoinCard.hasViewedOnboarding && !this.isBlacklisted;
    },
    isReadyToDisplay() {
      return this.isBbk && Object.values(this.widgetToCheck).every((item) => item === true);
    },
    totalMamipoin() {
      return this.$store.state.profile.data.total_mamipoin || 0;
    },
    mamipoinCard: {
      get() {
        return this.$store.state.mamipoin.mamipoinCard;
      },
      set(val) {
        this.$store.commit('mamipoin/setMamipoinCard', val);
      },
    },
    mamipoinCardWidth() {
      const cardWidth = this.$el ? parseInt(this.$el.clientWidth || 0) : 0;

      return cardWidth ? cardWidth - 15 : 300;
    },
    highlightPlacement() {
      return this.isDesktop ? 'right' : 'top';
    },
  },
  watch: {
    isReadyToDisplay(val) {
      val && this.isHighlightShown && this.scrollToThisCard();
    },
    isNotificationConfirmed(val) {
      if (!this.isDesktop && this.isHighlightShown) {
        this.scrollToThisCard();
        this.$nextTick(() => {
          this.setBodyOverflow(false);
        });
      }
    },
    isElementVisible(val) {
      !val && this.isHighlightShown && this.scrollToThisCard();
    },
  },

  created() {
    this.fetchPointApi();
    this.$emit('componentRegistered', this.$options.name);
  },

  mounted() {
    EventBus.$on('event:dashboardWidgetLoading', this.setReadyState);
    if (!this.isDesktop) {
      this.setElementVisibility();
      this.setNotificationConfirmationState();
      this.listenToNotificationPermissionChange();
      window.addEventListener('scroll', this.setElementVisibility);
      window.addEventListener('touchstart', this.setElementVisibility);
    }
  },
  destroyed() {
    EventBus.$off('event:dashboardWidgetLoading', this.setReadyState);
    if (!this.isDesktop) {
      window.removeEventListener('scroll', this.setElementVisibility);
      window.removeEventListener('touchstart', this.setElementVisibility);
    }
  },

  methods: {
    setReadyState(data) {
      const { name, value } = data;
      this.widgetToCheck[name] = !value;
    },
    sendTrackerEvent() {
      this.$tracker.send('moe', [
        '[Owner] MamiPoin Page Visited',
        {
          interface: this.isDesktop ? 'desktop' : 'mobile',
          redirection_source: 'owner dashboard',
          is_owner: true,
          is_mamipay: this.membership.is_mamipay_user,
          is_booking: this.isBooking,
          is_premium_owner: this.isPremium,
          point_total: this.totalMamipoin,
        },
      ]);
    },
    handleCtaButtonClicked() {
      this.sendTrackerEvent();
      this.$router.push('/mamipoin');
    },
    setElementVisibility() {
      this.isElementVisible = this.getVisibility(this.$refs.mamipoinCard);
    },
    scrollToThisCard() {
      if (this.$refs.mamipoinHighlight && this.$refs.mamipoinHighlight.$el) {
        this.$refs.mamipoinHighlight.$el.scrollIntoView();
      }
    },
    closeHighlight() {
      this.mamipoinCard = {
        hasViewedOnboarding: true,
      };
      // remove background highlight
      this.$refs.mamipoinCard && this.$refs.mamipoinCard.classList.remove('--has-highlight');
      if (this.isDesktop) {
        this.setDashboardOverflow(true);
      } else {
        this.setBodyOverflow(true);
      }

      this.$popupOrder.next();
    },
    fetchPointApi() {
      this.isLoading = true;
      this.$api
        .getPointTotal()
        .then((response) => {
          if (response.data.status) {
            // eslint-disable-next-line camelcase
            const { point, near_expired_point, near_expired_date } = response.data;
            const dateFormat = 'YYYY MM DD hh:mm:ss';

            this.pointTotal = parseInt(point || 0);
            // eslint-disable-next-line camelcase
            this.nearExpiredPoint = parseInt(near_expired_point || 0);
            // eslint-disable-next-line camelcase
            this.nearExpiredDate = near_expired_date
              ? this.$dayjs(near_expired_date, dateFormat).format('DD MMM YYYY')
              : '';
          }
          this.isLoading = false;
          this.$emit('componentFullLoaded', this.$options.name);
        })
        .catch(() => {
          this.isLoading = false;
        });
    },
    handlePopupVisible() {
      if (this.isHighlightShown) {
        this.scrollToThisCard();
        this.$nextTick(() => {
          if (this.isDesktop) {
            this.setDashboardOverflow(false);
          } else {
            this.isNotificationConfirmed && this.setBodyOverflow(false);
          }
        });

        // add background highlight
        this.$refs.mamipoinCard && this.$refs.mamipoinCard.classList.toggle('--has-highlight');
      }
    },
  },
};
</script>

<style lang="scss" scoped src="./MamipoinCard.scss"></style>
