<template>
  <div class="finance-report">
    <div class="finance-report__content">
      <finance-page />
    </div>
  </div>
</template>

<script>
import FinancePage from '~/components/page-features/finance-report/components/FinancePage';

export default {
  components: {
    FinancePage,
  },

  created() {
    this.showNavbarTitle();
  },

  methods: {
    backRoute() {
      this.$router.go(-1);
    },
    showNavbarTitle() {
      this.$store.commit('mobile/setShowMobileBackButton', true);
      this.$store.commit('mobile/setTopNavbarTitle', 'Laporan Keuangan');
    },
  },
};
</script>

<style lang="scss" src="./mobile.scss" scoped></style>
