$link-color: #1baa56;
$text-color: #4a4a4a;

$text-size: (
  desktop: 16px,
  mobile: 14px,
);

/* stylelint-disable at-rule-no-unknown */
@mixin fontSize($source: $text-size) {
  font-size: map-get($source, 'desktop');

  @media (max-width: 480px) {
    font-size: map-get($source, 'mobile');
  }
}

.mamipoin-tnc {
  margin-bottom: 20px;

  &__loader {
    margin: 80px 0;

    .c-loader {
      width: 40px;
      height: 40px;
    }
  }
}

.mamipoin-tnc__content {
  margin-bottom: 20px;
  line-height: 2;
  word-break: break-word;

  @include fontSize($text-size);

  @media (max-width: 480px) {
    min-height: calc(100vh - 56px);
  }

  /* stylelint-disable selector-max-type, selector-max-compound-selectors */
  ::v-deep ol,
  ::v-deep ul {
    padding-left: 20px;

    li {
      padding-left: 10px;
    }
  }

  ::v-deep a {
    padding-bottom: 1px;
    color: $text-color;
    background-color: transparent !important;
    border-bottom: 1px solid $text-color;

    font {
      color: $text-color;
    }

    &:hover {
      color: $link-color;

      font {
        color: $link-color;
      }
    }
  }
}
