<template>
  <div class="mamipoin-tnc">
    <div v-if="isLoading" class="mamipoin-tnc__loader">
      <div class="c-loader" />
    </div>
    <div v-else v-html="tnc" class="mamipoin-tnc__content"></div>

    <scheme-card />
  </div>
</template>

<script>
import SchemeCard from '~/components/page-features/mamipoin/components/SchemeCard';

export default {
  name: 'MamipoinTnc',
  components: {
    SchemeCard,
  },
  data() {
    return {
      isLoading: false,
      tnc: '',
    };
  },
  created() {
    this.fetchTnc();
  },
  methods: {
    fetchTnc() {
      this.isLoading = true;
      this.$api
        .getTnc()
        .then((response) => {
          if (response.data.status) {
            this.tnc = String(response.data.tnc || '');
          }
          this.isLoading = false;
        })
        .catch(() => {
          this.isLoading = false;
          this.$buefy.toast.open({
            duration: 2000,
            message: 'Terjadi galat. Silahkan coba lagi.',
            position: 'is-bottom',
          });
        });
    },
  },
};
</script>

<style lang="scss" scoped src="./MamipoinTnc.scss"></style>
