.goldplus-statistic-detail-mweb {
  max-width: 411px;
  margin: 0 auto;

  &__header {
    ::v-deep {
      .goldplus-header__title {
        display: block;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }

  &__description {
    margin-bottom: unset;
    background: unset;
    box-shadow: unset;

    ::v-deep {
      .c-mk-card__header {
        padding-top: 4px;
      }

      .c-mk-card__header,
      .c-mk-card__body {
        padding-right: unset;
        padding-left: unset;
      }

      .c-mk-card__body {
        padding-bottom: 12px;
        border-bottom: 1px solid #e8e8e8;
      }
    }
  }

  &__loader {
    position: absolute;
    top: 52.5%;
    left: 50%;
    margin: 0 auto;
    transform: translateX(-50%);

    @media (min-width: 768px) {
      left: 57.5%;
    }

    .c-loader {
      width: 40px;
      height: 40px;
    }
  }

  &__chart {
    &-content {
      margin-bottom: 30px;
    }
  }
}
