<template>
  <div class="goldplus-statistic-detail-mweb">
    <div v-if="isLoadingStatisticData" class="goldplus-statistic-detail-mweb__loader">
      <div class="c-loader"></div>
    </div>

    <div v-else>
      <div v-if="roomDetail" class="goldplus-statistic-detail-mweb__header">
        <gold-plus-header>
          <span slot="title">Statistik {{ roomDetail.room_title }}</span>
        </gold-plus-header>

        <gold-plus-room-card
          :room-data="roomDetail"
          hidden-main-action
          shown-gender
          class="goldplus-statistic-detail-mweb__description"
        />
      </div>

      <div class="goldplus-statistic-detail-mweb__chart">
        <gold-plus-statistic-chart
          v-for="(item, index) in chartItems"
          :key="`item-${index}`"
          :is-loading="item.isLoading"
          :title="item.title"
          :description="item.description"
          :selected-filter="item.selectedFilter"
          :latest-value="item.latestValue"
          :chart-data="item.chartData"
          class="goldplus-statistic-detail-mweb__chart-content"
        />
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations, mapActions } from 'vuex';

import GoldPlusHeader from '../../../components/GoldPlusHeader';
import GoldPlusRoomCard from '../../../components/GoldPlusRoomCard';
import GoldPlusStatisticChart from '../components/GoldPlusStatisticChart';

import { toPascalCase, toDromedaryCase, toSnakeCase } from '~/utils/string';

export default {
  name: 'GoldPlusStatisticDetailMobile',
  components: {
    GoldPlusHeader,
    GoldPlusRoomCard,
    GoldPlusStatisticChart,
  },
  data() {
    return {
      isLoadingStatisticData: false,
      isLoadingVisitStatistics: false,
      isLoadingUniqueVisitStatistics: false,
      isLoadingChatStatistics: false,
      isLoadingFavoriteStatistics: false,
      extraChartConfigs: {
        borderColor: '#1BAA56',
        backgroundColor: '#EDF9F4',
      },
    };
  },
  computed: {
    ...mapState('goldplus', [
      'roomDetail',
      'statisticRoomId',
      'selectedVisitStatisticFilter',
      'selectedUniqueVisitStatisticFilter',
      'selectedChatStatisticFilter',
      'selectedFavoriteStatisticFilter',
    ]),
    ...mapGetters('goldplus', ['selectedStatisticFilter', 'statisticData']),
    chartItems() {
      const types = ['visit', 'chat', 'favorite']; // 'unique-visit' statistics is temporarily hidden until further updates.
      const items = [];

      types.forEach((type) => {
        const typeObject = {
          key: toSnakeCase(type),
          value: toDromedaryCase(type),
          pascalValue: toPascalCase(type),
        };

        const {
          title,
          description,
          selectedFilter,
          latestValue,
          labels,
          data,
          pointRadius,
          xAxisLineWidth,
          growthStatus,
          isEmptyData,
        } = this.statisticData(typeObject);

        items.push({
          isLoading: this[`isLoading${typeObject.pascalValue}Statistics`],
          title,
          description,
          selectedFilter,
          latestValue,
          chartData: {
            id: `${type}StatisticChart`,
            type: typeObject,
            labels,
            datasets: [
              {
                ...this.extraChartConfigs,
                pointRadius,
                label: title,
                data,
              },
            ],
            labelTitle: selectedFilter.periode_description,
            xAxisLineWidth,
            growthStatus,
            isEmptyData,
          },
        });
      });

      return items;
    },
  },
  watch: {
    selectedChatStatisticFilter() {
      this.handleGetChatStatistics();
    },
    selectedVisitStatisticFilter() {
      this.handleGetVisitStatistics();
    },
    selectedUniqueVisitStatisticFilter() {
      this.handleGetUniqueVisitStatistics();
    },
    selectedFavoriteStatisticFilter() {
      this.handleGetFavoriteStatistics();
    },
  },
  async created() {
    this.setStatisticRoomId(this.$route.params.id);
    this.isLoadingStatisticData = true;

    await this.handleGetRoomDetail();
    this.trackDetailGoldPlusStatisticVisited();
  },
  destroyed() {
    this.resetStatisticFilters();
  },
  methods: {
    trackDetailGoldPlusStatisticVisited() {
      this.$tracker.send('moe', [
        '[Owner] Dashboard GP: Golplus Statistic Visited',
        {
          interface: this.$device.isMobile ? 'mobile' : 'desktop',
          owner_name: this.$store.getters['profile/user'].name,
          property_id: this.statisticRoomId,
          gp_level: this.roomDetail.gp_status.value,
        },
      ]);
    },
    ...mapMutations('goldplus', ['setRoomDetail', 'setStatisticRoomId']),
    ...mapActions('goldplus', ['getStatistics', 'resetStatisticFilters']),
    async handleGetStatistics() {
      // 'unique-visit' statistics is temporarily hidden until further updates.

      await this.handleGetVisitStatistics();
      // await this.handleGetUniqueVisitStatistics();
      await this.handleGetChatStatistics();
      await this.handleGetFavoriteStatistics();
    },
    statisticPayload(statisticType) {
      const type = {
        key: toSnakeCase(statisticType),
        value: toDromedaryCase(statisticType),
        pascalValue: toPascalCase(statisticType),
      };

      return {
        id: this.statisticRoomId,
        type,
        params: {
          filter_list: this.selectedStatisticFilter(type).key,
        },
      };
    },
    async handleGetRoomDetail() {
      try {
        const response = await this.$api.getGoldPlusRoomDetail(this.statisticRoomId);

        if (response.data.status) {
          this.setRoomDetail(response.data.data);

          await this.handleGetStatistics();

          this.isLoadingStatisticData = false;
        } else this.$router.push({ name: 'goldplus-statistic' });
      } catch (error) {
        this.$bugsnag.notify(error);
        this.$alert('is-danger', 'Gagal', 'Terjadi galat, silakan coba lagi.');
        this.isLoadingStatisticData = false;
      }
    },
    async handleGetVisitStatistics() {
      this.isLoadingVisitStatistics = true;

      try {
        await this.getStatistics(this.statisticPayload('visit'));

        this.isLoadingVisitStatistics = false;
      } catch (error) {
        this.$bugsnag.notify(error);
        this.$alert('is-danger', 'Gagal', 'Terjadi galat, silakan coba lagi.');
        this.isLoadingVisitStatistics = false;
      }
    },
    async handleGetUniqueVisitStatistics() {
      this.isLoadingUniqueVisitStatistics = true;

      try {
        await this.getStatistics(this.statisticPayload('unique-visit'));

        this.isLoadingUniqueVisitStatistics = false;
      } catch (error) {
        this.$bugsnag.notify(error);
        this.$alert('is-danger', 'Gagal', 'Terjadi galat, silakan coba lagi.');
        this.isLoadingUniqueVisitStatistics = false;
      }
    },
    async handleGetChatStatistics() {
      this.isLoadingChatStatistics = true;

      try {
        await this.getStatistics(this.statisticPayload('chat'));

        this.isLoadingChatStatistics = false;
      } catch (error) {
        this.$bugsnag.notify(error);
        this.$alert('is-danger', 'Gagal', 'Terjadi galat, silakan coba lagi.');
        this.isLoadingChatStatistics = false;
      }
    },
    async handleGetFavoriteStatistics() {
      this.isLoadingFavoriteStatistics = true;

      try {
        await this.getStatistics(this.statisticPayload('favorite'));

        this.isLoadingFavoriteStatistics = false;
      } catch (error) {
        this.$bugsnag.notify(error);
        this.$alert('is-danger', 'Gagal', 'Terjadi galat, silakan coba lagi.');
        this.isLoadingFavoriteStatistics = false;
      }
    },
  },
};
</script>

<style lang="scss" src="./mobile.scss" scoped></style>
