<template>
  <div id="roomEditPage" class="room-edit-page">
    <div v-if="!emptyRooms">
      <div class="room-edit-page__title">
        Update Ketersediaan kamar
      </div>
      <div class="room-edit-page__description">
        Silakan tambah/ edit data jika ada kamar yang berpenghuni ataupun menjadi kosong.
      </div>
      <div class="room-edit-page__total-rooms total-rooms">
        <div class="total-rooms__title">
          Berapa total kamar?
        </div>
        <div class="total-rooms__description">
          Mohon lengkapi jika ada perubahan.
        </div>
        <div class="hihglight-item" data-v-step="1">
          <b-select
            v-model="totalRooms"
            :loading="!totalRooms"
            @change.native="showDeleteConfirmation = true"
            class="total-rooms__options"
            expanded
          >
            <option v-for="(value, index) in totalRoomOptions" :value="value" :key="index">
              {{ value }}
            </option>
          </b-select>
        </div>
      </div>

      <hr class="room-edit-page__separator" />
      <div id="dataBody" v-if="!isFetchingData">
        <div ref="stickyHeaderBorder"></div>
        <div ref="stickyHeader">
          <div class="highlight-item" data-v-step="2">
            <b-input
              @keypress.native.enter="searchKeyword = $event.target.value"
              @input="handleSearchInput"
              placeholder="Masukkan nama/ nomor kamar"
              icon="magnify"
              class="room-edit-page__searchbox"
            />
          </div>

          <div class="highlight-item">
            <availability-options
              v-model="availabilityOption"
              :available-room-count="occupiedRoomCount"
              :total-room-count="data.length"
              data-v-step="3"
            />
          </div>
        </div>

        <list-room
          ref="listRoom"
          :data="data"
          :search-keyword="searchKeyword"
          :availability-option="availabilityOption"
          @dataChange="handleDataChanged"
        />

        <div class="room-edit-page__update-room-button">
          <mk-button
            @clicked="handleUpdateRoomClicked"
            :disabled="isUpdating"
            :has-spinner="isFetchingData || isUpdating"
            color="green-brand"
            block
          >
            Update Kamar
          </mk-button>
        </div>
      </div>
      <div v-else class="c-loader"></div>

      <mk-snackbar v-model="showDeleteConfirmation" class="snackbar-delete">
        <div class="snackbar-delete__title">Yakin ingin menghapus kamar?</div>
        <div class="snackbar-delete__description">
          Anda akan menghapus {{ data.length - totalRooms }} kamar kosong
        </div>
        <div class="snackbar-delete__footer">
          <mk-button @clicked="handleActionsDeleteSnackbarClicked('abort')" color="green-inverse">
            Batalkan
          </mk-button>
          <mk-button @clicked="handleActionsDeleteSnackbarClicked('delete')" color="green-brand">
            Hapus
          </mk-button>
        </div>
      </mk-snackbar>

      <mk-snackbar v-model="showWarningSnackbar" backdrop>
        <div class="snackbar-delete__title">Perhatian</div>
        <div class="snackbar-delete__description">
          {{ responseMessage }}
        </div>
        <div class="snackbar-delete__footer">
          <mk-button @clicked="showWarningSnackbar = false" color="green-brand">
            Kembali
          </mk-button>
        </div>
      </mk-snackbar>
      <div
        :style="{ height: isFetchingData ? '150px' : '35px' }"
        style="width: 100%; background: transparent;"
      ></div>

      <v-tour
        ref="onboarding"
        v-popup-order="{
          name: `roomEditOnboarding`,
          order: 100,
          onVisible: handleOnboardingVisible,
        }"
        :class="{ 'open-backdrop': openBackDrop }"
        :steps="steps"
        :callbacks="vTourCallBack"
        name="tourRoomAllotment"
        class="highlight-room-allotment "
      >
        <template v-slot="tour">
          <transition name="fade">
            <template v-for="(step, index) of tour.steps">
              <v-step
                v-if="tour.currentStep === index"
                :key="index"
                :step="step"
                :next-step="tour.nextStep"
                :labels="tour.labels"
                :class="step.class"
              >
                <div slot="actions">
                  <div class="actions">
                    <ul class="dots-ftue">
                      <li
                        v-for="(dataDot, indexDot) in dotsHighLight"
                        :key="'data-' + indexDot"
                        :class="dataDot"
                      ></li>
                    </ul>
                    <a v-if="tour.currentStep !== 4" @click="tour.nextStep" class="more">
                      Selanjutnya
                    </a>
                    <a v-if="tour.currentStep === 4" @click="tour.finish" class="more">
                      Selesai
                    </a>
                  </div>
                </div>
              </v-step>
            </template>
          </transition>
        </template>
      </v-tour>
    </div>

    <state-no-rooms @addRooms="addEmptyRoom" v-else />

    <modal-add-tenant-intercept ref="addTenantInterceptModal" />

    <mk-snackbar v-model="showWarningSnackbar" backdrop>
      <div class="snackbar-delete__title">Perhatian</div>
      <div class="snackbar-delete__description">
        {{ responseMessage }}
      </div>
      <div class="snackbar-delete__footer">
        <mk-button @clicked="showWarningSnackbar = false" color="green-brand">
          Kembali
        </mk-button>
      </div>
    </mk-snackbar>
  </div>
</template>

<script>
import StateNoRooms from '../components/StateNoRooms';
import AvailabilityOptions from '../components/AvailabilityOptions';
import ModalAddTenantIntercept from '../components/ModalAddTenantIntercept';
import sortMixin from '../mixins/sort';
import ListRoom from '../components/ListRoom';
import MkSnackbar from '~/components/global/molecules/MkSnackbar';
import MkButton from '~/components/global/atoms/MkButton';

export default {
  name: 'RoomEditMobile',
  components: {
    AvailabilityOptions,
    ListRoom,
    ModalAddTenantIntercept,
    MkButton,
    MkSnackbar,
    StateNoRooms,
  },
  mixins: [sortMixin],
  data() {
    return {
      availabilityOption: 'all', // options: all, available, unavailable
      isFetchingData: false,
      isUpdating: false,
      perPage: 10,
      searchKeyword: '',
      data: [],
      showDeleteConfirmation: false,
      showWarningSnackbar: false,
      responseMessage: '',
      totalRooms: 0,
      emptyRooms: false,
      isBbk: false,
      isGoldPlusKost: false,
      openBackDrop: false,
      dotsHighLight: ['active', '', '', '', ''],
      steps: [
        {
          target: '[data-v-step="1"]',
          header: {
            title: 'Total Kamar',
          },
          content: `Jumlah seluruh kamar di tipe kos ini. Anda dapat tambah/ kurangi kamar lewat menu di Detail Kamar.`,
          params: {
            placement: 'bottom',
            enableScrolling: false,
            highlight: true,
          },
        },
        {
          target: '[data-v-step="2"]',
          header: {
            title: 'Cari Kamar',
          },
          class: 'v-step-3-mobile',
          content: `Anda dapat cari dan update kamar dengan ketik nama/ nomornya di sini.`,
          params: {
            placement: 'bottom',
            enableScrolling: false,
            highlight: true,
          },
        },
        {
          target: '[data-v-step="3"]',
          header: {
            title: 'Filter Kamar',
          },
          content: `Sortir dan lihat kamar sesuai dengan status ketersediaannya di sini.`,
          params: {
            placement: 'bottom',
            enableScrolling: false,
            highlight: true,
          },
        },
        {
          target: '[data-v-step="4"]',
          header: {
            title: 'Detail Kamar',
          },
          class: 'v-step-4-mobile',
          content: `Anda dapat mengedit nomor/ nama, letak lantai, dan ketersediaan kamar di sini.`,
          params: {
            placement: 'bottom',
            enableScrolling: false,
            highlight: true,
          },
        },
        {
          target: '[data-v-step="5"]',
          header: {
            title: 'Menu Kamar',
          },
          content: `Anda dapat menambahkan kamar baru dan menghapus kamar di sini.`,
          params: {
            placement: 'bottom',
            enableScrolling: false,
            highlight: true,
          },
        },
      ],
      vTourCallBack: {
        onNextStep: this.handleNextTour,
        onFinish: this.handleFinishTour,
      },
    };
  },
  computed: {
    isTablePaginated() {
      return this.data.length > 10;
    },
    /**
     * min: total unavailable rooms
     * max: total rooms
     */
    totalRoomOptions() {
      const arr = [];
      let minVal = this.occupiedRoomCount || 1;
      for (; minVal <= this.data.length; minVal++) {
        arr.push(minVal);
      }
      return arr;
    },
    occupiedRoomCount() {
      return this.data.filter((dt) => dt.occupied).length;
    },
    highLightStatus: {
      get() {
        return localStorage.getItem('room_allotment_highlight_mobile');
      },
      set(value) {
        return localStorage.setItem('room_allotment_highlight_mobile', value);
      },
    },
  },
  watch: {
    data: {
      deep: true,
      handler(data) {
        this.totalRooms = data.length;
      },
    },
  },
  created() {
    this.setWebviewAddTenantInterface();
    this.getAllData();
    this.addStickyHeaderEvent();

    this.$store.commit('mobile/setTopNavbarTitle', 'Update Kamar');
    this.$store.commit('mobile/setTopNavbarAttributes', { titleAlign: 'center' });
    if (this.$route.query && this.$route.query.redirect_url) {
      this.$store.commit('mobile/setCustomPrevPath', this.$route.query.redirect_url);
    }
  },
  destroyed() {
    window.removeEventListener('scroll', window.wrapperBodyScrolledHandler);
  },
  mounted() {
    // open popup when modal init doesn't exist
    this.$nextTick(() => {
      if (
        !document.querySelector('.modal-init-exists') &&
        !document.querySelector('.modal-init-loading')
      )
        this.$popupOrder && this.$popupOrder.next();
    });
  },
  beforeDestroy() {
    if (document.querySelector('body').classList.contains('v-tour--active')) {
      document.querySelector('body').classList.remove('v-tour--active');
    }

    if (document.querySelector('html').classList.contains('disable-scroll')) {
      document.querySelector('html').classList.remove('disable-scroll');
    }
    this.$popupOrder && this.$popupOrder.destroy();
  },
  methods: {
    getAllData() {
      this.isFetchingData = true;
      this.$api.getPropertyRooms({ song_id: this.$route.params.kos_id }).then((res) => {
        if (res.data.data.length !== 0) {
          this.emptyRooms = false;
          this.data = this.sort(res.data.data).map((room) => {
            return {
              ...room,
              initOccupied: room.occupied,
            };
          });
          this.isBbk = res.data['room-data'].is_bbk;
          this.isGoldPlusKost = res.data['room-data'].is_gp_kos;
          this.isFetchingData = false;
          // filter to all
          this.availabilityOption = 'all';
        } else {
          this.emptyRooms = true;
        }
      });
    },
    handleSearchInput(val) {
      if (!val) this.searchKeyword = '';
    },
    handleUpdateRoomClicked() {
      this.isUpdating = true;
      const errorRoom = this.$refs.listRoom.checkRoomsError();
      // empty string is used
      if (errorRoom !== null) {
        this.$buefy.toast.open({
          duration: 2000,
          message: errorRoom,
          position: 'is-bottom',
          container: '#roomEditPage',
        });
        this.isUpdating = false;
      }
      // call updating API
      else {
        const add = [];
        const update = [];
        const toOccupiedAdd = [];
        const toOccupiedUpdate = [];

        this.$refs.listRoom.rooms.forEach(
          ({ id, name, floor, occupied, type, initOccupied }, index) => {
            const isToOccupied = !!occupied && !initOccupied;
            if (type === 'add') {
              add.push({ name, floor, occupied });
              isToOccupied && toOccupiedAdd.push(index);
            } else if (type === 'update') {
              update.push({ id, name, floor, occupied });
              isToOccupied && toOccupiedUpdate.push(index);
            }
          },
        );

        const toOccupiedAddAndUpdate = [...toOccupiedAdd, ...toOccupiedUpdate];

        if (this.isBbk && this.isGoldPlusKost && toOccupiedAddAndUpdate.length > 0) {
          toOccupiedAddAndUpdate.forEach((index) => {
            this.$refs.listRoom.rooms[index].occupied = false;
          });

          if (toOccupiedAdd.length > 0) {
            this.$buefy.toast.open({
              duration: 4000,
              message:
                'Mohon tambah data kamar terlebih dahulu sebelum ditandai "sudah berpenghuni".',
              position: 'is-bottom',
              container: '#roomEditPage',
            });
          } else {
            const firstUpdatedRoom = this.$refs.listRoom.rooms[toOccupiedUpdate[0]];
            const firstUpdatedRoomId = firstUpdatedRoom ? firstUpdatedRoom.id : '';

            this.$refs.addTenantInterceptModal.toggleModal(
              true,
              this.$route.params.kos_id,
              firstUpdatedRoomId,
            );
          }

          this.isUpdating = false;
          return;
        }

        const data = {
          song_id: this.$route.params.kos_id,
          add,
          update,
          delete: [...this.$refs.listRoom.deletedIds],
        };
        this.$api
          .updateBulkPropertyRoom(data)
          .then(async (res) => {
            if (res.data.status) {
              await this.$store.dispatch('profile/getLatestProfile');
              this.$buefy.toast.open({
                duration: 2000,
                message: 'Anda berhasil update data kamar.',
                position: 'is-bottom',
                container: '#roomEditPage',
              });
            } else {
              this.showWarningSnackbar = true;
              this.responseMessage = res.data.meta.message;
            }
            this.isUpdating = false;
            this.getAllData();
            this.$changes.update(false);
          })
          .catch(() => {
            this.isUpdating = false;
            this.getAllData();
          });
      }
    },
    handleDataChanged(data) {
      this.data = data;
    },
    addStickyHeaderEvent() {
      window.wrapperBodyScrolledHandler = () => {
        if (this.$refs.stickyHeaderBorder) {
          const domRect = this.$refs.stickyHeaderBorder.getBoundingClientRect();
          if (domRect.y < 72) {
            this.$refs.stickyHeader.classList.add('--stick');
            this.$refs.stickyHeaderBorder.classList.add('--expanded');
          } else {
            this.$refs.stickyHeader.classList.remove('--stick');
            this.$refs.stickyHeaderBorder.classList.remove('--expanded');
          }
        }
      };
      window.addEventListener('scroll', window.wrapperBodyScrolledHandler);
    },
    handleActionsDeleteSnackbarClicked(type) {
      if (type === 'delete') {
        const deletedTarget = this.data.length - this.totalRooms;
        const newData = [];
        let deletedCount = 0;
        for (let i = this.data.length - 1; i >= 0; i--) {
          if (this.data[i].occupied || deletedCount >= deletedTarget) {
            newData.unshift(this.data[i]);
          } else {
            deletedCount++;
            // if found data that has id, add it to deleted collection
            this.data[i].id && this.$refs.listRoom.deletedIds.push(this.data[i].id);
          }
        }
        this.data = newData;
        this.$buefy.toast.open({
          duration: 2000,
          message: `Berhasil mengurangi ${deletedTarget} kamar kosong`,
          position: 'is-bottom',
          container: '#roomEditPage',
        });
      } else {
        this.totalRooms = this.data.length;
      }
      this.showDeleteConfirmation = false;
    },
    initTourHighLight() {
      const ftueStatus = localStorage.getItem('room_allotment_highlight_mobile');
      if (ftueStatus !== 'disable') {
        this.$tours.tourRoomAllotment.start();
        document.querySelector('html').classList.add('disable-scroll');
        this.highLightStatus = 'enable';
        this.openBackDrop = true;
      } else {
        this.highLightStatus = 'disable';
        this.openBackDrop = false;
      }
    },
    setLocalStorageForHighLight() {
      const ftueStatus = localStorage.getItem('room_allotment_highlight_mobile');
      this.highLightStatus = ftueStatus === null || ftueStatus === 'enable' ? 'enable' : 'disable';
    },
    handleNextTour(currentStep) {
      const stepNext = currentStep + 2;
      this.dotsHighLight[currentStep + 1] = 'active';
      // only scroll for step 3 & 2
      if (stepNext === 3 || stepNext === 2) {
        window.scroll({
          top: document.querySelector('[data-v-step="' + stepNext + '"]').offsetTop - 200,
          behavior: 'smooth',
        });
      }
    },
    handleFinishTour(value) {
      this.highLightStatus = 'disable';
      this.openBackDrop = false;
      document.querySelector('html').classList.remove('disable-scroll');
    },
    addEmptyRoom() {
      this.emptyRooms = false;
      this.isFetchingData = false;
      this.data.push({
        id: 'rand1',
        name: '',
        floor: '',
        occupied: false,
        initOccupied: false,
        disable: false,
        show: true,
        number: 1,
        floorError: null,
        nameError: 'emptyName',
        type: 'add',
      });
      this.$nextTick(() => {
        this.$popupOrder.next();
      });
    },
    handleOnboardingVisible() {
      this.setLocalStorageForHighLight();
      this.initTourHighLight();
    },
    setWebviewAddTenantInterface() {
      const { query } = this.$route;
      if (['android', 'ios'].includes(query.interface)) {
        this.$changes.update(false);
        this.$store.commit('addTenant/setWebviewInterface', query.interface);
      }
    },
  },
};
</script>

<style src="./mobile.scss" lang="scss" scoped></style>
