.room-edit-page {
  padding: 0;

  &__title {
    margin-top: 8px;
    font-size: 20px;
    font-weight: bold;
    line-height: 30px;
    color: rgba(0, 0, 0, 0.87);
  }

  &__description {
    margin-top: 8px;
    font-size: 16px;
    line-height: 24px;
    color: #484848;
  }

  &__total-rooms {
    margin-top: 12px;
  }

  &__separator {
    width: 100vw;
    height: 16px;
    margin-left: -16px;
    background-color: #f5f5f5;
  }

  &__searchbox {
    box-shadow: 0 1px 8px rgba(36, 36, 36, 0.14);

    ::v-deep {
      .mdi {
        color: #242424;
      }

      .input {
        height: 48px;
        padding-left: 52px;
        font-size: 16px;
        font-weight: bold;
      }

      .icon.is-left {
        height: 48px;
        margin-left: 9px;
      }
    }
  }

  &__update-room-button {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 5;
    padding: 8px 16px;
    background-color: #fff;
  }

  .--stick {
    position: fixed;
    top: 56px;
    right: 0;
    left: 0;
    z-index: 4;
    max-height: 156px;
    padding: 16px 16px 0;
    background-color: #fff;
  }
  .--expanded {
    width: 100%;
    height: 112px;
  }

  ::v-deep {
    .toast {
      margin-bottom: 12vh;
    }
  }
}

.total-rooms {
  &__title {
    font-size: 20px;
    font-weight: bold;
    line-height: 30px;
    color: rgba(0, 0, 0, 0.87);
  }

  &__description {
    font-size: 16px;
    line-height: 24px;
    color: #484848;
  }

  &__options {
    margin-top: 12px;

    ::v-deep {
      /* stylelint-disable-next-line */
      .select:not(.is-multiple):not(.is-loading)::after {
        border-color: #363636;
      }
    }
  }
}

.snackbar-delete {
  &__title {
    font-size: 20px;
    font-weight: bold;
    line-height: 30px;
    color: #242424;
  }
  &__description {
    margin-top: 16px;
    font-size: 14px;
    line-height: 21px;
    color: #484848;
  }
  &__footer {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
    ::v-deep {
      .c-mk-button {
        flex-grow: 1;
        margin: 16px 0;
      }
      .c-mk-button:first-child {
        margin-right: 5px;
      }
      .c-mk-button:last-child {
        margin-right: 5px;
      }
    }
  }
}
.highlight-room-allotment {
  ::v-deep {
    .v-step {
      padding: 18px;
      margin-top: 25px;
      color: #303030;
      text-align: left;
      background-color: #fff;
      &__header {
        padding: 0;
        margin: 0 0 10px;
        font-size: 20px;
        font-weight: bold;
        background-color: #fff;
      }
      &__content {
        font-size: 16px;
        line-height: 24px;
        color: #535353;
      }
      /* stylelint-disable max-nesting-depth */
      &__arrow {
        &--dark {
          border-color: #fff;
        }
      }
      &[x-placement^='bottom'] {
        margin-top: 25px;
      }
      &[x-placement^='top'] {
        margin-bottom: 25px;
        /* stylelint-disable selector-max-specificity */
        &.v-step-3-mobile {
          top: -15px !important;
        }
        &.v-step-4-mobile {
          top: -35px !important;
        }
      }
      &[x-placement^='right'] {
        margin-left: 25px;
      }
      &[x-placement^='left'] {
        margin-right: 25px;
      }
    }
  }
  .actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .more {
    font-size: 14px;
    font-weight: bold;
    color: #1baa56;
  }
  .dots-ftue {
    /* stylelint-disable-next-line */
    li {
      display: inline-block;
      width: 8px;
      height: 8px;
      margin-right: 3px;
      background-color: #dadada;
      border-radius: 50%;
      opacity: 0.5;
    }
    .active {
      background-color: #1baa56;
      opacity: 1;
    }
  }
}
