<template>
  <div class="profile-section">
    <div @click="toOwnerSettings" class="profile-section__detail">
      <bg-avatar
        :src="avatar"
        size="lg"
        alt="Owner Avatar"
        class="profile-section__detail-avatar"
      />
      <bg-text size="title-5" class="profile-section__detail-name">
        {{ trimmedUserName }}
      </bg-text>
    </div>

    <div @click="toNotificationCenter" class="profile-section__notification">
      <bg-icon name="notification" class="profile-section__notification-icon" />
      <bg-badge-counter
        v-if="notification.count"
        :value="notification.count"
        :max="99"
        class="profile-section__notification-counter"
      />
    </div>
  </div>
</template>

<script>
import { BgAvatar, BgText, BgIcon, BgBadgeCounter } from 'bangul-vue';

import dashboardTracker from '~/components/page-features/dashboard/mixins/dashboardTracker';

import { truncate } from '~/utils/string';

export default {
  name: 'ProfileSection',
  components: {
    BgText,
    BgAvatar,
    BgIcon,
    BgBadgeCounter,
  },
  mixins: [dashboardTracker],
  props: {
    avatar: {
      type: String,
      default: '',
    },
    username: {
      type: String,
      default: '',
    },
    notification: {
      type: Object,
      required: true,
    },
  },
  computed: {
    trimmedUserName() {
      return truncate(this.username, 30);
    },
  },
  methods: {
    toNotificationCenter() {
      this.$tracker.send('moe', [
        'Notification Screen Viewed',
        {
          is_owner: true,
          interface: this.interfaceLabel,
        },
      ]);

      window.location.href = `${process.env.MAMIKOS_URL}/ownerpage/notification`;
    },
    toOwnerSettings() {
      this.sendDashboardTracker('[Owner] OD Profile - Profile Clicked');
      window.location.href = `${process.env.MAMIKOS_URL}/ownerpage/settings`;
    },
  },
};
</script>

<style lang="scss" src="./ProfileSection.scss" scoped></style>
