.profile-section {
  display: flex;
  padding: 8px;
  align-items: center;
  justify-content: space-between;

  &__detail {
    display: flex;
    align-items: center;
    width: 85%;

    &-avatar {
      max-width: 30%;
    }

    &-name {
      max-width: 70%;
      margin-left: 12px;
    }
  }

  ::v-deep {
    .bg-c-avatar__image {
      z-index: unset;
    }
  }

  &__notification {
    position: relative;
    margin: 6px 7px 0;

    &-counter {
      position: absolute !important;
      bottom: 15px;
      left: 10px;
    }
  }
}
