<template>
  <div id="kosReviews" class="kos-reviews">
    <back-nav @back="$router.replace('/')" title="Penilaian Kos Anda" />

    <bg-text size="body-2" class="kos-reviews__description">
      Anda dapat membalas ulasan dan meminta penyewa mengulas kos Anda.
    </bg-text>

    <review-list class="kos-reviews__list" />

    <div class="kos-reviews__footer">
      <bg-button
        v-if="hasMore && !isLoadingFetchMore"
        @click="handleFetchReviews"
        variant="secondary"
        size="lg"
        class="kos-reviews__load-more-button"
      >
        Muat Lebih Banyak
      </bg-button>
    </div>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex';
import { BgText, BgButton } from 'bangul-vue';

import ReviewList from '~/components/page-features/kos-reviews/components/ReviewList';
import BackNav from '~/components/global/molecules/MkBackNavDesktop';

export default {
  name: 'KosReviews',
  components: {
    BgText,
    BgButton,
    ReviewList,
    BackNav,
  },
  computed: {
    ...mapState('review', ['hasMore', 'isLoadingFetchMore']),
  },
  methods: {
    ...mapActions('review', ['fetchReviews']),
    async handleFetchReviews() {
      try {
        await this.fetchReviews(15);
      } catch (error) {
        this.$bugsnag.notify(error);
        this.$alert('is-danger', 'Gagal', 'Terjadi galat, silakan coba lagi.');
      }
    },
  },
};
</script>

<style lang="scss" scoped src="./desktop.scss"></style>
