.form-setting {
  padding-top: 25px;

  @media (max-width: 767px) {
    padding-top: 0;
  }

  .bg-c-dropdown__menu--open {
    /* stylelint-disable-next-line */
    ul {
      max-height: 300px;
      overflow-y: auto;
    }
  }

  .bg-c-modal__footer {
    display: none;
  }

  &__desc {
    margin-top: 25px;
  }

  &__content {
    width: 600px;
    margin-top: 45px;

    @media (max-width: 650px) {
      width: 100%;
    }
  }

  &__form-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 15px;
  }

  &__id-card {
    display: flex;
    flex-direction: column;

    &--label {
      margin-bottom: 7px !important;
    }
  }

  &__due-date {
    &--label {
      margin-bottom: 7px !important;
    }
    &--disclaimer {
      display: flex;
      margin-top: 20px;
      align-items: flex-start;
    }
  }

  &__action-button {
    position: fixed;
    bottom: 0;
    width: 600px;
    padding: 15px;

    @media (max-width: 650px) {
      left: 0;
      width: 100%;
    }

    /* stylelint-disable-next-line */
    button {
      width: 100%;
    }
  }
}
