<template>
  <div class="form-setting">
    <div class="form-setting__title">
      <bg-text size="title-2" tag="span">
        Pengaturan untuk formulir penyewa
      </bg-text>
      <bg-text size="body-2" class="form-setting__desc">
        Pengaturan ini akan diterapkan ke formulir penyewa.
      </bg-text>
    </div>

    <div class="form-setting__content">
      <div class="form-setting__form-item">
        <div class="form-setting__id-card">
          <bg-text size="body-1" class="form-setting__id-card--label">
            Penyewa wajib mengirimkan foto kartu identitas
          </bg-text>
          <bg-divider />
        </div>

        <bg-switch v-model="isIdCard" />
      </div>

      <div class="form-setting__form-item">
        <bg-text size="body-1">
          Tanggal jatuh tempo dipilih oleh saya
        </bg-text>

        <bg-switch v-model="isDueDate" />
      </div>

      <div v-show="isDueDate">
        <bg-text size="body-2" class="form-setting__due-date--label">
          Penagihan akan dilakukan setiap tanggal
        </bg-text>

        <bg-select v-model="dueDateVal" :options="dueDateOptions" />

        <div v-if="dueDateVal === 31" class="form-setting__due-date--disclaimer">
          <bg-icon name="warning-round" />
          <bg-text size="body-2">
            &nbsp;&nbsp;Untuk bulan tanpa tanggal 31, penagihan akan maju ke tanggal 30.
          </bg-text>
        </div>
      </div>
    </div>

    <div class="form-setting__action-button">
      <bg-button @click="saveFormSetting" variant="primary" size="lg">
        <bg-text size="body-1">
          Selanjutnya
        </bg-text>
      </bg-button>
    </div>

    <bg-modal
      v-model="isLoading"
      :closable="false"
      :close-on-click-backdrop="false"
      :centered="true"
      desktop-size="sm"
    >
      <mk-three-dots-loading />
    </bg-modal>

    <bg-toast v-model="isSubmitError">
      Gagal mengirim pengaturan formulir untuk penyewa.
    </bg-toast>
  </div>
</template>

<script>
import Cookies from 'js-cookie';
import {
  BgButton,
  BgDivider,
  BgIcon,
  BgModal,
  BgText,
  BgSelect,
  BgSwitch,
  BgToast,
} from 'bangul-vue';
import MkThreeDotsLoading from '~/components/global/atoms/MkThreeDotsLoading';

export default {
  name: 'FormSetting',

  head() {
    return {
      title: 'Manajemen Kos - atur form tambah penyewa',
    };
  },

  components: {
    BgButton,
    BgDivider,
    BgIcon,
    BgModal,
    BgText,
    BgSelect,
    BgSwitch,
    BgToast,
    MkThreeDotsLoading,
  },

  data() {
    return {
      isLoading: false,
      isSubmitError: false,
    };
  },

  computed: {
    dueDateOptions() {
      const options = [];

      for (let i = 1; i < 32; i++) {
        options.push({
          val: i,
          label: i,
        });
      }

      return options;
    },
    roomId() {
      return this.$store.state.contract.kosSelected.id;
    },
    isIdCard: {
      get() {
        return this.$store.state.contract.isCardActive;
      },
      set(value) {
        this.$store.commit('contract/updateCardState', value);
      },
    },
    isDueDate: {
      get() {
        return this.$store.state.contract.isDueDateActive;
      },
      set(value) {
        this.$store.commit('contract/updateDueDateState', value);
      },
    },
    dueDateVal: {
      get() {
        return this.$store.state.contract.dueDate;
      },
      set(value) {
        this.$store.commit('contract/updateDueDate', value);
      },
    },
  },

  watch: {
    isDueDate(status) {
      this.dueDateVal = status ? 1 : 0;
    },
  },

  mounted() {
    this.setUpFormSetting();
  },

  methods: {
    sendFormSetup() {
      this.isLoading = true;
      this.$api
        .sendFormSetup({
          designer_id: this.roomId,
          is_required_identity: this.isIdCard ? 1 : 0,
          is_required_due_date: this.isDueDate ? 1 : 0,
          due_date: this.dueDateVal,
        })
        .then((response) => {
          if (response.data.status) {
            this.isLoading = false;
            this.$store.commit('contract/updateKosLinkShareOption', response.data.data);
            this.trackOnFormSetting();
            this.$router.push('/add-tenant/from-tenant/share-link');
          } else {
            this.isLoading = false;
            this.isSubmitError = true;
          }
        })
        .catch(() => {
          this.isLoading = false;
          this.isSubmitError = true;
        });
    },
    saveFormSetting() {
      const formSetting = {
        isIdCard: this.isIdCard,
        isDueDate: this.isDueDate,
        dueDateVal: this.dueDateVal,
      };

      Cookies.set('dbet-form-setting', formSetting, { expires: 1 });

      this.sendFormSetup();
    },
    setUpFormSetting() {
      if (typeof Cookies.get('dbet-form-setting') !== 'undefined') {
        const savedSetting = JSON.parse(Cookies.get('dbet-form-setting'));

        this.isIdCard = savedSetting.isIdCard;
        this.isDueDate = savedSetting.isDueDate;
        this.dueDateVal = savedSetting.isDueDate ? savedSetting.dueDateVal : 0;
      }
    },
    trackOnFormSetting() {
      this.$tracker.send('moe', [
        '[Owner] DBET Tenant Options - Form Setting',
        {
          interface: this.$device.isMobile ? 'mobile' : 'desktop',
          is_id_photo_mandatory: this.isIdCard,
          is_due_date_mandatory: this.isDueDate,
          due_date: this.dueDateVal,
        },
      ]);
    },
  },
};
</script>

<style lang="scss" src="./FormSetting.scss"></style>
