<template>
  <!-- eslint-disable-next-line vue/require-component-is -->
  <component :is="view"></component>
</template>

<script>
import pageView from '~/mixins/page-view';

export default {
  layout({ isDesktop }) {
    return `default/${isDesktop ? 'desktop' : 'mobile'}/index`;
  },
  head() {
    const headData = { title: 'Manajemen Kos - List penyewa Anda' };
    if (this.$device.isDesktop) {
      headData.meta = [{ hid: 'viewport', name: 'viewport', content: 'width=1200' }];
    }
    return headData;
  },
  name: 'TenantListRoute',
  meta: {
    topNavbarTitle: 'Penyewa',
    hideBottomNavbar: true,
    mobileBodyBackground: '#fff',
    showMobileBackButton: true,
    topNavbarAttributes: {
      titleAlign: 'center',
      titleSize: 'title-5',
    },
  },
  mixins: [pageView],
  data() {
    let component;
    // component path needs to write explicitly so that webpack can create chunk based on explicit path
    if (this.$device.isDesktop) {
      component = import(
        /* webpackChunkName: "page-view-tenant-list-desktop" */ `~/components/page-features/tenant-list/desktop`
      );
    } else {
      component = import(
        /* webpackChunkName: "page-view-tenant-list-mobile" */ `~/components/page-features/tenant-list/mobile`
      );
    }
    return {
      component,
    };
  },
};
</script>
