<template>
  <mk-card :max-width="342" class="manage-booking-card">
    <template v-if="!isLoading" #default>
      <mk-card-header class="manage-booking-card__header">
        <mk-card-title>Booking Langsung</mk-card-title>
        <a
          v-if="isMamiPay && !isBbkWaiting"
          :href="seeMoreUrl"
          class="manage-booking-card__see-more"
        >
          Lihat Booking
        </a>
      </mk-card-header>
      <mk-card-body>
        <template v-if="isMamiPay">
          <template v-if="isBookingRoom">
            <div class="booking-label">
              <div class="booking-label__number">
                {{ requestBooking }}
              </div>
              <div class="booking-label__label">Permintaan<br />Sewa</div>
            </div>
            <div class="booking-label">
              <div class="booking-label__number">{{ paidBooking }}</div>
              <div class="booking-label__label">Pembayaran<br />Sewa</div>
            </div>
          </template>
          <template v-else-if="isBbkWaiting">
            Pengajuan aktivasi sedang diverifikasi admin. Jika sudah selesai, Anda akan terima
            notifikasi.
          </template>
          <template v-else>
            Belum ada permintaan sewa saat ini.
          </template>
        </template>
        <template v-else>
          Aktifkan fitur Booking Langsung agar Anda dapat terima pembayaran dan atur tagihan penyewa
          dengan mudah dan praktis.
        </template>
      </mk-card-body>
      <mk-card-footer v-if="!isBbkWaiting">
        <mk-button @clicked="handleActionButtonClicked" color="green-inverse" block>
          <template v-if="isMamiPay">
            Kelola Booking Langsung
          </template>
          <template v-else-if="!isBbkWaiting">
            Aktifkan Sekarang
          </template>
        </mk-button>
      </mk-card-footer>
    </template>
    <template v-else><span class="c-loader"></span></template>
  </mk-card>
</template>

<script>
import { mapGetters } from 'vuex';
import MkCard from '~/components/global/molecules/MkCard';
import MkCardFooter from '~/components/global/molecules/MkCard/components/MkCardFooter';
import MkCardBody from '~/components/global/molecules/MkCard/components/MkCardBody';
import MkCardTitle from '~/components/global/molecules/MkCard/components/MkCardTitle';
import MkCardHeader from '~/components/global/molecules/MkCard/components/MkCardHeader';
import MkButton from '~/components/global/atoms/MkButton';

export default {
  name: 'ManageBookingCard',
  components: {
    MkCard,
    MkCardBody,
    MkCardTitle,
    MkCardHeader,
    MkCardFooter,
    MkButton,
  },
  props: {
    hasBbk: {
      type: Boolean,
      default: false,
    },
    requestBooking: {
      type: Number,
      default: 0,
    },
    paidBooking: {
      type: Number,
      default: 0,
    },
  },
  data() {
    const MAMIKOS_URL = process.env.MAMIKOS_URL;
    return {
      seeMoreUrl: `${MAMIKOS_URL}/ownerpage/manage`,
      isLoading: false,
      isBbkWaiting: false,
      isBookingRoom: false,
    };
  },

  computed: {
    ...mapGetters('profile', ['user', 'membership', 'isPremium']),
    isMamiPay() {
      return this.membership.is_mamipay_user;
    },
  },

  created() {
    this.isLoading = true;
    this.$emit('componentRegistered', this.$options.name);
    this.$api.getBbkStatus().then((res) => {
      this.isLoading = false;
      this.$emit('componentFullLoaded', this.$options.name);
      if (res.data.status) {
        const { approve, waiting } = res.data.bbk_status;

        if (!this.isMamiPay && approve === 0) this.isBbkWaiting = false;
        else if (this.isMamiPay && approve === 0 && waiting > 0) this.isBbkWaiting = true;
        else if (this.isMamiPay && approve > 0 && this.requestBooking === 0)
          this.isBookingRoom = false;
        else if (this.isMamiPay && approve > 0 && this.requestBooking > 0)
          this.isBookingRoom = true;
      }
    });
  },
  methods: {
    handleActionButtonClicked() {
      if (this.isMamiPay) {
        this.$tracker.send('moe', [
          '[Owner] Dashboard - Kelola Tagihan dan Booking Button Clicked',
          {
            user_id: this.user.user_id,
            interface: this.$device.isMobile ? 'mobile' : 'desktop',
            is_booking: this.hasBbk,
            is_premium: this.isPremium,
          },
        ]);

        this.$router.push({ name: 'booking-manage-status' });
        return;
      }

      this.$tracker.send('moe', [
        '[Owner] Dashboard - Daftar Bisa Booking Button Clicked',
        {
          user_id: this.user.user_id,
          interface: this.$device.isMobile ? 'mobile' : 'desktop',
          is_booking: this.hasBbk,
          is_premium: this.isPremium,
        },
      ]);
      this.$router.push({
        name: 'kos-booking-register',
        query: { redirect_url: window.location.href },
        params: { previousPage: 'Dashboard' },
      });
    },
  },
};
</script>

<style lang="scss" src="./ManageBookingCard.scss"></style>
