<template>
  <!-- eslint-disable-next-line vue/require-component-is -->
  <component :is="view"></component>
</template>

<script>
import pageView from '~/mixins/page-view';

export default {
  layout({ isDesktop }) {
    return `default/${isDesktop ? 'desktop' : 'mobile'}/index`;
  },
  head() {
    const header = {
      title: 'Mamikos - GoldPlus Statistic - Detail Statistik',
    };
    if (this.$device.isDesktop) {
      header.meta = [{ hid: 'viewport', name: 'viewport', content: 'width=1200' }];
    }
    return header;
  },
  meta: {
    showMobileBackButton: true,
    hideMobileFloatingChat: true,
    hideBottomNavbar: true,
    prevPath: {
      name: 'goldplus-statistic',
      path: '/goldplus/statistic',
    },
  },
  middleware: 'goldplus-owner',
  name: 'GoldPlusStatisticDetailRoute',
  mixins: [pageView],
  data() {
    // component path needs to write explicitly so that webpack can create chunk based on explicit path
    const component = import(
      /* webpackChunkName: "page-view-goldplus-statistic-detail" */ `~/components/page-features/goldplus/pages/statistic-detail/mobile`
    );
    return {
      component,
    };
  },
};
</script>
