<template>
  <mk-modal :backdrop="false" v-model="active" class="confirmation-modal">
    <mk-card v-show="isShowCard">
      <mk-card-header class="confirmation-modal__header ">
        <b-icon
          @click.native="hideModal()"
          :disabled="isLoading"
          class="close-icon"
          icon="close"
          size="is-medium"
        />
      </mk-card-header>
      <mk-card-body class="confirmation-modal__body">
        <h1 class="title">
          Yakin mau menukar poin untuk hadiah ini?
        </h1>
        <p class="description">
          <slot name="description" />
        </p>
      </mk-card-body>
      <mk-card-footer class="confirmation-modal__footer">
        <b-button @click="emitConfirmation(false)" :disabled="isLoading" class="cancel-button">
          Batal
        </b-button>
        <mk-button
          @clicked="emitConfirmation(true)"
          :disabled="isLoading"
          :has-spinner="isLoading"
          color="green-brand"
          class="submit-button"
        >
          Ya, Tukar
        </mk-button>
      </mk-card-footer>
    </mk-card>
  </mk-modal>
</template>

<script>
import MkModal, { mixin as modalMixin } from '~/components/global/molecules/MkModal/MkModal';
import MkCard from '~/components/global/molecules/MkCard';
import MkCardHeader from '~/components/global/molecules/MkCard/components/MkCardHeader';
import MkCardBody from '~/components/global/molecules/MkCard/components/MkCardBody';
import MkCardFooter from '~/components/global/molecules/MkCard/components/MkCardFooter';

import MkButton from '~/components/global/atoms/MkButton';

export default {
  name: 'ConfirmationModal',
  components: {
    MkModal,
    MkCard,
    MkCardHeader,
    MkCardBody,
    MkCardFooter,
    MkButton,
  },
  mixins: [modalMixin],
  props: {
    isLoading: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      isShowCard: true,
    };
  },
  watch: {
    active(val) {
      this.isShowCard = val;
    },
  },
  methods: {
    emitConfirmation(isConfirmed = false) {
      this.$emit('submit', isConfirmed);
    },
    hideModal() {
      this.toggleModal(false);
      this.isShowCard = false;
      this.$emit('submit', false);
    },
  },
};
</script>

<style lang="scss" scoped src="./ConfirmationModal.scss"></style>
