.confirmation-modal {
  &__header {
    text-align: right;

    .close-icon {
      &:hover {
        cursor: pointer;
      }
    }
  }

  &__body {
    width: 60vw;
    max-width: 600px;
    max-height: 70vh;
    padding: 30px;
    text-align: center;

    @media (max-width: 480px) {
      width: 80vw;
      padding: 10px;
      text-align: left;
    }

    .title {
      margin-bottom: 10px;
      font-size: 20px;
      font-weight: 600;
    }
  }

  &__footer {
    display: flex;
    border: 0;

    @media (max-width: 480px) {
      flex-direction: column-reverse;
    }

    .submit-button {
      font-weight: bold;
      color: #fff;
      background: #1baa56;
      border-radius: 4px;
      flex-grow: 1;

      &:hover {
        background: darken(#1baa56, 10%);
      }
    }

    .cancel-button {
      margin-right: 10px;
      font-weight: bold;
      color: #484848;
      background: #fff;
      border-color: transparent;
      border-radius: 4px;
      flex-grow: 1;

      @media (max-width: 480px) {
        margin-top: 10px;
        margin-right: 0;
      }

      &:hover {
        background: darken(#fff, 10%);
      }
    }
  }
}
