<template>
  <div class="item-section columns is-mobile">
    <div class="column">
      <slot name="left"></slot>
    </div>
    <div class="column has-text-right">
      <slot name="right"></slot>
    </div>
  </div>
</template>

<style lang="scss" src="./ItemSection.scss" scoped></style>
