<template>
  <div ref="mamipoinPage" class="mamipoin-page --desktop">
    <div class="c-navigation">
      <div @click="backToDashboard" class="c-navigation__icon">
        <bg-icon name="back" size="md" />
      </div>
      <div class="c-navigation__title">MamiPoin</div>
    </div>
    <div ref="mamipoinHeader" class="tile is-desktop mamipoin-header --desktop">
      <div class="mamipoin-card-column column">
        <mamipoin-card />
      </div>
      <div class="exchange-card-column column">
        <exchange-card />
      </div>
    </div>
    <div class="tile is-desktop">
      <mamipoin-tabs />
    </div>
  </div>
</template>

<script>
import { BgIcon } from 'bangul-vue';
import MamipoinCard from '../components/MamipoinCard';
import ExchangeCard from '../components/ExchangeCard';
import MamipoinTabs from '../components/MamipoinTabs';

export default {
  name: 'MamipoinDesktop',
  components: {
    BgIcon,
    MamipoinCard,
    ExchangeCard,
    MamipoinTabs,
  },
  provide() {
    return {
      parent: this,
    };
  },

  methods: {
    backToDashboard() {
      this.$router.push({ name: 'index' });
    },
  },
};
</script>

<style lang="scss" scoped src="./desktop.scss"></style>
