.mamipoin-page {
  &__backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99992;
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
  }

  &.--desktop {
    max-width: 1024px;
    margin-right: auto;
  }
}

.c-navigation {
  display: flex;
  &__icon {
    margin: 9px 27px 0 10px;
  }

  &__title {
    margin-bottom: 36px;
    font-family: Lato;
    font-size: 28px;
    font-style: normal;
    font-weight: 900;
    line-height: 36px;
    color: #303030;
  }
}
