<template>
  <bg-modal
    :value="value"
    @input="$emit('input', $event)"
    @close="closeModal"
    class="has-no-property-modal"
    desktop-size="md"
    mobile-size="popup"
    title="Anda Belum Memiliki Properti Aktif"
    description="Tambahkan properti terlebih dahulu."
    illustration-name="kos-not-found"
    illustration-alt="no property found"
  >
    <template #footer>
      <div class="has-no-property-modal__action">
        <bg-button @click="closeModal" class="has-no-property-modal__action-close" size="lg">
          Nanti Saja
        </bg-button>
        <bg-button
          @click="addProperty"
          class="has-no-property-modal__action-confirm"
          variant="primary"
          size="lg"
        >
          Tambah Properti
        </bg-button>
      </div>
    </template>
  </bg-modal>
</template>

<script>
import { BgButton, BgModal } from 'bangul-vue';

export default {
  name: 'HasNoPropertyModal',

  components: {
    BgButton,
    BgModal,
  },

  props: {
    value: {
      type: Boolean,
      default: false,
    },
  },

  data() {
    return {
      isShowModal: false,
    };
  },

  methods: {
    closeModal() {
      this.$emit('input', false);
    },
    addProperty() {
      window.location.href = `${process.env.MAMIKOS_URL}/ownerpage/add?input-property=true`;
      this.closeModal();
    },
  },
};
</script>

<style lang="scss" src="./HasNoPropertyModal.scss"></style>
