<template>
  <div class="c-wrapper">
    <div v-if="isDesktop" @click="prevPage" class="c-navigation">
      <bg-link variant="medium-naked">Kembali</bg-link>
    </div>
    <div class="c-body">
      <div v-if="isDesktop" class="c-body__content">
        <bg-illustration name="ad-performance" alt="ad-performance" height="398" width="267" />
      </div>
      <div class="l-right">
        <div v-if="!isLoadStatisticData">
          <div class="c-title">
            <p v-if="user.name !== null" class="c-title__content">Halo, {{ user.name }}!</p>
            <p v-else class="c-title__content">Halo!</p>
          </div>
          <div class="c-subtitle">
            <p v-if="isOwnerHaveStatistic" class="c-subtitle__content">
              Ayo, cek performa iklan Anda setelah bergabung <b>{{ goldplusPackageStatus }}</b>
            </p>
            <p v-else class="c-subtitle__content">
              Ayo, cek bisnis kos di dekat Anda setelah Anda bergabung
              <b>{{ goldplusPackageStatus }}</b>
            </p>
          </div>
          <div class="c-periode">
            <div class="c-periode__content">
              Periode : {{ periodeStartedAt }} - {{ periodeEndedAt }}
            </div>
          </div>
          <div v-if="!isDesktop" class="c-body__content">
            <bg-illustration name="ad-performance" alt="ad-performance" height="398" width="267" />
          </div>
          <hr v-if="!isDesktop" class="c-line" />
          <div class="c-button">
            <div class="c-button__content">
              <bg-button @click="nextPage" variant="primary" size="lg" block>Mulai</bg-button>
            </div>
          </div>
        </div>
        <statistic-skeleton v-else class="c-title" />
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapMutations, mapState } from 'vuex';
import { BgIllustration, BgButton, BgLink } from 'bangul-vue';
import statisticMixin from '../../mixins/statisticMixin';
import statisticSkeleton from './skeletonGpStatistic';
export default {
  name: 'LandingStatisticPage',
  components: {
    BgLink,
    BgButton,
    BgIllustration,
    statisticSkeleton,
  },
  mixins: [statisticMixin],
  data() {
    return {
      isLoadStatisticData: true,
      goldplusPackageStatus: '',
      isOwnerHaveStatistic: '',
      nextPagePath: '',
    };
  },

  computed: {
    ...mapGetters('profile', ['user', 'isPremium']),
    ...mapGetters('statistic', ['redirectionHistory']),
    ...mapState('statistic', ['statisticData', 'personalStatisticData']),

    isDesktop() {
      return this.$device.isDesktop;
    },

    checkPackageStatus() {
      return this.$route.query.gp_package === 'gp1'
        ? 'GoldPlus 1'
        : this.$route.query.gp_package === 'gp2'
        ? 'GoldPlus 2'
        : this.$route.query.gp_package === 'gp3'
        ? 'GoldPlus 3'
        : 'already set';
    },
    periodeStartedAt() {
      return this.$dayjs(this.$route.query.started_at).format('DD MMM YYYY');
    },

    periodeEndedAt() {
      return this.$dayjs(this.$route.query.ended_at).format('DD MMM YYYY');
    },

    ownerRedirection() {
      return this.redirectionHistory === 'ownerDashboard' ? 'owner dashboard' : 'notification';
    },
  },

  created() {
    this.checkSchemeItem();
    this.getAllStatisticData();
    this.checkStatistic(localStorage.getItem('gpStatistic'));
    this.sendTrackerEvent();
  },

  methods: {
    ...mapMutations('statistic', [
      'setPersonalStatisticData',
      'setTrackerRedirection',
      'setStatisticData',
      'setPackageStatus',
      'setInvoiceId',
    ]),

    checkSchemeItem() {
      if (this.checkPackageStatus !== 'already set') {
        // package status
        this.saveItemFromScheme('packageStatus', this.checkPackageStatus);

        // Invoice ID
        this.saveItemFromScheme('invoiceId', this.$route.query.invoice_id);

        // Expired GoldPlus
        this.saveItemFromScheme('gpExpired', this.$route.query.expiry_time);

        // statisticStatus
        this.saveItemFromScheme('statisticOwner', this.$route.query.has_statistic === '1');
      } else {
        this.goldplusPackageStatus = localStorage.getItem('packageStatus');
        this.isOwnerHaveStatistic = localStorage.getItem('statisticOwner') === 'true';
      }
    },

    getAllStatisticData() {
      if (!this.personalStatisticData) {
        this.$api.getStatisticData().then((response) => {
          this.setStatisticData(response.data.data.gp_statistic);
          this.setPersonalStatisticData(response.data.data);
          this.saveItemFromScheme('gpStatistic', response.data.data.gp_statistic);
          this.checkStatistic(localStorage.getItem('gpStatistic'));
          this.goldplusPackageStatus = localStorage.getItem('packageStatus');
          this.isOwnerHaveStatistic = localStorage.getItem('statisticOwner') === 'true';
          this.isLoadStatisticData = false;
        });
      } else {
        this.isLoadStatisticData = false;
      }
    },

    checkStatistic(statisticData) {
      if (statisticData === 'null') {
        this.nextPagePath = '/exit-gp-statistic/statistic-price';
      } else {
        this.nextPagePath = '/exit-gp-statistic/review';
      }
    },

    prevPage() {
      this.$router.push({ path: '/' });
    },
    nextPage() {
      this.$router.push({ path: this.nextPagePath });
    },

    // tracker event
    sendTrackerEvent() {
      this.$tracker.send('moe', [
        '[Owner] GP Expired Reminder Page Visited',
        {
          interface: this.isDesktop ? 'desktop' : 'mobile',
          redirection_source: this.ownerRedirection,
          owner_name: this.user.name === null ? '' : this.user.name,
          owner_phone_number: this.user.phone_number,
          owner_email: this.user.email,
          owner_premium_status: this.isPremium,
          goldplus_status: localStorage.getItem('packageStatus'),
        },
      ]);
    },
  },
};
</script>

<style lang="scss" src="./LandingStatisticPage.scss" scoped></style>
