.c-wrapper {
  width: 805px;
  margin: 24px auto 0;

  @media (max-width: 1024px) {
    width: 360px;
    margin: 24px auto 0;
  }
}

::v-deep .bg-c-link--medium-naked {
  font-weight: bold;
  line-height: 24px;
}

::v-deep .bg-c-illustration {
  width: 100%;
  height: auto;
}

.c-body {
  position: relative;
  display: flex;

  @media (max-width: 1024px) {
    display: inline;
  }

  &__content {
    width: 509px;
    height: auto;

    @media (max-width: 1024px) {
      width: 328px;
      height: 243px;
      margin: auto;
    }
  }
}

.l-right {
  position: relative;
  left: 25px;

  @media (max-width: 1024px) {
    left: 0;
  }
}

.c-title {
  width: 285px;
  height: auto;
  margin: 62px auto 0;
  text-align: left;

  @media (max-width: 1024px) {
    width: 328px;
    height: auto;
    margin: 60px auto 0;
    text-align: center;
  }
  &__content {
    font-family: Lato;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: 60px;
    color: #303030;

    @media (max-width: 1024px) {
      font-family: Lato;
      font-size: 32px;
      font-style: normal;
      font-weight: 900;
      line-height: 40px;
    }
  }
}

.c-subtitle {
  width: 285px;
  height: auto;
  margin: 8px auto 0;
  text-align: center;

  @media (max-width: 1024px) {
    width: 328px;
    height: 48px;
  }
  &__content {
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: normal;
    line-height: 30px;
    color: #404040;
    text-align: left;
    @media (max-width: 1024px) {
      font-size: 16px;
      line-height: 24px;
      text-align: center;
    }
  }
}

.c-periode {
  width: 285px;
  height: auto;
  margin: 16px auto 0;

  @media (max-width: 1024px) {
    width: 328px;
    height: 20;
    margin: 16px auto 0;
  }
  &__content {
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    line-height: 20px;
    color: #404040;
    @media (max-width: 1024px) {
      font-size: 14px;
      line-height: 20px;
      text-align: center;
    }
  }
}

// line mobile
hr {
  margin: 0;
}
.c-line {
  position: fixed;
  right: 0;
  bottom: 72px;
  left: 0;
  width: 100%;
  height: 1px;
  margin: 15 0;
  background: #e8e8e8;
}

.c-button {
  width: 285px;
  height: 120px;
  margin: 32px auto;
  @media (max-width: 1024px) {
    position: fixed;
    right: 0;
    bottom: 16px;
    left: 0;
    width: 100%;
    height: auto;
    margin: 0;
  }
  &__content {
    width: 180px;
    text-align: left;

    @media (max-width: 1024px) {
      width: 328px;
      margin-right: auto;
      margin-left: auto;
    }
  }
}
