<template>
  <div class="stories-skeleton">
    <div class="stories-skeleton__content">
      <bg-skeleton width="100%" :height="42" />
      <bg-skeleton width="100%" :height="16" />
      <bg-skeleton width="100%" :height="16" />
      <bg-skeleton width="100%" :height="16" />
      <bg-skeleton width="100%" :height="16" />
      <br />
      <br />
      <bg-skeleton width="50%" :height="42" />
    </div>
  </div>
</template>

<script>
import { BgSkeleton } from 'bangul-vue';
export default {
  name: 'SkeletonGpStatistic',
  components: {
    BgSkeleton,
  },
};
</script>
