<template>
  <div class="billing-management-mobile">
    <span v-if="isLoadingKosList" class="c-loader"></span>

    <div v-else-if="isEmptyBilling" class="billing-management-mobile__empty-state">
      <billing-management-empty-state />
    </div>

    <template v-else>
      <billing-management-filter
        @click:filter-kost-button="openFilterKostModal()"
        @click:filter-rent-button="openFilterRentModal()"
      />

      <billing-management-filter-kost-modal v-model="isFilterKostModalVisible" />
      <billing-management-filter-rent-modal v-model="isFilterRentTypeModalVisible" />

      <billing-management />
    </template>
  </div>
</template>

<script>
import BillingManagementEmptyState from '../components/BillingManagementEmptyState';
import BillingManagementFilter from '~/components/page-features/kelola-tagihan/components/BillingManagementFilter';
import BillingManagementFilterKostModal from '~/components/page-features/kelola-tagihan/components/BillingManagementFilterKostModal';
import BillingManagementFilterRentModal from '~/components/page-features/kelola-tagihan/components/BillingManagementFilterRentModal';
import BillingManagement from '~/components/page-features/kelola-tagihan/components/BillingManagement';
import init from '~/components/page-features/kelola-tagihan/mixins/init';

export default {
  components: {
    BillingManagementFilter,
    BillingManagementFilterKostModal,
    BillingManagementFilterRentModal,
    BillingManagementEmptyState,
    BillingManagement,
  },
  mixins: [init],

  provide() {
    return {
      parent: this,
    };
  },
  data() {
    return {
      isFilterKostModalVisible: false,
      isFilterRentTypeModalVisible: false,
    };
  },

  methods: {
    openFilterKostModal() {
      this.isFilterKostModalVisible = true;
    },
    openFilterRentModal() {
      this.isFilterRentTypeModalVisible = true;
    },
  },
};
</script>

<style lang="scss" src="./mobile.scss" scoped></style>
<style lang="scss" src="~/components/page-features/kelola-tagihan/style/global.scss"></style>
