<template>
  <div class="bm-pay-late-info columns is-mobile">
    <div class="column">
      <span class="bm-pay-late-info__info__title">3 Penyewa Telat Bayar</span><br />
      <span class="bm-pay-late-info__info__description">Lihat tagihan periode sebelumnya</span>
    </div>
    <div class="column">
      <router-link to="/billing-management/tagihan-terlambat" class="bm-pay-late-info__info__link"
        >Lihat</router-link
      >
    </div>
  </div>
</template>

<style lang="scss" src="./BillingManagementPayLateInfo.scss" scoped></style>
