.bm-pay-late-info {
  width: 564px;
  margin: 11px 0px;

  &__info {
    &__title {
      color: #da3438;
      font-weight: bold;
      font-size: 16px;
    }

    &__description {
      color: #404040;
      font-weight: normal;
      font-size: 16px;
    }

    &__link {
      color: #1baa56;
      font-weight: bold;
      font-size: 16px;
      position: relative;
      top: 5px;
    }
  }
}
