<template>
  <div class="reward-detail --desktop">
    <div class="reward-detail__menu">
      <router-link to="/mamipoin/rewards" class="reward-menu__link">
        <b-icon icon="arrow-left" class="link-icon" />
        <strong class="link-text">
          Lihat Hadiah
        </strong>
      </router-link>
    </div>
    <div v-show="isLoadingDetailCard || isLoadingActionCard" class="reward-detail__loader">
      <div class="c-loader" />
    </div>
    <div v-show="!isLoadingActionCard && !isLoadingDetailCard" class="tile is-desktop">
      <div class="column reward-detail__detail">
        <detail-card v-model="isLoadingDetailCard" />
      </div>
      <div :class="{ '--not-sticky': isActionModalShown }" class="column reward-detail__action">
        <action-card
          v-model="isLoadingActionCard"
          @update:action-modal="setIsActionModalShownValue"
        />
      </div>
    </div>
  </div>
</template>

<script>
import ActionCard from '../components/ActionCard';
import DetailCard from '../components/DetailCard';

export default {
  name: 'RewardDetailDesktop',
  components: {
    ActionCard,
    DetailCard,
  },
  data() {
    return {
      isLoadingDetailCard: false,
      isLoadingActionCard: false,
      isActionModalShown: false,
    };
  },
  methods: {
    setIsActionModalShownValue(val) {
      this.isActionModalShown = val;
    },
  },
};
</script>
<style scoped lang="scss" src="./desktop.scss"></style>
