<template>
  <div class="contract-onboarding">
    <div
      v-for="(onboarding, index) in onboardings"
      v-show="index === pageActive"
      :key="index"
      class="contract-onboarding__item-page"
    >
      <bg-illustration :name="onboarding.image" :alt="onboarding.image" height="300" />
      <bg-text size="title-3" tag="span" class="contract-onboarding__title-caption">
        {{ onboarding.title }}
      </bg-text>
      <bg-text size="body-2">
        {{ onboarding.description }}
      </bg-text>
    </div>

    <div :class="{ 'first-page': pageActive === 0 }" class="contract-onboarding__nav-buttons">
      <bg-button
        @click="goPrevious"
        v-if="pageActive !== 0"
        class="contract-onboarding__button"
        size="lg"
      >
        Kembali
      </bg-button>
      <bg-button @click="goNext" class="contract-onboarding__button" variant="primary" size="lg">
        {{ pageActive === onboardings.length - 1 ? 'Mulai' : 'Lanjut' }}
      </bg-button>
    </div>
  </div>
</template>

<script>
import Cookies from 'js-cookie';
import { BgButton, BgIllustration, BgText } from 'bangul-vue';

export default {
  name: 'Onboarding',

  head() {
    return {
      title: 'Manajemen Kos - on-boarding fitur Tambah Penyewa',
    };
  },

  components: { BgButton, BgIllustration, BgText },

  data() {
    return {
      pageActive: 0,
    };
  },

  computed: {
    onboardings() {
      return [
        {
          type: 'dynamic',
          image: 'owner-benefits',
          title: 'Tambah kontrak penyewa, dapat MamiPoin ekstra',
          description: this.$store.state.contract.contractCardProperties.dynamic_onboarding_label,
        },
        {
          type: 'static',
          image: 'good-tenant-review',
          title: 'Kesempatan di-review penyewa',
          description:
            'Penyewa yang sudah Anda masukkan datanya bisa mengisi review di Mamikos, dan iklan kos Anda pun semakin menarik dengan review.',
        },
        {
          type: 'static',
          image: 'talking-with-owner',
          title: 'Anda nyaman, penyewa senang',
          description:
            'Selain beragam keuntungan untuk Anda, penyewa juga akan menikmati promo-promo dan manfaat dari tambah kontrak sewa.',
        },
        {
          type: 'static',
          image: 'safe-payment',
          title: 'Nikmati kemudahan Manajemen Kos',
          description:
            'Semua pemasukan dan pengeluaran kos tercatat di sistem digital kami. Anda tak perlu lagi mencatat secara manual.',
        },
      ];
    },
  },

  created() {
    if (typeof Cookies.get('mami-dbet-onboarding-shown') === 'undefined') {
    }
    Cookies.set('mami-dbet-onboarding-shown', true, { expires: 1 });
  },

  methods: {
    goPrevious() {
      if (this.pageActive > 0) {
        this.pageActive--;
      }
    },
    goNext() {
      if (this.pageActive < this.onboardings.length - 1) {
        this.pageActive++;
      } else {
        this.$router.push({
          name: 'add-tenant-select-method',
          params: { redirection_source: 'dashboard_kontrak_penyewa' },
        });
      }
    },
  },
};
</script>

<style lang="scss" src="./Onboarding.scss"></style>
