.contract-onboarding {
  display: flex;
  height: 100%;
  margin-top: 10%;
  flex-direction: column;
  background-color: #fff;

  &__item-page {
    display: flex;
    max-width: 320px;
    height: 100%;
    margin-bottom: 20%;
    flex-direction: column;
  }

  &__title-caption {
    margin-bottom: 10px !important;
  }

  &__nav-buttons {
    display: flex;
    justify-content: space-between;
    width: 320px;
    padding: 15px 0;

    &.first-page {
      justify-content: flex-end;
    }
  }

  &__button {
    width: 156px;
  }
}
