<template>
  <div></div>
</template>
<script>
// this page is used for redirecting to old ownerpage when url can't be updated by hand
export default {
  mounted() {
    window.location.replace(`${process.env.MAMIKOS_URL}${this.$route.fullPath}`);
  },
};
</script>
