.goldplus-submission-package-room-list {
  &__header {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 24px;

    @media (min-width: 768px) {
      &.--gp3 {
        display: flex;
        width: 100%;
        justify-content: space-between;

        p {
          width: calc(50% - 12px);
        }
      }
    }
  }

  &__selection-control {
    display: flex;
    width: calc(100% + 32px);
    padding: 12px 16px;
    margin: 20px -16px 0;
    justify-content: space-between;
    background: #f6f6f6;

    @media (min-width: 768px) {
      width: calc(50% - 52px);
      margin: 0;

      p {
        width: calc(100% - 42px) !important;
      }
    }
  }

  &__room-card {
    position: relative;
    margin-bottom: 20px;
    background: unset;
    border: 1px solid #e8e8e8;
    box-shadow: unset;

    &.--selected {
      border: 1px solid #1baa56;
    }

    .room-card-selector {
      position: absolute;
      top: 16px;
      right: 8px;
    }

    @media (min-width: 768px) {
      width: calc(50% - 12px);
      margin-bottom: 30px;

      &:nth-child(even) {
        margin: auto 12px 24px 0;
      }

      &:nth-child(odd) {
        margin: auto 0 24px 12px;
      }
    }
  }

  ::v-deep {
    /* stylelint-disable selector-max-specificity, selector-no-qualifying-type, selector-max-type, selector-max-compound-selectors */
    .switch input[type='checkbox'] + .check {
      background: #dadada;
    }

    .switch input[type='checkbox']:checked + .check {
      background: #1baa56;
      box-shadow: unset !important;
    }

    .switch input[type='checkbox']:focus + .check {
      box-shadow: unset !important;
    }
  }
}
