<template>
  <div class="goldplus-submission-package-room-list">
    <div
      :class="{
        '--gp3': packageCode === 'gp3',
      }"
      class="goldplus-submission-package-room-list__header"
    >
      <p>Setelah mendaftar GoldPlus, seluruh kos Anda akan menggunakan Booking Langsung.</p>

      <div
        v-if="packageCode === 'gp3'"
        class="goldplus-submission-package-room-list__selection-control"
      >
        <p>Aktifkan paket ke semua kos</p>
        <div class="field">
          <b-switch v-model="isSelectAll"></b-switch>
        </div>
      </div>
    </div>

    <gold-plus-room-card
      v-for="(room, i) in roomList"
      :key="`room-${i}`"
      :room-data="room"
      :class="{ '--selected': selectedRooms.includes(room.id) }"
      hidden-main-action
      shown-room-count
      shown-gender
      class="goldplus-submission-package-room-list__room-card"
    >
      <div slot="selection-control" v-if="packageCode === 'gp3'" class="field room-card-selector">
        <b-switch v-model="selectedRooms" :native-value="room.id"></b-switch>
      </div>
    </gold-plus-room-card>
  </div>
</template>

<script>
import GoldPlusRoomCard from '~/components/page-features/goldplus/components/GoldPlusRoomCard';

export default {
  name: 'GoldPlusSubmissionPackageRoomList',
  components: {
    GoldPlusRoomCard,
  },
  props: {
    roomList: {
      type: Array,
      required: true,
    },
    packageCode: {
      type: String,
      required: true,
    },
  },
  data() {
    return {
      selectedRooms: [],
      isSelectAll: false,
    };
  },
  watch: {
    isSelectAll(value) {
      if (value) {
        this.roomList.forEach((room) => {
          if (!this.selectedRooms.includes(room.id)) {
            this.selectedRooms.push(room.id);
          }
        });
      } else if (this.roomList.length === this.selectedRooms.length) {
        this.selectedRooms = [];
      }
    },
    selectedRooms(value) {
      this.isSelectAll = this.roomList.length === value.length;
      this.$emit('setSelectedRooms', value);
    },
  },
};
</script>

<style lang="scss" src="./GoldPlusSubmissionPackageRoomList.scss" scoped></style>
