<template>
  <!-- eslint-disable-next-line vue/require-component-is -->
  <component :is="view"></component>
</template>

<script>
import blacklistRouterMixin from '~/mixins/blacklist-router';
import pageView from '~/mixins/page-view';

export default {
  layout({ isDesktop }) {
    return `default/${isDesktop ? 'desktop' : 'mobile'}/index`;
  },
  head() {
    const header = {
      title: 'Mamipoin Ownerpage Mamikos',
    };
    if (this.$device.isDesktop) {
      header.meta = [{ hid: 'viewport', name: 'viewport', content: 'width=1200' }];
    }
    return header;
  },
  name: 'MamipoinRoute',
  mixins: [pageView, blacklistRouterMixin],
  data() {
    let component;
    // component path needs to write explicitly so that webpack can create chunk based on explicit path
    if (this.$device.isDesktop) {
      component = import(
        /* webpackChunkName: "page-view" */ `~/components/page-features/mamipoin/desktop`
      );
    } else {
      component = import(
        /* webpackChunkName: "page-view" */ `~/components/page-features/mamipoin/mobile`
      );
    }
    return {
      component,
    };
  },
};
</script>
