<template>
  <mk-card :max-width="342" class="room-card">
    <template #default>
      <mk-card-header class="room-card__header">
        <mk-card-title key="title">Kamar</mk-card-title>
        <nuxt-link no-prefetch to="/kos/rooms" class="room-card__see-more">
          Update Kamar & Harga
        </nuxt-link>
      </mk-card-header>
      <mk-card-body class="room-card__body">
        <template v-if="total > 0">
          <div class="room-label">
            <div class="room-label__number">{{ available }}</div>
            <div class="room-label__label">Kosong</div>
          </div>
          <div class="room-label">
            <div class="room-label__number">{{ filled }}</div>
            <div class="room-label__label">Terisi</div>
          </div>
        </template>
        <template v-else>
          Belum ada kamar yang didaftarkan
        </template>
      </mk-card-body>
      <mk-card-footer class="room-card__footer">
        <mk-button @clicked="handleFooterButtonClicked" color="green-inverse" block>
          Lihat Kos Saya
        </mk-button>
      </mk-card-footer>
    </template>
  </mk-card>
</template>

<script>
import { mapGetters } from 'vuex';
import MkCard from '~/components/global/molecules/MkCard';
import MkCardFooter from '~/components/global/molecules/MkCard/components/MkCardFooter';
import MkCardBody from '~/components/global/molecules/MkCard/components/MkCardBody';
import MkCardTitle from '~/components/global/molecules/MkCard/components/MkCardTitle';
import MkCardHeader from '~/components/global/molecules/MkCard/components/MkCardHeader';
import MkButton from '~/components/global/atoms/MkButton';

export default {
  name: 'RoomCard',
  components: {
    MkCard,
    MkCardBody,
    MkCardTitle,
    MkCardHeader,
    MkCardFooter,
    MkButton,
  },
  props: {
    total: {
      type: Number,
      default: 0,
    },
    filled: {
      type: Number,
      default: 0,
    },
    available: {
      type: Number,
      default: 0,
    },
  },
  computed: {
    ...mapGetters('profile', ['isBbk', 'user', 'isPremium']),
  },
  methods: {
    handleFooterButtonClicked() {
      const dataMoengage = {
        user_id: this.user.user_id,
        interface: this.$device.isMobile ? 'mobile' : 'desktop',
        is_booking: this.isBbk,
        is_premium: this.isPremium,
      };

      if (!this.total) {
        this.$tracker.send('moe', ['[Owner] Dashboard - Tambah Kos Button Clicked', dataMoengage]);
      } else {
        this.$tracker.send('moe', [
          '[Owner] Dashboard - Kamar - Lihat Semua Button Clicked',
          dataMoengage,
        ]);
      }
      window.location.href = `${process.env.MAMIKOS_URL}/ownerpage/kos`;
    },
  },
};
</script>

<style lang="scss" src="./RoomCard.scss"></style>
