.room-label {
  display: inline-block;
  width: calc(50% - 11px);
  box-sizing: border-box;
  padding: 8px;
  text-align: center;
  background: #fcfcfc;
  border: 0.5px solid #dbdbdb;
  border-radius: 8px;

  &:last-child {
    margin-left: 16px;
  }

  &__number {
    display: inline-block;
    font-size: 24px;
    font-style: normal;
    font-weight: bold;
    line-height: 36px;
    text-align: center;
    vertical-align: middle;
  }

  &__label {
    display: inline-block;
    margin-left: 5%;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    line-height: 14px;
    color: #000;
    text-align: left;
    vertical-align: middle;
  }
}

.room-card {
  &__header {
    position: relative;
  }

  &__see-more {
    position: absolute;
    top: 16px;
    right: 16px;
    font-size: 14px;
    font-style: normal;
    font-weight: bold;
    line-height: 21px;
    color: #1baa56;
    text-align: right;
  }

  .c-mk-button {
    font-weight: bold;
  }
}
