<template>
  <div class="card-skeleton">
    <div v-for="index in 3" :key="index" class="card-skeleton__group">
      <bg-skeleton :height="24" :width="short" />
      <bg-skeleton :height="24" :width="long" class="card-skeleton__center" />
      <bg-skeleton :height="24" :width="short" />
    </div>
  </div>
</template>

<script>
import { BgSkeleton } from 'bangul-vue';

export default {
  name: 'CardSkeleton',

  components: {
    BgSkeleton,
  },

  computed: {
    short() {
      return this.$device.isMobile ? '35%' : '30%';
    },
    long() {
      return this.$device.isMobile ? '60%' : '50%';
    },
  },
};
</script>

<style lang="scss" src="./CardSkeleton.scss"></style>
