<template>
  <div @scroll="handleScroll" class="tenant-contract">
    <navbar />
    <div class="tenant-contract__content">
      <nuxt-child />
    </div>
  </div>
</template>

<script>
import _isEmpty from 'lodash/isEmpty';
import { mapState } from 'vuex';
import Navbar from './components/Navbar';
import EventBus from '~/components/event-bus/index.js';

export default {
  name: 'AddContract',

  components: { Navbar },

  computed: {
    ...mapState('contract', ['kosSelected', 'contractCardProperties']),
    isSettingRoute() {
      return (
        this.$route.name === 'add-tenant-form-setting' ||
        this.$route.name === 'add-tenant-share-link'
      );
    },
  },

  watch: {
    $route: {
      immediate: true,
      handler() {
        this.checkOnFormData();
      },
    },
  },

  methods: {
    handleScroll(event) {
      EventBus.$emit('onScrollAddContractSelectKos', event);
    },
    checkOnFormData() {
      if (_isEmpty(this.contractCardProperties)) {
        if (this.$route.name === 'add-tenant-onboarding') {
          this.$store.dispatch('contract/getContractAbTest');
        } else if (_isEmpty(this.kosSelected) && this.isSettingRoute) {
          this.$router.push({ name: 'add-tenant-select-method' });
        }
      }
    },
  },
};
</script>

<style lang="scss" src="./AddContract.scss"></style>
