.tenant-contract {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  background-color: #fff;

  @media (max-width: 767px) {
    z-index: 7;
  }

  &__content {
    position: relative;
    top: 64px;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;

    @media (max-width: 767px) {
      padding: 15px;
    }
  }
}
