.goldplus-statistic-room-list-filters {
  display: flex;
  margin-bottom: 20px;
  overflow-x: auto;

  &__item {
    box-sizing: border-box;
    padding: 8px 12px;
    margin-right: 8px;
    white-space: nowrap;
    border: 1px solid #e8e8e8;
    border-radius: 20px;

    :last-child {
      margin-right: 0;
    }
  }

  .active {
    box-sizing: border-box;
    padding: 8px 12px;
    margin-right: 8px;
    white-space: nowrap;
    border: 1px solid #303030;
    border-radius: 20px;
  }
}
