<template>
  <div class="goldplus-statistic-room-list-filters">
    <div
      v-for="option in options"
      :key="option.key"
      @click="chooseGoldplusOption(option)"
      :class="{ active: option.value === optionSelected }"
      class="goldplus-statistic-room-list-filters__item"
    >
      {{ option.value }}
    </div>
  </div>
</template>

<script>
export default {
  name: 'GoldPlusStatisticRoomListFilters',
  data() {
    return {
      optionSelected: 'Semua',
      options: [],
    };
  },
  mounted() {
    this.fetchFilterApi();
  },
  methods: {
    chooseGoldplusOption(option) {
      this.optionSelected = option.value;
      this.$emit('handleOptionFilter', option);
    },
    fetchFilterApi() {
      this.$api
        .getGoldPlusStatisticRoomListFilters()
        .then((response) => {
          if (response.data.status) {
            this.options = response.data.data;
          }
        })
        .catch((error) => {
          this.$bugsnag.notify(error);
        });
    },
  },
};
</script>

<style lang="scss" scoped src="./GoldPlusStatisticRoomListFilters.scss"></style>
