<template>
  <mk-card class="goldplus-feature">
    <template #default>
      <mk-card-header class="goldplus-feature__header">
        <img :src="menuIcon" class="goldplus-feature__title-icon" />
        <mk-card-title key="title" class="goldplus-feature__title-text">{{ title }}</mk-card-title>
      </mk-card-header>
      <mk-card-body class="goldplus-feature__body">
        <div class="goldplus-feature__text-body">
          {{ description }}
        </div>
        <div
          :class="{ 'goldplus-feature__widget-wrapper--has-widget-label': isListCard }"
          class="goldplus-feature__widget-wrapper"
        >
          <div v-if="isListCard" class="goldplus-feature__goldplus-package">
            <gold-plus-widget-label
              v-for="(statistic, index) in statisticSummaries"
              :label-data="statistic"
              :key="index"
              @click.native="handleWidgetLabelClicked(statistic)"
            >
            </gold-plus-widget-label>
          </div>
        </div>
        <div v-if="isShowPaymentWidgetLabel" class="goldplus-feature__goldplus-package">
          <div class="goldplus-feature__widget-label">
            <gold-plus-widget-label
              :label-data="paymentLabel"
              @click.native="handleWidgetPaymentClicked"
            >
            </gold-plus-widget-label>
          </div>
        </div>
        <div @click="handleLinkClicked" class="goldplus-feature-link">
          <a class="goldplus-feature-link__text">Lihat Selengkapnya</a>
          <img
            v-lazy="require('~/assets/images/ic_chevron_right_green.svg')"
            class="goldplus-feature-link__image"
            alt="ic_chevron_right_green"
          />
        </div>
      </mk-card-body>
    </template>
  </mk-card>
</template>

<script>
import _get from 'lodash/get';
import { mapState, mapActions } from 'vuex';
import MkCard from '~/components/global/molecules/MkCard';
import MkCardBody from '~/components/global/molecules/MkCard/components/MkCardBody';
import MkCardTitle from '~/components/global/molecules/MkCard/components/MkCardTitle';
import MkCardHeader from '~/components/global/molecules/MkCard/components/MkCardHeader';
import GoldPlusWidgetLabel from '~/components/page-features/dashboard/components/GoldPlusWidgetLabel';

export default {
  name: 'GoldPlusFeatureCard',
  components: {
    MkCard,
    MkCardBody,
    MkCardTitle,
    MkCardHeader,
    GoldPlusWidgetLabel,
  },
  props: {
    icon: {
      type: String,
      required: true,
    },
    title: {
      type: String,
      required: true,
    },
    description: {
      type: String,
      required: true,
    },
    featureName: {
      type: String,
      required: true,
    },
  },
  computed: {
    ...mapState('goldplus', ['statisticSummaries', 'billingSummary']),
    menuIcon() {
      return require(`~/assets/images/goldplus/${this.icon}.svg`);
    },
    isListCard() {
      return this.featureName === 'list';
    },
    isShowPaymentWidgetLabel() {
      return this.featureName === 'payment';
    },
    paymentLabel() {
      const unpaidInvoiceCount = _get(this.billingSummary, 'unpaid_invoices', 0);
      return {
        label: 'Menunggu Pembayaran',
        value: unpaidInvoiceCount,
      };
    },
  },
  mounted() {
    this.handleFetchWidgetData();
    this.handleFetchBillingSummary();
  },
  methods: {
    ...mapActions('goldplus', ['fetchWidgetData', 'fetchWidgetBillingSummary']),
    async handleFetchWidgetData() {
      try {
        await this.fetchWidgetData();
      } catch (error) {
        this.$bugsnag.notify(error);
        this.$alert('is-danger', 'Gagal', 'Terjadi galat, silakan coba lagi.');
      }
    },
    async handleFetchBillingSummary() {
      try {
        await this.fetchWidgetBillingSummary();
      } catch (error) {
        this.$bugsnag.notify(error);
        this.$alert('is-danger', 'Gagal', 'Terjadi galat, silakan coba lagi.');
      }
    },
    handleLinkClicked() {
      this.$emit('handleLinkClicked');
    },
    handleWidgetLabelClicked(statistic) {
      if (statistic.button_visible) {
        // change filter_key value to be atomic component
        this.$router.push({ name: 'goldplus-list', params: { filter_key: statistic.key } });
      }
    },
    handleWidgetPaymentClicked() {
      this.$router.push({ name: 'goldplus-payment' });
    },
  },
};
</script>

<style lang="scss" scoped src="./GoldPlusFeatureCard.scss"></style>
