.goldplus-feature {
  margin-bottom: 12px;

  &__title-text {
    font-size: 18px !important;
  }

  &__header {
    position: relative;
    @media (min-width: 768px) {
      padding: 24px 24px 0;
    }
  }

  &__goldplus-package {
    margin-top: 8px;
  }

  @media (min-width: 768px) {
    &__widget-wrapper {
      display: flex;
      justify-content: flex-end;

      &--has-widget-label {
        align-items: baseline;
        justify-content: space-between;
      }
    }

    &__body {
      padding: 0 24px 24px !important;
    }

    &__goldplus-package {
      display: flex;
    }
  }
}

.goldplus-feature-link {
  position: relative;
  margin-top: 24px;

  &__text {
    font-weight: bold;
    color: #1baa56;
    text-decoration: none;
  }

  &__image {
    position: absolute;
    top: 4px;
    right: 4px;
  }

  @media (min-width: 768px) {
    width: 184px;
  }
}

@media (min-width: 768px) {
  ::v-deep {
    .wrap-helper {
      display: flex;
      align-items: center;
    }

    .goldplus-widget-label {
      padding: 8px 16px;
      margin-right: 20px;

      &__container {
        img {
          display: none;
        }
      }

      &__number {
        margin: auto 12px;
      }
    }
  }
}
