<template>
  <div class="wrapper">
    <bg-text size="title-2">Kelola</bg-text>
    <bg-text size="title-4" class="title">Properti Saya</bg-text>
    <kos-property-card />
    <bg-text size="title-4" class="title">Pemasaran Kos</bg-text>
    <kos-marketing-card />
    <template v-if="!isNewOwner">
      <bg-text size="title-4" class="title">Manajemen Kos</bg-text>
      <kos-management-card />
    </template>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';

import { BgText } from 'bangul-vue';
import KosMarketingCard from '../components/KosMarketingCard';
import KosManagementCard from '../components/KosManagementCard';
import KosPropertyCard from '../components/KosPropertyCard';

export default {
  name: 'ManageMWeb',
  components: {
    BgText,
    KosMarketingCard,
    KosManagementCard,
    KosPropertyCard,
  },
  computed: {
    ...mapGetters('profile', ['isNewOwner']),
  },
};
</script>

<style lang="scss" src="./mobile.scss" scoped></style>
