.finance-card {
  word-break: break-word;

  &__content {
    &-wrapper {
      position: relative;
      display: flex;
      width: 100%;
      flex-direction: column;
    }

    &-title {
      color: #757575;
    }

    &-nominal {
      color: #404040;
    }

    &-divider {
      margin: 16px 0;
    }
  }

  &__month-select {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    color: #757575;
    align-items: center;
    flex-shrink: 0;

    > *:not(:last-child) {
      margin-right: 4px;
    }
  }
}
