<template>
  <widget-card
    v-bind="$attrs"
    @link-clicked="goToFinancialReportPage"
    class="finance-card"
    title="Pendapatan"
    description="Catatan lengkap seputar pendapatan Anda selama berbisnis kos bersama Mamikos."
    additional-link-label="Lihat laporan keuangan"
  >
    <bg-card class="finance-card__content" size="sm">
      <div class="finance-card__content-wrapper">
        <bg-text size="title-5" class="finance-card__content-title">
          Pendapatan Total
        </bg-text>
        <bg-text size="title-3" class="finance-card__content-nominal">
          {{ toIDR(incomeTotal) }}
        </bg-text>
      </div>
      <bg-divider class="finance-card__content-divider" />
      <div class="finance-card__content-wrapper">
        <bg-text size="title-5" class="finance-card__content-title">
          Pendapatan Bulanan
        </bg-text>
        <span v-if="loading" class="c-loader"></span>
        <bg-text v-else size="title-3" class="finance-card__content-nominal">
          {{ toIDR(incomeMonthly) }}
        </bg-text>
        <bg-link
          @click="handleMonthOptionclicked"
          variant="low-naked"
          class="finance-card__month-select"
        >
          <bg-text tag="span">{{ selectedMonth }}</bg-text>
          <bg-icon name="dropdown-down" size="sm" />
        </bg-link>
      </div>

      <month-selector-modal
        v-model="financeModalActive"
        :currentMonth="selectedMonth"
        @optionClicked="handleOptionModalClicked"
      />
    </bg-card>
  </widget-card>
</template>

<script>
import { mapState } from 'vuex';
import { BgCard, BgDivider, BgText, BgIcon, BgLink } from 'bangul-vue';
import WidgetCard from '../WidgetCard';
import MixinDashboardTracker from '../../mixins/dashboardTracker';
import MonthSelectorModal from '~/components/page-features/dashboard/components/FinanceModalMonthSelector';
import { toIDR } from '~/utils/currencyString';

export default {
  name: 'FinanceCard',
  components: {
    BgCard,
    BgDivider,
    BgText,
    BgIcon,
    BgLink,
    WidgetCard,
    MonthSelectorModal,
  },
  mixins: [MixinDashboardTracker],
  data() {
    const selectedMonth = this.$dayjs().format('MMM YYYY');
    return {
      selectedMonth,
      financeModalActive: false,
      redirectionSource: 'tab_home',
    };
  },
  computed: {
    ...mapState('finance', {
      incomeTotal: (state) => state.financeReport.total,
      incomeMonthly: (state) => state.financeReport.monthly.total,
      loading: (state) => state.financeReport.monthly.loading,
    }),
  },
  created() {
    // get total finance report
    this.$store.dispatch('finance/getFinanceReport');
    // get current month finance report
    const today = new Date();
    this.$store.dispatch('finance/getFinanceReport', {
      month: today.getMonth() + 1,
      year: today.getFullYear(),
    });
  },
  methods: {
    toIDR,
    handleMonthOptionclicked() {
      this.financeModalActive = true;
      this.sendFinanceCardTracker('[Owner] OD Pendapatan - Month Option Clicked');
    },
    getMonthYearDate(monthYear) {
      return this.$dayjs(monthYear, 'MMMM YYYY');
    },
    getMonthYearDateFormatted(monthYear) {
      return !!monthYear && this.getMonthYearDate(monthYear).isValid()
        ? this.getMonthYearDate(monthYear).format('MMM YYYY')
        : '';
    },
    handleOptionModalClicked(monthYear) {
      this.financeModalActive = false;
      this.selectedMonth = this.getMonthYearDateFormatted(monthYear);
      this.$store.dispatch('finance/getFinanceReport', {
        month: this.getMonthYearDate(monthYear).month() + 1,
        year: this.getMonthYearDate(monthYear).year(),
      });
    },
    sendFinanceCardTracker(eventName) {
      this.sendDashboardTracker(eventName, {
        redirection_source: this.redirectionSource,
      });
    },
    goToFinancialReportPage() {
      this.sendFinanceCardTracker('[Owner] OD - Laporan Keuangan Clicked');
      this.$router.push('/financial-report');
    },
  },
};
</script>

<style lang="scss" src="./FinanceCard.scss"></style>
