.update-property-body {
  max-width: 398px;
  padding: 15px;
  background-color: #fff;
  border-radius: 20px;

  .image {
    display: block;
    margin: auto;
    margin-top: 20px;
  }
  .update-property-text {
    margin: 30px 0;
    font-family: Lato;
    .title {
      margin-bottom: 20px;
      font-size: 18px;
      font-style: normal;
      font-weight: bold;
      line-height: 22px;
      text-align: center;
    }
    .content {
      font-size: 16px;
      font-style: normal;
      font-weight: normal;
      line-height: 22px;
      text-align: center;
    }
  }

  .update-button-group {
    display: flex;
    justify-content: space-between;

    .btn {
      height: 48px;
    }

    .all-properties {
      min-width: 168px;
    }

    @media (max-width: 450px) {
      display: block;

      .specific-property,
      .all-properties {
        width: 100%;
        margin-bottom: 10px;
      }
    }
  }
}
