<template>
  <mk-modal v-model="active" class="bm-filter-list-modal">
    <mk-card v-show="isShowCard" class="bm-filter-list-modal__card">
      <mk-card-header class="bm-filter-list-modal__header ">
        <b-icon @click.native="hideModal" class="close-icon" icon="close" size="is-medium" />
      </mk-card-header>
      <mk-card-body class="bm-filter-list-modal__body">
        <h1 class="title">
          Yakin ingin tandai “Bayar di Luar Mamipay”?
        </h1>

        <p>
          Proses ini tidak bisa dibatalkan. Pastikan uang sewa sudah Anda terima sebelum menandai
          tagihan ini.
        </p>
      </mk-card-body>
      <mk-card-footer class="bm-filter-list-modal__footer">
        <mk-button @click.native="hideModal" color="white-brand" size="large">Batal</mk-button>
        <mk-button
          :disabled="isLoading"
          @click.native="changePayToOutside()"
          color="green-brand"
          size="large"
          >Ya, Tandai</mk-button
        >
      </mk-card-footer>
    </mk-card>
  </mk-modal>
</template>

<script>
import MkButton from '~/components/global/atoms/MkButton';
import MkModal, { mixin as modalMixin } from '~/components/global/molecules/MkModal/MkModal';
import MkCard from '~/components/global/molecules/MkCard';
import MkCardHeader from '~/components/global/molecules/MkCard/components/MkCardHeader';
import MkCardBody from '~/components/global/molecules/MkCard/components/MkCardBody';
import MkCardFooter from '~/components/global/molecules/MkCard/components/MkCardFooter';

export default {
  name: 'DetailBillPayModal',
  components: {
    MkButton,
    MkModal,
    MkCard,
    MkCardHeader,
    MkCardBody,
    MkCardFooter,
  },
  mixins: [modalMixin],
  props: {
    invoiceId: {
      type: Number,
      default: 0,
    },
  },
  data() {
    return {
      isShowCard: true,
      isLoading: false,
    };
  },
  watch: {
    active(val) {
      this.isShowCard = val;
    },
  },
  methods: {
    toastMessage(message) {
      this.$buefy.toast.open({
        duration: 2000,
        message,
        position: 'is-bottom',
      });
    },
    changePayToOutside() {
      this.isLoading = true;
      this.$api.setManualPayment(this.invoiceId).then((response) => {
        const { status, meta } = response.data;
        if (status) {
          this.toastMessage(meta.message);
          setTimeout(() => {
            location.reload();
          }, 3000);
        } else {
          this.toastMessage(meta.message);
        }
        this.isLoading = false;
      });
    },
    hideModal() {
      this.toggleModal(false);
      this.isShowCard = false;
      this.$emit('cancel');
    },
  },
};
</script>

<style lang="scss" scoped src="./DetailBillPayModal.scss"></style>
