<template>
  <additional-modal-price
    :active="active"
    :card-title="title"
    :width="588"
    @close="handleCloseModal"
    title-alignment="left"
    class="additional-price-modal-delete"
  >
    <div class="additional-price-modal-delete__action-button">
      <mk-button
        :disabled="isLoading"
        @clicked="handleCloseModal"
        color="tertiary"
        class="additional-price-modal-delete__action-button-back additional-price-action-button"
        >Kembali</mk-button
      >
      <mk-button
        :has-spinner="isLoading"
        :disabled="isLoading"
        @clicked="$emit('delete')"
        color="green-brand"
        class="additional-price-modal-delete__action-button-submit additional-price-action-button"
        >Ya, Hapus</mk-button
      >
    </div>
  </additional-modal-price>
</template>

<script>
import AdditionalModalPrice from '../AdditionalModalPrice';
import MkButton from '~/components/global/atoms/MkButton';

export default {
  name: 'AdditionalPriceModalDelete',

  components: {
    AdditionalModalPrice,
    MkButton,
  },

  props: {
    active: {
      type: Boolean,
      default: false,
    },
    isLoading: {
      type: Boolean,
      default: false,
    },
    title: {
      type: String,
      default: '',
    },
  },

  methods: {
    handleCloseModal() {
      !this.isLoading && this.$emit('close');
    },
  },
};
</script>

<style lang="scss" src="./AdditionalPriceModalDelete.scss" scoped></style>
