.additional-price-modal-delete {
  &__action-button {
    display: flex;
    justify-content: flex-end;
    height: 48px;

    > ::v-deep * {
      font-size: 16px;
      font-weight: bold;
      line-height: 24px;
      border-radius: 4px;

      &:last-of-type {
        min-width: 112px;
        margin-left: 16px;
      }
    }
  }
}
