<template>
  <div class="detail-bill-invoice-unpaid">
    <status-bill-label
      :inline-text="labelBillStatus(detailInvoice.from_mamipay).inlineText"
      v-slot:default="{ title }"
      type="blue"
      >{{ title }}</status-bill-label
    >

    <item-section class="detail-bill-invoice__wrapper-item">
      <template #left>
        <span class="title medium">Jatuh Tempo</span>
        <span class="description medium">{{
          dueDateFormated(detailInvoice.invoice_scheduled_date)
        }}</span>
      </template>
    </item-section>

    <item-section class="detail-bill-invoice__wrapper-item">
      <template #left>
        <span class="title medium">No. Invoice</span>
        <span class="description medium">{{ detailInvoice.invoice_number }}</span>
      </template>
    </item-section>

    <a @click.prevent="isShowModalTimeline = true" class="link" href="#">Lihat Status Tagihan</a>

    <template v-if="routeQuery.fromTenantProfile !== 'true'">
      <span class="line"></span>

      <item-section
        @click.native="openProfileTenant"
        class="detail-bill-invoice__wrapper-item cursor-pointer"
      >
        <template #left>
          <span class="title medium">{{ detailInvoice.tenant_name }}</span>
          <span class="room-number small">Kamar {{ detailInvoice.room_number }}</span>
          <span class="phone-number small">{{ detailInvoice.tenant_phone_number }}</span>
        </template>
        <template #right>
          <img
            v-if="detailInvoice.tenant_photo_url"
            :src="detailInvoice.tenant_photo_url.medium"
            class="tenant-photo"
          />
          <img v-else src="~assets/images/billing_management/empty-image.svg" />
        </template>
      </item-section>
    </template>

    <span class="line"></span>

    <span class="big-title">Rincian Tagihan {{ dateBillText }}</span>

    <item-section class="detail-bill-invoice__wrapper-item">
      <template #left>
        <span class="title medium">Biaya Sewa</span>
      </template>
    </item-section>

    <item-section class="detail-bill-invoice__wrapper-item custom-margin">
      <template #left>
        <span class="description medium">Harga {{ detailInvoice.room_rent_type }}</span>
      </template>
      <template #right>
        <span class="description medium"
          >Rp{{ detailInvoice.base_amount | currencyIDR('.', true) }}</span
        >
      </template>
    </item-section>

    <item-section
      v-if="detailInvoice.additional_costs.length >= 1"
      class="detail-bill-invoice__wrapper-item"
    >
      <template #left>
        <span class="title medium">Biaya Tambahan</span>
      </template>
    </item-section>

    <item-section
      v-if="detailInvoice.additional_costs.length >= 1"
      v-for="(cost, i) in detailInvoice.additional_costs"
      :key="i"
      class="detail-bill-invoice__wrapper-item custom-margin"
    >
      <template #left>
        <span class="description medium">{{ cost.cost_name }}</span>
      </template>
      <template #right>
        <span class="description medium">Rp{{ cost.cost_amount | currencyIDR('.', true) }}</span>
      </template>
    </item-section>

    <item-section v-if="detailInvoice.deposit_amount" class="detail-bill-invoice__wrapper-item">
      <template #left>
        <span class="title medium">Deposit</span>
      </template>
      <template #right>
        <span class="description medium"
          >Rp{{ detailInvoice.deposit_amount | currencyIDR('.', true) }}</span
        >
      </template>
    </item-section>

    <item-section v-if="detailInvoice.fine_amount" class="detail-bill-invoice__wrapper-item">
      <template #left>
        <span class="title medium">Denda</span>
      </template>
      <template #right>
        <span class="description medium"
          >Rp{{ detailInvoice.fine_amount | currencyIDR('.', true) }}</span
        >
      </template>
    </item-section>

    <item-section class="detail-bill-invoice__wrapper-item">
      <template #left>
        <span class="title medium">Jumlah Tagihan</span>
      </template>
      <template #right>
        <span class="title medium">Rp{{ totalPayment | currencyIDR('.', true) }}</span>
      </template>
    </item-section>

    <item-section
      v-if="detailInvoice.discounts.length === 0"
      class="detail-bill-invoice__wrapper-item"
    >
      <template #left>
        <span class="title medium">Total Pembayaran</span>
      </template>
      <template #right>
        <span class="title medium"
          >Rp{{ detailInvoice.invoice_paid_amount | currencyIDR('.', true) }}</span
        >
      </template>
    </item-section>

    <item-section v-if="!detailInvoice.from_mamipay" class="detail-bill-invoice__wrapper-item">
      <template #left>
        <span class="title medium">Total Diterima</span>
      </template>
      <template #right>
        <span class="title medium"
          >Rp{{ detailInvoice.invoice_transferred_amount | currencyIDR('.', true) }}</span
        >
      </template>
    </item-section>

    <template v-if="discounts.length >= 1">
      <span class="line"></span>
      <span class="big-title">Promo & Diskon</span>

      <item-section
        v-for="(discount, discountIndex) in detailInvoice.discounts"
        :key="discountIndex"
        class="detail-bill-invoice__wrapper-item"
      >
        <template #left>
          <span class="title medium">{{ discount.discount_name }}</span>
          <span class="description small grey">{{
            discountDescription(discount.discount_type)
          }}</span>
        </template>
        <template #right>
          <span class="description medium"
            >-Rp{{ Math.abs(discount.discount_amount) | currencyIDR('.', true) }}</span
          >
        </template>
      </item-section>

      <item-section class="detail-bill-invoice__wrapper-item">
        <template #left>
          <span class="description medium">Jumlah Promo & Diskon</span>
        </template>
        <template #right>
          <span class="description medium">-Rp{{ totalDiscounts | currencyIDR('.', true) }}</span>
        </template>
      </item-section>

      <item-section class="detail-bill-invoice__wrapper-item">
        <template #left>
          <span class="title medium">Total Pembayaran</span>
        </template>
        <template #right>
          <span class="title medium"
            >Rp{{ detailInvoice.invoice_paid_amount | currencyIDR('.', true) }}</span
          >
        </template>
      </item-section>
    </template>

    <span class="line"></span>

    <template v-if="detailInvoice.from_mamipay">
      <span class="big-title">Potongan & Biaya Lain</span>

      <item-section
        v-if="detailInvoice.other_costs.length >= 1"
        v-for="(otherCost, otherCostIndex) in detailInvoice.other_costs"
        :key="otherCostIndex"
        class="detail-bill-invoice__wrapper-item"
      >
        <template #left>
          <span class="title medium">{{ otherCost.cost_name }}</span>
          <span class="description small grey">{{ otherCost.cost_description }}</span>
        </template>
        <template #right>
          <span class="description medium"
            >{{ labelCurrency(otherCost.cost_amount)
            }}{{ Math.abs(otherCost.cost_amount) | currencyIDR('.', true) }}</span
          >
        </template>
      </item-section>

      <item-section class="detail-bill-invoice__wrapper-item">
        <template #left>
          <span class="title medium">Total Diterima</span>
        </template>
        <template #right>
          <span class="title medium"
            >Rp{{ detailInvoice.invoice_transferred_amount | currencyIDR('.', true) }}</span
          >
        </template>
      </item-section>
    </template>

    <detail-bill-timeline-modal
      :due-date="detailInvoice.invoice_scheduled_date || ''"
      :invoice-status="detailInvoice.invoice_status || ''"
      :invoice-id="detailInvoice.invoice_id"
      v-model="isShowModalTimeline"
    ></detail-bill-timeline-modal>
  </div>
</template>

<script>
import detailBillMixin from '../../mixins/detailBillMixin';
import ItemSection from '~/components/page-features/kelola-tagihan/pages/detailBill/components/ItemSection';
import DetailBillTimelineModal from '~/components/page-features/kelola-tagihan/pages/detailBill/components/DetailBillTimelineModal';
import StatusBillLabel from '~/components/page-features/kelola-tagihan/components/StatusBillLabel';

export default {
  components: {
    ItemSection,
    DetailBillTimelineModal,
    StatusBillLabel,
  },
  mixins: [detailBillMixin],
  props: {
    detailInvoice: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      isShowModalTimeline: false,
    };
  },
  computed: {
    routeQuery() {
      return this.$route.query;
    },
    discounts() {
      return this.detailInvoice.discounts;
    },
  },
  methods: {
    labelCurrency(val) {
      if (val < 0) {
        return '-Rp';
      }
      return 'Rp';
    },
    openProfileTenant() {
      const urlToProfileTenant = `${process.env.MAMIKOS_URL}/ownerpage/billing-management/profile-tenant/${this.detailInvoice.contract_id}/payment-tenant`;
      window.open(urlToProfileTenant, '_blank');
    },
    labelBillStatus(isFromMamipay) {
      return {
        inlineText: isFromMamipay ? 'Telah Diterima' : 'Telah Diterima di luar MamiPAY',
        type: 'blue',
      };
    },
    dueDateFormated(date) {
      return this.$dayjs(date).format('dddd, D MMM YYYY');
    },
    discountDescription(type) {
      const descriptionText =
        type === 'mamikos'
          ? 'Ditanggung oleh Mamikos'
          : type === 'owner'
          ? 'Diskon yang Anda berikan'
          : '';
      return descriptionText;
    },
  },
};
</script>
