<template>
  <div class="detail-bill-invoice-unpaid">
    <status-bill-label :due-date="detailInvoice.invoice_scheduled_date"
      >Belum Dibayar - {{ detailInvoice.invoice_scheduled_label }}</status-bill-label
    >

    <item-section class="detail-bill-invoice__wrapper-item">
      <template #left>
        <span class="title medium">Jatuh Tempo</span>
        <span class="description medium">{{
          dueDateFormated(detailInvoice.invoice_scheduled_date)
        }}</span>
      </template>
    </item-section>

    <item-section class="detail-bill-invoice__wrapper-item">
      <template #left>
        <span class="title medium">No. Invoice</span>
        <span class="description medium">{{ detailInvoice.invoice_number }}</span>
      </template>
    </item-section>

    <a @click.prevent="isShowModalTimeline = true" class="link" href="#">Lihat Status Tagihan</a>

    <template v-if="routeQuery.fromTenantProfile !== 'true'">
      <span class="line"></span>

      <item-section
        @click.native="openProfileTenant"
        class="detail-bill-invoice__wrapper-item cursor-pointer"
      >
        <template #left>
          <span class="title medium">{{ detailInvoice.tenant_name }}</span>
          <span class="room-number small">Kamar {{ detailInvoice.room_number }}</span>
          <span class="phone-number small">{{ detailInvoice.tenant_phone_number }}</span>
        </template>
        <template #right>
          <img
            v-if="detailInvoice.tenant_photo_url"
            :src="detailInvoice.tenant_photo_url.medium"
            class="tenant-photo"
          />
          <img v-else src="~assets/images/billing_management/empty-image.svg" />
        </template>
      </item-section>
    </template>

    <span class="line"></span>

    <span class="big-title">Rincian Tagihan {{ dateBillText }}</span>

    <item-section class="detail-bill-invoice__wrapper-item">
      <template #left>
        <span class="title medium">Biaya Sewa</span>
      </template>
      <template #right>
        <a @click.prevent="isShowModalPrice = true" class="link" href="#">
          <img src="~assets/images/billing_management/ic_edit.svg" /> <span>Ubah Biaya</span></a
        >
      </template>
    </item-section>

    <item-section class="detail-bill-invoice__wrapper-item custom-margin">
      <template #left>
        <span class="description medium">Harga {{ detailInvoice.room_rent_type }}</span>
      </template>
      <template #right>
        <span class="description medium"
          >Rp{{ detailInvoice.base_amount | currencyIDR('.', true) }}</span
        >
      </template>
    </item-section>

    <item-section class="detail-bill-invoice__wrapper-item">
      <template #left>
        <span class="title medium">Biaya Tambahan</span>
      </template>
      <template #right>
        <a @click.prevent="isShowModalAdditionalPrice = true" class="link" href="#"
          ><img src="~assets/images/billing_management/ic_edit.svg" /> <span>Ubah Biaya</span></a
        >
      </template>
    </item-section>

    <item-section
      v-if="detailInvoice.additional_costs.length >= 1"
      v-for="(cost, i) in detailInvoice.additional_costs"
      :key="i"
      class="detail-bill-invoice__wrapper-item custom-margin"
    >
      <template #left>
        <span class="description medium">{{ cost.cost_name }}</span>
      </template>
      <template #right>
        <span class="description medium">Rp{{ cost.cost_amount | currencyIDR('.', true) }}</span>
      </template>
    </item-section>

    <notice-area
      v-if="isAllOtherBillFixed"
      description="Biaya tambahan ini Anda terapkan untuk tagihan sekarang dan berikutnya "
    />

    <item-section v-if="detailInvoice.deposit_amount" class="detail-bill-invoice__wrapper-item">
      <template #left>
        <span class="title medium">Deposit</span>
      </template>
      <template #right>
        <span class="description medium"
          >Rp{{ detailInvoice.deposit_amount | currencyIDR('.', true) }}</span
        >
      </template>
    </item-section>

    <item-section v-if="detailInvoice.fine_amount" class="detail-bill-invoice__wrapper-item">
      <template #left>
        <span class="title medium">Denda</span>
      </template>
      <template #right>
        <span class="description medium"
          >Rp{{ detailInvoice.fine_amount | currencyIDR('.', true) }}</span
        >
      </template>
    </item-section>

    <item-section class="detail-bill-invoice__wrapper-item">
      <template #left>
        <span class="title medium">Jumlah Tagihan</span>
      </template>
      <template #right>
        <span class="title medium">Rp{{ totalPayment | currencyIDR('.', true) }}</span>
      </template>
    </item-section>

    <item-section
      v-if="detailInvoice.discounts.length === 0"
      class="detail-bill-invoice__wrapper-item"
    >
      <template #left>
        <span class="title medium">Total Pembayaran</span>
      </template>
      <template #right>
        <span class="title medium"
          >Rp{{ detailInvoice.invoice_calculated_amount | currencyIDR('.', true) }}</span
        >
      </template>
    </item-section>

    <span v-if="detailInvoice.discounts.length >= 1" class="line"></span>

    <span v-if="detailInvoice.discounts.length >= 1" class="big-title">Promo & Diskon</span>

    <item-section
      v-if="detailInvoice.discounts.length >= 1"
      v-for="(discount, discountIndex) in detailInvoice.discounts"
      :key="discountIndex"
      class="detail-bill-invoice__wrapper-item"
    >
      <template #left>
        <span class="title medium">{{ discount.discount_name }}</span>
        <span class="description small grey">{{
          discountDescription(discount.discount_type)
        }}</span>
      </template>
      <template #right>
        <span class="description medium"
          >-Rp{{ discount.discount_amount | currencyIDR('.', true) }}</span
        >
      </template>
    </item-section>

    <item-section
      v-if="detailInvoice.discounts.length >= 1"
      class="detail-bill-invoice__wrapper-item"
    >
      <template #left>
        <span class="description medium">Jumlah Promo & Diskon</span>
      </template>
      <template #right>
        <span class="description medium">-Rp{{ totalDiscounts | currencyIDR('.', true) }}</span>
      </template>
    </item-section>

    <item-section
      v-if="detailInvoice.discounts.length >= 1"
      class="detail-bill-invoice__wrapper-item"
    >
      <template #left>
        <span class="title medium">Total Pembayaran</span>
      </template>
      <template #right>
        <span class="title medium"
          >Rp{{ detailInvoice.invoice_calculated_amount | currencyIDR('.', true) }}</span
        >
      </template>
    </item-section>

    <span class="line"></span>

    <b-checkbox @input="showModalPayOutside" v-model="isCheckPayOutside" type="is-success"
      >Tandai ‘Bayar di Luar Mamipay’ jika penyewa sudah bayar langsung kepada Anda.
    </b-checkbox>

    <span class="line"></span>

    <mk-button
      :disabled="tenantRemindered.disabled || tenantReminderedButton"
      @click.native="showRememberTenant()"
      color="green-brand"
      block
    >
      {{ tenantRemindered.label }}
    </mk-button>

    <detail-bill-price-modal
      :rent-type="detailInvoice.room_rent_type"
      :rent-price="detailInvoice.base_amount"
      :invoice-id="detailInvoice.invoice_id"
      v-model="isShowModalPrice"
      v-if="isShowModalPrice"
    />
    <detail-bill-additional-price-modal
      :additional-price="detailInvoice.additional_costs"
      :invoice-id="detailInvoice.invoice_id"
      v-model="isShowModalAdditionalPrice"
      v-if="isShowModalAdditionalPrice"
    />
    <detail-bill-timeline-modal
      :due-date="detailInvoice.invoice_scheduled_date || ''"
      :invoice-status="detailInvoice.invoice_status || ''"
      :invoice-id="detailInvoice.invoice_id"
      v-model="isShowModalTimeline"
      v-if="isShowModalTimeline"
    ></detail-bill-timeline-modal>
    <billing-management-reminder-modal
      :tenant-name="detailInvoice.tenant_name"
      :invoice-id="detailInvoice.invoice_id"
      @turnOffButton="tenantReminderedButton = true"
      v-model="isReminderModalVisible"
      type-reminder="single"
    />
    <detail-bill-pay-modal
      :invoice-id="detailInvoice.invoice_id"
      @cancel="isCheckPayOutside = false"
      v-model="isPayModalVisible"
    />
  </div>
</template>

<script>
import _reject from 'lodash/reject';
import NoticeArea from '../NoticeArea';
import detailBillMixin from '../../mixins/detailBillMixin';
import MkButton from '~/components/global/atoms/MkButton';
import ItemSection from '~/components/page-features/kelola-tagihan/pages/detailBill/components/ItemSection';
import DetailBillPriceModal from '~/components/page-features/kelola-tagihan/pages/detailBill/components/DetailBillPriceModal';
import DetailBillAdditionalPriceModal from '~/components/page-features/kelola-tagihan/pages/detailBill/components/DetailBillAdditionalPriceModal';
import DetailBillTimelineModal from '~/components/page-features/kelola-tagihan/pages/detailBill/components/DetailBillTimelineModal';
import DetailBillPayModal from '~/components/page-features/kelola-tagihan/pages/detailBill/components/DetailBillPayModal';
import StatusBillLabel from '~/components/page-features/kelola-tagihan/components/StatusBillLabel';
import BillingManagementReminderModal from '~/components/page-features/kelola-tagihan/components/BillingManagementReminderModal';

export default {
  components: {
    NoticeArea,
    MkButton,
    ItemSection,
    DetailBillPriceModal,
    DetailBillAdditionalPriceModal,
    DetailBillTimelineModal,
    DetailBillPayModal,
    StatusBillLabel,
    BillingManagementReminderModal,
  },
  mixins: [detailBillMixin],
  props: {
    detailInvoice: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      isShowModalPrice: false,
      isShowModalAdditionalPrice: false,
      isShowModalTimeline: false,
      isReminderModalVisible: false,
      isPayModalVisible: false,
      isCheckPayOutside: false,
      tenantReminderedButton: false,
    };
  },
  computed: {
    tenantRemindered() {
      const reminderState = {
        disabled: this.detailInvoice.tenant_remindered,
        label: this.detailInvoice.tenant_remindered ? 'Sudah Diingatkan' : 'Ingatkan Lagi',
      };
      return reminderState;
    },
    isAllOtherBillFixed() {
      const allFixed = _reject(
        this.detailInvoice.additional_costs,
        (val) => val.cost_type === 'fixed',
      );
      return allFixed.length === 0 && this.detailInvoice.additional_costs.length !== 0;
    },
    routeQuery() {
      return this.$route.query;
    },
  },
  mounted() {
    if (this.routeQuery.changePrice === 'true') {
      this.isShowModalAdditionalPrice = true;
    }
  },
  methods: {
    showRememberTenant() {
      this.isReminderModalVisible = true;
    },
    showModalPayOutside(val) {
      this.isPayModalVisible = val;
    },
    openProfileTenant() {
      window.open(
        `${process.env.MAMIKOS_URL}/ownerpage/billing-management/profile-tenant/${this.detailInvoice.contract_id}/payment-tenant`,
        '_blank',
      );
    },
    dueDateFormated(date) {
      return this.$dayjs(date).format('dddd, D MMM YYYY');
    },
    discountDescription(type) {
      const descriptionText =
        type === 'mamikos'
          ? 'Ditanggung oleh Mamikos'
          : type === 'owner'
          ? 'Diskon yang Anda berikan'
          : '';
      return descriptionText;
    },
  },
};
</script>
