<template>
  <div class="detail-bill-invoice">
    <span v-if="isLoading" class="c-loader c-loader-custom"></span>
    <template v-else>
      <detail-bill-invoice-unpaid
        v-if="detailInvoice.invoice_status === 'unpaid'"
        :detail-invoice="detailInvoice"
      />
      <detail-bill-invoice-paid
        v-if="detailInvoice.invoice_status === 'paid'"
        :detail-invoice="detailInvoice"
      />
      <detail-bill-invoice-transferred
        v-if="detailInvoice.invoice_status === 'transferred'"
        :detail-invoice="detailInvoice"
      />
    </template>
  </div>
</template>

<script>
import DetailBillInvoiceUnpaid from './DetailBillInvoiceUnpaid';
import DetailBillInvoicePaid from './DetailBillInvoicePaid';
import DetailBillInvoiceTransferred from './DetailBillInvoiceTransferred';

export default {
  components: {
    DetailBillInvoiceUnpaid,
    DetailBillInvoicePaid,
    DetailBillInvoiceTransferred,
  },
  data() {
    return {
      detailInvoice: {},
      isLoading: false,
    };
  },

  computed: {
    invoiceId() {
      return this.$route.params.id;
    },
  },
  mounted() {
    this.getDetailInvoice();
  },
  methods: {
    getDetailInvoice() {
      this.isLoading = true;
      this.$api.getDetailInvoice(this.invoiceId).then((response) => {
        const { data, status } = response.data;

        if (status) {
          this.detailInvoice = data;
          this.isLoading = false;
        }
      });
    },
  },
};
</script>

<style lang="scss" src="./DetailBillInvoice.scss"></style>
