.detail-bill-invoice {
  .big-title {
    font-weight: bold;
    margin-bottom: 4px;
    display: block;
    color: #949494;
    font-size: 20px;
  }

  .tenant-photo {
    display: block;
    width: 73px;
    height: 73px;
    float: right;
    border-radius: 100%;
    object-fit: cover;
  }

  &__wrapper-item {
    margin-top: 0px;
    margin-bottom: 0 !important;

    .title {
      color: #303030;
      font-weight: bold;
      margin-bottom: 4px;
      display: block;
    }

    .room-number {
      color: #949494;
      display: block;
    }

    .phone-number {
      color: #404040;
      font-weight: bold;
    }

    .description {
      color: #404040;
      font-weight: normal;
    }

    .big {
      font-size: 20px;
    }

    .medium {
      font-size: 16px;
    }

    .small {
      font-size: 14px;
    }

    .grey {
      color: #949494;
    }
  }

  .link {
    color: #1baa56;
    font-weight: bold;
    font-size: 14px;
    display: block;

    span {
      vertical-align: top;
    }
  }

  .line {
    display: block;
    background: #e8e8e8;
    width: calc(100% + 32px);
    height: 1px;
    position: relative;
    left: -16px;
    margin: 24px 0px;
  }

  .custom-margin {
    margin-top: -20px;
  }

  .italic-grey-text {
    font-weight: normal;
    font-size: 14px;
    font-style: italic;
    color: #757575;
    margin-bottom: 6px;
    display: block;
  }

  .cursor-pointer {
    cursor: pointer;
  }
}

.b-checkbox.checkbox .control-label {
  padding-left: 16px;
  color: #2e2d39;
  font-weight: 500;
  font-size: 14px;
}
