<template>
  <div class="goldplus-header">
    <div class="goldplus-header__title-wrapper">
      <span v-if="isShowBackButton" @click="handleBackClicked" class="goldplus-header__back-button">
        <bg-icon :name="icon" />
      </span>
      <h1 class="goldplus-header__title">
        <slot name="title" />
      </h1>
    </div>
    <slot name="utilities" />
  </div>
</template>

<script>
import { BgIcon } from 'bangul-vue';

export default {
  name: 'GoldPlusHeader',
  components: { BgIcon },
  props: {
    isShowBackButton: {
      type: Boolean,
      default: false,
    },
    isOverwriteBackButton: {
      type: Boolean,
      default: false,
    },
    icon: {
      type: String,
      default: 'back',
    },
  },
  methods: {
    handleBackClicked() {
      if (!this.isOverwriteBackButton) this.$router.back();
      else this.$emit('backClicked');
    },
  },
};
</script>

<style lang="scss" scoped src="./GoldPlusHeader.scss"></style>
