.goldplus-header {
  &__title-wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  &__back-button {
    margin-top: 7px;
    margin-right: 26px;

    :hover {
      cursor: pointer;
    }
  }

  &__title {
    margin-bottom: 24px;
    font-size: 24px;
    font-weight: 900;
    line-height: 32px;

    @media (min-width: 768px) {
      font-size: 28px;
      line-height: 36px;
    }
  }
}
