<template>
  <div class="container">
    <div class="columns is-mobile is-desktop">
      <div class="column is-half c-auth-wrapper">
        <img src="~assets/images/logo.svg" />
        <nuxt />
      </div>
      <div ref="sideBackground" class="column is-half c-side-background">
        <img src="~assets/images/auth/mami.svg" alt="mami" class="c-side-background__image" />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'AuthLayout',
};
</script>

<style lang="scss" scoped>
.columns {
  margin-top: 0;
}

.c-auth-wrapper {
  position: relative;
  margin-top: 32px;
}
.c-side-background {
  position: relative;
  height: 100vh;
  padding: 0;
  background: #1baa56;

  &__image {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
  }
}
</style>
