/* stylelint-disable primer/no-unused-vars */
$border-default: 1px solid #e8e8e8;

.goldplus-submission-package-detail {
  width: 848px;
  padding: 26px 7px 94px;
  margin: 0 auto;

  &__header {
    /* stylelint-disable selector-max-type */
    &-description {
      p {
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
      }

      h4 {
        margin-top: 16px;
        font-size: 18px;
        font-weight: 900;
        line-height: 26px;
      }
    }
  }

  &__info-banner {
    margin-bottom: 16px !important;
  }

  &__room-list-wrapper {
    display: flex;
    padding-top: 0;
    margin-top: 30px; // 39px is divider's height.
    flex-wrap: wrap;
  }

  &__loader {
    position: absolute;
    top: 65%;
    left: 50%;
    margin: 0 auto;
    transform: translateX(-50%);

    .c-loader {
      width: 40px;
      height: 40px;
    }
  }

  &__footer {
    position: fixed;
    align-items: center;
    justify-content: flex-end;
    bottom: 0;
    left: 0;
    display: flex;
    width: 100%;
    padding: 24px;
    background-color: #fcfcfc;
    border-top: $border-default;

    &-description {
      margin-right: 20px;
      margin-bottom: 5px;
      font-size: 14px;
      line-height: 20px;
    }

    &-button {
      width: 298px;
      height: 48px;
      font-size: 16px;
      font-weight: 700;
      line-height: 20px;

      &.--disabled {
        color: #bbb;
        background-color: #f6f6f6;
        border: unset;
      }

      &.--long-text {
        padding-top: 5px;
        padding-bottom: 5px;
      }
    }
  }
}
