<template>
  <div>
    <div v-if="selectedPackage" class="goldplus-submission-package-detail">
      <confirmation-modal v-model="isShowConfirmationModal" @continue="showTnC" />

      <modal-wrapper v-model="isShowModalWrapper" />

      <gold-plus-header
        @backClicked="handleBackClicked"
        is-show-back-button
        is-overwrite-back-button
        class="goldplus-submission-package-detail__header"
      >
        <span slot="title" class="goldplus-submission-package-detail__header-title">
          Beli Paket GoldPlus
        </span>
        <div slot="utilities">
          <div class="goldplus-submission-package-detail__header-description">
            <p>Paket yang telah dipilih:</p>
            <h4>{{ selectedPackage.name }} {{ pricingDescription }}</h4>
          </div>
        </div>
      </gold-plus-header>

      <div v-if="isLoadingRoomList" class="goldplus-submission-package-detail__loader">
        <div class="c-loader"></div>
      </div>

      <room-list
        v-else
        :room-list="roomList"
        :package-code="packageCode"
        @setSelectedRooms="setSelectedRooms"
        class="goldplus-submission-package-detail__room-list-wrapper"
      />

      <div class="goldplus-submission-package-detail__footer">
        <div
          v-html="purchaseDescription"
          class="goldplus-submission-package-detail__footer-description"
        ></div>
        <mk-button
          @clicked="submitRequest"
          :class="{ '--disabled': isButtonDisabled }"
          :disabled="isButtonDisabled"
          block
          color="green-brand"
          class="goldplus-submission-package-detail__footer-button"
        >
          Ajukan Pendaftaran Paket
        </mk-button>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapMutations } from 'vuex';

import GoldPlusSubmissionPackageConfirmationModal from '../components/GoldPlusSubmissionPackageConfirmationModal';
import GoldPlusSubmissionModalWrapper from '../components/GoldPlusSubmissionModalWrapper';
import GoldPlusSubmissionPackageRoomList from '../components/GoldPlusSubmissionPackageRoomList';

import MkButton from '~/components/global/atoms/MkButton';
import GoldPlusHeader from '~/components/page-features/goldplus/components/GoldPlusHeader';

import { toIDR } from '~/utils/currencyString';
import restrictNewSubmission from '~/components/page-features/goldplus/mixins/restrictNewSubmission';

export default {
  name: 'GoldPlusSubmissionPackageDetail',
  components: {
    MkButton,
    GoldPlusHeader,
    'confirmation-modal': GoldPlusSubmissionPackageConfirmationModal,
    'modal-wrapper': GoldPlusSubmissionModalWrapper,
    'room-list': GoldPlusSubmissionPackageRoomList,
  },
  mixins: [restrictNewSubmission],
  data() {
    return {
      isShowConfirmationModal: false,
      isShowInfoBanner: true,
      isShowModalWrapper: false,
      isLoadingRoomList: false,
      roomList: [],
      selectedRooms: [],
    };
  },
  computed: {
    ...mapState('goldplus', ['selectedPackage']),
    packageCode() {
      return this.$route.params.code;
    },
    pricingDescription() {
      return `(${toIDR(this.selectedPackage.price)}/bulan${
        this.packageCode === 'gp3' ? ' per properti' : ''
      })`;
    },
    purchaseDescription() {
      return this.isButtonDisabled
        ? '<p style="color: #949494;">Belum ada kos yang dipilih</p>'
        : `<strong>Paket ${this.selectedPackage.name}</strong> untuk <strong>${this.selectedRooms.length} Kos</strong>`;
    },
    isButtonDisabled() {
      return this.isLoadingRoomList || !this.selectedRooms.length;
    },
  },
  watch: {
    packageCode: {
      immediate: true,
      handler(value) {
        if (value === 'gp3') this.isShowInfoBanner = false;
      },
    },
    roomList(value) {
      if (this.packageCode !== 'gp3') {
        value.forEach((room) => {
          this.selectedRooms.push(room.id);
        });
      }
    },
  },
  mounted() {
    if (!this.selectedPackage) {
      this.$router.replace('/');
    } else {
      this.handleFetchRoomList();
    }
  },
  methods: {
    ...mapMutations('goldplus', ['setSelectedRoomsForSubmission']),
    handleFetchRoomList() {
      this.isLoadingRoomList = true;

      this.$api
        .fetchAllPropertyRooms({
          offset: 0,
          limit: 1000,
          exclude_unverified_flag: true,
        })
        .then(async (response) => {
          if (response.data.status) {
            await this.initRoomList(response.data.data.rooms);
          } else {
            this.$bugsnag.notify(JSON.stringify(response));
            this.$alert('is-danger', 'Gagal', 'Terjadi galat, silakan coba lagi.');
          }
        })
        .catch((error) => {
          this.$bugsnag.notify(error);
          this.$alert('is-danger', 'Gagal', 'Terjadi galat, silakan coba lagi.');
        })
        .finally(() => {
          this.isLoadingRoomList = false;
          this.trackPageVisited();
        });
    },
    trackPageVisited() {
      this.$tracker.send('moe', [
        '[Owner] GP Submission - Kost List Visited',
        {
          interface: this.$device.isMobile ? 'mobile' : 'desktop',
          owner_name: this.$store.getters['profile/user'].name,
          potential_gp: this.packageCode,
          listing_count: this.roomList.length,
        },
      ]);
    },
    initRoomList(rooms) {
      rooms.forEach((room) => {
        const payload = {
          id: room._id,
          room_title: room.room_title,
          address: room.address,
          area_formatted: room.area_formatted,
          gender: room.gender,
          photo: room.photo_url,
          room_count: room.room_count,
        };

        this.roomList.push(payload);
      });
    },
    submitRequest() {
      this.setSelectedRoomsForSubmission(this.selectedRooms);
      this.isShowConfirmationModal = true;
    },
    setSelectedRooms(rooms) {
      this.selectedRooms = rooms;
    },
    showTnC() {
      this.isShowModalWrapper = true;
      this.$tracker.send('moe', [
        '[Owner] GP Submission - TnC Page Visited',
        {
          interface: this.$device.isMobile ? 'mobile' : 'desktop',
          owner_name: this.$store.getters['profile/user'].name,
          potential_gp: this.packageCode,
        },
      ]);
    },
    handleBackClicked() {
      this.$router.replace({
        name: 'goldplus-packages',
      });
    },
  },
};
</script>

<style lang="scss" src="./desktop.scss" scoped></style>
