<template>
  <div class="goldplus-package-content">
    <div v-if="isLoading" class="goldplus-package-content__loader">
      <div class="c-loader"></div>
    </div>

    <div v-else>
      <div class="goldplus-package-content__packages-wrapper">
        <gold-plus-package-card
          v-for="gpPackage in goldPlusPackageList"
          :key="gpPackage.code"
          :package-detail="gpPackage"
          class="goldplus-package-content__card"
        />
      </div>
    </div>
  </div>
</template>

<script>
import GoldPlusPackageCard from '~/components/page-features/goldplus/pages/submission-packages/components/GoldPlusPackageCard';

export default {
  name: 'GoldPlusPackageContent',
  components: {
    GoldPlusPackageCard,
  },
  data() {
    return {
      isLoading: false,
      goldPlusPackageList: [],
    };
  },
  created() {
    this.trackPageVisited();
    this.handleFetchGoldPlusPackageList();
  },
  methods: {
    handleFetchGoldPlusPackageList() {
      this.isLoading = true;

      this.$api
        .getGoldPlusPackages()
        .then((response) => {
          if (response.data.status) {
            for (let i = 0; i < response.data.packages.length; i++) {
              this.goldPlusPackageList.push(response.data.packages[i]);
            }
          } else {
            this.$bugsnag.notify(JSON.stringify(response));
            this.$alert('is-danger', 'Gagal', 'Terjadi galat, silakan coba lagi.');
          }
        })
        .catch((error) => {
          this.$bugsnag.notify(error);
          this.$alert('is-danger', 'Gagal', 'Terjadi galat, silakan coba lagi.');
        })
        .finally(() => {
          this.isLoading = false;
        });
    },
    trackPageVisited() {
      this.$tracker.send('moe', [
        '[Owner] GP Submission - Pilih Paket Goldplus Visited',
        {
          interface: this.$device.isMobile ? 'mobile' : 'desktop',
          owner_name: this.$store.getters['profile/user'].name,
        },
      ]);
    },
  },
};
</script>

<style lang="scss" scoped src="./GoldPlusPackageContent.scss"></style>
