.goldplus-package-content {
  &__loader {
    position: absolute;
    top: 57.5%;
    left: 50%;
    margin: 0;
    transform: translate(-50%, -50%);

    .c-loader {
      width: 40px;
      height: 40px;
    }
  }

  &__packages-wrapper {
    padding-top: 16px;

    @media (min-width: 768px) {
      display: flex;
      padding-top: 24px;
      justify-content: space-between;
    }
  }

  &__card {
    margin-bottom: 16px;

    @media (min-width: 768px) {
      width: calc(100% / 3 - 16px);
    }
  }
}
