<template>
  <div>
    <div class="stories-skeleton">
      <bg-skeleton :width="30" :height="30" class="ellipse" ellipsed />
      <div class="stories-skeleton__content">
        <bg-skeleton width="100%" :height="16" />
        <bg-skeleton width="60%" :height="16" />
      </div>
    </div>
    <div class="stories-skeleton">
      <bg-skeleton :width="30" :height="30" class="ellipse" ellipsed />
      <div class="stories-skeleton__content">
        <bg-skeleton width="100%" :height="16" />
        <bg-skeleton width="60%" :height="16" />
      </div>
    </div>
    <div class="stories-skeleton">
      <bg-skeleton :width="30" :height="30" class="ellipse" ellipsed />
      <div class="stories-skeleton__content">
        <bg-skeleton width="100%" :height="16" />
        <bg-skeleton width="60%" :height="16" />
      </div>
    </div>
  </div>
</template>

<script>
import { BgSkeleton } from 'bangul-vue';
export default {
  name: 'SurveySkeleton',
  components: {
    BgSkeleton,
  },
};
</script>
<style lang="scss" src="./SurveySkeleton.scss" scoped></style>
