<template>
  <p>
    <!-- eslint-disable-next-line vue/require-component-is -->
    <component :is="view"></component>
  </p>
</template>

<script>
import pageView from '~/mixins/page-view';

export default {
  layout({ isDesktop }) {
    return `default/${isDesktop ? 'desktop' : 'mobile'}/index`;
  },
  head() {
    const header = {
      title: 'Dashboard Ownerpage Mamikos - Kelola Iklan',
    };
    if (this.$device.isDesktop) {
      header.meta = [{ hid: 'viewport', name: 'viewport', content: 'width=1200' }];
    }
    return header;
  },
  meta: {
    showMobileBackButton: false,
    hideMobileFloatingChat: true,
  },
  name: 'PremiumRouteParent',
  mixins: [pageView],
  data() {
    let component;
    // component path needs to write explicitly so that webpack can create chunk based on explicit path
    if (this.$device.isDesktop) {
      component = import(
        /* webpackChunkName: "page-view-rooms-desktop" */ `~/components/page-features/premium/desktop`
      );
    } else {
      component = import(
        /* webpackChunkName: "page-view-rooms-mobile" */ `~/components/page-features/premium/mobile`
      );
    }
    return {
      component,
    };
  },
};
</script>

<style></style>
