.contract-request {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  background-color: #fff;

  &__content {
    position: relative;
    top: 64px;
    width: 100%;
    margin: 30px auto;
    margin-bottom: 100px !important;

    @media (min-width: 768px) {
      width: 750px;
    }

    @media (min-width: 992px) {
      width: 970px;
    }

    @media (min-width: 1200px) {
      width: 1170px;
    }

    @media (max-width: 767px) {
      top: 0;
      padding: 15px;
      margin: 32px auto 16px;
    }
  }
}
