<template>
  <div class="contract-request">
    <navbar />
    <div class="contract-request__content">
      <nuxt-child />
    </div>
  </div>
</template>

<script>
import Navbar from '../add-contract/components/Navbar';

export default {
  name: 'ContractRequest',

  components: {
    Navbar,
  },
};
</script>

<style lang="scss" src="./ContractRequest.scss"></style>
