.billing-management {
  &__column {
    border-bottom: 2px solid #ececec;

    &.no-border-bottom {
      border-bottom: 0;
    }

    &-header {
      border-bottom: 2px solid #e8e8e8;
    }
  }

  &__row {
    margin: 1rem;

    @media (max-width: 480px) {
      width: calc(100% - 31px);
    }
  }
}
