.reward-detail-page {
  height: 100%;

  &__loader {
    display: block;
    width: 100%;
    margin-top: 80px;
    text-align: center;

    @media (max-width: 480px) {
      margin: 80px auto;
    }

    .c-loader {
      width: 40px;
      height: 40px;
    }
  }
}
