<template>
  <div class="redeem-detail-page --mobile">
    <div class="tile is-mobile">
      <div class="column">
        <exchange-detail />
      </div>
      <div class="column">
        <general-questions />
      </div>
    </div>
  </div>
</template>

<script>
import ExchangeDetail from '~/components/page-features/mamipoin/pages/rewards/components/ExchangeDetail';
import GeneralQuestions from '~/components/page-features/mamipoin/pages/rewards/components/GeneralQuestions';

export default {
  name: 'RedeemDetailMobile',
  components: {
    ExchangeDetail,
    GeneralQuestions,
  },
};
</script>

<style scoped lang="scss" src="./mobile.scss"></style>
