.statistic-menu {
  &__title {
    margin-bottom: 42px;
  }

  ::v-deep {
    .mk-action-card__main-content-subtitle {
      margin-top: 4px;
    }
    @media (min-width: 768px) {
      .bg-c-empty-state {
        min-width: 548px;
      }
    }
  }

  @media (max-width: 991px) {
    padding: 20px 0 0;

    &__title {
      display: none;
    }

    &__item {
      margin-bottom: 8px;

      > * {
        width: 100%;
      }
    }
  }
}
