<template>
  <div class="statistic-menu">
    <bg-text size="heading-2" class="statistic-menu__title">Statistik</bg-text>
    <bg-empty-state
      v-if="hasActiveListingButNotPremium"
      title="Tidak Ada Statistik Kos"
      description="Statistik hanya dapat diakses oleh pengguna GoldPlus atau Premium."
      illustration-name="kos-not-found"
      illustration-alt="kos not found"
      class="statistic-menu__empty-state"
    />
    <bg-empty-state
      v-if="hasActiveListingAndPremiumOrGoldplus"
      title="Tidak Ada Statistik Kos"
      description="Untuk mengakses statistik, Anda harus membuat iklan kos terlebih dahulu."
      illustration-name="kos-not-found"
      illustration-alt="kos not found"
      class="statistic-menu__empty-state"
    />
    <bg-grid v-else class="statistic-menu__items">
      <bg-grid-item v-show="isGPOwner" :col="menuGridItemCol" class="statistic-menu__item">
        <mk-action-card
          @click="handleGoldPlusStatisticClicked"
          title="Statistik GoldPlus"
          subtitle="Performa kos GoldPlus Anda"
        />
      </bg-grid-item>
    </bg-grid>
  </div>
</template>

<script>
import { BgText, BgGrid, BgGridItem, BgEmptyState } from 'bangul-vue';
import { mapState, mapGetters } from 'vuex';

import MkActionCard from '~/components/global/molecules/MkActionCard';

export default {
  name: 'StatisticMenu',
  components: {
    BgText,
    BgGrid,
    BgGridItem,
    BgEmptyState,
    MkActionCard,
  },
  computed: {
    ...mapState('profile', ['data']),
    ...mapGetters('profile', ['user', 'isNewOwner', 'activeKos', 'activeApartment']),
    menuGridItemCol() {
      return this.$device.isMobile ? 12 : 4;
    },
    isGPOwner() {
      return this.data.gp_owner;
    },
    hasActiveListing() {
      return this.activeKos > 0 || this.activeApartment > 0;
    },
    hasActiveListingButNotPremium() {
      return !this.isPremium && !this.isGPOwner && this.hasActiveListing;
    },
    hasActiveListingAndPremiumOrGoldplus() {
      return !this.hasActiveListing;
    },
  },
  methods: {
    handleGoldPlusStatisticClicked() {
      this.$router.push(`/goldplus/statistic`);
      this.trackStatisticPageVisited();
    },
    trackStatisticPageVisited() {
      this.$tracker.send('moe', [
        '[Owner] Dashboard GP: List Kost Goldplus Visited',
        {
          interface: this.$device.isMobile ? 'mobile' : 'desktop',
          owner_name: this.user.name,
          redirection_source: 'Menu Statistik',
        },
      ]);
    },
  },
};
</script>

<style lang="scss" scoped src="./StatisticMenu.scss"></style>
