/* stylelint-disable-next-line selector-max-type */
html {
  overflow-y: hidden;
}

$header-height: 80px;
$sidebar-width: 238px;

.wrapper {
  &__body {
    width: calc(100% - #{$sidebar-width});
    height: calc(100vh - 80px);
    min-height: calc(100vh - 80px);
    padding: 36px 40px;
    margin: $header-height 0 0 $sidebar-width;
    overflow-y: auto;
    background: #fff;
    &.fullwidth {
      width: 100%;
      margin-left: 0;
    }

    &.fullheight {
      height: 100vh;
      min-height: 100vh;
      margin-top: 0;
    }
  }

  &__loader {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 20vh;
    height: 20vh;
    margin: auto;
    border-width: 20px;
  }

  &__alert {
    position: fixed;
    top: 10vh;
    right: 0;
    left: 0;
    z-index: 41; // more than buefy modal
    width: 400px;
    margin: auto;
    box-shadow: 0 0 6px 1px #868686;
  }
}

.scale-out-enter-active,
.scale-out-leave-active {
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
}
.scale-out-enter-to,
.scale-out-leave {
  opacity: 1;
  transform: scale(1);
}
.scale-out-enter,
.scale-out-leave-to {
  opacity: 0;
  transform: scale(0.7);
}
