<template>
  <div class="wrapper">
    <span v-if="loading" class="c-loader wrapper__loader"></span>
    <template v-else>
      <mk-header
        v-if="!isHideHeader"
        :avatar="user.photo"
        :username="user.name"
        :email="user.email"
        :phone="user.phone_number"
        :notification="notification"
      />
      <mk-sidebar v-if="!isHideSidebar" :items="menuItems" />
      <div
        :class="{ fullwidth: isHideSidebar, fullheight: isHideHeader }"
        :style="{ background: !!bodyBackground ? bodyBackground : '#fff' }"
        class="wrapper__body"
      >
        <nuxt />
      </div>

      <modal-init-sequencer />
      <transition name="scale-out">
        <b-message
          v-if="isActive"
          :active="isActive"
          :title="title"
          :type="type"
          @close="handleAlertClosed"
          has-icon
          class="wrapper__alert"
          aria-close-label="Close message"
        >
          {{ message }}
        </b-message>
      </transition>
    </template>

    <modal-price-update :active="isModalPriceUpdate" @close="toggleModalPriceUpdate(false)" />
  </div>
</template>

<script>
import { mapGetters, mapState } from 'vuex';
import sidebarItems from '../data/sidebarItems';
import MkSidebar from '~/components/layout-features/default/MkSidebar';
import MkHeader from '~/components/global/organisms/MkHeader';
import ModalInitSequencer from '~/components/layout-features/default/ModalInitSequencer';
import ModalPriceUpdate from '~/components/layout-features/default/ModalPriceUpdate';
import { initAuthTracker } from '~/utils/authTracker';
import EventBus from '~/components/event-bus/index.js';

export default {
  name: 'DefaultLayout',
  components: {
    MkHeader,
    MkSidebar,
    ModalInitSequencer,
    ModalPriceUpdate,
  },

  data() {
    return {
      isModalPriceUpdate: false,
    };
  },

  computed: {
    ...mapState(['desktop']),
    ...mapState('alert', ['isActive', 'message', 'title', 'type']),
    ...mapGetters('profile', [
      'isBbk',
      'membership',
      'user',
      'notification',
      'getInvisibleSidebars',
    ]),
    loading() {
      const { auth, profile } = this.$store.state;
      return !auth.isAuthenticated || profile.loading;
    },
    menuItems() {
      return sidebarItems.map((sidebarItem) => {
        sidebarItem.isVisible = !this.getInvisibleSidebars.includes(sidebarItem.name);

        return sidebarItem;
      });
    },
    isHideSidebar() {
      return this.desktop.hideSidebar;
    },
    isHideHeader() {
      return this.desktop.hideHeader;
    },
    bodyBackground() {
      return this.desktop.bodyBackground;
    },
  },
  created() {
    this.$store.dispatch('profile/getProfile').then(() => {
      initAuthTracker(this, this.user);
    });
  },
  mounted() {
    EventBus.$on('onContractExists', () => {
      this.openModalPriceUpdate();
    });
  },
  methods: {
    handleAlertClosed() {
      this.$store.commit('alert/close');
    },
    toggleModalPriceUpdate(isShow) {
      this.isModalPriceUpdate = isShow;
    },
    openModalPriceUpdate() {
      const oneDay = 1;

      if (Cookies.get('isModalPriceShown') === undefined) {
        this.$route.name === 'index' && this.toggleModalPriceUpdate(true);
        Cookies.set('isModalPriceShown', true, { expires: oneDay });
      }
    },
  },
};
</script>

<style lang="scss" src="./default.scss" scoped></style>
