<template>
  <div class="contract-list">
    <div v-if="!isMobile" class="contract-list__title">
      <bg-text size="heading-2">
        {{ pageTitle }}
      </bg-text>
    </div>

    <card-skeleton v-if="isLoadingKosList && isLoadingPage" class="contract-list__skeleton" />

    <template v-else>
      <div class="contract-list__kos-list">
        <bg-select
          ref="kosSelect"
          v-model="kosSelected"
          :options="kosList"
          options-value-key="song_id"
          options-label-key="name"
        />
      </div>

      <card-skeleton v-if="isLoadingPage" class="contract-list__skeleton" />
      <template v-else>
        <div
          v-for="(contract, index) in contractRequest.data"
          :key="index"
          class="contract-list__card-list"
        >
          <card-request
            :card-detail="contract"
            :kos-id="kosSelected"
            @reject="onRequestReject(contract.id, 'List Penyewa')"
            @accept="redirectToDetailContract"
          />
        </div>

        <bg-pagination
          v-if="pageTotal > 1"
          v-model="contractListProperty.page"
          :page-total="pageTotal"
          @click="setPaginationList"
          class="contract-list__pagination"
        />

        <contract-request-reject-modal
          v-model="isShowRejectModal"
          :is-rejecting="rejectLoading"
          @reject="onRejectContract"
        />
      </template>

      <bg-toast v-model="isShowRejectToastSuccess" :duration="5">
        Berhasil menolak penyewa
      </bg-toast>
      <bg-toast v-model="isShowRejectToastFailed" :duration="5">
        Gagal menolak penyewa
      </bg-toast>

      <bg-toast v-model="isShowAcceptToast" :duration="5">
        Gagal menerima penyewa.
      </bg-toast>

      <bg-toast v-model="isShowErrorToast" :duration="5">
        {{ errorMessage }}
      </bg-toast>
    </template>
  </div>
</template>

<script>
import _find from 'lodash/find';
import _get from 'lodash/get';
import { mapState } from 'vuex';
import { BgPagination, BgSelect, BgText, BgToast } from 'bangul-vue';
import CardRequest from '../CardRequest';
import CardSkeleton from '../CardSkeleton';
import ContractRequestRejectModal from '../ContractRequestRejectModal';
import rejectMixin from '../../mixins/reject';
import acceptMixin from '../../mixins/accept';

const initKosListPagination = () => {
  return {
    page: 0,
    limit: 20,
    has_more: true,
  };
};

export default {
  name: 'ContractList',

  components: {
    BgPagination,
    BgSelect,
    BgText,
    BgToast,
    CardRequest,
    CardSkeleton,
    ContractRequestRejectModal,
  },

  mixins: [acceptMixin, rejectMixin],

  data() {
    return {
      kosSelected: 0,
      isLoadingPage: false,
      isPageLoaded: false,
      queryCode: 0,
      contractListProperty: {
        page: 1,
        limit: 10,
      },
      kosListPagination: initKosListPagination(),
      kosList: [],
      isLoadingKosList: false,
      isShowErrorToast: false,
      errorMessage: '',
    };
  },

  computed: {
    ...mapState('contract', ['contractRequest', 'rejectData', 'rejectStatus']),
    isMobile() {
      return this.$device.isMobile;
    },
    pageTitle() {
      return this.$route.meta.pageTitle;
    },
    pageTotal() {
      return Math.ceil(this.contractRequest.total / this.contractListProperty.limit);
    },
    kosListRequestParams() {
      const params = {
        page: this.kosListPagination.page,
        limit: this.kosListPagination.limit,
      };
      if (this.queryCode) {
        params.dbet_code = this.queryCode;
      }
      return params;
    },
  },

  watch: {
    kosSelected(kosId) {
      if (!kosId) return;

      this.getContractList(
        this.kosSelected,
        this.contractListProperty.page,
        this.contractListProperty.limit,
      );
    },
    isPageLoaded(isLoaded) {
      isLoaded && this.setKosSelectScrollAction();
    },
  },

  created() {
    this.initPage();
    this.checkContractRejected();
  },

  beforeDestroy() {
    this.setKosSelectScrolledToBottomListener(false);
  },

  methods: {
    async initPage() {
      this.resetKosList();
      this.queryCode = this.$route.query.code;
      this.isLoadingPage = true;

      await this.getKosList({
        ...this.kosListRequestParams,
        page: 1,
      });

      if (this.queryCode) {
        const selectedKos = _find(
          this.kosList,
          (kos) => String(kos.dbet_code) === String(this.queryCode),
        );
        this.selectKos(selectedKos || this.kosList[0]);
      } else {
        this.selectKos(this.kosList[0]);
      }

      if (!this.kosSelected) {
        this.isLoadingPage = false;
      }
    },
    async getKosList(params) {
      this.isLoadingKosList = true;
      try {
        const response = await this.$api.getKosListWithContractRequest(params);
        const responseStatus = _get(response, 'data.status', false);
        const kosList = _get(response, 'data.data');

        if (responseStatus && kosList) {
          this.kosList = [...this.kosList, ...kosList];
          this.kosListPagination.page = _get(response, 'data.pagination.current_page');
          this.kosListPagination.has_more = _get(response, 'data.pagination.has_more', false);
        } else {
          this.showErrorToast(true, _get(response, 'data.meta.message'));
        }

        this.isLoadingKosList = false;
      } catch (error) {
        this.isLoadingKosList = false;
        this.$bugsnag.notify(error);
        this.showErrorToast(true);
      }
    },
    showErrorToast(isShow, message) {
      this.errorMessage = message || 'Terjadi galat, silakan coba lagi.';
      this.isShowErrorToast = isShow;
    },
    resetKosList() {
      this.kosListPagination = initKosListPagination();
      this.kosList = [];
    },
    getContractList(kosId, contractPage, contractLimit) {
      this.isLoadingPage = true;

      this.$store
        .dispatch('contract/getContractRequestList', {
          designer_id: kosId,
          page: contractPage,
          limit: contractLimit,
        })
        .then(() => {
          this.isLoadingPage = false;
          this.isPageLoaded = true;
        })
        .catch(() => {
          this.isLoadingPage = false;
          this.isPageLoaded = true;
        });
    },
    setPaginationList(page) {
      this.contractListProperty.page = page;
      this.getContractList(
        this.kosSelected,
        this.contractListProperty.page,
        this.contractListProperty.limit,
      );
    },
    selectKos(kos) {
      if (kos && kos.song_id) {
        this.kosSelected = kos.song_id;
      }
    },
    setKosSelectScrollAction() {
      this.$nextTick(() => {
        this.setKosSelectScrolledToBottomListener();
      });
    },
    getKosListElement() {
      if (!this.$refs.kosSelect) return null;

      const kostListElement = this.$refs.kosSelect.$el.querySelector('.bg-c-dropdown__menu > ul');

      return kostListElement || null;
    },
    setKosSelectScrolledToBottomListener(isAdd = true) {
      const kostListElement = this.getKosListElement();
      if (!kostListElement) return;

      kostListElement[`${isAdd ? 'add' : 'remove'}EventListener`](
        'scroll',
        this.setKosSelectScrolledToBottomListenerAction,
      );
    },
    async setKosSelectScrolledToBottomListenerAction() {
      const kostListElement = this.getKosListElement();

      if (!kostListElement) return;

      const { clientHeight, scrollTop, scrollHeight } = kostListElement;
      const isScrolledToBottom = scrollTop >= scrollHeight - clientHeight;
      if (
        isScrolledToBottom &&
        !this.isLoadingPage &&
        !this.isLoadingKosList &&
        this.kosListPagination.has_more
      ) {
        const loading = document.createElement('div');
        loading.setAttribute('class', 'c-loader');
        kostListElement.appendChild(loading);

        await this.getKosList({
          ...this.kosListRequestParams,
          page: this.kosListRequestParams.page + 1,
        });

        kostListElement.removeChild(loading);
      }
    },
    checkContractRejected() {
      if (this.rejectData.length !== 0 && this.rejectStatus) {
        this.onSuccessRejected();
      }
    },
    redirectToDetailContract(cardId) {
      this.$router.push({
        name: 'contract-request-detail',
        params: {
          id: cardId,
          source: 'contract-list',
        },
      });
    },
  },
};
</script>

<style lang="scss" src="./ContractList.scss"></style>
