.contract-list {
  max-width: 950px;
  margin: auto;

  .bg-c-dropdown {
    position: relative;
  }

  .bg-c-dropdown__menu {
    top: 50px !important;
    z-index: 1 !important;
    transform: none !important;

    /* stylelint-disable-next-line */
    ul {
      max-height: 350px;
      overflow: auto;
    }
  }

  &__kos-list,
  &__skeleton {
    margin-top: 25px;
  }

  &__card-list {
    margin-top: 35px;
  }

  &__pagination {
    margin-top: 35px;
  }
}
