.mamipoin-page.--mobile {
  margin-top: -16px;

  @media (max-width: 768px) {
    min-height: calc(100vh - 56px);
  }
}

.mamipoin-header.--mobile {
  @media (max-width: 768px) {
    margin-right: -16px;
    margin-left: -16px;
  }

  .mamipoin-card-column {
    @media (max-width: 768px) {
      padding: 0;

      &.exchange-card-column {
        padding: 0 10px;
      }
    }
  }
}
