<template>
  <div ref="mamipoinPage" class="mamipoin-page --mobile">
    <div ref="mamipoinHeader" class="tile is-mobile mamipoin-header --mobile">
      <div ref="mamipoinCardColumn" class="mamipoin-card-column column">
        <mamipoin-card ref="mamipoinCard" />
      </div>
      <div class="exchange-card-column column">
        <exchange-card />
      </div>
    </div>
    <div class="tile is-mobile">
      <mamipoin-tabs />
    </div>
  </div>
</template>

<script>
import MamipoinCard from '../components/MamipoinCard';
import ExchangeCard from '../components/ExchangeCard';
import MamipoinTabs from '../components/MamipoinTabs';

export default {
  name: 'MamipoinMobile',
  components: {
    MamipoinCard,
    ExchangeCard,
    MamipoinTabs,
  },
  provide() {
    return {
      parent: this,
    };
  },
};
</script>

<style lang="scss" scoped src="./mobile.scss"></style>
