<template>
  <div class="goldplus-rooms-empty-state">
    <img
      v-lazy="require(`~/assets/images/goldplus/${illustration}.png`)"
      class="goldplus-rooms-empty-state__image"
      alt="goldplus empty state illustration"
    />
    <div class="goldplus-rooms-empty-state__title">{{ emptyTitle }}</div>
    <div class="goldplus-rooms-empty-state__description">
      {{ emptyMessage }}
    </div>
  </div>
</template>

<script>
export default {
  name: 'GoldPlusRoomsEmptyState',
  props: {
    illustration: {
      type: String,
      default: 'empty_state_v1',
    },
    emptyTitle: {
      type: String,
      default: 'Kos Tidak Ditemukan',
    },
    emptyMessage: {
      type: String,
      required: true,
    },
  },
};
</script>

<style lang="scss" scoped src="./GoldPlusRoomsEmptyState.scss"></style>
