.goldplus-rooms-empty-state {
  text-align: center;

  &__title {
    margin: 0 11px 11px;
    font-size: 20px;
    font-weight: 900;
    line-height: 28px;
    color: #303030;
  }

  &__description {
    margin: 0 11px;
    font-size: 16px;
    line-height: 24px;
    color: #404040;
  }
}
