<template>
  <div class="mamipoin-rewards --mobile">
    <div class="mamipoin-rewards__content">
      <reward-content />
    </div>
  </div>
</template>

<script>
import RewardContent from '~/components/page-features/mamipoin/pages/rewards/components/RewardContent';

export default {
  name: 'MamipoinRewardsMobile',
  components: {
    RewardContent,
  },
};
</script>

<style scoped lang="scss" src="./mobile.scss"></style>
