.mamipoin-rewards {
  &.--mobile {
    height: 100%;
    padding: 20px;
    margin: -10px;

    ::v-deep .reward-content__card {
      margin-bottom: 0;
      border-radius: 0;
    }
  }

  &__content {
    height: 100%;
  }
}

.mamipoin-header.--mobile {
  margin-top: -16px;
  margin-right: -16px;
  margin-left: -16px;

  .mamipoin-card-column {
    padding: 0;
  }
}
