.input-text-custom {
  width: 100%;
  height: 48px;
  border: 1px solid #dadada;
  border-radius: 4px;
  text-indent: 16px;
}

.error-message {
  color: #da3438;
  font-size: 14px;
  margin-top: 4px;
}

.error-input {
  border: 1px solid #da3438;
}

::v-deep {
  .modal-background {
    @media (max-width: 480px) {
      background-color: #ffff;
    }
  }

  .c-mk-modal__body {
    height: auto;
    @media (max-width: 480px) {
      position: absolute;
      top: 0;
      height: 100%;
    }
  }
}

.detail-bill-modal {
  width: 100%;
  padding: 20px;

  @media (max-width: 480px) {
    padding: 0;
  }

  .c-mk-modal__body {
    height: 100%;
    position: relative;
    left: -4px;

    @media (max-width: 480px) {
      position: absolute;
      top: 0;
      height: 100%;
    }
  }

  &__header {
    text-align: center;
    border-bottom: 2px solid #e8e8e8;
    margin-bottom: 27px;
    padding: 23px 16px 0;
    height: 80px;
    position: relative;
    position: sticky;
    top: 0px;
    background-color: #ffff;

    .title-header {
      font-style: normal;
      font-weight: 900;
      font-size: 18px;
      color: #303030;
    }

    .close-icon {
      position: absolute;
      right: 17px;
      &:hover {
        cursor: pointer;
      }
    }
  }

  &__card {
    width: 558px;
    overflow: hidden;
    height: 100%;
    max-height: 82vh;

    @media (max-width: 480px) {
      height: 100%;
      box-shadow: none;
    }
  }

  &__body {
    width: 100%;
    padding: 10px 20px;
    overflow-y: auto;
    height: calc(100% - 157px);

    .title {
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 17px;
    }

    .description {
      color: #2e2d39;
      font-weight: normal;
      font-size: 16px;
    }

    .field {
      margin-bottom: 4x;
    }

    .label {
      width: calc(100vw - 1025px);
      overflow: hidden;
      font-size: 16px;
      font-style: normal;
      font-weight: normal;
      line-height: 24px;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  &__footer {
    border-top: 2px solid #e8e8e8;
    position: sticky;
    bottom: 0px;
    background-color: #ffff;
  }
}

@media (max-width: 480px) {
  .detail-bill-modal {
    &__card {
      position: unset;
      bottom: 0;
      left: 0;
      width: 100vw;
      height: 100%;
      margin: 0 auto;
      border-radius: 0;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
    }

    &__body {
      height: calc(100% + -191px);
      .label {
        width: 275px;
      }
    }

    &__footer {
      position: absolute;
      bottom: 11px;
      width: 100%;
      left: 0;
      background-color: #ffff;

      button {
        width: 100%;
        height: 48px;
      }
    }
  }
}
