<template>
  <mk-modal v-model="active" class="detail-bill-modal">
    <mk-card v-show="isShowCard" class="detail-bill-modal__card">
      <mk-card-header class="detail-bill-modal__header">
        <span class="title-header">Harga Sewa</span>
        <b-icon @click.native="hideModal" class="close-icon" icon="close" size="is-medium" />
      </mk-card-header>
      <mk-card-body class="detail-bill-modal__body">
        <h1 class="title">
          Silakan atur harga sewa baru untuk tagihan penyewa ini
        </h1>

        <p class="description">
          Penyewa menggunakan Hitungan sewa {{ rentType }}, Dibayar oleh penyewa setiap 1 bulan
          sekali
        </p>

        <field-input :title="`Harga Sewa ${rentType}`" class="field">
          <vue-numeric
            :currency="'Rp'"
            :separator="'.'"
            :min="0"
            v-model="rentPriceValue"
            :class="{
              'error-input': rentPrice === 0,
            }"
            class="input-text-custom"
          ></vue-numeric>
          <p
            v-if="rentPrice === 0"
            :class="{
              'error-message': rentPrice === 0,
            }"
          >
            Harga sewa harus di isi
          </p>
        </field-input>

        <notice-area
          description="Mohon hubungi dahulu penyewa sebelum mengubah harga & Harga sewa baru ini tidak
            berpengaruh kepada tagihan penyewa lain."
        />
      </mk-card-body>
      <mk-card-footer class="detail-bill-modal__footer">
        <div class="columns">
          <div class="column is-7">
            <b-checkbox v-model="isCheckRentPriceToAllBill" type="is-success"
              >Terapkan harga sewa baru ini untuk tagihan sekarang dan berikutnya
            </b-checkbox>
          </div>
          <div class="column has-text-right">
            <mk-button
              :disabled="isLoading"
              @click.native="updatePriceRent"
              color="green-brand"
              size="large"
              >Simpan Harga Sewa</mk-button
            >
          </div>
        </div>
      </mk-card-footer>
    </mk-card>
  </mk-modal>
</template>

<script>
import FieldInput from '../FieldInput';
import NoticeArea from '../NoticeArea';
import MkButton from '~/components/global/atoms/MkButton';
import MkModal, { mixin as modalMixin } from '~/components/global/molecules/MkModal/MkModal';
import MkCard from '~/components/global/molecules/MkCard';
import MkCardHeader from '~/components/global/molecules/MkCard/components/MkCardHeader';
import MkCardBody from '~/components/global/molecules/MkCard/components/MkCardBody';
import MkCardFooter from '~/components/global/molecules/MkCard/components/MkCardFooter';

export default {
  name: 'DetailBillPriceModal',
  components: {
    MkButton,
    MkModal,
    MkCard,
    MkCardHeader,
    MkCardBody,
    MkCardFooter,
    FieldInput,
    NoticeArea,
  },
  mixins: [modalMixin],
  props: {
    rentType: {
      type: String,
      required: true,
    },
    rentPrice: {
      type: Number,
      required: true,
    },
    invoiceId: {
      type: Number,
      required: true,
    },
  },
  data() {
    return {
      isLoading: false,
      isShowCard: true,
      rentPriceValue: 0,
      isCheckRentPriceToAllBill: false,
    };
  },
  watch: {
    active(val) {
      this.isShowCard = val;
    },
  },
  mounted() {
    this.rentPriceValue = this.rentPrice;
  },
  methods: {
    hideModal() {
      this.toggleModal(false);
      this.isShowCard = false;
    },
    updatePriceRent() {
      this.isLoading = true;
      const params = {
        amount: this.rentPriceValue,
        apply_all: this.isCheckRentPriceToAllBill,
      };

      this.$api.updatePriceRent(this.invoiceId, params).then((response) => {
        const { status, meta } = response.data;

        this.$buefy.toast.open({
          duration: 2000,
          message: meta.message,
          position: 'is-bottom',
        });

        if (status) {
          setTimeout(() => {
            location.reload();
          }, 3000);
        }

        this.isLoading = false;
      });
    },
  },
};
</script>

<style lang="scss" src="./DetailBillPriceModal.scss" scoped></style>
