<template>
  <!-- eslint-disable-next-line vue/require-component-is -->
  <component :is="view"></component>
</template>

<script>
import pageView from '~/mixins/page-view';

export default {
  layout({ isDesktop }) {
    return `default/${isDesktop ? 'desktop' : 'mobile'}/index`;
  },
  head() {
    const header = {};
    if (this.$device.isDesktop) {
      header.meta = [{ hid: 'viewport', name: 'viewport', content: 'width=1200' }];
    }
    return header;
  },
  meta: {
    desktopBodyBackground: '#f6f6f6',
    mobileBodyBackground: '#fff',
  },
  name: 'DashboardRoute',
  mixins: [pageView],
  data() {
    let component;
    // component path needs to write explicitly so that webpack can create chunk based on explicit path
    if (this.$device.isDesktop) {
      component = import(
        /* webpackChunkName: "page-view-dashboard" */ `~/components/page-features/dashboard/desktop`
      );
    } else {
      component = import(
        /* webpackChunkName: "page-view-dashboard" */ `~/components/page-features/dashboard/mobile`
      );
    }
    return {
      component,
    };
  },
};
</script>
