<template>
  <div class="version-pages">
    <div class="hero-text">
      <h1 class="title">Version</h1>
      <p>Have a nice day.</p>
    </div>
    <div class="container">
      <div class="card">
        <div class="card-header">MamiKos Owner/API</div>
        <div class="card-body">
          <h4 class="card-title">{{ APP_VERSION }}</h4>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'VersionPage',
  head() {
    const header = {};
    return header;
  },
  data() {
    return {
      APP_VERSION: process.env.APP_VERSION,
    };
  },
};
</script>

<style lang="scss" scoped>
.version-pages {
  height: calc(100vh);
  background-color: #1baa56;
  .hero-text {
    padding: 3rem 1rem 1.5rem;
    margin-bottom: 10px;
    color: #fff;
    text-align: center;
  }
  .title {
    margin-bottom: 5px;
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 1.2;
    color: #fff;
  }
  .container {
    width: 100%;
    max-width: 960px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  .card {
    text-align: center;
    border-radius: 4px;
    .card-header {
      display: block;
      padding: 0.75rem 1.25rem;
      margin-bottom: 0;
      font-size: 14px;
      background-color: rgba(0, 0, 0, 0.03);
      border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    }
    .card-body {
      padding: 1.25rem;
    }
    .card-title {
      font-size: 20px;
      font-weight: 600;
    }
  }
}
</style>
