<template>
  <mk-modal v-model="showModal" backdrop>
    <div class="goldplus-package-modal">
      <div class="goldplus-package-modal__header">
        <b-icon
          @click.native="closeModal"
          icon="close"
          size="is-medium"
          class="goldplus-package-modal__close-button"
        ></b-icon>
      </div>
      <div v-html="modalContent" class="goldplus-package-modal__body"></div>
      <mk-button @click.native="selectPackage" class="goldplus-package-modal__footer-button">
        Pilih Paket {{ packageName }}
      </mk-button>
    </div>
  </mk-modal>
</template>

<script>
import MkModal, { mixin as modalMixin } from '~/components/global/molecules/MkModal/MkModal';
import MkButton from '~/components/global/atoms/MkButton';

export default {
  name: 'GoldPlusPackageModal',
  components: { MkModal, MkButton },
  mixins: [modalMixin],
  model: {
    prop: 'active',
    event: 'update:active',
  },
  props: {
    active: {
      type: Boolean,
      default: false,
    },
    modalContent: {
      type: String,
      default: null,
    },
    packageName: {
      type: String,
      default: null,
    },
  },
  data() {
    return {
      goldPlusPackagesList: [],
    };
  },
  computed: {
    showModal: {
      get() {
        return this.active;
      },
      set(val) {
        this.$emit('update:active', val);
      },
    },
  },
  methods: {
    closeModal() {
      this.toggleModal(false);
    },
    selectPackage() {
      this.$emit('selectPackage');
    },
  },
};
</script>

<style lang="scss" scoped src="./GoldPlusPackageModal.scss"></style>
