.goldplus-package-modal {
  width: 100vw;
  height: 100vh;
  background-color: #fff;

  @media (min-width: 768px) {
    max-width: 804px;
    max-height: 600px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
  }

  &__close-button {
    cursor: pointer;
  }

  &__header,
  &__body,
  &__footer {
    padding: 0 15.5px;

    @media (min-width: 768px) {
      padding: 0 48px;
    }
  }

  &__header {
    position: fixed;
    z-index: 1;
    width: 100%;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: right;
    background-color: #fff;
    border-bottom: 1px solid #e8e8e8;

    @media (min-width: 768px) {
      position: unset;
      padding: 24px;
      border-bottom: unset;
      border-top-left-radius: 16px;
      border-top-right-radius: 16px;
    }
  }

  &__body {
    height: calc(100% - 62px); // 62px is header's and footer's height
    padding-top: 78px;
    padding-bottom: 18px;
    overflow: auto;

    &-title {
      font-size: 20px;
      font-weight: 900;
      line-height: 28px;
    }

    &-content {
      margin-top: 24px;
    }

    @media (min-width: 768px) {
      height: calc(100% - 96px);
      padding-top: 0;
    }
  }

  &__footer-button {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 24px;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    color: #1baa56;
    background: #fff;
    border: 1px solid #e8e8e8;

    @media (min-width: 768px) {
      position: unset;
      border-bottom-right-radius: 16px;
      border-bottom-left-radius: 16px;
    }
  }

  &__loader {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0;
    transform: translate(-50%, -50%);

    .c-loader {
      width: 40px;
      height: 40px;
    }
  }

  ::v-deep {
    /* stylelint-disable selector-max-type */
    /* stylelint-disable selector-max-compound-selectors */
    .goldplus-package-modal__body {
      h5 {
        font-size: 20px;
        font-weight: 900;
      }

      p,
      b {
        margin-bottom: 6px;
      }
    }
  }
}
