.bm-card {
  margin-top: 36px;
  margin-bottom: 52px;

  @media (max-width: 480px) {
    margin-top: 16px;
    margin-bottom: 39px;
  }

  .c-loader-custom {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 50%;
  }

  &__list {
    border: 1px solid #e8e8e8;
    border-radius: 8px;
    height: 135px;
    transition: all 0.2s linear;
    margin: 0px 10px;
    position: relative;
    padding-top: 12px;
    padding-bottom: 12px;
    cursor: pointer;

    &:hover,
    &.is-active {
      box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.12);
    }

    &__title {
      color: #303030;
      font-weight: bold;
      font-size: 16px;
      display: block;
    }

    &__description {
      font-style: italic;
      font-weight: normal;
      font-size: 14px;
      color: #949494;
      display: block;
    }

    &__footer {
      position: absolute;
      bottom: 12px;
      width: 100%;
    }

    &__total {
      color: #303030;
      font-style: normal;
      font-weight: 900;
      font-size: 18px;
    }

    &__link {
      text-align: right;
      a {
        color: #1baa56;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
      }
    }
  }
}
