<template>
  <div class="bm-card columns">
    <div
      v-for="(card, i) in cardList"
      :key="i"
      :class="{
        'is-active': card.page === page && isDesktop,
        'is-hidden': card.page !== page && isMobile,
      }"
      @click="changeTab(card.page, card.url)"
      class="bm-card__list column"
    >
      <span
        v-if="billingCardSummary[card.page].description.length === 0"
        class="c-loader c-loader-custom"
      ></span>
      <template v-else>
        <div class="bm-card__list__body">
          <span class="bm-card__list__title">{{ card.title }}</span>

          <span
            v-for="(desc, descIndex) in billingCardSummary[card.page].description"
            :key="descIndex"
            class="bm-card__list__description"
            >{{ desc }}</span
          >
        </div>

        <div
          v-if="billingCardSummary[card.page].total !== null"
          class="bm-card__list__footer columns is-mobile"
        >
          <span class="bm-card__list__total column">
            Rp{{ billingCardSummary[card.page].total | currencyIDR('.', true) }}
          </span>
          <span
            v-if="card.isRememberButton && billingCardSummary[card.page].total !== 0"
            class="bm-card__list__link column"
          >
            <a v-if="isThereBillOverDue" @click.prevent="showModalReminder" href="#"
              >Ingatkan Semua</a
            >
          </span>
        </div>
      </template>
    </div>
  </div>
</template>

<script>
import _map from 'lodash/map';
import _reject from 'lodash/reject';
import EventBus from '~/components/event-bus/index.js';

export default {
  data() {
    return {
      cardActive: 'belum-bayar',
      cardList: [
        {
          title: 'Total Tagihan yang Belum Dibayar',
          isRememberButton: true,
          page: 'unpaid',
          url: '/billing-management?page=unpaid',
        },
        {
          title: 'Total Tagihan',
          isRememberButton: false,
          page: 'paid',
          url: '/billing-management?page=paid',
        },
        {
          title: 'Total yang Sudah Anda Terima',
          total: 2100000,
          isRememberButton: false,
          page: 'transferred',
          url: '/billing-management?page=transferred',
        },
      ],
    };
  },
  computed: {
    isDesktop() {
      return this.$device.isDesktop;
    },
    isMobile() {
      return this.$device.isMobile;
    },
    page() {
      return this.$route.query.page;
    },
    billingCardSummary() {
      return this.$store.state.billingManagement.billingCardSummary;
    },
    isThereBillOverDue() {
      const billingList = this.$store.state.billingManagement.pagination.data;
      const filterBillingNotOverdue = _reject(billingList, (data) => {
        return !data.invoice_is_overdue || data.tenant_remindered;
      });
      return _map(filterBillingNotOverdue, 'invoice_id').length >= 1;
    },
  },
  methods: {
    showModalReminder() {
      EventBus.$emit('eventModalReminder', {
        type: 'all',
      });
    },
    changeTab(pageVal, url) {
      this.$store.commit('billingManagement/updateFilterStatus', pageVal);
      const { month, year, rentType, selectedKost } = this.$route.query;
      this.$router
        .replace({ query: { selectedKost, month, year, page: pageVal, rentType } })
        .catch(() => null);
    },
  },
};
</script>

<style lang="scss" src="./BillingManagementCard.scss" scoped></style>
