<template>
  <div class="no-property">
    <img class="no-property__image" src="~assets/images/dashboard/no-property.svg" />
    <h4 class="no-property__title">Kamu Belum Punya Kamar</h4>
    <p class="no-property__caption">Tambahkan kamar terlebih dahulu</p>
    <mk-button @clicked="handleAddKosClicked" color="green-brand" block>Tambahkan Kamar</mk-button>
  </div>
</template>

<script>
import MkButton from '~/components/global/atoms/MkButton';

export default {
  name: 'StateNoRooms',
  components: {
    MkButton,
  },
  methods: {
    handleAddKosClicked() {
      this.$emit('addRooms');
    },
  },
};
</script>

<style lang="scss" src="./StateNoRooms.scss"></style>
