<template>
  <bg-empty-state
    class="billing-management-empty-state"
    illustration-name="offline"
    illustration-alt="empty billing"
    title="Belum Ada Tagihan Penyewa"
    description="Daftar tagihan penyewa kos Anda akan muncul di halaman ini."
  />
</template>

<script>
import { BgEmptyState } from 'bangul-vue';
export default {
  components: {
    BgEmptyState,
  },
};
</script>

<style></style>
