.need-password-modal {
  max-width: 298px;

  &__header {
    padding: 15px;
    font-size: 18px;
    color: #fff;
    text-align: center;
    background-color: #1baa56;
  }

  &__divider {
    margin: 15px -15px;
  }

  &__password {
    margin-top: 15px;
  }
}
