<template>
  <mk-modal v-model="active">
    <mk-card class="need-password-modal">
      <mk-card-header class="need-password-modal__header">Password Akun</mk-card-header>
      <mk-card-body>
        <p>Buat password untuk melanjutkan ke Halaman Pemilik. Minimal 6 karakter.</p>
        <b-input
          v-model="firstPassword"
          class="need-password-modal__password"
          type="password"
          placeholder="Masukan password"
          password-reveal
        />
        <b-input
          v-model="secondPassword"
          class="need-password-modal__password"
          type="password"
          placeholder="Ulangi password"
          password-reveal
        />
        <hr class="need-password-modal__divider" />
        <mk-button
          :has-spinner="isSendingData"
          @clicked="handleSubmitButtonClicked"
          :disabled="disableSubmitButton"
          color="orange"
          block
          >Submit Password</mk-button
        >
      </mk-card-body>
    </mk-card>
  </mk-modal>
</template>

<script>
import MkModal, { mixin as modalMixin } from '~/components/global/molecules/MkModal/MkModal';
import MkCard from '~/components/global/molecules/MkCard';
import MkCardBody from '~/components/global/molecules/MkCard/components/MkCardBody';
import MkCardHeader from '~/components/global/molecules/MkCard/components/MkCardHeader';
import MkButton from '~/components/global/atoms/MkButton';

export default {
  name: 'ModalNeedPassword',
  components: {
    MkModal,
    MkButton,
    MkCard,
    MkCardBody,
    MkCardHeader,
  },
  mixins: [modalMixin],
  data() {
    return {
      firstPassword: '',
      secondPassword: '',
      isSendingData: true,
    };
  },
  computed: {
    disableSubmitButton() {
      return (
        [this.firstPassword.length, this.secondPassword.length].every((i) => i < 6) ||
        this.firstPassword !== this.secondPassword ||
        this.isSendingData
      );
    },
  },
  created() {
    import('md5').then(({ default: res }) => {
      this.md5 = res;
      this.isSendingData = false;
    });
  },
  methods: {
    async handleSubmitButtonClicked() {
      this.isSendingData = true;
      if (
        !confirm('Anda yakin untuk menggunakan password tersebut?\nPilih OK untuk melanjutkan.')
      ) {
        this.isSendingData = false;
        return;
      }
      const response = await this.$api.setPassword({ password: this.md5(this.firstPassword) });
      this.isSendingData = false;
      if (response.data.status) {
        await this.$alert('is-success', 'Sukses', 'Password berhasil disimpan');
      } else {
        await this.$alert('is-danger', 'Gagal!', response.data.meta.message);
      }
      this.toggleModal(false);
    },
  },
};
</script>

<style lang="scss" src="./ModalNeedPassword.scss" scoped></style>
