<template>
  <div class="goldplus-submission-success-modal-body">
    <img v-lazy="require('~/assets/images/goldplus/submission_success.svg')" alt="success icon" />
    <h2 class="goldplus-submission-success-modal-body__title">
      Kos GoldPlus berhasil diajukan!
    </h2>
    <p class="goldplus-submission-success-modal-body__message">
      Kami akan memberitahukan informasi pembayaran paket GoldPlus Anda paling lambat 1 x 24 jam.
    </p>
    <mk-button
      @clicked="backToDashboard"
      block
      color="green-brand"
      class="goldplus-submission-success-modal-body__button"
    >
      Kembali ke Dashboard
    </mk-button>
  </div>
</template>

<script>
import MkButton from '~/components/global/atoms/MkButton';

export default {
  name: 'GoldPlusSubmissionSuccessModalBody',
  components: { MkButton },
  methods: {
    async backToDashboard() {
      await this.$store.dispatch('goldplus/getActiveStatus');
      this.$router.push('/');
    },
  },
};
</script>

<style lang="scss" src="./GoldPlusSubmissionSuccessModalBody.scss" scoped></style>
