.goldplus-submission-success-modal-body {
  padding: 140px 16px 18px;
  text-align: center;

  @media (min-width: 768px) {
    padding: 27px 24px 0;
  }

  &__title {
    margin-top: 54px;
    font-size: 20px;
    font-weight: 900;
    line-height: 28px;

    @media (min-width: 768px) {
      margin-top: 39px;
    }
  }

  &__message {
    margin-top: 16px;

    @media (min-width: 768px) {
      margin-top: 8px;
    }
  }

  &__button {
    height: 48px;
    margin-top: 32px;
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;

    @media (min-width: 768px) {
      max-width: 274px;
      padding: 12px 16px;
      margin: 0 auto;
      margin-top: 24px;
      border-radius: 4px;
    }
  }
}
