.booking-sidebar {
  position: fixed;
  top: 80px;
  bottom: 0;
  left: 0;
  width: 321px;
  padding: 0 34px 0 27px;
  box-shadow: 0 4px 30px rgba(75, 75, 75, 0.05);

  &__add-user {
    height: 62px;
    margin-top: 18px;
    border-radius: 5px;
    box-shadow: 0 10px 40px rgba(27, 170, 86, 0.25);
  }

  &__kos-selection {
    width: 100%;
    height: 52px;
    padding: 20px;
    margin-top: 35px;
    background-color: #f6f6f6;
    border: 0.5px solid #dadada;
    border-radius: 5px;
    box-shadow: 0 5px 40px rgba(0, 0, 0, 0.04);

    :first-child {
      float: left;
    }

    :last-child {
      float: right;
      margin-top: -5px;
    }
  }

  &__menu {
    margin-top: 50px;

    &-item {
      height: 57px;
      padding: 16px;
      margin-top: 28px;
      cursor: pointer;
    }

    &-text {
      color: #2e2d39;
      vertical-align: middle;

      &.active {
        color: #1baa56;
      }
    }

    > :last-child {
      background-color: rgba(0, 0, 0, 0.02);
      border-radius: 5px;
    }

    &-icon {
      width: 24px;
      height: 24px;
      margin-right: 18px;
      vertical-align: middle;
    }
  }
}

.add-user {
  &__icon {
    margin-right: 17px;
    vertical-align: middle;
  }

  &__text {
    vertical-align: middle;
  }
}
