<template>
  <aside class="booking-sidebar">
    <b-button
      :href="`${$mamikosUrl}/ownerpage/manage/add-tenant/select-kost`"
      tag="a"
      type="is-green-brand"
      class="booking-sidebar__add-user add-user"
      expanded
    >
      <img :src="`${$mamikosUrl}/general/img/icons/ic_add-user_white.svg`" class="add-user__icon" />
      <span class="add-user__text">Tambah Penyewa Kos</span>
    </b-button>

    <button class="booking-sidebar__kos-selection">
      <span>-</span><b-icon icon="chevron-down" />
    </button>

    <div class="booking-sidebar__menu">
      <div class="booking-sidebar__menu-item">
        <a :href="`${$mamikosUrl}/ownerpage/manage/all/booking`">
          <img
            :src="`${$mamikosUrl}/general/img/icons/ic_calendar_grey.svg`"
            class="booking-sidebar__menu-icon"
          /><span class="booking-sidebar__menu-text">Permintaan Booking</span>
        </a>
      </div>
      <div class="booking-sidebar__menu-item">
        <img
          :src="`${$mamikosUrl}/general/img/icons/ic_prop_booking_status_green.svg`"
          class="booking-sidebar__menu-icon"
        /><span class="booking-sidebar__menu-text active">Kelola Booking Langsung</span>
      </div>
    </div>
  </aside>
</template>

<script>
export default {
  name: 'BookingSidebar',
};
</script>

<style src="./BookingSidebar.scss" lang="scss" scoped></style>
