<template>
  <div id="propertyReviewsCard" class="property-reviews-card">
    <review-list :limit="2" />

    <div class="property-reviews-card__footer">
      <bg-link v-if="hasMore" @click="goToAllReviews" class="property-reviews-card__link">
        Lihat semua ulasan
      </bg-link>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex';
import { BgLink } from 'bangul-vue';

import ReviewList from '~/components/page-features/kos-reviews/components/ReviewList';

import dashboardTracker from '~/components/page-features/dashboard/mixins/dashboardTracker';

export default {
  name: 'PropertyReviewsCard',
  components: {
    BgLink,
    ReviewList,
  },
  mixins: [dashboardTracker],
  computed: {
    ...mapState('review', ['hasMore']),
  },
  methods: {
    goToAllReviews() {
      this.sendDashboardTracker('[Owner] OD Penilaian Kos Anda - Lihat Semua Ulasan Clicked');
      this.$router.push({ name: 'kos-reviews' });
    },
  },
};
</script>

<style lang="scss" scoped src="./PropertyReviewsCard.scss"></style>
