<template>
  <div @scroll="handleScrolling" class="review-list">
    <template v-if="isLoading">
      <bg-skeleton v-for="i in 2" :key="i" class="review-list__item" width="100%" height="100px" />
    </template>

    <template v-else>
      <rating-card
        v-for="(review, i) in reviewList"
        :key="`review-${i}`"
        :property-id="review.id"
        :property-photo="review.photo.small"
        :property-name="review.room_title"
        :rating-value="review.review_avg_rating"
        :review-count="review.review_count"
        class="review-list__item"
      />

      <bg-skeleton
        v-if="isLoadingFetchMore"
        class="review-list__item"
        width="100%"
        height="100px"
      />
    </template>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex';
import { BgSkeleton } from 'bangul-vue';

import RatingCard from '../RatingCard';

export default {
  name: 'ReviewList',
  components: {
    BgSkeleton,
    RatingCard,
  },
  props: {
    limit: {
      type: Number,
      default: 15,
    },
  },
  computed: {
    ...mapState('review', ['isLoading', 'isLoadingFetchMore', 'reviewList']),
  },
  created() {
    this.handleFetchReviews();
  },
  destroyed() {
    this.resetReviewItems();
  },
  methods: {
    ...mapActions('review', ['fetchReviews', 'resetReviewItems']),
    async handleFetchReviews() {
      try {
        await this.fetchReviews(this.limit);
      } catch (error) {
        this.$bugsnag.notify(error);
        this.$alert('is-danger', 'Gagal', 'Terjadi galat, silakan coba lagi.');
      }
    },
    handleScrolling(e) {
      this.$emit('scroll', e);
    },
  },
};
</script>

<style lang="scss" scoped src="./ReviewList.scss"></style>
