<template>
  <!-- eslint-disable-next-line vue/require-component-is -->
  <component :is="view"></component>
</template>

<script>
import pageView from '~/mixins/page-view';

export default {
  layout({ isDesktop }) {
    return `default/${isDesktop ? 'desktop' : 'mobile'}/index`;
  },
  head() {
    return this.$device.isDesktop
      ? { meta: [{ hid: 'viewport', name: 'viewport', content: 'width=1200' }] }
      : {};
  },
  meta: {
    hideBottomNavbar: true,
  },
  name: 'ContractRequestRoute',
  mixins: [pageView],
  data() {
    return {
      component: import(
        /* webpackChunkName: "page-view-contract-request" */ `~/components/page-features/contract/contract-request`
      ),
    };
  },
};
</script>
