<template>
  <div class="goldplus-package-detail">
    <bg-text size="title-3" class="goldplus-package-detail__title">
      {{ title }}
    </bg-text>

    <div class="goldplus-package-detail__item">
      <bg-grid :mobileOnly="gridType.mobile" :desktopOnly="gridType.desktop">
        <bg-grid-item :col="gridColumn.left" class="goldplus-package-detail__item-column">
          <bg-label-pill
            v-if="isGoldplusThreePackage"
            color="yellow"
            class="goldplus-package-detail__item-label"
          >
            GoldPlus 3
          </bg-label-pill>
          <bg-text :size="packageNameLabelSize" class="goldplus-package-detail__item-title">
            {{ packageName }}
          </bg-text>
          <bg-text
            v-if="packageDescription"
            size="body-4"
            class="goldplus-package-detail__item-description goldplus-package-detail_room-count"
          >
            {{ packageDescription }}
          </bg-text>
          <bg-text v-if="hasPackageInfo" size="body-3" class="goldplus-package-detail__item-info">
            {{ packageInfo }}
          </bg-text>
        </bg-grid-item>
        <bg-grid-item
          :col="gridColumn.right"
          v-if="isGoldplusThreePackage"
          class="goldplus-package-detail__item-column"
        >
          <img
            v-lazy="propertyDetail.property_image_url.medium"
            class="goldplus-package-detail__item-thumbnail"
          />
        </bg-grid-item>
      </bg-grid>
    </div>
  </div>
</template>

<script>
import _get from 'lodash/get';
import { BgText, BgLabelPill, BgGrid, BgGridItem } from 'bangul-vue';
import { toIDR } from '~/utils/currencyString';

export default {
  components: { BgGrid, BgGridItem, BgText, BgLabelPill },
  props: {
    orderDetail: {
      type: Object,
      required: true,
    },
    title: {
      type: String,
      default: 'Paket yang Anda pilih',
    },
  },
  computed: {
    isDesktop() {
      return this.$device.isDesktop;
    },
    gridType() {
      return {
        desktop: this.isDesktop,
        mobile: !this.isDesktop,
      };
    },
    gridColumn() {
      let gridMobile = { left: 4, right: 0 };
      let gridDesktop = { left: 12, right: 0 };

      if (this.isGoldplusThreePackage) {
        gridMobile = { left: 3, right: 1 };
        gridDesktop = { left: 8, right: 4 };
      }

      return this.isDesktop ? gridDesktop : gridMobile;
    },
    hasPackageInfo() {
      return this.orderDetail.contract_start_date && this.orderDetail.contract_end_date;
    },
    packageDetail() {
      return this.orderDetail.package;
    },
    propertyDetail() {
      return _get(this.orderDetail, 'property_detail', {});
    },
    isGoldplusThreePackage() {
      return this.packageDetail.package_type === 'goldplus_3';
    },
    packageNameLabelSize() {
      return this.isGoldplusThreePackage ? 'title-5' : 'title-4';
    },
    packageName() {
      return this.isGoldplusThreePackage
        ? this.propertyDetail.property_name
        : this.packageDetail.package_name;
    },
    packageDescription() {
      const package_price = toIDR(this.packageDetail.package_price);
      const normalPackageText = `${package_price}/bulan untuk semua kost anda`;

      if (this.isGoldplusThreePackage) {
        return this.propertyDetail.property_rooms_count
          ? `${this.propertyDetail.property_rooms_count} Kamar`
          : '';
      } else {
        return normalPackageText;
      }
    },
    packageInfo() {
      const { contract_start_date, contract_end_date } = this.orderDetail;

      return `Periode ${this.dateFormat(contract_start_date)} - ${this.dateFormat(
        contract_end_date,
      )}`;
    },
  },
  methods: {
    dateFormat(value) {
      return this.$dayjs(value).format('D MMM YYYY');
    },
  },
};
</script>

<style lang="scss" src="./GoldplusPaymentPackageDetail.scss" scoped></style>
