$dusty-gray-color: #949494;

.goldplus-package-detail {
  &__title {
    margin-bottom: 20px;
  }

  &__item-column {
    margin-bottom: 0 !important;
  }

  &__item-label {
    margin-bottom: 4px;
  }

  &__item-title {
    width: 100%;
    margin-bottom: 8px;
    overflow: hidden;

    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__item-description {
    margin-bottom: 8px;
  }

  &__item-info {
    color: $dusty-gray-color;
  }

  &__item-thumbnail {
    float: right;
    width: 72px;
    height: 72px;
    border: 1px solid rgba(48, 48, 48, 0.1);
    border-radius: 8px;
  }
}
