<template>
  <div>
    <transition name="fade" mode="out-in">
      <!-- eslint-disable-next-line vue/require-component-is -->
      <component
        v-if="!isLoading"
        :is="sequenceComponents[order].componentName"
        v-model="sequenceComponents[order].model"
        @closed="handleModalClosed"
        class="modal-init-exists"
      ></component>
      <template v-else>
        <div v-if="totalSequences" class="modal-init-loading">
          <div class="c-loader"></div>
        </div>
      </template>
    </transition>
  </div>
</template>

<script>
export default {
  name: 'ModalInitSequencer',
  data() {
    return {
      order: 0,
      isLoading: true,
      modals: [
        {
          flag: 'profile/showModalVerifyPhone',
          componentName: 'VerifyPhone',
        },
        {
          flag: 'profile/showModalNeedPassword',
          componentName: 'NeedPassword',
        },
        {
          flag: 'profile/showModalSurveyPremium',
          componentName: 'PremiumSurvey',
        },
      ],
      sequenceComponents: [],
      totalSequences: 0,
    };
  },
  mounted() {
    // this code will loop to fetch modal chunk. It will work if API profile has been fetched
    this.modals.forEach(({ componentName, flag }) => {
      if (this.$store.getters[flag]) {
        this.getModal(componentName, this.$store.getters[flag]);
        this.totalSequences = this.totalSequences + 1;
      }
    });
  },
  methods: {
    /**
     * get each modal chunk
     */
    async getModal(componentName, isShow) {
      if (!isShow) return;
      this.sequenceComponents.push({
        componentName: `Modal${componentName}`,
        model: true,
      });
      const modal = await import(
        /* webpackChunkName: "modal-sequencer" */ `~/components/layout-features/default/Modal${componentName}/index.js`
      );
      this.$options.components[`Modal${componentName}`] = modal.default;
      const modalComponents = Object.values(this.$options.components).filter(
        (component) => typeof component === 'object',
      );
      // reach last modal component
      if (modalComponents.length === this.totalSequences) this.isLoading = false;
    },
    handleModalClosed() {
      // when all modals have been showed
      if (this.order >= this.totalSequences - 1) {
        this.$popupOrder.next();
      }

      if (this.order + 1 < this.totalSequences) this.order = this.order + 1;
    },
  },
};
</script>

<style lang="scss" src="./ModalInitSequencer.scss" scoped></style>
