.bm-filter-list-modal {
  width: 100%;
  padding: 20px;

  &__header {
    text-align: right;

    .close-icon {
      &:hover {
        cursor: pointer;
      }
    }
  }

  &__card {
    width: 558px;
    max-height: unset;
  }

  &__body {
    width: 100%;
    padding: 10px 20px;
    overflow-y: auto;
    text-align: center;

    .title {
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 8px;
    }

    .label {
      width: calc(100vw - 1025px);
      overflow: hidden;
      font-size: 16px;
      font-style: normal;
      font-weight: normal;
      line-height: 24px;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  &__footer {
    border-top: 0;
    text-align: center;
    @media (max-width: 480px) {
      justify-content: space-between;
    }

    button {
      font-weight: bold;
      margin-right: 10px;
      @media (max-width: 480px) {
        margin: 0px 6px;
        width: 50%;
        height: 48px;
      }
    }
  }
}

@media (max-width: 480px) {
  .bm-filter-list-modal {
    &__card {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100vw;
      height: unset;
      margin: 0 auto;
      border-radius: 0;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
    }

    &__body {
      max-height: unset;
      .label {
        width: 275px;
      }
    }

    &__footer {
    }
  }
}
