<template>
  <mk-modal v-model="active" class="bm-filter-list-modal">
    <mk-card v-show="isShowCard" class="bm-filter-list-modal__card">
      <mk-card-header class="bm-filter-list-modal__header ">
        <b-icon @click.native="hideModal" class="close-icon" icon="close" size="is-medium" />
      </mk-card-header>
      <mk-card-body class="bm-filter-list-modal__body">
        <img src="~assets/images/billing_management/il_empty-search.svg" />
        <h1 class="title">
          Ubah Akun Bank Melalui Aplikasi
        </h1>

        <p>
          Perubahaan akun bank Anda hanya bisa dilakukan melalui Aplikasi Mamikos.
        </p>
      </mk-card-body>
      <mk-card-footer class="bm-filter-list-modal__footer">
        <mk-button @click.native="hideModal" color="green-brand" size="large"
          >Saya Mengerti</mk-button
        >
      </mk-card-footer>
    </mk-card>
  </mk-modal>
</template>

<script>
import MkButton from '~/components/global/atoms/MkButton';
import MkModal, { mixin as modalMixin } from '~/components/global/molecules/MkModal/MkModal';
import MkCard from '~/components/global/molecules/MkCard';
import MkCardHeader from '~/components/global/molecules/MkCard/components/MkCardHeader';
import MkCardBody from '~/components/global/molecules/MkCard/components/MkCardBody';
import MkCardFooter from '~/components/global/molecules/MkCard/components/MkCardFooter';

export default {
  name: 'DetailBillPayModal',
  components: {
    MkButton,
    MkModal,
    MkCard,
    MkCardHeader,
    MkCardBody,
    MkCardFooter,
  },
  mixins: [modalMixin],
  data() {
    return {
      isShowCard: true,
      isLoading: false,
    };
  },
  computed: {
    page() {
      return this.$route.query.page;
    },
  },
  watch: {
    active(val) {
      this.isShowCard = val;
    },
  },
  methods: {
    hideModal() {
      this.toggleModal(false);
      this.isShowCard = false;
    },
  },
};
</script>

<style lang="scss" scoped src="./DetailBillChangeBankModal.scss"></style>
