.c-wrapper {
  width: 808px;
  margin: 24px auto 0;

  @media (max-width: 1024px) {
    width: 360px;
    margin: 1px auto 0;
  }
}

::v-deep .bg-c-link--medium-naked {
  font-weight: bold;
  line-height: 24px;
}

::v-deep .bg-c-illustration {
  width: 100%;
  height: auto;
}

.c-body {
  position: relative;
  display: flex;
  margin: 0;

  @media (max-width: 1024px) {
    display: inline;
    margin: 0;
  }

  &__content {
    width: 389px;
    height: auto;

    @media (max-width: 1024px) {
      width: 360px;
      height: auto;
    }
  }
  &__illustration {
    width: 389px;
    height: 288px;
    margin: 24px auto 0;

    @media (max-width: 1024px) {
      width: 328px;
      height: auto;
      margin: 2px auto 0;
    }
  }
}

.l-right {
  position: relative;
  left: 25px;

  @media (max-width: 1024px) {
    left: 0;
  }
}

.c-title {
  width: 388px;
  height: auto;
  margin: 59px 0 0 27px;

  @media (max-width: 1024px) {
    width: 328px;
    height: auto;
    margin: 16px auto 0;
  }

  &__content {
    font-size: 32px;
    font-weight: 900;
    line-height: 40px;
    color: #303030;

    @media (max-width: 1024px) {
      font-size: 28px;
      line-height: 36px;
      text-align: center;
    }
  }
  &__info {
    margin: 8px 0 0;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: normal;
    line-height: 30px;
    color: #404040;

    @media (max-width: 1024px) {
      margin: 16px 0 0;
      font-size: 14px;
      line-height: 20px;
      text-align: center;
    }
  }
}

// line mobile
hr {
  margin: 0;
}
.c-line {
  position: fixed;
  right: 0;
  bottom: 72px;
  left: 0;
  width: 100%;
  height: 1px;
  margin: 15 0;
  background: #e8e8e8;

  &__top {
    position: inline;
    right: 0;
    bottom: 0;
    left: 0;
    width: 328px;
    margin: 24px auto 0;
  }
}

.c-button {
  width: 388px;
  height: 120px;
  margin: 32px auto;
  @media (max-width: 1024px) {
    position: fixed;
    right: 0;
    bottom: 16px;
    left: 0;
    width: 100%;
    height: auto;
    margin: 0;
  }

  &__content {
    display: flex;
    width: 388px;
    text-align: left;
    justify-content: space-between;

    @media (max-width: 1024px) {
      width: 328px;
      margin-right: auto;
      margin-left: auto;
    }
  }

  &__mobile {
    width: 180px;
    @media (max-width: 1024px) {
      width: 156px;
    }
  }
}
