<template>
  <div class="c-wrapper">
    <div v-if="isDesktop" @click="prevPage" class="c-navigation">
      <bg-link variant="medium-naked">Kembali</bg-link>
    </div>
    <div class="c-body">
      <div class="c-body__content">
        <div class="c-body__illustration">
          <bg-illustration
            name="business-with-goldplus"
            alt="business-with-goldplus"
            height="325"
            width="278"
          />
        </div>
      </div>
      <div class="l-right c-title">
        <div class="c-title__content">
          Yuk, lanjut kembangkan bisnis kos Anda bersama GoldPlus
        </div>
        <div class="c-title__info">
          Agar langganan GoldPlus Anda tidak dibatalkan oleh sistem, segera bayar sebelum
          <b>{{ expiredDate }}</b
          >.
        </div>

        <hr v-if="!isDesktop" class="c-line" />
        <div class="c-button">
          <div class="c-button__content">
            <div class="c-button__mobile">
              <bg-button @click="others" variant="tertiary" size="lg" block>Lain Kali</bg-button>
            </div>
            <div class="c-button__mobile">
              <bg-button @click="nextPage" variant="primary" size="lg" block>Bayar</bg-button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import { BgIllustration, BgButton, BgLink } from 'bangul-vue';
export default {
  name: 'OfferExtendGp',
  components: {
    BgLink,
    BgButton,
    BgIllustration,
  },

  data() {
    return {
      invoiceId: localStorage.getItem('invoiceId'),
    };
  },
  computed: {
    ...mapGetters('profile', ['user', 'isPremium']),
    expiredDate() {
      return this.$dayjs(localStorage.getItem('gpExpired')).format('DD MMM YYYY');
    },

    isDesktop() {
      return this.$device.isDesktop;
    },
  },

  created() {
    this.sendVisitedTrackerEvent();
  },

  methods: {
    prevPage() {
      this.$router.push({ path: '/exit-gp-statistic/benefit-gp' });
    },
    others() {
      this.$router.push({ path: '/exit-gp-statistic/see-other-performance' });
    },

    nextPage() {
      this.sendCLickTrackerEvent();
      this.$router.push({ path: `/goldplus/payment/${this.invoiceId}` });
    },

    // tracker event
    sendVisitedTrackerEvent() {
      this.$tracker.send('moe', [
        '[Owner] GP Expired Reminder Payment Suggestion Visited',
        {
          interface: this.isDesktop ? 'desktop' : 'mobile',
          owner_name: this.user.name === null ? '' : this.user.name,
          owner_phone_number: this.user.phone_number,
          owner_email: this.user.email,
          owner_premium_status: this.isPremium,
          goldplus_status: window.localStorage.getItem('packageStatus'),
        },
      ]);
    },

    // tracker event
    sendCLickTrackerEvent() {
      this.$tracker.send('moe', [
        '[Owner] GP Expired Reminder "Bayar" Clicked',
        {
          interface: this.isDesktop ? 'desktop' : 'mobile',
          owner_name: this.user.name === null ? '' : this.user.name,
          owner_phone_number: this.user.phone_number,
          owner_email: this.user.email,
          owner_premium_status: this.isPremium,
          goldplus_status: window.localStorage.getItem('packageStatus'),
        },
      ]);
    },
  },
};
</script>

<style lang="scss" src="./OfferExtendGp.scss" scoped></style>
