<template>
  <div class="goldplus-payment-empty-list">
    <bg-text :size="headingSize">{{ title }}</bg-text>
    <span class="goldplus-payment-empty-list__content">
      <bg-text class="goldplus-payment-empty-list__content" size="body-2">{{ content }}</bg-text>
    </span>
  </div>
</template>

<script>
import { BgText } from 'bangul-vue';

export default {
  components: {
    BgText,
  },
  props: {
    isUnpaid: {
      type: Boolean,
      default: true,
    },
  },
  data() {
    return {
      content: 'Semua tagihan yang belum dibayar dan tagihan mendatang akan muncul di halaman ini.',
    };
  },
  computed: {
    isMobile() {
      return this.$device.isMobile;
    },
    headingSize() {
      return this.isMobile ? 'heading-5' : 'heading-4';
    },
    title() {
      return this.isUnpaid ? 'Tidak Ada yang Perlu Dibayar' : 'Belum Ada Tagihan yang Selesai';
    },
  },
};
</script>

<style lang="scss" scoped src="./GoldPlusPaymentEmptyList.scss" />
