<template>
  <!-- eslint-disable-next-line vue/require-component-is -->
  <component :is="view"></component>
</template>

<script>
import blacklistRouterMixin from '~/mixins/blacklist-router';
import pageView from '~/mixins/page-view';

export default {
  layout({ isDesktop }) {
    return `default/${isDesktop ? 'desktop' : 'mobile'}/index`;
  },
  head() {
    const header = { title: 'Manajemen Kos - Kelola tagihan Anda' };
    if (this.$device.isDesktop) {
      header.meta = [{ hid: 'viewport', name: 'viewport', content: 'width=1200' }];
    }
    return header;
  },
  meta: {
    topNavbarTitle: 'Kelola Tagihan',
    prevPath: {
      path: '/',
    },
  },
  name: 'BillingManagementParent',
  mixins: [pageView, blacklistRouterMixin],
  data() {
    let component;
    // component path needs to write explicitly so that webpack can create chunk based on explicit path
    if (this.$device.isDesktop) {
      component = import(
        /* webpackChunkName: "page-view-billing-management-desktop" */ `~/components/page-features/kelola-tagihan/desktop`
      );
    } else {
      component = import(
        /* webpackChunkName: "page-view-billing-management-mobile" */ `~/components/page-features/kelola-tagihan/mobile`
      );
    }
    return {
      component,
    };
  },
};
</script>

<style></style>
