$line-height: 1.5rem;

/* stylelint-disable value-no-vendor-prefix, property-no-vendor-prefix, selector-max-compound-selectors, selector-max-type */

.reward-card {
  position: relative;
  padding: 2px;
  overflow: hidden;

  &.--has-highlight {
    &::before {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 10;
      display: block;
      width: 100%;
      height: 100%;
      content: '';
      background-color: rgba(0, 0, 0, 0.6);
    }

    .reward-card__card {
      position: relative;
      z-index: 11;
      width: 100%;
      background-color: #fff;
    }

    .guide-popover {
      height: 0;
    }
  }

  &__card-wrapper {
    z-index: 0;
    display: block;
    width: 100%;
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 0 1px 4px rgba(36, 36, 36, 0.14);

    @media (max-width: 768px) {
      border-radius: 8px;
    }

    &::after {
      position: absolute;
      top: calc(50% - 16px);
      right: -16px;
      z-index: 1;
      width: 32px;
      height: 32px;
      content: '';
      background-color: #fff;
      border-top-left-radius: 50%;
      border-bottom-left-radius: 50%;
      box-shadow: inset 3px 1px 5px rgba(36, 36, 36, 0.14);

      @media (max-width: 768px) {
        background-color: #fcfcfc;
      }
    }
  }

  &__card {
    position: relative;
    margin: 0;
    background: unset;
    box-shadow: unset;
  }

  &__body {
    position: relative;
    padding: 0;
    background: unset;
    border-radius: 16px;
  }
}

.reward-body {
  display: flex;
  height: 128px;

  &__content {
    display: flex;
    width: 75%;
    padding: 20px 24px;
    line-height: $line-height;
    flex-direction: column;
    border-right: 2px dashed #ddd;

    @media (max-width: 768px) {
      padding: 20px 10px;
    }

    @media (max-width: 480px) {
      width: 65%;
    }

    .content-name {
      position: relative;
      display: block; // fallback
      display: -webkit-box;
      min-height: $line-height * 2;
      max-height: $line-height * 2;
      padding-right: 1rem;
      overflow: hidden;
      font-style: normal;
      font-weight: bold;
      text-overflow: ellipsis;
      word-break: break-word;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;

      &__text {
        position: relative;
        word-break: break-word;
      }
    }

    .content-status {
      display: flex;
      margin-top: auto;
      align-items: center;

      &__image {
        height: 16px;
        margin-right: 5px;
      }

      &__text {
        font-size: 16px;
        font-style: normal;
        font-weight: bold;
        line-height: 1.5;
        color: #404040;
      }
    }
  }

  &__action {
    display: flex;
    width: 25%;
    padding: 25px 30px 25px 15px;
    text-align: center;
    align-items: center;
    justify-content: center;

    @media (max-width: 768px) {
      padding: 20px 25px 20px 10px;
    }

    @media (max-width: 480px) {
      width: 35%;
    }

    .action-button {
      padding: 0;
      font-size: 14px;
      font-style: normal;
      font-weight: bold;
      line-height: 1.125;
      color: #1baa56;
      text-decoration: none;
      white-space: normal;
      background-color: #fff;

      ::v-deep > span {
        max-width: 60px;
      }

      &:hover,
      &:focus {
        text-decoration: underline;
        background-color: unset;
      }

      &[disabled] {
        opacity: 1;
      }
    }
  }
}
