<template>
  <div ref="rewardCard" :class="{ '--has-highlight': isPopoverShown }" class="reward-card">
    <div class="reward-card__card-wrapper">
      <mk-card class="reward-card__card">
        <mk-card-body class="reward-card__body">
          <div class="reward-body">
            <div class="reward-body__content">
              <div class="content-name">
                <span class="content-name__text">
                  {{ reward.name | shortenText }}
                </span>
              </div>
              <div class="content-status">
                <img
                  class="content-status__image"
                  src="~/assets/images/mamipoin/mamicoin-basic.svg"
                />
                <span class="content-status__text">
                  {{ reward.redeem_value | toThousands }} poin
                </span>
              </div>

              <guide-popover
                v-if="isPopoverShown"
                :is-active="isPopoverShown"
                :title="popoverText.title"
                :boundaries-element="popoverBoundaries"
                :message="popoverText.message"
                :offset="popoverOffset"
                :placement="popoverPlacement"
                @click:popover-button="closePopover"
              />
            </div>
            <div class="reward-body__action">
              <b-button
                @click.native="sendTrackerEvent"
                :to="`/mamipoin/rewards/${reward.id}`"
                :disabled="isPopoverShown"
                type="is-link"
                tag="router-link"
                class="action-button"
              >
                Lihat Hadiah
              </b-button>
            </div>
          </div>
        </mk-card-body>
      </mk-card>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters } from 'vuex';

import onboardingMixin from '~/components/page-features/mamipoin/mixins/onboarding';

import MkCard from '~/components/global/molecules/MkCard';
import MkCardBody from '~/components/global/molecules/MkCard/components/MkCardBody';
import GuidePopover from '~/components/page-features/mamipoin/components/GuidePopover';

import { shortenText } from '~/utils/string';

export default {
  name: 'RewardCard',
  components: { MkCard, MkCardBody, GuidePopover },
  filters: {
    shortenText,
  },
  mixins: [onboardingMixin],
  props: {
    reward: {
      required: true,
      type: Object,
    },
  },
  inject: ['parent'],
  data() {
    return {
      popover: {
        firstReward: {
          title: 'Hadiah Bisa Ditukar',
          message:
            'Anda dapat menukar poin Anda sesuai dengan jumlah yang dibutuhkan hadiah terkait.',
        },
      },
    };
  },
  computed: {
    ...mapGetters('profile', ['user', 'isPremium', 'isBooking', 'membership']),
    ...mapState('mamipoin', ['rewardDetailPage']),
    rewardsPage: {
      get() {
        return this.$store.state.mamipoin.rewardsPage;
      },
      set(val) {
        this.$store.commit('mamipoin/setRewardsPage', val);
      },
    },
    popoverOffset() {
      const desktopOffset = this.isFirstRewardPopoverShown ? 0 : 20;
      const mobileOffset = this.isFirstRewardPopoverShown ? 20 : 40;
      return this.isDesktop ? desktopOffset : mobileOffset;
    },
    popoverPlacement() {
      return this.isDesktop && this.isFirstRewardPopoverShown ? 'top-start' : 'bottom-left';
    },
    popoverText() {
      return this.popover[this.rewardsPage.currentOnboardingStep] || {};
    },
    isDesktop() {
      return this.$device.isDesktop;
    },
    popoverBoundaries() {
      return this.isDesktop && this.isFirstRewardPopoverShown
        ? this.parent.$refs.rewardSticky
        : this.parent.$refs.rewardContent;
    },
    isFirstRewardPopoverShown() {
      return (
        !this.rewardsPage.hasViewedOnboarding &&
        this.rewardsPage.currentOnboardingStep === 'firstReward' &&
        this.reward.index === 0
      );
    },
    isPopoverShown() {
      return !this.isProfileModalShown && this.isFirstRewardPopoverShown;
    },
    totalMamipoin() {
      return this.$store.state.profile.data.total_mamipoin || 0;
    },
  },
  mounted() {
    if (this.isFirstRewardPopoverShown) {
      this.scrollToThisCard();
    }
  },
  methods: {
    sendTrackerEvent() {
      this.$tracker.send('moe', [
        '[Owner] Reward Detail Page Visited',
        {
          interface: this.isDesktop ? 'desktop' : 'mobile',
          redirection_source: '[Owner] Mamipoin Reward Page',
          is_owner: true,
          is_mamipay: this.membership.is_mamipay_user,
          is_booking: this.isBooking,
          is_premium_owner: this.isPremium,
          point_total: this.totalMamipoin,
          reward_id: this.reward.id,
          reward_type: this.reward.type,
          reward_name: this.reward.name,
        },
      ]);
    },
    scrollToThisCard() {
      this.$el && this.$el.scrollIntoView({ block: 'start' });
    },
    closePopover() {
      this.rewardsPage = {
        ...this.rewardsPage,
        ...{
          hasViewedOnboarding: false,
          currentOnboardingStep: 'faq',
        },
      };
    },
  },
};
</script>

<style lang="scss" scoped src="./RewardCard.scss"></style>
