.form-price-dp {
  ::v-deep {
    .c-mk-button {
      width: 180px;
      font-size: 1em;
      font-weight: bold;
    }
  }

  &__box {
    padding: 10px;
    margin-top: 20px;
    line-height: 2.5;
    background-color: #fafafa;
    border: 1px solid #e8e8e8;
    border-radius: 8px;
  }

  &__price-list {
    display: flex;
    justify-content: space-between;
  }

  &__price-label {
    font-weight: bold;
  }

  &__action-button {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 25px;
  }
}
