<template>
  <div class="form-price-dp">
    <div class="form-price-dp__amount">
      <mk-field-select
        :disabled="isLoading"
        :options="dpOptions"
        :selected="dpVal"
        @change="onChangeDp"
        @focus="handleFocus(true)"
        @blur="handleFocus(false)"
        label="Jumlah Uang Muka (DP)"
      />
    </div>

    <div class="form-price-dp__box">
      <template v-for="price in priceList">
        <div
          v-if="price.price && price.price >= 0"
          :key="`${price.name}-${price.price}`"
          class="form-price-dp__price-list"
        >
          <span class="form-price-dp__price-label">{{ price.label }}</span>
          <span>{{ toIDR(price.price) }}</span>
        </div>
      </template>
    </div>

    <div class="form-price-dp__action-button">
      <mk-button
        @clicked="saveDp"
        :disabled="isLoading"
        :has-spinner="isLoading"
        class="additional-price-action-button"
        color="green-brand"
      >
        Simpan
      </mk-button>
    </div>
  </div>
</template>

<script>
import MixinRoomAdditionalPrice from '../../mixins/room-additional-price-form';
import MkButton from '~/components/global/atoms/MkButton';
import MkFieldSelect from '~/components/global/atoms/MkFieldSelect';

export default {
  name: 'AdditionalFormPriceDp',

  components: {
    MkButton,
    MkFieldSelect,
  },

  mixins: [MixinRoomAdditionalPrice],

  props: {
    kostDetail: {
      type: Object,
      required: true,
    },
  },

  data() {
    return {
      dpOptions: [
        { value: 10, label: '10%' },
        { value: 20, label: '20%' },
        { value: 30, label: '30%' },
        { value: 40, label: '40%' },
        { value: 50, label: '50%' },
      ],
      priceList: [
        { name: 'monthly', label: 'DP Sewa Per Bulan', price: 0 },
        { name: 'quarterly', label: 'DP Sewa Per 3 Bulan', price: 0 },
        { name: 'semiannually', label: 'DP Sewa Per 6 Bulan', price: 0 },
        { name: 'yearly', label: 'DP Sewa Per Tahun', price: 0 },
        { name: 'weekly', label: 'DP Sewa Per Minggu', price: 0 },
      ],
      dpVal: 10,
      isFocus: false,
    };
  },

  computed: {
    priceListBase() {
      return [
        { name: 'monthly', price: this.kostDetail.price_monthly },
        { name: 'quarterly', price: this.kostDetail.price_3_month },
        { name: 'semiannually', price: this.kostDetail.price_6_month },
        { name: 'yearly', price: this.kostDetail.price_yearly },
        { name: 'weekly', price: this.kostDetail.price_weekly },
      ];
    },
  },

  watch: {
    dpVal: {
      immediate: true,
      handler(discount) {
        this.applyDiscount(discount);
      },
    },
    isFocus: {
      handler(state) {
        this.formatLabelSelected();
      },
    },
  },

  created() {
    this.setInitialDp();
  },

  methods: {
    setInitialDp() {
      const defaultPercentage = 10;

      if (this.value) {
        const percentage = this.getMetaValue(this.value.meta, 'percentage', 10);
        if (isNaN(percentage)) {
          this.onChangeDp(10);
        } else {
          const dp = this._find(this.dpOptions, ['value', Number(percentage)]);
          this.onChangeDp(dp ? Number(percentage) : defaultPercentage);
        }
      }

      this.formatLabelSelected();
    },
    onChangeDp(value) {
      this.dpVal = value;
    },
    handleFocus(state) {
      this.isFocus = state;
    },
    formatLabelSelected() {
      const index = this.dpOptions.findIndex((item) => item.value === this.dpVal);

      this.dpOptions[index].label = this.isFocus
        ? `${this.dpVal}%`
        : `${this.dpVal}% dari harga sewa`;
    },
    applyDiscount(discount) {
      for (let i = 0; i < this.priceList.length; i++) {
        this.priceList[i].price = this.roundPrice(discount, this.priceListBase[i].price);
      }
    },
    saveDp() {
      this.submit({ percentage: this.dpVal });
    },
  },
};
</script>

<style src="./AdditionalFormPriceDp.scss" lang="scss" scoped></style>
