<template>
  <!-- eslint-disable-next-line vue/require-component-is -->
  <component :is="view"></component>
</template>

<script>
import { mapState } from 'vuex';
import blacklistRouterMixin from '~/mixins/blacklist-router';
import pageView from '~/mixins/page-view';

export default {
  layout({ isDesktop }) {
    return `default/${isDesktop ? 'desktop' : 'mobile'}/index`;
  },
  head() {
    const header = {
      title: 'Detail Hadiah Mamipoin',
    };
    if (this.$device.isDesktop) {
      header.meta = [{ hid: 'viewport', name: 'viewport', content: 'width=1200' }];
    }
    return header;
  },
  name: 'MamipoinRewardDetailPage',
  mixins: [pageView, blacklistRouterMixin],
  meta: {
    showMobileBackButton: true,
    hideMobileFloatingChat: true,
    prevPath: {
      name: 'mamipoin-rewards',
      path: '/mamipoin/rewards',
    },
  },
  data() {
    let component;
    // component path needs to write explicitly so that webpack can create chunk based on explicit path
    if (this.$device.isDesktop) {
      component = import(
        /* webpackChunkName: "page-view-mamipoin-redeem-detail" */ `~/components/page-features/mamipoin/pages/redeem/pages/detail/desktop`
      );
    } else {
      component = import(
        /* webpackChunkName: "page-view-mamipoin-redeem-detail" */ `~/components/page-features/mamipoin/pages/redeem/pages/detail/mobile`
      );
    }
    return {
      component,
    };
  },
  computed: {
    isDesktop() {
      return this.$device.isDesktop;
    },
    ...mapState('mamipoin', ['redeemDetailPage']),
  },
  mounted() {
    if (this.redeemDetailPage.prevPath && !this.isDesktop) {
      this.$store.commit('mobile/setPrevPath', this.redeemDetailPage.prevPath);
    }
  },
};
</script>
