<template>
  <mk-modal v-model="showModal">
    <div :class="{ 'success-modal': isShowSuccessModal }" class="goldplus-submission-modal-wrapper">
      <div class="goldplus-submission-modal-wrapper__header">
        <b-icon
          @click.native="closeModal"
          icon="close"
          size="is-medium"
          class="goldplus-submission-modal-wrapper__close-button"
        ></b-icon>
      </div>

      <!-- eslint-disable-next-line vue/require-component-is -->
      <component :is="currentComponent" />
    </div>
  </mk-modal>
</template>

<script>
import GoldPlusSubmissionSuccessModalBody from '../GoldPlusSubmissionSuccessModalBody';
import GoldPlusSubmissionTnCModalBody from '../GoldPlusSubmissionTnCModalBody';
import MkModal, { mixin as modalMixin } from '~/components/global/molecules/MkModal/MkModal';
import EventBus from '~/components/event-bus/index.js';

/* eslint-disable vue/no-unused-components */

export default {
  name: 'GoldPlusSubmissionModalWrapper',
  components: {
    MkModal,
    'success-modal-body': GoldPlusSubmissionSuccessModalBody,
    'tnc-modal-body': GoldPlusSubmissionTnCModalBody,
  },
  mixins: [modalMixin],
  model: {
    prop: 'active',
    event: 'update:active',
  },
  data() {
    return {
      isShowSuccessModal: false,
      modalBodies: [
        {
          component: GoldPlusSubmissionSuccessModalBody,
        },
        {
          component: GoldPlusSubmissionTnCModalBody,
        },
      ],
    };
  },
  computed: {
    showModal: {
      get() {
        return this.active;
      },
      set(val) {
        this.$emit('update:active', val);
      },
    },
    currentComponent() {
      return this.isShowSuccessModal ? 'success-modal-body' : 'tnc-modal-body';
    },
  },
  mounted() {
    EventBus.$on('onSubmitSuccess', (val) => {
      this.isShowSuccessModal = val;
    });
  },
  methods: {
    async backToDashboard() {
      await this.$store.dispatch('goldplus/getActiveStatus');
      this.$router.push('/');
    },
    closeModal() {
      return this.isShowSuccessModal ? this.backToDashboard() : this.toggleModal(false);
    },
  },
};
</script>

<style lang="scss" src="./GoldPlusSubmissionModalWrapper.scss" scoped></style>
