.goldplus-submission-modal-wrapper {
  width: 100vw;
  height: 100vh;
  background-color: #fff;

  @media (min-width: 768px) {
    max-width: 800px;
    max-height: 600px;
    border-radius: 16px;
  }

  &__header {
    width: 100%;
    padding: 12px 16px;
    border-bottom: 1px solid #e8e8e8;

    @media (min-width: 768px) {
      position: unset;
      padding: 24px 48px 0;
      text-align: right;
      border-bottom: unset;
    }
  }
}

.success-modal {
  @media (min-width: 768px) {
    max-width: 596px !important;
    max-height: 486px !important;

    .goldplus-submission-modal-wrapper {
      &__header {
        padding: 24px 24px 0;
      }
    }
  }
}
