<template>
  <!-- eslint-disable-next-line vue/require-component-is -->
  <component :is="view"></component>
</template>

<script>
import blacklistRouterMixin from '~/mixins/blacklist-router';
import pageView from '~/mixins/page-view';

export default {
  name: 'PremiumDashboardParent',
  layout({ isDesktop }) {
    return `default/${isDesktop ? 'desktop' : 'mobile'}/index`;
  },
  head() {
    const header = {
      title: 'Atur Pemasaran Properti Anda - Halaman Premium',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content:
            'Naikkan posisi iklan dengan fitur Premium dan jangkau lebih banyak calon penghuni',
        },
        {
          hid: 'og:description',
          name: 'og:description',
          content:
            'Naikkan posisi iklan dengan fitur Premium dan jangkau lebih banyak calon penghuni',
        },
      ],
    };
    if (this.$device.isDesktop) {
      header.meta.push({ hid: 'viewport', name: 'viewport', content: 'width=1200' });
    }
    return header;
  },
  meta: {
    topNavbarTitle: 'Premium',
    desktopBodyBackground: '#f6f6f6',
    mobileBodyBackground: '#fff',
    prevPath: {
      path: '/manage-kos',
    },
  },
  mixins: [pageView, blacklistRouterMixin],
  data() {
    let component;
    // component path needs to write explicitly so that webpack can create chunk based on explicit path
    if (this.$device.isDesktop) {
      component = import(
        /* webpackChunkName: "page-view-premium-dashboard-desktop" */ `~/components/page-features/premium-dashboard/desktop`
      );
    } else {
      component = import(
        /* webpackChunkName: "page-view-premium-dashboard-mobile" */ `~/components/page-features/premium-dashboard/mobile`
      );
    }
    return {
      component,
    };
  },
};
</script>
