<template>
  <div v-if="active" :class="{ 'is-active': active }" class="modal c-mk-modal">
    <div @click="handleBackdropClicked" class="modal-background c-mk-modal__background"></div>
    <div class="c-mk-modal__body">
      <slot />
    </div>
  </div>
</template>

<script>
/**
 * use this on your own modal to implement this options.
 * Then, add v-model="active" on <mk-modal> component
 */
export const mixin = {
  model: {
    prop: 'active',
    event: 'update:active',
  },
  props: {
    active: {
      type: Boolean,
      default: false,
    },
  },
  methods: {
    toggleModal(isOpen) {
      this.$emit('update:active', isOpen);
      !isOpen && this.$emit('closed');
    },
  },
};

export default {
  name: 'MkModal',
  mixins: [mixin],
  props: {
    width: {
      type: Number,
      default: null,
    },
    /**
     * determine backdrop clickable or not to close modal
     */
    backdrop: {
      type: Boolean,
      default: false,
    },
  },
  methods: {
    handleBackdropClicked() {
      if (this.backdrop) {
        this.$emit('update:active', false);
        this.$emit('closed');
      }
      this.$emit('backdropClick');
    },
  },
};
</script>

<style lang="scss" src="./MkModal.scss"></style>
