.c-mk-modal {
  &.modal {
    z-index: 1031;
  }

  &__background {
    background-color: rgba(50, 50, 50, 0.52);
    animation: fadeIn 0.25s;
  }

  &__body {
    z-index: 5;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
