<template>
  <nav class="c-mk-back-nav-desktop">
    <bg-link v-bind="$attrs" @click="$emit('back')" class="c-mk-back-nav-desktop__back">
      <bg-icon name="back" size="lg" />
    </bg-link>
    <bg-text v-if="title" size="heading-3" class="c-mk-back-nav-desktop__title">
      {{ title }}
    </bg-text>
    <slot v-else-if="$slots.default"></slot>
  </nav>
</template>

<script>
import { BgLink, BgIcon, BgText } from 'bangul-vue';
export default {
  name: 'MkBackNavDesktop',
  components: {
    BgLink,
    BgIcon,
    BgText,
  },
  props: {
    title: {
      type: String,
      default: '',
    },
  },
};
</script>

<style lang="scss" src="./MkBackNavDesktop.scss" scoped></style>
