.c-field-select {
  width: 100%;

  &__select {
    position: relative;
    width: 100%;
    height: 48px;
    padding: calc(0.375em - 1px) calc(0.625em - 1px);
    margin-top: 10px;
    font-size: 16px;
    line-height: 1.5;
    color: #363636;
    vertical-align: top;
    background-color: #fff;
    border: 1px solid transparent;
    border-color: #dbdbdb;
    border-radius: 4px;
    box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);

    &:focus,
    &:active {
      border-color: #1baa56;
      outline: none;
      box-shadow: none;
    }
  }
}
