<template>
  <div class="c-field-select">
    <label v-if="label" class="c-field-select__label">
      {{ label }}
    </label>

    <div class="c-field-select__select-wrapper">
      <select
        :name="name"
        v-model="selectedValue"
        @focus="handleOnFocus"
        @blur="handleOnBlur"
        class="c-field-select__select"
      >
        <option v-for="(option, index) in options" :key="index" :value="option.value">
          {{ option.label }}
        </option>
      </select>
    </div>
  </div>
</template>

<script>
export default {
  name: 'MkFieldSelect',

  props: {
    name: {
      type: String,
      default: '',
    },
    label: {
      type: String,
      default: '',
    },
    options: {
      type: Array,
      required: true,
    },
    selected: {
      type: [String, Number],
      default: '',
    },
  },

  data() {
    return {
      selectedValue: this.selected,
    };
  },

  watch: {
    selectedValue(value) {
      this.$emit('change', value);
    },
  },

  methods: {
    handleOnFocus() {
      this.$emit('focus');
    },
    handleOnBlur() {
      this.$emit('blur');
    },
  },
};
</script>

<style lang="scss" src="./MkFieldSelect.scss" scoped></style>
