<template>
  <!-- eslint-disable-next-line vue/require-component-is -->
  <component :is="view"></component>
</template>

<script>
import pageView from '~/mixins/page-view';

export default {
  layout({ isDesktop }) {
    return `default/${isDesktop ? 'desktop' : 'mobile'}/index`;
  },
  head() {
    const header = {
      title: 'Mamikos - GoldPlus Submission - Detail Paket',
    };
    if (this.$device.isDesktop) {
      header.meta = [{ hid: 'viewport', name: 'viewport', content: 'width=1200' }];
    }
    return header;
  },
  meta: {
    hideSidebar: true,
    showMobileBackButton: true,
    hideMobileFloatingChat: true,
    hideBottomNavbar: true,
    prevPath: {
      name: 'goldplus-packages',
      path: '/goldplus/submission/packages',
    },
  },
  name: 'GoldPlusSubmissionDetailRoute',
  mixins: [pageView],
  data() {
    let component;
    // component path needs to write explicitly so that webpack can create chunk based on explicit path
    if (this.$device.isDesktop) {
      component = import(
        /* webpackChunkName: "page-goldplus-packages-desktop" */ `~/components/page-features/goldplus/pages/submission-package-detail/desktop`
      );
    } else {
      component = import(
        /* webpackChunkName: "page-view-goldplus-mobile" */ `~/components/page-features/goldplus/pages/submission-package-detail/mobile`
      );
    }
    return {
      component,
    };
  },
};
</script>
