<template>
  <b-carousel
    v-if="!isLoading"
    :pause-info="false"
    :arrow="false"
    :indicator="true"
    :indicator-inside="false"
    :interval="10000"
    class="banner-card"
  >
    <b-carousel-item v-for="(image, i) in data" :key="i">
      <span class="image">
        <a @click.prevent="handleBannerImage(image.scheme)"><img :src="image.photo_url.large"/></a>
      </span>
    </b-carousel-item>
  </b-carousel>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
  data() {
    return {
      isLoading: false,
      data: [],
    };
  },
  computed: {
    ...mapGetters('profile', ['isBbk', 'user', 'isPremium']),
  },
  created() {
    this.isLoading = true;
    this.$api.getBannerEvent().then((res) => {
      if (res.data.status) {
        this.isLoading = false;
        this.data = res.data.homes.posters;
      }
    });
  },
  methods: {
    handleBannerImage(value) {
      this.$tracker.send('moe', [
        '[Owner] Dashboard - Banner Clicked',
        {
          user_id: this.user.user_id,
          interface: this.$device.isMobile ? 'mobile' : 'desktop',
          is_booking: this.isBbk,
          is_premium: this.isPremium,
        },
      ]);
      window.location.href = value;
    },
  },
};
</script>

<style lang="scss" src="./BannerCard.scss"></style>
