.banner-card {
  display: block;
  width: auto;
  height: auto;
  margin: auto auto 24px;

  .carousel-indicator {
    padding-top: 18px;
  }

  .indicator-item {
    .indicator-style {
      background-color: #d0cece !important;
      border: none !important;
      height: 8px !important;
      width: 8px !important;
    }

    &.is-active {
      .indicator-style {
        background-color: #737674 !important;
      }
    }
  }
}

.carousel-items {
  border-radius: 8px;
  // stylelint-disable selector-max-type
  img {
    min-height: 125px;
  }
}
