<template>
  <div class="premium-page">
    <div class="premium-page__header">
      <span>Halaman Premium</span>
    </div>
    <mk-card :max-width="600" class="premium-page__card">
      <manage-ads />
    </mk-card>
  </div>
</template>

<script>
import ManageAds from '../components/ManageAds';
import MkCard from '~/components/global/molecules/MkCard';

export default {
  components: {
    ManageAds,
    MkCard,
  },
};
</script>

<style lang="scss" src="./desktop.scss"></style>
