.bm-filter-rent-modal {
  width: 100%;
  padding: 20px;

  &__header {
    text-align: right;

    .close-icon {
      &:hover {
        cursor: pointer;
      }
    }
  }

  &__card {
    width: 35vw;
    max-height: 70vh;
  }

  &__body {
    width: 100%;
    max-height: calc(70vh - 54px);
    padding: 10px 20px;
    overflow-y: scroll;

    .title {
      font-size: 20px;
      font-weight: 600;
    }

    .label {
      width: calc(100vw - 1025px);
      overflow: hidden;
      font-size: 16px;
      font-style: normal;
      font-weight: normal;
      line-height: 24px;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  &__footer {
    border-top: 0;
  }
}

@media (max-width: 480px) {
  .bm-filter-rent-modal {
    &__card {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100vw;
      height: 45vh;
      margin: 0 auto;
      border-radius: 0;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
    }

    &__body {
      max-height: 35vh;
      .label {
        width: 275px;
      }
    }
  }
}
