<template>
  <mk-modal v-model="active" class="bm-filter-rent-modal">
    <mk-card v-show="isShowCard" class="bm-filter-rent-modal__card">
      <mk-card-header class="bm-filter-rent-modal__header ">
        <b-icon @click.native="hideModal" class="close-icon" icon="close" size="is-medium" />
      </mk-card-header>
      <mk-card-body class="bm-filter-rent-modal__body">
        <h1 class="title">
          Hitungan Sewa
        </h1>

        <div v-for="(rentType, i) in rentTypes" :key="i" class="field">
          <b-radio v-model="selectedRentType" @input="selectRentType" :native-value="rentType">
            <span class="label">
              {{ rentType.name }}
            </span>
          </b-radio>
        </div>
      </mk-card-body>
      <mk-card-footer class="bm-filter-rent-modal__footer" />
    </mk-card>
  </mk-modal>
</template>

<script>
import _findIndex from 'lodash/findIndex';

import MkModal, { mixin as modalMixin } from '~/components/global/molecules/MkModal/MkModal';
import MkCard from '~/components/global/molecules/MkCard';
import MkCardHeader from '~/components/global/molecules/MkCard/components/MkCardHeader';
import MkCardBody from '~/components/global/molecules/MkCard/components/MkCardBody';
import MkCardFooter from '~/components/global/molecules/MkCard/components/MkCardFooter';
import billing from '~/components/page-features/kelola-tagihan/mixins/billing';

const listRentType = [
  {
    value: 'all',
    name: 'Semua Hitungan Sewa',
  },
  {
    value: 'day',
    name: 'Per Hari',
  },
  {
    value: 'week',
    name: 'Per Minggu',
  },
  {
    value: 'month',
    name: 'Per Bulan',
  },
  {
    value: '3_month',
    name: 'Per 3 Bulan',
  },
  {
    value: '6_month',
    name: 'Per 6 Bulan',
  },
  {
    value: 'year',
    name: 'Per Tahun',
  },
];

export default {
  name: 'BillingManagementFilterRentModal',
  components: {
    MkModal,
    MkCard,
    MkCardHeader,
    MkCardBody,
    MkCardFooter,
  },
  mixins: [modalMixin, billing],
  data() {
    return {
      isShowCard: true,
      selectedRentType: listRentType[0],
      rentTypes: listRentType,
    };
  },
  computed: {
    page() {
      return this.$route.query.page;
    },
  },
  watch: {
    active(val) {
      this.isShowCard = val;
    },
  },
  mounted() {
    const { rentType } = this.$route.query;

    const selectedIndexRentType = rentType ? _findIndex(listRentType, { value: rentType }) : 0;
    this.selectedRentType = listRentType[selectedIndexRentType];
  },
  methods: {
    selectRentType({ value }) {
      const { month, year, page, selectedKost } = this.$route.query;
      this.$router.replace({ query: { selectedKost, month, year, page, rentType: value } });
      this.$store.commit('billingManagement/updateFilterRentType', value);
      this.getAllBillingSummary();
      this.getBillListInvoices({
        invoiceStatus: this.page,
      });
      this.hideModal();
    },
    hideModal() {
      this.toggleModal(false);
      this.isShowCard = false;
    },
  },
};
</script>

<style lang="scss" scoped src="./BillingManagementFilterRentModal.scss"></style>
