<template>
  <div class="goldplus-submission-stepper">
    <gold-plus-header
      @backClicked="handleBackClicked"
      is-show-back-button
      is-overwrite-back-button
      class="goldplus-submission-stepper__header"
    >
      <div slot="title" class="goldplus-submission-stepper__title">
        Daftar GoldPlus
      </div>
      <div slot="utilities">
        Berikut adalah langkah-langkah dalam melakukan pendaftaran GoldPlus.
      </div>
    </gold-plus-header>
    <stepper-content />
  </div>
</template>

<script>
import GoldPlusSubmissionStepperContent from '../components/GoldPlusSubmissionStepperContent';
import GoldPlusHeader from '~/components/page-features/goldplus/components/GoldPlusHeader';
import restrictNewSubmission from '~/components/page-features/goldplus/mixins/restrictNewSubmission';

export default {
  name: 'GoldPlusSubmissionStepper',
  components: {
    'stepper-content': GoldPlusSubmissionStepperContent,
    GoldPlusHeader,
  },
  mixins: [restrictNewSubmission],
  methods: {
    goToPreviousState() {
      this.$router.replace('/goldplus/submission/onboarding');
    },
    handleBackClicked() {
      this.$router.replace({
        name: 'goldplus-submission',
      });
    },
  },
};
</script>

<style lang="scss" scoped src="./desktop.scss"></style>
