.goldplus-submission-stepper {
  max-width: 600px;
  padding: 26px 0;
  margin: 0 auto;

  &__back-button {
    margin-top: 3.5px;
    cursor: pointer;
  }

  &__header {
    margin-bottom: 46px;
  }

  &__title {
    margin-bottom: 22px;
  }
}
