<template>
  <div class="goldplus-submission-tnc-footer">
    <b-checkbox
      @click.native="handleOnInputCheckbox"
      v-model="isAgreed"
      :disabled="isCheckboxDisabled"
      type="is-green-brand"
      class="goldplus-submission-tnc-footer-checkbox"
    >
      <div class="checkbox-content">
        Saya menyetujui
        <a
          href="https://help.mamikos.com/syarat-dan-ketentuan/?category=snk-pemilik&subCategory=new-mamikos-goldplus&slug=syarat-dan-ketentuan-mamikos-goldplus-2"
          target="_blank"
        >
          Syarat dan Ketentuan
        </a>
        fitur GoldPlus Mamikos
      </div>
    </b-checkbox>
    <mk-button
      @clicked="submitRequest"
      :class="{ '--disabled': !isAgreed || isLoadingSubmitRequest }"
      :disabled="!isAgreed || isLoadingSubmitRequest"
      block
      color="green-brand"
      class="goldplus-submission-tnc-footer-button"
    >
      <span v-if="!isLoadingSubmitRequest">{{ buttonText }}</span>
      <span v-else class="c-loader"></span>
    </mk-button>
  </div>
</template>

<script>
import { mapState } from 'vuex';
import MkButton from '~/components/global/atoms/MkButton';
import EventBus from '~/components/event-bus/index.js';

export default {
  name: 'GoldPlusSubmissionTnCFooter',
  components: { MkButton },
  props: {
    isCheckboxDisabled: {
      type: Boolean,
      required: true,
    },
  },
  data() {
    return {
      isAgreed: false,
      isLoadingSubmitRequest: false,
    };
  },
  computed: {
    ...mapState('goldplus', ['selectedPackage', 'selectedRoomsForSubmission']),
    submissionPayload() {
      const { code, unit_type } = this.selectedPackage;
      const payload = {
        code,
      };

      if (unit_type === 'single') payload.listing_ids = this.selectedRoomsForSubmission;

      return payload;
    },
    buttonText() {
      return this.submissionPayload.code === 'gp3' ? 'Daftar Sekarang' : 'Lanjut Pembayaran Paket';
    },
  },
  created() {
    if (!this.selectedPackage || !this.selectedRoomsForSubmission) this.$router.replace('/');
  },
  methods: {
    handleOnInputCheckbox() {
      if (this.isCheckboxDisabled) {
        this.$buefy.toast.open({
          duration: 2000,
          message: 'Untuk menyetujui, mohon baca terlebih dahulu seluruh isi Syarat dan Ketentuan.',
          position: 'is-bottom',
          container: '.goldplus-submission-tnc-footer',
        });
      }
    },
    handleRedirectToBilling(id) {
      this.$api
        .createBillingContractOrder(id)
        .then((response) => {
          if (response.data.status) {
            const { data } = response.data;
            const { invoice_id } = data;
            this.$store.commit('goldplus/setBillingInvoiceData', data);
            this.$router.push({
              path: `/goldplus/payment/${invoice_id}`,
              query: {
                submission: true,
              },
            });
          } else {
            this.$bugsnag.notify(JSON.stringify(response));
            this.$alert('is-danger', 'Gagal', 'Terjadi galat, silakan coba lagi.');
          }
        })
        .catch((error) => {
          this.$bugsnag.notify(error);
          this.$alert('is-danger', 'Gagal', 'Terjadi galat, silakan coba lagi.');
        });
    },
    submitRequest() {
      this.isLoadingSubmitRequest = true;

      this.$api
        .sendGoldPlusSubmissionRequest(this.submissionPayload)
        .then((response) => {
          if (response.data.status) {
            const { property_contract_id, package_id } = response.data.submission;

            if (package_id === 3) {
              EventBus.$emit('onSubmitSuccess', true);
            } else {
              this.handleRedirectToBilling(property_contract_id);
            }
          } else {
            this.$bugsnag.notify(JSON.stringify(response));
            this.$alert('is-danger', 'Gagal', response.data.meta.message);
            // using window.location due needing refresh when directed to owner dashboard
            window.location.href = '/';
          }
        })
        .catch((error) => {
          this.$bugsnag.notify(error);
          this.$alert('is-danger', 'Gagal', 'Terjadi galat, silakan coba lagi.');
        })
        .finally(() => {
          this.isLoadingSubmitRequest = false;
        });

      this.trackGPSubmissionRequest();
    },
    trackGPSubmissionRequest() {
      this.$tracker.send('moe', [
        '[Owner] GP Submission - Request Sent',
        {
          interface: this.$device.isMobile ? 'mobile' : 'desktop',
          owner_name: this.$store.getters['profile/user'].name,
          potential_gp: this.selectedPackage.code,
          listing_count: this.$route.params.listing_count,
          potential_listing_count: this.selectedRoomsForSubmission.length,
        },
      ]);
    },
  },
};
</script>

<style lang="scss" src="./GoldPlusSubmissionTnCFooter.scss" scoped></style>
