/* stylelint-disable primer/no-unused-vars */
$border-default: 1px solid #e8e8e8;

.goldplus-submission-tnc-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px 16px;
  background-color: #fcfcfc;
  border-top: $border-default;

  .checkbox-content {
    font-size: 14px;
    line-height: 20px;

    a {
      color: #1baa56;
    }
  }

  &-button {
    height: 48px;
    margin-top: 10px;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;

    &.--disabled {
      color: #bbb;
      background-color: #f6f6f6;
      border: unset;
    }

    @media (min-width: 768px) {
      width: fit-content;
      margin-top: 0;
    }
  }

  @media (min-width: 768px) {
    position: unset;
    display: flex;
    padding: 24px 42px;
    background-color: unset;
    justify-content: space-between;

    ::v-deep {
      .toast {
        width: 397px;
        margin-left: -16px;
      }
    }
  }
}

::v-deep {
  /* stylelint-disable selector-max-specificity, selector-no-qualifying-type, selector-max-type, selector-max-compound-selectors */
  .b-checkbox.checkbox[disabled] {
    opacity: 1;
  }

  .b-checkbox.checkbox input[type='checkbox'] + .check,
  .b-checkbox.checkbox:hover input[type='checkbox']:not(:disabled) + .check.is-green-brand {
    border-color: #dadada;
    box-shadow: unset;
  }

  .b-checkbox.checkbox input[type='checkbox']:checked + .check.is-green-brand {
    border-color: #1baa56 !important;
  }

  .control-label {
    padding-left: 16px !important;
  }

  .toast {
    width: calc(100% - 32px);
    padding: 12px 16px;
    margin-bottom: 24px;
    font-size: 14px;
    line-height: 21px;
    text-align: left;
    background-color: #242424;
    opacity: 1;
  }
}
