<template>
  <!-- eslint-disable -->
  <input
    :value="valueModel"
    @focus="handleFocus(true)"
    @blur="handleFocus(false)"
    @input="handleInput"
    v-bind="$attrs"
    :type="type"
    class="input"
  />
</template>

<script>
export default {
  name: 'MkCurrencyInput',
  model: {
    prop: 'value',
    event: 'input',
  },
  props: {
    value: {
      type: Number,
      default: 0,
    },
  },
  data() {
    return {
      valueNumber: this.value,
      isFocus: false,
    };
  },
  computed: {
    valueModel() {
      return this.isFocus
        ? this.valueNumber
        : this.$options.filters.currencyIDR(parseInt(this.value, 10));
    },
    type() {
      return this.isFocus ? 'number' : 'text';
    },
  },
  watch: {
    value(val) {
      this.valueNumber = val;
    },
  },
  methods: {
    handleFocus(isFocus) {
      this.isFocus = isFocus;
    },
    handleInput(e) {
      const val = e.target.value;
      let croppedNumber = val;
      if (val.length > 14) {
        croppedNumber = val.slice(0, 14);
      } else if (val.length === 0) {
        croppedNumber = 0;
      }
      this.valueNumber = croppedNumber ? parseInt(croppedNumber, 10) : 0;
      this.$emit('input', this.valueNumber);
      e.target.value = this.valueNumber;
    },
  },
};
</script>

<style src="./MkCurrencyInput.scss" lang="scss" scoped></style>
