.contract-navbar {
  position: fixed;
  z-index: 8;
  display: flex;
  width: 100%;
  height: 64px;
  padding: 0 15px;
  background-color: #fff;
  align-items: center;

  @media (min-width: 768px) {
    border-bottom: 1px solid #e8e8e8;
  }

  &__navigation {
    display: flex;
  }

  &__back-icon {
    margin-right: 10px;
    cursor: pointer;
  }

  &__page-title {
    margin-top: -2px;
  }

  &.is-hide-back-icon {
    justify-content: flex-end;
  }
}
