<template>
  <div :class="{ 'is-hide-back-icon': isHideBackIcon }" class="contract-navbar">
    <div class="contract-navbar__navigation">
      <div v-if="!isHideBackIcon" @click="backRoute" class="contract-navbar__back-icon">
        <bg-icon name="back" />
      </div>

      <bg-text v-if="pageTitle && isMobile" size="title-4" class="contract-navbar__page-title">
        {{ pageTitle }}
      </bg-text>
    </div>

    <a v-if="!isMobile" :href="mamikosUrl">
      <img src="~assets/images/logo.svg" alt="mamikos" />
    </a>

    <div v-if="isHideBackIcon" @click="backRoute" class="contract-navbar__close-icon">
      <bg-icon name="close" />
    </div>
  </div>
</template>

<script>
import { BgIcon, BgText } from 'bangul-vue';

export default {
  name: 'Navbar',

  components: {
    BgIcon,
    BgText,
  },

  data() {
    return {
      mamikosUrl: process.env.MAMIKOS_URL,
    };
  },

  computed: {
    isMobile() {
      return this.$device.isMobile;
    },
    isHideBackIcon() {
      return this.isMobile && this.$route.name === 'add-tenant-onboarding';
    },
    pageTitle() {
      return this.$route.meta.pageTitle;
    },
  },

  methods: {
    backRoute() {
      this.$router.go(-1);
    },
  },
};
</script>

<style lang="scss" src="./Navbar.scss"></style>
