<template>
  <div class="personal-data">
    <div class="personal-data__head">
      <h1 class="title">Lengkapi data diri Anda</h1>
      <h4 class="sub-title">
        Silakan isi data berikut ini untuk mulai mengaktifkan fitur Booking Langsung.
      </h4>
    </div>
    <div class="personal-data__content">
      <div class="personal-data__field">
        <label class="personal-data__input-description">
          Nama Lengkap <span class="personal-data__mark-label-required">*</span>
        </label>
        <b-input
          v-model="$v.ownerName.$model"
          @blur="$v.ownerName.$touch()"
          class="personal-data__input"
          placeholder="Masukkan nama lengkap"
        />
        <b-notification
          v-if="$v.ownerName.$error"
          :closable="false"
          type="is-orange"
          class="personal-data__error"
          icon="alert-circle"
          has-icon
        >
          <template v-if="!$v.ownerName.required">Wajib diisi</template>
          <template v-else-if="!$v.ownerName.minLength">Minimal diisi dengan 3 karakter</template>
          <template v-else-if="!$v.ownerName.maxLength">Maksimal diisi dengan 50 karakter</template>
          <template v-else-if="!$v.ownerName.letterValidator">Harus diisi dengan huruf</template>
        </b-notification>
      </div>
      <div class="personal-data__field">
        <label class="personal-data__input-description"
          >Nomor Rekening <span class="personal-data__mark-label-required">*</span></label
        >
        <b-input
          v-model="$v.ownerBankNumber.$model"
          @blur="$v.ownerBankNumber.$touch()"
          class="personal-data__input"
          placeholder="Masukkan nomor rekening Anda"
        />
        <b-notification
          v-if="$v.ownerBankNumber.$error"
          :closable="false"
          type="is-orange"
          class="personal-data__error"
          icon="alert-circle"
          has-icon
        >
          <template v-if="!$v.ownerBankNumber.required">Wajib diisi</template>
          <template v-else-if="!$v.ownerBankNumber.numeric">Hanya diisi dengan angka</template>
          <template v-else-if="!$v.ownerBankNumber.maxLength"
            >Maksimal diisi dengan 25 karakter</template
          >
        </b-notification>
      </div>
      <div class="personal-data__field">
        <label class="personal-data__input-description"
          >Nama Bank <span class="personal-data__mark-label-required">*</span></label
        >

        <b-autocomplete
          v-model="$v.filterNameBank.$model"
          @input="$v.selectedownerBankName.$touch()"
          @blur="$v.filterNameBank.$touch()"
          :data="filteredDataBankList"
          :loading="isloadingDataBank"
          @select="(option) => (selectedownerBankName = option)"
          :class="{ 'auto-complete': !isloadingDataBank }"
          class="personal-data__input"
          placeholder="Masukkan nama bank"
          open-on-focus
          field="bank_name"
        >
        </b-autocomplete>

        <b-notification
          v-if="$v.filterNameBank.$error"
          :closable="false"
          type="is-orange"
          class="personal-data__error"
          icon="alert-circle"
          has-icon
        >
          <template v-if="!$v.filterNameBank.required">Wajib diisi</template>
          <template v-if="!$v.filterNameBank.isBankValid">Nama Bank tidak ditemukan</template>
        </b-notification>
      </div>
      <div class="personal-data__field">
        <label class="personal-data__input-description"
          >Nama Pemilik Rekening <span class="personal-data__mark-label-required">*</span></label
        >
        <b-input
          v-model="$v.ownerAccountName.$model"
          @blur="$v.ownerAccountName.$touch()"
          class="personal-data__input"
          placeholder="Masukkan nama pemilik rekening"
        />

        <b-notification
          v-if="$v.ownerAccountName.$error"
          :closable="false"
          type="is-orange"
          class="personal-data__error"
          icon="alert-circle"
          has-icon
        >
          <template v-if="!$v.ownerAccountName.required">Wajib diisi</template>
          <template v-else-if="!$v.ownerAccountName.minLength"
            >Minimal diisi dengan 3 karakter</template
          >
          <template v-else-if="!$v.ownerAccountName.maxLength"
            >Maksimal diisi dengan 50 karakter</template
          >
          <template v-else-if="!$v.ownerAccountName.letterValidator"
            >Harus diisi dengan huruf</template
          >
        </b-notification>
      </div>
      <b-notification
        :closable="false"
        type="is-blue-invert"
        class="personal-data__notif"
        icon="alert-circle"
        has-icon
      >
        Pastikan data Anda benar dan sesuai, agar uang pembayaran kos dapat ditransfer dengan
        lancar.
      </b-notification>
    </div>

    <hr class="personal-data__separator" />

    <div class="personal-data__footer personal-data__submit-wrapper">
      <b-checkbox
        v-if="isAutoBBK"
        @click.native="checkValidFormData"
        :disabled="isFormInvalid"
        v-model="tncCheckbox"
        type="is-green-brand"
      >
        Saya menyetujui
        <a @click.prevent="handleAutoBBKTncCliked">Syarat dan Ketentuan</a>
        fitur Booking Langsung Mamikos
      </b-checkbox>

      <b-button
        ref="directBookingButton"
        :disabled="isFormInvalid || !tncCheckbox"
        :loading="isLoading"
        @click="submitForm"
        class="personal-data__submit"
        type="is-primary"
        expanded
      >
        Lanjutkan
      </b-button>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import { validationMixin } from 'vuelidate';
import { helpers, required, numeric, minLength, maxLength } from 'vuelidate/lib/validators';
const letterValidator = helpers.regex('letterValidator', /^[a-zA-Z ]*$/);

function isBankValid(value) {
  return this.dataBankList.some((item) =>
    item.bank_name.toLowerCase().includes(this.filterNameBank.toLowerCase()),
  );
}

export default {
  name: 'DirectBookingComponent',
  mixins: [validationMixin],
  data() {
    return {
      dataBankList: [],
      isloadingDataBank: false,
      isLoading: false,
      filterNameBank: '',
      ownerName: '',
      ownerBankNumber: '',
      selectedownerBankName: '',
      ownerAccountName: '',
      tncCheckbox: false,
    };
  },
  validations: {
    ownerName: {
      required,
      letterValidator,
      minLength: minLength(3),
      maxLength: maxLength(50),
    },
    ownerBankNumber: {
      required,
      maxLength: maxLength(25),
      numeric,
    },
    filterNameBank: {
      required,
      isBankValid,
    },
    selectedownerBankName: {
      required,
    },
    ownerAccountName: {
      required,
      letterValidator,
      minLength: minLength(3),
      maxLength: maxLength(50),
    },
  },
  computed: {
    ...mapGetters('profile', ['user', 'membership', 'isBookingAvailable']),
    filteredDataBankList() {
      return this.dataBankList.filter((option) => {
        /* eslint-disable */
        return (
          option.bank_name
            .toString()
            .toLowerCase()
            .indexOf(this.filterNameBank.toLowerCase()) >= 0
        );
        /* eslint-enable */
      });
    },
    isFormInvalid() {
      let isInvalid = false;
      Object.keys(this.isFormFieldInvalid).forEach((key) => {
        isInvalid = Boolean(this.isFormFieldInvalid[key]) || isInvalid;
      });
      return isInvalid;
    },
    isFormFieldInvalid() {
      const invalids = {
        ownerName: this.$v.ownerName.$invalid,
        filterNameBank: this.$v.filterNameBank.$invalid,
        selectedownerBankName: this.$v.selectedownerBankName.$invalid,
        ownerBankNumber: this.$v.ownerBankNumber.$invalid,
        ownerAccountName: this.$v.ownerAccountName.$invalid,
      };
      return invalids;
    },
    isAutoBBK() {
      const { autobbk } = this.$route.query;
      return autobbk;
    },
    recentKos() {
      const { kos_name, room_count, image } = this.$route.query;
      return {
        name: kos_name,
        roomCount: room_count,
        img: image,
      };
    },
    isRejectedNotif() {
      const rejectedNotif = this.$route.query['rejected-notif'];
      return rejectedNotif;
    },
    isRedirectUrl() {
      const { redirect_url } = this.$route.query;
      return redirect_url;
    },
    isGoldPlusSubmission() {
      const { gp_submission } = this.$route.query;
      return gp_submission;
    },
  },
  watch: {
    isFormInvalid(invalid) {
      if (this.isAutoBBK && invalid) this.tncCheckbox = false;
      this.checkValidFormData();
    },
  },
  created() {
    this.$changes.init();
    this.getListBank();
    this.scrollToTop();
    if (this.membership.is_mamipay_user) this.getMamipayDetail();
    if (!this.isAutoBBK) this.tncCheckbox = true;
  },
  mounted() {
    this.$changes.update(false);
    this.ownerName = this.user.name;
    this.$v.ownerName.$touch(); // this is for trigger vuelidate on field ownerName

    this.$tracker.send('moe', [
      '[Owner] Activation BBK - Form Request Visited',
      {
        interface: this.$device.isMobile ? 'mobile' : 'desktop',
        is_mamipay: this.membership.is_mamipay_user,
        owner_name: this.user.name,
        is_booking: this.isBookingAvailable,
      },
    ]);
  },
  methods: {
    submitForm() {
      this.isLoading = true;
      this.sendTrackerPersonalIdentity();
      this.$api
        .registerDataBbk({
          name: this.ownerName,
          bank_account_number: this.ownerBankNumber,
          bank_name: this.selectedownerBankName.key,
          bank_account_owner: this.ownerAccountName,
          registration_type: 'update',
          user_id: this.user.user_id,
        })
        .then((res) => {
          this.isLoading = false;
          // failed response
          if (!res.data.status) {
            this.showToast(res.data.meta.message);
            return;
          }
          this.$changes.update(false);

          const query = {
            kos_name: this.recentKos.name,
            room_count: this.recentKos.roomCount,
            image: this.recentKos.img,
            redirect_url: this.isRedirectUrl,
          };

          if (this.isAutoBBK) {
            query.autobbk = true;
          }

          if (this.isGoldPlusSubmission) {
            query.gp_submission = true;
          }

          if (this.isRejectedNotif) {
            query['rejected-notif'] = true;
          }

          this.$router.replace({
            name: 'kos-booking-activation',
            query,
            params: { previousPage: 'Lengkapi Data Pribadi page' },
          });
        })
        .catch((err) => {
          this.isLoading = false;
          this.showToast(err.message);
        });
    },
    getListBank() {
      this.isloadingDataBank = true;
      this.$api.getBankList().then((res) => {
        this.isloadingDataBank = false;
        if (res.data.status) {
          this.dataBankList = res.data.data;
        }
      });
    },
    getMamipayDetail() {
      this.isLoading = true;
      this.$api.getMamipayDetail().then((res) => {
        this.isLoading = false;
        const dataMamipay = res.data;
        if (dataMamipay.status) {
          this.ownerName = dataMamipay.profile.name;
          this.ownerBankNumber = dataMamipay.profile.bank_account_number;
          this.selectedownerBankName = {
            bank_name: dataMamipay.profile.bank_name,
            key: dataMamipay.profile.bank_name_key,
          };
          this.filterNameBank = dataMamipay.profile.bank_name;
          this.ownerAccountName = dataMamipay.profile.bank_account_owner;

          this.$v.$touch();
        }
      });
    },
    showToast(msg) {
      this.$buefy.toast.open({
        duration: 2000,
        message: msg,
        position: 'is-bottom',
      });
    },
    checkValidFormData() {
      if (this.isFormInvalid) {
        this.showToast('Anda belum melengkapi data');
      }
    },
    scrollToTop() {
      document.querySelector('.wrapper__body').scroll({
        top: document.querySelector('body').offsetTop - 72,
        behavior: 'smooth',
      });
    },
    handleAutoBBKTncCliked() {
      this.$tracker.send('moe', [
        '[Owner] Activation BBK - TnC Booking Clicked',
        {
          interface: this.$device.isMobile ? 'mobile' : 'desktop',
          is_mamipay: this.membership.is_mamipay_user,
          owner_name: this.user.name,
        },
      ]);

      window.open(
        'https://help.mamikos.com/syarat-dan-ketentuan/?category=snk-pemilik&subCategory=bisa-booking-pemilik&slug=syarat-dan-ketentuan-bisa-booking-pemilik',
      );
    },
    sendTrackerPersonalIdentity() {
      this.$tracker.send('moe', [
        '[Owner] Activation BBK - Personal Identity Submitted',
        {
          interface: this.$device.isMobile ? 'mobile' : 'desktop',
          owner_name: this.user.name,
          owner_bank_name: this.selectedownerBankName.key,
          owner_phone_number: this.user.phone_number,
          bank_id: null,
          account_name: this.ownerAccountName,
        },
      ]);
    },
  },
};
</script>

<style lang="scss" scoped src="./FormDataPersonal.scss"></style>
