.personal-data {
  @media (max-width: 768px) {
    padding-bottom: 8em;
  }
  .title {
    margin-bottom: 35px;
    font-size: 24px;
    font-weight: 900;
    color: #242424;
  }

  &__head {
    margin-bottom: 35px;
    text-align: left;
    @media (max-width: 768px) {
      margin-bottom: 20px;
    }
    .title {
      margin-bottom: 10px;
    }
    .sub-title {
      margin-bottom: 5px;
      font-size: 16px;
    }
  }

  &__content {
    margin-bottom: 25px;
    text-align: left;
  }

  &__field {
    margin-bottom: 28px;
  }

  &__input {
    border-radius: 4px;

    ::v-deep {
      .input {
        height: 48px;
      }
      &.is-loading {
        // stylelint-disable max-nesting-depth, selector-pseudo-element-colon-notation
        &::after {
          position: absolute;
          top: 35%;
          right: 15px;
          transform: translate(0, -50%);
        }
      }
    }

    &.auto-complete {
      ::v-deep {
        // stylelint-disable selector-max-type
        input {
          padding-right: 36px;
        }
        .control {
          &::after {
            position: absolute;
            top: 50%;
            right: 15px;
            display: block;
            width: 0;
            height: 0;
            content: '';
            border-top: 8px solid #484848;
            border-right: 8px solid transparent;
            border-left: 8px solid transparent;
            transform: translate(0, -50%);
          }
        }
      }
    }
  }

  &__mark-label-required {
    color: #ec4a0c;
  }

  &__input-description {
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    color: #303030;
  }

  &__error {
    padding: 9px 15px 8px;
    margin-top: 12px;
    margin-bottom: 0;
    &::v-deep {
      .mdi::before {
        font-size: 20px;
      }

      .icon.is-large {
        width: 20px;
        height: 20px;
        margin-top: 2px;
      }

      .media-left {
        margin-right: 10px;
      }

      .media-content {
        font-size: 14px;
      }
    }
  }

  &__notif {
    padding: 14px 15px;
    margin-top: 12px;
    margin-bottom: 0;
    background-color: #fff;
    border: 1px solid #e8e8e8;
    border-radius: 8px;

    &::v-deep {
      .mdi::before {
        font-size: 20px;
      }

      .icon.is-large {
        width: 20px;
        height: 20px;
        margin-top: 2px;
      }

      .media-left {
        margin-right: 10px;
      }

      .media-content {
        font-size: 14px;
        color: #404040;
      }
    }
  }

  &__images-icons {
    margin-top: 5px;
    margin-right: 15px;
  }

  &__title {
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: bold;
    color: #303030;
  }

  &__submit {
    height: 48px;
    font-size: 16px;
    font-weight: 700;
    &[disabled] {
      color: #bbb;
      background-color: #f6f6f6;
    }
  }

  &__submit-wrapper {
    text-align: left;
    .b-checkbox {
      margin-bottom: 15px;
    }
    @media screen and (max-width: 768px) {
      position: fixed;
      right: 0;
      bottom: 0;
      left: 0;
      padding: 15px;
      background-color: #fff;
      border-top: solid 1px #e8e8e8;
    }
  }

  &__footer {
    margin-top: 15px;
    ::v-deep {
      .control-label {
        position: relative;
        top: -2px;
        font-size: 14px;
        //stylelint-disable selector-max-compound-selectors
        a,
        span {
          color: #1baa56;
        }
      }
    }
  }

  &__separator {
    height: 1px;
    margin-top: 0;
    margin-bottom: 0;
    background-color: #e8e8e8;

    @media screen and (max-width: 768px) {
      &-mobile {
        position: absolute;
        right: 0;
        left: 0;
        margin-top: 0;
        margin-bottom: 0;
        /* stylelint-disable-next-line */
        div {
          position: relative;
          right: 0;
          left: 0;
          height: 10px;
        }
        /* stylelint-disable-next-line */
        hr {
          /* stylelint-disable-next-line */
          position: absolute;
          top: -41px;
          left: 0;
          width: 100vw;
          height: 12px;
          background-color: #f5f5f5;
          border-top: solid 2px #e8e8e8;
        }
      }
    }
  }
}
