<template>
  <bg-card
    v-bind="$attrs"
    :class="{
      'widget-card--is-flat': isFlat,
    }"
    :style="{ padding: padding || null }"
    class="widget-card"
  >
    <bg-text v-if="title" class="widget-card__title" size="heading-4">
      {{ title }}
    </bg-text>
    <bg-text v-if="description" class="widget-card__description" size="body-2">
      {{ description }}
    </bg-text>
    <div v-if="$slots.default" class="widget-card__content"><slot /></div>
    <div v-if="additionalLinkLabel || $slots.link" class="widget-card__link">
      <slot v-if="$slots.link" name="link" />
      <bg-link v-else @click="$emit('link-clicked')" v-bind="additionalLinkAttrs">
        <bg-text tag="span" size="body-1">{{ additionalLinkLabel }}</bg-text>
      </bg-link>
    </div>
  </bg-card>
</template>

<script>
import { BgCard, BgText, BgLink } from 'bangul-vue';
export default {
  components: { BgText, BgCard, BgLink },
  props: {
    title: {
      type: String,
      default: '',
    },
    description: {
      type: String,
      default: '',
    },
    additionalLinkLabel: {
      type: String,
      default: '',
    },
    additionalLinkAttrs: {
      type: Object,
      default: null,
    },
    isFlat: {
      type: Boolean,
      default: false,
    },
    padding: {
      type: String,
      default: '',
    },
  },
};
</script>

<style lang="scss" src="./WidgetCard.scss" scss></style>
