.widget-card {
  display: flex;
  width: 100%;
  flex-direction: column;
  box-shadow: none;

  &--is-flat {
    border: 0;
    border-radius: 0;
    box-shadow: none;
  }

  &__title {
    font-size: 24px;
    font-weight: 900;
    line-height: 32px;
  }

  &__description {
    margin-top: 4px;
    font-size: 16px;
    font-weight: normal;
    line-height: 24px;
  }

  &__content {
    margin-top: 16px;

    > *:not(:first-child) {
      margin-top: 8px;
    }
  }

  &__link {
    margin-top: 16px;
    text-align: center;
  }

  @media (max-width: 992px) {
    padding: 8px !important;
  }
}
