<template>
  <!-- eslint-disable-next-line vue/require-component-is -->
  <component :is="view"></component>
</template>

<script>
import pageView from '~/mixins/page-view';
import blacklistRouterMixin from '~/mixins/blacklist-router';
export default {
  layout({ isDesktop }) {
    return `default/${isDesktop ? 'desktop' : 'mobile'}/index`;
  },
  head() {
    const header = {
      title: 'Form Penukaran Hadiah Mamipoin',
    };
    if (this.$device.isDesktop) {
      header.meta = [{ hid: 'viewport', name: 'viewport', content: 'width=1200' }];
    }
    return header;
  },
  name: 'MamipoinRewardExchangePage',
  mixins: [pageView, blacklistRouterMixin],
  meta: {
    showMobileBackButton: true,
  },
  data() {
    let component;
    // component path needs to write explicitly so that webpack can create chunk based on explicit path
    if (this.$device.isDesktop) {
      component = import(
        /* webpackChunkName: "page-view-mamipoin-rewards-exchange" */ `~/components/page-features/mamipoin/pages/rewards/pages/exchange/desktop`
      );
    } else {
      component = import(
        /* webpackChunkName: "page-view-mamipoin-rewards-exchange" */ `~/components/page-features/mamipoin/pages/rewards/pages/exchange/mobile`
      );
    }
    return {
      component,
    };
  },
  computed: {
    rewardId() {
      return this.$route.params.reward_id || '';
    },
    isDesktop() {
      return this.$device.isDesktop;
    },
  },
  mounted() {
    !this.isDesktop &&
      this.$store.commit('mobile/setPrevPath', {
        path: `/mamipoin/rewards/${this.rewardId}`,
      });
  },
};
</script>
