<template>
  <div ref="listRoom" class="list-room">
    <template v-if="!isLoading">
      <template v-for="(room, index) in paginatedRooms">
        <div
          v-if="room.show && room.number <= currentPage * 10 && room.number > currentPage * 10 - 10"
          :key="index"
          :id="'detailRoom' + room.id"
          class="list-room__item detail-room"
          data-v-step="4"
        >
          <div>
            <div :id="'roomNumber' + room.id" class="detail-room__number">{{ room.number }}</div>
          </div>
          <div class="detail-room__body">
            <b-icon
              @click.native="handleMoreClicked(room)"
              icon="dots-vertical"
              class="detail-room__more"
              data-v-step="5"
            />
            <b-field :addons="false" label="Nomor / Nama Kamar?" class="room-input --name">
              <b-input
                v-model="room.name"
                :class="rooms.length <= 10 ? 'short' : 'long'"
                @input="validateInput($event, room.id, 'name')"
                @focus="toggleRoomNumberFocus(room.id)"
                @blur="toggleRoomNumberFocus(room.id)"
                :disabled="room.disable"
                placeholder="No label"
              ></b-input>
              <div class="room-input__rooms-count">dari {{ rooms.length }} kamar</div>
            </b-field>
            <b-notification
              v-if="room.nameError"
              :closable="false"
              type="is-orange"
              class="detail-room__error-message"
              icon="alert-circle"
              has-icon
            >
              {{ errors[room.nameError] }}
            </b-notification>

            <b-field :addons="false" label="Lantai" class="room-input">
              <div class="room-input__optional">(Opsional)</div>
              <b-input
                v-model="room.floor"
                @input="validateInput($event, room.id, 'floor')"
                @focus="toggleRoomNumberFocus(room.id)"
                @blur="toggleRoomNumberFocus(room.id)"
                :disabled="room.disable"
                placeholder="No label"
              ></b-input>
            </b-field>
            <b-notification
              v-if="room.floorError"
              :closable="false"
              type="is-orange"
              class="detail-room__error-message"
              icon="alert-circle"
              has-icon
            >
              {{ errors[room.floorError] }}
            </b-notification>

            <div v-if="room.gp_badge && room.gp_badge.show" class="detail-room__badges">
              <span class="detail-room__goldplus-badge">GoldPlus</span>
            </div>

            <div class="detail-room__availability">
              Sudah Berpenghuni
              <b-tooltip
                v-if="room.disable"
                label="Kamar terkait dengan kontrak/booking, untuk menghapus dan mengosongkan, silakan ubah melalui edit data penyewa"
                type="is-dark"
                multilined
              >
                <b-icon icon="information-outline" size="is-small" />
              </b-tooltip>

              <b-checkbox
                v-model="room.occupied"
                @change.native="handleCheckboxChanged(room)"
                :disabled="room.disable"
                type="is-green-brand"
              ></b-checkbox>
            </div>
          </div>
        </div>
      </template>
    </template>
    <div v-else class="c-loader"></div>

    <mk-snackbar v-model="showMore" class="snackbar-more" backdrop>
      <div class="snackbar-more__body">
        <div
          @click="handleAddRoomOptionSelected"
          :class="{ '--disabled': rooms.length >= 500 }"
          class="snackbar-more__add"
        >
          <b-icon icon="plus" /> <span class="label-icon">Tambah Kamar</span>
        </div>
        <div
          @click="handleDeleteRoomOptionSelected"
          :class="{ '--disabled': isDisabledDeleteOption }"
          class="snackbar-more__delete"
        >
          <mk-icon
            :width="24"
            :color="isDisabledDeleteOption ? 'default' : 'red'"
            :disabled="isDisabledDeleteOption"
            variant="trash-outline"
            class="snackbar-more__delete-icon"
          />
          <span class="label-icon">Hapus Kamar</span>
        </div>
      </div>
      <div @click="showMore = false" class="snackbar-more__footer">
        <span>Tutup</span>
      </div>
    </mk-snackbar>

    <mk-snackbar v-model="showDeleteConfirmation" class="snackbar-delete" backdrop>
      <div class="snackbar-delete__title">Yakin ingin menghapus kamar?</div>
      <div class="snackbar-delete__description">Anda akan menghapus kamar terisi/ berpenghuni</div>
      <div class="snackbar-delete__footer">
        <mk-button @clicked="showDeleteConfirmation = false" color="green-inverse">
          Batalkan
        </mk-button>
        <mk-button @clicked="handleDeleteRoomClicked" color="green-brand">Hapus</mk-button>
      </div>
    </mk-snackbar>

    <mk-pagination
      v-if="totalShownRooms > 10"
      :simple="false"
      :total="totalShownRooms"
      :per-page="10"
      :current.sync="currentPage"
      :range-before="1"
      :range-after="1"
      size="is-small"
      class="list-room__pagination"
    />
  </div>
</template>

<script>
import cloneDeep from 'lodash/cloneDeep';
import MkSnackbar from '~/components/global/molecules/MkSnackbar';
import MkPagination from '~/components/global/molecules/MkPagination';
import MkIcon from '~/components/global/atoms/MkIcon';
import MkButton from '~/components/global/atoms/MkButton';

/**
 * events:
 * - dataChange = when rooms is changed
 */
export default {
  name: 'ListRoom',
  components: {
    MkSnackbar,
    MkPagination,
    MkIcon,
    MkButton,
  },
  props: {
    data: {
      type: Array,
      required: true,
    },
    searchKeyword: {
      type: String,
      default: '',
    },
    availabilityOption: {
      type: String,
      default: 'all',
      validator(prop) {
        return ['all', 'available', 'unavailable'].includes(prop);
      },
    },
  },
  data() {
    return {
      showMore: false,
      showDeleteConfirmation: false,
      currentPage: 1,
      /**
       * element of rooms:
       * {
       *  "id": 57299,
       *  "name": "123",
       *  "floor": "123",
       *  "occupied": true,
       *  "disable": false,
       *  "show": true,
       *  "number": 1,
       *  "gp_badge": { show: true/false },
       *  "floorError": null,
       *  "nameError": "duplicateName"
       *  "type": "add", "update", "delete", null = is used for updating room (line 366)
       * }
       */
      rooms: cloneDeep(this.data),
      // this variable will be object form that refer to element of rooms above
      selectedRoom: null,
      isLoading: false,
      errors: {
        emptyName: 'Nomor/ nama masih kosong.',
        duplicateName: 'Nomor/ nama sudah dipakai kamar lain.',
        maxLength: 'Maks. 50 karakter.',
      },
      // random ID for adding room
      randomId: 'rand',
      // api params for bulk update
      deletedIds: [],
    };
  },
  computed: {
    // rooms that show on specific page
    paginatedRooms() {
      const start = (this.currentPage - 1) * 10;
      const end = start + 10;
      return this.shownRooms.slice(start, end);
    },
    totalShownRooms() {
      return this.shownRooms.length;
    },
    // rooms that has true in 'show' property
    shownRooms() {
      return this.rooms.filter((room) => room.show);
    },
    isDisabledDeleteOption() {
      return this.rooms.length === 1 || (this.selectedRoom && this.selectedRoom.disable);
    },
    addTenantWebview() {
      return this.$store.state.addTenant.webviewInterface;
    },
  },
  watch: {
    searchKeyword(val) {
      this.filterData(this.availabilityOption, val);
      this.currentPage = 1;
      this.scrollToRoomList();
    },
    availabilityOption(val) {
      this.filterData(val, this.searchKeyword);
      this.currentPage = 1;
      this.scrollToRoomList();
    },
    data: {
      deep: true,
      handler(data) {
        this.rooms = cloneDeep(this.data);
        this.filterData(this.availabilityOption, this.searchKeyword);
        this.$changes.update(!this.addTenantWebview);
      },
    },
    currentPage() {
      this.scrollToRoomList();
    },
  },
  created() {
    this.filterData(this.availabilityOption, this.searchKeyword);
  },
  methods: {
    scrollToRoomList() {
      if (this.$refs.listRoom.getBoundingClientRect().top < 200) {
        window.scroll({
          top: document.getElementById('dataBody').offsetTop - 72,
          behavior: 'smooth',
        });
      }
    },
    handleMoreClicked(room) {
      this.showMore = true;
      this.selectedRoom = cloneDeep(room);
    },
    filterData(availabilityOption, searchKeyword) {
      this.isLoading = true;
      let rooms = this.rooms.map((room) => {
        room.show =
          availabilityOption === 'all' || room.occupied === (availabilityOption === 'unavailable');
        return room;
      });
      if (searchKeyword) {
        rooms = rooms.map((room) => {
          // only set show when show from availability is true
          room.show && (room.show = room.name.toLowerCase().includes(searchKeyword));
          return room;
        });
      }

      let number = 0;
      rooms.forEach((room) => {
        room.number = room.show ? ++number : 0;
      });
      this.rooms = rooms;
      this.isLoading = false;
    },
    validateInput(val, id, type) {
      const room = this.rooms.find((room) => room.id === id);

      if (val.length > 50) room[`${type}Error`] = 'maxLength';
      else if (type === 'name' && !val.trim().length) room[`${type}Error`] = 'emptyName';
      else if (type === 'name' && this.rooms.some((room) => room.name === val && room.id !== id))
        room[`${type}Error`] = 'duplicateName';
      else {
        room[`${type}Error`] = null;
        !room.type && (room.type = 'update'); // give type 'update' for valid room only and doesnt have type
      }

      this.$changes.update(!this.addTenantWebview);
    },
    /**
     * this function will be called on parent
     */
    checkRoomsError() {
      let i = 0;
      let errorRoomName = null;
      while (i < this.rooms.length) {
        if (this.rooms[i].floorError || this.rooms[i].nameError) {
          errorRoomName = this.errors[this.rooms[i].floorError || this.rooms[i].nameError];
          break;
        }
        i++;
      }
      return errorRoomName;
    },
    handleAddRoomOptionSelected() {
      if (this.rooms.length >= 500) return;

      this.randomId = `${this.randomId}1`;
      const idx = this.rooms.findIndex((room) => room.id === this.selectedRoom.id) + 1;
      this.rooms.splice(idx, 0, {
        id: this.randomId,
        name: '',
        floor: '',
        occupied: this.availabilityOption === 'unavailable',
        disable: false,
        show: true,
        number: 1,
        floorError: null,
        nameError: 'emptyName',
        type: 'add',
      });
      this.$emit('dataChange', this.rooms);
      this.showMore = false;
      this.$buefy.toast.open({
        duration: 2000,
        message: 'Kamar berhasil ditambahkan',
        position: 'is-bottom',
        container: '#roomEditPage',
      });

      this.$nextTick(() => {
        // when add room from lastest room (10th) in specific page, go to next page
        if (this.paginatedRooms[9] && this.paginatedRooms[9].id === this.selectedRoom.id) {
          ++this.currentPage;
        }
        // directly add room below selected room
        else {
          const detailRoomEl = document.getElementById('detailRoom' + this.randomId);
          window.scroll({
            top: detailRoomEl ? detailRoomEl.offsetTop - 212 : 0,
            behavior: 'smooth',
          });
        }
      });
    },
    handleDeleteRoomOptionSelected() {
      if (this.rooms.length === 1 || this.selectedRoom.disable) return;

      if (this.selectedRoom.occupied) this.showDeleteConfirmation = true;
      else this.deleteRoom();
      this.showMore = false;
    },
    handleDeleteRoomClicked() {
      this.deleteRoom();
      this.showDeleteConfirmation = false;
    },
    deleteRoom() {
      // add to deletedIds when id is only number (null comes from "Add Room")
      typeof this.selectedRoom.id === 'number' && this.deletedIds.push(this.selectedRoom.id);

      const newRoom = this.rooms.filter((room) => room.id !== this.selectedRoom.id);
      this.$emit('dataChange', newRoom);
      this.$buefy.toast.open({
        duration: 2000,
        message: 'Kamar berhasil dihapus',
        position: 'is-bottom',
        container: '#roomEditPage',
      });
    },
    handleCheckboxChanged(room) {
      !room.type && (room.type = 'update'); // give type 'update' for valid room only and doesnt have type

      this.$emit('dataChange', this.rooms);
      this.$buefy.toast.open({
        duration: 2000,
        message: room.occupied
          ? 'Kamar terisi bertambah setelah "Update Kamar".'
          : 'Kamar Kosong Bertambah 1',
        position: 'is-bottom',
        container: '#roomEditPage',
      });
    },
    toggleRoomNumberFocus(id) {
      document.getElementById('roomNumber' + id).classList.toggle('active');
    },
  },
};
</script>

<style lang="scss" src="./ListRoom.scss" scoped></style>
