.list-room {
  &__pagination {
    margin-top: 28px;
    margin-bottom: 30px;
    /* stylelint-disable */
    ::v-deep {
      .pagination-ellipsis {
        display: none;
      }
    }
    /* stylelint-enable */
  }
}

.detail-room {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 28px 0;

  &__number {
    position: relative;
    display: block;
    width: 35px;
    height: 35px;
    padding: 2px;
    margin-top: 15px;
    line-height: 30px;
    text-align: center;
    border: 1px solid #383746;
    border-radius: 20px;

    &.active {
      color: #fff;
      background: #1baa56;
      border-width: 0;
    }
  }

  &__body {
    position: relative;
    padding: 16px;
    margin-left: 18px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }

  &__more {
    position: absolute;
    top: 16px;
    right: 7px;
    z-index: 3;
  }

  &__availability {
    font-size: 16px;
    font-weight: bold;

    ::v-deep {
      .b-checkbox {
        float: right;
        margin-top: 4px;
      }
    }
  }

  &__error-message {
    padding: 8px 12px;
    margin-top: -22px;

    &::v-deep {
      .mdi::before {
        font-size: 16px;
      }

      .icon.is-large {
        width: 16px;
        height: 16px;
      }

      .media-left {
        margin-right: 14px;
      }
    }
  }

  &__badges {
    margin-bottom: 21px;
  }

  &__goldplus-badge {
    padding: 2px 8px;
    font-size: 12px;
    font-weight: bold;
    color: #303030;
    background: #fad686;
    border-radius: 30px;
  }
}

.room-input {
  position: relative;
  margin-bottom: 30px;

  &__rooms-count {
    position: absolute;
    right: 8px;
    bottom: 8px;
    color: #aaa;
  }

  &__optional {
    position: absolute;
    top: 2px;
    left: 50px;
    font-size: 14px;
  }
  ::v-deep {
    .input {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
  &.--name {
    ::v-deep {
      .input {
        padding-right: 120px;
      }
    }
  }
  /* stylelint-disable */
  .short {
    ::v-deep {
      .input {
        padding-right: 103px;
      }
    }
  }
  .long {
    ::v-deep {
      .input {
        padding-right: 119px;
      }
    }
  }
  /* stylelint-enable */
}

.snackbar-more {
  // position: relative;

  &__body {
    margin-bottom: 49px;
  }

  @mixin item() {
    padding: 10px 0;
    font-size: 14px;
    font-weight: bold;
    line-height: 24px;
  }

  &__add {
    border-bottom: dashed 1px #f4f4f4;
    @include item();

    .label-icon {
      margin-left: 16px;
      vertical-align: 4px;
    }
    &::v-deep {
      .mdi-plus::before {
        color: #1baa56;
        background-color: #e8f7ee;
        border-radius: 4px;
      }
    }

    &.--disabled {
      color: #aaa;

      &::v-deep {
        /* stylelint-disable-next-line */
        .mdi-plus::before {
          color: #aaa;
          background-color: #f5f5f5;
        }
      }
    }
  }

  &__delete {
    @include item();

    .label-icon {
      margin-left: 16px;
    }
    &::v-deep {
      .mdi-delete::before {
        color: #e04205;
      }
    }

    &.--disabled {
      color: #aaa;

      &::v-deep {
        /* stylelint-disable-next-line */
        .mdi-plus::before {
          color: #aaa;
        }
      }
    }
    &-icon[disabled] {
      opacity: 0.7;
    }
  }

  &__footer {
    position: relative;

    /* stylelint-disable-next-line */
    span {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      padding: 15px 0;
      font-size: 12px;
      font-weight: bold;
      line-height: 18px;
      text-align: center;
      border-top: solid 1px #f4f4f4;
    }
  }
}

.snackbar-delete {
  &__title {
    font-size: 20px;
    font-weight: bold;
    line-height: 30px;
    color: #242424;
  }
  &__description {
    margin-top: 16px;
    font-size: 14px;
    line-height: 21px;
    color: #484848;
  }
  &__footer {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
    ::v-deep {
      .c-mk-button {
        flex-grow: 1;
        margin: 16px 0;
      }
      .c-mk-button:first-child {
        margin-right: 5px;
      }
      .c-mk-button:last-child {
        margin-right: 5px;
      }
    }
  }
}
