$header-notification-padding: 16px;
.c-notification {
  position: absolute;
  z-index: 5;
  height: auto;
  padding: $header-notification-padding;
  padding-bottom: 0;
  overflow: hidden;
  background: #fff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 4px 20px rgba(86, 86, 86, 0.1);

  &__header {
    height: 24px;
    margin-bottom: 16px;
    font-size: 16px;
    font-style: normal;
    line-height: 24px;
    color: #383746;
    text-align: left;
  }

  &__count {
    display: inline;
    font-weight: bold;
  }

  &__see-more {
    display: block;
    float: right;
    cursor: pointer;
  }

  &__item {
    height: 100px;
    padding: 16px 0;
    overflow-y: hidden;
    line-height: 20px;
    cursor: pointer;
    border-top: solid 1px #ddd;

    $image-width: 48px;
    &-image {
      display: inline-block;
      width: $image-width;
      height: $image-width;
      object-fit: cover;
      vertical-align: top;
      border-radius: 25px;
    }

    &-right {
      display: inline-block;
      width: calc(100% - #{$image-width} - #{$header-notification-padding});
      padding-left: 8px;
      text-align: left;
      vertical-align: middle;
    }

    &-title {
      display: block;
      font-size: 16px;
      font-style: normal;
      font-weight: bold;
      line-height: 24px;
      color: #383746;
    }

    &-message {
      display: block;
      height: 42px;
      overflow-y: hidden;
      font-size: 14px;
      font-style: normal;
      line-height: 21px;
      color: #383746;
    }
  }

  &__new {
    background-color: #dff9ff;
  }

  .c-loader {
    margin-bottom: 16px;
  }
}
