<template>
  <div class="c-notification">
    <span v-if="loading" class="c-loader"></span>
    <div v-else>
      <div class="c-notification__header">
        <div class="c-notification__count">Notifikasi({{ count }})</div>
        <div @click="handleSeeMoreClicked" class="c-notification__see-more">
          Lihat semua
        </div>
      </div>
      <div style="overflow:auto">
        <div
          v-for="(notif, index) in notifications"
          :key="'notificationItem' + index"
          :class="{ 'c-notification__new': !notif.is_read }"
          class="c-notification__item"
        >
          <a
            :href="
              notif.type === 'contract_submission_created'
                ? `${notif.url}?from=contract-notification`
                : notif.url
            "
          >
            <img :src="notif.photo" @error="handleImageError" class="c-notification__item-image" />
            <div class="c-notification__item-right">
              <div class="c-notification__item-title">{{ notif.review }}</div>
              <div class="c-notification__item-message">
                {{ notif.title }}
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'MkNotification',
  props: {
    notifications: {
      type: Array,
      default: () => [],
    },
    count: {
      type: Number,
      default: 0,
    },
    loading: {
      type: Boolean,
      default: false,
    },
  },
  methods: {
    handleSeeMoreClicked() {
      window.location.assign(`${process.env.MAMIKOS_URL}/ownerpage/notification`);
    },
    handleImageError(event) {
      event.target.src = require('~/assets/images/placeholder_loading.svg');
    },
  },
};
</script>

<style lang="scss" src="./MkNotification.scss" scoped></style>
