<template>
  <grid-column class="billing-management__column empty-state-list">
    <template ref="rowSlot" v-slot:row>
      <grid-row
        v-if="filterSearchTenantName"
        justify-self="center"
        align-self="center"
        class="billing-management__row empty-state-list__empty-data"
      >
        <img
          class="billing-management__link-remember__icon"
          src="~assets/images/billing_management/il_empty-search.svg"
        />
        <h1>Penyewa Tidak Ditemukan</h1>
        <p>Periksa Kembali Nama dari Penyewa di Kos Anda</p>
      </grid-row>

      <grid-row
        v-else
        justify-self="center"
        align-self="center"
        class="billing-management__row empty-state-list__empty-data"
      >
        <h1>{{ title }}</h1>
        <p>{{ description }}</p>
      </grid-row>
    </template>
  </grid-column>
</template>

<script>
import GridColumn from '../GridColumn';
import GridRow from '../GridRow';

export default {
  components: {
    GridColumn,
    GridRow,
  },
  props: {
    title: {
      type: String,
      default: '',
    },
    description: {
      type: String,
      default: '',
    },
  },
  computed: {
    filterSearchTenantName() {
      return this.$store.state.billingManagement.filterOption.tenantName;
    },
  },
};
</script>

<style lang="scss" src="./EmptyStateList.scss" scoped></style>
