.empty-state-list {
  &__empty-data {
    place-self: start center;
    text-align: center;
    height: auto;
    padding: 66px 0px;

    img {
      width: 318px;
      height: 253px;
    }

    h1 {
      color: #303030;
      font-weight: 900;
      font-size: 24px;
      @media (max-width: 480px) {
        font-size: 20px;
      }
    }

    p {
      font-weight: normal;
      font-size: 16px;
      color: #404040;
      width: 375px;
      margin-top: 11px;
      @media (max-width: 480px) {
        width: auto;
      }
    }
  }
}
