<template>
  <div class="direct-booking">
    <h1 class="title">Manfaat Booking Langsung</h1>
    <ul>
      <li v-for="(data, index) in dataDirectBooking" :key="index + 'directBooking'">
        <img v-lazy="data.icon" class="direct-booking__images-icons" />
        <div class="direct-booking__description">
          <h4 class="direct-booking__title">{{ data.title }}</h4>
          <p v-text="data.description" />
        </div>
      </li>
    </ul>
    <div class="direct-booking__submit-wrapper">
      <b-button
        ref="directBookingButton"
        :loading="isLoading"
        @click="nextStep"
        class="direct-booking__button-next"
        type="is-primary"
        expanded
      >
        Lanjutkan
      </b-button>
    </div>

    <mk-modal v-model="showSuccessModal">
      <mk-card class="success-modal">
        <mk-card-body>
          <img
            src="~/assets/images/booking/booking-activation-success.svg"
            class="success-modal__image"
          />
          <h2 class="success-modal__title">Anda Telah Memperbaiki Data</h2>
          <p class="success-modal__description">
            Data akan diverifikasi admin dalam 2x24 jam. Mohon menunggu, ya.
          </p>
          <b-button @click="handleSuccessButton" tag="a" type="is-primary" expanded>
            Kembali
          </b-button>
        </mk-card-body>
      </mk-card>
    </mk-modal>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import directBooking from '../data/directBooking';
import MkModal from '~/components/global/molecules/MkModal/MkModal';
import MkCard from '~/components/global/molecules/MkCard';
import MkCardBody from '~/components/global/molecules/MkCard/components/MkCardBody';
import tracker from '~/components/page-features/kos-booking-register/mixins/tracker';

export default {
  name: 'DirectBookingComponent',
  components: {
    MkModal,
    MkCard,
    MkCardBody,
  },
  mixins: [tracker],
  data() {
    return {
      isLoading: false,
      isSkipForm: false,
      isWaitingBBK: false,
      showSuccessModal: false,
      mamikosUrl: process.env.MAMIKOS_URL,
    };
  },
  computed: {
    ...mapGetters('profile', ['membership', 'isBookingAvailable']),
    isMamipayUser() {
      return this.membership.is_mamipay_user;
    },
    dataDirectBooking() {
      return directBooking;
    },
    recentKos() {
      const { kos_name, room_count, image } = this.$route.query;
      return {
        name: kos_name,
        roomCount: room_count,
        img: image,
      };
    },
    isAutoBBK() {
      const { autobbk } = this.$route.query;
      return autobbk;
    },
    isRejectedNotif() {
      const rejectedNotif = this.$route.query['rejected-notif'];
      return rejectedNotif;
    },
    isEditData() {
      const editData = this.$route.query['edit-data'];
      return editData;
    },
    isRedirectUrl() {
      const { redirect_url } = this.$route.query;
      return redirect_url;
    },
    isGoldPlusSubmission() {
      const { gp_submission } = this.$route.query;
      return gp_submission;
    },
  },
  created() {
    this.getBBkStatus();

    // Skip to form data personal if user came from goldplus submission flow.
    if (this.isGoldPlusSubmission) this.$emit('next');

    this.$store
      .dispatch('profile/getMamipayBookingAvailable')
      .then(() => this.sendTrackerOnboardingBookingViewed());
  },
  methods: {
    getBBkStatus() {
      this.isLoading = true;
      this.$api.getBbkStatus().then((res) => {
        this.isLoading = false;
        if (res.data.status) {
          const { waiting } = res.data.bbk_status;
          // owner bbk waiting > 0
          if (waiting > 0) this.isWaitingBBK = true;
          // owner is mamipay & bbk active > 0 & free listing > 0 then skip form
          if (this.isMamipayUser) this.isSkipForm = true;
        }
      });
    },
    registerBBK() {
      this.isLoading = true;
      this.$api
        .registerBbk()
        .then((res) => {
          this.isLoading = false;
          // failed response
          if (!res.data.status) {
            this.showToast(res.data.meta.message);
            return;
          }
          this.showSuccessModal = true;
        })
        .catch((err) => {
          this.isLoading = false;
          this.showToast(err.message);
        });
    },
    showToast(msg) {
      this.$buefy.toast.open({
        duration: 2000,
        message: msg,
        position: 'is-bottom',
      });
    },
    nextStep() {
      const query = {
        kos_name: this.recentKos.name,
        room_count: this.recentKos.roomCount,
        image: this.recentKos.img,
        redirect_url: this.isRedirectUrl,
      };

      // from reject notification
      if (this.isRejectedNotif) {
        if (this.isWaitingBBK) {
          // bbk rejected proposed
          this.registerBBK();
        } else {
          // bbk rejected current
          this.$emit('next');
        }
        return;
      }

      // from button Edit Data Pribadi
      if (this.isEditData) {
        this.$emit('next');
        return;
      }

      // from autobbk create kos
      if (this.isAutoBBK) {
        query.autobbk = true;
        this.$emit('next');
        return;
      }

      // from step1.1
      if (this.isSkipForm) {
        this.$router.replace({
          name: 'kos-booking-activation',
          query,
          params: { previousPage: 'Manfaat Booking Langsung page' },
        });
        return;
      }

      this.$emit('next');
    },
    handleSuccessButton() {
      if (this.isRedirectUrl) {
        window.location.href = this.isRedirectUrl;
        return;
      }
      window.history.go(-1);
    },
    sendTrackerOnboardingBookingViewed() {
      this.$tracker.send('moe', [
        '[Owner] Activation BBK - Onboarding Booking Screen Viewed',
        {
          interface: this.$device.isMobile ? 'mobile' : 'desktop',
          redirection_source: this.redirectionSource,
          is_booking: this.isBookingAvailable,
        },
      ]);
    },
  },
};
</script>

<style lang="scss" scoped src="./DirectBooking.scss"></style>
