.direct-booking {
  @media (max-width: 768px) {
    padding-bottom: 55px;
  }
  .title {
    margin-bottom: 35px;
    font-size: 24px;
    font-weight: 900;
    color: #242424;
    @media (max-width: 768px) {
      margin-bottom: 20px;
    }
  }
  ul {
    text-align: left;
    // stylelint-disable selector-max-type
    li {
      display: flex;
      align-items: flex-start;
      margin-bottom: 20px;
    }
  }
  &__images-icons {
    height: 36px;
    margin-top: 5px;
    margin-right: 15px;
  }
  &__description {
    p {
      font-size: 16px;
      color: #404040;
    }
  }
  &__title {
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: bold;
    color: #303030;
  }
  &__button-next {
    height: 48px;
    margin-top: 35px;
    font-size: 16px;
    font-weight: 700;
    &[disabled] {
      color: #bbb;
      background-color: #f6f6f6;
    }
    @media screen and (max-width: 768px) {
      margin-top: 0;
    }
  }
  &__submit-wrapper {
    @media screen and (max-width: 768px) {
      position: fixed;
      right: 0;
      bottom: 0;
      left: 0;
      padding: 15px;
      background-color: #fff;
      border-top: solid 1px #e8e8e8;
    }
  }
}

.success-modal {
  max-width: 444px;
  @media screen and (max-width: 768px) {
    width: 100vw;
    max-width: 100vw;
    height: 100vh;
    margin: 0;
    border-radius: 0;
  }

  @media screen and (max-width: 768px) {
    ::v-deep {
      .c-mk-card__body {
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: center;
      }
    }

    .button {
      position: fixed;
      right: 15px;
      bottom: 15px;
      left: 15px;
      width: auto;
    }
  }

  &__image {
    display: block;
    margin: auto auto 30px;
    @media screen and (max-width: 768px) {
      margin: 0;
    }
  }

  &__title {
    margin-bottom: 16px;
    font-size: 20px;
    font-weight: bold;
    line-height: 30px;
    color: #242424;
    text-align: center;
  }

  &__description {
    margin-bottom: 33px;
    font-size: 16px;
    line-height: 24px;
    color: #484848;
    text-align: center;
  }
}
