.room-survey-modal {
  max-width: 600px;
  text-align: center;

  &__title {
    margin-bottom: 30px;
    font-size: 18px;
    color: #1baa56;
  }

  &__options {
    margin: 15px 10%;
    text-align: center;
  }

  &__room-count {
    width: 100px;
  }

  &__room-line {
    display: inline-block;
    height: 36px;
    line-height: 36px;
    vertical-align: middle;
  }
}
