<template>
  <mk-modal v-model="active">
    <mk-card v-if="isShowCard">
      <mk-card-body class="room-survey-modal">
        <h4 class="room-survey-modal__title">TERIMA KASIH PEMILIK KOST</h4>

        <p>
          Kami, tim Mamikos berterimakasih karena Anda sudah mempercayakan iklan kost Anda kepada
          Mamikos selama ini sampai kamar kost Anda penuh.
        </p>
        <p>
          Berapa kamar dari kost Anda yang disewa oleh pengguna Mamikos?
        </p>
        <div class="room-survey-modal__options">
          <b-input
            v-model="roomCount"
            type="number"
            class="room-survey-modal__room-count room-survey-modal__room-line"
          ></b-input>
          <span class="room-survey-modal__room-line">Kamar</span>
        </div>
        <mk-button
          :has-spinner="isSendingData"
          :disabled="!roomCount || isSendingData"
          @clicked="handleSubmitButtonClicked"
          color="green-brand"
          block
        >
          SUBMIT
        </mk-button>
      </mk-card-body>
    </mk-card>
  </mk-modal>
</template>

<script>
import MkModal, { mixin as modalMixin } from '~/components/global/molecules/MkModal/MkModal';
import MkCard from '~/components/global/molecules/MkCard';
import MkCardBody from '~/components/global/molecules/MkCard/components/MkCardBody';
import MkButton from '~/components/global/atoms/MkButton';

export default {
  name: 'ModalRoomSurvey',
  components: {
    MkModal,
    MkButton,
    MkCard,
    MkCardBody,
  },
  mixins: [modalMixin],
  props: {
    hasQueryString: {
      type: Boolean,
      default: true,
    },
  },
  data() {
    return {
      name: '',
      isShowCard: true,
      isSendingData: false,
      roomCount: 0,
    };
  },
  computed: {
    packageId() {
      return this.$store.getters['profile/membership'].active_package;
    },
    additionalParams() {
      return this.hasQueryString ? { premium_survey: true } : {};
    },
  },
  methods: {
    async handleSubmitButtonClicked() {
      this.isSendingData = true;
      const response = await this.$api.postSurveyRoom(
        {
          room_id: this.packageId,
          room_count: parseInt(this.roomCount),
          data_for: 'premium_expired',
        },
        this.additionalParams,
      );
      this.isSendingData = false;
      this.isShowCard = false;
      if (response.data.status) {
        await this.$alert('is-success', 'Berhasil!', 'Sukses mengisi survey');
      } else {
        await this.$alert('is-danger', 'Gagal!', response.data.meta.message);
      }
      this.toggleModal(false);
    },
  },
};
</script>

<style lang="scss" src="./ModalRoomSurvey.scss" scoped></style>
