<template>
  <div @click="selectCard">
    <bg-card class="add-contract-box">
      <div class="add-contract-box__card-title">
        <bg-text size="title-3" tag="span">
          {{ title }}
        </bg-text>

        <bg-icon name="chevron-right" />
      </div>

      <bg-divider />

      <div class="add-contract-box__card-content">
        <bg-text size="body-2">
          {{ content }}
        </bg-text>

        <ol class="add-contract-box__content-steps">
          <li v-for="(step, index) in steps" :key="index">
            <bg-text size="body-2">{{ step }}</bg-text>
          </li>
        </ol>
      </div>
    </bg-card>
  </div>
</template>

<script>
import { BgCard, BgDivider, BgIcon, BgText } from 'bangul-vue';

export default {
  name: 'ContractTypeBox',

  components: {
    BgCard,
    BgDivider,
    BgIcon,
    BgText,
  },

  props: {
    title: {
      type: String,
      default: '',
    },
    content: {
      type: String,
      default: '',
    },
    steps: {
      type: Array,
      default: () => {
        return [];
      },
    },
  },

  methods: {
    selectCard() {
      this.$emit('select');
    },
  },
};
</script>

<style lang="scss" src="./ContractTypeBox.scss"></style>
