.add-contract-box {
  width: 328px;
  padding: 0 !important;
  cursor: pointer;

  @media (max-width: 328px) {
    width: 100%;
  }

  &__card-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
  }

  &__card-content {
    padding: 20px;
    margin: 1px;
    background-color: #fafafa;
    border: 1px solid #e8e8e8;
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
  }

  &__content-steps {
    padding-left: 15px;
    margin-top: 15px;
  }
}
