<template>
  <div class="c-wrapper">
    <div v-if="isDesktop" @click="prevPage" class="c-navigation">
      <bg-link variant="medium-naked">Kembali</bg-link>
    </div>
    <div class="c-body">
      <div class="c-body__content">
        <div class="c-body__illustration">
          <bg-illustration name="kos-around" alt="kos-around" height="284" width="213" />
        </div>
        <!-- title left -->
        <div class="l-title">
          <div class="l-title__content">
            Cari tahu kos sekitar Anda dengan statistik lebih baik
          </div>
        </div>
      </div>
      <div class="l-right c-title">
        <div v-if="isDataStatisticReady">
          <p class="c-title__content">Harga Sewa per {{ rentTypeUnit }} Anda</p>

          <div class="l-price ">
            <div class="l-price__title">Rp{{ roomPrice }}</div>
            <div class="l-price__others">Harga Sewa per {{ rentTypeUnit }} di kos sekitar</div>
          </div>
          <!-- table price -->
          <table class="c-table">
            <tr>
              <th colspan="2" class="c-table__header">
                <div class="c-table__title">
                  <div class="c-table__header-left">Rata-Rata Harga</div>
                  <div class="c-table__header-right">Rp{{ averageUnitPrice }}</div>
                </div>
              </th>
            </tr>

            <tr>
              <td class="c-table__footer no-border">
                <div class="c-table__box">
                  <div class="c-table__price">Rp{{ topUnitPrice }}</div>
                  <div class="c-table__footer-info">Harga Tertinggi</div>
                </div>
              </td>
              <td class="c-table__footer ">
                <div class="c-table__box">
                  <div class="c-table__price">Rp{{ lowUnitPrice }}</div>
                  <div class="c-table__footer-info">Harga Terendah</div>
                </div>
              </td>
            </tr>
          </table>

          <hr v-if="!isDesktop" class="c-line" />
          <div class="c-button">
            <div class="c-button__content">
              <div v-if="!isDesktop" class="c-button__mobile">
                <bg-button @click="prevPage" variant="tertiary" size="lg" block>Kembali</bg-button>
              </div>
              <div class="c-button__mobile">
                <bg-button @click="nextPage" variant="primary" size="lg" block>Lanjut</bg-button>
              </div>
            </div>
          </div>
        </div>
        <statistic-skeleton v-else />
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import { BgIllustration, BgButton, BgLink } from 'bangul-vue';
import statisticMixin from '../../mixins/statisticMixin';
import statisticSkeleton from '../LandingStatisticPage/skeletonGpStatistic';
import { toThousands } from '~/utils/number';
export default {
  name: 'BenefitFromGp',

  components: {
    BgLink,
    BgButton,
    BgIllustration,
    statisticSkeleton,
  },

  mixins: [statisticMixin],

  data() {
    return {
      prevPagePath: '',
    };
  },

  computed: {
    isDesktop() {
      return this.$device.isDesktop;
    },

    ...mapGetters('statistic', ['storeTitlePrice', 'storePriceData']),

    roomPrice() {
      return toThousands(this.storeTitlePrice.price);
    },
    rentTypeUnit() {
      return this.storeTitlePrice.rent_type_unit;
    },

    averageUnitPrice() {
      return toThousands(this.storePriceData.average);
    },
    topUnitPrice() {
      return toThousands(this.storePriceData.max);
    },
    lowUnitPrice() {
      return toThousands(this.storePriceData.min);
    },

    isDataStatisticReady() {
      return !!this.$store.state.statistic.personalStatisticData;
    },
  },

  created() {
    this.isDataReadyOnStore();
  },

  methods: {
    isDataReadyOnStore() {
      if (this.$store.state.statistic.personalStatisticData) {
        this.checkStatisticData(localStorage.getItem('gpStatistic'));
        this.isLoadPriceData = false;
      } else {
        this.getAllStatisticData();
        this.checkStatisticData(localStorage.getItem('gpStatistic'));
      }
    },

    checkStatisticData(statisticData) {
      if (statisticData === 'null') {
        this.prevPagePath = '/exit-gp-statistic';
      } else {
        this.prevPagePath = '/exit-gp-statistic/review';
      }
    },

    prevPage() {
      this.$router.push({ path: this.prevPagePath });
    },

    nextPage() {
      this.$router.push({ path: '/exit-gp-statistic/benefit-gp' });
    },
  },
};
</script>

<style lang="scss" src="./StatisticPrice.scss" scoped></style>
