.c-wrapper {
  width: 700px;
  margin: 24px auto 0;

  @media (max-width: 1024px) {
    width: 328px;
    margin: 1px auto;
    overflow: hidden;
  }
}

::v-deep .bg-c-link--medium-naked {
  font-weight: bold;
  line-height: 24px;
}

::v-deep .bg-c-illustration {
  width: 100%;
  height: auto;
}

.c-body {
  position: relative;
  display: flex;
  margin: 0;

  @media (max-width: 1024px) {
    position: relative;
    display: inline;
  }

  &__content {
    width: 284px;
    height: auto;

    @media (max-width: 1024px) {
      width: 328px;
      margin: 0 auto;
    }
  }
  &__illustration {
    width: 284px;
    height: 213px;
    margin: 24px auto 0;
  }
}

.l-title {
  margin: 16px 0 0;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;

  @media (max-width: 1024px) {
    width: 360px;
    margin: 4px 0 0;
  }
  &__content {
    width: 258px;
    height: 96px;
    font-size: 24px;
    line-height: 32px;
    color: #303030;

    @media (max-width: 1024px) {
      width: 360px;
      height: 56px;
      margin: 0 auto;
      font-size: 20px;
      line-height: 28px;
    }
  }
}

.l-right {
  position: relative;
  left: 25px;

  @media (max-width: 1024px) {
    left: 0;
  }
}

.c-title {
  width: 388px;
  height: auto;
  margin: 24px auto 0;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: normal;
  text-align: left;

  @media (max-width: 1024px) {
    width: 328px;
  }

  &__content {
    font-size: 20px;
    line-height: 30px;
    color: #303030;

    @media (max-width: 1024px) {
      font-size: 16px;
      line-height: 24px;
    }
  }
}

.c-subtitle {
  width: 388px;
  height: auto;
  margin: 8px auto 0;
  text-align: center;
  &__content {
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: normal;
    line-height: 30px;
    color: #404040;
    text-align: left;
  }
}

.l-price {
  margin: 4px 0 0;
  font-family: Lato;

  &__title {
    font-size: 28px;
    font-style: normal;
    font-weight: 900;
    line-height: 36px;
    color: #303030;

    @media (max-width: 1024px) {
      font-size: 24px;
      line-height: 32px;
    }
  }

  &__others {
    margin: 16px 0 0;
    font-size: 20px;
    font-weight: bold;
    line-height: 28px;
    align-items: center;
    color: #303030;
  }
}

.c-table {
  width: 388px;
  margin: 8px 0 80px;
  font-family: Lato;
  font-style: normal;
  border-collapse: separate;
  border: 1px solid #dddddd;
  border-radius: 4px;

  @media (max-width: 1024px) {
    width: 328px;
  }

  &__title {
    display: flex;
    justify-content: space-between;
    width: 354px;
    height: 30px;
    margin: 16px auto;

    @media (max-width: 1024px) {
      width: 296px;
      height: 24px;
    }
  }
  &__header-left {
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: normal;
    line-height: 30px;

    @media (max-width: 1024px) {
      font-size: 16px;
      line-height: 24px;
    }
  }

  &__header-right {
    margin: auto 0;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: bold;
    line-height: 24px;
    color: #303030;

    @media (max-width: 1024px) {
      font-size: 16px;
      line-height: 24px;
    }
  }

  &__footer {
    width: 194px;
    height: 88px;
    border-top: 1px solid #dddddd;
    border-left: 1px solid #dddddd;
  }

  &__footer-info {
    font-size: 16px;
    font-weight: normal;
    line-height: 24px;
    color: #404040;
  }

  &__price {
    font-size: 20px;
    font-weight: bold;
    line-height: 28px;
    color: #303030;

    @media (max-width: 1024px) {
      font-size: 16px;
      line-height: 24px;
    }
  }

  &__box {
    width: 162px;
    height: 52px;
    margin: 16px auto 20px;

    @media (max-width: 1024px) {
      width: 128px;
    }
  }
}

.no-border {
  border-left: 0;
}

// line mobile
hr {
  margin: 0;
}
.c-line {
  position: fixed;
  right: 0;
  bottom: 72px;
  left: 0;
  width: 100%;
  height: 1px;
  margin: 15 0;
  background: #e8e8e8;

  &__top {
    position: inline;
    right: 0;
    bottom: 0;
    left: 0;
    width: 328px;
    margin: 24px auto 0 auto;
  }
}

.c-button {
  width: 388px;
  height: 120px;
  margin: 32px auto;

  @media (max-width: 1024px) {
    position: fixed;
    right: 0;
    bottom: 16px;
    left: 0;
    width: 100%;
    height: auto;
    margin: 0;
  }

  &__content {
    width: 180px;
    padding-top: 8px;
    text-align: left;
    background-color: rgb(255, 255, 255);

    @media (max-width: 1024px) {
      display: flex;
      justify-content: space-between;
      width: 328px;
      margin-right: auto;
      margin-left: auto;
    }
  }

  &__mobile {
    @media (max-width: 1024px) {
      width: 156px;
    }
  }
}
