.goldplus-statistic {
  max-width: 411px;
  height: 100%;
  padding-bottom: 18px;
  margin: 0 auto;

  &__loader {
    position: absolute;
    top: 57.5%;
    left: 50%;
    margin: 0;
    transform: translate(-50%, -50%);

    @media (min-width: 768px) {
      left: 57.5%;
    }

    .c-loader {
      width: 40px;
      height: 40px;
    }
  }
}

.load-more {
  &__button {
    width: 186px;
    margin: auto;
    font-size: 16px;
    font-weight: 700;
  }

  &__bullets {
    padding: 6px;
  }
}

::v-deep {
  .c-mk-button--green-inverse[disabled],
  .c-mk-button--green-inverse[disabled]:hover,
  .c-mk-button--green-inverse[disabled]:focus {
    opacity: 1;
  }
}

.goldplus-statistic-scroll {
  margin-top: 114px;
}

.filter-scroll {
  position: fixed;
  top: 35px;
  z-index: 4;
  width: 100%;
  padding: 12px 16px;
  margin: 20px -16px;
  background: #fff;
  box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.04), 0 4px 8px rgba(0, 0, 0, 0.08);
}
