<template>
  <div :class="{ 'goldplus-statistic-scroll': isScrolled }" class="goldplus-statistic">
    <gold-plus-header class="goldplus-statistic__header">
      <span slot="title">Statistik GoldPlus</span>
    </gold-plus-header>

    <room-filters
      @handleOptionFilter="handleOptionFilter"
      :class="{ 'filter-scroll': isScrolled }"
      class="goldplus-statistic__filter"
    ></room-filters>

    <div v-if="isLoading" class="goldplus-statistic__loader">
      <div class="c-loader" />
    </div>

    <div v-if="!isEmpty && !isLoading" class="goldplus-statistic__content">
      <gold-plus-room-card
        v-for="(room, i) in roomsFiltered"
        :key="`room-${i}`"
        :room-data="room"
        @main-action-clicked="goToDetailPage"
        shown-gender
        main-action-text="Lihat detail statistik"
      ></gold-plus-room-card>
      <div v-show="hasMoreThanCurrentOffsetLimit" class="load-more">
        <mk-button
          @clicked="handleLoadMore"
          :disabled="isLoadMore"
          class="load-more__button"
          color="green-inverse"
          block
        >
          <span v-if="!isLoadMore">Muat lebih banyak</span>
          <mk-three-dots-loading v-else class="load-more__bullets"></mk-three-dots-loading>
        </mk-button>
      </div>
    </div>
    <empty-state v-if="isEmpty && !isLoading" :empty-message="emptyMessage"></empty-state>
  </div>
</template>

<script>
import GoldPlusRoomCard from '../../../components/GoldPlusRoomCard';
import GoldPlusStatisticRoomListFilters from '../components/GoldPlusStatisticRoomListFilters';
import EmptyState from '~/components/page-features/goldplus/components/GoldPlusRoomsEmptyState';
import MkButton from '~/components/global/atoms/MkButton';
import MkThreeDotsLoading from '~/components/global/atoms/MkThreeDotsLoading';
import GoldPlusHeader from '~/components/page-features/goldplus/components/GoldPlusHeader';

export default {
  name: 'GoldPlusStatisticMobile',
  components: {
    GoldPlusRoomCard,
    EmptyState,
    'room-filters': GoldPlusStatisticRoomListFilters,
    MkButton,
    MkThreeDotsLoading,
    GoldPlusHeader,
  },
  data() {
    return {
      isScrolled: false,
      isLoading: false,
      isLoadMore: false,
      hasMoreThanCurrentOffsetLimit: false,
      rooms: [],
      roomsFiltered: [],
      optionSelected: {
        key: '',
        value: '',
      },
      offset: 0,
      limit: 5,
    };
  },
  computed: {
    isEmpty() {
      return this.roomsFiltered.length === 0;
    },
    emptyMessage() {
      return this.optionSelected.value === 'Semua'
        ? `Tidak ditemukan kosan Anda yang menggunakan Goldplus`
        : `Tidak ditemukan kosan Anda yang menggunakan ${this.optionSelected.value}`;
    },
  },
  mounted() {
    this.handleFetchGoldPlusRoomList([this.offset, this.limit]);
    this.scrollWindow();
    this.checkCurrentScrollWindow();
  },
  created() {
    this.trackGoldPlusDashboardVisited();
  },
  methods: {
    trackGoldPlusDashboardVisited() {
      this.$tracker.send('moe', [
        '[Owner] Dashboard GP Menu Visited',
        {
          interface: this.$device.isMobile ? 'mobile' : 'desktop',
          owner_name: this.$store.getters['profile/user'].name,
        },
      ]);
    },
    handleLoadMore() {
      const params = [this.offset + this.limit, this.limit, this.optionSelected.key];
      this.offset += this.limit;
      this.handleFetchGoldPlusRoomList(params, 'isLoadMore');
    },
    handleOptionFilter(option) {
      this.offset = 0;
      const params = [this.offset, this.limit, option.key];
      this.optionSelected = option;
      this.handleFetchGoldPlusRoomList(params);
    },
    handleFetchGoldPlusRoomList([offset, limit, gp_status = 0], typeOfLoad = 'isLoading') {
      this[typeOfLoad] = true;
      this.$api
        .fetchGoldPlusStatisticRoomList({ offset, limit, gp_status })
        .then((response) => {
          this[typeOfLoad] = false;
          if (response.data.status) {
            this.hasMoreThanCurrentOffsetLimit = response.data.has_more;

            if (typeOfLoad === 'isLoading') {
              this.rooms = response.data.data;
              this.roomsFiltered = response.data.data;
            } else {
              this.rooms = this.rooms.concat(response.data.data);
              this.roomsFiltered = this.roomsFiltered.concat(response.data.data);
            }
          }
        })
        .catch((error) => {
          this[typeOfLoad] = false;
          this.$bugsnag.notify(error);
        });
    },
    scrollWindow() {
      window.addEventListener('scroll', (e) => {
        if (window.pageYOffset >= 100) {
          this.isScrolled = true;
        } else {
          this.isScrolled = false;
        }
      });
    },
    checkCurrentScrollWindow() {
      const currentScroll = window.pageYOffset || document.documentElement.scrollTop;
      if (currentScroll >= 100) {
        this.isScrolled = true;
      } else {
        this.isScrolled = false;
      }
    },
    goToDetailPage(id) {
      this.$router.push({ name: 'goldplus-statistic-id', params: { id } });
    },
  },
};
</script>

<style lang="scss" scoped src="./mobile.scss"></style>
