<template>
  <!-- eslint-disable-next-line vue/require-component-is -->
  <component :is="view"></component>
</template>

<script>
import pageView from '~/mixins/page-view';

export default {
  layout({ isDesktop }) {
    return `default/${isDesktop ? 'desktop' : 'mobile'}/index`;
  },
  head() {
    return this.$device.isDesktop
      ? { meta: [{ hid: 'viewport', name: 'viewport', content: 'width=1200' }] }
      : {};
  },
  name: 'FinanceReportRoute',
  mixins: [pageView],
  data() {
    let component;
    // component path needs to write explicitly so that webpack can create chunk based on explicit path
    if (this.$device.isDesktop) {
      component = import(
        /* webpackChunkName: "finance-report-desktop" */ `~/components/page-features/finance-report/desktop`
      );
    } else {
      component = import(
        /* webpackChunkName: "finance-report-mobile" */ `~/components/page-features/finance-report/mobile`
      );
    }
    return {
      component,
    };
  },
};
</script>
