<template>
  <div class="activity-guide">
    <h1 class="activity-guide__title">
      Aktivitas untuk Pengumpulan Poin
    </h1>
    <div v-if="isLoading" class="activity-guide__loader">
      <div class="c-loader" />
    </div>
    <div v-else>
      <b-dropdown
        :scrollable="true"
        :max-height="300"
        :mobile-modal="false"
        v-model="selectedPackage"
        @change="handleSelectedPackageChange"
        aria-role="list"
        class="activity-dropdown"
      >
        <button slot="trigger" class="button is-primary" type="button">
          <template>
            <span>{{ selectedPackageContent.title }}</span>
          </template>
          <b-icon icon="menu-down"></b-icon>
        </button>

        <b-dropdown-item
          v-for="(option, index) in packageOptions"
          :key="index"
          :value="option.id"
          :class="{ '--selected': option.id === selectedPackage }"
          class="activity-dropdown__item"
          aria-role="listitem"
        >
          <div class="media">
            <div class="media-content">
              <h3>{{ option.title }}</h3>
            </div>
          </div>
        </b-dropdown-item>
      </b-dropdown>

      <div>
        <ul class="activity-list">
          <li
            v-for="(content, index) in selectedPackageActivities"
            :key="'selectedPackageActivities' + index"
            class="activity-list__item"
          >
            <template v-if="content.point_details && content.point_details.min_point > 0">
              <div class="item-content">
                <strong class="item-content__title">
                  {{ content.title }}
                </strong>
                <p v-html="content.description" class="item-content__desc"></p>
              </div>
              <table class="point-table">
                <thead class="point-table__header">
                  <th>Poin yang didapatkan</th>
                  <th>Poin maksimal*</th>
                </thead>
                <tbody class="point-table__body">
                  <td>
                    <strong class="limit-count">
                      {{ content.point_details.min_point || '-' | toThousands | formatPoint }} poin
                    </strong>
                  </td>
                  <td>
                    <strong class="limit-count">
                      {{ content.point_details.max_point || '-' | toThousands | formatPoint }} poin
                    </strong>
                    <span
                      v-if="content.point_details.limit_type && content.point_details.max_point"
                      class="limit-type"
                      >/{{ content.point_details.limit_type }}
                    </span>
                  </td>
                </tbody>
              </table>
            </template>
          </li>
        </ul>
      </div>

      <p class="adt-info">
        *Poin yang bisa Anda dapatkan dalam kurun waktu tertentu
      </p>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapState } from 'vuex';
import { formatPoint } from '~/utils/mamipoin';
export default {
  name: 'ActivityGuide',
  filters: {
    formatPoint,
  },
  data() {
    return {
      isFocused: false,
      isLoading: false,
      activePackage: '',
      selectedPackage: '',
      schemes: [],
    };
  },
  computed: {
    ...mapState('profile', {
      profileData: (state) => state.data,
    }),
    ...mapGetters('profile', ['user', 'isBooking', 'isPremium', 'membership']),
    isDesktop() {
      return this.$device.isDesktop;
    },
    selectedPackageActivities() {
      const activityContent = this.schemes[this.selectedPackage] || {};
      return activityContent.activities || [];
    },
    selectedPackageContent() {
      return this.schemes[this.selectedPackage] || {};
    },
    packageOptions() {
      return this.schemes.map((scheme, index) => {
        return {
          id: index,
          type: scheme.type,
          title: scheme.title,
        };
      });
    },
  },
  created() {
    this.setActivePackage();
    this.fetchPointScheme();
  },
  methods: {
    setActivePackage() {
      this.activePackage = this.isBooking ? 'regular' : '';
    },
    handleSelectedPackageChange() {
      this.$nextTick(() => {
        const selectedPackage =
          this.packageOptions.find(
            (packItem) => String(packItem.id) === String(this.selectedPackage),
          ) || {};
        this.$tracker.send('moe', [
          '[Owner] Petunjuk Aktivitas: Package Selected',
          {
            interface: this.isDesktop ? 'desktop' : 'mobile',
            is_owner: true,
            is_mamipay: this.membership.is_mamipay_user,
            is_booking: this.isBooking,
            is_premium_owner: this.isPremium,
            point_total: this.profileData.total_mamipoin,
            package_type: selectedPackage.title,
          },
        ]);
      });
    },
    fetchPointScheme() {
      this.isLoading = true;
      this.$api
        .getPointScheme()
        .then((response) => {
          if (response.data.status) {
            this.schemes = response.data.data;
            this.schemes.forEach((scheme, index) => {
              if (scheme.is_active) {
                this.activePackage = index;
              }
            });
            this.selectedPackage = this.selectedPackage || this.activePackage;
          }
          this.isLoading = false;
        })
        .catch(() => {
          this.isLoading = false;
        });
    },
  },
};
</script>

<style lang="scss" scoped src="./ActivityGuide.scss"></style>
