/* stylelint-disable max-nesting-depth, selector-max-compound-selectors, selector-max-type, value-no-vendor-prefix, property-no-vendor-prefix, selector-max-specificity, selector-no-qualifying-type, color-named */

$font-size: (
  desktop: 16px,
  mobile: 14px,
);

@mixin fontSize($source: $text-size, $scale: 1) {
  font-size: map-get($source, 'desktop') * $scale;

  @media (max-width: 480px) {
    font-size: map-get($source, 'mobile') * $scale;
  }
}

.activity-guide {
  max-width: 500px;
  word-break: break-word;

  @media (max-width: 480px) {
    max-width: unset;
    padding: 0 0 40px;
  }

  &__title {
    margin: 10px 0 15px;
    font-weight: bold;
    color: #303030;

    @include fontSize($font-size, 1.375);
  }

  &__loader {
    margin-top: 60px;

    @media (max-width: 480px) {
      margin: 60px auto;
    }

    .c-loader {
      width: 40px;
      height: 40px;
    }
  }

  .adt-info {
    margin-top: 30px;

    @include fontSize($font-size, 1);
  }
}

.activity-list {
  margin-top: 30px;

  &__item {
    + * {
      margin-top: 35px;
    }

    .item-content {
      line-height: 2rem;

      @media (max-width: 480px) {
        line-height: 1.5rem;
      }

      &__title {
        display: block; // fallback
        display: -webkit-box;
        max-height: 4rem;
        margin-bottom: 5px;
        overflow: hidden;
        font-weight: bold;
        text-overflow: ellipsis;
        word-break: break-word;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;

        @include fontSize($font-size, 1.25);

        @media (max-width: 480px) {
          max-height: 3rem;
        }
      }

      &__desc {
        margin-bottom: 15px;
        line-height: 1.5;
        word-break: break-word;

        @include fontSize($font-size, 1);

        ::v-deep a {
          padding-bottom: 0.5px;
          color: #1baa56;
          border-bottom: 1px solid #1baa56;
        }
      }
    }
  }
}

.point-table {
  border: 1px solid #dadada;

  @media (max-width: 480px) {
    width: 100%;
  }

  &__header {
    > th {
      width: 200px;
      padding: 15px 15px 0;
      font-weight: bold;
      line-height: 20px;
      color: #303030;

      @include fontSize($font-size, 0.875);

      @media (max-width: 480px) {
        width: 50%;
      }
    }

    > th:not(:last-of-type) {
      border-right: 1px solid #dadada;
    }
  }

  &__body {
    > td {
      padding: 0 15px 15px;
    }

    > td:not(:last-of-type) {
      border-right: 1px solid #dadada;
    }
  }

  .limit-count {
    @include fontSize($font-size, 1);
    margin-right: -1px;
  }

  .limit-type {
    @include fontSize($font-size, 0.875);
  }
}

.activity-dropdown {
  @include fontSize($font-size, 1);
  min-width: 328px;

  @media (max-width: 480px) {
    width: 100%;
    min-width: unset;
  }

  ::v-deep .dropdown-trigger {
    min-width: 328px;
  }

  ::v-deep .button {
    min-width: 328px;
    color: #303030;
    background-color: #fff;
    border-color: #dadada;
    box-shadow: unset;
    justify-content: left;

    .icon {
      margin-left: auto;
    }

    &:focus {
      border-color: #1baa56;
    }
  }

  ::v-deep .dropdown-menu {
    min-width: 328px;

    @media (max-width: 480px) {
      width: 100%;
      min-width: unset;
    }
  }

  @media (max-width: 480px) {
    ::v-deep .dropdown-trigger {
      width: 100%;
      min-width: unset;
    }

    ::v-deep .button {
      width: 100%;
      min-width: unset;

      .icon {
        margin-left: auto;
      }
    }
  }

  &.is-active {
    ::v-deep .button {
      border-color: #1baa56;
    }
  }

  &__item {
    @include fontSize($font-size, 1);

    &.--selected {
      color: #1baa56;
      background-color: unset;

      ::v-deep h3 {
        font-weight: bold;
      }

      &:hover {
        background-color: whitesmoke;
      }
    }
  }
}
