<template>
  <mk-modal v-model="active" class="detail-bill-modal">
    <mk-card v-show="isShowCard" class="detail-bill-modal__card">
      <mk-card-header class="detail-bill-modal__header">
        <span class="title-header">Biaya Tambahan</span>
        <b-icon @click.native="hideModal" class="close-icon" icon="close" size="is-medium" />
      </mk-card-header>
      <mk-card-body class="detail-bill-modal__body">
        <div class="columns is-mobile">
          <div class="column">
            <span class="title">Biaya tambahan lain</span>
          </div>
          <div class="column has-text-right">
            <mk-button @click.native="addOtherBill" color="green-inverse" size="large"
              >+ Tambah</mk-button
            >
          </div>
        </div>

        <div
          v-for="(price, i) in otherBill"
          :key="i"
          v-if="!otherBill[i].is_deleted"
          class="wrapper-form"
        >
          <div class="columns">
            <div class="column is-5">
              <field-input class="mt-0" title="Jenis Biaya">
                <input
                  v-model="price.costName"
                  type="text"
                  placeholder="Contoh: Listrik"
                  class="input-text-custom"
                />
                <img
                  v-if="!isDesktop"
                  @click="deleteOtherBillModal(i, price.costId)"
                  class="delete-icon__mobile"
                  src="~assets/images/ic_delete.svg"
                />
              </field-input>
            </div>
            <div class="column is-5">
              <field-input class="mt-0" title="Harga">
                <vue-numeric
                  v-model="price.costAmount"
                  :currency="'Rp'"
                  :separator="'.'"
                  :min="0"
                  class="input-text-custom"
                ></vue-numeric>
              </field-input>
            </div>
            <div class="columns is-2">
              <img
                v-if="isDesktop"
                @click="deleteOtherBillModal(i, price.costId)"
                class="delete-icon__mobile"
                src="~assets/images/ic_delete.svg"
              />
            </div>
          </div>
          <b-checkbox
            v-model="price.costType"
            true-value="fixed"
            false-value="other"
            type="is-success"
            >Terapkan untuk tagihan sekarang & berikutnya
          </b-checkbox>
        </div>
      </mk-card-body>
      <mk-card-footer class="detail-bill-modal__footer">
        <div class="columns">
          <div class="column is-7">
            <b-checkbox
              @input="changeToFixedAll"
              v-model="isCheckOtherPriceToAllBill"
              type="is-success"
              >Terapkan semua biaya tambahan ini untuk tagihan sekarang dan berikutnya
            </b-checkbox>
          </div>
          <div class="column has-text-right">
            <mk-button
              :disabled="isLoading || isHaveNotFilled"
              @click.native="updateAdditionalPrice"
              color="green-brand"
              size="large"
              >Simpan Biaya</mk-button
            >
          </div>
        </div>
      </mk-card-footer>
    </mk-card>
  </mk-modal>
</template>

<script>
import _reject from 'lodash/reject';
import FieldInput from '../FieldInput';
import MkButton from '~/components/global/atoms/MkButton';
import MkModal, { mixin as modalMixin } from '~/components/global/molecules/MkModal/MkModal';
import MkCard from '~/components/global/molecules/MkCard';
import MkCardHeader from '~/components/global/molecules/MkCard/components/MkCardHeader';
import MkCardBody from '~/components/global/molecules/MkCard/components/MkCardBody';
import MkCardFooter from '~/components/global/molecules/MkCard/components/MkCardFooter';

const defaultValOtherBill = {
  costId: 0,
  costName: '',
  costAmount: 0,
  costType: 'other',
};

export default {
  name: 'BillingManagementFilterRentModal',
  components: {
    MkButton,
    MkModal,
    MkCard,
    MkCardHeader,
    MkCardBody,
    MkCardFooter,
    FieldInput,
  },
  mixins: [modalMixin],
  props: {
    additionalPrice: {
      type: Array,
      required: true,
    },
    invoiceId: {
      type: Number,
      required: true,
    },
  },
  data() {
    return {
      isLoading: false,
      isShowCard: true,
      isCheckOtherPriceToAllBill: false,
      otherBill: [],
    };
  },
  computed: {
    isDesktop() {
      return this.$device.isDesktop;
    },
    isHaveNotFilled() {
      const notFilled = _reject(
        this.otherBill,
        (val) => val.costName !== '' && val.costAmount !== 0,
      );
      return notFilled.length >= 1;
    },
    isAllOtherBillFixed() {
      const allFixed = _reject(this.additionalPrice, (val) => val.cost_type === 'fixed');
      return allFixed.length === 0;
    },
  },
  watch: {
    active(val) {
      this.isShowCard = val;
    },
    otherBill: {
      deep: true,
      handler(otherBill) {
        const allFixed = _reject(otherBill, (val) => val.costType === 'fixed');
        if (allFixed.length === 0) {
          this.isCheckOtherPriceToAllBill = true;
        } else {
          this.isCheckOtherPriceToAllBill = false;
        }
      },
    },
  },
  mounted() {
    if (this.additionalPrice.length === 0) {
      this.otherBill.push(defaultValOtherBill);
    }

    if (this.isAllOtherBillFixed) {
      this.isCheckOtherPriceToAllBill = true;
    }
    this.normalizeOtherBillToData();
  },
  methods: {
    changeToFixedAll(val) {
      this.otherBill.forEach((item) => {
        item.costType = val ? 'fixed' : 'other';
      });
    },
    deleteOtherBillModal(key, id) {
      if (id === 0) {
        this.otherBill.splice(key, 1);
      } else {
        this.otherBill[key].is_deleted = true;
        this.$forceUpdate();
      }
    },
    addOtherBill() {
      this.otherBill.unshift({
        costId: 0,
        costName: '',
        costAmount: 0,
        costType: 'other',
      });
    },
    normalizeOtherBillToData() {
      this.additionalPrice.forEach((item) => {
        this.otherBill.unshift({
          costName: item.cost_name,
          costAmount: item.cost_amount,
          costType: item.cost_type,
          costId: item.cost_id,
        });
      });
    },
    normalizeOtherBillToParams() {
      const normalData = [];
      this.otherBill.forEach((item) => {
        normalData.push({
          cost_title: item.costName,
          cost_value: item.costAmount,
          cost_type: item.costType,
          cost_id: item.costId,
          is_deleted: item.is_deleted,
        });
      });
      return normalData;
    },
    updateAdditionalPrice() {
      this.isLoading = true;

      const params = {
        amount: this.rentPriceValue,
        apply_all: this.isCheckOtherPriceToAllBill,
        costs: this.normalizeOtherBillToParams(),
        invoice_id: this.invoiceId,
      };

      this.$api.updateAdditionalPrice(params).then((response) => {
        const { status, meta } = response.data;

        if (status) {
          this.$buefy.toast.open({
            duration: 2000,
            message: meta.message,
            position: 'is-bottom',
          });
          setTimeout(() => {
            location.reload();
          }, 3000);
        }
        this.isLoading = false;
      });
    },
    hideModal() {
      this.toggleModal(false);
      this.isShowCard = false;
    },
  },
};
</script>

<style lang="scss" src="./DetailBillAdditionalPriceModal.scss" scoped></style>
