.form-deposit-wrapper {
  ::v-deep {
    .input {
      height: 48px;
      margin-top: 10px;

      &:focus,
      &:active {
        border-color: #1baa56;
        box-shadow: none;
      }
    }

    .mdi-48px.mdi::before {
      font-size: 20px;
      color: #0074db;
      transform: rotate(180deg);
    }

    .icon.is-large {
      width: auto;
      height: auto;
    }

    .c-mk-button {
      width: 180px;
      font-size: 1em;
      font-weight: bold;
    }
  }

  .deposit-info {
    padding: 10px;
    margin-top: 25px;
    font-size: 14px;
    color: #0052a4;
    background-color: #f1f7ff;
  }

  .form-action-button {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 25px;
  }
}
