<template>
  <div class="form-deposit-wrapper">
    <div class="price-item">
      <label>Jumlah Deposit</label>
      <mk-currency-input v-model="depositVal" :disabled="isLoading" class="field-amount" />
    </div>

    <div class="price-info">
      <b-notification :closable="false" class="deposit-info" icon="alert-circle" has-icon>
        Biaya deposit adalah jumlah uang yang dititipkan penyewa kepada Anda, sebagai jaminan selama
        ngekos.
      </b-notification>
    </div>

    <div class="form-action-button">
      <mk-button
        @clicked="saveDeposit"
        :disabled="isLoading || !depositVal"
        :has-spinner="isLoading"
        class="additional-price-action-button"
        color="green-brand"
      >
        Simpan
      </mk-button>
    </div>
  </div>
</template>

<script>
import MixinRoomAdditionalPrice from '../../mixins/room-additional-price-form';
import MkButton from '~/components/global/atoms/MkButton';
import MkCurrencyInput from '~/components/global/molecules/MkCurrencyInput';

export default {
  name: 'AdditionalFormDeposit',

  components: {
    MkButton,
    MkCurrencyInput,
  },

  mixins: [MixinRoomAdditionalPrice],

  data() {
    return {
      depositVal: 0,
    };
  },

  created() {
    if (this.value) {
      this.depositVal = this.value.price;
    }
  },

  methods: {
    saveDeposit() {
      this.submit({ price: this.depositVal });
    },
  },
};
</script>

<style lang="scss" src="./AdditionalFormPriceDeposit.scss" scoped></style>
