<template>
  <div class="property-list">
    <template v-if="properties.length">
      <nuxt-link
        v-for="(property, key) in properties"
        :key="key"
        :to="{
          name: isUpdatedRoomPage ? `kos-rooms-kos_id-edit` : `kos-rooms-kos_id-price`,
          params: { kos_id: property._id },
        }"
      >
        <div class="property-list__item">
          <img v-lazy="property.photo_url.small" alt="kost image" class="property-list__item-img" />
          <div class="property-list__item-name">
            {{ property.room_title }}
          </div>
          <b-icon icon="chevron-right" class="property-list__item-icon" />
        </div>
      </nuxt-link>
    </template>
    <state-no-property v-else-if="noProperty" />

    <span ref="loader" v-if="isLoading" class="c-loader" style="margin:20px auto"></span>
  </div>
</template>

<script>
import StateNoProperty from '~/components/page-features/dashboard/components/StateNoProperty';
export default {
  name: 'RoomsMobile',
  components: {
    StateNoProperty,
  },
  data() {
    return {
      properties: [],
      noProperty: false,
      offset: 0,
      limit: 20,
      hasNextPage: true,
      isLoading: false,
    };
  },
  computed: {
    isUpdatedRoomPage() {
      return (
        this.$route.name === 'kos-rooms' ||
        this.$route.name === 'kos-rooms-index' ||
        this.$route.name === 'kos-rooms-kos_id'
      );
    },
  },
  created() {
    this.settingMobileNavbar();
  },
  async mounted() {
    await this.getData();
    this.addScrollEvent();
  },
  destroyed() {
    window.removeEventListener('scroll', window.mobileKosRoomsScrolled);
  },
  methods: {
    getData() {
      if (this.hasNextPage && !this.isLoading) {
        this.isLoading = true;
        return this.$api
          .getActiveProperty({ limit: this.limit, offset: this.offset })
          .then((res) => {
            !res.data.rooms.length && (this.hasNextPage = false);
            this.properties.push(...res.data.rooms);
            // show no property state when owner doesn't have any property
            !this.properties.length && (this.noProperty = true);

            // increament offset
            this.offset = this.offset + this.limit;
            this.isLoading = false;
          })
          .catch(() => {
            this.isLoading = false;
          });
      }
      return Promise.resolve();
    },
    addScrollEvent() {
      window.mobileKosRoomsScrolled = (e) => {
        const { scrollHeight, scrollTop } = document.documentElement;
        const loaderHeight = this.$refs.loader ? this.$refs.loader.offsetHeight : 0;
        // 40 is margin of loader
        if (scrollHeight - window.outerHeight - loaderHeight - 40 <= scrollTop) {
          this.getData();
        }
      };
      window.addEventListener('scroll', window.mobileKosRoomsScrolled);
    },
    settingMobileNavbar() {
      this.$store.commit('mobile/setHideTopNavbar', false);
      this.$store.commit(
        'mobile/setTopNavbarTitle',
        this.isUpdatedRoomPage ? 'Update Kamar' : 'Update Harga',
      );
      this.$store.commit('mobile/setTopNavbarAttributes', { titleAlign: 'center' });
    },
  },
};
</script>

<style lang="scss" src="./mobile.scss" scoped></style>
