.property-list {
  padding: 0;

  &__title {
    margin-left: 8px;
    font-size: 20px;
    font-weight: bold;
    line-height: 30px;
    color: rgba(0, 0, 0, 0.87);
  }

  &__item {
    display: flex;
    align-items: center;
    height: 80px;
    padding: 16px 0;
    border-bottom: 1px solid #f5f5f5;

    &-img {
      flex-basis: 40px;
      width: 40px;
      height: 40px;
      border-radius: 8px;
      object-fit: cover;
    }

    &-name {
      width: 100%;
      max-height: 40px;
      margin-left: 11px;
      overflow-y: hidden;
      font-size: 16px;
      font-style: normal;
      font-weight: bold;
      line-height: 19px;
      color: #242424;
      word-wrap: break-word;
      white-space: normal;
    }

    &-icon::v-deep {
      .mdi-24px::before {
        margin-right: -10px;
        font-size: 38px;
        color: #000;
      }
    }
  }
}
