.goldplus-submission-onboarding-content {
  margin-bottom: 20px;

  &__title {
    margin-bottom: 24px;
    font-size: 24px;
    font-weight: 900;
    line-height: 28px;
  }

  &__list {
    /* stylelint-disable value-no-vendor-prefix */
    display: -webkit-box;
    margin-bottom: 20px;

    @media (max-width: 768px) {
      margin-bottom: 16px;
    }

    &-bullets {
      height: 36px;
      margin-top: 5px;
      margin-right: 15px;
    }

    &-text {
      margin-right: 16px;
      margin-left: 16px;

      .text-title {
        margin-right: 16px;
        font-family: Lato;
        font-size: 18px;
        font-weight: 900;
        line-height: 26px;
      }

      .text-description {
        margin-top: 8px;
        margin-right: inherit;
        font-family: Lato;
        font-size: 16px;
        font-weight: normal;
        line-height: 24px;
      }
    }
  }
}
