<template>
  <div class="goldplus-submission-onboarding-content">
    <div
      v-for="(content, i) in onboardingContents"
      :key="`content-${i}`"
      class="goldplus-submission-onboarding-content__list"
    >
      <img
        :src="require('~/assets/images/goldplus/ic_subtract.svg')"
        class="goldplus-submission-onboarding-content__list-bullet"
        alt="gp submission onboarding bullet"
      />
      <div class="goldplus-submission-onboarding-content__list-text">
        <div class="text-title">{{ content.title }}</div>
        <div class="text-description">
          {{ content.body }}
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'GoldPlusSubmissionOnBoardingContent',
  props: {
    onboardingContents: {
      type: Array,
      required: true,
    },
  },
  computed: {
    redirectionSource() {
      const { previousPage } = this.$route.params; // from pms
      const queryPrevious = this.$route.query.redirect_url; // from landing page

      if (previousPage) return previousPage;
      else if (queryPrevious) return 'Landing page';
      else return 'Deeplink';
    },
  },
  created() {
    this.trackPageVisited();
  },
  methods: {
    trackPageVisited() {
      this.$tracker.send('moe', [
        '[Owner] GP Submission - Onboarding Page Visited',
        {
          interface: this.$device.isMobile ? 'mobile' : 'desktop',
          owner_name: this.$store.getters['profile/user'].name,
          redirection_source: this.redirectionSource,
        },
      ]);
    },
  },
};
</script>

<style lang="scss" src="./GoldPlusSubmissionOnBoardingContent.scss" scoped></style>
