<template>
  <mk-modal v-model="active">
    <mk-card :max-width="360" class="add-modal">
      <mk-card-body>
        <div class="add-modal__title">{{ type === 'add' ? 'Tambah' : 'Update' }} Kamar</div>
        <b-icon
          @click.native="handleCloseClicked"
          icon="close-circle-outline"
          class="add-modal__close"
        />

        <b-field :addons="false" label="Nomor / Nama Kamar?" class="modal-input">
          <b-input
            v-model="name.value"
            @input="handleNameInput"
            :disabled="disable"
            :class="roomsCount <= 10 ? 'short' : 'long'"
            class="modal-input__with-room-label"
          ></b-input>
          <div class="modal-input__rooms-count">Dari {{ roomsCount }} kamar</div>
        </b-field>
        <b-notification
          v-if="name.error"
          :closable="false"
          type="is-orange"
          class="add-modal__error-message"
          icon="alert-circle"
          has-icon
        >
          {{ errors[name.error] }}
        </b-notification>

        <b-field :addons="false" label="Lantai" class="modal-input">
          <div class="modal-input__optional">(Opsional)</div>
          <b-input v-model="floor.value" @input="handleFloorInput" :disabled="disable"></b-input>
        </b-field>
        <b-notification
          v-if="floor.error"
          :closable="false"
          type="is-orange"
          class="add-modal__error-message"
          icon="alert-circle"
          has-icon
        >
          {{ errors[floor.error] }}
        </b-notification>

        <div class="add-modal__availability">
          Sudah Berpenghuni
          <b-tooltip
            v-if="disable"
            label="Kamar terkait dengan kontrak/booking, untuk menghapus dan mengosongkan, silakan ubah melalui edit data penyewa"
            type="is-dark"
            multilined
          >
            <b-icon icon="information-outline" size="is-small" />
          </b-tooltip>

          <b-checkbox
            v-model="occupied"
            :disabled="disable"
            @input="handleOccupiedInput"
            type="is-green-brand"
          ></b-checkbox>
        </div>
        <b-notification
          v-if="errResponseMessage"
          :closable="false"
          type="is-orange"
          class="add-modal__error-message"
          icon="alert-circle"
          has-icon
        >
          {{ errResponseMessage }}
        </b-notification>
        <mk-button
          :has-spinner="isSendingData"
          @clicked="handleAddButtonClicked"
          :disabled="!!name.error || !!floor.error || isSendingData || disable"
          color="green-brand"
          class="column add-modal__action"
          block
        >
          {{ type === 'add' ? 'Tambah' : 'Update' }} Kamar
        </mk-button>
      </mk-card-body>
    </mk-card>
  </mk-modal>
</template>

<script>
import MkModal from '~/components/global/molecules/MkModal/MkModal';
import MkCard from '~/components/global/molecules/MkCard';
import MkCardBody from '~/components/global/molecules/MkCard/components/MkCardBody';
import MkButton from '~/components/global/atoms/MkButton';

export default {
  name: 'ModalAdd',
  components: {
    MkButton,
    MkModal,
    MkCard,
    MkCardBody,
  },
  props: {
    roomsCount: { type: Number, required: true },
    isBbk: { type: Boolean, default: false },
    isGoldPlusKost: { type: Boolean, default: false },
    selectedKos: { type: String, default: '' },
  },
  data() {
    return {
      isSendingData: false,
      type: 'add',
      active: false,
      apiName: {
        add: 'postPropertyRoom',
        edit: 'updatePropertyRoom',
      },
      id: null,
      name: { value: '', error: false },
      floor: { value: '', error: false },
      occupied: false,
      initOccupied: false,
      disable: false,
      errors: {
        emptyName: 'Nomor/ nama masih kosong.',
        duplicateName: 'Nomor/ nama sudah dipakai kamar lain.',
        maxLength: 'Maks. 50 karakter.',
      },
      roomNames: [],
      errResponseMessage: '',
    };
  },
  watch: {
    // check value name
    'name.value': {
      handler(val) {
        if (!val.trim()) this.name.error = 'emptyName';
        else if (val && val.length > 50) this.name.error = 'maxLength';
        else if (this.roomNames.includes(val)) this.name.error = 'duplicateName';
        else this.name.error = false;
      },
    },
    // check floor name
    'floor.value'(val) {
      if (val.length > 50) this.floor.error = 'maxLength';
      else this.floor.error = false;
    },
  },
  destroyed() {
    this.$changes.update(false);
  },
  methods: {
    handleCloseClicked() {
      this.active = false;
      this.$changes.update(false);
    },
    async handleAddButtonClicked() {
      if (!!this.occupied && !this.initOccupied && this.isBbk && this.isGoldPlusKost) {
        if (this.type === 'add') {
          this.$emit('intercepted', this.type);
          this.occupied = false;
        } else {
          this.$emit('intercepted', this.type, this.id);
          this.active = false;
          this.resetData();
        }
        return;
      }

      this.isSendingData = true;
      const data = {
        song_id: this.$route.params.kos_id ? this.$route.params.kos_id : this.selectedKos,
        name: this.name.value,
        floor: this.floor.value,
        occupied: this.occupied,
      };

      const res = await this.$api[this.apiName[this.type]](data, this.id);

      if (res.data.status) {
        await this.$store.dispatch('profile/getLatestProfile');
        this.$buefy.toast.open({
          duration: 2000,
          message: res.data.meta.message,
          position: 'is-bottom',
        });
        this.$emit('done', this.type, res.data.unit.data);
      } else {
        this.errResponseMessage = res.data.meta.message;
      }
      this.isSendingData = false;
      this.active = false;
      this.resetData();
    },
    resetData(room = {}) {
      this.name.value = room.name || '';
      this.floor.value = room.floor || '';
      this.occupied = room.occupied || false;
      this.initOccupied = room.occupied || false;
      this.disable = room.disable || false;
      this.id = room.id || null;
      this.$changes.update(false);
    },
    // will be called from parent
    toggleModal(val, type = 'add', room = {}, roomNames) {
      this.active = val;
      this.type = type;
      this.resetData(room);
      this.roomNames = roomNames;
    },
    handleNameInput() {
      this.$changes.update(true);
    },
    handleFloorInput() {
      this.$changes.update(true);
    },
    handleOccupiedInput() {
      this.$changes.update(true);
    },
  },
};
</script>

<style lang="scss" src="./ModalAdd.scss" scoped></style>
