.add-modal {
  position: relative;

  &__title {
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
  }

  &__close {
    position: absolute;
    top: 24px;
    right: 24px;
    cursor: pointer;
  }

  &__availability {
    margin-bottom: 30px;
    font-size: 16px;
    font-weight: bold;

    ::v-deep {
      .b-checkbox {
        float: right;
        margin-top: 4px;
      }
    }
  }

  &__error-message {
    padding: 8px 12px;
    margin-top: -22px;

    &::v-deep {
      .mdi::before {
        font-size: 16px;
      }

      .icon.is-large {
        width: 16px;
        height: 16px;
      }

      .media-left {
        margin-right: 14px;
      }
    }
  }
}

.modal-input {
  position: relative;
  margin-bottom: 30px;

  &__rooms-count {
    position: absolute;
    right: 8px;
    bottom: 6px;
    color: #aaa;
    background-color: #fff;
  }

  &__optional {
    position: absolute;
    top: 2px;
    left: 47px;
    font-size: 14px;
  }

  ::v-deep {
    .input {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  &__with-room-label {
    /* stylelint-disable */
    &.short {
      ::v-deep {
        .input {
          padding-right: 105px;
        }
      }
    }
    &.long {
      ::v-deep {
        .input {
          padding-right: 119px;
        }
      }
    }
    /* stylelint-enable */
  }
}
