<template>
  <div class="goldplus-dashboard">
    <gold-plus-header @backClicked="backToDashboard" is-show-back-button is-overwrite-back-button>
      <span slot="title">Kos GoldPlus Anda</span>
    </gold-plus-header>
    <gold-plus-features></gold-plus-features>
  </div>
</template>

<script>
import GoldPlusFeatures from '../components/GoldPlusFeatures';
import GoldPlusHeader from '../components/GoldPlusHeader';

export default {
  name: 'GoldPlusDesktop',
  components: {
    GoldPlusHeader,
    GoldPlusFeatures,
  },
  methods: {
    backToDashboard() {
      this.$router.replace('/');
    },
  },
};
</script>

<style lang="scss" scoped src="./desktop.scss"></style>
