.share-link-card {
  width: 328px;
  padding: 0 !important;
  margin: 45px auto;

  &__header {
    padding: 20px;
  }

  &__content {
    padding: 20px;
    margin: 1px;
    background-color: #fafafa;
    border-bottom: 1px solid #e8e8e8;
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
  }

  &__social-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    padding: 10px !important;
    margin: 15px auto;
  }

  &__social-item {
    margin: 2.5px;
    cursor: pointer;
  }
}
