<template>
  <bg-card class="share-link-card">
    <div class="share-link-card__header">
      <bg-text size="title-3">
        Bagikan Link
      </bg-text>
    </div>

    <bg-divider />

    <div class="share-link-card__content">
      <bg-text size="body-2">
        Bagikan link dan minta penyewa Anda untuk mengisi data mereka dengan cara:
      </bg-text>

      <bg-card variant="shadow" class="share-link-card__social-box">
        <div @click="shareLink(social)" v-for="(social, index) in socialList" :key="index">
          <bg-icon-colored :name="social" size="lg" class="share-link-card__social-item" />
        </div>
      </bg-card>
    </div>
  </bg-card>
</template>

<script>
import { BgCard, BgDivider, BgIconColored, BgText } from 'bangul-vue';

export default {
  name: 'ShareLinkCard',

  components: {
    BgCard,
    BgDivider,
    BgIconColored,
    BgText,
  },

  props: {
    shareContent: {
      type: String,
      default: '',
    },
    shareUrl: {
      type: String,
      default: 'mamikos.com',
    },
  },

  data() {
    return {
      socialList: ['facebook', 'twitter', 'linkedin', 'whatsapp'],
      shareTitle: document.title,
    };
  },

  methods: {
    shareLink(social) {
      if (social === 'facebook') {
        window.open(
          `https://www.facebook.com/sharer/sharer.php?u=${this.shareUrl}`,
          'facebook-popup',
        );
      } else if (social === 'twitter') {
        window.open(`https://twitter.com/share?url=${this.shareUrl}`, 'twitter-popup');
      } else if (social === 'linkedin') {
        window.open(`https://www.linkedin.com/cws/share?url=${this.shareUrl}`);
      } else if (social === 'whatsapp') {
        window.open(`https://api.whatsapp.com/send?text=${this.shareContent} ${this.shareUrl}`);
      }
    },
  },
};
</script>

<style lang="scss" src="./ShareLinkCard.scss"></style>
