<template>
  <div class="room-edit-page__availability-option availability-option">
    <div class="availability-option__item-wrapper">
      <span
        @click="handleOptionClicked('all')"
        :class="{ active: value === 'all' }"
        class="availability-option__item"
      >
        Semua
      </span>
    </div>
    <div class="availability-option__item-wrapper">
      <span
        @click="handleOptionClicked('unavailable')"
        :class="{ active: value === 'unavailable' }"
        class="availability-option__item"
      >
        Terisi {{ availableRoomCount }}
      </span>
    </div>
    <div class="availability-option__item-wrapper">
      <span
        @click="handleOptionClicked('available')"
        :class="{ active: value === 'available' }"
        class="availability-option__item"
      >
        Kosong {{ totalRoomCount - availableRoomCount }}
      </span>
    </div>
  </div>
</template>

<script>
export default {
  name: 'AvailabilityOptions',
  model: {
    prop: 'value',
    event: 'update:value',
  },
  props: {
    availableRoomCount: {
      type: Number,
      required: true,
    },
    totalRoomCount: {
      type: Number,
      required: true,
    },
    value: {
      type: String,
      required: true,
    },
  },
  methods: {
    handleOptionClicked(val) {
      this.$emit('update:value', val);
    },
  },
};
</script>

<style lang="scss" src="./AvailabilityOptions.scss" scoped></style>
