.availability-option {
  display: flex;
  height: 36px;
  margin: 28px 0;
  align-items: center;

  &__item {
    padding: 6px 16px;
    margin-right: 14px;
    font-size: 16px;
    line-height: 21px;
    border: 1px solid rgba(219, 219, 219, 0.92);
    border-radius: 23px;
  }

  @media screen and (max-width: 360px) {
    &__item {
      margin-right: 10px;
    }
  }
  @media screen and (max-width: 340px) {
    &__item {
      margin-right: 1px;
    }
  }

  &__item.active {
    color: #109e4b;
    background: rgba(27, 170, 86, 0.1);
    border: 1px solid #1baa56;
  }
}
