<template>
  <div @scroll="handleScrolling" class="goldplus-submission-tnc-content">
    <div v-if="isLoading" class="c-loader" />
    <div v-else v-html="tncContent"></div>
  </div>
</template>

<script>
export default {
  name: 'GoldPlusSubmissionTnCContent',
  data() {
    return {
      tncContent: null,
      isLoading: false,
    };
  },
  created() {
    this.fetchTnCContent();
  },
  methods: {
    handleScrolling(e) {
      this.$emit('scrolled', e);
    },
    fetchTnCContent() {
      this.isLoading = true;
      this.$api
        .getGoldPlusSubmissionTnCContent()
        .then((response) => {
          this.isLoading = false;
          if (response.data.status) {
            this.tncContent = response.data.html_content;
          }
        })
        .catch((error) => {
          this.isLoading = false;
          this.$bugsnag.notify(error);
        });
    },
  },
};
</script>

<style lang="scss" src="./GoldPlusSubmissionTnCContent.scss" scoped></style>
