/* stylelint-disable selector-max-type */
::v-deep {
  //   heading
  p {
    u {
      margin-bottom: 8px;
      font-size: 18px;
      text-decoration: none;
      text-transform: unset;
      letter-spacing: unset;
    }
  }

  p:first-child,
  p:nth-child(2n + 5) {
    margin-top: 12px;
    margin-bottom: 8px;
  }

  a {
    margin-bottom: 200px;
    color: #1baa56;
  }

  ol {
    padding: 0 16px;

    li {
      padding-left: 6px;

      &:not(:first-child) {
        margin-top: 8px;
      }
    }
  }
}
