<template>
  <div v-show="sb.isSessionOpened" class="mk-sb-widget">
    <transition-group name="fade">
      <div key="header" v-if="isShow" class="mk-sb-widget__header">
        <div class="mk-sb-widget__chat-label">Chat</div>
        <span @click="handleCloseClicked" class="mk-sb-widget__close">
          <bg-icon name="close" />
        </span>

        <!-- <div class="mk-sb-widget__cs-section">
          <div class="mk-sb-widget__cs-label">CS</div>
          <div class="mk-sb-widget__cs-account">
            <div class="mk-sb-widget__cs-mamikos">CS Mamikos</div>
            <div class="mk-sb-widget__cs-number">0859 3022 9138</div>
          </div>
        </div>
        <mk-button
          ref="chatCSButton"
          :has-spinner="isLoadingShowingChatCS"
          @clicked="handleChatCSClicked"
          color="green-inverse"
          block
        >
          Chat CS
        </mk-button> -->
      </div>
      <div key="body" v-if="isShow">
        <div v-if="isEmptyList" class="mk-sb-widget__body">
          <img src="~assets/images/no-message-sendbird.svg" class="mk-sb-widget__no-message" />
          <h4 class="mk-sb-widget__body-title">Belum Ada Obrolan</h4>
          <p class="mk-sb-widget__body-caption">
            Penyewa akan bertanya seputar informasi kos Anda dengan fitur ini.
          </p>
        </div>
      </div>
    </transition-group>

    <div id="sb_widget"></div>

    <div class="mk-sb-widget__footer">
      <span class="mk-sb-widget__unread">
        <template v-if="totalMessage"> {{ totalMessage }} belum terbaca </template>
        <template v-else> Chat kosong </template>
      </span>
      <div class="mk-sb-widget__dot"></div>
    </div>
  </div>
</template>

<script>
import { BgIcon } from 'bangul-vue';
import { mapGetters } from 'vuex';
// import MkButton from '~/components/global/atoms/MkButton';
import { prependScript } from '~/utils/addTag';

export default {
  name: 'MkSendbird',
  components: {
    // MkButton,
    BgIcon,
  },
  props: {
    isOpen: {
      type: Boolean,
      default: false,
    },
    csId: {
      type: Number,
      default: 0,
    },
    userId: {
      type: Number,
      required: true,
    },
    userChatName: {
      type: String,
      default: '',
    },
    userChatAccessToken: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      totalMessage: 0,
      sb: {},
      isLoadingShowingChatCS: false,
      isShow: this.$device.isDesktop,
      sbWidgetButton: null,
      isEmptyList: false,
    };
  },
  computed: {
    ...mapGetters('profile', ['isBbk', 'isPremium']),
  },
  watch: {
    totalMessage(value) {
      this.$store.commit('profile/updateUnreadMessages', value);
    },
  },
  mounted() {
    prependScript(location.origin + '/sendbird/SendBird.min-3.0.118.js', async (e) => {
      /**
       * It has no extention file for preventing webpack build this file.
       * It must be stored on assets as well in order to add hash on filename
       */
      const loadSendbird = async () => {
        await import(/* webpackChunkName: "widget.SendBird" */ '~/assets/sendbird/widget.SendBird');
      };

      await loadSendbird();

      this.connectSbWidget();
      // append css head tag in order to override sendbird css
      /* eslint-disable */
      if (this.$device.isDesktop) {
        import(/* webpackChunkName: "sendBird-style-dweb" */ './MkSendbirdDweb.scss');
      } else {
        import(/* webpackChunkName: "sendBird-style-mweb" */ './MkSendbirdMweb.scss');
      }
      /* eslint-enable */
    });
  },
  destroyed() {
    this.sbWidgetButton &&
      this.sbWidgetButton.removeEventListener('click', this.handleSbWidgetButtonClicked);
  },
  methods: {
    connectSbWidget() {
      const { sbWidget, SendBird } = window;
      if (!sbWidget || !SendBird) {
        return;
      }
      const sendbirdAppId = process.env.SENDBIRD_APP_ID;
      const sendbirdUserId = `${this.userId}`; // convert to string according to sendbird's sdk
      const sendbirdUserName = this.userChatName;
      const sendbirdCAT = this.userChatAccessToken;

      this.sb = new SendBird({ appId: sendbirdAppId });

      if (sendbirdUserId) {
        const params = [
          sendbirdUserId,
          sendbirdCAT,
          (user, error) => {
            if (error) {
              this.$bugsnag.notify(error);
            }
          },
        ].filter((param) => param);
        this.sb.connect(...params);
        sbWidget.startWithConnect(sendbirdAppId, sendbirdUserId, sendbirdUserName, () => {
          // get total channel
          const channelListQuery = this.sb.GroupChannel.createMyGroupChannelListQuery();
          channelListQuery.includeEmpty = false;
          channelListQuery.limit = 1;

          if (channelListQuery.hasNext) {
            channelListQuery.next((channelList, error) => {
              if (error) {
                return;
              }
              this.isEmptyList = !channelList.length;
            });
          }

          const getMessages = () => {
            this.sb.GroupChannel.getTotalUnreadChannelCount((count) => (this.totalMessage = count));
          };
          getMessages();

          sbWidget.registerLocalHandlerCb('onMessageReceived', (channel, message) => {
            getMessages();
            this.isEmptyList = false;
          });

          sbWidget.registerLocalHandlerCb('onChannelChanged', (channel) => {
            getMessages();
            this.isEmptyList = false;
          });

          sbWidget.registerLocalHandlerCb('onReconnectSucceeded', () => {
            getMessages();
            this.isEmptyList = false;
          });

          this.$nextTick(() => {
            this.sbWidgetButton = document.querySelector('#sb_widget .widget');
            // always open widget for desktop
            if (this.$device.isDesktop) {
              try {
                this.sbWidgetButton && this.sbWidgetButton.click();
              } catch (e) {
                this.$bugsnag.notify(e);
              }
            } else {
              this.sbWidgetButton &&
                this.sbWidgetButton.addEventListener('click', this.handleSbWidgetButtonClicked);
            }
          });
        });
      }
    },
    /* because the interface is commented, I'll ignore this method on the coverage, since its not used for now */
    /* istanbul ignore next */
    handleChatCSClicked() {
      this.$tracker.send('moe', [
        '[Owner] Dashboard - Mami Help Floating Button Clicked',
        {
          user_id: this.userId,
          interface: this.$device.isMobile ? 'mobile' : 'desktop',
          is_booking: this.isBbk,
          is_premium: this.isPremium,
        },
      ]);

      this.isLoadingShowingChatCS = true;
      // convert to string according to sendbird's sdk
      const userIds = [`${this.userId}`];
      this.csId && userIds.unshift(this.csId.toString());
      const groupName = `${this.userChatName} : CS Mamikos`;

      this.sb.GroupChannel.createChannelWithUserIds(
        userIds,
        true,
        groupName,
        '/assets/default_chat_channel_cover.png',
        null,
        (groupChannel, error) => {
          if (error) {
            this.$bugsnag.notify(error);
            return;
          }

          // update metadata for this groupChannel
          const metadata = {
            chat_support: true,
          };
          const upsertIfNotExist = true;
          groupChannel.updateMetaData(metadata, upsertIfNotExist, (response, error) => {
            if (error) {
              this.$bugsnag.notify(error);
            }
          });

          // show groupChannel on widget
          window.sbWidget.showChannel(groupChannel.url);
          this.isLoadingShowingChatCS = false;

          this.isEmptyList = false;
        },
      );
    },
    handleCloseClicked() {
      if (this.$device.isMobile) {
        window.sbWidget.toggleBoard(false);
        this.isShow = false;
      } else {
        this.$emit('handle-toggle-chat');
      }
    },
    handleSbWidgetButtonClicked() {
      this.isShow = true;
    },
  },
};
</script>
