@media (min-width: 768px) {
  // disable linter for override current sendbird style
  /* stylelint-disable selector-max-id, selector-max-specificity, selector-max-compound-selectors */
  $sendbird-width: 366px;
  $sendbird-footer-height: 48px;
  $sendbird-header-height: 68px;
  $header-height: 80px;

  #sb_widget {
    .channel-board {
      position: fixed;
      top: calc(#{$header-height} + #{$sendbird-header-height});
      right: 0;
      bottom: $sendbird-footer-height;
      width: $sendbird-width;
      height: calc(
        100% - #{$header-height} - #{$sendbird-header-height} - #{$sendbird-footer-height}
      );
      border-width: 0;
      border-top-width: 1px;
      box-shadow: none;

      .board-top {
        display: none;
      }

      .content.channel-list {
        height: 100%;
      }
    }
    .ic-minimize {
      display: none !important;
    }
    .chat-section {
      height: calc(100vh - #{$header-height});

      .chat-board {
        height: calc(100vh - (184px + 20px));
      }

      .top .title {
        margin-bottom: unset;
      }

      .content {
        height: 100%;

        .input {
          display: block;
          width: $sendbird-width;
          color: unset;
          background: #fff;
          border: unset;
          border-color: unset;
          border-radius: unset;
          /* stylelint-disable-next-line plugin/no-unsupported-browser-features */
          appearance: unset;
          box-align: unset;
          align-items: unset;
          justify-content: unset;
        }
      }
    }
    .message-set .message {
      background-color: unset;
      border-radius: unset;
    }
    .widget {
      display: none;
    }
  }
  /* stylelint-enable */

  .mk-sb-widget {
    &__header {
      position: absolute;
      top: 0;
      right: 0;
      display: flex;
      width: $sendbird-width;
      height: $sendbird-header-height;
      justify-content: space-between;
      align-items: center;
      padding: 16px;
      overflow: hidden;
    }

    &__chat-label {
      font-size: 24px;
      font-style: normal;
      font-weight: bold;
      line-height: 36px;
      color: #383746;
      vertical-align: middle;
    }

    &__close {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      height: $sendbird-header-height;
      cursor: pointer;
    }

    &__cs-section {
      margin-top: 17px;
      margin-bottom: 15px;
    }

    &__cs-label {
      display: inline-block;
      width: 40px;
      height: 40px;
      font-size: 20px;
      font-style: normal;
      font-weight: bold;
      line-height: 40px;
      color: #fff;
      text-align: center;
      vertical-align: middle;
      background-color: #109e4b;
      border-radius: 19px;
    }

    &__cs-account {
      display: inline-block;
      vertical-align: middle;
    }

    &__cs-mamikos {
      font-size: 16px;
      font-style: normal;
      font-weight: bold;
      line-height: 24px;
      color: #383746;
    }

    &__cs-number {
      font-size: 14px;
      font-style: normal;
      font-weight: normal;
      line-height: 21px;
      color: #999;
    }

    &__footer {
      position: fixed;
      right: 0;
      bottom: 0;
      display: flex;
      width: $sendbird-width;
      height: $sendbird-footer-height;
      align-items: center;
      justify-content: flex-end;
      text-align: right;
      background: #1baa56;
      box-shadow: 0 -16px 40px rgba(0, 0, 0, 0.05);
    }
    &__unread {
      padding-right: 31px;
      font-family: Lato;
      font-size: 16px;
      font-style: normal;
      font-weight: normal;
      line-height: 48px;
      color: #fff;
      vertical-align: middle;
    }

    &__dot {
      display: inline-block;
      width: 9px;
      height: 9px;
      margin-right: 16px;
      vertical-align: middle;
      background: #f39c12;
      border-radius: 5px;
    }

    &__body {
      position: absolute;
      top: $sendbird-header-height;
      right: 0;
      z-index: 99993;
      width: $sendbird-width;
      height: calc(
        100vh - (#{$sendbird-header-height} + #{$sendbird-footer-height} + #{$header-height})
      );
      padding: 16px;
      background-color: #fff;
    }

    &__no-message {
      display: block;
      margin: auto;
    }

    &__body-title {
      margin-top: 8px;
      font-size: 14px;
      font-weight: bold;
      line-height: 21px;
      text-align: center;
    }

    &__body-caption {
      margin-bottom: 45px;
      font-size: 14px;
      line-height: 21px;
      text-align: center;
    }
  }
}
