// disable linter for override current sendbird style
/* stylelint-disable selector-max-id, selector-max-specificity, selector-max-compound-selectors, length-zero-no-unit */
$sendbird-width: 100vw;
$sendbird-header-height: 68px;

#sb_widget {
  right: -90px;
  .widget {
    display: none !important;
  }

  .channel-board {
    position: fixed;
    top: $sendbird-header-height;
    right: 0;
    bottom: 0;
    width: $sendbird-width;
    height: calc(100% - #{$sendbird-header-height});
    border-width: 0;
    border-top-width: 1px;
    box-shadow: none;

    .board-top {
      display: none;
    }

    .content.channel-list {
      height: 100%;
    }
  }
  .chat-section {
    height: 100vh;

    .top .title {
      margin-bottom: unset;
    }
    .input {
      display: block;
      color: unset;
      background: #fff;
      border: unset;
      border-color: unset;
      border-radius: unset;
      /* stylelint-disable-next-line plugin/no-unsupported-browser-features */
      appearance: unset;
      box-align: unset;
      align-items: unset;
      justify-content: unset;
    }
  }
  .message-set .message {
    background-color: unset;
    border-radius: unset;
  }
}
/* stylelint-enable */

.mk-sb-widget {
  position: relative;

  &__header {
    position: fixed;
    top: 0;
    right: 0;
    width: $sendbird-width;
    height: $sendbird-header-height;
    padding: 16px;
    background-color: #fff;
  }

  &__close {
    display: none;
  }

  &__chat-label {
    font-size: 24px;
    font-style: normal;
    font-weight: bold;
    line-height: 36px;
    color: #383746;
    vertical-align: middle;
  }

  &__cs-section {
    margin-top: 17px;
    margin-bottom: 15px;
  }

  &__cs-label {
    display: inline-block;
    width: 40px;
    height: 40px;
    font-size: 20px;
    font-style: normal;
    font-weight: bold;
    line-height: 40px;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    background-color: #109e4b;
    border-radius: 19px;
  }

  &__cs-account {
    display: inline-block;
    vertical-align: middle;
  }

  &__cs-mamikos {
    font-size: 16px;
    font-style: normal;
    font-weight: bold;
    line-height: 24px;
    color: #383746;
  }

  &__cs-number {
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    line-height: 21px;
    color: #999;
  }

  &__footer {
    display: none;
    height: 0;
  }

  &__body {
    position: fixed;
    top: calc(#{$sendbird-header-height});
    right: 0;
    z-index: 99993;
    width: $sendbird-width;
    height: calc(100vh - #{$sendbird-header-height});
    padding: 16px;
    background-color: #fff;
  }

  &__no-message {
    display: block;
    margin: auto;
  }

  &__body-title {
    font-size: 14px;
    font-weight: bold;
    line-height: 21px;
    text-align: center;
  }

  &__body-caption {
    margin-bottom: 45px;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
  }
}
