<template>
  <div class="manage-booking-status">
    <div class="manage-booking-status__body">
      <h1 class="manage-booking-status__title">Kelola Booking Langsung</h1>

      <b-notification
        :closable="false"
        type="is-blue-invert"
        class="manage-booking-status__info"
        icon="alert-circle"
        has-icon
      >
        Kini Anda dapat melihat tagihan sewa dan pencairan dana lebih detail di halaman Kelola
        Tagihan.
        <div>
          <a
            :href="`https://mamikos.com/info/billing-management/`"
            class="manage-booking-status__info-link"
            target="_blank"
          >
            <u>Kelola Tagihan</u>
          </a>
        </div>
      </b-notification>

      <div class="manage-booking-status__choices-wrapper">
        <div>Tampilkan Kos Berdasarkan:</div>
        <div class="manage-booking-status__choices">
          <div
            v-for="(choice, index) in choices"
            :key="index"
            @click="handleChoiceClicked(index, $event)"
            :class="{ active: index === 'all' }"
            class="manage-booking-status__choice"
          >
            {{ choice }}
          </div>
        </div>
      </div>

      <!-- Empty State for Semua Status -->
      <div
        v-if="
          isAllSelected &&
            list['not_active'].data.length === 0 &&
            list['waiting'].data.length === 0 &&
            list['approve'].data.length === 0 &&
            !isLoading
        "
        class="empty-state-booking-status"
      >
        <div>
          <img
            :src="
              `${$mamikosUrl}/general/img/pictures/mamipay/owner/illustration_properties_not_found.svg`
            "
          />
          <div class="empty-state-booking-status__title">
            Kos tidak ditemukan
          </div>
          <div class="empty-state-booking-status__captions">
            Daftar kos Anda akan muncul di sini.
          </div>
          <b-button
            @click="gotoCreateKos"
            class="empty-state-booking-status__empty-button"
            type="is-primary"
          >
            Tambahkan Kos Sekarang
          </b-button>
        </div>
      </div>

      <!-- Empty State for Status Aktif, Diperiksa Admin, Belum Aktif -->
      <div
        v-else-if="
          !isAllSelected &&
            list[selectedChoice] &&
            list[selectedChoice].data.length === 0 &&
            !isLoading
        "
        class="empty-state-booking-status"
      >
        <div>
          <img
            :src="
              `${$mamikosUrl}/general/img/pictures/mamipay/owner/illustration_properties_not_found.svg`
            "
          />
          <div class="empty-state-booking-status__title">
            Kos tidak ditemukan
          </div>
          <div class="empty-state-booking-status__captions">
            {{ emptyStateText }}
          </div>
        </div>
      </div>

      <div v-for="(status, key) in list" :key="key" class="manage-booking-status__list">
        <div v-if="status.data.length" class="manage-booking-status__list-status">
          {{ `${status.name} (${status.total})` }}
        </div>
        <div
          v-for="(item, index) in status.data"
          :key="index"
          class="manage-booking-status__item item-booking"
        >
          <div class="item-booking__body">
            <div class="item-booking__body-main">
              <img v-lazy="item.photo ? item.photo.medium : ''" class="item-booking__image" />
              <div class="item-booking__caption">
                <div class="item-booking__kos-name">
                  {{ item.room_title }}
                </div>
                <div class="item-booking__room-availability">
                  <span>{{ item.room_available }} Kamar tersedia</span>
                </div>
                <div class="item-booking__last-update">Diperbarui {{ item.last_update }}</div>
              </div>
            </div>

            <template v-if="key === 'waiting' || (key === 'approve' && item.total_waiting)">
              <div class="item-booking__alert">
                <b-icon class="item-booking__alert-icon" icon="alert" />
                <template v-if="key === 'waiting'">
                  <span class="item-booking__alert-content">
                    Mohon menunggu, pengajuan Booking Langsung sedang diperiksa.
                  </span>
                </template>
                <template v-else-if="key === 'approve' && item.total_waiting">
                  <span class="item-booking__alert-content">
                    {{ item.total_waiting }} Penyewa menunggu konfirmasi.
                  </span>
                </template>
              </div>

              <b-button
                v-if="key === 'approve' && item.total_waiting"
                :href="
                  `${$mamikosUrl}/ownerpage/manage/all/booking?status=need_confirmation&kos_name=${item.room_title}`
                "
                class="item-booking__check-request-link"
                tag="a"
                expanded
              >
                <span class="item-booking__check-request">Lihat Penyewa</span>
              </b-button>
            </template>
          </div>
        </div>
      </div>

      <span ref="loader" v-if="isLoading" class="c-loader manage-booking-status__loading"></span>

      <div v-if="list.not_active.total" class="manage-booking-status__register-wrapper">
        <b-button
          :to="{
            name: 'kos-booking-register',
            query: { redirect_url: redirectUrl },
            params: { previousPage: 'Kelola Booking Langsung' },
          }"
          tag="router-link"
          class="manage-booking-status__register"
          type="is-primary"
        >
          Daftarkan {{ list.not_active.total }} kos
        </b-button>
      </div>
    </div>

    <booking-suggestion-modal
      v-model="isSuggestionModalShown"
      :not-active-kos="list.not_active.total"
    />
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import BookingSuggestionModal from '../components/BookingSuggestionModal';

export default {
  name: 'BookingManageStatusMobile',
  components: {
    BookingSuggestionModal,
  },
  data() {
    return {
      isSuggestionModalShown: false,
      choices: {
        all: 'Semua',
        approve: 'Aktif',
        waiting: 'Diperiksa Admin',
        not_active: 'Belum Aktif',
      },
      selectedChoice: 'not_active',
      choicesOrder: ['not_active', 'waiting', 'approve'],
      list: {
        not_active: {
          name: 'Belum Aktif',
          data: [],
          offset: 0,
          total: 0,
        },
        waiting: {
          name: 'Diperiksa Admin',
          data: [],
          offset: 0,
          total: 0,
        },
        approve: {
          name: 'Aktif',
          data: [],
          offset: 0,
          total: 0,
        },
      },
      isLoading: false,
      isAllSelected: true,
      redirectUrl: window.location.href,
    };
  },
  computed: {
    ...mapGetters('profile', ['membership']),
    emptyStateText() {
      if (this.selectedChoice === 'approve') {
        return 'Booking yang sudah aktif akan muncul di sini.';
      } else if (this.selectedChoice === 'waiting') {
        return 'Pengajuan booking yang sedang diproses akan muncul di sini.';
      } else {
        return 'Pengajuan booking yang belum aktif akan muncul di sini.';
      }
    },
  },
  created() {
    this.isLoading = true;
    this.$api.getBbkStatus().then((res) => {
      if (!res.data.status) return;
      const { approve, other, reject, waiting } = res.data.bbk_status;
      this.list.approve.total = approve;
      this.list.waiting.total = waiting;
      this.list.not_active.total = other + reject;

      if (
        !(waiting > 0 && reject + other === 0) &&
        this.membership.is_mamipay_user &&
        reject + other > 0
      ) {
        // force showing popup when varian A
        if (
          sessionStorage &&
          sessionStorage.getItem('AbTestForceBbkVarianHandler') === 'onVariantAReceived'
        ) {
          this.isSuggestionModalShown = true;
        } else if (sessionStorage && !sessionStorage.getItem('isSuggestionModalShown')) {
          this.isSuggestionModalShown = true;
          sessionStorage.setItem('isSuggestionModalShown', 'true');
        }
      }

      this.isLoading = false;

      this.getData();
    });
  },
  mounted() {
    this.addScrollEvent();
  },
  beforeDestroy() {
    document.removeEventListener('scroll', window.bookingScrollHandler);
  },
  methods: {
    handleChoiceClicked(choice, e) {
      if (choice === 'all') {
        this.selectedChoice = 'not_active';
        this.isAllSelected = true;
      } else {
        this.selectedChoice = choice;
        this.isAllSelected = false;
      }

      // remove all class first
      document.querySelectorAll('.manage-booking-status__choice').forEach((choiceEl) => {
        choiceEl.classList.remove('active');
      });
      // then set active class to selected status
      e.target.classList.add('active');

      // remove all data
      Object.keys(this.list).forEach((key) => {
        this.list[key].data = [];
        this.list[key].offset = 0;
      });

      this.getData();
    },
    getData(forceGet) {
      if (!this.selectedChoice) {
        this.isLoading = false;
        return;
      }
      // all data is fully loaded, then skip getting data
      if (
        ((this.list[this.selectedChoice].data.length === this.list[this.selectedChoice].total &&
          !this.isAllSelected) ||
          this.isLoading) &&
        !forceGet
      ) {
        this.isLoading = false;
        return;
      }

      this.isLoading = true;
      this.$api
        .getMamipayRooms({
          booking_status: this.selectedChoice,
          offset: this.list[this.selectedChoice].offset,
          limit: 10,
          timestamp: new Date().getTime(),
        })
        .then((res) => {
          if (res && res.data) {
            if (!res.data.status) return;

            this.list[this.selectedChoice].data = this.list[this.selectedChoice].data.concat(
              res.data.data,
            );
            this.list[this.selectedChoice].offset += 10;

            // get next status
            if (!res.data.has_more && this.isAllSelected) {
              const currentIndex = this.choicesOrder.findIndex((c) => c === this.selectedChoice);
              this.selectedChoice = this.choicesOrder[currentIndex + 1];
              if (
                this.list.not_active.data.length +
                  this.list.waiting.data.length +
                  this.list.approve.data.length <
                5
              ) {
                this.getData(true);
                return;
              }
            }
          }

          this.isLoading = false;
        });
    },
    addScrollEvent() {
      window.bookingScrollHandler = (e) => {
        if (this.isLoading) return;

        const { scrollHeight, scrollTop } = document.documentElement;
        const loaderHeight = this.$refs.loader ? this.$refs.loader.offsetHeight : 0;

        // scroll element reaches the bottom
        if (scrollHeight - window.outerHeight - loaderHeight - 40 <= scrollTop) {
          this.getData();
        }
      };

      window.addEventListener('scroll', window.bookingScrollHandler);
    },
    gotoCreateKos() {
      window.location.href = `${this.$mamikosUrl}/ownerpage/add?input-property=true`;
    },
  },
};
</script>

<style src="./mobile.scss" lang="scss" scoped></style>
