.manage-booking-status {
  padding-bottom: 20px;

  &__background {
    position: fixed;
    top: 80px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    background-color: #f9f9f9;
  }

  &__body {
    position: relative;
    z-index: 1;
    padding-bottom: 60px;
  }

  &__loading {
    margin: 20px auto;
  }

  &__title {
    font-size: 24px;
    font-weight: bold;
    line-height: 29px;
    color: #2e2d39;
  }

  &__register-wrapper {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 15px;
    background-color: #fff;
  }

  &__register {
    width: 100%;
    height: 40px;
  }

  &__info {
    margin-top: 20px;
    background-color: #fff;
    border: 1px solid #e8e8e8;
    border-radius: 8px;

    ::v-deep {
      .mdi::before {
        font-size: 20px;
      }

      .is-large {
        width: 20px;
        height: 20px;
      }

      .media-content {
        color: #404040;

        /* stylelint-disable-next-line */
        @media screen and (max-width: 768px) {
          font-size: 16px;
        }
      }
    }

    &-link {
      margin-top: 12px;
      font-size: 16px;
      font-weight: bold;
      line-height: 24px;
      color: #303030;
    }
  }

  &__choices-wrapper {
    overflow-y: auto;
  }

  &__choices {
    width: calc(100vw + 65px);
    margin-top: 12px;
    margin-bottom: 15px;
    @media screen and (max-width: 400px) {
      width: calc(100vw + 150px);
    }
  }

  &__choice {
    display: inline-block;
    padding: 8px 16px;
    margin-right: 12px;
    font-size: 16px;
    line-height: 24px;
    color: #303030;
    cursor: pointer;
    background: #fff;
    border: 1px solid #e8e8e8;
    border-radius: 50px;

    &.active {
      font-weight: bold;
      border: 1px solid #303030;
    }
  }

  &__list {
    margin-top: 15px;
    background-color: #fff;
  }

  &__list-status {
    padding-top: 15px;
    font-size: 18px;
    font-weight: bold;
    line-height: 26px;
    color: #242424;
  }
}

.item-booking {
  margin-top: 15px;
  border-top: 1px solid #e8e8e8;

  &__body {
    display: flex;
    flex-wrap: wrap;
    padding-top: 15px;
  }

  &__body-main {
    display: flex;
  }

  &__status {
    font-size: 18px;
    font-weight: bold;
    line-height: 22px;
    color: #484848;
  }

  &__last-update {
    font-size: 14px;
    line-height: 20px;
    color: #aaa;
  }

  &__caption {
    max-width: 285px;
    padding-left: 15px;
  }

  &__image {
    width: 64px;
    height: 92px;
    object-fit: cover;
    border-radius: 8px;
  }

  &__kos-name {
    font-size: 16px;
    font-weight: normal;
    color: #484848;
  }

  &__room-availability {
    font-size: 16px;
    font-weight: bold;
    color: #484848;
  }

  &__alert {
    flex-basis: 100%;
    padding: 12px;
    margin-top: 25px;
    color: #404040;
    background: #fff;
    border: 1px solid #e8e8e8;
    border-radius: 4px;

    ::v-deep {
      .mdi-alert::before {
        color: #d48011;
      }
    }
  }

  &__alert-icon {
    margin-right: 10px;
    vertical-align: top;
  }

  &__alert-content {
    display: inline-block;
    width: 85%;
  }

  &__check-request-link {
    display: block;
    height: 40px;
    margin-top: 12px;
    border-color: #1baa56;
  }

  &__check-request {
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    color: #1baa56;
  }
}

.empty-state-booking-status {
  padding: 20px;
  text-align: center;
  /* stylelint-disable-next-line selector-max-type */
  img {
    margin-bottom: 15px;
  }
  &__title {
    font-size: 16px;
    font-weight: bold;
    color: #242424;
  }
  &__captions {
    margin-top: 5px;
    font-size: 16px;
    font-weight: normal;
    color: #aaa;
  }
  &__empty-button {
    min-width: 304px;
    height: 48px;
    margin-top: 25px;
    font-weight: 600;
  }
}
