<template>
  <bg-input
    @icon-right-click="onResetButtonClicked"
    v-model="searchInput"
    :icon-right="hasSearchInput ? 'error-round-glyph' : ''"
    :disabled="disabled"
    class="search-input"
    type="text"
    icon="search"
    placeholder="Cari nomor kamar"
    icon-right-clickable
  />
</template>

<script>
import { BgInput } from 'bangul-vue';

export default {
  components: {
    BgInput,
  },
  props: {
    value: {
      type: String,
      default: '',
    },
    disabled: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      searchText: '',
    };
  },
  computed: {
    searchInput: {
      get() {
        return this.searchText;
      },
      set(value) {
        this.searchText = value;
        this.$emit('input', value);
      },
    },
    hasSearchInput() {
      return !!this.searchInput.trim();
    },
  },
  created() {
    this.searchText = this.value;
  },
  methods: {
    onResetButtonClicked() {
      this.searchInput = '';
    },
  },
};
</script>

<style lang="scss" src="./SearchInput.scss" scoped></style>
