.content-title {
  &__sticky {
    /* stylelint-disable-next-line plugin/no-unsupported-browser-features */
    position: sticky;
    top: 15px;
    z-index: 3;
    transition: 0.2s;

    &--stick {
      margin-left: 40px;
    }
  }
}
