<template>
  <bg-text
    ref="contentTitle"
    v-if="title"
    :size="titleSize || (isStickOnTop ? 'heading-6' : 'heading-4')"
    :class="{ 'content-title__sticky': isSticky, 'content-title__sticky--stick': isStickOnTop }"
    class="content-title"
    tag="h3"
  >
    {{ title }}
  </bg-text>
</template>

<script>
import { BgText } from 'bangul-vue';

export default {
  components: {
    BgText,
  },
  props: {
    title: {
      type: String,
      default: '',
    },
    scrollParentSelector: {
      type: String,
      default: '',
    },
    isSticky: {
      type: Boolean,
      default: false,
    },
    titleSize: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      isStickOnTop: false,
    };
  },
  computed: {
    isMobile() {
      return this.$device.isMobile;
    },
  },
  mounted() {
    this.setStickyTitleScrollListener(true);
  },
  beforeDestroy() {
    this.setStickyTitleScrollListener(false);
  },
  methods: {
    setStickyTitleScrollListener(isAdd = true) {
      if (!this.isSticky) return;

      const scrollParent = this.getScrollParentElement();
      if (this.title && scrollParent) {
        scrollParent[`${isAdd ? 'add' : 'remove'}EventListener`]('scroll', this.setStickyState);
        !!isAdd && this.setStickyState();
      }
    },
    getScrollParentElement() {
      return this.scrollParentSelector ? document.querySelector(this.scrollParentSelector) : window;
    },
    setStickyState() {
      const titleTopStickyPosition = 16;
      const contentTitle = this.$refs.contentTitle;
      if (!this.isMobile && !contentTitle) return;

      const titleFromTop = contentTitle.$el.getBoundingClientRect().top;
      this.isStickOnTop = titleFromTop <= titleTopStickyPosition;
    },
  },
};
</script>

<style lang="scss" src="./ContentTitle.scss" scoped></style>
