.goldplus-packages-mweb {
  max-width: 411px;
  height: 100%;
  margin: 0 auto;

  &__loader {
    position: absolute;
    top: 57.5%;
    left: 50%;
    margin: 0;
    transform: translate(-50%, -50%);

    .c-loader {
      width: 40px;
      height: 40px;
    }
  }
}

.load-more {
  &__button {
    width: 186px !important;
    margin: auto;
    font-size: 16px !important;
  }

  &__loading {
    margin: auto;
  }
}
