<template>
  <div class="goldplus-packages-mweb">
    <gold-plus-header class="goldplus-packages-mweb__header">
      <span slot="title">Pilih Paket GoldPlus</span>
      <span slot="utilities">
        Anda hanya bisa memilih <strong>satu paket</strong> GoldPlus dibawah ini.
      </span>
    </gold-plus-header>

    <gold-plus-package-content />
  </div>
</template>

<script>
import GoldPlusHeader from '~/components/page-features/goldplus/components/GoldPlusHeader';
import GoldPlusPackageContent from '~/components/page-features/goldplus/pages/submission-packages/components/GoldPlusPackageContent';
import restrictNewSubmission from '~/components/page-features/goldplus/mixins/restrictNewSubmission';

export default {
  name: 'GoldPlusPackagesMobile',
  components: {
    GoldPlusHeader,
    GoldPlusPackageContent,
  },
  mixins: [restrictNewSubmission],
};
</script>

<style lang="scss" scoped src="./mobile.scss"></style>
