.finance-report-content {
  display: flex;
  max-width: 550px;
  margin: 0 auto;
  margin-top: 50px;
  flex-direction: column;
  align-items: center;

  &__copy {
    width: 100%;

    &-title {
      margin-bottom: 15px;
    }
  }

  &__buttons {
    display: flex;
    width: 100%;
    margin-top: 50px;
    justify-content: flex-end;
  }

  &__back-button {
    margin-right: 15px;
  }

  &__download-button {
    @media (max-width: 767px) {
      width: 100%;
    }
  }
}
