<template>
  <div class="finance-report-content">
    <bg-illustration name="feature-coming-soon" alt="finance report" />

    <div class="finance-report-content__copy">
      <bg-text size="title-2" class="finance-report-content__copy-title"
        >Buka Laporan Keuangan di Aplikasi</bg-text
      >
      <bg-text size="body-2"
        >Untuk saat ini, fitur Laporan Keuangan hanya dapat digunakan di aplikasi Mamikos di Android
        dan iOS.
      </bg-text>
    </div>

    <div class="finance-report-content__buttons">
      <bg-button v-if="!isMobile" @click="backRoute" class="finance-report-content__back-button"
        >Kembali</bg-button
      >
      <bg-button
        @click="downloadApp"
        variant="primary"
        class="finance-report-content__download-button"
        >Download Aplikasi</bg-button
      >
    </div>
  </div>
</template>

<script>
import { BgButton, BgIllustration, BgText } from 'bangul-vue';

export default {
  name: 'FinancePage',

  components: {
    BgButton,
    BgIllustration,
    BgText,
  },

  computed: {
    isMobile() {
      return this.$device.isMobile;
    },
  },

  methods: {
    downloadApp() {
      if (/iPhone|iPad|iPod/i.test(navigator.userAgent)) {
        window.open('https://apps.apple.com/id/app/mamikos-cari-kost-mudah/id1055272843', '_blank');
      } else {
        window.open('https://play.google.com/store/apps/details?id=com.git.mami.kos', '_blank');
      }
    },
    backRoute() {
      this.$router.go(-1);
    },
  },
};
</script>

<style lang="scss" src="./FinancePage.scss" scoped></style>
