<template>
  <div v-if="pascalName" :style="{ width: `${width}px`, height: `${width}px` }" class="c-mk-icon">
    <!-- eslint-disable-next-line vue/require-component-is -->
    <component v-bind:is="pascalName" :color="colorIcon" class="c-mk-icon__svg" />
  </div>
</template>

<script>
import colors from './data/colors.json';
import { toPascalCase } from '~/utils/string';

export default {
  name: 'MkIcon',
  props: {
    /**
     * icon variant.
     * This value will check file icon on ~/assets/icons/
     */
    variant: {
      type: String,
      required: true,
    },
    /**
     * icon width
     */
    width: {
      type: Number,
      default: 18,
    },
    /**
     * The icon color
     * green-brand
     * Please add another option if you need
     */
    color: {
      type: String,
      validator: (type) => {
        return ['green-brand', 'default', 'red', 'black'].includes(type);
      },
      default: 'default',
    },
  },
  data() {
    return {
      pascalName: '',
    };
  },
  computed: {
    colorIcon() {
      return colors[this.color] || 'default';
    },
  },
  created() {
    // add svg after variant prop have defined
    try {
      const name = `MkIcon${this.toPascalCase(this.variant)}`;
      import(/* webpackChunkName: "icon" */ `./components/${name}`).then(
        ({ default: component }) => {
          this.$options.components[name] = component;
          this.pascalName = name;
        },
      );
    } catch (e) {
      this.$bugsnag.notify(e);
    }
  },
  methods: {
    toPascalCase,
  },
};
</script>

<style lang="scss" src="./MkIcon.scss"></style>
