// The below loop  will generate us a suite of classes like:
//
//    // foreground colors
//    .u-fg--green-brand
//    .u-fg--red
//
//    // background colors
//    .u-bg--green-brand
//    .u-bg--red
//

/* stylelint-disable at-rule-no-unknown */
@each $name, $color in $global-utilities-colors {
  .u-bg--#{$name} {
    background-color: $color !important;
  }

  .u-fg--#{$name} {
    &,
    &:focus,
    &:hover {
      color: $color !important;
    }
  }
}

@each $name, $color in $global-utilities-colors {
  .u-bg-hover--#{$name}:hover {
    background-color: $color !important;
  }

  .u-fg-hover--#{$name}:hover {
    color: $color !important;
  }
}
