.goldplus-payment-list-table {
  &__section {
    width: 100%;
  }

  &__head,
  &__row {
    box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.02), 0 1px 4px rgba(0, 0, 0, 0.08);
  }

  &__row {
    cursor: pointer;
  }

  &__cell {
    padding: 16px 32px;
  }

  &__name {
    color: #757575;
  }
}
