<template>
  <div class="goldplus-payment-list-table">
    <table class="goldplus-payment-list-table__section">
      <thead class="goldplus-payment-list-table__head">
        <th
          v-for="(item, index) in tableHead"
          :key="index"
          class="goldplus-payment-list-table__cell"
        >
          {{ item }}
        </th>
      </thead>
      <tbody>
        <slot />
      </tbody>
    </table>
  </div>
</template>

<script>
export default {
  name: 'GoldPlusPaymentListTable',
  props: {
    tableHead: {
      type: Array,
      required: true,
    },
  },
};
</script>

<style lang="scss" scoped src="./GoldPlusPaymentListTable.scss" />
