.additional-price-item {
  display: flex;
  flex-direction: column;

  &__toggle {
    display: flex;
    width: 100%;
    flex-direction: row-reverse;
    justify-content: space-between;

    ::v-deep .control-label {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding-left: 0;
    }

    .c-loader {
      display: none;
      margin: 0 14px;
    }

    &-label {
      padding: 0;
      font-size: 16px;
      font-weight: bold;
      line-height: 24px;
    }
  }

  &.is-loading {
    .c-loader {
      display: inline-block;
    }

    ::v-deep .check {
      display: none;
    }
  }

  ::v-deep .switch,
  ::v-deep .switch[disabled] {
    color: #000;
    opacity: 1;
  }

  /* stylelint-disable-next-line */
  ::v-deep input[type='checkbox'] + .check {
    width: 40px !important;
    height: 24px !important;

    /* stylelint-disable-next-line */
    &::before {
      width: 20px;
      height: 20px;
    }
  }

  /* stylelint-disable-next-line */
  ::v-deep .switch input[type='checkbox']:checked + .check::before {
    transform: translate3d(calc(100% - 6px), 0, 0);
  }

  &__description {
    margin: 16px 0 0;
    font-size: 16px;
    line-height: 24px;
    color: #404040;
  }

  &__value {
    padding: 8px 16px;
    margin-top: 24px;
    background-color: #fff;
    border: 1px solid #dadada;
    border-radius: 8px;

    &.is-disabled {
      * {
        pointer-events: none;
      }
    }

    > * {
      padding: 8px 0;

      &:not(:last-of-type) {
        border-bottom: 1px solid #dadada;
      }
    }
  }

  &__card {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__info {
    display: flex;
    padding-right: 16px;
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    word-break: break-word;
    flex-direction: column;

    &-title {
      color: #757575;
    }

    &-price {
      color: #303030;
    }
  }

  &__action {
    display: flex;
    align-items: center;

    &-separator {
      width: 1px;
      height: 20px;
      margin: 0 8px;
      background-color: #404040;
    }

    &-button {
      padding: 0;
      font-size: 14px;
      font-weight: bold;
      line-height: 20px;
      color: #404040;
      text-decoration: underline;
      cursor: pointer;
      background-color: #fff;
      border: 0;
      outline: none;

      &:hover {
        color: #757575;
        background-color: #fff;
      }

      &:active {
        color: #303030;
        background-color: #fff;
        outline: none;
      }
    }
  }

  &__button-add {
    display: flex;
    margin-top: 24px;
    font-weight: bold;
    line-height: 24px;
    align-items: center;
    justify-content: center;
    border-radius: 4px;

    ::v-deep .c-mk-button {
      padding: 8px 16px;
      font-size: 14px;
    }

    .icon-plus {
      width: 16px;
      height: 16px;
      margin-left: 8px;
      font-size: 16px;
      line-height: 1;
    }
  }

  @media (max-width: 767px) {
    &__toggle {
      &-label {
        font-size: 20px;
        font-weight: 900;
        line-height: 28px;
      }
    }

    &__disclaimer {
      margin-top: 8px;
    }

    &__value,
    &__button-add {
      margin-top: 20px;
    }
  }
}
