<template>
  <div :class="{ 'is-loading': isLoading }" class="additional-price-item">
    <b-switch
      v-model="isActiveComputed"
      :disabled="isLoading"
      class="additional-price-item__toggle"
      type="is-green-brand"
    >
      <div class="additional-price-item__toggle-label">
        {{ label }}
      </div>
      <span class="c-loader"></span>
    </b-switch>
    <p v-if="description" class="additional-price-item__description">
      {{ description }}
    </p>
    <div
      v-if="!!data && data.length >= 1 && isShowPriceValue"
      :class="{ 'is-disabled': isLoading }"
      class="additional-price-item__value"
    >
      <div
        v-for="(priceItem, i) in data"
        :key="`${i}-${priceItem.name}-${priceItem.price}`"
        class="additional-price-item__card"
      >
        <div class="additional-price-item__info">
          <div class="additional-price-item__info-title">{{ priceItem.name }}</div>
          <div class="additional-price-item__info-price">
            {{ priceLabel(priceItem.price, priceItem.price_label, priceItem.meta) }}
          </div>
        </div>
        <div class="additional-price-item__action">
          <button
            @click="handleEditPrice(priceItem, i)"
            class="additional-price-item__action-button"
            type="button"
          >
            Ubah
          </button>
          <div class="additional-price-item__action-separator"></div>
          <button
            @click="handleDeletePrice(priceItem, i)"
            class="additional-price-item__action-button"
            type="button"
          >
            Hapus
          </button>
        </div>
      </div>
    </div>
    <mk-button
      @clicked="handleAddNewPrice"
      v-if="isMany && isShowPriceValue"
      color="secondary"
      class="additional-price-item__button-add"
    >
      Tambah Biaya Lainnya <b-icon class="icon-plus" icon="plus"></b-icon>
    </mk-button>
  </div>
</template>

<script>
import _find from 'lodash/find';
import MkButton from '~/components/global/atoms/MkButton';
import { toIDR } from '~/utils/currencyString';

export default {
  components: {
    MkButton,
  },
  model: {
    prop: 'isActive',
    event: 'active',
  },
  props: {
    data: {
      type: Array,
      default: () => [],
    },
    label: {
      type: String,
      default: '',
    },
    description: {
      type: String,
      default: '',
    },
    isActive: {
      type: Boolean,
      default: false,
    },
    isMany: {
      type: Boolean,
      default: false,
    },
    index: {
      type: Number,
      default: 0,
    },
    kostId: {
      type: Number,
      required: true,
    },
    type: {
      type: String,
      required: true,
    },
    isRange: {
      type: Boolean,
      default: false,
    },
    kostDetail: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      isActiveData: this.isActive,
      isLoading: false,
      isIntercepted: false,
    };
  },
  computed: {
    isActiveComputed: {
      get() {
        return this.isActiveData;
      },
      set(value) {
        this.handleActivation(value);
      },
    },
    isShowPriceValue() {
      const isActive = this.isActiveData && !this.isLoading;
      const isDeactivating = !this.isActiveData && this.isLoading;
      return !this.isIntercepted && (isActive || isDeactivating);
    },
    priceListBase() {
      return [
        { name: 'monthly', price: this.kostDetail.price_monthly },
        { name: 'quarterly', price: this.kostDetail.price_3_month },
        { name: 'semiannually', price: this.kostDetail.price_6_month },
        { name: 'yearly', price: this.kostDetail.price_yearly },
        { name: 'weekly', price: this.kostDetail.price_weekly },
      ];
    },
  },
  watch: {
    isActive(value) {
      this.isActiveData = value;
    },
    data: {
      deep: true,
      handler() {
        this.isIntercepted = false;
      },
    },
  },
  methods: {
    openToast(message) {
      this.$buefy.toast.open({
        duration: 4000,
        position: 'is-bottom',
        message,
      });
    },
    priceLabel(price, priceLabel, meta) {
      if (this.isRange && meta) {
        const percentage = Number(this.getMetaValue(meta, 'percentage', 10));
        let dpPrices = [];
        this.priceListBase.forEach((dp) => {
          !!dp.price && dpPrices.push(dp.price);
        });
        dpPrices = dpPrices.sort((a, b) => a - b);
        if (dpPrices.length === 0) return toIDR(0);
        else if (dpPrices.length === 1) {
          return toIDR(this.roundPrice(dpPrices[0], percentage));
        }
        return (
          toIDR(this.roundPrice(dpPrices[0], percentage)) +
          '-' +
          toIDR(this.roundPrice(dpPrices[dpPrices.length - 1], percentage))
        );
      }
      return priceLabel || toIDR(price);
    },
    roundPrice(price, percentage = 100) {
      return Math.round((percentage / 100) * price);
    },
    getMetaValue(meta, key, defaultVal) {
      const metaData = _find(meta, ['key', key]);
      return metaData ? metaData.value : defaultVal;
    },
    handleAddNewPrice() {
      this.$emit('add', { key: this.index });
    },
    handleEditPrice(priceData, index) {
      this.$emit('edit', { ...priceData, key: this.index, index });
    },
    handleDeletePrice(priceData, index) {
      this.$emit('delete', { ...priceData, key: this.index, index });
    },
    async handleActivation(value) {
      this.isActiveData = value;
      if (this.data.length === 0 && !!value) {
        this.isIntercepted = true;
        this.$emit('active', value);
        this.handleAddNewPrice();
      } else {
        this.isIntercepted = false;
        this.isLoading = true;
        this.$emit('active', value);

        try {
          const res = await this.$api.postPriceComponentActivation(this.kostId, this.type, {
            active: value ? 1 : 0,
          });

          if (res.data.status) {
            this.isLoading = false;
            this.$emit('active', value);
            this.openToast(res.data.meta.message);
          } else {
            this.isLoading = false;
            this.$emit('active', !value);
            this.openToast(res.data.meta.message);
          }
        } catch (error) {
          this.isLoading = false;
          this.$emit('active', !value);
          this.$bugsnag.notify(error);
          this.$alert('is-danger', 'Gagal', 'Terjadi galat, silakan coba lagi.');
        }
      }
    },
  },
};
</script>

<style lang="scss" src="./AdditionalPriceItem.scss" scoped></style>
