<template>
  <div class="room-price-collapse-wrapper">
    <div ref="priceContainer" class="room-price-collapse-wrapper__container">
      <slot></slot>
    </div>
    <mk-button
      @clicked="handleOpen(!isOpen)"
      class="room-price-collapse-wrapper__toggle-button"
      color="naked"
      block
    >
      {{ isOpen ? 'Tampilkan lebih sedikit' : 'Lihat harga lainnya' }}
    </mk-button>
  </div>
</template>

<script>
import MkButton from '~/components/global/atoms/MkButton';
export default {
  components: {
    MkButton,
  },
  model: {
    prop: 'open',
    event: 'update',
  },
  props: {
    open: {
      type: Boolean,
      required: true,
    },
  },
  data() {
    return {
      isOpen: this.open,
      transitionDuration: 500,
    };
  },
  methods: {
    handleOpen(toOpen) {
      const priceContainer = this.$refs.priceContainer;
      const slotElement = document.querySelector('.room-price-collapse-wrapper__container > *');

      if (!slotElement) return;

      if (toOpen) {
        this.setStyle(priceContainer, 'maxHeight', slotElement.clientHeight + 'px');
        this.isOpen = true;
        this.$emit('update', true);

        this.$nextTick(() => {
          this.setStyle(priceContainer, 'maxHeight', priceContainer.scrollHeight + 'px');
          setTimeout(() => {
            this.setStyle(priceContainer, 'maxHeight', '');
          }, this.transitionDuration);
        });
      } else {
        this.setStyle(priceContainer, 'maxHeight', priceContainer.clientHeight + 'px');

        this.$nextTick(() => {
          this.setStyle(priceContainer, 'maxHeight', slotElement.clientHeight + 'px');

          setTimeout(() => {
            this.setStyle(priceContainer, 'maxHeight', '');
            this.isOpen = false;
            this.$emit('update', false);
          }, this.transitionDuration);
        });
      }
    },
    setStyle(el, prop, value) {
      el.style[prop] = value;
    },
  },
};
</script>

<style lang="scss" src="./RoomPriceCollapseWrapper.scss" scoped></style>
