.room-price-collapse-wrapper {
  &__container {
    overflow: hidden;
    transition: max-height 500ms;
  }

  &__toggle-button {
    padding: 8px 16px;
    margin: 0 auto;
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
  }
}
