@import '../../rooms/scss/flashSale.scss';

.property-price {
  &__title {
    margin: 8px 0 20px;
    font-size: 20px;
    font-weight: bold;
    line-height: 30px;
    color: rgba(0, 0, 0, 0.87);
  }

  &__header {
    position: relative;
    min-height: 86px;
  }
  &__room-price {
    margin-top: 45px;
    margin-bottom: 48px;
  }

  &__info {
    margin-right: 90px;
  }

  @mixin kos-gender {
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
  }

  &__kos-gender--male {
    @include kos-gender();
    color: #3485ea;
  }
  &__kos-gender--female {
    @include kos-gender();
    color: #f76288;
  }

  &__flash-sale-notif {
    @include notif();
  }

  &__kos-name {
    max-height: 48px;
    margin-top: 8px;
    overflow-y: hidden;
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    color: #242424;
    overflow-wrap: break-word;
  }

  &__kos-available {
    margin-top: 12px;
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    color: #242424;
  }

  &__kos-unavailable {
    font-size: 16px;
    line-height: 24px;
    color: #484848;
  }
  &__kos-image {
    position: absolute;
    top: 0;
    right: 0;
    width: 86px;
    height: 86px;
    border-radius: 8px;
    object-fit: cover;
  }

  &__update-room-button {
    padding-top: 12px;
    padding-bottom: 12px;
    margin-top: 22px;
    font-weight: bold;
  }

  &__price-item {
    margin-bottom: 22px;
  }

  &__price-item-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 9px;
  }

  &__price-item-label {
    font-size: 20px;
    font-weight: bold;
    line-height: 30px;
    color: #242424;

    &.--disabled {
      color: #aaa;
    }
  }

  &__price-item-status {
    line-height: 30px;
  }

  &__price-item-input-currency {
    &.--disabled.input {
      color: #aaa;
      background: #fff;
      border-color: #dddd;
    }
  }

  &__disabled-price-item-input {
    position: absolute;
    top: 0;
    width: 100%;
    height: 48px;
    background-color: transparent;
  }

  &__price-item-input::v-deep {
    position: relative;

    .input {
      height: 40px;
      margin-bottom: 8px;
    }
  }

  &__price-item-status::v-deep {
    /* stylelint-disable selector-max-type, selector-no-qualifying-type */
    span.check.is-primary {
      display: inline-block;
      margin: auto 0 auto auto;
      border: 1px solid #aaa;
    }
    /* stylelint-enable */

    .control-label {
      padding-left: 0;
    }

    .b-checkbox.checkbox {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      vertical-align: middle;
    }
  }

  &__price-item-note {
    display: block;
    padding: 4px 8px;
    margin-bottom: 22px;
    font-size: 16px;
    background: #e8f7ee;
    border-radius: 4px;
  }

  &__update-price-button {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 8px 16px;
    background-color: #fff;
  }

  &__price-item-error {
    padding: 8px 12px;
    margin-bottom: 20px;

    &::v-deep {
      .mdi::before {
        font-size: 16px;
      }

      .icon.is-large {
        width: 16px;
        height: 16px;
      }

      .media-left {
        margin-right: 14px;
      }
    }
  }

  &__price-separator {
    margin: 24px 0 8px;
    background-color: #e8e8e8;
  }

  ::v-deep {
    .toast {
      margin-bottom: 12vh;
    }
  }
}
