<template>
  <div id="propertyPrice" class="property-price">
    <template v-if="selectedKos">
      <div class="property-price__header">
        <div class="property-price__info">
          <div class="property-price__kos-gender--male">
            Kos
            <template v-if="selectedKos.gender === 0">Campur </template>
            <template v-else-if="selectedKos.gender === 1">Putra </template>
            <template v-else-if="selectedKos.gender === 2">Putri </template>
          </div>
          <div class="property-price__kos-name">
            {{ selectedKos.room_title }}
          </div>
        </div>
        <img v-lazy="selectedKos.photo_url.small" class="property-price__kos-image" />
      </div>

      <b-notification
        v-if="isFlashSale"
        class="property-price__flash-sale-notif"
        icon="alert-circle"
        closable
        has-icon
      >
        Anda sedang mengikuti promo ngebut, harga tidak dapat diubah sampai promo berakhir
      </b-notification>

      <div class="property-price__room-price">
        <room-price-collapse-wrapper v-model="isOpen">
          <div
            v-show="key === firstPriceKey || isOpen"
            v-for="(roomPrice, key) in roomPrices"
            :key="key"
            class="property-price__price-item"
          >
            <div class="property-price__price-item-header">
              <span
                :class="{ '--disabled': !roomPrice.selected }"
                class="property-price__price-item-label"
              >
                {{ roomPrice.label }}
              </span>
              <b-checkbox
                v-model="roomPrice.selected"
                :disabled="
                  roomPrice.locked || selectedKos.is_price_flash_sale[roomPrice.flashSaleKey]
                "
                @click.native="handleRoomPriceCheckboxClicked(roomPrice.flashSaleKey)"
                class="property-price__price-item-status"
                type="is-primary"
              ></b-checkbox>
            </div>
            <div class="property-price__price-item-input">
              <mk-currency-input
                v-if="$v.roomPrices[key]"
                v-model="$v.roomPrices[key].value.$model"
                :class="{
                  '--disabled':
                    !roomPrice.selected || selectedKos.is_price_flash_sale[roomPrice.flashSaleKey],
                }"
                :disabled="
                  !roomPrice.selected || selectedKos.is_price_flash_sale[roomPrice.flashSaleKey]
                "
                @input="handlePriceInput"
                class="property-price__price-item-input-currency"
              ></mk-currency-input>
              <div
                v-if="selectedKos.is_price_flash_sale[roomPrice.flashSaleKey]"
                @click="handleRoomPriceCheckboxClicked(roomPrice.flashSaleKey)"
                class="property-price__disabled-price-item-input"
              ></div>

              <div v-if="roomPrice.description" class="property-price__price-item-note">
                {{ roomPrice.description }}
              </div>

              <div v-if="$v.roomPrices[key]">
                <b-notification
                  v-if="!$v.roomPrices[key].value.between && roomPrice.selected"
                  :closable="false"
                  type="is-orange"
                  class="property-price__price-item-error"
                  icon="alert-circle"
                  has-icon
                >
                  {{ $v.roomPrices[key].$model.errorMessage }}
                </b-notification>
              </div>
            </div>
          </div>
        </room-price-collapse-wrapper>

        <hr class="property-room__price-separator" />

        <room-additional-price :kost-detail="selectedKos" />

        <div class="property-price__update-price-button">
          <mk-button
            @clicked="handleUpdatePriceClicked"
            :disabled="$v.roomPrices.$invalid || isUpdating"
            :has-spinner="isUpdating"
            color="green-brand"
            block
          >
            Update Harga
          </mk-button>
        </div>
      </div>
    </template>
    <span v-else class="c-loader"></span>
  </div>
</template>

<script>
import updatePrice from '../../rooms/mixins/updatePrice';

export default {
  name: 'RoomsPriceMobile',
  mixins: [updatePrice],
  created() {
    this.$store.commit('mobile/setTopNavbarTitle', 'Update Harga');
    this.$store.commit('mobile/setTopNavbarAttributes', { titleAlign: 'center' });
    if (this.$route.query && this.$route.query.redirect_url) {
      this.$store.commit('mobile/setCustomPrevPath', this.$route.query.redirect_url);
    }
  },
};
</script>
<style lang="scss" src="./mobile.scss" scoped></style>
