<template>
  <div class="property-room-update-card property-room">
    <template v-if="selectedKos">
      <div class="property-room-update-card__header">
        <div class="property-room__info">
          <div class="property-room__kos-gender--male">
            Kos
            <template v-if="selectedKos.gender === 0">Campur </template>
            <template v-else-if="selectedKos.gender === 1">Putra </template>
            <template v-else-if="selectedKos.gender === 2">Putri </template>
          </div>
          <div class="property-room__kos-name">
            {{ selectedKos.room_title }}
          </div>
        </div>
        <img v-lazy="selectedKos.photo_url.small" class="property-room__kos-image" />
      </div>

      <b-notification
        v-if="isFlashSale"
        class="property-room__flash-sale-notif"
        icon="alert-circle"
        closable
        has-icon
      >
        Anda sedang mengikuti promo ngebut, harga tidak dapat diubah sampai promo berakhir
      </b-notification>

      <div class="property-room-update-card__room-price">
        <room-price-collapse-wrapper v-model="isOpen">
          <div
            v-show="key === firstPriceKey || isOpen"
            v-for="(roomPrice, key) in roomPrices"
            :key="key"
            class="property-room__price-item"
          >
            <span
              :class="{ '--disabled': !roomPrice.selected }"
              class="property-room__price-item-label"
            >
              {{ roomPrice.label }}
            </span>
            <div class="property-room__price-item-input">
              <mk-currency-input
                v-if="$v.roomPrices[key]"
                v-model="$v.roomPrices[key].value.$model"
                :class="{
                  '--disabled':
                    !roomPrice.selected || selectedKos.is_price_flash_sale[roomPrice.flashSaleKey],
                }"
                :disabled="
                  !roomPrice.selected || selectedKos.is_price_flash_sale[roomPrice.flashSaleKey]
                "
                @input="handlePriceInput"
                class="property-room__price-item-input-currency satu"
              ></mk-currency-input>
              <div
                v-if="selectedKos.is_price_flash_sale[roomPrice.flashSaleKey]"
                @click="handleRoomPriceCheckboxClicked(roomPrice.flashSaleKey)"
                class="property-room__disabled-price-item-input"
              ></div>

              <div v-if="roomPrice.description" class="property-room__price-item-note">
                {{ roomPrice.description }}
              </div>

              <div v-if="$v.roomPrices[key]">
                <b-notification
                  v-if="!$v.roomPrices[key].value.between && roomPrice.selected"
                  :closable="false"
                  type="is-orange"
                  class="property-room__price-item-error"
                  icon="alert-circle"
                  has-icon
                >
                  {{ $v.roomPrices[key].$model.errorMessage }}
                </b-notification>
              </div>
            </div>
            <div class="property-room__price-item-status">
              <b-checkbox
                v-model="roomPrice.selected"
                :disabled="
                  roomPrice.locked || selectedKos.is_price_flash_sale[roomPrice.flashSaleKey]
                "
                @click.native="handleRoomPriceCheckboxClicked(roomPrice.flashSaleKey)"
                type="is-primary"
              ></b-checkbox>
            </div>
          </div>
        </room-price-collapse-wrapper>

        <hr class="property-room__price-separator" />

        <room-additional-price :kost-detail="selectedKos" />

        <div class="property-room__update-price-button">
          <mk-button
            @clicked="handleUpdatePriceClicked"
            :disabled="$v.roomPrices.$invalid || isUpdating"
            :has-spinner="isUpdating"
            color="green-brand"
          >
            Update Harga
          </mk-button>
        </div>
      </div>
    </template>
    <span v-else class="c-loader"></span>
  </div>
</template>

<script>
import updatePrice from '../../mixins/updatePrice';

export default {
  name: 'PropertyRoomUpdateCard',
  mixins: [updatePrice],
  data() {
    return {
      // to cancel http
      sourceHttp: null,
    };
  },
  watch: {
    async $route() {
      this.selectedKos = null;
      this.sourceHttp && (await this.sourceHttp.cancel('request canceled by user'));
      this.getPropertyPrice();
    },
  },
};
</script>

<style lang="scss" src="./PropertyRoomUpdateCard.scss" scoped></style>
