@import '../../scss/flashSale.scss';

.property-room-update-card {
  max-width: 644px;
  padding: 21px 24px;
  border: 1px solid #ddd;
  border-radius: 8px;

  &__header {
    position: relative;
  }
  &__room-price {
    margin-top: 55px;
  }
}

.property-room {
  &__info {
    margin-right: 90px;
  }

  @mixin kos-gender {
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
  }

  &__kos-gender--male {
    @include kos-gender();
    color: #3485ea;
  }
  &__kos-gender--female {
    @include kos-gender();
    color: #f76288;
  }

  &__flash-sale-notif {
    @include notif();
  }

  &__kos-name {
    margin-top: 8px;
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    color: #242424;
    overflow-wrap: break-word;
  }

  &__kos-available {
    margin-top: 12px;
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    color: #242424;
  }

  &__kos-unavailable {
    font-size: 16px;
    line-height: 24px;
    color: #484848;
  }
  &__kos-image {
    position: absolute;
    top: 0;
    right: 0;
    width: 86px;
    height: 86px;
    border-radius: 8px;
    object-fit: cover;
  }

  &__update-room-button {
    padding-top: 12px;
    padding-bottom: 12px;
    margin-top: 22px;
    font-weight: bold;
  }

  &__price-item {
    display: flex;
    justify-content: space-between;
  }

  &__price-item-label {
    flex-basis: 30%;
    font-size: 16px;
    font-weight: bold;
    line-height: 48px;
    color: #242424;
    vertical-align: middle;

    &.--disabled {
      color: #aaa;
    }
  }

  &__price-item-input {
    flex-basis: 60%;

    + .property-room__price-item-status {
      position: relative;
      margin-bottom: 22px;
    }
  }

  &__price-item-input-currency {
    &.--disabled.input {
      color: #aaa;
      background: #fff;
      border-color: #dddd;
    }
  }
  &__disabled-price-item-input {
    position: absolute;
    top: 0;
    width: 100%;
    height: 48px;
    background-color: transparent;
  }

  &__price-item-input::v-deep {
    position: relative;
    .input {
      height: 48px;
      margin-bottom: 8px;
    }
  }
  &__price-item-status {
    flex-basis: 10%;
    height: 48px;
  }

  &__price-item-status::v-deep {
    /* stylelint-disable selector-max-type, selector-no-qualifying-type */
    span.check.is-primary {
      display: inline-block;
      margin: auto 0 auto auto;
      border: 1px solid #aaa;
    }
    /* stylelint-enable */

    .control-label {
      padding-left: 0;
    }

    .b-checkbox.checkbox {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      vertical-align: middle;
    }
  }

  &__price-item-note {
    display: block;
    padding: 4px 8px;
    margin-bottom: 22px;
    font-size: 16px;
    background: #e8f7ee;
    border-radius: 4px;
  }

  &__price-separator {
    margin: 16px 0 8px;
    background-color: #e8e8e8;
  }

  &__update-price-button {
    text-align: right;

    ::v-deep {
      .c-mk-button {
        width: 204px;
      }
    }
  }

  &__price-item-error {
    padding: 8px 12px;
    margin-bottom: 20px;

    &::v-deep {
      .mdi::before {
        font-size: 16px;
      }

      .icon.is-large {
        width: 16px;
        height: 16px;
      }

      .media-left {
        margin-right: 14px;
      }
    }
  }
}
