<template>
  <div class="mobile-scheme">
    <div v-if="isLoading" class="mobile-scheme__loader">
      <div class="c-loader" />
    </div>
    <div v-else class="scheme-content mobile-scheme__content">
      <div class="scheme-content__header">
        <h1 class="scheme-content__title">Perbandingan Skema Poin</h1>
        <p class="scheme-content__desc">Pilih paket yang ingin Anda bandingkan.</p>
        <b-dropdown
          :scrollable="true"
          :max-height="300"
          :mobile-modal="false"
          @change="handleMainPackageChange"
          v-model="selectedPackage.main"
          aria-role="list"
          class="activity-dropdown"
        >
          <button slot="trigger" class="button is-primary" type="button">
            <template>
              <span>{{ selectedMainPackageContent.title }}</span>
            </template>
            <b-icon icon="menu-down"></b-icon>
          </button>

          <b-dropdown-item
            v-for="(option, index) in mainPackageOptions"
            :key="index"
            :value="option.id"
            :class="{ '--selected': option.id === selectedMainPackageContent.id }"
            class="activity-dropdown__item"
            aria-role="listitem"
          >
            <h3>{{ option.title }}</h3>
          </b-dropdown-item>
        </b-dropdown>

        <b-dropdown
          :scrollable="true"
          :max-height="300"
          :mobile-modal="false"
          @change="sendTrackerEvent('comparison')"
          v-model="selectedPackage.comparison"
          aria-role="list"
          class="activity-dropdown"
        >
          <button slot="trigger" class="button is-primary" type="button">
            <template>
              <span>{{ selectedComparisonPackageContent.title }}</span>
            </template>
            <b-icon icon="menu-down"></b-icon>
          </button>

          <b-dropdown-item
            v-for="(option, index) in comparisonPackageOptions"
            :key="index"
            :value="option.id"
            :class="{ '--selected': option.id === selectedComparisonPackageContent.id }"
            class="activity-dropdown__item"
            aria-role="listitem"
          >
            <h3>{{ option.title }}</h3>
          </b-dropdown-item>
        </b-dropdown>
      </div>
      <table class="scheme-content__table scheme-table">
        <thead class="table-head">
          <th class="table-head__column">
            <span class="label">
              Aktivitas
            </span>
          </th>
          <th class="table-head__column">
            <span class="label">
              {{ selectedMainPackageContent.title }}
            </span>
          </th>
          <th class="table-head__column">
            <span class="label">
              {{ selectedComparisonPackageContent.title }}
            </span>
          </th>
        </thead>
        <tbody class="table-body">
          <tr
            v-for="(activity, index) in activities"
            :key="'activity' + index"
            class="table-body__row"
          >
            <td class="table-body__column">
              {{ activity.title }}
            </td>
            <td class="table-body__column">
              <div v-if="selectedPackagePointDetails(selectedMainPackageContent, index)">
                {{
                  selectedPackagePointDetails(selectedMainPackageContent, index).min_point
                    | toThousands
                    | formatPoint
                }}
                <span
                  v-if="selectedPackagePointDetails(selectedMainPackageContent, index).min_point"
                >
                  poin
                </span>
              </div>
              <span v-else>
                -
              </span>
            </td>
            <td class="table-body__column">
              <div v-if="selectedPackagePointDetails(selectedComparisonPackageContent, index)">
                {{
                  selectedPackagePointDetails(selectedComparisonPackageContent, index).min_point
                    | toThousands
                    | formatPoint
                }}
                <span
                  v-if="
                    selectedPackagePointDetails(selectedComparisonPackageContent, index).min_point
                  "
                >
                  poin
                </span>
              </div>
              <span v-else>
                -
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapState } from 'vuex';
import _zip from 'lodash/zip';
import _flatMap from 'lodash/flatMap';
import { formatPoint } from '~/utils/mamipoin';

export default {
  name: 'MobileScheme',
  filters: {
    formatPoint,
  },
  data() {
    return {
      isLoading: false,
      activePackage: 0,
      schemes: [],
      selectedPackage: {
        main: '',
        comparison: '',
      },
    };
  },
  computed: {
    ...mapState('profile', {
      profileData: (state) => state.data,
    }),
    ...mapGetters('profile', ['user', 'isBooking', 'isPremium', 'membership']),
    packages() {
      return this.schemes.map((scheme, index) => {
        return {
          id: index,
          type: scheme.type,
          label: scheme.title,
        };
      });
    },
    activities() {
      const activities = this.schemes.map((scheme) => {
        return scheme.activities;
      });
      return _zip(...activities).map((activity) => {
        return {
          title: activity[0].title,
          description: activity[0].description,
          point_details: _flatMap(activity, 'point_details'),
        };
      });
    },
    selectedMainPackageContent() {
      return this.schemes[`${this.selectedPackage.main}`] || { activities: [] };
    },
    selectedComparisonPackageContent() {
      return this.schemes[`${this.selectedPackage.comparison}`] || { activities: [] };
    },
    mainPackageOptions() {
      return this.schemes.map((scheme, index) => {
        return {
          id: index,
          type: scheme.type,
          title: scheme.title,
        };
      });
    },
    comparisonPackageOptions() {
      return this.mainPackageOptions.length > 1
        ? this.mainPackageOptions.filter((option) => option.id !== this.selectedPackage.main)
        : this.mainPackageOptions;
    },
  },
  created() {
    this.fetchPointScheme();
  },
  methods: {
    sendTrackerEvent(packageCategory) {
      this.$nextTick(() => {
        // packageCategory: main, comparison
        const selectedPackage =
          this.mainPackageOptions.find(
            (mainPack) => String(mainPack.id) === String(this.selectedPackage[packageCategory]),
          ) || {};
        this.$tracker.send('moe', [
          '[Owner] Skema Poin: Package Selected',
          {
            interface: 'mobile',
            is_owner: true,
            is_mamipay: this.membership.is_mamipay_user,
            is_booking: this.isBooking,
            is_premium_owner: this.isPremium,
            point_total: this.profileData.total_mamipoin,
            package_type: selectedPackage.title,
          },
        ]);
      });
    },
    handleMainPackageChange() {
      this.setComparisonPackage();
      this.sendTrackerEvent('main');
    },
    selectedPackagePointDetails(content = {}, index = 0) {
      const activities = content ? content.activities : [];
      const selectedActivity =
        activities && Array.isArray(activities) && activities.length ? activities[index] : {};
      return selectedActivity.point_details || {};
    },
    setComparisonPackage() {
      this.$nextTick(() => {
        const prevComparison = this.selectedPackage.comparison;
        const isPrevComparisonExist = !!this.comparisonPackageOptions.find(
          (pack) => parseInt(pack.id) === parseInt(prevComparison),
        );
        const firstPackageOption = this.comparisonPackageOptions[0] || {};

        this.selectedPackage.comparison = isPrevComparisonExist
          ? prevComparison
          : firstPackageOption.id;
      });
    },
    fetchPointScheme() {
      this.isLoading = true;
      this.$api
        .getPointScheme()
        .then((response) => {
          if (response.data.status) {
            // set scheme id
            this.schemes = response.data.data.map((scheme, index) => {
              scheme.id = index;
              return scheme;
            });

            // find and set active package
            let activePackageIndex = 0;
            this.schemes.forEach((scheme, index) => {
              if (scheme.is_active) {
                this.activePackage = scheme.id;
                activePackageIndex = index;
              }
            });

            // set default selected package
            const schemeLength = this.schemes.length;
            const mainPackageId =
              activePackageIndex === schemeLength - 1 ? schemeLength - 2 : this.activePackage;
            this.selectedPackage.main = String(mainPackageId);

            const comparisonPackageId =
              activePackageIndex === schemeLength - 1
                ? schemeLength - 1
                : this.schemes[this.schemes.length - 1].id;
            this.selectedPackage.comparison = String(comparisonPackageId);
          }
          this.isLoading = false;
        })
        .catch(() => {
          this.isLoading = false;
        });
    },
  },
};
</script>

<style lang="scss" scoped src="./MobileScheme.scss"></style>
