/* stylelint-disable max-nesting-depth, selector-max-compound-selectors, selector-max-type, value-no-vendor-prefix, property-no-vendor-prefix, selector-max-specificity, selector-no-qualifying-type, color-named */

$font-size: (
  desktop: 16px,
  mobile: 14px,
);

@mixin fontSize($source: $text-size, $scale: 1) {
  font-size: map-get($source, 'desktop') * $scale;

  @media (max-width: 480px) {
    font-size: map-get($source, 'mobile') * $scale;
  }
}

.mobile-scheme {
  &__loader {
    margin: 60px 0;

    .c-loader {
      width: 40px;
      height: 40px;
    }
  }
}

.scheme-content {
  padding-bottom: 60px;

  &__header {
    padding-bottom: 20px;
    margin-bottom: 10px;
    line-height: 2;
    border-bottom: 1px solid #e8e8e8;

    .activity-dropdown {
      margin: 0 0 10px;
    }
  }

  &__title {
    font-size: 20px;
    font-weight: bold;
    color: #303030;
  }

  &__desc {
    margin-bottom: 10px;
    font-size: 14px;
    color: #303030;
  }
}

.activity-dropdown {
  @include fontSize($font-size, 1);
  min-width: 328px;

  @media (max-width: 480px) {
    width: 100%;
    min-width: unset;
  }

  ::v-deep .dropdown-trigger {
    min-width: 328px;
  }

  ::v-deep .button {
    min-width: 328px;
    color: #303030;
    background-color: #fff;
    border-color: #dadada;
    box-shadow: unset;
    justify-content: left;

    .icon {
      margin-left: auto;
    }

    &:focus {
      border-color: #1baa56;
    }
  }

  ::v-deep .dropdown-menu {
    min-width: 328px;

    @media (max-width: 480px) {
      width: 100%;
      min-width: unset;
    }
  }

  @media (max-width: 480px) {
    ::v-deep .dropdown-trigger {
      width: 100%;
      min-width: unset;
    }

    ::v-deep .button {
      width: 100%;
      min-width: unset;

      .icon {
        margin-left: auto;
      }
    }
  }

  &.is-active {
    ::v-deep .button {
      border-color: #1baa56;
    }
  }

  &__item {
    @include fontSize($font-size, 1);

    &.--selected {
      color: #1baa56;
      background-color: unset;

      ::v-deep h3 {
        font-weight: bold;
      }

      &:hover {
        background-color: whitesmoke;
      }
    }
  }
}

.scheme-table {
  overflow-y: scroll;

  .table-head {
    &__column {
      min-width: 70px;
      padding: 10px 0;
      padding-right: 10px;
      vertical-align: middle;
      border-bottom: 2px solid #e8e8e8;

      .label {
        font-weight: bold;
        @include fontSize($font-size, 0.875);
      }

      &:first-of-type {
        width: 40%;
      }
    }
  }

  .table-body {
    &__column {
      padding: 10px 0;
      padding-right: 10px;
      word-break: break-word;
      vertical-align: middle;
      border-bottom: 1px solid #e8e8e8;

      @include fontSize($font-size, 1);
    }
  }
}
