/* stylelint-disable primer/no-unused-vars */
$border-default: 1px solid #e8e8e8;

.goldplus-submission-package-detail-mweb {
  max-width: 411px;
  padding-bottom: 94px;
  margin: 0 auto;

  &__header {
    /* stylelint-disable selector-max-type */
    &-description {
      p,
      h6 {
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
      }

      h4 {
        margin-top: 16px;
        font-size: 18px;
        font-weight: 900;
        line-height: 26px;
      }

      h6 {
        margin-top: 4px;
      }
    }
  }

  &__info-banner {
    margin-bottom: 16px !important;
  }

  .divider {
    position: absolute;
    left: 0;
    width: 100%;
    margin: 18px 0 20px;
    border-bottom: $border-default;
  }

  &__room-list-wrapper {
    margin-top: 39px; // 39px is divider's height.
  }

  &__loader {
    position: absolute;
    top: 65%;
    left: 50%;
    margin: 0 auto;
    transform: translateX(-50%);

    .c-loader {
      width: 40px;
      height: 40px;
    }
  }

  &__footer {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1040;
    width: 100%;
    padding: 10px 16px;
    background-color: #fcfcfc;
    border-top: $border-default;

    &-description {
      margin-bottom: 5px;
      font-size: 14px;
      line-height: 20px;
    }

    &-button {
      height: 48px;
      font-size: 16px;
      font-weight: 700;
      line-height: 20px;

      &.--disabled {
        color: #bbb;
        background-color: #f6f6f6;
        border: unset;
      }

      &.--long-text {
        padding-top: 5px;
        padding-bottom: 5px;
      }
    }
  }

  @media (min-width: 768px) {
    .divider {
      position: unset;
      left: unset;
    }

    &__room-list-wrapper {
      margin-top: unset;
    }

    &__footer {
      left: 0;
      width: 100%;
      background-color: #fff;
    }
  }

  ::v-deep {
    .modal.c-mk-modal {
      z-index: 1050;
    }
  }
}
