<template>
  <div class="mamipoin-history">
    <div v-if="isLoading" class="mamipoin-history__loader">
      <span class="c-loader" />
    </div>
    <div v-else class="mamipoin-history__content">
      <div v-if="history.length" class="history-content">
        <ul class="history-list">
          <li v-for="(hist, idx) in history" :key="'history' + idx" class="history-list__item">
            <div class="item-info">
              <strong class="item-info__title">
                {{ hist.title || '-' }}
              </strong>
              <time class="item-info__date">
                {{ hist.dateString || '-' }}
              </time>
            </div>
            <span :class="hist.isAddition ? '--addition' : '--deduction'" class="item-poin">
              {{ hist.finalPoint || 0 }}
            </span>
          </li>
        </ul>
      </div>
      <div v-else>
        <mamipoin-placeholder
          image="empty-rewards-placeholder"
          title="Riwayat Poin Kosong"
          desc="Poin yang telah Anda kumpulkan akan tercatat di sini."
        />
      </div>
    </div>

    <div v-if="history.length">
      <mamipoin-pagination
        v-model="pagination.page"
        :is-loading="isLoading"
        :has-next="pagination.hasNext"
        :limit="pagination.limit"
        :total="pagination.total"
        :total-pages="pagination.totalPages"
        class="content-pagination"
      />
    </div>
  </div>
</template>

<script>
import MamipoinPagination from '../MamipoinPagination';
import MamipoinPlaceholder from '../MamipoinPlaceholder';

import { toThousands } from '~/utils/number';

export default {
  name: 'PointHistory',
  components: {
    MamipoinPagination,
    MamipoinPlaceholder,
  },
  data() {
    return {
      isLoading: false,
      history: [],
      pagination: {
        page: 1,
        limit: 7,
        hasNext: false,
        total: 10,
        totalPages: 1,
      },
    };
  },
  computed: {
    isDesktop() {
      return this.$device.isDesktop;
    },
  },
  watch: {
    'pagination.page'(val) {
      this.fetchPointHistory();
    },
  },
  mounted() {
    this.fetchPointHistory();
  },
  methods: {
    fetchPointHistory() {
      if (!this.isLoading) {
        this.isLoading = true;
        const { page, limit } = this.pagination;
        this.$api
          .getPointHistory(page, limit)
          .then((response) => {
            if (response.data.status) {
              const responseData = response.data.data || [];
              this.history = responseData.length
                ? responseData.map((rData) => {
                    rData.dateString = rData.date
                      ? this.$dayjs(rData.date, 'YYYY-MM-DD hh:mm:ss').format('DD MMMM YYYY')
                      : '';
                    rData.isAddition = rData.value > 0;

                    const point = Math.abs(rData.value || 0);

                    rData.finalPoint = `${rData.isAddition ? '+' : '-'} ${toThousands(point)} Poin`;

                    return rData;
                  })
                : this.history;

              // eslint-disable-next-line camelcase
              const { current_page = 1, has_next = false, total_pages = 1 } = response.data;
              this.pagination = {
                ...this.pagination,
                ...{
                  // eslint-disable-next-line camelcase
                  page: parseInt(current_page || 0),
                  hasNext: Boolean(has_next),
                  // eslint-disable-next-line camelcase
                  totalPages: parseInt(total_pages || 0),
                  // eslint-disable-next-line camelcase
                  total: parseInt(total_pages || 0) * limit,
                },
              };
            }
            this.isLoading = false;
          })
          .catch(() => {
            this.isLoading = false;
          });
      }
    },
  },
};
</script>

<style lang="scss" scoped src="./PointHistory.scss"></style>
