$bg-color: #fcfcfc;
$text-color: #484848;
$subtitle-color: #aaa;
$border-color: #ddd;

$addition-text-color: #1baa56;
$addition-bg-color: #e8f7ee;

$deduction-text-color: #484848;
$deduction-bg-color: #ddd;

$text-font-size: (
  desktop: 16px,
  mobile: 14px,
);

$heading-color: #242424;

@mixin fontSize($source: $text-font-size, $scale: 1) {
  font-size: map-get($source, 'desktop') * $scale;

  @media (max-width: 480px) {
    font-size: map-get($source, 'mobile') * $scale;
  }
}

.mamipoin-history {
  margin-bottom: 80px;

  &__loader {
    margin: 40px 0;
    text-align: center;

    .c-loader {
      width: 40px;
      height: 40px;
    }
  }
}

.history-placeholder {
  margin: 20px 0 60px;
  text-align: center;

  &__image {
    display: block;
    max-height: 200px;
    margin: 0 auto 10px;
  }

  &__title {
    display: block;
    line-height: 2;
    color: $heading-color;
    @include fontSize($text-font-size, 1.5);
  }

  &__desc {
    @include fontSize($text-font-size, 1);
  }
}

.history-list {
  &__item {
    display: flex;
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    background-color: $bg-color;
    border-bottom: 1px solid $border-color;

    .item-info {
      max-width: 75%;
      overflow: hidden;

      &__title {
        display: block;
        overflow: hidden;
        color: $text-color;
        text-overflow: ellipsis;
        white-space: nowrap;
        @include fontSize($text-font-size);
      }

      &__date {
        color: $subtitle-color;
        @include fontSize($text-font-size, 0.875);
      }
    }

    /* stylelint-disable plugin/no-unsupported-browser-features */
    .item-poin {
      height: 100%;
      padding: 5px 10px;
      margin-left: auto;
      @include fontSize($text-font-size, 0.875);
      font-weight: 600;
      text-align: center;
      word-break: break-word;

      &.--addition {
        color: $addition-text-color;
        background-color: $addition-bg-color;
      }

      &.--deduction {
        color: $deduction-text-color;
        background-color: $deduction-bg-color;
      }
    }
  }
}
