.goldplus-card {
  &__header {
    display: flex;
    justify-content: space-between;
  }

  &__body {
    &.--no-bottom-padding {
      padding-bottom: 0;
    }
  }

  .c-mk-button {
    font-weight: bold;
  }

  &__date-label {
    margin: 16px 0 20px;
    font-size: 14px;
    font-style: italic;
    line-height: 20px;
    color: #757575;
  }
}
