<template>
  <mk-card :maxWidth="342" class="goldplus-card">
    <mk-card-header class="goldplus-card__header">
      <mk-card-title key="title"> Kos GoldPlus Anda </mk-card-title>
      <img v-lazy="require('~/assets/images/logo-goldplus.svg')" alt="goldplus logo" />
    </mk-card-header>
    <mk-card-body :class="{ '--no-bottom-padding': !isLoading }" class="goldplus-card__body">
      <div class="goldplus-card__body-text">
        Data performa iklan dan aktivitas lainnya mengenai kos Anda yang tergabung di GoldPlus.
      </div>
      <div
        v-for="(statistic, index) in statisticSummaries"
        :key="index"
        class="goldplus-card__widget-label"
      >
        <gold-plus-widget-label
          v-if="statistic.label !== 'Sedang di-review' || !isShowUnpaidLabel"
          :label-data="statistic"
          @click.native="handleWidgetLabelClicked(statistic)"
        >
        </gold-plus-widget-label>
      </div>
      <div v-if="isShowUnpaidLabel" class="goldplus-card__widget-label">
        <gold-plus-widget-label
          :label-data="paymentLabel"
          @click.native="handleUnpaidLabelClicked()"
        >
        </gold-plus-widget-label>
      </div>
    </mk-card-body>
    <gold-plus-reminder-card />
    <mk-card-footer>
      <mk-button
        @clicked="handleButtonClicked"
        block
        color="green-inverse"
        class="goldplus-card__main-cta"
      >
        Kelola GoldPlus
      </mk-button>
    </mk-card-footer>
  </mk-card>
</template>

<script>
import _get from 'lodash/get';
import { mapState, mapActions } from 'vuex';
import GoldPlusReminderCard from '../GoldPlusExpiredReminder';
import MkButton from '~/components/global/atoms/MkButton';
import MkCard from '~/components/global/molecules/MkCard';
import MkCardHeader from '~/components/global/molecules/MkCard/components/MkCardHeader';
import MkCardTitle from '~/components/global/molecules/MkCard/components/MkCardTitle';
import MkCardBody from '~/components/global/molecules/MkCard/components/MkCardBody';
import MkCardFooter from '~/components/global/molecules/MkCard/components/MkCardFooter';
import GoldPlusWidgetLabel from '~/components/page-features/dashboard/components/GoldPlusWidgetLabel';

export default {
  name: 'GoldPlusCard',
  components: {
    MkButton,
    MkCard,
    MkCardHeader,
    MkCardTitle,
    MkCardBody,
    MkCardFooter,
    GoldPlusWidgetLabel,
    GoldPlusReminderCard,
  },
  computed: {
    ...mapState('goldplus', ['statisticSummaries', 'billingSummary']),
    isLoading() {
      return !this.statisticSummaries.length;
    },
    isShowUnpaidLabel() {
      return this.paymentLabel.value > 0;
    },
    paymentLabel() {
      const unpaidInvoiceCount = _get(this.billingSummary, 'unpaid_invoices', 0);
      return {
        button_visible: true,
        label: 'Menunggu Pembayaran',
        value: unpaidInvoiceCount,
      };
    },
  },
  mounted() {
    this.handleFetchBillingSummary();
    this.handleFetchWidgetData();
  },
  methods: {
    ...mapActions('goldplus', ['fetchWidgetData', 'fetchWidgetBillingSummary']),
    handleButtonClicked() {
      this.$router.push('/goldplus');
    },
    async handleFetchWidgetData() {
      try {
        await this.fetchWidgetData();
      } catch (error) {
        this.$bugsnag.notify(error);
        this.$alert('is-danger', 'Gagal', 'Terjadi galat, silakan coba lagi.');
      }
    },
    async handleFetchBillingSummary() {
      try {
        await this.fetchWidgetBillingSummary();
      } catch (error) {
        this.$bugsnag.notify(error);
        this.$alert('is-danger', 'Gagal', 'Terjadi galat, silakan coba lagi.');
      }
    },
    handleWidgetLabelClicked(statistic) {
      if (statistic.button_visible) {
        // change filter_key value to be atomic component
        this.$router.push({ name: 'goldplus-list', params: { filter_key: statistic.key } });
      }
    },
    handleUnpaidLabelClicked() {
      this.$router.push({ name: 'goldplus-payment' });
    },
  },
};
</script>

<style lang="scss" src="./GoldPlusCard.scss"></style>
