<template>
  <div class="goldplus-statistic-chart-description">
    <em class="goldplus-statistic-chart-description__date-label">
      {{ dateRangePlaceholder }}
    </em>

    <div class="goldplus-statistic-chart-description__main-block">
      <p class="goldplus-statistic-chart-description__title">{{ title }}</p>
      <div class="goldplus-statistic-chart-description__latest-value">
        <img
          v-if="growthType"
          v-lazy="growthIcon"
          alt="growth icon"
          class="goldplus-statistic-chart-description__latest-value-icon"
        />
        <p class="goldplus-statistic-chart-description__latest-value-text">
          {{ latestValue }}
        </p>
      </div>
    </div>

    <p class="goldplus-statistic-chart-description__description-text">
      {{ description }}
    </p>
  </div>
</template>

<script>
export default {
  name: 'GoldPlusStatisticChartDescription',
  props: {
    title: {
      type: String,
      required: true,
    },
    description: {
      type: String,
      required: true,
    },
    dateRange: {
      type: String,
      required: true,
    },
    latestValue: {
      type: [String, Number],
      required: true,
    },
    growthType: {
      type: String,
      default: '',
    },
  },
  computed: {
    growthIcon() {
      const type = this.growthType;

      return type && type !== ''
        ? require(`~/assets/images/goldplus/ic_statistic_growth_${type}.svg`)
        : '';
    },
    dateRangePlaceholder() {
      const date = new Date();
      const yesterday = date.setDate(date.getDate() - 1);

      return this.dateRange === '' ? this.$dayjs(yesterday).format('DD MMM YYYY') : this.dateRange;
    },
  },
};
</script>

<style lang="scss" src="./GoldPlusStatisticChartDescription.scss" scoped></style>
