.goldplus-statistic-chart-description {
  min-height: 169px;
  padding: 16px;
  margin-top: 16px;
  border: 1px solid #e8e8e8;
  border-radius: 8px;

  &__date-label,
  &__description-text {
    font-size: 14px;
    line-height: 20px;
    color: #757575;
  }

  &__main-block {
    display: flex;
    width: 100%;
    margin: 8px 0;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  &__title,
  &__latest-value {
    display: flex;
    font-weight: 900;
    flex: 1;
    flex-direction: column;
  }

  &__title {
    font-size: 18px;
    line-height: 26px;
  }

  &__latest-value {
    font-size: 32px;
    line-height: 40px;
    flex-direction: row;
    justify-content: flex-end;

    &-icon {
      margin-right: 8px;
    }
  }
}
