<template>
  <div class="contract-price-change">
    <bg-text size="body-2" class="contract-price-change__desc">
      {{ contractRequestDetail.fullname }} hendak mengajukan harga sewa yang berbeda dari harga yang
      Anda tetapkan.
    </bg-text>

    <div class="contract-price-change__content">
      <div class="contract-price-change__price">
        <bg-text size="body-1">Harga di iklan kos</bg-text>
        <bg-text size="body-2">{{
          `${contractRequestDetail.original_price_label} / ${rentType}`
        }}</bg-text>
      </div>

      <bg-divider />

      <div class="contract-price-change__price">
        <bg-text size="body-1">Harga yang diajukan penyewa</bg-text>
        <bg-text size="body-2">{{
          `${contractRequestDetail.revised_price_label} / ${rentType}`
        }}</bg-text>
      </div>
    </div>

    <div class="contract-price-change__footer">
      <bg-text :italic="true" size="body-4" class="contract-price-change__warning-text">
        Harga yang Anda setujui tidak mengubah harga pada tampilan iklan Anda.
      </bg-text>

      <div class="contract-price-change__buttons">
        <bg-button @click="toggleModalRevisedPrice(true)" size="lg">Tidak Setuju</bg-button>
        <bg-button @click="$emit('next')" size="lg" variant="primary">
          Setuju
        </bg-button>
      </div>
    </div>

    <bg-toast v-model="isShowAcceptToast" :duration="5">
      {{ acceptFailedMessage }}
    </bg-toast>

    <reject-revised-price-modal
      :value="isModalRejectRevisedPrice"
      :tenant-name="contractRequestDetail.fullname"
      @toggle="toggleModalRevisedPrice"
      @confirm="onAcceptContract(acceptParams)"
    />
  </div>
</template>

<script>
import { mapState } from 'vuex';
import { BgButton, BgDivider, BgText, BgToast } from 'bangul-vue';
import RejectRevisedPriceModal from '../RejectRevisedPriceModal';
import acceptMixin from '../../../contract-request/mixins/accept';

export default {
  name: 'CustomPrice',

  components: {
    BgButton,
    BgDivider,
    BgText,
    BgToast,
    RejectRevisedPriceModal,
  },

  mixins: [acceptMixin],

  computed: {
    ...mapState('contract', ['contractRequestDetail', 'accept']),
    rentType() {
      const rentCountInID = {
        day: 'Hari',
        week: 'Minggu',
        month: 'Bulan',
        '3_month': '3 Bulan',
        '6_month': '6 Bulan',
        year: 'Tahun',
      };

      return rentCountInID[this.contractRequestDetail.rent_count_type];
    },
    acceptParams() {
      const params = {
        contractId: this.contractRequestDetail.id,
        requestProps: {
          from: 'Detail Tenant',
          price_type: 'original',
        },
      };

      if (this.accept.selectedRoom !== 0) {
        params.requestProps.designer_room_id = this.accept.selectedRoom;
      }

      return params;
    },
  },
};
</script>

<style lang="scss" src="./CustomPrice.scss"></style>
