.contract-price-change {
  position: relative;
  max-width: 425px;
  min-height: 70vh;
  padding: 0;
  margin: 0 auto;

  @media (max-width: 767px) {
    height: 100%;
    margin-top: 30px;
    box-shadow: none;
  }

  &__desc {
    padding-right: 8px;
    margin: 30px 0;

    @media (max-width: 767px) {
      padding-right: 0;
      margin: 35px 0;
    }
  }

  &__content {
    padding: 0 8px;
  }

  &__price {
    margin: 15px 0;
  }

  &__warning-text {
    margin-bottom: 5px;
    color: #da3438;
  }

  &__footer {
    position: absolute;
    bottom: -8px;
    left: -8px;
    width: calc(100% + 16px);
    padding: 15px;
    border-top: 1px #e8e8e8 solid;

    @media (max-width: 767px) {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
    }
  }

  &__buttons {
    display: flex;

    /* stylelint-disable-next-line */
    button {
      width: 100%;
      margin: 5px;
    }
  }
}
