<template>
  <div class="bm-pagination">
    <b-pagination
      v-if="total >= 1 && total >= limit && !paginationLoading"
      :total="total"
      :current="pageNumber"
      :range-before="rangeBefore"
      :range-after="rangeAfter"
      :order="order"
      :size="size"
      :simple="isSimple"
      :rounded="isRounded"
      :per-page="limit"
      :icon-prev="prevIcon"
      :icon-next="nextIcon"
      @change="goTo"
      aria-next-label="Next page"
      aria-previous-label="Previous page"
      aria-page-label="Page"
      aria-current-label="Current page"
      class="pagination"
    >
    </b-pagination>
  </div>
</template>

<script>
import billing from '~/components/page-features/kelola-tagihan/mixins/billing';

export default {
  mixins: [billing],

  data() {
    return {
      rangeBefore: 3,
      rangeAfter: 1,
      order: 'is-centered',
      size: '',
      isSimple: false,
      isRounded: false,
      prevIcon: 'chevron-left',
      nextIcon: 'chevron-right',
    };
  },

  computed: {
    total() {
      return this.$store.state.billingManagement.pagination.totalData;
    },
    limit() {
      return this.$store.state.billingManagement.pagination.limit;
    },
    pageNumber() {
      return this.$store.state.billingManagement.pagination.pageNumber;
    },
    page() {
      return this.$route.query.page;
    },
    paginationLoading() {
      return this.$store.state.billingManagement.pagination.isLoading;
    },
  },

  watch: {
    $route(to, from) {
      this.current = 1;
    },
  },

  methods: {
    goTo(pageNumber) {
      this.getBillListInvoices({
        invoiceStatus: this.page,
        pageNumber,
      });
    },
  },
};
</script>

<style lang="scss" src="./BillingManagementPagination.scss" scoped></style>
