.bm-pagination {
  width: 314px;
  margin: 0 auto;
  margin-top: 47px;
  margin-bottom: 31px;

  @media (max-width: 480px) {
    width: 253px;
  }

  ::v-deep .pagination {
    .pagination-link {
      &.is-current {
        background-color: #1baa56;
        border-color: #1baa56;
        color: #fff;
      }

      &:focus {
        border-color: #1baa56;
      }
    }
  }
}
