.select-room {
  width: 100%;
  padding-top: 40px;
  margin: 0 auto;

  &__content {
    padding: 0 12px 72px;
  }

  &__room-available {
    margin: 16px 0;
    color: #000;
    text-align: right;
  }

  &__room-other-link {
    margin: 26px auto 16px;
    text-align: center;
  }

  &__footer {
    position: fixed;
    bottom: 0;
    left: 50%;
    z-index: 1;
    width: 100%;
    max-width: 376px;
    padding: 12px 16px;
    background-color: #fff;
    transform: translateX(-50%);
  }

  &__room-loader {
    width: 48px;
    height: 48px;
    border-width: 4px;
  }

  $this: &;

  ::v-deep {
    #{$this}__toast {
      position: absolute;
      bottom: 72px;
      left: 50%;
      transform: translateX(-50%);

      /* stylelint-disable-next-line selector-max-compound-selectors */
      button {
        padding: 0;
        color: #ec4a0c;
      }
    }
  }

  @media (max-width: 768px) {
    padding-top: 26px;

    &__content {
      padding: 0 0 72px;
    }

    &__footer {
      max-width: 100%;
      border-top: 1px solid #e8e8e8;
    }
  }
}
