<template>
  <div class="select-room">
    <div class="select-room__content">
      <search-input v-model="searchText" :disabled="isAccepting || isLoading" />
      <bg-text class="select-room__room-available" size="body-4">
        Sisa {{ roomAvailable }} Kamar
      </bg-text>
      <div class="select-room__room-container">
        <div v-if="isLoading" class="c-loader select-room__room-loader" />
        <room-list
          v-else-if="searchedRoom && searchedRoom.length > 0"
          v-model="roomSelected"
          :options="searchedRoom"
          :disabled="isAccepting"
          @disabled-clicked="isShowToast = true"
        />
        <bg-empty-state
          v-else-if="!roomList || roomList.length === 0"
          class="select-room__room-empty"
          illustration-name="kos-not-found"
          illustration-alt="room empty"
          title="Daftar kamar tidak ditemukan"
          description="Tambahkan kamar Kos Anda ke dalam daftar untuk melanjutkan"
        />
        <bg-empty-state
          v-else
          class="select-room__room-not-found"
          illustration-name="kos-not-found"
          illustration-alt="room not found"
          title="Nomor kamar tidak ditemukan"
          description="Pastikan nomor kamar sesuai"
        />
        <div class="select-room__room-other-link">
          <bg-link :to="editRoomPath" tag="router-link" variant="medium-naked">
            <b>Tidak ada di daftar? Tambah di sini</b>
          </bg-link>
        </div>
      </div>
    </div>
    <div class="select-room__footer">
      <bg-toast
        v-model="isShowToast"
        @click="goToEditRoomPage"
        :duration="5"
        action-text="UBAH"
        class="select-room__toast"
      >
        Kamar telah terisi di sistem kami
      </bg-toast>
      <bg-button
        :disabled="!roomSelected"
        :loading="isAccepting"
        @click="saveSelectedRoom"
        variant="primary"
        size="lg"
        block
      >
        Simpan
      </bg-button>
    </div>
  </div>
</template>

<script>
import _get from 'lodash/get';
import _filter from 'lodash/filter';
import { mapState, mapMutations } from 'vuex';
import { BgText, BgLink, BgToast, BgButton, BgEmptyState } from 'bangul-vue';
import SearchInput from './components/SearchInput';
import RoomList from './components/RoomList';

const generateAcceptStates = (states) => {
  const generatedStates = {};
  states.forEach((key) => {
    generatedStates[key] = (state) => state.accept[key];
  });
  return generatedStates;
};

export default {
  name: 'SelectRoom',
  components: {
    BgText,
    BgLink,
    BgToast,
    BgButton,
    BgEmptyState,
    SearchInput,
    RoomList,
  },
  data() {
    return {
      searchText: '',
      isShowToast: false,
      isLoading: false,
    };
  },
  computed: {
    ...mapState(
      'contract',
      generateAcceptStates([
        'roomList',
        'isLoadedRoomList',
        'roomAvailable',
        'selectedRoom',
        'isAccepting',
      ]),
    ),

    ...mapState('contract', ['contractRequestDetail']),

    searchedRoom() {
      return _filter(this.roomList, (room) =>
        `${room.name} ${room.floor}`.toLowerCase().includes(this.searchText.toLowerCase()),
      );
    },
    editRoomPath() {
      return `/kos/rooms/${this.kosId}/edit`;
    },
    roomSelected: {
      get() {
        return this.selectedRoom;
      },
      set(designerRoomId) {
        this.setSelectedRoom(designerRoomId);
      },
    },
    kosId() {
      return _get(this.contractRequestDetail, 'room._id', 0);
    },
  },
  created() {
    if (!this.isLoadedRoomList) {
      this.getRooms();
    }
  },
  methods: {
    ...mapMutations('contract', [
      'setRoomList',
      'setLoadedRoomList',
      'setRoomAvailable',
      'setSelectedRoom',
    ]),
    goToEditRoomPage() {
      this.$router.push(this.editRoomPath);
    },
    saveSelectedRoom() {
      this.$emit('next');
    },
    async getRooms() {
      this.isLoading = true;
      try {
        const response = await this.$api.getRoomAllotment(this.kosId, { from: 'add' });
        const responseStatus = _get(response, 'data.status', false);

        if (responseStatus) {
          this.setRoomList(_get(response, 'data.data.units') || []);
          this.setRoomAvailable(_get(response, 'data.data.room_available', 0));
          this.setLoadedRoomList(true);
        } else {
          this.setLoadedRoomList(false);
        }

        this.isLoading = false;
      } catch (error) {
        this.setLoadedRoomList(false);
        this.$bugsnag.notify(error);
        this.$alert('is-danger', 'Gagal', 'Terjadi galat, silakan coba lagi.');
        this.isLoading = false;
      }
    },
  },
};
</script>

<style lang="scss" src="./SelectRoom.scss" scoped></style>
