<template>
  <div v-if="availableSurvey && historyCloseAction">
    <div class="c-main">
      <bg-card variant="shadow" size="sm" class="c-main__card">
        <div class="c-wrapper">
          <bg-illustration name="review" alt="review" width="100" class="c-wrapper__card" />
          <div class="l-right">
            <div class="l-right__content">
              <div class="l-right__title">Beritahu kami kesan Anda tentang GoldPlus</div>
              <div @click="closeCard">
                <bg-icon name="close" size="sm" class="l-right__icon" />
              </div>
            </div>
            <bg-link @click="gotoSurvey" variant="medium-naked" class="l-right__link"
              >Isi Sekarang</bg-link
            >
          </div>
        </div>
      </bg-card>
    </div>
  </div>
</template>

<script>
import { mapMutations, mapGetters } from 'vuex';
import { BgCard, BgIllustration, BgLink, BgIcon } from 'bangul-vue';
export default {
  components: {
    BgCard,
    BgIcon,
    BgLink,
    BgIllustration,
  },
  data() {
    return {
      availableSurvey: false,
      historyCloseAction: false,
      trackerGpStatus: '',
    };
  },
  computed: {
    ...mapGetters('statistic', ['storeWidgetSurvey', 'storeSurveyWidgetGP']),
  },

  created() {
    this.isDataReadyOnStore();
    this.isCardAvailableToDsiplay();
  },

  methods: {
    ...mapMutations('statistic', ['setStoreWidgetData', 'setTrackerRedirection']),
    isDataReadyOnStore() {
      if (this.storeWidgetSurvey) {
        this.checkSubmitStatus();
        this.availableSurvey = this.storeSurveyWidgetGP;
        this.trackerGpStatus = this.storeWidgetSurvey.gp_package;
      } else {
        this.getWidgetStatus();
      }
    },

    isCardAvailableToDsiplay() {
      const currentDate = this.$dayjs().get('date');
      const historyCloseDate = localStorage.getItem('closeWidgetHistory');
      const intervalDate = currentDate - historyCloseDate;
      if (intervalDate !== 0) {
        this.historyCloseAction = true;
      } else {
        this.historyCloseAction = false;
      }
    },

    setExpiredVisibilityCard() {
      localStorage.setItem('closeWidgetHistory', this.$dayjs().get('date'));
    },

    checkSubmitStatus() {
      this.$api.getWidgetUnsubscribeStatus().then((response) => {
        if (response.data.data.exit_gp_survey.is_visible) {
          this.availableSurvey = true;
        } else {
          this.availableSurvey = false;
        }
      });
    },

    closeCard() {
      this.availableSurvey = false;
      this.setExpiredVisibilityCard();
    },

    gotoSurvey() {
      this.setTrackerRedirection('ownerDashboard');
      this.$router.push({
        path: `/exit-gp-survey?gp_package=${this.trackerGpStatus}`,
      });
    },

    getWidgetStatus() {
      this.$api.getWidgetUnsubscribeStatus().then((response) => {
        this.setStoreWidgetData(response.data.data);
        if (response.data.data.exit_gp_survey.is_visible) {
          this.availableSurvey = true;
          this.trackerGpStatus = response.data.data.exit_gp_survey.gp_package;
        }
      });
    },
  },
};
</script>

<style lang="scss" scoped src="./GoldPlusSurveyCard.scss"></style>
