.c-main {
  max-width: 342px;
  max-height: 108px;
  margin: 0 auto 24px;

  &__card {
    border-radius: 8px;
  }
}

.c-wrapper {
  display: flex;
  max-width: 310px;
  height: 76px;
}

.l-right {
  width: 100%;
  &__content {
    display: flex;
    margin-bottom: 4px;
    justify-content: space-between;
  }

  &__title {
    width: 168px;
    font-size: 16px;
    font-style: normal;
    font-weight: bold;
    line-height: 24px;
    color: #303030;
  }
  &__link {
    font-size: 14px;
    font-style: normal;
    font-weight: bold;
    line-height: 24px;
  }

  &__icon {
    z-index: 55 !important;
    cursor: pointer;
    @media (min-width: 1280px) and (max-width: 1290px) {
      position: relative;
      right: 12px;
    }
  }
}
