.c-wrapper {
  display: flex;
  width: 880px;
  margin: 40px auto 0;
}

.c-navigation {
  display: flex;
}
::v-deep .bg-c-link--medium-naked {
  font-weight: bold;
  line-height: 24px;
}

.desktop-left {
  width: 492px;
  height: 364px;
}

.desktop-right {
  width: 492px;
  height: 298;
}

.c-illustration {
  @media (min-width: 1280px) {
    width: 477px;
    height: 362px;
    padding: 0;
    margin: auto;
  }
  width: 256px;
  height: 193px;
  margin: 44px auto 18px;
}

::v-deep .bg-c-illustration {
  width: 100%;
  height: 100%;
}

.c-title {
  @media (min-width: 1280px) {
    width: 285px;
    height: auto;
    margin: 64px 0 0 28px;
  }
  width: 328px;
  height: 40px;
  margin: 0 auto;
  text-align: center;
  &__content {
    @media (min-width: 1280px) {
      font-size: 48px;
      line-height: 60px;
    }
    font-family: Lato;
    font-size: 32px;
    font-style: normal;
    font-weight: 900;
    line-height: 40px;
    color: #303030;
  }
}

.c-subtitle {
  @media (min-width: 1280px) {
    width: 285px;
    height: 150px;
    margin: 8px 0 0 28px;
  }
  width: 328px;
  height: 72px;
  margin: 8px auto;
  text-align: center;
  &__content {
    @media (min-width: 1280px) {
      font-size: 20px;
      line-height: 30px;
      text-align: left;
    }
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    line-height: 24px;
    color: #404040;
    text-align: center;
  }
}

hr {
  margin: 0;
}
.c-line {
  position: fixed;
  right: 0;
  bottom: 72px;
  left: 0;
  width: 100%;
  height: 1px;
  margin: 15 0;
  background: #e8e8e8;
}

.c-button {
  @media (min-width: 1280px) {
    position: relative;
    bottom: 0;
    width: 285px;
  }

  &__mobile {
    position: fixed;
    right: 0;
    bottom: 16px;
    left: 0;
  }

  &__content {
    @media (min-width: 1280px) {
      width: 180px;
      margin: 32px 0 0 28px;
    }
    width: 328px;
    margin-right: auto;
    margin-left: auto;
  }

  &__mobile {
    
  }
}
