<template>
  <div>
    <div v-if="isDesktop" class="c-wrapper">
      <div @click="prevPage" class="c-navigation">
        <bg-link variant="medium-naked">Kembali</bg-link>
      </div>
    </div>
    <div :class="{ 'c-wrapper': isDesktop }">
      <div :class="{ 'desktop-left': isDesktop }">
        <div class="c-illustration">
          <bg-illustration name="review-successfully-provided" alt="review-successfully" />
        </div>
      </div>
      <div :class="{ 'desktop-right': isDesktop }">
        <div class="c-title">
          <h1 class="c-title__content">Terima Kasih</h1>
        </div>
        <div class="c-subtitle">
          <h1 class="c-subtitle__content">
            Masukan Anda telah kami terima. Semoga sukses dan jangan ragu untuk menghubungi kami di
            masa depan
          </h1>
        </div>
        <hr v-if="!isDesktop" class="c-line " />
        <div :class="{ 'c-button__mobile': !isDesktop }" class="c-button">
          <div class="c-button__content">
            <bg-button @click="gotoDashboard" variant="primary" size="lg" block>Tutup</bg-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex';
import { BgIllustration, BgButton, BgLink } from 'bangul-vue';
export default {
  name: 'ThanksToSurvey',
  components: {
    BgLink,
    BgButton,
    BgIllustration,
  },

  computed: {
    isDesktop() {
      return this.$device.isDesktop;
    },

    ...mapState('survey', ['surveyPreviousPath']),
  },

  methods: {
    gotoDashboard() {
      this.$router.push({ path: '/' });
    },

    prevPage() {
      if (this.surveyPreviousPath.prevPath) {
        this.$router.push({ name: this.surveyPreviousPath.prevPath.name });
      } else {
        this.$router.push({ path: '/exit-gp-survey/feedback' });
      }
    },
  },
};
</script>

<style lang="scss" src="./thanksSurvey.scss" scoped></style>
