<template>
  <div class="gift-history">
    <div class="gift-history__header">
      <b-button
        :class="{ '--active': target === 'all' }"
        @click="setTarget('all')"
        class="toggle-button"
        small
        rounded
      >
        Semua
      </b-button>
      <b-button
        :class="{ '--active': target === 'onprocess' }"
        @click="setTarget('onprocess')"
        class="toggle-button"
        small
        rounded
      >
        Sedang diproses
      </b-button>
      <b-button
        :class="{ '--active': target === 'success' }"
        @click="setTarget('success')"
        class="toggle-button"
        small
        rounded
      >
        Berhasil diterima
      </b-button>
      <b-button
        :class="{ '--active': target === 'failed' }"
        @click="setTarget('failed')"
        class="toggle-button"
        rounded
      >
        Penukaran gagal
      </b-button>
    </div>
    <div class="gift-history__content">
      <div v-if="isLoading" class="gift-history__loader">
        <div class="c-loader" />
      </div>
      <div v-else>
        <div v-if="redeems.length" class="content-redeem">
          <div class="content-redeem__list">
            <ul class="redeem-list">
              <li v-for="(redeem, idx) in redeems" :key="'redeem' + idx" class="redeem-list__item">
                <gift-card :redeem="redeem" />
              </li>
            </ul>
          </div>
        </div>
        <div v-else class="content-placeholder">
          <mamipoin-placeholder
            image="empty-rewards-placeholder"
            title="Belum Ada Hadiah"
            desc="Anda dapat melihat seluruh hadiah Anda di sini"
          />
        </div>
      </div>

      <div v-if="redeems.length" class="content-redeem__footer">
        <mamipoin-pagination
          v-model="pagination.page"
          :is-loading="isLoading"
          :has-next="pagination.hasNext"
          :limit="pagination.limit"
          :total="pagination.total"
          :total-pages="pagination.totalPages"
          class="content-pagination"
        />
      </div>
    </div>
  </div>
</template>

<script>
import MamipoinPagination from '../MamipoinPagination';
import MamipoinPlaceholder from '../MamipoinPlaceholder';
import GiftCard from '../GiftCard';

export default {
  name: 'GiftHistory',
  components: {
    GiftCard,
    MamipoinPagination,
    MamipoinPlaceholder,
  },
  model: {
    prop: 'value',
    event: 'update',
  },
  data() {
    return {
      isLoading: false,
      selectedRedeemId: '',
      redeems: [],
      target: 'all',
      pagination: {
        page: 1,
        limit: 8,
        hasNext: false,
        total: 10,
        totalPages: 1,
      },
    };
  },
  computed: {
    isDesktop() {
      return this.$device.isDesktop;
    },
  },
  watch: {
    'pagination.page'() {
      this.fetchRedeemList(this.target);
    },
    target(val) {
      this.fetchRedeemList(val);
    },
    isLoading(val) {
      this.$emit('update', val);
    },
  },
  created() {
    this.pagination.limit = this.isDesktop ? 8 : 4;
    this.fetchRedeemList('all');
  },
  methods: {
    setTarget(target = 'all') {
      this.isLoading = false;
      this.target = target;
      this.pagination.page = 1;
    },
    fetchRedeemList(target = 'all') {
      if (!this.isLoading) {
        this.isLoading = true;
        const { page, limit } = this.pagination;
        this.$api
          .getRedeemList({ params: { target, limit, page } })
          .then((response) => {
            if (response.data.status) {
              const redeemDictionary = {
                redeemed: {
                  className: 'onprocess',
                  icon: 'clock',
                  iconClassName: '--reversed',
                  text: 'Sedang Diproses',
                },
                onprocess: {
                  className: 'onprocess',
                  icon: 'clock',
                  iconClassName: '--reversed',
                  text: 'Sedang Diproses',
                },
                success: {
                  className: 'success',
                  icon: 'check-circle',
                  text: 'Berhasil Diterima',
                },
                failed: {
                  className: 'failed',
                  icon: 'close-circle',
                  text: 'Penukaran Gagal',
                },
                waiting: {
                  className: 'onprocess',
                  icon: 'clock',
                  iconClassName: '--reversed',
                  text: 'Sedang Diproses',
                },
                default: {
                  className: 'default',
                  icon: 'clock',
                  iconClassName: '--reversed',
                  text: 'Sedang Diproses',
                },
              };
              const redeems = response.data.data || [];
              this.redeems = redeems.map((redeem) => {
                const { status = 'redeemed' } = redeem;

                return {
                  ...redeem,
                  ...{
                    displayStatus: redeemDictionary[status].text,
                    displayIcon: redeemDictionary[status].icon,
                    displayIconClassName: redeemDictionary[status].iconClassName,
                    className: `--${redeemDictionary[status].className}`,
                  },
                };
              });

              this.pagination = {
                ...this.pagination,
                ...{
                  page: parseInt(response.data.current_page || 0),
                  hasNext: Boolean(response.data.has_next),
                  totalPages: parseInt(response.data.total_pages || 0),
                  total: parseInt(response.data.total_pages || 0) * limit,
                },
              };
            }
            this.isLoading = false;
          })
          .catch(() => {
            this.isLoading = false;
          });
      }
    },
  },
};
</script>

<style lang="scss" scoped src="./GiftHistory.scss"></style>
