.gift-history {
  &__loader {
    margin: 60px 0;

    .c-loader {
      width: 40px;
      height: 40px;
    }
  }

  &__header {
    display: flex;
    overflow-x: auto;
    overflow-x: -moz-scrollbars-none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
      display: none;
    }

    .toggle-button {
      font-size: 14px;
      word-break: break-word;

      + .toggle-button {
        margin-left: 10px;
      }

      &.--active {
        color: #fff;
        background-color: #1baa56;
        border-color: transparent;
      }
    }
  }

  &__content {
    margin: 20px 0 60px;
  }
}

.redeem-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 30px;

  @media (max-width: 480px) {
    margin-top: 20px;
  }

  &__item {
    width: calc(50% - 15px);
    padding: 2px;
    margin-bottom: 10px;
    overflow: hidden;

    &:nth-of-type(odd) {
      margin-right: 15px;
    }

    &:nth-of-type(even) {
      margin-left: 15px;
    }

    @media (max-width: 480px) {
      width: 100%;
      margin: 0 0 10px;

      &:nth-of-type(odd) {
        margin-right: 0;
      }

      &:nth-of-type(even) {
        margin-left: 0;
      }
    }
  }
}
