<template>
  <div class="finance-report">
    <bg-text size="heading-2">Laporan Keuangan</bg-text>
    <finance-page />
  </div>
</template>

<script>
import { BgText } from 'bangul-vue';
import FinancePage from '~/components/page-features/finance-report/components/FinancePage';

export default {
  components: {
    BgText,
    FinancePage,
  },
};
</script>
