<template>
  <b-notification
    :active="isShown"
    :closable="false"
    :type="type"
    :class="`--${type}`"
    class="c-mk-alert"
    has-icon
  >
    <div class="c-mk-alert__content">
      <b-icon
        v-if="closable"
        @click.native="closeAlert"
        icon="close"
        class="c-mk-alert__close-icon"
      />
      <h3 v-if="title.length" class="c-mk-alert__title">
        {{ title }}
      </h3>
      <p class="c-mk-alert__message">
        {{ message }}
      </p>
    </div>
  </b-notification>
</template>

<script>
export default {
  name: 'MkAlert',
  props: {
    /**
     * Type of alert.
     * Using the same alert type values from b-notification component.
     * 'is-info', 'is-success', 'is-warning', 'is-danger'
     *
     * Note: the style is currently configured for 'is-info' type only.
     * Please add another type styling you need on the SCSS file.
     */
    type: {
      type: String,
      default: '',
    },
    /**
     * Boolean value whether the alert is closable or not.
     */
    closable: {
      type: Boolean,
      default: true,
    },
    /**
     * Boolean value whether to show the alert or not.
     */
    isShown: {
      type: Boolean,
      required: true,
    },
    /**
     * Optional message title to be displayed on the alert.
     */
    title: {
      type: String,
      default: '',
    },
    /**
     * Message body to be displayed on the alert.
     */
    message: {
      type: String,
      required: true,
    },
  },
  methods: {
    closeAlert() {
      this.$emit('update:isShown', false);
      this.$emit('closed');
    },
  },
};
</script>

<style lang="scss" src="./MkAlert.scss" scoped></style>
