/* stylelint-disable primer/no-unused-vars */
$types: (
  'is-info': (
    color: #0074db,
    backgroundColor: #f1f7ff,
    iconColor: #0074db,
    titleColor: #142e63,
  ),
);

.c-mk-alert {
  padding: 14px 18px;

  @each $type, $states in $types {
    &.--#{$type} {
      color: map-get($states, 'color');
      background-color: map-get($states, 'backgroundColor');

      ::v-deep {
        /* stylelint-disable max-nesting-depth */
        .mdi-48px.mdi::before {
          font-size: 26px;
          color: map-get($states, 'iconColor');
        }

        .icon.is-large {
          width: 26px;
          height: 26px;
        }
      }
    }
  }

  &__content {
    position: relative;
  }

  &__close-icon {
    position: absolute;
    top: 0;
    right: 0;
  }

  &__title {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;

    @each $type, $states in $types {
      .--#{$type} & {
        color: map-get($states, 'titleColor');
      }
    }
  }

  &__message {
    margin-top: 6px;
    font-size: 14px;
    line-height: 20px;
  }
}
