<template>
  <mk-modal v-if="isShow" v-model="active">
    <div class="premium-trial-modal">
      <b-icon
        @click.native="handleCloseButtonClicked"
        class="premium-trial-modal__close"
        icon="close"
      ></b-icon>
      <img
        src="~assets/images/layouts/default/premium-trial-modal.png"
        class="premium-trial-modal__image"
        alt="trial_premium"
        title="Premium"
      />
      <div>
        <div class="premium-trial-modal__title">Selamat!</div>
        <div class="premium-trial-modal__caption">
          Iklan Anda berada di atas dengan
          <span class="has-text-weight-semibold">PREMIUM GRATIS</span>
        </div>
      </div>
      <mk-button
        @clicked="handleOkClicked"
        :has-spinner="isSendingData"
        class="premium-trial-modal__ok-button"
      >
        OK
      </mk-button>
    </div>
  </mk-modal>
</template>

<script>
import Cookies from 'js-cookie';
import MkModal, { mixin as modalMixin } from '~/components/global/molecules/MkModal/MkModal';
import MkButton from '~/components/global/atoms/MkButton';

export default {
  name: 'ModalPremiumTrial',
  components: {
    MkModal,
    MkButton,
  },
  mixins: [modalMixin],
  data() {
    return {
      isSendingData: false,
      isShow: true,
    };
  },
  methods: {
    async handleOkClicked() {
      this.isSendingData = true;
      const res = await this.$api.postPremiumTrial();
      if (res.data.status) {
        window.location.reload();
        this.isShow = false;
      } else {
        this.isShow = false;
        await this.$alert('is-danger', 'Gagal!', res.data.message);
      }
      this.isSendingData = false;
      this.toggleModal(false);
    },
    handleCloseButtonClicked() {
      this.toggleModal(false);
      this.isShow = false;
      Cookies.set('pop-up-trial', '', { expires: 2, domain: 'mamikos.com' });
    },
  },
};
</script>

<style lang="scss" src="./ModalPremiumTrial.scss" scoped></style>
