.premium-trial-modal {
  position: relative;
  max-width: 300px;
  padding: 30px;
  background-color: #f09819;
  background-image: none;
  background-image: linear-gradient(#f09819, #ff5858);
  border-radius: 6px;

  &__close {
    position: absolute;
    top: -10px;
    right: 0;
    width: 30px;
    height: 30px;
    margin-right: -10px;
    margin-bottom: -15px;
    color: #000;
    cursor: pointer;
    background-color: #ff6e6e;
    border: 2px solid #fff;
    border-radius: 15px;

    .mdi-24px.mdi-set,
    .mdi-24px.mdi::before {
      font-size: 16px;
      font-weight: bold;
    }
  }

  &__title {
    font-size: 25px;
    font-weight: bold;
    color: #fff;
    text-align: center;
  }

  &__caption {
    margin-bottom: 15px;
    font-size: 16px;
    color: #fff;
    text-align: center;
  }

  &__ok-button:enabled {
    display: block;
    width: 130px;
    margin: auto;
    font-size: 14px;
    font-weight: bold;
    color: #ec4a0c;
    background-color: #fff;
    border-color: #fafafa;
    box-shadow: 0 5px 20px 3px #db5347;

    &:hover:enabled {
      color: #ec4a0c;
    }
  }
}
