.c-wrapper {
  display: flex;
  width: 880px;
  margin: 40px auto 0;
}

.c-navigation {
  display: flex;
}

::v-deep .bg-c-link--medium-naked {
  font-weight: bold;
  line-height: 24px;
}

.desktop-content {
  margin: 24px auto 0;
}

.desktop-left {
  width: 389px;
  height: 288px;
}

::v-deep .bg-c-illustration {
  width: 100%;
  height: 100%;
}

.c-illustration {
  @media (min-width: 1280px) {
    width: 318px;
    height: 244px;
    margin: auto;
  }
  width: 256px;
  height: 193px;
  margin: 44px auto 18px;
}

.c-title {
  @media (min-width: 1280px) {
    width: 388px;
    height: 80px;
    margin: 64px auto 0;
  }
  width: 328px;
  height: 40px;
  margin: 0 auto;
  text-align: center;
  &__content {
    @media (min-width: 1280px) {
      font-size: 32px;
      font-weight: 900;
      line-height: 40px;
    }
    font-family: Lato;
    font-size: 28px;
    font-style: normal;
    font-weight: 900;
    line-height: 36px;
    color: #303030;
    text-align: center;
  }
}

hr {
  margin: 0;
}
.c-bottom-line {
  position: fixed;
  right: 0;
  bottom: 72px;
  left: 0;
  width: 100%;
  height: 1px;
  margin: 15 0;
  background: #e8e8e8;
}

.c-button {
  @media (min-width: 1280px) {
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
  }

  position: fixed;
  right: 0;
  bottom: 16px;
  left: 0;

  &__content {
    @media (min-width: 1280px) {
      width: 392px;
      margin: 32px auto 0;
    }
    display: flex;
    width: 328px;
    margin-right: auto;
    margin-left: auto;
  }
}

.b-exit {
  margin-right: 8px;
}

.b-select {
  margin-left: 8px;
}
