<template>
  <div>
    <div v-if="isDesktop" class="c-wrapper">
      <div @click="prevPage" class="c-navigation">
        <bg-link variant="medium-naked">Kembali</bg-link>
      </div>
    </div>

    <div :class="{ 'c-wrapper desktop-content': isDesktop }">
      <div :class="{ 'desktop-left': isDesktop }">
        <div class="c-illustration">
          <bg-illustration name="mamikos-package" alt="mamikos-package" width="256" height="193" />
        </div>
      </div>
      <div :class="{ 'desktop-right': isDesktop }">
        <div class="c-title">
          <h1 class="c-title__content">Ada paket-paket lain yang gak kalah oke nih. Tertarik?</h1>
        </div>
        <hr v-if="!isDesktop" class="c-bottom-line " />
        <div class="c-button">
          <div class="c-button__content">
            <bg-button @click="closeSurvey" variant="tertiary" size="lg" block class="b-exit"
              >Keluar</bg-button
            >
            <bg-button @click="gotoGpPackages" variant="primary" size="lg" block class="b-select"
              >Lihat Paket</bg-button
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { BgIllustration, BgButton, BgLink } from 'bangul-vue';
export default {
  name: 'OffersGpPacket',
  components: {
    BgLink,
    BgButton,
    BgIllustration,
  },
  computed: {
    isDesktop() {
      return this.$device.isDesktop;
    },
  },
  methods: {
    prevPage() {
      this.$router.push({ path: '/exit-gp-survey/feedback' });
    },

    closeSurvey() {
      this.$store.commit('survey/setSurveyPreviousPath', {
        prevPath: {
          name: 'change-packet',
          path: 'exit-gp-survey/offers',
        },
      });
      this.$router.push({ path: '/exit-gp-survey/close' });
    },
    gotoGpPackages() {
      this.$router.push({ path: '/goldplus/submission/packages' });
    },
  },
};
</script>

<style lang="scss" src="./offers.scss" scoped></style>
