.c-mk-number-counter {
  display: inline-block;
  font-size: 24px;
  font-style: normal;
  font-weight: bold;
  line-height: 36px;
  text-align: center;
  vertical-align: middle;
  width: 25px;

  &--error {
    color: #fa6155;
  }

  &--default {
    color: #949494;
  }

  &--success {
    color: #1baa56;
  }

  &--dark {
    color: #4a4a4a;
  }
}
