<template>
  <span :class="classes" class="c-mk-number-counter">
    {{ formattedCounter }}
  </span>
</template>

<script>
export default {
  name: 'MkNumberCounter',
  props: {
    /**
     * The label background color
     * warning, success, error, default
     * Please add another option if you need
     */
    type: {
      type: String,
      validator: (type) => {
        return ['error', 'success', 'dark', 'default'].includes(type);
      },
      default: 'default',
    },
    number: {
      type: Number,
      default: 0,
    },
    limit: {
      type: Number,
      default: 0,
    },
    /**
     * Boolean value whether to display the number as 'n+' if its digit value exceeding the set limit.
     * true, false
     */
    isNumberFormatted: {
      type: Boolean,
      default: true,
    },
  },
  computed: {
    classes() {
      return `c-mk-number-counter--${this.type}`;
    },
    formattedCounter() {
      const totalDigitNumber = this.number.toString().length;
      if (this.isNumberFormatted) {
        if (totalDigitNumber > this.limit) {
          // it's return like 9+ or 99+ etc
          return `${this.loopingText(this.limit)}+`;
        }
      }
      // it's return real number
      return this.number;
    },
  },
  methods: {
    loopingText(n) {
      let result = '';
      let i = 0;
      while (i < n) {
        result += '9';
        i++;
      }
      return result;
    },
  },
};
</script>

<style lang="scss" src="./MkNumberCounter.scss" scoped></style>
