<template>
  <div class="contract-accept-request-mobile">
    <skeleton v-if="isFetchingData" />
    <template v-else-if="currentStep">
      <navbar :right-text="stepProgressLabel" @back="addStep(-1)" is-hide-progress-bar />
      <content-title :title="currentStepTitle" is-sticky />
      <!-- eslint-disable-next-line vue/require-component-is -->
      <component :is="currentStepComponent" @next="addStep(1)" @back="addStep(-1)" />
    </template>
  </div>
</template>

<script>
import MixinSteps from '../mixins/steps';

export default {
  name: 'ContractAcceptRequestMobile',
  mixins: [MixinSteps],
};
</script>

<style lang="scss" src="./mobile.scss" scoped></style>
