<template>
  <div class="card-request">
    <bg-card class="card-request__request-box" variant="shadow">
      <div class="card-request__warning-text">
        <bg-text :italic="true" size="body-2">
          Data dari penyewa digunakan untuk membuat kontrak sewa. Pastikan isi data telah sesuai.
        </bg-text>

        <div v-if="isMobile" class="card-request__content-buttons-top">
          <bg-button @click="$emit('reject', 123)">Tolak</bg-button>
          <bg-button @click="$emit('accept', acceptParams)" variant="primary">Terima</bg-button>
        </div>
      </div>

      <bg-divider />

      <div class="card-request__content-box">
        <div class="card-request__tenant-info">
          <bg-text size="title-3" class="card-request__tenant-name">
            {{ cardDetail.fullname }}
          </bg-text>

          <div class="card-request__room-type">
            <div
              v-if="cardDetail.room_number || cardDetail.floor_number"
              class="card-request__room-number"
            >
              <bg-text v-if="cardDetail.room_number" size="body-1" class="card-request__room-name">
                {{ cardDetail.room_number }}&nbsp;
              </bg-text>
              <bg-text v-if="cardDetail.floor_number" size="body-1" class="card-request__room-name">
                {{ cardDetail.floor_number }}
              </bg-text>
            </div>

            <div v-else class="card-request__room-number">
              <bg-text size="body-1">Pilih di Tempat</bg-text>
            </div>

            <bg-label-rainbow v-if="cardDetail.is_goldplus">Goldplus</bg-label-rainbow>
          </div>

          <bg-text size="label-1">
            <router-link
              :to="{
                name: 'contract-request-detail',
                params: {
                  id: cardDetail.id,
                  source: 'contract-list',
                },
              }"
            >
              <bg-link variant="medium-naked" class="card-request__detail-link">
                Lihat Data Penyewa
              </bg-link>
            </router-link>
          </bg-text>
        </div>

        <div class="card-request__bill-info">
          <bg-text size="body-2" class="card-request__bill-label">
            {{ cardDetail.bill_label }}
          </bg-text>

          <bg-text size="body-1">
            {{ cardDetail.bill_price_label }}
          </bg-text>
        </div>

        <div v-if="!isMobile" class="card-request__content-buttons-bottom">
          <bg-button @click="$emit('reject', 123)">Tolak</bg-button>
          <bg-button @click="$emit('accept', cardDetail.id)" variant="primary">Terima</bg-button>
        </div>
      </div>
    </bg-card>
  </div>
</template>

<script>
import { BgButton, BgCard, BgDivider, BgLabelRainbow, BgLink, BgText } from 'bangul-vue';

export default {
  name: 'CardRequest',

  components: {
    BgButton,
    BgCard,
    BgDivider,
    BgLabelRainbow,
    BgLink,
    BgText,
  },

  props: {
    cardDetail: {
      type: Object,
      required: true,
    },
    kosId: {
      type: Number,
      required: true,
    },
  },

  computed: {
    acceptParams() {
      return {
        contractId: this.cardDetail.id,
        requestProps: {
          from: 'List Penyewa',
          designer_room_id: this.kosId,
          price_type: 'original',
        },
      };
    },
    isMobile() {
      return this.$device.isMobile;
    },
  },
};
</script>

<style lang="scss" src="./CardRequest.scss"></style>
