.card-request {
  &__request-box {
    padding: 0 !important;

    @media (max-width: 767px) {
      display: flex;
      flex-direction: column-reverse;
    }
    @media (min-width: 768px) {
      height: 233px;
    }
  }

  &__warning-text {
    display: flex;
    padding: 20px;
    justify-content: flex-end;
    color: #da3438;

    @media (max-width: 767px) {
      flex-direction: column;
      justify-content: flex-start;
    }
  }

  &__content-box {
    display: flex;
    padding: 20px;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 767px) {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__tenant-info {
    width: 270px;
  }

  &__tenant-name {
    max-width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__bill-info {
    @media (max-width: 767px) {
      position: relative;
      top: -30px;
      display: flex;
      justify-content: space-between;
      width: 300px;
    }
  }

  &__detail-link {
    @media (max-width: 767px) {
      position: relative;
      top: 30px;
    }
  }

  &__room-type {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 15px;
  }

  &__room-number {
    display: flex;
    margin-right: 10px;
  }

  &__room-name {
    max-width: 112px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__bill-label {
    margin-bottom: 10px;
    color: #949494;
  }

  &__content-buttons-top {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 10px;

    /* stylelint-disable-next-line */
    button {
      width: 100%;
      margin: 5px;
    }

    @media (min-width: 768px) {
      display: none;
    }
  }

  &__content-buttons-bottom {
    /* stylelint-disable-next-line */
    button {
      margin-left: 15px;
    }

    @media (max-width: 767px) {
      display: none;
    }
  }
}
