<template>
  <div class="dashboard-mobile">
    <profile-section
      :avatar="user.photo"
      :username="user.name"
      :notification="notification"
      class="dashboard-mobile__profile-section"
    />

    <membership-card></membership-card>

    <bg-grid mobile-only class="dashboard-mobile__body">
      <bg-grid-item :col="4" class="dashboard-mobile__widget-list">
        <waiting-card v-if="!isNewOwner && isShowWaitingWidget && isBbk" />
        <info-card></info-card>
        <finance-card v-if="!isNewOwner && isBbk" />
        <widget-card
          v-if="!isNewOwner"
          is-flat
          title="Penilaian Kos Anda"
          description="Anda dapat membalas ulasan dan meminta penyewa mengulas kos Anda."
        >
          <property-reviews-card />
        </widget-card>
        <manage-kos-card is-flat />
        <widget-card is-flat title="Dari Mamikos"><banner-card /></widget-card>
      </bg-grid-item>
    </bg-grid>

    <modal-update-property
      v-model="showUpdatePropertyModal"
      v-popup-order="{ name: `modalUpdateProperty`, order: 1 }"
    />
    <modal-premium-trial @closed="toggleModalPremiumTrial(false)" :active="showModalPremiumTrial" />
  </div>
</template>

<script>
import { BgGrid, BgGridItem } from 'bangul-vue';
import { mapGetters } from 'vuex';

import ProfileSection from '../components/ProfileSection';
import WidgetCard from '../components/WidgetCard';
import FinanceCard from '../components/FinanceCard';
import WaitingCard from '../components/WaitingCard';
import BannerCard from '../components/BannerCard';
import MembershipCard from '../components/MembershipCard';
import ManageKosCard from '../components/ManageKosCard';
import InfoCard from '../components/InfoCard';
import PropertyReviewsCard from '../components/PropertyReviewsCard';
import mixin from '../mixin';

export default {
  name: 'DashboardMobile',
  components: {
    FinanceCard,
    ProfileSection,
    BannerCard,
    BgGrid,
    BgGridItem,
    WidgetCard,
    WaitingCard,
    MembershipCard,
    ManageKosCard,
    InfoCard,
    PropertyReviewsCard,
  },
  mixins: [mixin],
  data() {
    return {
      // content of array ["MamipoinCard":true]
      fullLoadedComponents: [],
    };
  },
  computed: {
    ...mapGetters('profile', ['isBbk', 'isNewOwner', 'notification', 'user']),
  },

  mounted() {
    this.showPopUpOrder();
  },

  beforeDestroy() {
    this.$popupOrder && this.$popupOrder.destroy();
  },

  methods: {
    showPopUpOrder() {
      // open popup when modal init doesn't exist
      this.$nextTick(() => {
        if (
          !document.querySelector('.modal-init-exists') &&
          !document.querySelector('.modal-init-loading')
        )
          this.$popupOrder && this.$popupOrder.next();
      });
    },
  },
};
</script>

<style lang="scss" src="./mobile.scss"></style>
