.dashboard-mobile {
  &__profile-section {
    margin-bottom: 16px;
  }

  &__membership {
    padding: 8px;
  }

  &__body {
    padding: 0;
    margin-top: 24px !important;
  }

  &__widget-list {
    padding: 0 !important;

    > *:not(:last-child) {
      margin-bottom: 40px;
    }
  }
}
