.c-mk-pagination {
  &__page-info {
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: bold;
    line-height: 21px;
    color: #aaa;
    text-align: center;
  }
  &__body {
    display: flex;
    justify-content: center;
  }

  &__double-nav {
    margin: 0 8px;
    cursor: pointer;
    border: 1px solid #dadada;
    border-radius: 4px;

    @mixin fontSize() {
      ::v-deep {
        /* stylelint-disable-next-line */
        .mdi::before {
          font-size: 24px;
        }
      }
    }
    &.is-small {
      width: 27px;
      height: 27px;
      @include fontSize();
    }
    &.is-medium {
      width: 45px;
      height: 45px;
      @include fontSize();
    }

    &.--disabled {
      color: #dadada;
    }
    &:hover:not(.--disabled) {
      color: #363636;
      border-color: #b5b5b5;
    }
  }

  ::v-deep {
    .pagination-previous {
      order: 1;
      padding-right: 0;
      padding-left: 0;
    }
    .pagination-list {
      order: 2;
    }
    .pagination-next {
      order: 3;
      padding-right: 0;
      padding-left: 0;
    }
    @media screen and (max-width: 768px) {
      .pagination-previous,
      .pagination-next {
        flex-grow: unset;
        flex-shrink: unset;
      }
    }
    .level {
      justify-content: flex-end;
      position: relative;
    }
    .level-right {
      margin-right: 44px;
    }
    .is-current {
      background-color: #1baa56;
    }
    .pagination-previous[disabled],
    .pagination-next[disabled],
    .pagination-link[disabled] {
      color: #dadada;
      background-color: #fff;
      border: 1px solid #dadada;
      opacity: 1;
    }

    .icon[disabled] {
      opacity: 0.5;
    }
    /* stylelint-disable-next-line */
    li > .pagination-link:not(.next-to-current):not(.is-current) {
      display: none;
    }
  }
}
