<!--
  Use b-pagination props
-->
<template>
  <div class="c-mk-pagination">
    <div class="c-mk-pagination__page-info">Halaman {{ currentPage }} dari {{ totalPage }}</div>
    <div class="c-mk-pagination__body">
      <b-icon
        @click.native="currentPage = 1"
        :class="{ '--disabled': currentPage === 1 }"
        :size="$attrs.size"
        icon="chevron-double-left"
        class="c-mk-pagination__double-nav --left"
      />

      <b-pagination v-bind="$attrs" :current.sync="currentPage" order="is-centered">
        <template #default="{page}">
          <b-pagination-button
            :page="page"
            :class="{ 'next-to-current': Math.abs(page.number - currentPage) === 1 }"
          >
            {{ page.number }}
          </b-pagination-button>
        </template>
      </b-pagination>

      <b-icon
        @click.native="currentPage = totalPage"
        :class="{ '--disabled': currentPage === totalPage }"
        :size="$attrs.size"
        icon="chevron-double-right"
        class="c-mk-pagination__double-nav --right"
      />
    </div>
  </div>
</template>

<script>
export default {
  name: 'MkPagination',
  props: {
    current: {
      type: Number,
      required: true,
    },
  },
  computed: {
    currentPage: {
      get() {
        return this.current;
      },
      set(val) {
        this.$emit('update:current', val);
      },
    },
    totalPage() {
      return Math.ceil(this.$attrs.total / this.$attrs['per-page']);
    },
  },
};
</script>

<style lang="scss" src="./MkPagination.scss" scoped></style>
