.c-wrapper {
  max-width: 310px;
  height: 132px;
  margin: 16px;

  &__no-statistic {
    height: 84px;
  }

  &__card {
    border-radius: 8px;
  }
}

::v-deep .bg-c-card--md {
  padding: 16px;
}

.l-content {
  max-width: 264px;
  font-family: Lato;
  font-style: normal;
  &__title {
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    color: #303030;
  }

  &__periode {
    margin-top: 4px;
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    color: #404040;
  }

  &__link {
    margin-top: 4px;
    font-size: 14px;
    font-weight: bold;
    line-height: 24px;
    color: #1baa56;
  }
}
