<template>
  <div v-if="availableWidgetStatistic">
    <div
      :class="{ 'c-wrapper__no-statistic': !storeStatisticData.has_statistic }"
      class="c-wrapper"
    >
      <bg-card class="c-wrapper__card"
        ><div class="l-content">
          <div v-if="storeStatisticData.has_statistic" class="l-content__title">
            Ingin tahu efek GoldPlus ke kos Anda?
          </div>
          <div v-else class="l-content__title">Ingin tahu bisnis kos di dekat Anda?</div>
          <div v-if="storeStatisticData.has_statistic" class="l-content__periode">
            Periode: {{ formatedDate(startPeriodeGp) }} - {{ formatedDate(endPeriodeGp) }}
          </div>
          <bg-link @click="gotoStatistic" variant="medium-naked" class="l-content__link"
            >Cek Sekarang</bg-link
          >
        </div></bg-card
      >
    </div>
  </div>
</template>

<script>
import { mapGetters, mapMutations } from 'vuex';
import { BgCard, BgLink } from 'bangul-vue';
export default {
  components: {
    BgCard,
    BgLink,
  },
  data() {
    return {
      availableWidgetStatistic: false,
      startPeriodeGp: '',
      endPeriodeGp: '',
    };
  },

  computed: {
    ...mapGetters('statistic', ['storeStatisticWidgetGP', 'storeStatisticData']),

    availableStatistic() {
      return this.storeStatisticData;
    },
  },

  watch: {
    availableStatistic(statisticData) {
      if (this.storeStatisticWidgetGP) {
        this.availableWidgetStatistic = true;
        this.setInfoStatisticGP(statisticData);
      }
    },
  },

  created() {
    this.isDataReadyOnStore();
  },

  methods: {
    ...mapMutations('statistic', ['setTrackerRedirection']),

    checkPackageStatus(statusGP) {
      return statusGP === 'gp1' ? 'GoldPlus 1' : statusGP === 'gp2' ? 'GoldPlus 2' : 'GoldPlus 3';
    },

    formatedDate(Date) {
      return this.$dayjs(Date).format('DD MMM YYYY');
    },

    saveItemStatistic(name, value) {
      localStorage.setItem(name, value);
    },

    setInfoStatisticGP(infoStatistic) {
      // package status
      this.saveItemStatistic('packageStatus', this.checkPackageStatus(infoStatistic.gp_package));

      // Invoice ID
      this.saveItemStatistic('invoiceId', infoStatistic.invoice_id);

      // Expired GoldPlus
      this.saveItemStatistic('gpExpired', infoStatistic.expiry_time);

      // statisticStatus
      this.saveItemStatistic('statisticOwner', infoStatistic.has_statistic);
      this.endPeriodeGp = infoStatistic.ended_at;
      this.startPeriodeGp = infoStatistic.started_at;
    },

    gotoStatistic() {
      this.setTrackerRedirection('ownerDashboard');
      this.$router.push({
        path: `/exit-gp-statistic?started_at=${this.startPeriodeGp}&ended_at=${this.endPeriodeGp}`,
      });
    },

    isDataReadyOnStore() {
      if (this.storeStatisticData && this.storeStatisticWidgetGP) {
        this.endPeriodeGp = this.storeStatisticData.ended_at;
        this.startPeriodeGp = this.storeStatisticData.started_at;
        this.availableWidgetStatistic = true;
      }
    },
  },
};
</script>

<style lang="scss" scoped src="./GoldPlusExpiredReminder.scss"></style>
