.goldplus-room-card {
  ::v-deep {
    .c-mk-card__body {
      padding-bottom: 8px;
    }

    .c-mk-card__footer {
      border-top: unset;
    }
  }

  &__header {
    display: flex;
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    align-items: center;
  }

  &__gp-status {
    padding: 2px 8px;
    margin-right: 8px;
    background-color: #fad686;
    border-radius: 30px;
  }

  &__submission-status {
    box-sizing: border-box;
    padding: 2px 8px;
    font-size: 14px;
    color: #0052a4;
    background-color: #f1f7ff;
    border: 1px solid #dbe9ff;
    border-radius: 4px;

    &.active {
      color: #016034;
      background-color: #edf9f4;
    }
  }

  &__room-gender {
    box-sizing: border-box;
    padding: 2px 8px;
    border: 1px solid #dadada;
    border-radius: 4px;
  }

  &__body {
    display: flex;
    justify-content: space-between;

    &-left-section {
      width: 75%;
      overflow: auto;
      font-size: 16px;
      line-height: 24px;
    }
  }

  /* stylelint-disable value-no-vendor-prefix, property-no-vendor-prefix */
  &__room-title {
    display: -webkit-box;
    margin-right: 5px;
    overflow: hidden;
    font-weight: 700;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  &__room-address {
    display: -webkit-box;
    margin-top: 8px;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  &__room-image {
    width: 72px;
    height: 72px;
    border-radius: 8px;
  }

  &__room-count {
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
  }

  &__footer {
    &-link {
      display: flex;
      justify-content: space-between;

      .link-text {
        font-weight: 700;
        color: #1baa56;
        text-decoration: none;
      }
    }
  }
}
