<template>
  <mk-card class="goldplus-room-card">
    <slot name="selection-control"></slot>

    <mk-card-header class="goldplus-room-card__header">
      <div v-if="roomData.gp_status" class="goldplus-room-card__gp-status">
        {{ roomData.gp_status.value }}
      </div>
      <div v-if="shownGender" class="goldplus-room-card__room-gender">
        {{ genderType }}
      </div>
      <div
        v-if="shownSubmissionStatus"
        :class="{ active: roomData.membership_status.value === 'Aktif' }"
        class="goldplus-room-card__submission-status"
      >
        {{ roomData.membership_status.value }}
      </div>
    </mk-card-header>

    <mk-card-body class="goldplus-room-card__body">
      <div class="goldplus-room-card__body-left-section">
        <p class="goldplus-room-card__room-title">
          {{ roomData.room_title }}
        </p>
        <p class="goldplus-room-card__room-address">
          {{ roomData.address }}
        </p>
        <p class="goldplus-room-card__room-area">
          {{ roomData.area_formatted }}
        </p>
      </div>

      <div class="goldplus-room-card__body-right-section">
        <img
          v-if="roomData.photo && roomData.photo.small"
          v-lazy="roomData.photo.small"
          class="goldplus-room-card__room-image"
          alt="Foto Kos"
        />
        <p v-if="shownRoomCount" class="goldplus-room-card__room-count">
          {{ roomData.room_count }} Kamar
        </p>
      </div>
    </mk-card-body>

    <mk-card-footer class="goldplus-room-card__footer">
      <div
        v-if="!hiddenMainAction"
        @click="handleMainActionClicked(roomData.id)"
        class="goldplus-room-card__footer-link"
      >
        <a class="link-text">{{ mainActionText }}</a>
        <img
          class="link-icon"
          src="~/assets/images/ic_chevron_right_green.svg"
          alt="chevron right icon"
        />
      </div>
    </mk-card-footer>
  </mk-card>
</template>

<script>
import { mapGetters } from 'vuex';
import MkCard from '~/components/global/molecules/MkCard';
import MkCardBody from '~/components/global/molecules/MkCard/components/MkCardBody';
import MkCardHeader from '~/components/global/molecules/MkCard/components/MkCardHeader';
import MkCardFooter from '~/components/global/molecules/MkCard/components/MkCardFooter';

export default {
  name: 'GoldPlusRoomCard',
  components: {
    MkCard,
    MkCardBody,
    MkCardHeader,
    MkCardFooter,
  },
  props: {
    /**
     * Room data to display on the component
     */
    roomData: {
      type: Object,
      default() {
        return {
          id: null,
          gp_status: {
            value: null,
          },
          gender: null,
          membership_status: {
            value: null,
          },
          room_title: null,
          address: null,
          area_formatted: null,
          photo: {
            small: null,
          },
          room_count: null,
        };
      },
    },
    /**
     * Boolean value whether to show room availability or not.
     */
    shownRoomCount: {
      type: Boolean,
      default: false,
    },
    /**
     * String value to be displayed as main CTA text.
     */
    mainActionText: {
      type: String,
      default: '',
    },
    /**
     * Boolean value whether to show main CTA or not.
     */
    hiddenMainAction: {
      type: Boolean,
      default: false,
    },
    /**
     * Boolean value wheter to show gender or not
     */
    shownGender: {
      type: Boolean,
      default: false,
    },
    /**
     * Boolean value wheter to show submission status or not
     */
    shownSubmissionStatus: {
      type: Boolean,
      default: false,
    },
  },
  computed: {
    ...mapGetters('profile', ['user']),
    genderType() {
      switch (this.roomData.gender) {
        case 0:
          return 'Campur';
        case 1:
          return 'Putra';
        case 2:
          return 'Putri';
        default:
          return '';
      }
    },
  },
  methods: {
    handleMainActionClicked(id) {
      this.$emit('main-action-clicked', id);
    },
  },
};
</script>

<style lang="scss" scoped src="./GoldPlusRoomCard.scss"></style>
