<template>
  <div class="booking-register-wrapper">
    <!-- eslint-disable-next-line vue/require-component-is -->
    <component :is="steps[currentStep]" @next="next" />
  </div>
</template>

<script>
import DirectBooking from '../component/DirectBooking';
import FormDataPersonal from '../component/FormDataPersonal';

export default {
  name: 'BookingRegisterMobile',
  components: {
    /* eslint-disable vue/no-unused-components */
    DirectBooking,
    FormDataPersonal,
    /* eslint-enable */
  },
  data() {
    return {
      currentStep: 0,
      steps: ['direct-booking', 'form-data-personal'],
    };
  },
  methods: {
    next() {
      this.currentStep++;
    },
  },
};
</script>

<style lang="scss" scoped src="./mobile.scss"></style>
