.detail-tenant-info {
  &__card {
    width: 294px;
    padding: 7px;
    margin: 25px 0 10px;
  }

  &__card-image {
    width: 280px;
    height: 180px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}
