<template>
  <div class="detail-tenant-info">
    <div>
      <bg-text size="title-4">{{ contractRequestDetail.fullname }}</bg-text>
      <bg-text size="body-2">{{ contractRequestDetail.phone }}</bg-text>
      <bg-text size="body-2"> {{ contractRequestDetail.gender }}</bg-text>
      <bg-text size="body-2">{{ contractRequestDetail.job }}</bg-text>
      <bg-text size="body-2">{{ contractRequestDetail.work_place }}</bg-text>
    </div>

    <template v-if="contractRequestDetail.identity">
      <bg-card class="detail-tenant-info__card">
        <div
          v-lazy:background-image="{
            src: contractRequestDetail.identity.medium,
          }"
          class="detail-tenant-info__card-image"
        ></div>
      </bg-card>

      <bg-text :italic="true" size="body-4">Foto KTP</bg-text>
    </template>
  </div>
</template>

<script>
import { mapState } from 'vuex';
import { BgCard, BgText } from 'bangul-vue';

export default {
  name: 'DetailTenantInfo',

  components: {
    BgCard,
    BgText,
  },

  computed: {
    ...mapState('contract', ['contractRequestDetail']),
  },
};
</script>

<style lang="scss" src="./DetailTenantInfo.scss"></style>
