<template>
  <div
    :style="{ width: currentStep ? currentStep.width : '100%' }"
    class="contract-accept-request-desktop"
  >
    <skeleton v-if="isFetchingData" />
    <template v-else-if="currentStep">
      <navbar :title="navStepTitle" :progress="stepProgress" @back="addStep(-1)" />
      <!-- eslint-disable-next-line vue/require-component-is -->
      <component
        :is="!!currentStep.card ? 'bg-card' : 'div'"
        :class="{ 'contract-accept-request-desktop__content-card': !!currentStep.card }"
        class="contract-accept-request-desktop__content"
      >
        <content-title :title="currentStepTitle" title-size="heading-3" />
        <!-- eslint-disable-next-line vue/require-component-is -->
        <component :is="currentStepComponent" @next="addStep(1)" @back="addStep(-1)" />
      </component>
    </template>

    <bg-toast v-model="isShowAcceptToast" :duration="5">
      {{ acceptFailedMessage }}
    </bg-toast>
  </div>
</template>

<script>
import { BgCard, BgToast } from 'bangul-vue';
import MixinSteps from '../mixins/steps';

export default {
  name: 'ContractAcceptRequestDesktop',
  // eslint-disable-next-line vue/no-unused-components
  components: { BgCard, BgToast },
  mixins: [MixinSteps],
};
</script>

<style lang="scss" src="./desktop.scss" scoped></style>
