.contract-accept-request-desktop {
  max-width: 100%;
  margin: 72px auto -39px;

  &__content {
    padding: 0;

    &-card {
      padding: 8px;

      @media (max-width: 767px) {
        border: 0;
        box-shadow: none;
      }
    }
  }
}
