<template>
  <activation-form class="activation-form-mobile" />
</template>

<script>
import ActivationForm from '../components/ActivationForm';
export default {
  name: 'KosBookingActivationDesktop',
  components: {
    ActivationForm,
  },
};
</script>

<style>
.activation-form-mobile {
  margin-bottom: 50px;
}
</style>
