<template>
  <div class="c-mk-header-user">
    <div class="c-mk-header-user__name">{{ name }}</div>
    <div class="c-mk-header-user__email">{{ userInfo }}</div>
    <div @click="handleSettingClicked" class="c-mk-header-user__setting">Setelan Akun</div>
    <hr class="c-mk-header-user__line" />
    <div @click="handleLogoutClicked" class="c-mk-header-user__logout">
      Logout
    </div>
  </div>
</template>

<script>
import { clearToken } from '~/api/service/cookiesToken';
import { clearAuthTracker } from '~/utils/authTracker';

export default {
  name: 'MkHeaderProfileDropdown',
  props: {
    name: {
      type: String,
      default: '',
    },
    email: {
      type: String,
      default: '',
    },
    phone: {
      type: String,
      default: '',
    },
  },
  computed: {
    userInfo() {
      return this.phone || this.email;
    },
  },
  methods: {
    handleLogoutClicked() {
      clearAuthTracker();
      this.$tracker.destroy();
      clearToken();
      window.location.href = `${process.env.MAMIKOS_URL}/auth/logout`;
    },
    handleSettingClicked() {
      window.location.href = `${process.env.MAMIKOS_URL}/ownerpage/settings`;
    },
  },
};
</script>
