<template>
  <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path
      :stroke="color"
      d="M3 3H10V10H3V3Z"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
    />
    <path
      :stroke="color"
      d="M14 3H21V10H14V3Z"
      stroke-width="2"
      transform="rotate(40,18,7)"
      stroke-linecap="round"
      stroke-linejoin="round"
    />
    <path
      :stroke="color"
      d="M14 14H21V21H14V14Z"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
    />
    <path
      :stroke="color"
      d="M3 14H10V21H3V14Z"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
    />
  </svg>
</template>

<script>
export default {
  name: 'MkIconDashboard',
  props: {
    color: {
      type: String,
      default: '#999999',
    },
  },
};
</script>
