<template>
  <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g filter="url(#filter0_ddd)">
      <g clip-path="url(#clip0)">
        <path
          d="M18.4912 9.8503C17.7681 8.93506 16.9439 8.20853 16.0416 7.6909C15.0618 7.1288 14.0384 6.84381 13 6.84381C11.9615 6.84381 10.9382 7.1288 9.95838 7.69087C9.05603 8.20853 8.23186 8.93503 7.50873 9.85026C6.10419 11.628 5.26562 13.9309 5.26562 16.0105C5.26562 20.5541 9.17542 21.1667 13 21.1667C16.8246 21.1667 20.7343 20.5541 20.7343 16.0105C20.7343 13.9309 19.8958 11.628 18.4912 9.8503Z"
          fill="#A4D968"
        />
        <path
          d="M11.0299 14.8844V16.5833H9.94434V12.0002H11.4641C11.7542 11.9968 12.0436 12.0313 12.3245 12.103C12.5366 12.1606 12.7358 12.2571 12.9114 12.3874C13.0529 12.5046 13.1633 12.6537 13.2331 12.822C13.3055 12.9921 13.3411 13.1751 13.3376 13.3594C13.3403 13.5009 13.3213 13.6421 13.2813 13.7782C13.2411 13.9112 13.1786 14.0367 13.0964 14.1496C13.0149 14.2626 12.9174 14.3637 12.8069 14.4498C12.6829 14.5378 12.5477 14.6095 12.4049 14.6632C12.4767 14.7006 12.5441 14.7456 12.6059 14.7975C12.6702 14.8511 12.7246 14.9153 12.7667 14.9872L13.7638 16.5675H12.7828C12.7051 16.5723 12.6276 16.5565 12.5583 16.5218C12.489 16.487 12.4304 16.4346 12.3888 16.37L11.5847 15.0346C11.5576 14.9819 11.5158 14.9381 11.4641 14.9081C11.4006 14.8939 11.3346 14.8939 11.2711 14.9081L11.0299 14.8844ZM11.0299 14.1575H11.4641C11.5921 14.1575 11.7195 14.1388 11.842 14.1021C11.935 14.0701 12.02 14.0189 12.0913 13.952C12.1597 13.8899 12.2098 13.8107 12.236 13.7229C12.2697 13.6317 12.2861 13.5353 12.2842 13.4384C12.2885 13.3497 12.2727 13.2611 12.2379 13.1791C12.2032 13.0972 12.1503 13.0238 12.0832 12.9643C11.9027 12.84 11.6838 12.7813 11.4641 12.7983H11.0299V14.1575Z"
          fill="white"
        />
        <path
          d="M13.7639 17.3127V13.5567H14.3533C14.4063 13.5546 14.4585 13.5693 14.5006 13.5982C14.5224 13.6088 14.5414 13.6236 14.5561 13.6415C14.5709 13.6594 14.581 13.68 14.5859 13.7017L14.6557 13.9089L14.8573 13.7432C14.9291 13.6937 15.0072 13.652 15.0899 13.6189C15.1716 13.583 15.2574 13.5552 15.3458 13.536C15.4488 13.525 15.553 13.525 15.656 13.536C15.8183 13.5359 15.9781 13.5715 16.1213 13.6396C16.2666 13.7064 16.3916 13.8036 16.4857 13.9227C16.5965 14.0602 16.678 14.2146 16.7261 14.3784C16.7916 14.5779 16.823 14.785 16.8192 14.9928C16.8189 15.1941 16.785 15.3943 16.7184 15.5866C16.656 15.7596 16.5587 15.921 16.4314 16.063C16.3154 16.1922 16.1701 16.298 16.0049 16.3737C15.8312 16.4492 15.6399 16.4871 15.4466 16.4842C15.3038 16.4886 15.1614 16.4674 15.0279 16.422C14.9153 16.3819 14.8105 16.3259 14.7177 16.2563V17.3472L13.7639 17.3127ZM15.3148 14.1574H15.1287C15.0191 14.1808 14.9178 14.2283 14.834 14.2955C14.7889 14.3313 14.7474 14.3706 14.71 14.4129V15.6211C14.7729 15.6858 14.8528 15.7357 14.9426 15.7661C15.0231 15.7981 15.1103 15.8146 15.1985 15.8146C15.2867 15.8146 15.3739 15.7981 15.4544 15.7661C15.5311 15.7293 15.5974 15.6773 15.6482 15.6142C15.7076 15.5319 15.7496 15.4407 15.7723 15.345C15.806 15.2137 15.8217 15.0792 15.8188 14.9445C15.8236 14.817 15.8105 14.6894 15.7801 14.5648C15.762 14.4775 15.728 14.3936 15.6793 14.3162C15.6418 14.2608 15.5882 14.2155 15.5242 14.185C15.4601 14.1627 15.3912 14.1532 15.3226 14.1574H15.3148Z"
          fill="white"
        />
        <path
          d="M14.4323 20.5938C10.6077 20.5938 6.69791 19.9812 6.69791 15.4375C6.69791 13.358 7.53645 11.0551 8.94106 9.27734C9.66418 8.3621 10.4884 7.63557 11.3907 7.11794C11.4405 7.08933 11.4906 7.06194 11.5407 7.0348C11.0039 7.17595 10.4751 7.39448 9.95841 7.69086C9.05607 8.20852 8.23189 8.93502 7.50877 9.85025C6.10419 11.628 5.26562 13.9309 5.26562 16.0105C5.26562 20.5541 9.17541 21.1667 13 21.1667C15.0195 21.1667 17.0627 20.9956 18.5415 20.1654C17.2982 20.5084 15.8594 20.5938 14.4323 20.5938Z"
          fill="#8DCF42"
        />
        <path
          d="M19.0987 6.8232L13.4304 5.99054C13.1173 5.94456 12.8263 6.16105 12.7803 6.47411C12.7344 6.78718 12.9508 7.07822 13.2639 7.12419L18.9322 7.95682C19.2453 8.00279 19.5363 7.7863 19.5823 7.47324C19.6283 7.16025 19.4118 6.86917 19.0987 6.8232Z"
          fill="#FD7959"
        />
        <path
          d="M19.0987 5.97841L13.4304 6.81103C13.1173 6.85701 12.8263 6.64052 12.7803 6.32746C12.7344 6.01439 12.9508 5.72335 13.2639 5.67737L18.9322 4.84475C19.2453 4.79877 19.5363 5.01526 19.5823 5.32833C19.6283 5.64135 19.4118 5.93239 19.0987 5.97841Z"
          fill="#FD947A"
        />
        <path
          d="M17.5461 2.97895C17.4953 2.88915 17.4001 2.83361 17.2968 2.83361C15.9026 2.83361 14.7779 3.14685 13.7856 3.42321C12.0974 3.89336 10.764 4.26475 8.87159 2.8884C8.79772 2.83465 8.70266 2.81936 8.61568 2.84729C8.5287 2.87515 8.46024 2.94282 8.43134 3.02948C8.16025 3.84277 8.53905 4.87462 9.55723 6.09644C10.2825 6.9668 11.0668 7.61162 11.0998 7.63865C11.151 7.68051 11.2151 7.70339 11.2812 7.70339H14.7187C14.7948 7.70339 14.8679 7.67306 14.9216 7.61914C14.9548 7.58587 15.7417 6.79364 16.4662 5.85198C17.5154 4.48841 17.8687 3.54865 17.5461 2.97895Z"
          fill="#A4D968"
        />
        <path
          d="M10.6251 6.09619C9.70089 4.98717 9.30357 4.0347 9.44079 3.26012C9.25631 3.15345 9.067 3.03027 8.87159 2.88819C8.79772 2.83444 8.70266 2.81915 8.61568 2.84708C8.5287 2.87494 8.46024 2.94262 8.43134 3.02927C8.16025 3.84252 8.53905 4.87438 9.55723 6.09619C9.82618 6.41892 10.1031 6.7105 10.347 6.9512H11.4148C11.171 6.7105 10.894 6.41892 10.6251 6.09619Z"
          fill="#8DCF42"
        />
        <path
          d="M15.8646 6.2709H10.1354C9.81902 6.2709 9.5625 6.52742 9.5625 6.84382C9.5625 7.16021 9.81902 7.41673 10.1354 7.41673H15.8646C16.181 7.41673 16.4375 7.16021 16.4375 6.84382C16.4375 6.52742 16.181 6.2709 15.8646 6.2709Z"
          fill="#FD947A"
        />
      </g>
    </g>
    <defs>
      <filter
        id="filter0_ddd"
        x="0"
        y="0"
        width="26"
        height="26"
        filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB"
      >
        <feFlood flood-opacity="0" result="BackgroundImageFix" />
        <feColorMatrix
          in="SourceAlpha"
          type="matrix"
          values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
        />
        <feOffset dy="1" />
        <feGaussianBlur stdDeviation="1.5" />
        <feColorMatrix type="matrix" values="0 0 0 0 0.6 0 0 0 0 0.6 0 0 0 0 0.6 0 0 0 0.2 0" />
        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow" />
        <feColorMatrix
          in="SourceAlpha"
          type="matrix"
          values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
        />
        <feOffset dy="2" />
        <feGaussianBlur stdDeviation="1" />
        <feColorMatrix type="matrix" values="0 0 0 0 0.6 0 0 0 0 0.6 0 0 0 0 0.6 0 0 0 0.12 0" />
        <feBlend mode="normal" in2="effect1_dropShadow" result="effect2_dropShadow" />
        <feColorMatrix
          in="SourceAlpha"
          type="matrix"
          values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
        />
        <feOffset />
        <feGaussianBlur stdDeviation="1" />
        <feColorMatrix type="matrix" values="0 0 0 0 0.6 0 0 0 0 0.6 0 0 0 0 0.6 0 0 0 0.14 0" />
        <feBlend mode="normal" in2="effect2_dropShadow" result="effect3_dropShadow" />
        <feBlend mode="normal" in="SourceGraphic" in2="effect3_dropShadow" result="shape" />
      </filter>
      <clipPath id="clip0">
        <rect x="3.83325" y="2.83334" width="18.3333" height="18.3333" fill="white" />
      </clipPath>
    </defs>
  </svg>
</template>

<script>
export default {
  name: 'MkIconMoneyBag',
};
</script>
