<template>
  <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path
      :fill="color"
      d="M20.2361 20.521H3.76409C3.30735 20.5205 2.8694 20.3392 2.54596 20.0167C2.22253 19.6942 2.03994 19.2567 2.03809 18.8V7.82401C2.03941 7.36683 2.22174 6.92879 2.5452 6.60571C2.86866 6.28262 3.30691 6.1008 3.76409 6.10001H20.2361C20.6939 6.10054 21.1327 6.28269 21.4563 6.60648C21.7799 6.93027 21.9618 7.36923 21.9621 7.82701V18.8C21.9602 19.2567 21.7776 19.6942 21.4542 20.0167C21.1308 20.3392 20.6928 20.5205 20.2361 20.521ZM3.76409 7.60001C3.7043 7.60104 3.64726 7.62532 3.60507 7.6677C3.56288 7.71007 3.53886 7.76721 3.53809 7.82701V18.8C3.53886 18.8597 3.56292 18.9167 3.60514 18.959C3.64735 19.0012 3.70439 19.0252 3.76409 19.026H20.2361C20.2958 19.0252 20.3528 19.0012 20.395 18.959C20.4372 18.9167 20.4613 18.8597 20.4621 18.8V7.82401C20.4613 7.76421 20.4373 7.70707 20.3951 7.6647C20.3529 7.62232 20.2959 7.59804 20.2361 7.59701L3.76409 7.60001Z"
    />
    <path
      :fill="color"
      d="M16.1711 6.722C15.9722 6.722 15.7814 6.64299 15.6408 6.50233C15.5001 6.36168 15.4211 6.17092 15.4211 5.972V4.8C15.4191 4.72303 15.3875 4.64978 15.333 4.59543C15.2784 4.54108 15.2051 4.50977 15.1281 4.508H8.8721C8.79512 4.50977 8.72177 4.54108 8.66723 4.59543C8.61269 4.64978 8.58114 4.72303 8.5791 4.8V5.972C8.5791 6.17092 8.50008 6.36168 8.35943 6.50233C8.21878 6.64299 8.02801 6.722 7.8291 6.722C7.63019 6.722 7.43942 6.64299 7.29877 6.50233C7.15812 6.36168 7.0791 6.17092 7.0791 5.972V4.8C7.08095 4.32504 7.27044 3.87005 7.6063 3.5342C7.94215 3.19834 8.39714 3.00885 8.8721 3.007H15.1281C15.6031 3.00885 16.0581 3.19834 16.3939 3.5342C16.7298 3.87005 16.9193 4.32504 16.9211 4.8V5.972C16.9211 6.17092 16.8421 6.36168 16.7014 6.50233C16.5608 6.64299 16.37 6.722 16.1711 6.722Z"
    />
    <path
      :fill="color"
      d="M12 14.9C11.9364 14.9002 11.8732 14.8918 11.812 14.875L2.59995 12.492C2.41332 12.4368 2.25543 12.3113 2.15964 12.1419C2.06386 11.9725 2.03766 11.7725 2.0866 11.5841C2.13554 11.3958 2.25578 11.2338 2.42191 11.1325C2.58805 11.0311 2.78708 10.9983 2.97695 11.041L12 13.379L21.023 11.041C21.1194 11.0125 21.2206 11.0037 21.3206 11.0151C21.4205 11.0265 21.5171 11.0579 21.6047 11.1074C21.6922 11.1569 21.7689 11.2235 21.8302 11.3033C21.8915 11.383 21.9361 11.4743 21.9614 11.5717C21.9867 11.669 21.9921 11.7704 21.9774 11.8699C21.9627 11.9694 21.9282 12.065 21.8758 12.1508C21.8234 12.2367 21.7543 12.3112 21.6725 12.3698C21.5908 12.4284 21.4981 12.4699 21.4 12.492L12.188 14.879C12.1265 14.8945 12.0633 14.9015 12 14.9Z"
    />
  </svg>
</template>

<script>
export default {
  name: 'MkIconSuitcase',
  props: {
    color: {
      type: String,
      default: '#999999',
    },
  },
};
</script>
