<template>
  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path
      :fill="color"
      d="M10.4589 3.48405C12.0727 3.48378 13.6366 4.04309 14.8842 5.06666C16.1318 6.09023 16.9858 7.51473 17.3009 9.09743C17.6159 10.6801 17.3724 12.3231 16.6118 13.7464C15.8512 15.1697 14.6207 16.2852 13.1298 16.9029C11.639 17.5206 9.98008 17.6022 8.43579 17.1338C6.89149 16.6655 5.55737 15.6762 4.66075 14.3344C3.76413 12.9927 3.3605 11.3816 3.51862 9.77561C3.67674 8.16962 4.38684 6.66816 5.52791 5.52705C6.17398 4.87747 6.94244 4.36245 7.78884 4.01178C8.63523 3.6611 9.54275 3.48173 10.4589 3.48405ZM10.4589 2.06605C8.51716 2.06617 6.63551 2.73955 5.13458 3.97148C3.63365 5.20341 2.60631 6.91765 2.2276 8.82211C1.84889 10.7266 2.14224 12.7034 3.05767 14.4159C3.9731 16.1283 5.45397 17.4703 7.24796 18.2133C9.04195 18.9563 11.0381 19.0543 12.8962 18.4905C14.7543 17.9268 16.3595 16.7362 17.4382 15.1216C18.5169 13.5071 19.0024 11.5684 18.812 9.63602C18.6216 7.70362 17.767 5.89702 16.3939 4.52405C15.6154 3.7435 14.6903 3.12453 13.6717 2.7027C12.6532 2.28087 11.5613 2.06451 10.4589 2.06605Z"
    />
    <path
      :fill="color"
      d="M21.2277 21.934C21.1348 21.9339 21.0428 21.9155 20.957 21.8798C20.8712 21.8441 20.7933 21.7919 20.7277 21.726L15.6177 16.616C15.5007 16.4805 15.4392 16.3057 15.4458 16.1267C15.4523 15.9477 15.5263 15.7779 15.653 15.6513C15.7796 15.5246 15.9494 15.4506 16.1284 15.4441C16.3074 15.4375 16.4822 15.499 16.6177 15.616L21.7277 20.726C21.8265 20.8252 21.8938 20.9514 21.921 21.0888C21.9483 21.2262 21.9343 21.3685 21.8809 21.498C21.8274 21.6274 21.7369 21.7381 21.6207 21.8163C21.5045 21.8944 21.3677 21.9364 21.2277 21.937V21.934Z"
    />
  </svg>
</template>

<script>
export default {
  name: 'MkIconSearch',
  props: {
    color: {
      type: String,
      default: '#242424',
    },
  },
};
</script>
