<template>
  <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path
      :fill="color"
      d="M12 3.429C13.6952 3.429 15.3523 3.93168 16.7618 4.87347C18.1713 5.81527 19.2699 7.15387 19.9186 8.72002C20.5673 10.2862 20.737 12.0095 20.4063 13.6721C20.0756 15.3347 19.2593 16.8619 18.0606 18.0606C16.8619 19.2593 15.3347 20.0756 13.6721 20.4063C12.0095 20.737 10.2862 20.5673 8.72002 19.9186C7.15388 19.2699 5.81527 18.1713 4.87348 16.7618C3.93169 15.3523 3.429 13.6952 3.429 12C3.43165 9.72764 4.33551 7.54911 5.94232 5.94231C7.54912 4.33551 9.72765 3.43165 12 3.429ZM12 2C10.0222 2 8.08879 2.58649 6.4443 3.6853C4.79981 4.78412 3.51809 6.3459 2.76121 8.17317C2.00433 10.0004 1.8063 12.0111 2.19215 13.9509C2.578 15.8907 3.53041 17.6725 4.92894 19.0711C6.32746 20.4696 8.10929 21.422 10.0491 21.8079C11.9889 22.1937 13.9996 21.9957 15.8268 21.2388C17.6541 20.4819 19.2159 19.2002 20.3147 17.5557C21.4135 15.9112 22 13.9778 22 12C22 10.6868 21.7413 9.38642 21.2388 8.17317C20.7363 6.95991 19.9997 5.85752 19.0711 4.92893C18.1425 4.00035 17.0401 3.26375 15.8268 2.7612C14.6136 2.25866 13.3132 2 12 2Z"
    />
    <path
      :fill="color"
      d="M8.91581 17.393C8.81275 17.3932 8.71086 17.3711 8.61717 17.3282C8.52348 17.2852 8.44021 17.2225 8.37311 17.1442C8.306 17.066 8.25666 16.9742 8.22846 16.875C8.20027 16.7759 8.19391 16.6718 8.20981 16.57L8.72581 13.224L6.26281 10.9C6.16604 10.8085 6.09675 10.6918 6.06275 10.563C6.02875 10.4342 6.0314 10.2985 6.07038 10.1712C6.10936 10.0438 6.18314 9.92992 6.2834 9.84225C6.38365 9.75458 6.5064 9.69666 6.63781 9.675L9.97981 9.134L11.4278 6.073C11.4848 5.9525 11.5744 5.85034 11.6865 5.77807C11.7985 5.7058 11.9285 5.66629 12.0618 5.664H12.0728C12.2043 5.66386 12.3332 5.70001 12.4454 5.76847C12.5576 5.83694 12.6488 5.93505 12.7088 6.052L14.2568 9.063L17.6158 9.494C17.7479 9.51097 17.8727 9.56456 17.9759 9.64871C18.0792 9.73287 18.1569 9.84423 18.2002 9.97022C18.2434 10.0962 18.2506 10.2318 18.2208 10.3616C18.1911 10.4915 18.1256 10.6104 18.0318 10.705L15.6468 13.105L16.2748 16.432C16.2996 16.563 16.2873 16.6984 16.2392 16.8227C16.191 16.9471 16.109 17.0555 16.0024 17.1356C15.8958 17.2158 15.7689 17.2645 15.6361 17.2762C15.5033 17.2879 15.3698 17.2622 15.2508 17.202L12.2288 15.68L9.25781 17.306C9.15282 17.363 9.03527 17.3929 8.91581 17.393ZM8.29981 10.855L9.98281 12.442C10.0671 12.5215 10.1309 12.6202 10.1685 12.7298C10.2061 12.8394 10.2165 12.9565 10.1988 13.071L9.84581 15.358L11.8758 14.247C11.9774 14.1913 12.0911 14.1613 12.207 14.1593C12.3228 14.1574 12.4374 14.1837 12.5408 14.236L14.5998 15.278L14.1738 13C14.1528 12.8859 14.16 12.7683 14.1949 12.6576C14.2298 12.547 14.2912 12.4465 14.3738 12.365L15.9998 10.726L13.6998 10.432C13.585 10.4172 13.4754 10.3747 13.3806 10.3082C13.2859 10.2416 13.2087 10.153 13.1558 10.05L12.0998 7.992L11.1108 10.084C11.0613 10.1887 10.9871 10.2798 10.8946 10.3495C10.8021 10.4191 10.6941 10.4653 10.5798 10.484L8.29981 10.855Z"
    />
  </svg>
</template>

<script>
export default {
  name: 'MkIconCircleStar',
  props: {
    color: {
      type: String,
      default: '#999999',
    },
  },
};
</script>
