<template>
  <svg viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g clip-path="url(#clip0)">
      <path
        :fill="color"
        d="M21.1406 6.76036H15.2396V0.859375C15.2396 0.384705 14.8549 0 14.3803 0H0.859375C0.384705 0 0 0.384705 0 0.859375V21.1406C0 21.6153 0.384705 22 0.859375 22H21.1406C21.6153 22 22 21.6153 22 21.1406V7.61974C22 7.14523 21.6153 6.76036 21.1406 6.76036ZM1.71875 1.71875H13.5209V20.2812H1.71875V1.71875ZM20.2812 20.2812H15.2396V8.47911H20.2812V20.2812ZM6.78906 4.23964C6.78906 4.71431 6.40436 5.09901 5.92969 5.09901H4.23964C3.76497 5.09901 3.38026 4.71431 3.38026 4.23964C3.38026 3.76497 3.76497 3.38026 4.23964 3.38026H5.92969C6.40436 3.38026 6.78906 3.76497 6.78906 4.23964ZM6.78906 9.30995C6.78906 9.78462 6.40436 10.1693 5.92969 10.1693H4.23964C3.76497 10.1693 3.38026 9.78462 3.38026 9.30995C3.38026 8.83528 3.76497 8.45058 4.23964 8.45058H5.92969C6.40436 8.45058 6.78906 8.83528 6.78906 9.30995ZM6.78906 14.3803C6.78906 14.8549 6.40436 15.2396 5.92969 15.2396H4.23964C3.76497 15.2396 3.38026 14.8549 3.38026 14.3803C3.38026 13.9056 3.76497 13.5209 4.23964 13.5209H5.92969C6.40436 13.5209 6.78906 13.9056 6.78906 14.3803ZM11.8594 4.23964C11.8594 4.71431 11.4747 5.09901 11 5.09901H9.30995C8.83528 5.09901 8.45058 4.71431 8.45058 4.23964C8.45058 3.76497 8.83528 3.38026 9.30995 3.38026H11C11.4747 3.38026 11.8594 3.76497 11.8594 4.23964ZM11.8594 9.30995C11.8594 9.78462 11.4747 10.1693 11 10.1693H9.30995C8.83528 10.1693 8.45058 9.78462 8.45058 9.30995C8.45058 8.83528 8.83528 8.45058 9.30995 8.45058H11C11.4747 8.45058 11.8594 8.83528 11.8594 9.30995ZM11.8594 14.3803C11.8594 14.8549 11.4747 15.2396 11 15.2396H9.30995C8.83528 15.2396 8.45058 14.8549 8.45058 14.3803C8.45058 13.9056 8.83528 13.5209 9.30995 13.5209H11C11.4747 13.5209 11.8594 13.9056 11.8594 14.3803ZM16.056 11C16.056 10.5253 16.4408 10.1406 16.9154 10.1406H18.6055C19.0801 10.1406 19.4648 10.5253 19.4648 11C19.4648 11.4747 19.0801 11.8594 18.6055 11.8594H16.9154C16.4408 11.8594 16.056 11.4747 16.056 11ZM16.056 14.3803C16.056 13.9056 16.4408 13.5209 16.9154 13.5209H18.6055C19.0801 13.5209 19.4648 13.9056 19.4648 14.3803C19.4648 14.8549 19.0801 15.2396 18.6055 15.2396H16.9154C16.4408 15.2396 16.056 14.8548 16.056 14.3803Z"
      />
    </g>
    <defs>
      <clipPath id="clip0">
        <rect width="22" height="22" fill="white" />
      </clipPath>
    </defs>
  </svg>
</template>

<script>
export default {
  name: 'MkIconApartment',
  props: {
    color: {
      type: String,
      default: '#999999',
    },
  },
};
</script>
