<template>
  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path
      :fill="color"
      d="M20.7767 7.05103H3.22266C3.02374 7.05103 2.83298 6.97201 2.69233 6.83136C2.55167 6.6907 2.47266 6.49994 2.47266 6.30103C2.47266 6.10211 2.55167 5.91135 2.69233 5.7707C2.83298 5.63004 3.02374 5.55103 3.22266 5.55103H20.7767C20.9756 5.55103 21.1663 5.63004 21.307 5.7707C21.4476 5.91135 21.5267 6.10211 21.5267 6.30103C21.5267 6.49994 21.4476 6.6907 21.307 6.83136C21.1663 6.97201 20.9756 7.05103 20.7767 7.05103Z"
    />
    <path
      :fill="color"
      d="M10 17.581C9.80109 17.581 9.61032 17.502 9.46967 17.3614C9.32902 17.2207 9.25 17.03 9.25 16.831V10.092C9.25 9.89313 9.32902 9.70236 9.46967 9.56171C9.61032 9.42106 9.80109 9.34204 10 9.34204C10.1989 9.34204 10.3897 9.42106 10.5303 9.56171C10.671 9.70236 10.75 9.89313 10.75 10.092V16.831C10.75 17.03 10.671 17.2207 10.5303 17.3614C10.3897 17.502 10.1989 17.581 10 17.581Z"
    />
    <path
      :fill="color"
      d="M14 17.581C13.8011 17.581 13.6103 17.502 13.4697 17.3614C13.329 17.2207 13.25 17.03 13.25 16.831V10.092C13.25 9.89313 13.329 9.70236 13.4697 9.56171C13.6103 9.42106 13.8011 9.34204 14 9.34204C14.1989 9.34204 14.3897 9.42106 14.5303 9.56171C14.671 9.70236 14.75 9.89313 14.75 10.092V16.831C14.75 17.03 14.671 17.2207 14.5303 17.3614C14.3897 17.502 14.1989 17.581 14 17.581Z"
    />
    <path
      :fill="color"
      d="M17.8918 21.979H6.10781C5.68395 21.9774 5.2779 21.8083 4.97819 21.5086C4.67847 21.2089 4.50939 20.8028 4.50781 20.379V7.15395C4.50939 6.7301 4.67847 6.32405 4.97819 6.02433C5.2779 5.72461 5.68395 5.55554 6.10781 5.55396H17.8918C18.3157 5.55554 18.7217 5.72461 19.0214 6.02433C19.3212 6.32405 19.4902 6.7301 19.4918 7.15395V20.376C19.491 20.8003 19.3223 21.2072 19.0225 21.5075C18.7227 21.8079 18.3162 21.9774 17.8918 21.979ZM6.10781 7.05096C6.08176 7.05239 6.05715 7.06339 6.0387 7.08184C6.02025 7.10029 6.00925 7.1249 6.00781 7.15096V20.376C6.00925 20.402 6.02025 20.4266 6.0387 20.4451C6.05715 20.4635 6.08176 20.4745 6.10781 20.476H17.8918C17.9179 20.4745 17.9425 20.4635 17.9609 20.4451C17.9794 20.4266 17.9904 20.402 17.9918 20.376V7.15395C17.9904 7.1279 17.9794 7.10329 17.9609 7.08484C17.9425 7.06639 17.9179 7.05539 17.8918 7.05396L6.10781 7.05096Z"
    />
    <path
      :fill="color"
      d="M16.6679 7.051C16.469 7.051 16.2783 6.97198 16.1376 6.83133C15.997 6.69068 15.9179 6.49991 15.9179 6.301V3.6C15.9163 3.57402 15.9052 3.54953 15.8868 3.53112C15.8684 3.51272 15.8439 3.50165 15.8179 3.5H8.18594C8.15996 3.50165 8.13547 3.51272 8.11706 3.53112C8.09865 3.54953 8.08759 3.57402 8.08594 3.6V6.3C8.08594 6.49891 8.00692 6.68968 7.86627 6.83033C7.72562 6.97098 7.53485 7.05 7.33594 7.05C7.13703 7.05 6.94626 6.97098 6.80561 6.83033C6.66496 6.68968 6.58594 6.49891 6.58594 6.3V3.6C6.58726 3.17606 6.75625 2.76986 7.05602 2.47009C7.3558 2.17031 7.762 2.00132 8.18594 2H15.8139C16.2379 2.00132 16.6441 2.17031 16.9439 2.47009C17.2436 2.76986 17.4126 3.17606 17.4139 3.6V6.3C17.4142 6.49839 17.3359 6.68881 17.196 6.82957C17.0562 6.97032 16.8663 7.04994 16.6679 7.051Z"
    />
  </svg>
</template>

<script>
export default {
  name: 'MkIconTrashOutline',
  props: {
    color: {
      type: String,
      default: '#999999',
    },
  },
};
</script>
