<template>
  <div class="bm-search-input columns is-gapless is-mobile">
    <img
      class="bm-search-input__icon column is-1"
      src="~assets/images/billing_management/ic_search.svg"
    />
    <input
      v-model="keywordSearch"
      @keyup.enter="search"
      @blur="refreshToFirstPage"
      class="bm-search-input__input column"
      placeholder="Cari Nama Penyewa"
      type="text"
    />
    <mk-button v-if="isButtonSearchShow" @click.native="search" color="green-brand">Cari</mk-button>
  </div>
</template>

<script>
import MkButton from '~/components/global/atoms/MkButton';
import billing from '~/components/page-features/kelola-tagihan/mixins/billing';

export default {
  name: 'BillingManagementSearchInput',
  components: {
    MkButton,
  },
  mixins: [billing],
  data() {
    return {
      keywordSearch: '',
    };
  },
  computed: {
    isButtonSearchShow() {
      return this.keywordSearch;
    },
    page() {
      return this.$route.query.page;
    },
  },
  methods: {
    refreshToFirstPage() {
      if (this.keywordSearch === '') {
        this.showListBill();
      }
    },
    search() {
      this.showListBill(this.keywordSearch);
    },
    showListBill(keywordSearch = '') {
      this.$store.commit('billingManagement/updateFilterTenantName', keywordSearch);
      this.getBillListInvoices({
        invoiceStatus: this.page,
      });
    },
  },
};
</script>

<style lang="scss" src="./BillingManagementSearchInput.scss" scoped></style>
