.bm-search-input {
  box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.02), 0px 1px 4px rgba(0, 0, 0, 0.08);
  width: fit-content;
  padding: 7px 11px;
  border-radius: 6px;
  margin: 17px 0px;
  height: 48px;

  @media (max-width: 480px) {
    width: 100%;
    width: 94%;
    margin: 0 auto;
  }

  &__icon {
    margin: 0px 13px 0px 3px !important;

    @media (max-width: 480px) {
      width: 21px;
      height: 21px;
      position: relative;
      top: 4.8px;
    }
  }

  &__input {
    border: none;
    color: #949494;
    font-weight: normal;
    font-size: 16px;

    &:focus {
      outline: none;
    }
  }
}
