.allocation-card {
  display: flex;

  &__icon {
    .the-icon {
      position: relative;
      top: 24px;
      left: 10px;
      width: 42px;
    }
  }

  &__content {
    padding: 0 0 12px;
    margin-left: 18px;

    .header {
      padding-top: 18px;
      font-size: 18px;
      font-weight: 700;
    }
    .description {
      padding: 0 0 12px;
    }
    .link {
      padding-bottom: 1px;
      font-weight: 700;
      color: #303030;
      text-decoration: none;
      border-bottom: 1px solid #000;
    }
  }
}
