<template>
  <mk-card :max-width="342" class="allocation-card">
    <div class="allocation-card__icon">
      <img class="the-icon" src="~assets/images/ic_alert.svg" />
    </div>
    <div class="allocation-card__content">
      <div class="header">Pengalokasian di Website</div>
      <div class="body">
        <p class="description">
          Mohon maaf untuk pengalokasian iklan premium, Anda harus ke menu iklan saya terlebih
          dahulu.
        </p>
        <a @click="goToOwnerKosList" class="link"> Halaman Iklan Saya </a>
      </div>
    </div>
  </mk-card>
</template>

<script>
import MkCard from '~/components/global/molecules/MkCard';

export default {
  name: 'AllocationCard',
  components: {
    MkCard,
  },
  methods: {
    goToOwnerKosList() {
      window.location.href = `${process.env.MAMIKOS_URL}/ownerpage/kos`;
    },
  },
};
</script>

<style lang="scss" src="./AllocationCard.scss"></style>
