<template>
  <div class="reward-detail-page --mobile">
    <div v-show="isLoadingDetailCard || isLoadingActionCard" class="reward-detail-page__loader">
      <div class="c-loader" />
    </div>
    <div v-show="!isLoadingDetailCard && !isLoadingActionCard" class="tile is-mobile">
      <div class="reward-detail-page__card">
        <detail-card v-model="isLoadingDetailCard" />
      </div>
      <div class="reward-detail-page__action">
        <action-card v-model="isLoadingActionCard" />
      </div>
    </div>
  </div>
</template>

<script>
import ActionCard from '../components/ActionCard';
import DetailCard from '../components/DetailCard';

export default {
  name: 'RewardDetailMobile',
  components: {
    ActionCard,
    DetailCard,
  },
  data() {
    return {
      isLoadingDetailCard: false,
      isLoadingActionCard: false,
    };
  },
};
</script>

<style scoped lang="scss" src="./mobile.scss"></style>
