<template>
  <div class="contract-detail">
    <div v-if="!isMobile">
      <bg-text size="heading-2">
        {{ pageTitle }}
      </bg-text>
    </div>

    <bg-card v-if="!kosListData.loadingKosList" class="contract-detail__content" variant="shadow">
      <detail-tenant-info class="contract-detail__tenant-info" />

      <bg-divider v-if="isMobile" class="contract-detail__content-divider" />

      <detail-room-info class="contract-detail__room-info" />

      <div class="contract-detail__footer">
        <div class="contract-detail__warning-text">
          <bg-text :italic="true" size="body-4">
            Data dari penyewa digunakan untuk membuat kontrak sewa. Pastikan isi data telah sesuai.
          </bg-text>
        </div>

        <div class="contract-detail__buttons">
          <bg-button @click="onRequestReject(contractRequestDetail.id, 'Detail Tenant')"
            >Tolak</bg-button
          >
          <bg-button @click="onRequestAccept" variant="primary">Terima</bg-button>
        </div>
      </div>
    </bg-card>

    <contract-request-reject-modal
      v-model="isShowRejectModal"
      :is-rejecting="rejectLoading"
      @reject="onRejectContract"
    />

    <bg-toast v-model="isShowRejectToastFailed" :duration="5">
      Gagal menolak penyewa.
    </bg-toast>

    <bg-toast v-model="isShowAcceptToast" :duration="5">
      {{ acceptFailedMessage }}
    </bg-toast>
  </div>
</template>

<script>
import { mapState } from 'vuex';
import { BgButton, BgCard, BgDivider, BgText, BgToast } from 'bangul-vue';
import DetailRoomInfo from '../DetailRoomInfo';
import DetailTenantInfo from '../DetailTenantInfo';
import ContractRequestRejectModal from '../ContractRequestRejectModal';
import rejectMixin from '../../mixins/reject';
import acceptMixin from '../../mixins/accept';
import getQueryString from '../../mixins/mixinGetQueryString';

export default {
  name: 'ContractDetail',

  components: {
    BgButton,
    BgCard,
    BgDivider,
    BgText,
    BgToast,
    ContractRequestRejectModal,
    DetailRoomInfo,
    DetailTenantInfo,
  },

  mixins: [acceptMixin, rejectMixin, getQueryString],

  data() {
    return {
      mamikosUrl: process.env.MAMIKOS_URL,
    };
  },

  computed: {
    ...mapState('contract', ['kosListData', 'contractRequestDetail', 'acceptStatus', 'accept']),
    ...mapState('profile', { userData: (state) => state.data.user }),
    isMobile() {
      return this.$device.isMobile;
    },
    pageTitle() {
      return this.$route.meta.pageTitle;
    },
    acceptParams() {
      const params = {
        contractId: this.contractRequestDetail.id,
        requestProps: {
          from: 'Detail Tenant',
          price_type: this.contractRequestDetail.is_revised_price ? 'revised' : 'original',
        },
      };

      if (this.accept.selectedRoom !== 0) {
        params.requestProps.designer_room_id = this.accept.selectedRoom;
      }

      return params;
    },
    redirectionSource() {
      if (this.getQueryString('from') === 'contract-notification') {
        return 'notifikasi';
      } else if (this.$route.params.source === 'contract-list') {
        return 'dashboard_kontrak_penyewa';
      } else {
        return '';
      }
    },
  },

  created() {
    this.getContractDetail(this.$route.params.id);
  },

  methods: {
    onRequestAccept() {
      if (this.contractRequestDetail.is_revised_price || this.contractRequestDetail.is_empty_room) {
        this.$router.push({
          name: 'contract-request-accept',
          params: { requestId: this.contractRequestDetail.id },
        });
      } else {
        this.onAcceptContract(this.acceptParams);
      }
    },
    getContractDetail(contractId) {
      this.$store.dispatch('contract/getContractRequestDetail', contractId);
      this.trackVisitDetailPage();
    },
    trackVisitDetailPage() {
      this.$tracker.send('moe', [
        '[Owner] DBET Tenant Options - Detail New Tenant Viewed',
        {
          owner_name: this.userData.name,
          owner_phone_number: this.userData.phone_number,
          owner_email: this.userData.email,
          interface: this.$device.isMobile ? 'mobile' : 'desktop',
          redirection_source: this.redirectionSource,
        },
      ]);
    },
  },
};
</script>

<style lang="scss" src="./ContractDetail.scss"></style>
