.contract-detail {
  margin-bottom: 125px;

  @media (max-width: 767px) {
    margin: -15px;
  }

  @media (min-width: 768px) {
    margin-left: 15%;
  }

  &__content {
    max-width: 525px;
    margin-top: 25px;

    @media (max-width: 767px) {
      padding: 0;
      margin-top: 45px;
      box-shadow: none;
    }
  }

  &__content-divider {
    border-bottom-width: 15px;
  }

  &__room-info {
    margin-top: 25px;
  }

  &__tenant-info,
  &__room-info {
    @media (max-width: 767px) {
      padding: 15px;
    }
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;

    @media (max-width: 767px) {
      padding: 0 15px;
      margin-top: 10px;
      flex-direction: column;
    }
  }

  &__warning-text {
    color: #da3438;

    @media (max-width: 767px) {
      margin-bottom: 20px;
    }
  }

  &__buttons {
    display: flex;
    width: 100%;

    /* stylelint-disable-next-line */
    button {
      width: 115px;
      margin-left: 15px;

      @media (max-width: 767px) {
        width: 100%;
        margin: 5px;
      }
    }
  }
}
