<template>
  <div class="tenant-list-item-skeleton">
    <bg-skeleton class="tenant-list-item-skeleton__avatar" ellipsed width="48px" height="48px" />
    <div class="tenant-list-item-skeleton__content">
      <bg-skeleton width="40%" height="24px" />
      <bg-skeleton width="60%" height="32px" />
    </div>
  </div>
</template>

<script>
import { BgSkeleton } from 'bangul-vue';
export default {
  name: 'TenantListItemSkeleton',
  components: { BgSkeleton },
};
</script>

<style lang="scss" src="./TenantListItemSkeleton.scss" scoped></style>
