<template>
  <mk-modal v-model="active" class="detail-bill-modal">
    <mk-card v-show="isShowCard" class="detail-bill-modal__card">
      <mk-card-header class="detail-bill-modal__header">
        <span class="title-header">Status Tagihan</span>
        <b-icon @click.native="hideModal" class="close-icon" icon="close" size="is-medium" />
      </mk-card-header>
      <mk-card-body class="detail-bill-modal__body">
        <span v-if="timelineInvoice.length === 0" class="c-loader c-loader-custom"></span>
        <div id="manageDetailTimeline" v-else class="claim-detail-timeline">
          <div v-for="(data, i) in timelineInvoice" :key="i" class="timeline-card">
            <div class="card-mark">
              <div :class="{ '--active': data.passed }" class="bulletpoint"></div>
              <div
                v-if="lastConnector != i + 1"
                :class="{ '--active': data.passed }"
                class="connector"
              ></div>
            </div>

            <div class="card-info">
              <div
                v-if="data.time !== 'Dibayar: -' && data.time !== 'Dicairkan: -'"
                class="info-date"
              >
                <span :class="{ 'not-active': !data.passed }">{{ data.time }}</span>
              </div>

              <div class="info-payment passed">
                <span :class="{ 'not-active': !data.passed }">{{ data.description }}</span>
              </div>
            </div>
          </div>
        </div>
      </mk-card-body>
    </mk-card>
  </mk-modal>
</template>

<script>
import MkModal, { mixin as modalMixin } from '~/components/global/molecules/MkModal/MkModal';
import MkCard from '~/components/global/molecules/MkCard';
import MkCardHeader from '~/components/global/molecules/MkCard/components/MkCardHeader';
import MkCardBody from '~/components/global/molecules/MkCard/components/MkCardBody';

export default {
  name: 'DetailBillTimelineModal',
  components: {
    MkModal,
    MkCard,
    MkCardHeader,
    MkCardBody,
  },
  mixins: [modalMixin],
  props: {
    dueDate: {
      type: String,
      required: true,
    },
    invoiceStatus: {
      type: String,
      required: true,
    },
    invoiceId: {
      type: Number,
      required: true,
    },
  },
  data() {
    return {
      isShowCard: true,
      timelineInvoice: [],
    };
  },
  computed: {
    lastConnector() {
      return this.timelineInvoice.length;
    },
  },
  watch: {
    active(val) {
      this.isShowCard = val;
    },
  },
  mounted() {
    this.getBillingTimeline(this.invoiceId);
  },
  methods: {
    hideModal() {
      this.toggleModal(false);
      this.isShowCard = false;
    },
    createTimeline(data) {
      const timeLine = [
        {
          time: `Invoice Dikirim: ${this.$dayjs(data.invoice_created_at).format(
            'dddd, DD MMM YYYY HH:MM',
          )}`,
          passed:
            data.invoice_status === 'unpaid' ||
            data.invoice_status === 'paid' ||
            data.invoice_status === 'transferred',
          description: `Menunggu pembayaran dari penyewa. Jatuh Tempo ${this.dueDate}`,
        },
        {
          time: `Dibayar: ${
            data.invoice_paid_at
              ? this.$dayjs(data.invoice_paid_at).format('dddd, DD MMM YYYY HH:MM')
              : '-'
          }`,
          passed: data.invoice_status === 'paid' || data.invoice_status === 'transferred',
          description: 'Pembayaran diterima Mamikos.',
        },
        {
          time: `Dicairkan: ${
            data.invoice_transferred_at
              ? this.$dayjs(data.invoice_transferred_at).format('dddd, DD MMM YYYY HH:MM')
              : '-'
          }`,
          passed: data.invoice_status === 'transferred',
          description: 'Telah Anda terima. Silakan cek rekening. ',
        },
      ];
      this.timelineInvoice = timeLine;
    },
    getBillingTimeline(invoiceId) {
      this.$api.getBillingTimeline(invoiceId).then((response) => {
        const { status, data } = response.data;
        if (status) {
          this.createTimeline(data);
        }
      });
    },
  },
};
</script>

<style lang="scss" src="./DetailBillTimelineModal.scss" scoped></style>
