.claim-detail-timeline {
  .timeline-card {
    display: flex;
    width: 100%;
    justify-content: space-evenly;

    .card-checkpoint {
      font-weight: bold;
      color: #000000;

      &.--active {
        color: inherit;
      }
    }

    .card-mark {
      display: flex;
      flex-direction: column;
      align-items: center;

      .bulletpoint {
        height: 15px;
        width: 15px;
        background-color: #ffff;
        border: 1px solid #dbdbdb;
        border-radius: 100%;
        margin-top: 0.6rem;

        &.--active {
          background-color: #1baa56;
        }
      }

      .connector {
        height: 98px;
        width: 2px;
        background-color: #dbdbdb;
        margin-bottom: -1rem;

        &.--active {
          background-color: #1caa56;
        }
      }
    }

    .card-info {
      width: 67%;
      .info-date {
        text-transform: capitalize;
        color: #616161;
        font-weight: normal;
      }

      .info-payment {
        font-size: 0.9em;
        span {
          color: #1b1b1b;
          font-weight: normal;
          font-size: 1em;
        }
      }
    }

    .not-active {
      color: #bbbbbb !important;
    }
  }
}

::v-deep {
  .modal-background {
    @media (max-width: 480px) {
      background-color: #ffff;
    }
  }

  .c-mk-modal__body {
    @media (max-width: 480px) {
      position: absolute;
      top: 0;
      height: 100%;
      left: -4px;
    }
  }
}

.detail-bill-modal {
  width: 100%;
  padding: 20px;

  @media (max-width: 480px) {
    padding: 0;
  }

  .c-mk-modal__body {
    height: 100%;
    position: relative;
    left: -4px;

    @media (max-width: 480px) {
      position: absolute;
      top: 0;
      height: 100%;
    }
  }

  &__header {
    text-align: center;
    border-bottom: 2px solid #e8e8e8;
    margin-bottom: 27px;
    padding: 23px 16px 0;
    height: 80px;
    position: relative;
    position: sticky;
    top: 0px;
    background-color: #ffff;

    .title-header {
      font-style: normal;
      font-weight: 900;
      font-size: 18px;
      color: #303030;
    }

    .close-icon {
      position: absolute;
      right: 17px;
      &:hover {
        cursor: pointer;
      }
    }
  }

  &__card {
    width: 558px;
    overflow: hidden;
    height: 100%;
    max-height: 82vh;

    @media (max-width: 480px) {
      height: 100%;
      box-shadow: none;
    }
  }

  &__body {
    width: 100%;
    padding: 10px 20px;
    overflow-y: auto;
    height: calc(100% - 106px);

    .title {
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 17px;
    }

    .description {
      color: #2e2d39;
      font-weight: normal;
      font-size: 16px;
    }

    .label {
      width: calc(100vw - 1025px);
      overflow: hidden;
      font-size: 16px;
      font-style: normal;
      font-weight: normal;
      line-height: 24px;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  &__footer {
    border-top: 2px solid #e8e8e8;
  }
}

@media (max-width: 480px) {
  .detail-bill-modal {
    &__card {
      position: unset;
      bottom: 0;
      left: 0;
      width: 100vw;
      height: 100%;
      margin: 0 auto;
      border-radius: 0;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
    }

    &__body {
      height: calc(105% - 100px);
      .label {
        width: 275px;
      }
    }

    &__footer {
      position: absolute;
      bottom: 11px;
      width: 100%;
      left: 0;
      background-color: #ffff;

      button {
        width: 100%;
        height: 48px;
      }
    }
  }
}
