<template>
  <div class="scheme-page --mobile">
    <scheme-content />
  </div>
</template>

<script>
import SchemeContent from '~/components/page-features/mamipoin/pages/scheme/components/SchemeContent';
export default {
  name: 'MamipoinSchemeMobile',
  components: {
    SchemeContent,
  },
};
</script>

<style scoped lang="scss" src="./mobile.scss"></style>
