<template>
  <div>
    <mk-card ref="premiumCard" :max-width="342" class="premium-card">
      <template #default>
        <mk-card-header class="premium-card__header">
          <mk-card-title key="title">
            {{ activePackageName }}
          </mk-card-title>
          <span class="premium-card__header--active-date"> Aktif s.d {{ membership.active }}</span>
        </mk-card-header>
        <mk-card-body>
          <!-- show all premium variant -->
          <template>
            <div class="is-size-6 has-text-grey premium-card__label">
              <mk-icon :width="24" variant="money-bag" class="premium-card__label--icon"></mk-icon>
              <span class="premium-card__label--text">Saldo Iklan</span>
              <a @click="handleBuyBalanceClicked" class="premium-card__buy-balance"> Beli Saldo </a>
            </div>
            <div class="is-size-4 has-text-weight-bold">
              {{ balanceAmount | currencyIDR }}
            </div>
            <div ref="balanceAlocationActivation" class="premium-card__balance-allocation">
              <div class="premium-card__balance-allocation-description">
                Aktifkan Saldo Harian
                <daily-allocation-popper :popper-props="premiumPopper">
                  <img
                    class="premium-card__balance-allocation-description__image"
                    src="~assets/images/ic_question_mark.svg"
                    alt="question mark icon"
                  />
                </daily-allocation-popper>
              </div>
              <div class="premium-card__balance-allocation-switch">
                <bg-switch
                  v-if="!isLoading"
                  :disabled="!isEligibleToDailyAllocation"
                  v-model="dailyAllocationSwitch"
                ></bg-switch>
                <span v-else class="c-loader"></span>
              </div>
            </div>
          </template>
          <modal-daily-balance-allocation
            v-model="dailyBalanceModal.show"
            :modal-type="dailyBalanceModal.type"
          ></modal-daily-balance-allocation>
        </mk-card-body>
        <mk-card-footer>
          <bg-button @click="extendPremium" variant="secondary" block> Perpanjang Paket </bg-button>
        </mk-card-footer>
        <confirm-payment-modal v-model="isConfirmModalActive" />
      </template>
    </mk-card>
    <bg-toast v-model="showToast" :duration="1000000" class="premium-card-toast"
      >Silakan update ke premium.</bg-toast
    >
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import { BgButton, BgSwitch, BgToast } from 'bangul-vue';
import MkCard from '~/components/global/molecules/MkCard';
import MkCardFooter from '~/components/global/molecules/MkCard/components/MkCardFooter';
import MkCardBody from '~/components/global/molecules/MkCard/components/MkCardBody';
import MkCardTitle from '~/components/global/molecules/MkCard/components/MkCardTitle';
import MkCardHeader from '~/components/global/molecules/MkCard/components/MkCardHeader';
import MkIcon from '~/components/global/atoms/MkIcon';
import DailyAllocationPopper from '~/components/page-features/dashboard/components/DailyAllocationPopper';
import ModalDailyBalanceAllocation from '~/components/page-features/dashboard/components/ModalDailyBalanceAllocation/ModalDailyBalanceAllocation';
import ConfirmPaymentModal from '~/components/page-features/premium/components/ConfirmPaymentModal/ConfirmPaymentModal.vue';

export default {
  name: 'PremiumCard',
  components: {
    MkCard,
    MkCardBody,
    MkCardTitle,
    MkCardHeader,
    MkCardFooter,
    MkIcon,
    DailyAllocationPopper,
    ModalDailyBalanceAllocation,
    ConfirmPaymentModal,
    BgButton,
    BgSwitch,
    BgToast,
  },
  data() {
    return {
      isLoading: false,
      premiumPopper: {
        title: 'Saldo Harian',
        text: 'Saldo Iklan Anda Akan dipotong berdasarkan alokasi harian saldo iklan Anda.',
        btnText: 'Oke',
      },
      dailyBalanceModal: {
        show: false,
        type: 'activate',
      },
      isConfirmModalActive: false,
      showToast: false,
    };
  },
  computed: {
    ...mapGetters('profile', [
      'user',
      'membership',
      'isOnDailyAllocation',
      'isEligibleToDailyAllocation',
      'showModalDailyBalanceAllocation',
    ]),
    invoice() {
      return this.$store.state.profile.ownerInvoice.invoice;
    },
    invoiceUrl() {
      return this.invoice.invoice_url;
    },
    ownerStatus() {
      return this.invoice.status;
    },
    ownerOnConfirmation() {
      return this.ownerStatus === 'Konfirmasi Pembayaran';
    },
    ownerPremium() {
      return this.ownerStatus === 'Premium';
    },
    activePackageName() {
      return this.membership.active_premium_package_name;
    },
    balanceAmount() {
      return this.membership.views;
    },
    purchaseType() {
      return this.invoice.detail_package.type === 'balance' ? 'Saldo' : 'Paket';
    },
    purchaseName() {
      return this.invoice.detail_package.name;
    },
    dailyAllocationSwitch: {
      get() {
        return this.isOnDailyAllocation;
      },
      set() {
        this.handleDailyAllocationSwitch();
      },
    },
  },
  methods: {
    extendPremium() {
      if (!this.ownerOnConfirmation) {
        this.trackActionToPremiumListLink();
        window.location.href = `${process.env.MAMIKOS_URL}/promosi-kost/premium-package`;
      } else {
        this.isConfirmModalActive = !this.isConfirmModalActive;
      }
    },
    trackActionToPremiumListLink() {
      const formatDate = (date) => date && this.$dayjs(date).format('YYYY-MM-DDTHH:mm:ss');
      const dataMoengage = {
        owner_id: this.user.user_id,
        interface: this.$device.isMobile ? 'mobile' : 'desktop',
        owner_premium_status: this.membership.status === 'Premium',
        owner_premium_package_id: this.membership.package_id,
        owner_premium_start_date: '',
        owner_premium_end_date: formatDate(this.membership.active_date),
        redirect_source: document.location.hostname,
      };

      this.$tracker.send('moe', ['[Owner] Premium Package List Visited', dataMoengage]);
    },
    handleBuyBalanceClicked() {
      if (!this.ownerOnConfirmation) {
        if (this.membership.package_category === 'trial') {
          this.showToast = true;
        } else {
          window.location.href = `${process.env.MAMIKOS_URL}/ownerpage/premium/balance`;
        }
      } else {
        this.isConfirmModalActive = !this.isConfirmModalActive;
      }
    },
    async handleDailyAllocationSwitch() {
      if (this.isOnDailyAllocation) {
        this.dailyBalanceModal = {
          show: true,
          type: 'deactivate',
        };
      } else {
        this.isLoading = true;
        try {
          await this.$store.dispatch('profile/updateDailyBalanceAllocation', 'activation');
          this.isLoading = false;
          this.$buefy.toast.open({
            duration: 2000,
            message: 'Alokasi Harian telah diaktifkan',
            position: 'is-bottom',
          });
        } catch (e) {
          this.isLoading = false;
          this.$bugsnag.notify(e);
          this.$alert('is-danger', 'Gagal', 'Terjadi galat, silakan coba lagi.');
        }
      }
    },
  },
};
</script>

<style lang="scss" src="./PremiumCard.scss"></style>
