.premium-card {
  &__header {
    &--active-date {
      font-size: 16px;
      color: #484848;
    }
  }

  &__label {
    &--icon {
      margin-left: -4px;
      vertical-align: middle;
    }

    &--text {
      display: inline-block;
      margin-left: 5px;
      color: #2e2d39;
      vertical-align: middle;
    }
  }

  &__waiting-label {
    display: block;
    width: 160px;
    margin-bottom: 10px;
  }

  &__action-btn {
    margin-bottom: 6px;
  }

  &__change-purchase {
    color: #404040 !important;
    border: 1px solid #e8e8e8 !important;
  }

  &__change-purchase:hover {
    color: #fff !important;
  }

  &__buy-balance {
    float: right;
    font-size: 14px;
    font-style: normal;
    font-weight: bold;
    line-height: 24px;
    color: #1baa56;
    text-align: right;
  }

  &__balance-allocation {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;

    &.highlighted {
      position: relative;
      z-index: 99999;
      background: #fff;
      border-radius: 5px;
      box-shadow: 0 0 0 3px rgba(255, 255, 255, 1);
    }

    &-description {
      display: flex;

      &__image {
        position: relative;
        top: 3px;
        left: 5px;
      }
    }

    &-switch {
      .c-loader {
        margin-right: 15px;
      }
    }
  }

  .c-mk-button {
    font-weight: bold;
  }
}
