<template>
  <div class="goldplus-room-list">
    <gold-plus-header
      @backClicked="handleBackClicked"
      is-show-back-button
      is-overwrite-back-button
      class="goldplus-room-list__header"
    >
      <span slot="title">Paket GoldPlus Anda</span>
    </gold-plus-header>

    <gold-plus-room-list-kost-content />
  </div>
</template>

<script>
import GoldPlusRoomListKostContent from '../components/GoldPlusRoomListKostContent';
import GoldPlusHeader from '~/components/page-features/goldplus/components/GoldPlusHeader';
export default {
  name: 'GoldPlusRoomList',
  components: { GoldPlusRoomListKostContent, GoldPlusHeader },
  methods: {
    handleBackClicked() {
      this.$router.replace({
        name: 'goldplus',
      });
    },
  },
};
</script>

<style scoped lang="scss" src="./desktop.scss"></style>
