$avatar-width: 40px;

.tenant-list {
  overflow-y: auto;

  &__list {
    padding: 0;

    &-item {
      margin: 0;
      border-bottom: 1px solid #f4f4f4;

      &:not(:last-child) {
        margin-bottom: 16px;
      }
    }
  }
}
