<template>
  <div @scroll="$emit('scrolled', $event)" class="tenant-list">
    <tenant-list-item-skeleton v-if="isFirstTimeLoading" />
    <bg-empty-state
      v-else-if="isEmpty"
      illustration-name="empty-state"
      illustration-alt="Belum Ada Penyewa Kos"
      class="tenant-list__empty-state"
      title="Belum Ada Penyewa Kos"
      description="Silakan tambah penyewa agar kelola kos jadi lebih mudah."
    />
    <ul v-else class="tenant-list__list">
      <li v-for="tenant in tenants" :key="tenant.id" class="tenant-list__list-item">
        <tenant-list-item :tenant="tenant" />
      </li>
      <li v-if="isLoadingMore" class="tenant-list__loading">
        <tenant-list-item-skeleton />
      </li>
    </ul>
  </div>
</template>

<script>
import { BgEmptyState } from 'bangul-vue';
import TenantListItem from '../TenantListItem';
import TenantListItemSkeleton from '../TenantListItemSkeleton';

export default {
  name: 'TenantList',
  components: {
    BgEmptyState,
    TenantListItem,
    TenantListItemSkeleton,
  },
  props: {
    isFirstTimeLoading: {
      type: Boolean,
      default: false,
    },
    isLoadingMore: {
      type: Boolean,
      default: false,
    },
    isEmpty: {
      type: Boolean,
      default: false,
    },
    tenants: {
      type: Array,
      default: () => [],
    },
  },
};
</script>

<style lang="scss" src="./TenantList.scss" scoped></style>
