<template>
  <div class="goldplus-packages">
    <gold-plus-header
      @backClicked="handleBackClicked"
      is-show-back-button
      is-overwrite-back-button
      class="goldplus-packages__header"
    >
      <span slot="title">Pilih Paket GoldPlus</span>
      <span slot="utilities">
        Anda hanya bisa memilih <strong>satu paket</strong> GoldPlus dibawah ini.
      </span>
    </gold-plus-header>

    <gold-plus-package-content />
  </div>
</template>

<script>
import GoldPlusHeader from '~/components/page-features/goldplus/components/GoldPlusHeader';
import GoldPlusPackageContent from '~/components/page-features/goldplus/pages/submission-packages/components/GoldPlusPackageContent';
import restrictNewSubmission from '~/components/page-features/goldplus/mixins/restrictNewSubmission';

export default {
  name: 'GoldPlusPackagesDesktop',
  components: {
    GoldPlusHeader,
    GoldPlusPackageContent,
  },
  mixins: [restrictNewSubmission],
  methods: {
    handleBackClicked() {
      this.$router.replace({
        name: 'goldplus-submission-steps',
      });
    },
  },
};
</script>

<style lang="scss" scoped src="./desktop.scss"></style>
