.goldplus-widget-label {
  padding: 16px 20px 16px 16px;
  margin: 16px 0;
  border: 1px solid #e8e8e8;
  border-radius: 8px;

  &__container {
    display: flex;
    justify-content: space-between;
  }

  &__text {
    font-size: 16px;
    font-style: normal;
    font-weight: bold;
    line-height: 24px;
    color: #4a4a4a;
  }

  &__number {
    width: 0 !important;

    &.--is-two-digit {
      margin-right: 24px;
      background-color: brown;
    }
  }
}

.is-clickable {
  cursor: pointer;
}
