<template>
  <div
    :class="{ 'is-clickable': isClickable }"
    v-show="!isLabelHidden"
    class="goldplus-widget-label"
  >
    <div class="wrap-helper">
      <div class="goldplus-widget-label__container">
        <div class="goldplus-widget-label__text">
          {{ labelData.label }}
        </div>
        <img
          v-if="isClickable"
          alt="chevron right icon"
          src="~assets/images/billing_management/chevron-right-icon-grey.svg"
        />
      </div>
      <mk-number-counter
        :number="labelData.value"
        :limit="1"
        :is-number-formatted="false"
        :class="`goldplus-widget-label__number ${isTwoDigit ? '--is-two-digit' : ''}`"
        type="dark"
      />
    </div>
  </div>
</template>

<script>
import MkNumberCounter from '~/components/global/atoms/MkNumberCounter';
export default {
  name: 'GoldPlusWidgetLabel',
  components: {
    MkNumberCounter,
  },
  props: {
    labelData: {
      type: Object,
      required: true,
    },
  },
  computed: {
    isClickable() {
      return this.labelData.button_visible;
    },
    isLabelHidden() {
      return this.labelData.label === 'Sedang di-review' && this.labelData.value === 0;
    },
    isTwoDigit() {
      return this.labelData.value > 9;
    },
  },
};
</script>

<style scoped lang="scss" src="./GoldPlusWidgetLabel.scss"></style>
