.c-wrapper {
  width: 804px;
  margin: 24px auto 0;

  @media (max-width: 1024px) {
    width: 360px;
    margin: 0 auto;
    overflow: hidden;
  }
}

.nav-top {
  position: fixed;
  top: 16px;
  right: 0;
  left: 0;
  z-index: 99;
  display: flex;
  width: 100%;
  height: auto;
  margin: 0;
  justify-content: space-between;

  &__content {
    float: right;
    width: 28px;
    height: 100%;
    margin: 0 18px;
    background-color: rgb(255, 255, 255);
  }
}

::v-deep .bg-c-link--medium-naked {
  font-weight: bold;
  line-height: 24px;
}

::v-deep .bg-c-illustration {
  width: 100%;
  height: auto;
}

.c-body {
  position: relative;
  display: flex;
  margin: 0;

  @media (max-width: 1024px) {
    display: inline;
    margin: 0;
  }

  &__content {
    width: 389px;
    height: auto;

    @media (max-width: 1024px) {
      width: 360px;
    }
  }
  &__illustration {
    width: 389px;
    height: 288px;
    margin: 24px auto 0;

    @media (max-width: 1024px) {
      width: 272px;
      height: 201px;
      margin: 4px auto 0;
    }
  }
}

.c-title {
  width: 388px;
  height: auto;
  margin: 59px 0 0 27px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;

  @media (max-width: 1024px) {
    width: 328px;
    margin: 16px auto 0;
  }

  &__content {
    font-size: 32px;
    font-weight: 900;
    line-height: 40px;
    color: #303030;

    @media (max-width: 1024px) {
      font-size: 28px;
      line-height: 36px;
      text-align: center;
    }
  }
  &__info {
    margin: 8px 0 0;
    font-size: 20px;
    line-height: 30px;
    color: #404040;

    @media (max-width: 1024px) {
      margin: 16px auto 0;
      font-size: 14px;
      line-height: 20px;
      text-align: center;
    }
  }
}

// line mobiel
hr {
  margin: 0;
}
.c-line {
  position: fixed;
  right: 0;
  bottom: 72px;
  left: 0;
  width: 100%;
  height: 1px;
  margin: 15 0;
  background: #e8e8e8;
}

.c-button {
  width: 388px;
  height: 120px;
  margin: 32px auto;

  @media (max-width: 1024px) {
    position: fixed;
    right: 0;
    bottom: 16px;
    left: 0;
    width: 100%;
    height: auto;
    margin: 0;
  }
  &__content {
    width: 180px;
    text-align: left;

    @media (max-width: 1024px) {
      width: 328px;
      margin-right: auto;
      margin-left: auto;
    }
  }
}
