<template>
  <div class="c-wrapper">
    <div v-if="isDesktop" @click="close" class="c-navigation">
      <bg-link variant="medium-naked">Ke Halaman Utama</bg-link>
    </div>

    <div v-if="!isDesktop" class="nav-top">
      <div @click="prevPage" class="nav-top__content">
        <bg-icon name="back" size="md" />
      </div>
      <div @click="close" class="nav-top__content">
        <bg-icon name="close" size="md" />
      </div>
    </div>
    <div class="c-body">
      <div class="c-body__content">
        <div class="c-body__illustration">
          <bg-illustration
            name="performance-dashboard"
            alt="performance-dashboard"
            height="325"
            width="278"
          />
        </div>
      </div>
      <div class="c-title">
        <div class="c-title__content">
          Lihat performa kos lainnya di dashboard personal Anda
        </div>
        <div class="c-title__info">
          Anda bisa mengakses kembali halaman ini melalui daftar notifikasi di aplikasi Mamikos.
        </div>

        <hr v-if="!isDesktop" class="c-line" />
        <div class="c-button">
          <div class="c-button__content">
            <bg-button @click="nextPage" variant="primary" size="lg" block
              >Buka Dashboard</bg-button
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { BgIllustration, BgButton, BgLink, BgIcon } from 'bangul-vue';
export default {
  name: 'SeeOtherPerformance',
  components: {
    BgIcon,
    BgLink,
    BgButton,
    BgIllustration,
  },

  computed: {
    isDesktop() {
      return this.$device.isDesktop;
    },
  },

  methods: {
    close() {
      this.$router.push({ path: '/' });
    },
    prevPage() {
      this.$router.push({ path: '/exit-gp-statistic/offer-extend-gp' });
    },

    nextPage() {
      this.$router.push({ path: '/goldplus' });
    },
  },
};
</script>

<style lang="scss" src="./SeeOtherPerformance.scss" scoped></style>
