<template>
  <div class="need-verification">
    <img class="need-verification__image" src="~assets/images/dashboard/need-verification.svg" />
    <h4 class="need-verification__title">{{ capitalizeTypeProperty }} Anda Sedang Diverifikasi</h4>
    <p class="need-verification__caption">
      Jika proses verifikasi selesai, iklan {{ typeProperty }} Anda akan otomatis muncul di sini.
    </p>
    <mk-button @clicked="handleAddKosClicked" color="green-brand" block>
      Tambah Kos
    </mk-button>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import MkButton from '~/components/global/atoms/MkButton';

export default {
  name: 'StateNeedVerification',
  components: {
    MkButton,
  },
  props: {
    type: {
      type: String,
      default: 'kos',
    },
  },
  computed: {
    ...mapGetters('profile', ['isBbk', 'user', 'isPremium']),
    typeProperty() {
      return this.type === 'kos' ? 'kos' : 'apartemen';
    },
    capitalizeTypeProperty() {
      return this.typeProperty.charAt(0).toUpperCase() + this.typeProperty.substr(1);
    },
  },
  methods: {
    handleAddKosClicked() {
      this.$tracker.send('moe', [
        '[Owner] Dashboard - Tambah Kos Button Clicked',
        {
          user_id: this.user.user_id,
          interface: this.$device.isMobile ? 'mobile' : 'desktop',
          is_booking: this.isBbk,
          is_premium: this.isPremium,
        },
      ]);
      window.location.href = `${process.env.MAMIKOS_URL}/ownerpage/add?input-property=true`;
    },
  },
};
</script>

<style lang="scss" src="./StateNeedVerification.scss"></style>
