.need-verification {
  max-width: 328px;
  margin: auto;

  &__image {
    display: block;
    margin: auto;
  }

  &__title {
    font-size: 14px;
    font-weight: bold;
    line-height: 21px;
    text-align: center;
  }

  &__caption {
    margin-bottom: 45px;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
  }
}
