<template>
  <div class="c-wrapper">
    <div
      v-if="isDesktop"
      @click="prevPage(isDataFirstPageComplite, isDataSecondPageComplite)"
      class="c-navigation"
    >
      <bg-link variant="medium-naked">Kembali</bg-link>
    </div>
    <div v-if="!isDesktop" class="nav-top">
      <div
        @click="prevPage(isDataFirstPageComplite, isDataSecondPageComplite)"
        class="nav-top__content"
      >
        <bg-icon name="back" size="md" />
      </div>
    </div>
    <div class="c-body">
      <div class="c-body__content">
        <div v-if="isDesktop" class="c-body__illustration">
          <bg-illustration name="type-kos" alt="type-kos" height="241" width="164" />
        </div>
        <!-- title left -->
        <div class="mobile-layout">
          <div class="l-title">
            <div class="l-title__small">Kos Anda</div>
            <div v-if="$store.state.statistic.statisticData" class="l-title__big ">
              {{ $store.state.statistic.personalStatisticData.room_title }}
            </div>
          </div>
          <div v-if="!isDesktop" class="c-body__illustration">
            <bg-illustration name="type-kos" alt="type-kos" height="122" width="170" />
          </div>
        </div>
      </div>
      <div v-if="$store.state.statistic.statisticData" class="l-right">
        <hr v-if="!isDesktop" class="c-line__top" />
        <div class="c-title">
          <p v-if="currentSectionStatus === 'firstPage'" class="c-title__content">
            Ada perubahan dengan jumlah anak kos yang penasaran sama kos Anda
          </p>
          <p v-else class="c-title__content">
            Ketertarikan anak kos dengan kos Anda juga berubah
          </p>
        </div>
        <statistic-data v-if="currentSectionStatus === 'firstPage'" :data="firstPage" />
        <statistic-data v-if="currentSectionStatus === 'secondPage'" :data="secondPage" />
        <hr v-if="!isDesktop" class="c-line" />

        <div class="c-button">
          <div class="c-button__content">
            <div v-if="!isDesktop" class="c-button__mobile">
              <bg-button
                @click="prevPage(isDataFirstPageComplite, isDataSecondPageComplite)"
                variant="tertiary"
                size="lg"
                block
                >Kembali</bg-button
              >
            </div>
            <div class="c-button__mobile">
              <bg-button
                @click="nextPage(isDataFirstPageComplite, isDataSecondPageComplite)"
                variant="primary"
                size="lg"
                block
                >Lanjut</bg-button
              >
            </div>
          </div>
        </div>
      </div>
      <div v-else class="c-title">
        <statisticSkeleton />
      </div>
    </div>
  </div>
</template>

<script>
import { mapMutations, mapState } from 'vuex';
import { BgIllustration, BgButton, BgLink, BgIcon } from 'bangul-vue';
import statisticMixin from '../../mixins/statisticMixin';
import statisticSkeleton from '../LandingStatisticPage/skeletonGpStatistic';
import StatisticData from './StatisticData';
export default {
  name: 'InfoKosStatistic',
  components: {
    BgLink,
    BgIcon,
    statisticSkeleton,
    BgButton,
    StatisticData,
    BgIllustration,
  },
  mixins: [statisticMixin],
  data() {
    return {
      currentSectionStatus: 'firstPage',
    };
  },
  computed: {
    ...mapState('statistic', {
      storeDataStatistic: (state) => state.statisticData,
    }),

    storeStatistic() {
      return this.storeDataStatistic !== null ? this.storeDataStatistic : '';
    },

    isDesktop() {
      return this.$device.isDesktop;
    },

    firstPage() {
      const firstSection = {
        firstList: {
          title: 'Kunjungan Iklan Kos',
          info: 'Kunjungan Iklan adalah berapa kali iklan kos Anda dilihat oleh para pencari kos.',
          type: this.storeStatistic.visit ? this.storeStatistic.visit.growth_type : false,
          value: this.storeStatistic.visit ? this.storeStatistic.visit.value : false,
        },
        secondList: {
          title: 'Pengunjung Iklan Kos',
          info: 'Pengunjung iklan adalah pencari kos yang melihat iklan Anda.',
          type: this.storeStatistic.unique_visit
            ? this.storeStatistic.unique_visit.growth_type
            : false,
          value: this.storeStatistic.unique_visit ? this.storeStatistic.unique_visit.value : false,
        },
      };
      return firstSection;
    },

    secondPage() {
      const secondSection = {
        firstList: {
          title: 'Chat Masuk',
          info: 'Chat masuk adalah jumlah chat yang Anda terima dari pencari kos.',
          type: this.storeStatistic.chat ? this.storeStatistic.chat.growth_type : false,
          value: this.storeStatistic.chat ? this.storeStatistic.chat.value : false,
        },
        secondList: {
          title: 'Peminat Kos',
          info: 'Peminat kos adalah pencari kos yang klik Favorit ❤️ di iklan kos Anda.',
          type: this.storeStatistic.favorite ? this.storeStatistic.favorite.growth_type : false,
          value: this.storeStatistic.favorite ? this.storeStatistic.favorite.value : false,
        },
      };
      return secondSection;
    },

    isDataFirstPageComplite() {
      let result;
      if (this.storeStatistic.visit && this.storeStatistic.unique_visit) {
        result = 'complite';
      } else {
        result = 'notComplite';
      }

      return result;
    },

    isDataSecondPageComplite() {
      let result;
      if (this.storeStatistic.chat && this.storeStatistic.favorite) {
        result = 'complite';
      } else {
        result = 'notComplite';
      }

      return result;
    },
  },

  watch: {
    isDataFirstPageComplite() {
      this.isPageDataComplite();
    },
  },

  created() {
    this.isDataReadyOnStore();
  },

  methods: {
    ...mapMutations('statistic', ['setHistoryStatisticPage']),

    isPageDataComplite() {
      if (this.isDataFirstPageComplite === 'complite') {
        this.currentSectionStatus = 'firstPage';
      } else {
        this.currentSectionStatus = 'secondPage';
      }
    },

    isDataReadyOnStore() {
      if (
        this.$store.state.statistic.statisticData &&
        this.$store.state.statistic.currentStatisticPage
      ) {
        this.currentSectionStatus = this.$store.state.statistic.currentStatisticPage;
      } else {
        this.getAllStatisticData();
        this.isPageDataComplite();
      }
    },

    routePrevComplitePage() {
      if (this.currentSectionStatus === 'firstPage') {
        this.$router.push({ path: '/exit-gp-statistic' });
      } else {
        this.currentSectionStatus = 'firstPage';
        this.setHistoryStatisticPage('firstPage');
      }
    },

    routeNextComplitePage() {
      if (this.currentSectionStatus === 'firstPage') {
        this.currentSectionStatus = 'secondPage';
      } else {
        this.$router.push({ path: '/exit-gp-statistic/statistic-price' });
        this.setHistoryStatisticPage('secondPage');
      }
    },

    prevPage(firstPagestatus, secondPageStatus) {
      if (firstPagestatus === 'complite' && secondPageStatus === 'complite') {
        this.routePrevComplitePage();
      } else {
        this.$router.push({ path: '/exit-gp-statistic' });
      }
    },

    nextPage(firstPagestatus, secondPageStatus) {
      if (firstPagestatus === 'complite' && secondPageStatus === 'complite') {
        this.routeNextComplitePage();
      } else {
        this.$router.push({ path: '/exit-gp-statistic/statistic-price' });
        this.setHistoryStatisticPage(this.currentSectionStatus);
      }
    },
  },
};
</script>

<style lang="scss" src="./InfoKosStatistic.scss" scoped></style>
