.c-wrapper {
  width: 700px;
  margin: 24px auto 0;
  @media (max-width: 1024px) {
    width: 360px;
    margin: 1px auto 0;
  }
}

::v-deep .bg-c-link--medium-naked {
  font-weight: bold;
  line-height: 24px;
}

::v-deep .bg-c-illustration {
  width: 100%;
  height: auto;
}

.mobile-layout {
  @media (max-width: 1024px) {
    display: flex;
    width: 360px;
    margin: 0 auto;
  }
}
.c-body {
  position: relative;
  display: flex;
  margin: 0;
  @media (max-width: 1024px) {
    position: relative;
    display: inline;
    margin: 0;
  }

  &__content {
    width: 284px;
    height: auto;
  }
  &__illustration {
    width: 270px;
    height: 165px;
    margin: 24px auto 0;

    @media (max-width: 1024px) {
      width: 150px;
      height: 112px;
      margin: 24px auto 0;
    }
  }
}

.l-title {
  margin: 65px 0 0;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;

  @media (max-width: 1024px) {
    width: 178px;
    height: 64;
    margin: 34px 0 0 7px;
  }
  &__small {
    font-size: 20px;
    line-height: 28px;
    color: #949494;

    @media (max-width: 1024px) {
      font-size: 16px;
      line-height: 24px;
    }
  }

  &__big {
    margin-bottom: 8px;
    font-size: 32px;
    line-height: 40px;
    color: #303030;
    @media (max-width: 1024px) {
      font-size: 24px;
      line-height: 32px;
    }
  }
}


.l-right {
  position: relative;
  left: 25px;

  @media (max-width: 1024px) {
    position: inlines;
    left: 0;
  }
}

.c-title {
  width: 388px;
  height: auto;
  margin: 24px auto 0;
  text-align: left;

  @media (max-width: 1024px) {
    width: 328px;
    height: auto;
    margin: 41px auto 0;
  }
  &__content {
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: 32px;
    color: #303030;

    @media (max-width: 1024px) {
      font-size: 20px;
      line-height: 28px;
    }
  }
}

.c-subtitle {
  width: 388px;
  height: auto;
  margin: 8px auto 0;
  text-align: center;
  &__content {
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: normal;
    line-height: 30px;
    color: #404040;
    text-align: left;
  }
}

.l-statistic {
  display: flex;
  margin: 26px 0 0;
  font-family: Lato;
  font-style: normal;
  justify-content: space-between;

  &__title {
    font-size: 20px;
    font-weight: 900;
    line-height: 28px;
    color: #303030;

    @media (max-width: 1024px) {
      font-size: 18px;
      line-height: 26px;
    }
  }

  &__up {
    float: right;
    font-size: 20px;
    font-weight: 900;
    line-height: 28px;
    color: #1baa56;

    @media (max-width: 1024px) {
      font-size: 18px;
      line-height: 26px;
    }
  }

  &__down {
    font-size: 20px;
    font-weight: bold;
    line-height: 28px;
    color: #da3438;

    @media (max-width: 1024px) {
      font-size: 18px;
      line-height: 26px;
    }
  }

  &__nominal {
    font-size: 24px;
    font-weight: bold;
    line-height: 32px;
    color: #303030;

    @media (max-width: 1024px) {
      font-size: 20px;
      line-height: 28px;
    }
  }

  &__information {
    margin: 5px 0 0;
    font-size: 20px;
    line-height: 30px;
    color: #404040;
    @media (max-width: 1024px) {
      font-size: 16px;
      line-height: 24px;
    }
  }

  &__empty {
    font-size: 24px;
    font-weight: bold;
    line-height: 32px;
  }
}

// line mobile
hr {
  margin: 0;
}
.c-line {
  position: fixed;
  right: 0;
  bottom: 72px;
  left: 0;
  width: 100%;
  height: 1px;
  margin: 15 0;
  background: #e8e8e8;

  &__top {
    position: inline;
    right: 0;
    bottom: 0;
    left: 0;
    width: 328px;
    margin: 24px auto 0 auto;
  }
}
.c-button {
  width: 388px;
  height: 120px;
  margin: 32px auto;

  @media (max-width: 1024px) {
    position: fixed;
    right: 0;
    bottom: 16px;
    left: 0;
    width: 100%;
    height: auto;
    margin: 0;
  }

  &__content {
    width: 180px;
    text-align: left;

    @media (max-width: 1024px) {
      display: flex;
      justify-content: space-between;
      width: 328px;
      margin-right: auto;
      margin-left: auto;
    }
  }

  &__mobile {
    @media (max-width: 1024px) {
      width: 156px;
    }
  }
}

.nav-top {
  position: fixed;
  top: 16px;
  right: 0;
  left: 0;
  z-index: 99;
  display: flex;
  width: 20px;
  height: auto;
  margin: 0;
  justify-content: left;

  &__content {
    float: right;
    height: 100%;
    margin: 0 20px;
    background-color: rgb(255, 255, 255);
  }
}
