<template>
  <div class="c-title">
    <div v-if="data.firstList.value" class="l-statistic ">
      <div class="l-statistic__title">{{ data.firstList.title }}</div>
      <div
        :class="{
          'l-statistic__up': data.firstList.type === 'up',
          'l-statistic__down': data.firstList.type === 'down',
        }"
      >
        {{ statisticGrowthType(data.firstList.type) }}
        <span class="l-statistic__nominal"> {{ data.firstList.value }}</span>
      </div>
    </div>
    <div v-if="data.firstList.value" class="l-statistic__information">
      {{ data.firstList.info }}
    </div>
    <!-- sacond content -->
    <div v-if="data.secondList.value">
      <div class="l-statistic ">
        <div class="l-statistic__title">{{ data.secondList.title }}</div>
        <div
          :class="{
            'l-statistic__up': data.secondList.type === 'up',
            'l-statistic__down': data.secondList.type === 'down',
          }"
        >
          {{ statisticGrowthType(data.secondList.type) }}
          <span class="l-statistic__nominal"> {{ data.secondList.value }}</span>
        </div>
      </div>
      <div class="l-statistic__information">
        {{ data.secondList.info }}
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'StatiscData',
  props: {
    data: {
      type: Object,
      required: true,
    },
  },

  methods: {
    statisticGrowthType(status) {
      return status === 'up' ? 'Naik' : 'Turun';
    },
  },
};
</script>

<style lang="scss" src="./InfoKosStatistic.scss" scoped></style>
