.verify-phone-modal {
  max-width: 298px;

  &__header {
    padding: 15px;
    font-size: 18px;
    color: #fff;
    text-align: center;
    background-color: #1baa56;
  }

  &__send-code {
    margin-top: 15px;
    font-weight: bold;
  }

  &__later:enabled {
    border-width: 0;
    &:hover {
      color: #1baa56;
      background-color: #fff;
      border-width: 0;
    }
    &:focus {
      color: #1baa56;
      background-color: #fff;
      border-width: 0;
    }
  }

  &__later:disabled {
    border-width: 0;
  }

  &__verification-code {
    margin: 15px 0;
    /*  stylelint-disable-next-line */
    /deep/ input {
      text-align: center;
    }
  }
}
