<template>
  <mk-modal v-model="active">
    <mk-card class="verify-phone-modal">
      <mk-card-header class="verify-phone-modal__header">Verifikasi Akun</mk-card-header>
      <mk-card-body>
        <p class="has-text-centered">
          Mohon verifikasi nomor Anda agar calon penyewa bisa langsung menghubungi Anda
        </p>
        <div v-if="toggleSection">
          <mk-button
            @clicked="handleRequestCodeButtonClicked"
            :has-spinner="isRequestingCode"
            :disabled="isRequestingCode"
            color="green-inverse"
            block
            class="verify-phone-modal__send-code"
          >
            Verifikasi No. Handphone
          </mk-button>
          <mk-button
            @clicked="handleLaterButtonClicked"
            :disabled="isRequestingCode"
            color="green-inverse"
            block
            class="verify-phone-modal__later"
          >
            Nanti Saja
          </mk-button>
        </div>
        <div v-else>
          <b-input
            v-model="verificationCode"
            :has-counter="false"
            maxlength="4"
            class="verify-phone-modal__verification-code"
            placeholder="Masukan kode verifikasi di sini"
          />
          <mk-button
            @clicked="handleSubmitButtonClicked"
            :has-spinner="isSendingData"
            :disabled="!verificationCode || isSendingData"
            color="orange"
            block
            class="verify-phone-modal__submit"
          >
            Submit Kode
          </mk-button>
        </div>
      </mk-card-body>
    </mk-card>
  </mk-modal>
</template>

<script>
import MkModal, { mixin as modalMixin } from '~/components/global/molecules/MkModal/MkModal';
import MkCard from '~/components/global/molecules/MkCard';
import MkCardBody from '~/components/global/molecules/MkCard/components/MkCardBody';
import MkCardHeader from '~/components/global/molecules/MkCard/components/MkCardHeader';
import MkButton from '~/components/global/atoms/MkButton';
export default {
  name: 'ModalVerifyPhone',
  components: {
    MkModal,
    MkButton,
    MkCard,
    MkCardBody,
    MkCardHeader,
  },
  mixins: [modalMixin],
  data() {
    return {
      isRequestingCode: false,
      isSendingData: false,
      verificationCode: '',
      toggleSection: true,
    };
  },
  methods: {
    handleLaterButtonClicked() {
      this.toggleModal(false);
    },
    async handleRequestCodeButtonClicked() {
      this.isRequestingCode = true;
      const response = await this.$api.requestCode();
      if (response.data.status) {
        this.toggleSection = false;
        await this.$alert(
          'is-success',
          'Sukses',
          'Kami telah mengirimkan SMS kode verifikasi ke no. handphone Anda',
        );
      } else {
        this.isRequestingCode = false;
        await this.$alert('is-danger', 'Gagal!', response.data.meta.message);
      }
    },
    async handleSubmitButtonClicked() {
      this.isSendingData = true;
      const response = await this.$api.submitVerificationCode({ code: this.verificationCode });
      if (response.data.status) {
        await this.$alert('is-success', 'Sukses', 'Verifikasi no. handphone berhasil');
        this.toggleModal(false);
      } else {
        this.isSendingData = false;
        await this.$alert('is-danger', 'Gagal!', response.data.meta.message);
      }
    },
  },
};
</script>

<style lang="scss" src="./ModalVerifyPhone.scss" scoped></style>
