.simple-text {
  color: #303030;
}

.no-margin {
  margin: 0 !important;
}

.billing-management {
  box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.02), 0px 1px 4px rgba(0, 0, 0, 0.08);
  border-radius: 4px;

  @media (max-width: 480px) {
    box-shadow: none;
  }

  &__red-dot {
    margin-left: 5px;
  }

  &__button {
    &__due-date {
      position: absolute;
      right: 25px;
      top: 13px;
      border: 1px solid #e8e8e8;
      background: #ffffff;
      border-radius: 20px;
      color: #404040;
      font-size: 14px;
      padding: 5px 21px;
      transition: all 0.2s linear;

      @media (max-width: 480px) {
        position: relative;
        right: 0;
        top: 0;
        float: right;
        padding: 4px 14px;
      }

      span {
        margin-left: 5px;
      }

      &:hover {
        box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.12);
      }
    }
  }
}
