<template>
  <div>
    <template v-if="!isMobile">
      <billing-management-card />
      <billing-management-search-input />
    </template>

    <div class="billing-management">
      <billing-management-search-input v-if="isMobile" />
      <billing-management-tabs>
        <a
          @click.prevent="openFilterListModal()"
          v-if="!isMobile && page === 'unpaid' && paginationData.length >= 1"
          class="billing-management__button__due-date"
          href="#"
        >
          <img
            class="billing-management__link-remember__icon"
            src="~assets/images/billing_management/ic_filter_updown.svg"
          />
          <span>
            {{ sortBy }}
          </span>
        </a>
      </billing-management-tabs>

      <template v-if="isMobile">
        <billing-management-card />
      </template>
      <billing-management-header v-if="isMobile && page === 'unpaid'" title="Urut Berdasarkan">
        <a
          v-if="page === 'unpaid' && paginationData.length >= 1"
          @click.prevent="openFilterListModal()"
          class="billing-management__button__due-date"
          href="#"
        >
          <img
            class="billing-management__link-remember__icon"
            src="~assets/images/billing_management/ic_filter_updown.svg"
          />
          <span>
            {{ sortBy }}
          </span>
        </a>
      </billing-management-header>
      <billing-management-list />
    </div>

    <billing-management-pagination />
    <billing-management-filter-list-modal v-model="isFilterListModalVisible" />
    <billing-management-reminder-modal
      :type-reminder="dataReminder.type"
      :tenant-name="dataReminder.tenantName"
      :invoice-id="dataReminder.invoiceId"
      :refresh-page-number="pageNumber"
      v-model="isReminderModalVisible"
    />
  </div>
</template>

<script>
import BillingManagementSearchInput from '../BillingManagementSearchInput';
import BillingManagementCard from '../BillingManagementCard';
import BillingManagementPagination from '../BillingManagementPagination';
import BillingManagementTabs from '../BillingManagementTabs';
import BillingManagementList from '../BillingManagementList';
import BillingManagementHeader from '~/components/page-features/kelola-tagihan/components/BillingManagementHeader';
import BillingManagementFilterListModal from '~/components/page-features/kelola-tagihan/components/BillingManagementFilterListModal';
import BillingManagementReminderModal from '~/components/page-features/kelola-tagihan/components/BillingManagementReminderModal';
import EventBus from '~/components/event-bus/index.js';

export default {
  components: {
    BillingManagementSearchInput,
    BillingManagementCard,
    BillingManagementPagination,
    BillingManagementTabs,
    BillingManagementList,
    BillingManagementHeader,
    BillingManagementFilterListModal,
    BillingManagementReminderModal,
  },

  data() {
    return {
      isFilterListModalVisible: false,
      isReminderModalVisible: false,
      dataReminder: {
        type: 'all',
        invoiceId: 0,
        tenantName: '',
      },
      headerColumn: [
        {
          title: 'Kamar / Penyewa',
          justifySelf: 'start',
        },
        {
          title: 'Status Tagihan',
          justifySelf: 'center',
        },
        {
          title: 'Jatuh Tempo',
          justifySelf: 'start',
        },
        {
          title: 'Total Tagihan',
          justifySelf: 'start',
        },
        {
          title: 'Ingatkan Penyewa',
          justifySelf: 'center',
        },
      ],
      tabsMenu: [
        {
          title: 'Belum Bayar',
          notification: false,
        },
        {
          title: 'Di Mamikos',
          notification: true,
        },
        {
          title: 'Ditransfer',
          notification: false,
        },
      ],
      lastActiveTab: 0,
    };
  },

  computed: {
    isMobile() {
      return this.$device.isMobile;
    },
    sortBy() {
      return this.sortByText(this.$store.state.billingManagement.filterOption.sortBy);
    },
    pageNumber() {
      return this.$store.state.billingManagement.pagination.pageNumber;
    },
    paginationData() {
      return this.$store.state.billingManagement.pagination.data;
    },
    page() {
      return this.$route.query.page;
    },
  },

  mounted() {
    EventBus.$on('eventModalReminder', ({ invoiceId = 0, type, tenantName = '' }) => {
      this.dataReminder = {
        type,
        invoiceId,
        tenantName,
      };
      this.isReminderModalVisible = true;
    });
  },

  methods: {
    sortByText(type) {
      const sortByText = {
        scheduled_date: 'Tanggal Jatuh Tempo',
        room_number: 'Kamar',
        tenant_name: 'Nama Penyewa',
      };
      return sortByText[type];
    },
    openFilterListModal() {
      this.isFilterListModalVisible = true;
    },
  },
};
</script>

<style lang="scss" src="./BillingManagement.scss"></style>
