<template>
  <widget-card
    title="Ada yang Menunggu"
    description="Respon segera untuk performa kos yang lebih baik."
    class="widget-waiting"
  >
    <template v-for="(menu, index) in menus">
      <div
        v-if="menu.counter > 0"
        :key="index"
        @click="goToMenuPage(menu)"
        class="widget-waiting__menu-list"
      >
        <mk-action-card
          :title="menu.title"
          :subtitle="menu.subtitle"
          :icon-text="menu.counter"
          :has-red-dot="menu.unread"
          icon-type="circle"
        />
      </div>
    </template>
  </widget-card>
</template>

<script>
import { mapState } from 'vuex';
import MixinDashboardTracker from '../../mixins/dashboardTracker';
import WidgetCard from '~/components/page-features/dashboard/components/WidgetCard';
import MkActionCard from '~/components/global/molecules/MkActionCard';

export default {
  name: 'WaitingCard',

  components: {
    MkActionCard,
    WidgetCard,
  },

  mixins: [MixinDashboardTracker],

  computed: {
    ...mapState('dashboard', ['dashboardData', 'isLoading']),
    menus() {
      return [
        {
          title: 'Booking Menunggu',
          subtitle: 'Balas pengajuan sewa pencari kos',
          type: 'booking',
          counter: this.dashboardData.total_off_booking_pending,
          unread: this.dashboardData.unread_booking_pending_badge,
          route: `${this.$mamikosUrl}/ownerpage/manage/all/booking?status=need_confirmation`,
          tracker: '[Owner] OD Ada yang Menunggu - Booking Menunggu Clicked',
        },
        {
          title: 'Tagihan Penyewa',
          subtitle: 'Ingatkan bayar kos ke penyewa',
          type: 'bill',
          counter: this.dashboardData.total_off_unpaid_invoice,
          unread: this.dashboardData.unread_unpaid_invoice_badge,
          route: '/billing-management?page=unpaid',
          tracker: '[Owner] OD - Kelola Tagihan Clicked',
        },
        {
          title: 'Kontrak Sewa Menunggu',
          subtitle: 'Balas pengajuan kontrak penyewa',
          type: 'contract',
          counter: this.dashboardData.total_off_contract_submission,
          unread: this.dashboardData.unread_contract_submission_badge,
          route: '/contract-request',
          tracker: '[Owner] OD Ada yang Menunggu - Kontrak Sewa Menunggu Clicked',
        },
      ];
    },
  },

  methods: {
    goToMenuPage(menu) {
      this.sendTracker(menu.tracker);
      if (menu.type === 'booking') {
        window.location.href = menu.route;
      } else {
        this.$router.push(menu.route);
      }
    },
    sendTracker(trackerName) {
      const redirectionSource = {
        redirection_source: 'tab_home',
      };
      this.sendDashboardTracker(trackerName, redirectionSource);
    },
  },
};
</script>

<style lang="scss" src="./WaitingCard.scss"></style>
