<template>
  <div :style="initialColumnStyle" class="bm-grid-row">
    <slot></slot>
  </div>
</template>

<script>
export default {
  name: 'GridColumn',

  props: {
    justifySelf: {
      type: String,
      default: 'start',
    },
    alignSelf: {
      type: String,
      default: 'start',
    },
  },

  computed: {
    initialColumnStyle() {
      return {
        'justify-self': this.justifySelf,
        'align-self': this.alignSelf,
      };
    },
  },
};
</script>

<style lang="scss" src="./GridRow.scss"></style>
