.goldplus-submission-tnc-modal-body {
  &__close-button {
    cursor: pointer;
  }

  &__title {
    padding: 16px 16px 12px;
    margin-bottom: 16px;
    font-size: 24px;
    font-weight: 900;
    line-height: 28px;
    border-bottom: 1px solid #e8e8e8;

    @media (min-width: 768px) {
      padding: 0 48px;
      margin-bottom: 24px;
      border-bottom: unset;
    }
  }

  &__tnc-content {
    height: calc(100vh - (59px + 78px + 119px)); // modal size, header, title, footer;
    padding: 0 16px;
    padding-bottom: 18px;
    overflow-y: auto;

    @media (min-width: 768px) {
      height: calc(600px - (59px + 52px + 96px)); // modal size, header, title, footer;
      padding: 0 48px;
    }
  }
}
