<template>
  <div class="goldplus-submission-tnc-modal-body">
    <h2 class="goldplus-submission-tnc-modal-body__title">
      Syarat dan Ketentuan
    </h2>

    <tnc-content
      ref="tncContent"
      @scrolled="handleTnCScrolling"
      class="goldplus-submission-tnc-modal-body__tnc-content"
    />

    <tnc-footer
      :isCheckboxDisabled="isCheckboxDisabled"
      class="goldplus-submission-tnc-modal-body__footer"
    />
  </div>
</template>

<script>
import GoldPlusSubmissionTnCContent from '../GoldPlusSubmissionTnCContent';
import GoldPlusSubmissionTnCFooter from '../GoldPlusSubmissionTnCFooter';

export default {
  name: 'GoldPlusSubmissionTnCModalBody',
  components: {
    'tnc-content': GoldPlusSubmissionTnCContent,
    'tnc-footer': GoldPlusSubmissionTnCFooter,
  },
  data() {
    return {
      isCheckboxDisabled: true,
      isShowSuccessModal: false,
    };
  },
  methods: {
    handleTnCScrolling(e) {
      const { scrollTop, scrollHeight, clientHeight } = e.target;

      // scroll element reaches bottom
      // 100 is buffer number to prevent checkbox problem
      if (scrollHeight - clientHeight - 100 < Math.ceil(scrollTop)) this.isCheckboxDisabled = false;
    },
  },
};
</script>

<style lang="scss" src="./GoldPlusSubmissionTnCModalBody.scss" scoped></style>
