<template>
  <div ref="mamipoinTabs" class="mamipoin-tabs">
    <div
      :class="{ '--has-highlight': isPopoverShown }"
      class="b-tabs mamipoin-tabs__tabs is-fullwidth"
    >
      <nav class="tabs is-fullwidth">
        <ul class="mamipoin-tabs__list">
          <li
            :ref="'mamipoinTabListItem' + index"
            v-for="(tab, index) in tabs"
            :class="[
              { 'is-active': activeTab == index },
              { 'is-highlighted': currentStep === index && isPopoverShown },
            ]"
            :key="'tabListIndex' + index"
            class="tab-item"
          >
            <a
              @click="handleTabLinkClick(tab, index)"
              href="javascript:void(0)"
              class="tab-item__link"
            >
              <span>{{ tab.label }}</span></a
            >

            <guide-popover
              v-if="currentStep === index && isPopoverShown"
              :is-active="isPopoverShown"
              :offset="isDesktop ? 80 : -200"
              :title="onboardingSteps[currentStep].title"
              :message="onboardingSteps[currentStep].message"
              :placement="
                isDesktop
                  ? onboardingSteps[currentStep].desktopPlacement
                  : onboardingSteps[currentStep].mobilePlacement
              "
              :boundaries-element="
                isDesktop ? $refs['mamipoinTabListItem' + activeTab] : parent.$refs.mamipoinHeader
              "
              @click:popover-button="navigatePopover"
            />
          </li>
        </ul>
      </nav>

      <section class="tab-content">
        <div
          v-for="(tab, index) in tabs"
          :key="'tabContent' + index"
          v-show="activeTab === index"
          class="mamipoin-tabs__item tab-item"
        >
          <!-- eslint-disable-next-line vue/require-component-is -->
          <component v-model="isLoading" :is="tab.componentName" />
        </div>
      </section>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapState } from 'vuex';
import onboardingMixin from '../../mixins/onboarding';

import GiftHistory from '../GiftHistory';
import PointHistory from '../PointHistory';
import MamipoinTnc from '../MamipoinTnc';
import GuidePopover from '../GuidePopover';

export default {
  name: 'MamipoinTabs',
  components: {
    // eslint-disable-next-line vue/no-unused-components
    GiftHistory,
    // eslint-disable-next-line vue/no-unused-components
    PointHistory,
    // eslint-disable-next-line vue/no-unused-components
    MamipoinTnc,
    GuidePopover,
  },
  mixins: [onboardingMixin],
  data() {
    return {
      isLoading: false,
      isReadyToShowPopover: false,
      activeTab: 0,
      currentStep: 0,
      onboardingSteps: [
        {
          activeTab: 0,
          name: 'giftHistory',
          title: 'Riwayat Hadiah',
          message: 'Cek seluruh hadiah yang telah Anda tukarkan dengan poin Anda di sini.',
          desktopPlacement: 'bottom-left',
          mobilePlacement: 'bottom-left',
        },

        {
          activeTab: 1,
          name: 'pointHistory',
          title: 'Riwayat Poin',
          message: 'Semua poin yang didapat dan aktivitas yang telah dilakukan tercatat di sini.',
          desktopPlacement: 'bottom-left',
          mobilePlacement: 'bottom-center',
        },
        {
          activeTab: 2,
          name: 'mamipoinTnc',
          title: 'Syarat dan Ketentuan',
          message: 'Pelajari cara-cara untuk mendapatkan poin di bagian ini.',
          desktopPlacement: 'bottom-center',
          mobilePlacement: 'bottom-right',
        },
      ],
      tabs: [
        {
          label: 'Riwayat Hadiah',
          name: 'GiftHistory',
          componentName: GiftHistory,
        },
        {
          label: 'Riwayat Poin',
          name: 'PointHistory',
          componentName: PointHistory,
        },
        {
          label: 'Syarat dan Ketentuan',
          name: 'MamipoinTnc',
          componentName: MamipoinTnc,
        },
      ],
    };
  },
  inject: ['parent'],
  computed: {
    ...mapState('profile', {
      profileData: (state) => state.data,
    }),
    ...mapGetters('profile', ['isBooking', 'isPremium', 'membership']),
    isDesktop() {
      return this.$device.isDesktop;
    },
    mamipoinPage: {
      get() {
        return this.$store.state.mamipoin.mamipoinPage;
      },
      set(val) {
        this.$store.commit('mamipoin/setMamipoinPage', val);
      },
    },
    isPopoverShown() {
      const mamipoinOnboardingSteps = ['giftHistory', 'pointHistory', 'mamipoinTnc'];
      return (
        !this.mamipoinPage.hasViewedOnboarding &&
        mamipoinOnboardingSteps.includes(this.mamipoinPage.currentOnboardingStep) &&
        !this.isProfileModalShown &&
        this.isReadyToShowPopover
      );
    },
  },
  created() {
    this.setActiveTab();
  },
  mounted() {
    setTimeout(() => {
      this.isReadyToShowPopover = true;
    }, 1000);
  },
  methods: {
    handleTabLinkClick(tab, index) {
      this.activeTab = index;
      if (tab.name === 'MamipoinTnc') {
        this.$tracker.send('moe', [
          '[Owner] MamiPoin TnC Page Visited',
          {
            interface: this.isDesktop ? 'desktop' : 'mobile',
            redirection_source: '[Owner] Mamipoin Page',
            is_owner: true,
            is_mamipay: this.membership.is_mamipay_user,
            is_booking: this.isBooking,
            is_premium_owner: this.isPremium,
            point_total: this.profileData.total_mamipoin,
          },
        ]);
      }
    },
    setActiveTab() {
      if (this.$route.query.tab) {
        const activeTab = parseInt(this.$route.query.tab);
        this.activeTab = Number.isNaN(activeTab) || activeTab < 0 || activeTab > 2 ? 0 : activeTab;
      }
    },
    navigatePopover() {
      if (this.currentStep < this.onboardingSteps.length - 1) {
        this.currentStep += 1;

        this.$store.commit('mamipoin/setMamipoinPage', {
          hasViewedOnboarding: false,
          currentOnboardingStep: this.onboardingSteps[this.currentStep].name,
        });
      } else {
        this.$store.commit('mamipoin/setMamipoinPage', {
          hasViewedOnboarding: false,
          currentOnboardingStep: 'exchangeCard',
        });
      }
    },
  },
};
</script>

<style lang="scss" scoped src="./MamipoinTabs.scss"></style>
