.reject-revised-price-modal {
  ::v-deep {
    /* stylelint-disable max-nesting-depth */
    .bg-c-modal__body {
      max-height: 100% !important;
    }
  }

  &__action {
    display: flex;
    justify-content: flex-end;

    > *:not(:first-child) {
      margin-left: 16px;
    }
  }

  @media (max-width: 991px) {
    &__action {
      justify-content: space-between;

      > * {
        width: 100%;
      }
    }
  }
}
