<template>
  <bg-modal
    v-if="isShowModal"
    v-model="isShowModal"
    :description="modalDescription"
    @close="closeModal"
    class="reject-revised-price-modal"
    desktop-size="md"
    mobile-size="popup"
    title="Anda akan menerapkan harga sewa sesuai iklan kos"
    illustration-name="need-help"
    illustration-alt="revised price reject illustration"
  >
    <template #footer>
      <div class="reject-revised-price-modal__action">
        <bg-button @click="closeModal" class="reject-revised-price-modal__action-close" size="lg">
          Kembali
        </bg-button>
        <bg-button
          @click="$emit('confirm')"
          class="reject-revised-price-modal__action-confirm"
          variant="primary"
          size="lg"
        >
          Lanjut
        </bg-button>
      </div>
    </template>
  </bg-modal>
</template>

<script>
import { BgButton, BgModal } from 'bangul-vue';

export default {
  name: 'RejectRevisedPriceModal',

  components: {
    BgButton,
    BgModal,
  },

  props: {
    value: {
      type: Boolean,
      default: false,
    },
    tenantName: {
      type: String,
      default: 'Anak kos',
    },
  },

  computed: {
    isShowModal: {
      get() {
        return this.value;
      },
      set(value) {
        this.$emit('toggle', value);
      },
    },
    modalDescription() {
      return `${this.tenantName} nantinya akan membayar harga sewa sesuai harga di iklan kos Anda. `;
    },
  },

  methods: {
    closeModal() {
      this.isShowModal = false;
    },
  },
};
</script>

<style lang="scss" src="./RejectRevisedPriceModal.scss"></style>
