<template>
  <div v-bind="$attrs" class="c-field-input">
    <div v-if="label" class="c-field-input__label">{{ label }}</div>
    <div class="c-field-input__input-wrapper">
      <input
        v-bind="$attrs"
        :value="value"
        :name="name"
        :type="inputType"
        :placeholder="placeholder"
        @input="handleInput"
        @change="handleChanged"
        :class="{ bordered: bordered }"
        class="c-field-input__input"
      />
      <i
        v-if="type === 'password'"
        @click="handleShowPasswordClicked"
        role="button"
        class="c-field-input__show-password"
      ></i>
    </div>
  </div>
</template>

<script>
export default {
  name: 'MkFieldInput',
  inheritAttrs: false,
  model: {
    prop: 'value',
    event: 'update',
  },
  props: {
    label: {
      type: String,
      default: '',
    },
    name: {
      type: String,
      default: '',
    },
    type: {
      type: String,
      validator: (type) => {
        return ['password', 'number', 'text'].includes(type);
      },
      default: 'text',
    },
    value: {
      type: String,
      default: '',
    },
    placeholder: {
      type: String,
      default: '',
    },
    bordered: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      passwordVisibility: false,
    };
  },
  computed: {
    inputType() {
      return this.passwordVisibility ? 'text' : this.type;
    },
  },
  methods: {
    handleInput(e) {
      this.$emit('update', e.target.value);
      this.$emit('input', e.target.value);
    },
    handleChanged(e) {
      this.$emit('update', e.target.value);
    },
    handleShowPasswordClicked() {
      this.passwordVisibility = !this.passwordVisibility;
    },
  },
};
</script>

<style src="./MkFieldInput.scss" lang="scss" scoped></style>
