.c-field-input {
  margin-bottom: 10px;

  &__label {
    font-size: 14px;
    font-style: normal;
    font-weight: bold;
    line-height: 17px;
  }

  &__input-wrapper {
    position: relative;
  }

  &__input {
    width: 100%;
    padding: 9px 0 8px;
    font-size: 18px;
    /* stylelint-disable-next-line declaration-property-value-blacklist */
    border: none;
    border-bottom: 2px solid #dbdbdb;

    &:active,
    &:focus {
      border-bottom: 2px solid #67d16c;
      outline: none;
    }

    &.bordered {
      position: relative;
      width: 100%;
      height: 48px;
      padding: calc(0.375em - 1px) calc(0.625em - 1px);
      margin-top: 10px;
      line-height: 1.5;
      color: #363636;
      vertical-align: top;
      background-color: #fff;
      border: 1px solid transparent;
      border-color: #dbdbdb;
      border-radius: 4px;
      box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);

      &:active,
      &:focus {
        border-color: #1baa56;
      }
    }
  }

  &__show-password {
    position: absolute;
    right: 0;
    bottom: 9px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    background-image: url('./assets/show-password.svg');
  }
}
