<template>
  <div ref="highlight-info" :class="`highlight-info --${placement}`" :style="dimension">
    <slot></slot>
  </div>
</template>

<script>
export default {
  name: 'MkHighlight',
  props: {
    width: {
      type: Number,
      default: 0,
    },
    height: {
      type: Number,
      default: 0,
    },
    placement: {
      type: String,
      default: 'left',
    },
  },
  data() {
    return {
      offset: 25,
    };
  },
  computed: {
    isOnVertical() {
      return this.placement === 'top' || this.placement === 'bottom';
    },
    dimension() {
      const dimension = {};
      if (this.width) dimension.width = this.width + 'px';
      if (this.height) dimension.height = this.height + 'px';
      return dimension;
    },
  },
  mounted() {
    this.setPlacement();
  },
  methods: {
    setPlacement() {
      const highlightInfo = this.$refs['highlight-info'];
      const measurementUnit = this.isOnVertical ? 'offsetHeight' : 'offsetWidth';
      if (this.isOnVertical) {
        this.$refs['highlight-info'].style.left = '8px';
      } else {
        this.$refs['highlight-info'].style.top = '8px';
      }

      this.$refs['highlight-info'].style[this.placement] = `-${highlightInfo[measurementUnit] +
        this.offset}px`;
    },
  },
};
</script>

<style lang="scss" src="./MkHighlight.scss" scoped></style>
