$active-border: 40px solid #fff;

.highlight-info {
  position: absolute;
  top: 8px;
  display: flex;
  align-items: center;
  width: 250px;
  min-width: 250px;
  padding: 12px;
  font-size: 14px;
  line-height: 21px;
  background: #fff;
  border-radius: 4px;

  &::after {
    position: absolute;
    z-index: -1;
    content: '';
    border: 20px solid transparent;
  }

  &.--left {
    &::after {
      right: -40px;
      bottom: 8px;
      border-left: $active-border;
    }
  }

  &.--top {
    &::after {
      bottom: -40px;
      left: 8px;
      border-top: $active-border;
    }
  }

  &.--bottom {
    &::after {
      top: -40px;
      left: 8px;
      border-top: $active-border;
    }
  }

  &.--right {
    &::after {
      bottom: 8px;
      left: -40px;
      border-top: $active-border;
    }
  }
}
