.c-mk-badge {
  padding: 0 5px;
  font-size: 10px;
  line-height: 10px;
  vertical-align: middle;
  border-radius: 7px;

  &--error {
    color: #fff;
    background: #ec4a0c;
  }

  &--success {
    color: #1baa56;
    background: #c4ffdc;
  }
}
