<template>
  <span :class="classes" class="c-mk-badge">
    <slot />
  </span>
</template>

<script>
export default {
  name: 'MkBadge',
  props: {
    /**
     * The badge type
     * warning, success, error, default
     * Please add another option if you need
     */
    type: {
      type: String,
      validator: (type) => {
        return ['error', 'warning', 'success', 'default'].includes(type);
      },
      default: 'default',
    },
  },
  computed: {
    classes() {
      return `c-mk-badge--${this.type}`;
    },
  },
};
</script>

<style lang="scss" src="./MkBadge.scss"></style>
