<template>
  <mk-modal v-model="showModal" backdrop>
    <mk-card class="finance-modal">
      <template #default>
        <mk-card-header class="finance-modal__header">
          <mk-card-title>Keuangan</mk-card-title>
        </mk-card-header>

        <mk-card-body
          ref="financeModalBody"
          @scroll.native="handleScrollPosition"
          class="finance-modal__body"
        >
          <a
            v-for="month in monthList"
            :key="month.index"
            @click="handleOptionClicked(month)"
            class="is-size-6 finance-modal__month-selector"
          >
            <span>{{ month }}</span>
            <span v-if="currentMonth === month" class="active-indicator">&#9679;</span>
          </a>
        </mk-card-body>

        <mk-card-footer class="finance-modal__footer">
          <div class="has-text-centered">
            <a v-if="isScrollOnTop" @click="handleScrollToClicked('bottom')" class="has-text-grey"
              >&#9660;</a
            >
            <a v-else @click="handleScrollToClicked('top')" class="has-text-grey">&#9650;</a>
          </div>
        </mk-card-footer>
      </template>
    </mk-card>
  </mk-modal>
</template>

<script>
import { getMonthsFromNowTo } from '~/utils/datetime';
import MkModal from '~/components/global/molecules/MkModal/MkModal';
import MkCard from '~/components/global/molecules/MkCard';
import MkCardFooter from '~/components/global/molecules/MkCard/components/MkCardFooter';
import MkCardBody from '~/components/global/molecules/MkCard/components/MkCardBody';
import MkCardTitle from '~/components/global/molecules/MkCard/components/MkCardTitle';
import MkCardHeader from '~/components/global/molecules/MkCard/components/MkCardHeader';

export default {
  name: 'FinanceModalContent',
  components: {
    MkCard,
    MkCardTitle,
    MkCardHeader,
    MkCardBody,
    MkCardFooter,
    MkModal,
  },
  model: {
    prop: 'active',
    event: 'update:active',
  },
  props: {
    currentMonth: {
      type: String,
      default: '',
    },
    active: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      monthList: [],
      isScrollOnTop: true,
      modalScrollElement: null,
    };
  },
  computed: {
    showModal: {
      get() {
        return this.active;
      },
      set(val) {
        this.$emit('update:active', val);
      },
    },
  },
  mounted() {
    this.populateMonthList();
  },
  methods: {
    getMonthsFromNowTo,
    handleScrollToClicked(direction) {
      if (direction === 'bottom') {
        this.handleScroll(this.$refs.financeModalBody.$el.scrollHeight);
        this.isScrollOnTop = false;
      } else {
        this.handleScroll(0);
        this.isScrollOnTop = true;
      }
    },
    handleOptionClicked(month) {
      this.$emit('optionClicked', month);
    },
    handleScroll(position) {
      // Do smooth scrolling on supported browsers.
      if (navigator.userAgent.match(/(Edge|MSIE|Trident)[/\s]([\d.]+)/gi)) {
        this.$refs.financeModalBody.$el.scrollTop = position;
      } else {
        this.$refs.financeModalBody.$el.scroll({
          top: position,
          behavior: 'smooth',
        });
      }
    },
    handleScrollPosition(event) {
      const { financeModalBody } = this.$refs;

      if (financeModalBody && financeModalBody.$el) {
        // Set the boolean value whether the scroll position isn't at the bottom.
        this.isScrollOnTop =
          financeModalBody.$el.scrollTop <
          financeModalBody.$el.scrollHeight - financeModalBody.$el.offsetHeight;
      }
    },
    populateMonthList() {
      this.monthList = this.getMonthsFromNowTo(2);
    },
  },
};
</script>

<style lang="scss" src="./FinanceModalMonthSelector.scss"></style>
