.finance-modal {
  &__body {
    width: 350px;
    max-width: 100vw;
    height: 50vh;
    overflow-y: auto;
  }

  &__month-selector {
    display: block;
    padding: 9px 0;
    color: #000;

    &:first-child {
      padding-top: 18px;
    }

    &:last-child {
      padding-bottom: 18px;
    }

    &:hover {
      color: #1baa56;
    }

    .active-indicator {
      float: right;
      color: #1baa56;
    }
  }
}
