.infobar-card {
  padding: 12px 18px;
  margin-top: 0;
  background-color: #fff;
  border: 1px solid #e8e8e8;
  border-radius: 8px;

  &__title {
    margin-bottom: 4px;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
  }

  &__action {
    display: block;
    margin-top: 12px;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-decoration: underline;
  }

  ::v-deep {
    /* stylelint-disable-next-line selector-pseudo-element-colon-notation */
    .mdi-alert-circle:before {
      font-size: 20px;
      color: #0074db;
    }
    .icon.is-large {
      width: 20px;
      height: 20px;
    }

    .media-content {
      margin-right: 20px;
      font-size: 14px;
    }
  }
}
