<template>
  <b-notification :closable="false" class="infobar-card" icon="alert-circle" has-icon>
    <div v-if="true" class="infobar-card__title">Data Anda Aman Bersama Kami</div>
    Setiap data yang Anda cantumkan di Mamikos akan dijaga sebaik-baiknya.
    <a v-if="true" class="infobar-card__action" href="https://mamikos.com/privacy" target="_blank">
      Lihat kebijakan privasi
    </a>
  </b-notification>
</template>

<script>
export default {
  name: 'InfobarCard',
};
</script>

<style lang="scss" src="./InfobarCard.scss" scoped></style>
