.c-mk-sidebar {
  position: fixed;
  top: 80px;
  bottom: 0;
  left: 0;
  width: 268px;
  height: calc(100% - 80px);
  overflow-y: auto;
  background: transparent;

  &__wrapper {
    height: auto;
    min-height: 100%;
    padding: 36px 0;
    overflow-y: hidden;
    background-color: #fff;
  }

  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-track {
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background: #bbb;
    border-radius: 10px;
  }
}
