<template>
  <div>
    <aside class="c-mk-sidebar">
      <bg-sidebar class="c-mk-sidebar__wrapper">
        <template v-for="(sidebarItem, i) in items">
          <template v-if="!getIsHiddenState(sidebarItem)">
            <bg-sidebar-item-multi
              v-if="sidebarItem.children && sidebarItem.children.length > 0"
              :key="`sidebarItem${sidebarItem.id || i}`"
              :id="`sidebarItem${sidebarItem.id || i}`"
              :icon-name="sidebarItem.icon"
              :label="sidebarItem.name"
              :opened="getOpenedState(sidebarItem.children)"
              class="c-mk-sidebar__item-multiple"
            >
              <template v-for="(sidebarItemChild, childIndex) in sidebarItem.children">
                <bg-sidebar-item
                  v-if="!getIsHiddenState(sidebarItemChild)"
                  :key="childIndex"
                  :label="sidebarItemChild.name"
                  :active="findSelected(sidebarItemChild)"
                  @click="handleItemClicked(sidebarItemChild)"
                  class="c-mk-sidebar__item-multiple-child"
                />
              </template>
            </bg-sidebar-item-multi>
            <bg-sidebar-item
              v-else
              :icon-name="sidebarItem.icon"
              :label="sidebarItem.name"
              :key="`sidebarItem${sidebarItem.id || i}`"
              :active="findSelected(sidebarItem)"
              :counter="getCounter(sidebarItem)"
              @click="handleItemClicked(sidebarItem)"
              class="c-mk-sidebar__item"
            />
          </template>
        </template>
      </bg-sidebar>
    </aside>
    <confirm-payment-modal v-model="isConfirmModalActive" />
    <has-no-property-modal v-model="isNoPropertyModalActive" />
  </div>
</template>

<script>
/* eslint-disable unicorn/prefer-includes */
import { mapGetters } from 'vuex';
import { BgSidebar, BgSidebarItem, BgSidebarItemMulti } from 'bangul-vue';
import MixinDashboardTracker from '~/components/page-features/dashboard/mixins/dashboardTracker.js';
import MixinPremiumEntryAction from '~/components/page-features/premium-dashboard/mixins/mixinPremiumEntryAction.js';
import ConfirmPaymentModal from '~/components/page-features/premium/components/ConfirmPaymentModal/ConfirmPaymentModal.vue';
import HasNoPropertyModal from '~/components/page-features/premium/components/HasNoPropertyModal/HasNoPropertyModal.vue';

export default {
  name: 'MkSidebar',
  components: {
    BgSidebar,
    BgSidebarItem,
    BgSidebarItemMulti,
    ConfirmPaymentModal,
    HasNoPropertyModal,
  },
  mixins: [MixinDashboardTracker, MixinPremiumEntryAction],
  props: {
    items: {
      type: Array,
      required: true,
    },
  },
  data() {
    return {
      customSidebarActive: '',
    };
  },
  computed: {
    ...mapGetters('profile', ['isBbk']),
  },
  watch: {
    $route(value) {
      if (value.query['menu-active']) {
        this.customSidebarActive = value.query['menu-active'];
      } else {
        this.customSidebarActive = '';
      }
    },
  },
  methods: {
    getOpenedState(children) {
      if (children && children.length > 0) {
        for (let i = 0; i < children.length; i++) {
          if (this.findSelected(children[i])) {
            return true;
          }
        }
      }
      return false;
    },
    getCounter({ counter, counterFn }) {
      if (counterFn && typeof counterFn === 'function') {
        return counterFn(this);
      }
      return counter || 0;
    },
    getIsHiddenState({ isHidden, isHiddenFn }) {
      if (isHiddenFn && typeof isHiddenFn === 'function') {
        return !!isHiddenFn(this);
      }
      return !!isHidden;
    },
    findSelected({ urlNames }) {
      if (this.customSidebarActive !== '') {
        return urlNames.indexOf(this.customSidebarActive) >= 0;
      }
      return urlNames.indexOf(this.$route.name) >= 0;
    },
    handleItemClicked({ type, data, action, isBbkRequired }) {
      action && typeof action === 'function' && action(this);

      if (isBbkRequired && !this.isBbk) {
        this.$router.push('/kos/booking/register');
        return;
      }

      switch (type) {
        case 'internal':
          if (data === '/premium-dashboard') {
            this.handlePremiumEntryAction('sidebar');
          } else {
            this.$router.push(data);
          }
          break;
        case 'external':
          window.location.href = data;
          break;
        case 'action':
          data(this);
          break;
      }
    },
  },
};
</script>

<style lang="scss" src="./MkSidebar.scss"></style>
