<template>
  <widget-card
    :is-flat="isFlat"
    :padding="padding"
    title="Waktunya Mengelola Kos"
    description="Maksimalkan potensi properti Anda dengan manajemen kos dari Mamikos."
  >
    <template v-for="menuItem in manageKosMenuItems">
      <mk-action-card
        v-if="menuItem.show"
        :key="menuItem.id"
        :title="menuItem.title"
        :subtitle="menuItem.subtitle"
        :icon-name="menuItem.icon"
        @click="handleClickItem(menuItem)"
        icon-color="#fff"
        icon-type="circle"
      />
    </template>
  </widget-card>
</template>

<script>
import { mapGetters } from 'vuex';
import MixinDashboardTracker from '../../mixins/dashboardTracker';
import WidgetCard from '../WidgetCard/WidgetCard';
import MkActionCard from '~/components/global/molecules/MkActionCard';

export default {
  name: 'ManageKosCard',

  components: {
    MkActionCard,
    WidgetCard,
  },

  mixins: [MixinDashboardTracker],

  props: {
    isFlat: {
      type: Boolean,
      default: false,
    },
    padding: {
      type: String,
      default: '',
    },
  },

  data() {
    return {
      isLoadingBbkStatus: false,
      bbkStatus: {},
    };
  },

  computed: {
    ...mapGetters('profile', ['isNewOwner', 'isBbk', 'activeKos']),
    manageKosMenuItems() {
      return [
        {
          id: 0,
          title: 'Atur Ketersediaan Kamar',
          subtitle: 'Mengelola data kamar kos',
          icon: 'total-room',
          route: { path: '/kos/rooms', query: { 'menu-active': 'index' } },
          type: 'internal',
          tracker: '[Owner] OD Waktunya Mengelola Kos - Atur Ketersediaan Kamar Clicked',
          show: !this.isNewOwner,
        },
        {
          id: 1,
          title: 'Atur Harga',
          subtitle: 'Update harga sewa di iklan kos',
          icon: 'price-setting',
          route: { path: '/kos/rooms-price', query: { 'menu-active': 'index' } },
          type: 'internal',
          tracker: '[Owner] OD Waktunya Mengelola Kos - Atur Harga Clicked',
          show: !this.isNewOwner,
        },
        {
          id: 2,
          title: 'Daftar ke Booking Langsung',
          subtitle: 'Mengaktifkan fitur Booking',
          icon: 'booking-management',
          route: '/booking/manage/status',
          type: 'internal',
          tracker: '[Owner] OD Waktunya Mengelola Kos - Daftar BBK Clicked',
          show:
            !this.isNewOwner &&
            !this.isLoadingBbkStatus &&
            this.activeKos !== this.bbkStatus.approve,
        },
        {
          id: 3,
          title: 'Penyewa',
          subtitle: 'Daftar kontrak penyewa kos',
          icon: 'account',
          route: '/tenant-list',
          type: 'internal',
          tracker: '[Owner] OD - Penyewa Clicked',
          show: !this.isNewOwner,
          isBbkRequired: true,
        },
        {
          id: 4,
          title: 'Tambah Penyewa',
          subtitle: 'Menambah kontrak penyewa',
          icon: 'add-tenant',
          route: this.getRouteAddTenant(),
          type: 'internal',
          tracker: '[Owner] OD Waktunya Mengelola Kos - Tambah Penyewa Clicked',
          show: !this.isNewOwner,
          isBbkRequired: true,
        },
        {
          id: 5,
          title: 'Tambah Iklan',
          subtitle: 'Menambah iklan Anda',
          icon: 'add-plus',
          route: `${this.$mamikosUrl}/ownerpage/add`,
          type: 'external',
          trakcer: '[Owner] OD Waktunya Mengelola Kos - Tambah Iklan Clicked',
          show: this.isNewOwner,
        },
        {
          id: 6,
          title: 'Pusat Bantuan',
          subtitle: 'Info bantuan seputar Mamikos',
          icon: 'customer-service',
          route: 'https://help.mamikos.com/pemilik',
          type: 'external',
          tracker: '[Owner] OD Waktunya Mengelola Kos - Pusat Bantuan Clicked',
          show: true,
        },
      ];
    },
  },

  created() {
    this.isLoadingBbkStatus = true;
    this.$api.getBbkStatus().then((res) => {
      this.isLoadingBbkStatus = false;
      if (!res.data.status) return;
      this.bbkStatus = res.data.bbk_status;
    });
  },

  methods: {
    handleClickItem({ isBbkRequired, tracker, route, type }) {
      tracker && this.sendTracker(tracker);

      if (isBbkRequired && !this.isBbk) {
        this.$router.push('/kos/booking/register');
      } else if (type === 'internal') {
        this.$router.push(route);
      } else {
        window.location.href = route;
      }
    },
    getRouteAddTenant() {
      if (typeof Cookies.get('mami-dbet-onboarding-shown') === 'undefined') {
        return '/add-tenant/on-boarding';
      }
      return '/add-tenant/select-method';
    },
    sendTracker(trackerName) {
      const redirectionSource = {
        redirection_source: 'tab_home',
      };

      this.sendDashboardTracker(trackerName, redirectionSource);
    },
  },
};
</script>
