<template>
  <div v-if="!!username" class="greeting-section">
    <bg-text size="heading-2">
      <span @click="toOwnerSettings" class="greeting-section__name">
        Halo, {{ greetingName }}
      </span>
    </bg-text>
  </div>
</template>

<script>
import { BgText } from 'bangul-vue';

import dashboardTracker from '~/components/page-features/dashboard/mixins/dashboardTracker';

import { firstWord } from '~/utils/string';

export default {
  name: 'GreetingSection',
  components: {
    BgText,
  },
  mixins: [dashboardTracker],
  props: {
    username: {
      type: String,
      default: '',
    },
  },
  computed: {
    greetingName() {
      return firstWord(this.username);
    },
  },
  methods: {
    toOwnerSettings() {
      this.sendDashboardTracker('[Owner] OD Profile - Profile Clicked');
      window.location.href = `${process.env.MAMIKOS_URL}/ownerpage/settings`;
    },
  },
};
</script>

<style lang="scss" src="./GreetingSection.scss" scoped></style>
