.tenant-contract-card {
  &__help-link {
    color: inherit;
    text-decoration: underline;
  }

  &__add-contract-button {
    margin-top: 15px;
  }

  &__counter-label {
    display: flex;
    align-items: center;
  }

  &__tenant-list {
    margin-bottom: 15px;
  }

  .label-number__number {
    display: flex;
    align-items: center;
  }
}
