<template>
  <mk-card :max-width="342" class="tenant-contract-card">
    <mk-card-header class="tenant-contract-card__header">
      <mk-card-title key="title">Kontrak Penyewa</mk-card-title>
    </mk-card-header>

    <mk-card-body class="tenant-contract-card__body">
      <div v-for="(contract, i) in contracts" :key="i">
        <div @click="openContractList(contract.status)">
          <label-number
            v-if="showContractRequestedLabel(contract.status, contract.total)"
            :label="contractLabel(contract.status)"
            class="tenant-contract-card__counter-label"
          >
            <mk-number-counter
              :number="contract.total"
              :limit="2"
              :type="contractType(contract.status)"
            />
          </label-number>
        </div>
      </div>
    </mk-card-body>
    <mk-card-footer>
      <p>
        <template v-if="contractNotRecorded > 0"
          >{{ contractNotRecorded }} kontrak belum tercatat.
        </template>
        Tambahkan data kontrak agar pencatatan kos Anda lebih lengkap.
        <a
          href="https://help.mamikos.com/pemilik"
          target="_blank"
          class="tenant-contract-card__help-link"
        >
          Pelajari lebih lanjut
        </a>
      </p>

      <mk-button
        @clicked="addTenantContract"
        class="tenant-contract-card__add-contract-button"
        color="green-inverse"
        block
      >
        <span>Tambah Kontrak Penyewa</span>
      </mk-button>
    </mk-card-footer>

    <bg-toast v-model="isShowZeroContractToast" :duration="5">
      Belum ada kontrak yang tercatat
    </bg-toast>

    <bg-toast v-model="isShowRejectToastSuccess" :duration="5">
      Berhasil menolak penyewa
    </bg-toast>
  </mk-card>
</template>

<script>
import Cookies from 'js-cookie';
import { mapGetters, mapMutations } from 'vuex';
import { BgToast } from 'bangul-vue';
import LabelNumber from '../LabelNumber';
import EventBus from '~/components/event-bus/index.js';
import MkButton from '~/components/global/atoms/MkButton';
import MkCard from '~/components/global/molecules/MkCard';
import MkCardBody from '~/components/global/molecules/MkCard/components/MkCardBody';
import MkCardFooter from '~/components/global/molecules/MkCard/components/MkCardFooter';
import MkCardHeader from '~/components/global/molecules/MkCard/components/MkCardHeader';
import MkCardTitle from '~/components/global/molecules/MkCard/components/MkCardTitle';
import MkNumberCounter from '~/components/global/atoms/MkNumberCounter';

export default {
  name: 'TenantContractCard',

  components: {
    BgToast,
    LabelNumber,
    MkButton,
    MkCard,
    MkCardBody,
    MkCardFooter,
    MkCardHeader,
    MkCardTitle,
    MkNumberCounter,
  },

  props: {
    isShowContractRequested: {
      type: Boolean,
      default: true,
    },
  },

  data() {
    return {
      addTenantUrl: `${process.env.MAMIKOS_URL}/ownerpage/manage/add-tenant/select-kost?from=dashboard`,
      isShowZeroContractToast: false,
      isShowTenantList: false,
      isShowRejectToastSuccess: false,
    };
  },

  computed: {
    ...mapGetters('profile', ['isBbk', 'user', 'isPremium', 'membership']),
    contractNotRecorded() {
      return this.$store.state.contract.contractCardProperties.total_off_contract_not_recorded;
    },
    contracts() {
      return [
        {
          status: 'approved',
          total: this.$store.state.contract.contractCardProperties.total_off_contract,
        },
        {
          status: 'waiting',
          total: this.$store.state.contract.contractCardProperties.total_off_contract_submission,
        },
      ];
    },
  },

  watch: {
    contracts: {
      deep: true,
      immediate: true,
      handler(data) {
        if (data[0].total > 0) {
          EventBus.$emit('onContractExists');
        }
      },
    },
  },

  created() {
    this.showRejectToast();
  },

  methods: {
    ...mapMutations('tenant', ['resetTenants']),
    ...mapMutations('contract', ['updateRejectStatus']),
    showRejectToast() {
      if (typeof Cookies.get('dbet-contract-reject') !== 'undefined') {
        this.isShowRejectToastSuccess = true;
        Cookies.remove('dbet-contract-reject');
        this.updateRejectStatus(false);
      }
    },
    showContractRequestedLabel(status, total) {
      if (status !== 'approved') {
        return this.isShowContractRequested && total > 0;
      }

      return true;
    },
    contractLabel(status) {
      return status === 'approved' ? 'Kontrak Tercatat' : 'Penyewa Mengajukan Kontrak';
    },
    contractType(status) {
      return status === 'approved' ? 'dark' : 'error';
    },
    addTenantContract() {
      if (this.isShowContractRequested) {
        if (typeof Cookies.get('mami-dbet-onboarding-shown') === 'undefined') {
          this.$router.push({ name: 'add-tenant-onboarding' });
        } else {
          this.$router.push({ name: 'add-tenant-select-method' });
        }
      } else {
        this.handleAddTenantClicked();
      }
    },
    openContractList(status) {
      if (status === 'waiting') {
        this.$router.push('/contract-request');
      } else {
        this.toggleZeroToast();
      }
    },
    toggleZeroToast() {
      if (this.contracts[0].total === 0) {
        this.isShowZeroContractToast = true;
      } else {
        this.toggleTenantList();
      }
    },
    toggleTenantList() {
      if (this.isShowTenantList) {
        this.resetTenants([]);
        this.isShowTenantList = false;
      } else {
        this.isShowTenantList = true;
      }
    },
    handleAddTenantClicked() {
      this.$tracker.send('moe', [
        '[Owner] Tambah Penyewa Clicked',
        {
          user_id: this.user.user_id,
          interface: this.$device.isMobile ? 'mobile' : 'desktop',
          is_booking: this.isBbk,
          is_premium: this.isPremium,
          redirection_source: 'dashboard_kontrak_penyewa',
        },
      ]);
      if (!this.isBbk) {
        if (this.membership.is_mamipay_user) {
          window.location.href = this.addTenantUrl;
          return;
        }

        this.$router.push({
          name: 'kos-booking-register',
          query: { redirect_url: window.location.href },
          params: { previousPage: 'Dashboard' },
        });
        return;
      }
      window.location.href = this.addTenantUrl;
    },
  },
};
</script>

<style lang="scss" src="./TenantContractCard.scss"></style>
