<template>
  <div :class="isDesktop ? '--desktop' : '--mobile'" class="detail-card">
    <mk-card class="detail-card__card">
      <mk-card-header :class="isDesktop ? '--desktop' : '--mobile'" class="card-header">
        <figure class="card-header__image">
          <img :src="reward.image.medium" class="header-image" />
        </figure>
      </mk-card-header>
      <mk-card-body :class="isDesktop ? '--desktop' : '--mobile'" class="card-content">
        <h1 class="card-content__title">
          {{ reward.name || '' }}
        </h1>
        <div class="card-content__desc content-section">
          <strong class="text-heading">
            Deskripsi
          </strong>
          <p class="text-desc">
            {{ reward.description || '' }}
          </p>
        </div>
        <div class="card-content__tnc content-section">
          <strong class="text-heading">
            Syarat dan Ketentuan
          </strong>
          <p v-html="reward.tnc || ''" class="text-desc"></p>
        </div>
        <div class="card-content__howto content-section">
          <strong class="text-heading">
            Cara Penukaran
          </strong>
          <p v-html="reward.howto || ''" class="text-desc"></p>
        </div>
      </mk-card-body>
    </mk-card>
  </div>
</template>

<script>
import MkCard from '~/components/global/molecules/MkCard';
import MkCardHeader from '~/components/global/molecules/MkCard/components/MkCardHeader';
import MkCardBody from '~/components/global/molecules/MkCard/components/MkCardBody';

export default {
  name: 'DetailCard',
  components: { MkCard, MkCardHeader, MkCardBody },
  model: {
    prop: 'value',
    event: 'update',
  },
  props: {
    value: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      isLoading: false,
      reward: {
        image: {},
      },
    };
  },
  computed: {
    isDesktop() {
      return this.$device.isDesktop;
    },
    rewardId() {
      return this.$route.params.reward_id;
    },
  },
  watch: {
    isLoading(val) {
      this.$emit('update', val);
    },
  },
  created() {
    this.fetchRewardDetail();
  },
  methods: {
    fetchRewardDetail() {
      this.isLoading = true;
      this.$api
        .getRewardDetail(this.rewardId)
        .then((response) => {
          if (response.data.status) {
            this.reward = { ...this.reward, ...response.data.data };
          }
          this.isLoading = false;
        })
        .catch(() => {
          this.isLoading = false;
        });
    },
  },
};
</script>

<style lang="scss" scoped src="./DetailCard.scss"></style>
