$heading-font-size: (
  desktop: 20px,
  mobile: 18px,
);
$heading-color: #383746;

$border-color: #f5f5f5;

$link-color: #1baa56;
$text-color: #4a4a4a;

$line-height: 2.25rem;

$text-size: (
  desktop: 16px,
  mobile: 14px,
);

@mixin fontSize($source: $text-size, $scale: 1) {
  font-size: map-get($source, 'desktop') * $scale;

  @media (max-width: 480px) {
    font-size: map-get($source, 'mobile') * $scale;
  }
}

/* stylelint-disable value-no-vendor-prefix, property-no-vendor-prefix */

.detail-card {
  &.--mobile {
    width: 100%;
  }

  &__loader {
    margin-top: 50px;

    .c-loader {
      width: 40px;
      height: 40px;
    }
  }

  &__card {
    @media (max-width: 1024px) {
      padding-bottom: 250px;
      margin-bottom: 0;
      background-color: unset;
      box-shadow: none;
    }

    .card-header {
      @media (max-width: 480px) {
        min-height: 101px;
        margin: -12px;
        box-shadow: none;
      }

      .header-image {
        max-width: 100%;
      }
    }

    .card-content {
      @media (max-width: 480px) {
        padding: 20px 8px;
      }
    }
  }
}

.card-header {
  padding: 0;
  overflow: hidden;
  flex-direction: column;

  &.--desktop {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }

  &__image {
    max-height: 139px;
    overflow: hidden;
  }
}

.card-content {
  padding: 20px;

  &__title {
    display: block; // fallback
    display: -webkit-box;
    max-height: $line-height * 2;
    padding-right: 1rem;
    margin-bottom: 20px;
    overflow: hidden;
    font-style: normal;
    font-weight: bold;
    text-overflow: ellipsis;
    word-break: break-word;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    @include fontSize($text-size, 1.5);
  }

  .content-section {
    + .content-section {
      padding-top: 20px;
      margin-top: 20px;
      border-top: 1px solid $border-color;
    }
  }

  .text-heading {
    display: block;
    margin-bottom: 10px;
    color: $heading-color;
    word-break: break-word;

    @include fontSize($heading-font-size);
  }

  .text-desc {
    word-break: break-word;
  }

  &__desc,
  &__tnc,
  &__howto {
    @include fontSize($text-size);
    word-break: break-word;

    /* stylelint-disable selector-max-type, selector-max-specificity, selector-max-compound-selectors, max-nesting-depth */
    ::v-deep ol,
    ::v-deep ul {
      padding-left: 20px;

      li {
        padding-left: 10px;
      }

      ol,
      ul {
        @include fontSize($text-size, 0.75);
      }
    }

    ::v-deep ul {
      list-style: circle;
    }

    ::v-deep p {
      &:empty {
        display: none;
      }
    }

    ::v-deep span {
      &:empty {
        display: none;
      }
    }

    ::v-deep a {
      padding-bottom: 1px;
      color: $text-color;
      background-color: transparent !important;
      border-bottom: 1px solid $text-color;

      font {
        color: $text-color;
      }

      &:hover {
        color: $link-color;

        font {
          color: $link-color;
        }
      }
    }
  }
}
