<template>
  <div class="goldplus-statistic-chart">
    <!--- Using v-show because 'canvas' cannot be rendered using v-if -->
    <div v-show="isLoading" class="c-loader" />

    <div v-show="!isLoading">
      <gold-plus-statistic-chart-filter-modal
        v-model="isShowFilterModal"
        :statistic-type="chartData.type"
      />

      <h2 class="goldplus-statistic-chart__title">Statistik {{ title }}</h2>

      <div class="goldplus-statistic-chart__filter">
        <p class="goldplus-statistic-chart__filter-value">
          {{ selectedFilter.value }}
        </p>
        <span @click="showFilterModal" class="goldplus-statistic-chart__filter-button">Ubah</span>
      </div>

      <gold-plus-statistic-chart-description
        :description="description"
        :title="title"
        :date-range="selectedFilter.periode_description"
        :latest-value="latestValue"
        :growth-type="chartData.growthStatus.growth_type"
        class="goldplus-statistic-chart__description"
      />

      <div class="goldplus-statistic-chart__graphic">
        <canvas :id="chartData.id"></canvas>
      </div>

      <p class="goldplus-statistic-chart__footer-note">{{ footerNote }}</p>

      <gold-plus-statistic-chart-tips-card
        v-if="chartData.growthStatus.growth_type === 'down'"
        :statistic-type="chartData.type"
      />
    </div>
  </div>
</template>

<script>
import Chart from 'chart.js';

import GoldPlusStatisticChartFilterModal from '../GoldPlusStatisticChartFilterModal';
import GoldPlusStatisticChartDescription from '../GoldPlusStatisticChartDescription';
import GoldPlusStatisticChartTipsCard from '../GoldPlusStatisticChartTipsCard';

import { initAlwaysShowLastTooltipPlugin } from '~/utils/chartjs';

export default {
  name: 'GoldPlusStatisticChart',
  components: {
    GoldPlusStatisticChartFilterModal,
    GoldPlusStatisticChartDescription,
    GoldPlusStatisticChartTipsCard,
  },
  props: {
    isLoading: {
      type: Boolean,
      required: true,
    },
    title: {
      type: String,
      required: true,
    },
    description: {
      type: String,
      required: true,
    },
    selectedFilter: {
      type: Object,
      required: true,
    },
    latestValue: {
      type: [String, Number],
      required: true,
    },
    chartData: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      isLoadingFilters: false,
      isShowFilterModal: false,
    };
  },
  computed: {
    footerNote() {
      if (this.chartData.isEmptyData) {
        return `Statistik belum bisa menampilkan data ${this.selectedFilter.value.toLowerCase()}`;
      } else {
        return this.chartData.growthStatus.growth_type
          ? 'Persentase di atas menunjukkan pertumbuhan dari sebelum gabung GoldPlus.'
          : null;
      }
    },
    chartOptions() {
      return {
        legend: {
          display: false,
        },
        scales: {
          xAxes: [
            {
              gridLines: {
                borderDash: [10, 5],
                color: '#1BAA56',
                lineWidth: this.chartData.xAxisLineWidth,
              },
            },
          ],
          yAxes: [
            {
              gridLines: {
                borderDash: [10, 5],
                lineWidth: 2,
              },
              ticks: {
                maxTicksLimit: 5,
                beginAtZero: true,
              },
            },
          ],
        },
        tooltips: {
          enabled: !this.chartData.isEmptyData,
          position: 'average',
          showAllTooltips: !this.chartData.isEmptyData,
          backgroundColor: '#303030',
          xPadding: 10,
          yPadding: 8,
          titleFontSize: 14,
          titleFontStyle: 'normal',
          bodyFontSize: 16,
          bodyFontStyle: 'bold',
          displayColors: false,
          callbacks: {
            title(tooltipItem, data) {
              return data.labelTitle;
            },
            label(tooltipItem, data) {
              return data.growthStatus.tooltip;
            },
          },
        },
      };
    },
  },
  watch: {
    isLoading(value) {
      if (!value) {
        this.updateChartElement();
      }
    },
  },
  mounted() {
    this.createChartElement();
  },
  methods: {
    createChartElement() {
      Chart.defaults.global.defaultFontFamily = 'Lato';
      initAlwaysShowLastTooltipPlugin();

      const chartContext = document.getElementById(this.chartData.id).getContext('2d');

      this.chart = new Chart(chartContext, {
        type: 'line',
        data: this.chartData,
        options: this.chartOptions,
      });
    },
    updateChartElement() {
      if (this.chart) {
        this.chart.data = this.chartData;
        this.chart.options = this.chartOptions;
        this.chart.update();
      }
    },
    showFilterModal() {
      this.isShowFilterModal = true;
    },
  },
};
</script>

<style lang="scss" src="./GoldPlusStatisticChart.scss" scoped></style>
