.goldplus-statistic-chart {
  &__title {
    font-size: 20px;
    font-weight: 900;
    line-height: 28px;
  }

  &__graphic {
    margin-top: 32px;
  }

  &__footer-note {
    margin-top: 8px;
    font-size: 14px;
    line-height: 20px;
    color: #757575;
  }

  &__filter {
    display: flex;
    width: 100%;
    padding: 16px;
    margin: 16px 0;
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid #e8e8e8;
    border-radius: 4px;

    &-button {
      color: #1baa56;
      cursor: pointer;
    }
  }

  .c-loader {
    width: 40px !important;
    height: 40px !important;
  }
}
