<template>
  <div class="activation-form">
    <h1 class="activation-form__title">Aktivasi Booking Langsung</h1>

    <b-notification
      :closable="false"
      type="is-blue-invert"
      class="activation-form__info"
      icon="alert-circle"
      has-icon
    >
      <h4 class="activation-form__info-title">Info</h4>
      Fitur Booking Langsung akan otomatis aktif pada iklan kos baru dan sekaligus iklan kos lain.
      <a
        href="https://help.mamikos.com/syarat-dan-ketentuan/?category=snk-pemilik&subCategory=bisa-booking-pemilik&slug=syarat-dan-ketentuan-bisa-booking-pemilik"
        target="_blank"
        class="activation-form__info-link"
      >
        <u>Lihat Syarat & Ketentuan</u>
      </a>
    </b-notification>

    <p class="activation-form__description">
      Anda akan mengaktifkan <b>Booking Langsung</b> untuk
      <b>{{ inactiveKos.count }} kos</b> berikut ini. Silakan periksa terlebih dahulu.
    </p>

    <template v-if="recentKos">
      <h4 class="activation-form__section-title">Baru Anda Buat</h4>
      <div class="activation-form__item">
        <div class="activation-form__tag-wrapper">
          <div class="activation-form__tag-label">Kos Baru</div>
          <img v-lazy="recentKos.img" class="activation-form__item-image" />
        </div>
        <div class="activation-form__item-text">
          <div class="activation-form__item-name">{{ recentKos.name }}</div>
          <div class="activation-form__item-availability">
            {{ recentKos.roomCount }} Kamar tersedia
          </div>
        </div>
      </div>
      <hr v-if="$device.isDesktop" class="activation-form__separator" />
      <div v-else class="activation-form__separator-mobile">
        <div>
          <hr />
        </div>
      </div>
    </template>

    <template v-if="inactiveKos.count">
      <h4 class="activation-form__section-title">
        Booking Langsung belum aktif ({{ inactiveKos.count }})
      </h4>
      <div v-for="(kos, index) in inactiveKos.data" :key="index" class="activation-form__item">
        <img
          v-lazy="kos.photo ? kos.photo.medium : ''"
          alt="kos image"
          class="activation-form__item-image"
        />
        <div class="activation-form__item-text">
          <div class="activation-form__item-name">
            {{ kosInformation(kos) }}
          </div>
          <div class="activation-form__item-availability">
            {{ kos.room_available }} Kamar tersedia
          </div>
          <div class="activation-form__last-activity">Diperbarui {{ kos.last_update }}</div>
        </div>
      </div>
      <div
        v-if="inactiveKos.hasMore && !inactiveKos.loading"
        @click="getKos('not_active', inactiveKos)"
        class="activation-form__next"
      >
        Lihat Selanjutnya
      </div>
      <div v-if="inactiveKos.loading" class="c-loader"></div>
      <hr class="activation-form__separator" />
    </template>

    <template v-if="waitingKos.count">
      <h4 class="activation-form__section-title">
        Booking Langsung diperiksa admin ({{ waitingKos.count }})
      </h4>
      <template v-for="(kos, index) in waitingKos.data">
        <div :key="`item${index}`" class="activation-form__item">
          <img
            :src="kos.photo ? kos.photo.medium : ''"
            alt="kos image"
            class="activation-form__item-image"
          />
          <div class="activation-form__item-text">
            <div class="activation-form__item-name">
              {{ kosInformation(kos) }}
            </div>
            <div class="activation-form__item-availability">
              {{ kos.room_available }} Kamar tersedia
            </div>
            <div class="activation-form__last-activity">Diperbarui {{ kos.last_update }}</div>
          </div>
        </div>
        <b-notification
          :key="`notif${index}`"
          :closable="false"
          type="is-warning-invert"
          class="activation-form__item-warning"
          icon="alert"
          has-icon
        >
          Mohon menunggu, pengajuan Booking Langsung sedang diperiksa.
        </b-notification>
      </template>
      <div v-if="waitingKos.loading" class="c-loader"></div>
      <div
        v-if="waitingKos.hasMore && !waitingKos.loading"
        @click="getKos('waiting', waitingKos)"
        class="activation-form__next --last"
      >
        Lihat Selanjutnya
      </div>
      <hr class="activation-form__separator" />
    </template>

    <div class="activation-form__submit-wrapper">
      <b-button
        :loading="isLoading"
        @click="handleSubmitActivation"
        type="is-primary"
        class="activation-form__submit"
        expanded
      >
        {{ isAutoBBK ? 'Aktifkan Booking Langsung' : 'Lanjutkan' }}
      </b-button>
    </div>

    <mk-modal v-model="showTnCModal" class="modal-tnc modal-full">
      <mk-card>
        <mk-card-body>
          <a @click.prevent="showTnCModal = false" class="modal-tnc__close">
            <img src="~assets/images/ic_close.svg" />
          </a>
          <div class="modal-tnc__content">
            <!-- eslint-disable-next-line vue/require-component-is -->
            <component v-bind:is="'tnc-booking-langsung'" @scrolled="handleTnCFinishScrooled" />

            <hr v-if="$device.isDesktop" class="activation-form__separator" />
            <div class="modal-tnc__footer">
              <b-checkbox
                @click.native="handleTrackerTncBooking"
                :disabled="!isDisableCheckbox"
                v-model="tncCheckbox"
                type="is-green-brand"
              >
                Saya menyetujui Syarat dan Ketentuan fitur Booking Langsung Mamikos
              </b-checkbox>

              <b-button
                :loading="isLoading"
                @click="submitForm"
                :disabled="!isDisableCheckbox || !tncCheckbox"
                class="modal-tnc__submit"
                type="is-primary"
              >
                Aktifkan Booking Langsung
              </b-button>
            </div>
          </div>
        </mk-card-body>
      </mk-card>
    </mk-modal>

    <mk-modal v-model="showSuccessModal">
      <mk-card class="success-modal">
        <mk-card-body>
          <img
            src="~/assets/images/booking/booking-activation-success.svg"
            class="success-modal__image"
          />
          <h2 class="success-modal__title">
            {{ successModalTitle }}
          </h2>
          <p class="success-modal__description">
            {{ successModalDescription }}
          </p>
          <b-button
            @click="handleSuccessRedirection"
            class="success-modal__button-back"
            tag="a"
            type="is-primary"
          >
            {{ successModalButtonText }}
          </b-button>
        </mk-card-body>
      </mk-card>
    </mk-modal>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import MkModal from '~/components/global/molecules/MkModal/MkModal';
import MkCard from '~/components/global/molecules/MkCard';
import MkCardBody from '~/components/global/molecules/MkCard/components/MkCardBody';
import tracker from '~/components/page-features/kos-booking-register/mixins/tracker';

const tncBookingLangsung = () => import('../TncBookingLangsung');

export default {
  name: 'ActivationForm',
  components: {
    /* eslint-disable vue/no-unused-components */
    MkModal,
    MkCard,
    MkCardBody,
    tncBookingLangsung,
    /* eslint-enable */
  },
  mixins: [tracker],
  data() {
    return {
      isLoading: false,
      inactiveKos: {
        count: 0,
        offset: 0,
        hasMore: false,
        loading: false,
        data: [],
      },
      waitingKos: {
        count: 0,
        offset: 0,
        hasMore: false,
        loading: false,
        data: [],
      },
      showSuccessModal: false,
      showTnCModal: false,
      isDisableCheckbox: false,
      tncCheckbox: false,
      mamikosUrl: process.env.MAMIKOS_URL,
    };
  },
  computed: {
    ...mapGetters('profile', ['user', 'membership', 'isBookingAvailable']),
    recentKos() {
      const { kos_name, room_count, image } = this.$route.query;
      return kos_name && room_count && image
        ? {
            name: kos_name,
            roomCount: room_count,
            img: image,
          }
        : null;
    },
    isAutoBBK() {
      const { autobbk } = this.$route.query;
      return autobbk;
    },
    inActivePropertyId() {
      const id = [];
      this.inactiveKos.data.map((data) => id.push(data.id));
      return id;
    },
    isRejectedNotif() {
      const rejectedNotif = this.$route.query['rejected-notif'];
      return rejectedNotif;
    },
    isRedirectUrl() {
      const { redirect_url } = this.$route.query;
      return redirect_url;
    },
    isGoldPlusSubmission() {
      const { gp_submission } = this.$route.query;
      return gp_submission;
    },
    successModalTitle() {
      return this.isGoldPlusSubmission
        ? 'Berhasil!'
        : this.isRejectedNotif
        ? 'Anda Telah Memperbaiki Data'
        : 'Permintaan Aktivasi Dikirimkan';
    },
    successModalDescription() {
      return this.isGoldPlusSubmission
        ? 'Pengajuan fitur Booking Langsung dan verifikasi identitas berhasil dikirim. Admin Mamikos kini sedang memeriksa data Anda.'
        : this.isRejectedNotif
        ? 'Data akan diverifikasi admin dalam 2x24 jam. Mohon menunggu, ya. '
        : 'Data berhasil dikirim dan akan diverifikasi admin dalam 2x24 jam. Mohon menunggu, ya.';
    },
    successModalButtonText() {
      return this.isGoldPlusSubmission
        ? 'Lanjut Daftar GoldPlus'
        : this.isAutoBBK
        ? 'Ke Properti Saya'
        : 'Kembali';
    },
  },
  created() {
    this.isLoading = true;
    this.$changes.init();
    this.$changes.update(true);
    this.$store.dispatch('profile/getMamipayBookingAvailable');
    this.sendTrackerActivationBBKVisited();
    this.$api.getBbkStatus().then((res) => {
      if (res.data.status) {
        const { reject, waiting, other } = res.data.bbk_status;
        this.inactiveKos.count = reject + other;
        this.waitingKos.count = waiting;

        this.inactiveKos.count && this.getKos('not_active', this.inactiveKos, 2);
        this.waitingKos.count && this.getKos('waiting', this.waitingKos, 2);

        this.isLoading = false;
      }
    });
  },
  methods: {
    getKos(status, kos, limit = 9) {
      kos.loading = true;
      this.$api
        .getMamipayRooms({ booking_status: status, limit, offset: kos.offset })
        .then((res) => {
          if (!res.data.status) return;
          kos.offset += limit;
          kos.data = [...kos.data, ...res.data.data];
          kos.hasMore = res.data.has_more;
          kos.loading = false;
        })
        .catch(() => {
          kos.loading = false;
          this.showToast('Gagal, silakan klik lagi.');
        });
    },
    submitForm() {
      this.isLoading = true;
      this.sendTrackerBookingLangsungSubmitted();
      this.$api
        .registerBbk()
        .then((res) => {
          this.isLoading = false;
          // failed response
          if (!res.data.status) {
            this.showToast(res.data.meta.message);
            return;
          }
          this.showTnCModal = false;
          this.showSuccessModal = true;
          this.$changes.update(false);
        })
        .catch((err) => {
          this.isLoading = false;
          this.showToast(err.message);
        });
    },
    showToast(msg) {
      this.$buefy.toast.open({
        duration: 2000,
        message: msg,
        position: 'is-bottom',
      });
    },
    kosInformation(kos) {
      return `${kos.room_title}${kos.area_formatted === '' ? '' : `, ` + kos.area_formatted}`;
    },
    handleSubmitActivation() {
      if (this.isAutoBBK) {
        this.submitForm();
        return;
      }
      this.showTnCModal = true;
    },
    async handleSuccessRedirection() {
      if (this.isAutoBBK) {
        window.location.href = `${this.mamikosUrl}/ownerpage/kos`;
        return;
      }

      if (this.isRedirectUrl) {
        window.location.href = this.isRedirectUrl;
        return;
      }

      if (this.isGoldPlusSubmission) {
        window.location.href = '/goldplus/submission/steps';
      }

      await this.$store.dispatch('profile/getLatestProfile');
      this.$router.push('/');
    },
    handleTnCFinishScrooled(val) {
      this.isDisableCheckbox = val;
    },
    sendTrackerBookingLangsungSubmitted() {
      this.$tracker.send('moe', [
        '[Owner] Activation BBK - Booking Langsung Submitted',
        {
          interface: this.$device.isMobile ? 'mobile' : 'desktop',
          total_property_activation: this.inactiveKos.count,
          property_id: this.inActivePropertyId,
          is_booking: this.isBookingAvailable,
        },
      ]);
    },
    handleTrackerTncBooking() {
      this.$tracker.send('moe', [
        '[Owner] Activation BBK - TnC Booking Clicked',
        {
          interface: this.$device.isMobile ? 'mobile' : 'desktop',
          is_mamipay: this.membership.is_mamipay_user,
          owner_name: this.user.name,
        },
      ]);
    },
    sendTrackerActivationBBKVisited() {
      this.$tracker.send('moe', [
        '[Owner] Activation BBK - Kos List Booking Langsung Visited',
        {
          interface: this.$device.isMobile ? 'mobile' : 'desktop',
          redirection_source: this.redirectionSource,
        },
      ]);
    },
  },
};
</script>

<style src="./ActivationForm.scss" lang="scss" scoped></style>
