.activation-form {
  max-width: 548px;
  margin-right: auto;
  margin-left: auto;

  &__title {
    margin-bottom: 32px;
    font-size: 24px;
    font-weight: 900;
    line-height: 32px;
    color: #484848;
    text-align: left;

    @media screen and (max-width: 768px) {
      margin-bottom: 8px;
      text-align: left;
    }
  }

  &__info {
    padding: 14px 15px;
    margin-bottom: 30px;
    background-color: #fff;
    border: 1px solid #e8e8e8;
    border-radius: 8px;

    ::v-deep {
      .mdi::before {
        font-size: 20px;
      }

      .is-large {
        width: 20px;
        height: 20px;
        margin-top: 2px;
      }

      .media-content {
        font-size: 14px;
        color: #404040;

        /* stylelint-disable-next-line */
        @media screen and (max-width: 768px) {
          font-size: 14px;
        }
      }
    }

    &-title {
      font-size: 16px;
      font-weight: bold;
      line-height: 24px;
      color: #303030;
    }

    &-link {
      display: block;
      margin-top: 12px;
      font-size: 16px;
      font-weight: bold;
      line-height: 24px;
      color: #303030;
    }
  }

  &__description {
    margin-bottom: 30px;
    font-size: 16px;
    font-weight: normal;
    line-height: 24px;
    color: #484848;

    @media screen and (max-width: 768px) {
      font-size: 14px;
    }
  }

  &__section-title {
    margin-top: 8px;
    font-size: 18px;
    font-weight: bold;
    line-height: 26px;
    color: #242424;
  }

  &__item {
    display: flex;
    margin-top: 12px;
    margin-bottom: 16px;

    @media screen and (max-width: 768px) {
      padding-top: 19px;
      padding-bottom: 19px;
      border-top: solid 1px #e8e8e8;
    }
  }

  &__item-text {
    margin-left: 12px;

    @media screen and (max-width: 768px) {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }

  &__item-image {
    width: 64px;
    min-width: 64px;
    height: 92px;
    object-fit: cover;
    border-radius: 4px;
  }

  &__item-name {
    font-size: 16px;
    line-height: 24px;
    color: #484848;
    word-break: break-word;

    @media screen and (max-width: 768px) {
      font-size: 14px;
    }
  }

  &__item-availability {
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    color: #484848;
  }

  &__last-activity {
    font-size: 14px;
    color: #aaa;
  }

  &__separator {
    height: 1px;
    margin-top: 0;
    margin-bottom: 0;
    background-color: #e8e8e8;

    @media screen and (max-width: 768px) {
      &-mobile {
        position: absolute;
        right: 0;
        left: 0;
        margin-top: 0;
        margin-bottom: 0;
        /* stylelint-disable-next-line */
        div {
          position: relative;
          right: 0;
          left: 0;
          height: 10px;
        }
        /* stylelint-disable-next-line */
        hr {
          /* stylelint-disable-next-line */
          position: absolute;
          top: -41px;
          left: 0;
          width: 100vw;
          height: 12px;
          background-color: #f5f5f5;
          border-top: solid 2px #e8e8e8;
        }
      }
    }
  }

  &__next {
    margin-bottom: 24px;
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    align-items: center;
    color: #1baa56;
    text-align: center;
    cursor: pointer;

    @media screen and (max-width: 768px) {
      padding-top: 19px;
      padding-bottom: 19px;
      margin-bottom: 0;
      border-top: solid 1px #e8e8e8;
    }

    &.--last {
      @media screen and (max-width: 768px) {
        margin-bottom: 36px;
      }
    }
  }

  &__submit-wrapper {
    margin-top: 15px;
    @media screen and (max-width: 768px) {
      position: fixed;
      right: 0;
      bottom: 0;
      left: 0;
      padding: 15px;
      background-color: #fff;
      border-top: solid 1px #e8e8e8;
    }
  }

  &__submit {
    min-width: 180px;
    height: 48px;
    font-size: 16px;
    font-weight: 700;
  }

  &__tag-wrapper {
    position: relative;
    @media screen and (max-width: 768px) {
      height: 92px;
    }
  }

  &__tag-label {
    position: absolute;
    top: -11px;
    left: -11px;
    padding: 2px 4px;
    font-size: 12px;
    line-height: 18px;
    color: #fff;
    background-color: #1baa56;
    border-radius: 4px 4px 4px 0;

    &::after {
      position: absolute;
      top: 13px;
      left: 3px;
      content: '';
      border: 8px solid transparent;
      border-left-color: #016034;
      transform: rotate(-45deg);
    }
  }

  &__item-warning {
    padding: 12px 18px;
    background-color: #fdf7ed;

    ::v-deep {
      .mdi::before {
        font-size: 20px;
        color: #eba947;
      }

      .is-large {
        width: 20px;
        height: 20px;
      }

      .media-content {
        font-size: 14px;
        line-height: 20px;
        color: #484848;
      }
    }
  }

  ::v-deep {
    .c-loader {
      margin-top: 24px;
      margin-bottom: 24px;
      @media screen and (max-width: 768px) {
        margin-bottom: 48px;
      }
    }
  }
}

.success-modal {
  max-width: 495px;
  @media screen and (max-width: 768px) {
    width: 100vw;
    max-width: 100vw;
    height: 100vh;
    margin: 0;
  }

  @media screen and (max-width: 768px) {
    ::v-deep {
      .c-mk-card__body {
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: center;
      }
    }

    .button {
      position: fixed;
      right: 15px;
      bottom: 15px;
      left: 15px;
      width: auto;
    }
  }

  ::v-deep {
    .c-mk-card__body {
      text-align: center;
    }
  }

  &__image {
    display: block;
    margin: auto auto 30px;
    @media screen and (max-width: 768px) {
      margin: 0;
    }
  }

  &__title {
    margin-bottom: 16px;
    font-size: 20px;
    font-weight: bold;
    line-height: 30px;
    color: #242424;
    text-align: center;
  }

  &__description {
    margin-bottom: 33px;
    font-size: 16px;
    line-height: 24px;
    color: #484848;
    text-align: center;
  }

  &__button-back {
    min-width: 274px;
    min-height: 48px;
  }
}

.modal-full {
  top: 80px;
  border-top: 1px solid #e8e8e8;

  @media (max-width: 767px) {
    top: 0;
  }

  .c-mk-card {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin-bottom: 0;
    border-radius: 0;
  }
}

.modal-tnc {
  &__content {
    max-width: 600px;
    margin: 50px auto 20px;
  }
  &__close {
    position: absolute;
    top: 40px;
    right: 40px;

    @media (max-width: 767px) {
      top: 16px;
      right: 16px;
    }
  }
  &__footer {
    display: flex;
    margin-top: 15px;
    ::v-deep {
      .b-checkbox {
        margin-top: 5px;
        align-items: flex-start;
      }
      .control-label {
        margin-top: -5px;
        margin-left: 5px;

        /* stylelint-disable-next-line */
        @media (max-width: 767px) {
          align-self: center;
          font-size: 14px;
          line-height: 14px;
        }
      }
    }

    @media (max-width: 767px) {
      position: fixed;
      right: 0;
      bottom: 0;
      left: 0;
      display: block;
      padding: 16px;
      background-color: #fff;
      border-top: solid 1px #e8e8e8;
    }
  }
  &__submit {
    height: 48px;
    font-size: 16px;
    font-weight: 700;
    &[disabled] {
      color: #bbb;
      background-color: #f6f6f6;
    }

    @media (max-width: 767px) {
      width: 100%;
      margin-top: 9px;
    }
  }
}
