<template>
  <mk-card :max-width="342" class="manage-booking-card">
    <template #default>
      <mk-card-header class="manage-booking-card__header">
        <span class="manage-booking-card__date-info">{{ getDate }}</span>
        <mk-card-title>Tagihan Penyewa</mk-card-title>
      </mk-card-header>
      <mk-card-body>
        <span v-if="isLoading" class="c-loader"></span>
        <template v-else>
          <label-number
            v-for="(widget, i) in billListWidget"
            :label="widget.label"
            :key="i"
            @click.native="goTo(widget.url)"
          >
            <mk-number-counter :type="widget.type" :limit="1" :number="widget.totalBilling" />
          </label-number>
        </template>
      </mk-card-body>
      <mk-card-footer>
        <mk-button @clicked="handleActionButtonClicked" color="green-inverse" block>
          Lihat Tagihan Penyewa
        </mk-button>
      </mk-card-footer>
    </template>
  </mk-card>
</template>

<script>
import LabelNumber from '../LabelNumber';
import MkCard from '~/components/global/molecules/MkCard';
import MkCardFooter from '~/components/global/molecules/MkCard/components/MkCardFooter';
import MkCardBody from '~/components/global/molecules/MkCard/components/MkCardBody';
import MkCardTitle from '~/components/global/molecules/MkCard/components/MkCardTitle';
import MkCardHeader from '~/components/global/molecules/MkCard/components/MkCardHeader';
import MkButton from '~/components/global/atoms/MkButton';
import MkNumberCounter from '~/components/global/atoms/MkNumberCounter';
import EventBus from '~/components/event-bus/index.js';

export default {
  name: 'BillingManagementWidget',
  components: {
    MkCard,
    MkCardFooter,
    MkCardBody,
    MkCardTitle,
    MkCardHeader,
    LabelNumber,
    MkButton,
    MkNumberCounter,
  },
  data() {
    return {
      billListWidget: {
        unpaidWidget: {
          totalBilling: 0,
          label: 'Belum Bayar',
          type: 'success',
          url: '/billing-management?page=unpaid',
        },
        paidWidget: {
          totalBilling: 0,
          label: 'Di Mamikos',
          type: 'default',
          url: '/billing-management?page=paid',
        },
        transferredWidget: {
          totalBilling: 0,
          label: 'Ditransfer',
          type: 'error',
          url: '/billing-management?page=transferred',
        },
      },
      isLoading: false,
    };
  },
  computed: {
    getDate() {
      return this.$dayjs().format('MMMM YYYY');
    },
  },
  watch: {
    isLoading(val) {
      EventBus.$emit('event:dashboardWidgetLoading', {
        name: 'BillingManagementWidget',
        value: val,
      });
    },
  },
  mounted() {
    this.getSummary();
  },
  methods: {
    goTo(url) {
      this.$router.push(url);
    },
    getSummary() {
      this.isLoading = true;
      this.$api.getBillingSummary().then((response) => {
        const { status, data } = response.data;

        const { unpaidWidget, paidWidget, transferredWidget } = this.billListWidget;

        if (status) {
          unpaidWidget.totalBilling = data.unpaid_invoices || 0;
          paidWidget.totalBilling = data.paid_invoices || 0;
          transferredWidget.totalBilling = data.transferred_invoices || 0;
        }
        this.isLoading = false;
      });
    },
    handleActionButtonClicked() {
      this.$router.push('/billing-management');
    },
  },
};
</script>

<style lang="scss" src="./BillingManagementWidget.scss"></style>
