.manage-booking-card {
  &__date-info {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: right;
    color: #757575;
    float: right;
    margin-top: 10px;
  }
}
