<template>
  <div class="scheme-content">
    <div v-if="!isDesktop">
      <h1 class="scheme-content__title">Perolehan MamiPoin</h1>
    </div>
    <b-tabs v-model="activeTab" class="scheme-tabs">
      <template v-for="(tab, index) in tabs">
        <b-tab-item :key="'tab' + index" :label="tab.label" class="scheme-tabs__item">
          <!-- eslint-disable-next-line vue/require-component-is -->
          <component :is="tab.component" />
        </b-tab-item>
      </template>
    </b-tabs>
  </div>
</template>

<script>
import PointScheme from '../PointScheme';
import ActivityGuide from '../ActivityGuide';

/* eslint-disable vue/no-unused-components */

export default {
  name: 'SchemeContent',
  components: {
    PointScheme,
    ActivityGuide,
  },
  data() {
    return {
      activeTab: 0,
      tabs: [
        {
          label: 'Skema Poin',
          component: PointScheme,
        },
        {
          label: 'Petunjuk Aktivitas',
          component: ActivityGuide,
        },
      ],
    };
  },
  computed: {
    isDesktop() {
      return this.$device.isDesktop;
    },
  },
};
</script>

<style lang="scss" scoped src="./SchemeContent.scss"></style>
