/* stylelint-disable max-nesting-depth, selector-max-compound-selectors, selector-max-type, selector-no-qualifying-type */

.scheme-content {
  &__title {
    margin: 20px 0 20px 10px;
    font-size: 20px;
    font-weight: bold;
    color: #383746;
  }
}

.scheme-tabs {
  ::v-deep .tabs {
    ul {
      border-bottom: unset;

      @media (max-width: 576px) {
        width: 100%;
      }
    }

    li {
      min-width: 176px;
      font-size: 14px;
      font-weight: bold;
      text-align: center;

      @media (max-width: 576px) {
        width: 50%;
        min-width: unset;
      }

      > a {
        padding: 0.5em 2.5em;
        color: #949494;
        border-bottom: 3px solid #e8e8e8;
      }

      &.is-active {
        > a {
          color: #303030;
          border-bottom: 3px solid #1baa56;
        }
      }
    }
  }
}
