.c-wrapper {
  width: 880px;
  margin: 40px auto 0;
}

.desktop-wrapper {
  display: flex;
  width: 880px;
  margin: 8px auto 0;
}

.c-navigation {
  display: flex;
}

::v-deep .bg-c-link--medium-naked {
  font-weight: bold;
  line-height: 24px;
}

.c-title {
  @media (min-width: 1280px) {
    width: 284px;
    height: 64px;
    margin: 24px auto;
  }
  width: 328px;
  height: 64px;
  margin: 12px auto;

  &__content {
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: 32px;
    color: #303030;
  }
}

.c-subtitle {
  @media (min-width: 1280px) {
    width: 280px;
    height: 64px;
    margin: 16px auto;
  }
  width: 328px;
  height: 64px;
  margin: 4px auto;

  &__content {
    @media (min-width: 1280px) {
      font-family: Lato;
      font-size: 20px;
      font-style: normal;
      font-weight: normal;
      line-height: 30px;
    }
    font-family: Lato;
    font-size: 16px;
    line-height: 24px;
    color: #404040;
  }
}

.l-desktop-right {
  margin-left: 28px;
}

.c-questions {
  @media (min-width: 1280px) {
    width: 492px;
    height: 80px;
    margin: 21px 0;
  }
  width: 328px;
  height: 64px;
  margin: 0 auto;

  &__content {
    @media (min-width: 1280px) {
      font-family: Lato;
      font-size: 32px;
      font-style: normal;
      line-height: 40px;
    }
    font-family: Lato;
    font-size: 20px;
    font-weight: 900;
    line-height: 28px;
    color: #303030;
  }
}

::v-deep .bg-c-text--body-2 {
  @media (min-width: 1280px) {
    width: 596px !important;
  }

  width: 288px !important;
}

.c-answer {
  @media (min-width: 1280px) {
    width: 596px;
  }
  width: 328px;
  margin: 0 auto;

  @media (max-width: 360px) {
    margin-bottom: 70px;
  }

  &__top {
    @media (min-width: 1280px) {
      padding: 24px 0 12px;
    }
    padding: 13px 0 7px;
  }

  &__list {
    @media (min-width: 1280px) {
      padding: 15px 0;
    }
    padding: 16px 0;
  }

  &__other {
    padding-bottom: 100px;
    @media (min-width: 1280px) {
      padding-bottom: 0;
    }
  }
}

::v-deep .bg-c-textarea__field {
  min-height: 106px;
}

::v-deep .bg-c-text--body-2 {
  @media (min-width: 1280px) {
    position: relative;
    top: -5px;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: normal;
    line-height: 30px;
  }

  color: #303030;
}

.c-textarea {
  @media (min-width: 1280px) {
    max-width: 596px;
    margin: 8px auto 14px;
  }
  position: relative;
  max-width: 328px;
  margin: 8px auto 70px;

  &__error {
    color: #da3438;
  }
  @media (max-width: 360px) {
    position: relative;
    margin-bottom: 70px;
    margin-left: auto;
  }
  @media (max-width: 320px) {
    margin-left: -5px;
  }
}

::v-deep .bg-c-textarea__counter--error {
  color: #da3438;
}

.c-button {
  @media (min-width: 1280px) {
    position: relative;
    background-color: transparent;
    border-top: none;
  }
  position: fixed;
  right: 0;
  bottom: 0px;
  left: 0;
  background-color: #ffffff;
  border-top: 1px solid #e8e8e8;

  &__content {
    @media (min-width: 1280px) {
      width: 72px;
      padding: 8px 0 16px;
      margin-right: auto;
      margin-left: 0;
    }
    width: 328px;
    padding: 8px 0 16px;
    margin-right: auto;
    margin-left: auto;
    background-color: #ffffff;
  }
}
