<template>
  <div>
    <div v-if="isDesktop" class="c-wrapper">
      <div @click="prevPage" class="c-navigation">
        <bg-link variant="medium-naked">Kembali</bg-link>
      </div>
    </div>
    <div v-if="!isSubmitted" :class="{ 'desktop-wrapper': isDesktop }">
      <div :class="{ 'l-desktop': isDesktop }">
        <div class="c-title">
          <h1 v-if="questionsList" class="c-title__content">
            Mohon beritahu yang perlu kami perbaiki
          </h1>
        </div>
        <div class="c-subtitle">
          <div v-if="questionsList" class="c-subtitle__content">
            Jawaban Anda hanya akan digunakan untuk pengembangan produk Mamikos.
          </div>
        </div>
      </div>
      <hr v-if="!isDesktop && questionsList" class="c-line" />
      <div :class="{ 'l-desktop-right': isDesktop }">
        <div class="c-questions">
          <div class="c-questions__content">
            <div v-if="!questionsList" class="stories-skeleton">
              <div class="stories-skeleton__content">
                <bg-skeleton :height="16" width="100%" />
                <bg-skeleton :height="16" width="50%" />
              </div>
            </div>
            {{ questionsList.question }}
          </div>
        </div>
        <div v-if="questionsList" class="c-answer">
          <div v-for="(item, index) in questionsList.options" :key="index">
            <div
              :class="{
                'c-answer__top': index === 0,
                'c-answer__list': index > 0,
                'c-answer__other ': item.option === 'Lainnya' && isDesktop,
              }"
            >
              <bg-checkbox
                :id="item.id.toString()"
                v-model="optionIds[item.id]"
                @input="checkOptions(item.id, item.option, optionIds[item.id])"
                :label="item.option"
              />
            </div>
            <div v-if="item.is_other && enableTextArea" class="c-textarea">
              <bg-textarea
                id="ownerFeedback"
                :hasCounter="true"
                :error="warning"
                v-model="ownerFeedback"
                placeholder="Masukkan alasan Anda"
              />
              <bg-text v-if="warning" class="c-textarea__error" size="label-2"
                >Masukkan alasan Anda terlebih dahulu.</bg-text
              >
            </div>
          </div>
        </div>
        <div v-else class="c-questions">
          <survey-skeleton />
        </div>
        <div v-if="questionsList" class="c-button">
          <div class="c-button__content">
            <bg-button
              @click="sendFeedback"
              :loading="isLoadData"
              :disabled="itemHasNotSelected"
              variant="primary"
              size="lg"
              block
              >Kirim</bg-button
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import { BgTextarea, BgCheckbox, BgButton, BgText, BgLink, BgSkeleton } from 'bangul-vue';
import SurveySkeleton from '../SurveySkeleton';
import mixinsSurvey from '../../mixins/mixinsSurvey';
export default {
  name: 'SurveyQuestions',
  components: {
    BgText,
    BgLink,
    BgButton,
    BgSkeleton,
    BgCheckbox,
    BgTextarea,
    SurveySkeleton,
  },
  mixins: [mixinsSurvey],
  data() {
    return {
      warning: false,
      isLoadData: false,
      questionsList: '',
      ownerFeedback: '',
      expensiveId: '',
      othersId: '',
      isSubmitted: '',
      optionIds: [],
      itemHasNotSelected: true,
      allResponseData: [],
      enableTextArea: false,
      trackerGoldPlusStatus: localStorage.getItem('trackerSurveyGpStatus'),
    };
  },
  computed: {
    ...mapGetters('profile', ['user', 'isPremium']),
    isDesktop() {
      return this.$device.isDesktop;
    },

    verifiedFeedback() {
      return /\S/.test(this.ownerFeedback);
    },
  },

  created() {
    this.getQuestionList();
    this.sendTrackerEvent();
  },
  methods: {
    checkOptions(id, options, value) {
      this.$set(this.optionIds, id, value);
      this.areAllItemsNotChecked();
      if (options === 'Lainnya') {
        this.othersId = id;
        this.enableTextArea = value;
      }
    },

    areAllItemsNotChecked() {
      this.itemHasNotSelected = Object.values(this.optionIds).every((checklist) => {
        return !checklist;
      });
    },

    uploadFeedback() {
      this.isLoadData = true;
      this.allResponseData = [];
      for (const [key, isSelected] of Object.entries(this.optionIds)) {
        if (key === this.othersId.toString()) {
          this.allResponseData.push({ id: key, value: isSelected ? this.ownerFeedback : 'N' });
        } else {
          this.allResponseData.push({ id: key, value: isSelected ? 'Y' : 'N' });
        }
      }

      const feedbackData = {
        answers: [
          {
            id: this.questionsList.id,
            value: '',
            options: this.allResponseData,
          },
        ],
      };
      this.sendResponseToApi(feedbackData);
    },

    sendFeedback() {
      if (this.optionIds[this.othersId] && !this.verifiedFeedback) {
        this.warning = true;
        return 0;
      } else {
        this.warning = false;
      }
      this.uploadFeedback();
      this.sendSubmitedTracker();
    },

    genereteModel(optionData) {
      optionData.options.forEach((item) => {
        this.optionIds[item.id] = false;
      });
    },

    checkSubmitStatus(status) {
      this.isSubmitted = status;
      if (status) {
        this.$router.push({ path: '/' });
      }
    },

    sendResponseToApi(feedbackData) {
      this.$api
        .postFeedbackSurvey('exit_goldplus', feedbackData)
        .then(async (response) => {
          if (response.data.status) {
            this.isLoadData = false;
            await this.$router.push({
              path:
                response.data.action_code === 'exit'
                  ? '/exit-gp-survey/close'
                  : '/exit-gp-survey/offers',
            });
            if (response.data.action_code === 'exit') {
              this.$store.commit('survey/setSurveyPreviousPath', {
                prevPath: {
                  name: 'feedback',
                  path: 'exit-gp-survey/feedback',
                },
              });
            }
          } else {
            this.$alert('is-danger', 'Gagal', 'Terjadi galat, silakan coba lagi.');
          }
        })
        .catch((err) => {
          this.$bugsnag.notify(err);
          this.$alert('is-danger', 'Gagal', 'Terjadi galat, silakan coba lagi.');
        });
    },

    prevPage() {
      this.$router.push({ path: '/exit-gp-survey' });
    },

    getQuestionList() {
      this.$api.getPollingQuestions().then((response) => {
        this.checkSubmitStatus(response.data.data.has_submitted);
        if (response.data.data.questions) {
          this.genereteModel(response.data.data.questions[0]);
          this.questionsList = response.data.data.questions[0];
        }
      });
    },

    // tracker event
    sendTrackerEvent() {
      this.$tracker.send('moe', [
        '[Owner] GP Review Form Visited',
        {
          interface: this.isDesktop ? 'desktop' : 'mobile',
          owner_name: this.user.name === null ? '' : this.user.name,
          owner_phone_number: this.user.phone_number,
          owner_email: this.user.email,
          owner_premium_status: this.isPremium,
          goldplus_status: this.trackerGoldPlusStatus,
        },
      ]);
    },

    sendSubmitedTracker() {
      this.$tracker.send('moe', [
        '[Owner] GP Review Submitted',
        {
          interface: this.isDesktop ? 'desktop' : 'mobile',
          owner_name: this.user.name === null ? '' : this.user.name,
          owner_phone_number: this.user.phone_number,
          owner_email: this.user.email,
          owner_premium_status: this.isPremium,
          goldplus_status: this.trackerGoldPlusStatus,
        },
      ]);
    },
  },
};
</script>

<style lang="scss" src="./surveyQuestions.scss" scoped></style>
