<template>
  <div :class="isPopoverShown ? '--has-highlight' : ''" class="mamipoin-card">
    <mk-card ref="mamipoinCard" class="mamipoin-card__card">
      <mk-card-body>
        <div class="mamipoin-card__info">
          <div class="point-wrapper">
            <div @click="backToDashboard" v-if="!isDesktop" class="back-icon">
              <bg-icon name="back" />
            </div>
            <span class="info-label">
              MamiPoin Anda:
            </span>
            <span class="info-count"> {{ pointTotal | toThousands }} Poin </span>
          </div>
          <span v-show="nearExpiredPoint > 0" class="info-expired">
            {{ nearExpiredPoint | toThousands }} poin kedaluwarsa <br />
            pada
            {{ nearExpiredDate || '-' }}
          </span>
        </div>
        <img class="mamipoin-card__image" src="~assets/images/mamipoin/mamipoin-glow-shadow.svg" />

        <guide-popover
          v-if="isPopoverShown"
          :is-active="isPopoverShown"
          @click:popover-button="closePopover"
          :offset="mamipoinCardHeight"
          :placement="isDesktop ? 'bottom-center' : 'bottom-start'"
          :boundaries-element="parent.$refs.mamipoinPage"
          class="mamipoin-card__popover"
          title="MamiPoin"
          message="Ini adalah jumlah poin Anda saat ini yang dapat Anda tukarkan dengan berbagai hadiah."
        />
      </mk-card-body>
    </mk-card>
  </div>
</template>

<script>
import { BgIcon } from 'bangul-vue';
import onboardingMixin from '../../mixins/onboarding';
import GuidePopover from '../GuidePopover';
import MkCard from '~/components/global/molecules/MkCard';
import MkCardBody from '~/components/global/molecules/MkCard/components/MkCardBody';

export default {
  name: 'MamipoinCard',
  components: {
    BgIcon,
    GuidePopover,
    MkCard,
    MkCardBody,
  },
  mixins: [onboardingMixin],
  data() {
    return {
      pointTotal: 0,
      nearExpiredPoint: 0,
      nearExpiredDate: '',
      mamipoinCardHeight: 0,
    };
  },
  inject: ['parent'],
  computed: {
    mamipoinPage: {
      get() {
        return this.$store.state.mamipoin.mamipoinPage;
      },
      set(val) {
        this.$store.commit('mamipoin/setMamipoinPage', val);
      },
    },
    isPopoverShown() {
      return (
        !this.mamipoinPage.hasViewedOnboarding &&
        this.mamipoinPage.currentOnboardingStep === 'mamipoinCard' &&
        !this.isProfileModalShown
      );
    },
    isDesktop() {
      return this.$device.isDesktop;
    },
  },
  watch: {
    isPopoverShown(val) {
      if (val && !this.isDesktop) {
        this.setBodyOverflow(false);
      }
    },
  },
  mounted() {
    this.fetchPoinApi();
    this.setMamipoinCardHeight();

    this.isPopoverShown && !this.isDesktop && this.setBodyOverflow(false);
  },
  methods: {
    closePopover() {
      this.mamipoinPage = {
        hasViewedOnboarding: false,
        currentOnboardingStep: 'giftHistory',
      };
    },
    setMamipoinCardHeight() {
      /* istanbul ignore else */
      if (this.$refs.mamipoinCard) {
        const offset = this.isDesktop ? 60 : 30;
        this.mamipoinCardHeight = this.$refs.mamipoinCard.$el.offsetHeight + offset;
      }
    },
    fetchPoinApi() {
      this.$api
        .getPointTotal()
        .then((response) => {
          /* istanbul ignore next */
          if (response.data.status) {
            // eslint-disable-next-line camelcase
            const { point = 0, near_expired_point = 0, near_expired_date = '' } = response.data;
            const dateFormat = 'YYYY MM DD hh:mm:ss';

            this.pointTotal = parseInt(point || 0);
            // eslint-disable-next-line camelcase
            this.nearExpiredPoint = parseInt(near_expired_point || 0);
            // eslint-disable-next-line camelcase
            this.nearExpiredDate = near_expired_date
              ? this.$dayjs(near_expired_date, dateFormat).format('DD MMM YYYY')
              : '';
          }
        })
        .catch((error) => {
          this.$bugsnag.notify(error);
        });
    },

    backToDashboard() {
      this.$router.push({ name: 'index' });
    },
  },
};
</script>

<style lang="scss" scoped src="./MamipoinCard.scss"></style>
