$mamipoin-info-color: #fff;
$mamipoin-font-size: (
  desktop: 16px,
  mobile: 14px,
);

$mamicard-color: #1baa56;

@mixin fontSize($source: $mamipoin-font-size, $scale: 1) {
  font-size: map-get($source, 'desktop') * $scale;

  @media (max-width: 480px) {
    font-size: map-get($source, 'mobile') * $scale;
  }
}

/* stylelint-disable plugin/no-unsupported-browser-features */

.mamipoin-card {
  position: relative;
  width: 100%;
  height: 100%;

  &__card {
    position: relative;
    display: flex;
    height: 100%;
    padding: 10px 0;
    margin-bottom: 0;
    background: rgb(54, 187, 109);
    background: linear-gradient(180deg, #34d978 0%, #1baa56 100%);
    align-items: center;

    @media (max-width: 480px) {
      margin-bottom: 0;
    }

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      width: 100%;
      height: 100px;
      content: '';
      background-image: url('~assets/images/mamipoin/mamicard-bg-up.svg');
      background-repeat: no-repeat;
      background-position: top;
      background-size: cover;
      opacity: 0.8;

      @media (max-width: 768px) {
        z-index: -1;
      }
    }

    &::after {
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 1;
      width: 100%;
      height: 100px;
      content: '';
      background-image: url('~assets/images/mamipoin/mamicard-bg-down.svg');
      background-repeat: no-repeat;
      background-position: bottom;
      background-size: cover;
      opacity: 0.8;
    }
  }

  &.--has-highlight {
    .mamipoin-card__card {
      z-index: 12;
    }

    &::before {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 10;
      display: block;
      width: 100%;
      height: 100%;
      content: '';
      background-color: rgba(0, 0, 0, 0.6);
    }

    .point-wrapper {
      position: relative;
      z-index: 11;
      border-radius: 8px;
    }

    .guide-popover {
      position: absolute;
      z-index: 12;
    }
  }

  .c-mk-card {
    position: relative;
    display: flex;
    height: 100%;
    align-items: center;
    flex: 1;

    @media (max-width: 768px) {
      border-radius: 0;
    }
  }

  .c-mk-card__body {
    display: flex;
    width: 100%;
    padding: 12px 20px;
  }

  &__info {
    position: relative;
    color: $mamipoin-info-color;

    .info-label {
      display: block;
      @include fontSize($mamipoin-font-size);
    }

    .info-count {
      display: block;
      font-weight: 600;
      line-height: 2;
      @include fontSize($mamipoin-font-size, 1.5);
    }

    .info-expired {
      display: block;
      @include fontSize($mamipoin-font-size);
    }

    .info-button {
      position: relative;
      z-index: 2;
      display: flex;
      padding: 5px 10px;
      margin-top: 15px;
      color: $mamicard-color;
      background: #e8f7ee;
      border: 0;
      border-radius: 16px;
      justify-content: center;
      align-items: center;

      .button-icon {
        margin-right: 5px;
        font-size: 1.25em;
      }

      .button-text {
        @include fontSize($mamipoin-font-size, 0.75);
      }

      &:hover {
        cursor: pointer;
      }
    }
  }

  &__image {
    margin-top: -20px;
    margin-left: auto;
    align-self: flex-start;

    @media (max-width: 480px) {
      max-height: 120px;
    }
  }
}

.back-icon {
  position: relative;
  z-index: 2;
}

.mamipoin-header.--mobile {
  .mamipoin-card {
    border-radius: 0;

    @media (max-width: 768px) {
      padding-bottom: 15px;
    }

    .c-mk-card__body {
      padding: 24px 20px;
    }
  }
}
