<template>
  <div
    ref="rewardContent"
    :class="{ '--onboarding-active': isPopoverShown }"
    class="reward-content"
  >
    <div v-if="isLoading" class="reward-content__loader">
      <div class="c-loader" />
    </div>
    <div ref="rewardContentBody" v-else class="reward-content__body">
      <div v-if="rewards.length && !isAllRedeemed" class="card-wrapper">
        <div ref="rewardSticky" :class="rewardStickyClass" class="reward-sticky">
          <div v-if="isDesktop" class="reward-menu">
            <router-link to="/mamipoin" class="reward-menu__link">
              <b-icon icon="arrow-left" class="link-icon" />
              <strong class="link-text">
                Menu MamiPoin
              </strong>
            </router-link>
          </div>
          <reward-header ref="rewardHeader" :has-scrolled-mobile="hasScrolledMobile" />
        </div>
        <div class="reward-list">
          <div class="reward-list">
            <ul ref="rewardList" class="reward-list__list">
              <li
                v-for="(reward, index) in rewards"
                :key="'reward' + index"
                class="reward-list__item"
              >
                <reward-card
                  :ref="'rewardCard' + index"
                  :key="'rewardCard' + index"
                  :reward="reward"
                />
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div v-else-if="isAllRedeemed">
        <div v-if="isDesktop" class="reward-menu">
          <router-link to="/mamipoin" class="reward-menu__link">
            <b-icon icon="arrow-left" class="link-icon" />
            <strong class="link-text">
              Menu MamiPoin
            </strong>
          </router-link>
        </div>
        <mamipoin-placeholder
          :image="placeholder.allRedeemed.image"
          :title="placeholder.allRedeemed.title"
          :desc="placeholder.allRedeemed.desc"
        />
      </div>
      <div v-else-if="!rewards.length">
        <div v-if="isDesktop" class="reward-menu">
          <router-link to="/mamipoin" class="reward-menu__link">
            <b-icon icon="arrow-left" class="link-icon" />
            <strong class="link-text">
              Menu MamiPoin
            </strong>
          </router-link>
        </div>
        <mamipoin-placeholder
          :image="placeholder.empty.image"
          :title="placeholder.empty.title"
          :desc="placeholder.empty.desc"
        />
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex';
import { throttle } from 'lodash';
import onboardingMixin from '~/components/page-features/mamipoin/mixins/onboarding';

import MamipoinPlaceholder from '~/components/page-features/mamipoin/components/MamipoinPlaceholder';

import RewardHeader from '~/components/page-features/mamipoin/pages/rewards/components/RewardHeader';
import RewardCard from '~/components/page-features/mamipoin/pages/rewards/components/RewardCard';

export default {
  name: 'MamipoinRewardContent',
  components: {
    MamipoinPlaceholder,
    RewardHeader,
    RewardCard,
  },
  mixins: [onboardingMixin],
  data() {
    return {
      rewards: [],
      selectedRedeemId: '',
      isAllRedeemed: false,
      isLoading: false,
      isScrollingMobile: false,
      hasScrolledMobile: false,
      placeholder: {
        allRedeemed: {
          image: 'all-redeemed-placeholder',
          title: 'Semua Hadiah Sudah Ditukar',
          desc:
            'Anda sudah menukarkan semua hadiah yang tersedia. Nantikan hadiah-hadiah berikutnya.',
        },
        empty: {
          image: 'empty-rewards-placeholder',
          title: 'Belum Ada Hadiah yang Bisa Ditukar',
          desc: 'Cek terus halaman ini dan nantikan hadiah-hadiah menarik.',
        },
      },
    };
  },
  provide() {
    return {
      parent: this,
    };
  },
  computed: {
    ...mapState('mamipoin', ['rewardsPage']),
    isDesktop() {
      return this.$device.isDesktop;
    },
    isHeaderPopoverShown() {
      return (
        this.isPopoverShown &&
        ['pointCount', 'faq'].includes(this.rewardsPage.currentOnboardingStep)
      );
    },
    isPopoverShown() {
      return !this.rewardsPage.hasViewedOnboarding && !this.isProfileModalShown;
    },
    rewardStickyClass() {
      const hasScrolledMobileClass = this.hasScrolledMobile ? '--has-scrolled' : '';
      const headerPopoverShownClass = `--header-popover-${
        this.isHeaderPopoverShown ? 'active' : 'inactive'
      }`;
      const deviceClass = this.isDesktop ? '--desktop' : '--mobile';
      const popoverShownClass = `--onboarding-${this.isPopoverShown ? 'active' : 'inactive'}`;

      return `${hasScrolledMobileClass} ${headerPopoverShownClass} ${deviceClass} ${popoverShownClass}`;
    },
  },
  created() {
    this.fetchRewardList();
  },
  mounted() {
    !this.isDesktop &&
      window.addEventListener('scroll', throttle(this.listenToMobileScrollEvent, 150));
  },
  beforeDestroy() {
    window.removeEventListener('scroll', this.listenToMobileScrollEvent);
  },
  methods: {
    listenToMobileScrollEvent() {
      if (this.$refs.rewardContent) {
        const domPosition = this.$refs.rewardContent.getBoundingClientRect();
        this.hasScrolledMobile = domPosition.top < 0;
      }
    },
    fetchRewardList() {
      this.isLoading = true;
      this.$api
        .getRewardList()
        .then((response) => {
          if (response.data.status) {
            const rewards = response.data.data || [];
            this.rewards = rewards.map((reward, index) => {
              reward.index = index;

              return reward;
            });

            this.isAllRedeemed = Boolean(response.data.all_redeemed);
          }
          this.isLoading = false;
        })
        .catch(() => {
          this.isLoading = false;
        });
    },
  },
};
</script>

<style lang="scss" scoped src="./RewardContent.scss"></style>
