.reward-content {
  height: 100%;
  padding-bottom: 60px;

  @media (max-width: 768px) {
    min-height: calc(100vh - 56px);
  }

  &.--has-highlight {
    &::before {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 10;
      display: block;
      width: 100%;
      height: 100%;
      content: '';
      background-color: rgba(0, 0, 0, 0.6);
    }
  }

  &__loader {
    margin: 60px auto;

    @media (max-width: 480px) {
      margin: calc(50vh - 20px) auto;
    }

    .c-loader {
      width: 40px;
      height: 40px;
    }
  }

  &__body {
    height: 100%;

    .card-wrapper {
      position: relative;
      height: 100%;
    }
  }

  &__card {
    height: 100%;
    min-height: 100vh;
    padding-bottom: 40px;
    background: transparent;
    box-shadow: unset;

    @media (max-width: 480px) {
      margin: -20px 0;
    }
  }

  .is-full-height {
    height: 100%;
  }
}

.reward-menu {
  margin-bottom: 20px;

  &__link {
    display: flex;
    font-size: 24px;
    color: #484848;
    align-items: center;

    .link-icon {
      margin-right: 5px;
    }
  }
}

.reward-sticky {
  z-index: 2;
  margin-bottom: 30px;
  border-bottom: 1.5px solid #e8e8e8;
  align-self: self-start;

  &.--desktop {
    position: sticky;
    top: -35px;
    background-color: #fff;

    &.--header-popover-inactive {
      z-index: 1;
    }

    &.--header-popover-active {
      position: relative;
    }

    &.--onboarding-inactive {
      z-index: 2;
    }
  }

  &.--mobile {
    top: 75px;

    &.--header-popover-active {
      position: sticky;
      z-index: 2;
    }

    &.--header-popover-inactive {
      z-index: 1;

      &:not(.--onboarding-inactive) {
        position: sticky;
      }
    }

    &.--onboarding-inactive {
      z-index: 2;
    }

    &.--has-scrolled {
      position: sticky;
      border-bottom: 0;

      &.--onboarding-inactive {
        z-index: 2;
      }
    }
  }

  &.--not-sticky {
    position: relative;
    margin-bottom: 0;

    &.--desktop {
      margin-top: 35px;
    }
  }
}

.reward-list {
  position: relative;
  z-index: 1;

  &__loader {
    margin-top: 30px;

    .c-loader {
      width: 40px;
      height: 40px;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &.--has-highlight {
      &::before {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10;
        display: block;
        width: 100%;
        height: 100%;
        content: '';
        background-color: rgba(0, 0, 0, 0.6);
      }
    }

    @media (max-width: 480px) {
      margin-top: 20px;
    }
  }

  &__item {
    width: calc(50% - 15px);
    margin-bottom: 20px;

    &:nth-of-type(odd) {
      margin-right: 15px;
    }

    &:nth-of-type(even) {
      margin-left: 15px;
    }

    @media (max-width: 480px) {
      width: 100%;
      margin: 0 0 10px;

      &:nth-of-type(odd) {
        margin-right: 0;
      }

      &:nth-of-type(even) {
        margin-left: 0;
      }
    }
  }
}
