<template>
  <mk-modal v-model="active">
    <div class="update-property-body">
      <img
        class="image"
        src="~assets/images/layouts/default/update-property-modal-image.svg"
        alt="update property modal image"
      />
      <div class="update-property-text">
        <div class="title">Ayo, Update Iklan Kos Anda Secara Berkala</div>
        <div class="content">
          Dengan rajin melakukan update/ pengkinian data, iklan kos Anda akan selalu akurat dan
          berpengaruh pada posisinya di halaman pencarian.
        </div>
      </div>
      <div class="update-button-group">
        <mk-button
          @clicked="handleUpdateSpecificPropertyButton"
          :disabled="isUpdatingAllProperties"
          color="green-inverse"
          class=" specific-property"
        >
          Update Kos Tertentu
        </mk-button>
        <mk-button
          @clicked="handleUpdateAllPropertyButton"
          :disabled="isUpdatingAllProperties"
          :has-spinner="isUpdatingAllProperties"
          color="green-brand"
          class="all-properties"
        >
          Update Semua Kos
        </mk-button>
      </div>
    </div>
  </mk-modal>
</template>

<script>
import { mapGetters } from 'vuex';
import MkModal, { mixin as modalMixin } from '~/components/global/molecules/MkModal/MkModal';
import MkButton from '~/components/global/atoms/MkButton';

export default {
  name: 'ModalUpdateProperty',
  components: {
    MkModal,
    MkButton,
  },
  mixins: [modalMixin],
  data() {
    return {
      isUpdatingAllProperties: false,
    };
  },
  computed: {
    ...mapGetters('profile', ['isBbk', 'user', 'isPremium']),
  },
  methods: {
    handleUpdateSpecificPropertyButton() {
      if (!['kos-rooms-kos_id', 'kos-rooms'].includes(this.$route.name))
        this.$router.push({ name: 'kos-rooms' });
      this.toggleModal(false);
    },
    async handleUpdateAllPropertyButton(e) {
      this.isUpdatingAllProperties = true;
      const response = await this.$api.updateAllProperties();
      if (response.data.status) {
        this.$buefy.toast.open({
          duration: 2000,
          message: 'Sukses mengupdate property',
          position: 'is-bottom',
        });
        this.$tracker.send('moe', [
          '[Owner] Dashboard - Kamar - Update Semua Kos Button Clicked',
          {
            user_id: this.user.user_id,
            interface: this.$device.isMobile ? 'mobile' : 'desktop',
            is_booking: this.isBbk,
            is_premium: this.isPremium,
          },
        ]);
      } else {
        await this.$alert('is-danger', 'Gagal!', response.data.meta.message);
      }
      this.isUpdatingAllProperties = false;
      this.toggleModal(false);
    },
  },
};
</script>

//
<style lang="scss" src="./ModalUpdateProperty.scss" scoped></style>
