.c-three-dots-loading {
  display: flex;
  justify-content: center;

  .bounce {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin: 0 8px;
    background-color: #1baa56;
    border-radius: 100%;
    animation: opacity-delay 1.4s infinite linear alternate;

    &-1 {
      animation-delay: -0.32s;
    }

    &-2 {
      animation-delay: -0.16s;
    }
  }
}

@-webkit-keyframes opacity-delay {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
