<template>
  <div class="c-three-dots-loading">
    <div class="bounce bounce-1"></div>
    <div class="bounce bounce-2"></div>
    <div class="bounce bounce-3"></div>
  </div>
</template>

<script>
export default {
  name: 'MkThreeDotsLoading',
};
</script>

<style lang="scss" scoped src="./MkThreeDotsLoading.scss"></style>
