.goldplus-room-list-filters {
  display: flex;
  margin-bottom: 20px;
  overflow-x: auto;

  &__item {
    box-sizing: border-box;
    padding: 8px 12px;
    margin-right: 8px;
    margin-bottom: 8px;
    white-space: nowrap;
    background-color: #fff;
    border: 1px solid #e8e8e8;
    border-radius: 20px;

    :last-child {
      margin-right: 0;
    }

    &:hover {
      cursor: pointer;
      border: 1px solid #303030;
    }

    &:focus {
      outline: none;
    }

    &-badge {
      padding: 4px 8px;
      margin-left: 8px;
      font-size: 14px;
      font-weight: bold;
      line-height: 20px;
      color: #303030;
      background-color: #fad686;
      border-radius: 20px;
    }
  }

  .active {
    box-sizing: border-box;
    padding: 8px 12px;
    margin-right: 8px;
    white-space: nowrap;
    border: 1px solid #303030;
    border-radius: 20px;
  }
}
