<template>
  <div class="goldplus-room-list-filters">
    <button
      v-for="filter in filters"
      :key="filter.key"
      @click="selectFilter(filter)"
      :class="{ active: filter.value === selectedFilter }"
      class="goldplus-room-list-filters__item"
    >
      {{ filter.value }}
      <mk-badge v-if="filter.is_new_badge" class="goldplus-submission-status-filters__item-badge">
        Baru
      </mk-badge>
    </button>
  </div>
</template>

<script>
import MkBadge from '~/components/global/atoms/MkBadge';

export default {
  name: 'GoldPlusRoomListFilters',
  components: {
    MkBadge,
  },
  data() {
    return {
      filters: [],
      selectedFilter: 'Semua',
    };
  },
  computed: {
    filterKeyParameter() {
      return this.$route.params.filter_key;
    },
  },
  async mounted() {
    await this.handleFetchFilters();
    if (this.filterKeyParameter) this.handleFilterFromWidget(this.filterKeyParameter);
  },
  methods: {
    selectFilter(filter) {
      this.selectedFilter = filter.value;
      this.$emit('filterSelected', filter);
    },
    async handleFetchFilters() {
      await this.$api
        .getGoldPlusSubmissionRoomListFilters()
        .then((response) => {
          if (response.data.status) {
            this.filters = response.data.data;
          }
        })
        .catch((error) => {
          this.$bugsnag.notify(error);
        });
    },
    handleFilterFromWidget(filter_key) {
      const filter = this.filters.filter((filter) => {
        return filter.key === filter_key;
      })[0];
      this.selectFilter(filter);
    },
  },
};
</script>

<style scoped lang="scss" src="./GoldPlusRoomListFilters.scss"></style>
