<template>
  <activation-form />
</template>

<script>
import ActivationForm from '../components/ActivationForm';
export default {
  name: 'KosBookingActivationDesktop',
  components: {
    ActivationForm,
  },
};
</script>

<style></style>
