<template>
  <div class="c-forgot-form">
    <h1 class="c-forgot-form__title">Lupa Password</h1>
    <p class="c-forgot-form__greeting">
      Masukkan email Anda untuk melakukan pengaturan ulang password Anda.
    </p>
    <mk-field-input label="Username/Email" type="text" />
    <mk-button
      @clicked="handleResendClicked"
      :has-spinner="isLoading"
      shape="default"
      color="green-brand"
      size="large"
      class="c-resend-button"
    >
      Kirim Ulang
    </mk-button>
  </div>
</template>

<script>
import MkFieldInput from '~/components/global/atoms/MkFieldInput';
import MkButton from '~/components/global/atoms/MkButton';

export default {
  name: 'ForgotPasswordPage',
  layout: 'auth/index',
  components: {
    MkFieldInput,
    MkButton,
  },
  data() {
    return {
      isLoading: false,
    };
  },
  methods: {
    handleResendClicked(e) {
      this.isLoading = true;
    },
  },
};
</script>
<style lang="scss" scoped>
.c-forgot-form {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 400px;
  height: 450px;
  margin: auto;

  &__title {
    margin-bottom: 30px;
    font-size: 34px;
    font-style: normal;
    font-weight: 900;
    line-height: 52px;
  }

  &__greeting {
    margin-bottom: 60px;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    line-height: 24px;
  }
}
.c-resend-button {
  width: 100%;
  margin-top: 34px;
}
</style>
