<template>
  <div class="c-login-form">
    <h1 class="c-login-form__title">Mamikos Property Management System</h1>
    <p class="c-login-form__greeting">
      Selamat datang di Mamikos Property Management System. Silahkan masuk menggunakan akun Anda.
    </p>
    <mk-field-input v-model="username" label="Username/Email" type="text" />
    <mk-field-input v-model="password" label="Password" type="password" class="c-password-input" />
    <mk-button
      @clicked="handleLoginClicked"
      :has-spinner="isLoading"
      shape="default"
      color="green-brand"
      size="large"
      class="c-login-button"
    >
      Masuk
    </mk-button>
    <nuxt-link :to="{ name: 'auth-forgot' }" class="c-login-form__forgot-pass" no-prefetch>
      Lupa password?
    </nuxt-link>
  </div>
</template>

<script>
import MkFieldInput from '~/components/global/atoms/MkFieldInput';
import MkButton from '~/components/global/atoms/MkButton';

export default {
  name: 'LoginPage',
  layout: 'auth/index',
  components: {
    MkFieldInput,
    MkButton,
  },
  data() {
    return {
      isLoading: false,
      username: '',
      password: '',
    };
  },
  methods: {
    handleLoginClicked(e) {
      this.isLoading = true;
      const { username, password } = this;
      this.$api.issueToken({ username, password }).then((res) => {
        this.isLoading = false;
      });
    },
  },
};
</script>
<style lang="scss" scoped>
.c-login-form {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 400px;
  height: 450px;
  margin: auto;

  &__title {
    margin-bottom: 30px;
    font-size: 34px;
    font-style: normal;
    font-weight: 900;
    line-height: 52px;
  }

  &__greeting {
    margin-bottom: 60px;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    line-height: 24px;
  }

  &__forgot-pass {
    display: block;
    margin-top: 20px;
    font-size: 16px;
    font-style: normal;
    font-weight: bold;
    line-height: 19px;
    color: #109e4b;
    text-align: center;
    // stylelint-disable-next-line plugin/no-unsupported-browser-features
    text-decoration-line: underline;
  }
}
.c-password-input {
  margin-top: 34px;
}
.c-login-button {
  width: 100%;
  margin-top: 34px;
}
</style>
