<template>
  <div class="c-reset-form">
    <h1 class="c-reset-form__title">Masukkan password baru Anda</h1>
    <mk-field-input label="Password" type="password" />
    <mk-field-input label="Masukan ulang Password" type="password" />
    <mk-button
      @clicked="handleUpdatePasswordClicked"
      :has-spinner="isLoading"
      shape="default"
      color="green-brand"
      size="large"
      class="c-update-button"
    >
      Ganti Password
    </mk-button>
  </div>
</template>

<script>
import MkFieldInput from '~/components/global/atoms/MkFieldInput';
import MkButton from '~/components/global/atoms/MkButton';

export default {
  name: 'ResetPasswordPage',
  layout: 'auth/index',
  components: {
    MkFieldInput,
    MkButton,
  },
  data() {
    return {
      isLoading: false,
    };
  },
  methods: {
    handleUpdatePasswordClicked(e) {
      this.isLoading = true;
    },
  },
};
</script>
<style lang="scss" scoped>
.c-reset-form {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 400px;
  height: 450px;
  margin: auto;

  &__title {
    margin-bottom: 30px;
    font-size: 34px;
    font-style: normal;
    font-weight: 900;
    line-height: 52px;
  }
}
.c-update-button {
  width: 100%;
  margin-top: 34px;
}
</style>
