<template>
  <div class="select-kos-skeleton">
    <div v-if="showTitle" class="select-kos-skeleton__title">
      <bg-skeleton :height="24" width="80%" />
      <bg-skeleton :height="24" width="100%" class="select-kos-skeleton__second-row" />
    </div>

    <div
      :class="{ 'select-kos-skeleton__content-no-margin': !showTitle }"
      class="select-kos-skeleton__content"
    >
      <bg-card v-for="index in 3" :key="index" class="select-kos-skeleton__card">
        <bg-skeleton :height="24" width="80%" />
        <bg-skeleton :height="24" width="50%" class="select-kos-skeleton__second-row" />
      </bg-card>
    </div>
  </div>
</template>

<script>
import { BgCard, BgSkeleton } from 'bangul-vue';

export default {
  name: 'SelectKosSkeleton',

  components: {
    BgCard,
    BgSkeleton,
  },

  props: {
    showTitle: {
      type: Boolean,
      default: true,
    },
  },
};
</script>

<style lang="scss" src="./SelectKosSkeleton.scss"></style>
