.select-kos-skeleton {
  width: 600px;

  @media (max-width: 650px) {
    width: 100%;
    padding: 0 15px;
  }

  &__title {
    margin-top: 25px;
  }

  &__second-row {
    margin-top: 10px;
  }

  &__content {
    margin-top: 45px;
  }

  &__content-no-margin {
    margin-top: 10px;
  }

  &__card {
    margin-bottom: 15px;
  }
}
