<template>
  <div class="scheme-page --desktop">
    <div class="scheme-page__menu">
      <router-link to="/mamipoin" class="scheme-page-menu__link">
        <b-icon icon="arrow-left" class="link-icon" />
        <strong class="link-text">
          Perolehan MamiPoin
        </strong>
      </router-link>
    </div>
    <div class="scheme-page-tile tile is-desktop">
      <scheme-content />
    </div>
  </div>
</template>

<script>
import SchemeContent from '~/components/page-features/mamipoin/pages/scheme/components/SchemeContent';

export default {
  name: 'MamipoinSchemeDesktop',
  components: {
    SchemeContent,
  },
};
</script>
<style scoped lang="scss" src="./desktop.scss"></style>
