$text-color: #484848;

.scheme-page {
  max-width: 1024px;
  margin-right: auto;

  &.--desktop {
    /* stylelint-disable declaration-property-value-blacklist  */
    display: flex;
    overflow: initial;
    flex-wrap: wrap;
  }

  &__loader {
    display: block;
    width: 100%;
    margin-top: 80px;
    text-align: center;

    @media (max-width: 480px) {
      margin-top: 40px;
    }

    .c-loader {
      width: 40px;
      height: 40px;
    }
  }

  &__menu {
    width: 100%;
    margin-bottom: 20px;
  }

  &__action {
    /* stylelint-disable-next-line plugin/no-unsupported-browser-features */
    position: sticky;
    top: 0;
    width: 50%;
    align-self: self-start;

    @media (max-width: 769px) {
      width: 100%;
    }
  }
}

.scheme-page-menu {
  margin-bottom: 20px;

  &__link {
    display: inline-block;
    font-size: 24px;
    color: $text-color;

    .link-icon {
      margin-right: 5px;
    }
  }
}
