<template>
  <div class="management-card">
    <mk-action-card
      v-for="(managementMenu, index) in managementMenus"
      :key="'managementMenu' + index"
      :title="managementMenu.title"
      :subtitle="managementMenu.subtitle"
      :icon-name="managementMenu.icon"
      @click="goToPage(managementMenu)"
      icon-position="top"
      class="card-component"
    />
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import MixinDashboardTracker from '../../../dashboard/mixins/dashboardTracker';
import MixinActionCardNavigation from '../../mixins/actionCardNavigation';

import MkActionCard from '~/components/global/molecules/MkActionCard/MkActionCard.vue';

export default {
  name: 'KosManagementCard',
  components: {
    MkActionCard,
  },
  mixins: [MixinDashboardTracker, MixinActionCardNavigation],
  data() {
    return {
      managementMenus: [
        {
          title: 'Pengajuan Booking',
          subtitle: 'Terima/tolak booking pencari kos',
          icon: 'booking-management',
          route: `/ownerpage/manage/all/booking`,
          type: 'mami53',
          tracker: '[Owner] OD Operasional Kos - Pengajuan Booking Clicked',
        },
        {
          title: 'Laporan Keuangan',
          subtitle: 'Catatan lengkap keuangan kos',
          icon: 'financial-report',
          route: '/financial-report',
          tracker: '[Owner] OD - Laporan Keuangan',
          isBbkRequired: true,
        },
        {
          title: 'Kelola Tagihan',
          subtitle: 'Atur pembayaran kos penyewa',
          icon: 'bill-management',
          route: '/billing-management',
          tracker: '[Owner] OD - Kelola Tagihan Clicked',
        },
        {
          title: 'Penyewa',
          subtitle: 'Daftar kontrak penyewa kos Anda',
          icon: 'account',
          route: '/tenant-list',
          tracker: '[Owner] OD - Penyewa Clicked',
          isBbkRequired: true,
        },
      ],
    };
  },
  computed: {
    ...mapGetters('profile', ['isBbk']),
  },
  methods: {
    goToPage({ tracker, route, type, isBbkRequired }) {
      tracker && this.sendTracker(tracker);
      if (route) {
        this.navigate(route, type || '', !!isBbkRequired && !this.isBbk);
      }
    },
    sendTracker(trackerName) {
      const redirectionSource = {
        redirection_source: 'tab_manajemen_kelola_kos',
      };

      this.sendDashboardTracker(trackerName, redirectionSource);
    },
  },
};
</script>

<style lang="scss" src="./ManagementCard.scss" scoped></style>
