.room-edit-page {
  margin-top: -80px;

  &.normal-view {
    margin-top: 0;
  }

  &__header {
    margin-bottom: 24px;
  }

  &__body {
    margin-top: 0;
  }

  &__back-icon {
    margin-right: 10px;
    cursor: pointer;

    &::v-deep .mdi-24px.mdi::before {
      font-size: 28px;
    }
  }
  &__title {
    font-size: 24px;
    font-weight: bold;
    line-height: 36px;
    color: rgba(0, 0, 0, 0.87);
  }
}

.room-table {
  &__filter {
    display: block;
  }

  &__searchbox {
    display: inline-block;
    width: 328px;
    vertical-align: middle;
    border-radius: 4px;
    box-shadow: 0 1px 8px rgba(36, 36, 36, 0.14);

    &::v-deep {
      .mdi-24px.mdi::before {
        color: #242424;
      }

      .input {
        height: 48px;
        padding-left: 52px;
      }

      .icon.is-left {
        height: 48px;
        margin-left: 6px;
      }
    }
  }

  &__total-room-label {
    display: inline-block;
    margin-right: 20px;
    font-size: 16px;
    font-weight: 600;
    line-height: 48px;
    vertical-align: middle;
  }

  &__add-room {
    float: right;
    height: 48px;
    font-size: 16px;
    vertical-align: middle;

    &::v-deep {
      .icon {
        height: 19px;
        line-height: 19px;
        vertical-align: middle;
      }
    }

    &:disabled {
      font-weight: bold;
      color: #ddd;
      background: #f5f5f5;
      border-color: #f5f5f5;
      opacity: 1;

      &:hover {
        opacity: 1;
      }
    }
  }

  &__right-filter {
    display: block;
    margin-top: 20px;
  }
}

.edit-room-table {
  margin-top: 33px;

  &__double-nav {
    padding: 17px;
    cursor: pointer;
    border: 1px solid #dadada;
    border-radius: 4px;

    &.--left {
      margin-right: 8px;
    }

    &.--right {
      position: absolute;
      right: 0;
    }

    &.--disabled {
      color: #dadada;
      cursor: not-allowed;
    }
    &:hover:not(.--disabled) {
      color: #363636;
      border-color: #b5b5b5;
    }
  }

  &__page-info {
    margin-right: 15px;
    font-size: 14px;
    font-weight: bold;
    line-height: 21px;
    color: #aaa;
  }

  ::v-deep {
    .table {
      border: 0.5px solid #e4e4e4;
      border-radius: 5px;
      box-shadow: 0 15px 40px rgba(0, 0, 0, 0.02);
    }

    /* stylelint-disable-next-line */
    .table tr {
      border: 0.5px solid #e4e4e4;
    }
    /* stylelint-disable-next-line */
    .table td,
    .table th {
      padding-top: 20px;
      padding-bottom: 20px;
      border-bottom-width: 0;
    }
    .wrap-long-text {
      word-break: break-word;
      word-wrap: break-word;
    }
    /* stylelint-disable-next-line */
    .table.is-striped tbody tr:not(.is-selected):nth-child(even) {
      background: rgba(27, 170, 86, 0.05);
    }
    /* stylelint-disable-next-line */
    thead {
      background: #f0f0f0;
      border: 0.5px solid #e4e4e4;
      border-radius: 5px 5px 0 0;
    }
    /* stylelint-disable-next-line */
    .th-wrap .icon {
      display: none;
    }

    .pagination-previous {
      order: 1;
    }
    .level {
      justify-content: flex-end;
      position: relative;
    }
    .level-right {
      margin-right: 44px;
    }
    .is-current {
      background-color: #1baa56;
    }
    .pagination-previous[disabled],
    .pagination-next[disabled],
    .pagination-link[disabled] {
      color: #dadada;
      background-color: #fff;
      border: 1px solid #dadada;
      opacity: 1;
    }

    .icon,
    .c-mk-icon {
      vertical-align: middle;
    }
    .icon[disabled],
    .c-mk-icon[disabled] {
      cursor: not-allowed;
      opacity: 0.5;
    }
  }

  &__goldplus-badge {
    padding: 2px 8px;
    font-size: 12px;
    font-weight: bold;
    color: #303030;
    background: #fad686;
    border-radius: 30px;
  }
}

.availability-option {
  &__button {
    display: inline-block;
    width: 177px;
    height: 48px;
    padding-left: 12px;
    margin-right: 20px;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: #242424;
    text-align: left;
    vertical-align: middle;
    cursor: pointer;
    background: #fff;
    border-width: 0;
    border-radius: 4px;
    box-shadow: 0 1px 8px rgba(36, 36, 36, 0.14);

    &:focus {
      outline: none;
    }
  }
  &::v-deep {
    .icon {
      float: right;
      margin-top: 3px;
    }
    .dropdown-content {
      width: 177px;
    }
    .dropdown-menu {
      z-index: 4;
    }
    .dropdown-item {
      font-size: 14px;
      font-weight: bold;
      color: #242424;

      &.is-active {
        color: #1baa56;
        background-color: #fff;
      }
    }
  }
}
.highlight-room-allotment {
  ::v-deep {
    .v-step {
      padding: 18px;
      color: #303030;
      text-align: left;
      background-color: #fff;
      &__header {
        padding: 0;
        margin: 0 0 10px;
        font-size: 20px;
        font-weight: bold;
        background-color: #fff;
      }
      &__content {
        font-size: 16px;
        line-height: 24px;
        color: #535353;
      }
      /* stylelint-disable max-nesting-depth */
      &__arrow {
        &--dark {
          border-color: #fff;
        }
      }
      &[x-placement^='bottom'] {
        margin-top: 25px;
      }
      &[x-placement^='top'] {
        margin-bottom: 25px;
        /* stylelint-disable selector-max-specificity */
        &.v-step-4-desktop {
          top: -15px !important;
        }
      }
      &[x-placement^='right'] {
        margin-left: 25px;
      }
      &[x-placement^='left'] {
        margin-right: 25px;
      }
    }
  }
  .actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .more {
    font-size: 14px;
    font-weight: bold;
    color: #1baa56;
  }
  .dots-ftue {
    /* stylelint-disable-next-line */
    li {
      display: inline-block;
      width: 8px;
      height: 8px;
      margin-right: 3px;
      background-color: #dadada;
      border-radius: 50%;
      opacity: 0.5;
    }
    .active {
      background-color: #1baa56;
      opacity: 1;
    }
  }
}
.hihglight-item {
  &__availability-option {
    position: relative;
    display: inline-flex;
    margin-right: 20px;
    vertical-align: top;
    .availability-option {
      &__button {
        margin-right: 0;
      }
    }
  }
}
