<template>
  <div
    :class="{ 'normal-view': $route.name === 'kos-rooms-kos_id-edit' || !selectedKos }"
    class="room-edit-page"
  >
    <template v-if="selectedKos">
      <div v-if="$route.name === 'kos-rooms-kos_id-edit'" class="room-edit-page__header">
        <bg-icon
          @click.native="$router.back()"
          name="back"
          class="room-edit-page__back-icon"
        ></bg-icon>
        <span class="room-edit-page__title">Update Kamar</span>
      </div>
      <div v-if="!emptyRooms" class="room-edit-page__body room-table">
        <div class="room-table__filter">
          <div class="hihglight-item">
            <b-input
              @keypress.native.enter="searchKeyword = $event.target.value"
              @input="handleSearchInput"
              placeholder="Masukkan nama atau nomor kamar"
              icon="magnify"
              class="room-table__searchbox"
            />
          </div>
          <div class="room-table__right-filter">
            <span class="room-table__total-room-label">Total Kamar {{ filteredData.length }}</span>

            <div class="hihglight-item inline hihglight-item__availability-option">
              <b-dropdown v-model="occupied" class="availability-option">
                <template #trigger>
                  <button class="availability-option__button">
                    <span>{{ availabilityOptions[occupied] }}</span>
                    <b-icon icon="chevron-down"></b-icon>
                  </button>
                </template>
                <template #default>
                  <b-dropdown-item
                    v-for="(option, key) in availabilityOptions"
                    :key="key"
                    :value="key"
                    :class="{ active: occupied === key }"
                  >
                    {{ option }}
                  </b-dropdown-item>
                </template>
              </b-dropdown>
            </div>

            <mk-button
              @clicked="$refs.addModal.toggleModal(true, 'add', {}, roomNames)"
              :disabled="data.length >= 500"
              color="green-brand"
              class="room-table__add-room"
            >
              <b-icon icon="plus" />Tambahkan Kamar
            </mk-button>
          </div>
        </div>

        <b-table
          :striped="true"
          :loading="isLoading"
          :columns="columns"
          :data="filteredData"
          :per-page="perPage"
          :current-page.sync="currentPage"
          :paginated="isTablePaginated"
          class="room-table__main edit-room-table"
        >
          <template #bottom-left>
            <span class="edit-room-table__page-info">
              Halaman {{ currentPage }} dari {{ totalPage }}
            </span>
            <b-icon
              @click.native="currentPage = 1"
              :class="{ '--disabled': currentPage === 1 }"
              icon="chevron-double-left"
              class="edit-room-table__double-nav --left"
            />
            <b-icon
              @click.native="currentPage = totalPage"
              :class="{ '--disabled': currentPage === totalPage }"
              icon="chevron-double-right"
              class="edit-room-table__double-nav --right"
            />
          </template>
          <template #default="props">
            <b-table-column field="id" class="edit-room-table__id-column" centered>
              {{ props.row.number }}
            </b-table-column>
            <b-table-column field="name" class="wrap-long-text" centered>
              {{ props.row.name }}
            </b-table-column>
            <b-table-column field="floor" class="wrap-long-text" centered>
              {{ props.row.floor }}
            </b-table-column>
            <b-table-column
              :style="{ color: props.row.occupied ? '#1BAA56' : '#EC4A0C' }"
              field="status"
              centered
            >
              {{ props.row.occupied ? 'Terisi' : 'Kosong' }}
            </b-table-column>
            <b-table-column field="badge" centered>
              <span v-if="props.row.gp_badge.show" class="edit-room-table__goldplus-badge">
                GoldPlus
              </span>
            </b-table-column>
            <b-table-column field="action" width="100px" centered>
              <div class="hihglight-item">
                <b-icon
                  @click.native="
                    $refs.addModal.toggleModal(
                      true,
                      'edit',
                      props.row,
                      roomNames.filter((name) => name !== props.row.name),
                    )
                  "
                  icon="square-edit-outline"
                />
                <mk-icon
                  v-if="!props.row.disable && data.length !== 1"
                  @click.native="$refs.deleteModal.toggleModal(true, props.row)"
                  :width="24"
                  variant="trash-outline"
                  color="black"
                />
                <mk-icon v-else :width="24" variant="trash-outline" color="black" disabled />
              </div>
            </b-table-column>
          </template>
        </b-table>
      </div>

      <state-no-rooms @addRooms="$refs.addModal.toggleModal(true, 'add', {}, roomNames)" v-else />

      <modal-delete ref="deleteModal" @deleted="getAllData" />

      <modal-add
        ref="addModal"
        :rooms-count="data.length"
        :is-bbk="isBbk"
        :is-gold-plus-kost="isGoldPlusKost"
        @done="handleRoomUpdatedOrAdded"
        :selected-kos="selectedKos"
        @intercepted="handleInterceptedRoomUpdatedOrAdded"
      />

      <modal-add-tenant-intercept ref="addTenantInterceptModal" />
    </template>
    <span v-else class="c-loader"></span>
  </div>
</template>

<script>
import { BgIcon } from 'bangul-vue';
import StateNoRooms from '../components/StateNoRooms';
import ModalDelete from '../components/ModalDelete';
import ModalAdd from '../components/ModalAdd';
import ModalAddTenantIntercept from '../components/ModalAddTenantIntercept';
import updatePrice from '../../rooms/mixins/updatePrice';
import sortMixin from '../mixins/sort';
import MkButton from '~/components/global/atoms/MkButton';
import MkIcon from '~/components/global/atoms/MkIcon';

export default {
  name: 'RoomEditDesktop',
  components: {
    MkButton,
    ModalDelete,
    ModalAdd,
    ModalAddTenantIntercept,
    MkIcon,
    StateNoRooms,
    BgIcon,
  },
  mixins: [sortMixin, updatePrice],
  data() {
    return {
      occupied: 'all',
      isLoading: false,
      currentPage: 1,
      perPage: 10,
      searchKeyword: '',
      emptyRooms: false,
      isBbk: false,
      isGoldPlusKost: false,
      data: [],
      columns: [
        {
          field: 'id',
          label: 'Nomor',
          centered: true,
        },
        {
          field: 'name',
          label: 'Nama/ Nomor Kamar',
          centered: true,
        },
        {
          field: 'floor',
          label: 'Lantai',
          centered: true,
        },
        {
          field: 'status',
          label: 'Status',
          centered: true,
        },
        {
          field: 'badge',
          label: '',
          centered: true,
        },
        {
          field: 'action',
          label: 'Action',
          centered: true,
          width: '100',
        },
      ],
      availabilityOptions: {
        all: 'Semua Kamar',
        available: 'Kamar Kosong',
        unavailable: 'Kamar Terisi',
      },
      selectedKos: null,
    };
  },
  computed: {
    filteredData() {
      let data = this.data.map((dt, idx) => ({ ...dt, number: idx + 1 }));
      // filter by availability
      if (this.occupied !== 'all') {
        data = data.filter((room) => room.occupied === (this.occupied === 'unavailable'));
      }
      // filter by room name
      if (this.searchKeyword) {
        data = data.filter((room) => {
          return room.name.toLowerCase().includes(this.searchKeyword);
        });
      }
      return data;
    },
    totalPage() {
      return Math.ceil(this.filteredData.length / this.perPage);
    },
    isTablePaginated() {
      return this.filteredData.length > 10;
    },
    roomNames() {
      return this.data.map((dt) => dt.name);
    },
  },
  watch: {
    occupied(val) {
      this.currentPage = 1;
    },
    async $route() {
      this.selectedKos = null;
      this.sourceHttp && (await this.sourceHttp.cancel('request canceled by user'));
      this.getAllData();
    },
    isLoadingRoom(value) {
      if (!value) this.getAllData();
    },
  },
  created() {
    this.$changes.init();
  },
  mounted() {
    // open popup when modal init doesn't exist
    this.$nextTick(() => {
      if (
        !document.querySelector('.modal-init-exists') &&
        !document.querySelector('.modal-init-loading')
      )
        this.$popupOrder && this.$popupOrder.next();
    });
  },
  beforeDestroy() {
    if (document.querySelector('body').classList.contains('v-tour--active')) {
      document.querySelector('body').classList.remove('v-tour--active');
    }
    this.$popupOrder && this.$popupOrder.destroy();
  },
  methods: {
    handleSearchInput(val) {
      if (!val) this.searchKeyword = '';
    },
    async getAllData() {
      this.isLoading = true;

      let IdKos = 0;
      if (this.$route.params.kos_id) IdKos = this.$route.params.kos_id;
      else if (typeof this.selectedKos === 'object' && this.selectedKos !== null)
        IdKos = this.selectedKos._id;
      else IdKos = this.selectedKos;
      await this.$api.getPropertyRooms({ song_id: IdKos }).then((res) => {
        if (res.data.data.length !== 0) {
          this.emptyRooms = false;
          this.data = this.sort(res.data.data);
          this.isBbk = res.data['room-data'].is_bbk;
          this.isGoldPlusKost = res.data['room-data'].is_gp_kos;
          this.isLoading = false;
          this.selectedKos = IdKos;
        } else {
          this.emptyRooms = true;
        }
      });
    },
    handleRoomUpdatedOrAdded(type, newRoom) {
      // move to last page
      if (!this.emptyRooms) {
        if (type === 'add') {
          this.data.push(newRoom);
          this.currentPage = this.totalPage;
        } else {
          this.data.find((dt) => {
            if (dt.id === newRoom.id) {
              dt.name = newRoom.name;
              dt.floor = newRoom.floor;
              dt.occupied = newRoom.occupied;
            }
            return dt.id === newRoom.id;
          });
        }
      } else {
        this.getAllData();
        this.emptyRooms = false;
        // if last value of emptyRooms is true, then show onboarding first
        this.$nextTick(() => {
          this.$popupOrder.next();
        });
      }
    },
    handleInterceptedRoomUpdatedOrAdded(type, roomId = '') {
      if (type === 'add') {
        this.$buefy.toast.open({
          duration: 4000,
          position: 'is-bottom',
          message: 'Mohon tambah data kamar terlebih dahulu sebelum ditandai "sudah berpenghuni".',
        });
      } else {
        this.$refs.addTenantInterceptModal.toggleModal(true, this.$route.params.kos_id, roomId);
      }
    },
  },
};
</script>

<style src="./desktop.scss" lang="scss" scoped></style>
