.form-input-fine {
  ::v-deep {
    .input {
      height: 48px;
      margin-top: 10px;

      &:focus,
      &:active {
        border-color: #1baa56;
        box-shadow: none;
      }
    }

    .c-field-input,
    .c-field-select {
      width: 48%;
    }

    .c-mk-button {
      width: 180px;
      font-size: 1em;
      font-weight: bold;
    }
  }

  .price-item {
    margin-bottom: 10px;

    .item-fields {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
  }

  .form-action-button {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 15px;
  }
}
