<template>
  <div class="form-input-fine">
    <div class="price-item">
      <label>Jumlah Denda</label>
      <mk-currency-input v-model="fineVal" :disabled="isLoading" class="field-amount" />
    </div>

    <div class="price-item">
      <label>Dibebankan bila penyewa telat bayar setelah</label>
      <div class="item-fields">
        <mk-field-input
          v-model="fineDuration"
          :disabled="isLoading"
          :min="fineCountRange.min"
          :max="fineCountRange.max"
          @update="onChangeFineDuration"
          type="number"
          placeholder="0"
          bordered
        />
        <mk-field-select
          :options="fineOptions"
          :disabled="isLoading"
          :selected="fineCount"
          @change="onChangeFineCount"
        />
      </div>
    </div>

    <div class="form-action-button">
      <mk-button
        @clicked="saveFine"
        :disabled="isLoading || !isValidFineData"
        :has-spinner="isLoading"
        class="additional-price-action-button"
        color="green-brand"
      >
        Simpan
      </mk-button>
    </div>
  </div>
</template>

<script>
import MixinRoomAdditionalPrice from '../../mixins/room-additional-price-form';
import MkButton from '~/components/global/atoms/MkButton';
import MkCurrencyInput from '~/components/global/molecules/MkCurrencyInput';
import MkFieldInput from '~/components/global/atoms/MkFieldInput';
import MkFieldSelect from '~/components/global/atoms/MkFieldSelect';

export default {
  name: 'AdditionalFormPrice',

  components: {
    MkButton,
    MkCurrencyInput,
    MkFieldInput,
    MkFieldSelect,
  },

  mixins: [MixinRoomAdditionalPrice],

  data() {
    return {
      fineVal: 0,
      fineDuration: '',
      fineCount: 'day',
      fineOptions: [
        { value: 'day', label: 'Hari', min: 1, max: 31 },
        { value: 'week', label: 'Minggu', min: 1, max: 4 },
        { value: 'month', label: 'Bulan', min: 1, max: 12 },
      ],
    };
  },

  computed: {
    fineCountRange() {
      let min = 1;
      let max = 31;

      this.fineOptions.forEach((option) => {
        if (option.value === this.fineCount) {
          min = option.min;
          max = option.max;
        }
      });

      return {
        min,
        max,
      };
    },
    isInRange() {
      const { min, max } = this.fineCountRange;
      const duration = parseInt(this.fineDuration);
      return duration <= max && duration >= min;
    },
    isValidFineData() {
      return !!this.isInRange && !!this.fineCount && !!this.fineVal;
    },
  },

  created() {
    this.initData();
  },

  methods: {
    initData() {
      if (this.value) {
        const { meta } = this.value;
        this.fineVal = this.value.price;
        this.fineDuration = this.getMetaValue(meta, 'fine_maximum_length', '');
        this.fineCount = this.getMetaValue(meta, 'fine_duration_type', 'day');
      }
    },
    onChangeFineCount(value) {
      this.fineCount = value;
      this.fineDuration = this.fineCountRange.min.toString();
    },
    onChangeFineDuration(duration) {
      const { min, max } = this.fineCountRange;
      const durationInt = parseInt(duration);

      if (durationInt < min) {
        this.fineDuration = min.toString();
      } else if (durationInt > max) {
        this.fineDuration = max.toString();
      } else {
        this.fineDuration = duration;
      }
    },
    saveFine() {
      this.submit({
        price: this.fineVal,
        fine_maximum_length: Number(this.fineDuration),
        fine_duration_type: this.fineCount,
      });
    },
  },
};
</script>

<style lang="scss" src="./AdditionalFormPriceFine.scss" scoped></style>
