<template>
  <bg-modal
    v-if="isShowModal"
    v-model="isShowModal"
    @close="closeModal"
    class="contract-request-reject-modal"
    desktop-size="md"
    mobile-size="popup"
    title="Yakin menolak data penyewa?"
    illustration-name="need-help"
    illustration-alt="contract reject illustration"
    description="Jika Anda menolak, maka penyewa akan menerima pemberitahuan penolakan tersebut."
  >
    <template #footer>
      <div class="contract-request-reject-modal__action">
        <bg-button
          @click="onRejectClicked"
          :loading="isRejecting"
          class="contract-request-reject-modal__action-confirm"
          size="lg"
        >
          Ya
        </bg-button>
        <bg-button
          @click="closeModal"
          :disabled="isRejecting"
          class="contract-request-reject-modal__action-cancel"
          variant="primary"
          size="lg"
        >
          Tidak
        </bg-button>
      </div>
    </template>
  </bg-modal>
</template>

<script>
import { BgModal, BgButton } from 'bangul-vue';

export default {
  components: {
    BgModal,
    BgButton,
  },
  props: {
    value: {
      type: Boolean,
      default: false,
    },
    isRejecting: {
      type: Boolean,
      default: false,
    },
  },
  computed: {
    isShowModal: {
      get() {
        return this.value;
      },
      set(value) {
        !this.isRejecting && this.$emit('input', value);
      },
    },
  },
  methods: {
    onRejectClicked() {
      this.$emit('reject');
    },
    closeModal() {
      this.isShowModal = false;
    },
  },
};
</script>

<style lang="scss" src="./ContractRequestRejectModal.scss" scoped></style>
