<template>
  <bg-modal
    :value="value"
    @input="$emit('input', $event)"
    @close="closeModal"
    class="confirm-payment-modal"
    desktop-size="md"
    mobile-size="popup"
  >
    <countdown-timer />
    <template #footer>
      <div v-if="isMobile" class="confirm-payment-modal__action">
        <bg-button
          @click="handleConfirmationBtn"
          class="confirm-payment-modal__action-confirm"
          variant="primary"
          size="lg"
        >
          Konfirmasi Pembayaran
        </bg-button>
        <bg-button
          @click="handleChangePurchase"
          class="confirm-payment-modal__action-close"
          size="lg"
        >
          Ganti {{ purchaseType }}
        </bg-button>
      </div>
      <div v-else class="confirm-payment-modal__action">
        <bg-button
          @click="handleChangePurchase"
          class="confirm-payment-modal__action-close"
          size="lg"
        >
          Ganti {{ purchaseType }}
        </bg-button>
        <bg-button
          @click="handleConfirmationBtn"
          class="confirm-payment-modal__action-confirm"
          variant="primary"
          size="lg"
        >
          Konfirmasi Pembayaran
        </bg-button>
      </div>
    </template>
  </bg-modal>
</template>

<script>
import { BgButton, BgModal } from 'bangul-vue';
import CountdownTimer from '../CountdownTimer/CountdownTimer.vue';

export default {
  name: 'ConfirmPaymentModal',

  components: {
    BgButton,
    BgModal,
    CountdownTimer,
  },

  props: {
    value: {
      type: Boolean,
      default: false,
    },
  },

  data() {
    return {
      isShowModal: false,
    };
  },

  computed: {
    isMobile() {
      return this.$device.isMobile;
    },
    invoice() {
      return this.$store.state.profile.ownerInvoice.invoice;
    },
    invoiceUrl() {
      return this.invoice.invoice_url;
    },
    purchaseType() {
      return this.invoice.detail_package.type === 'balance' ? 'Saldo' : 'Paket';
    },
    changePurchaseUrl() {
      return this.purchaseType === 'Saldo'
        ? `${process.env.MAMIKOS_URL}/ownerpage/premium/balance?change-package=true`
        : `${process.env.MAMIKOS_URL}/promosi-kost/premium-package`;
    },
  },

  methods: {
    closeModal() {
      this.$emit('input', false);
    },
    handleConfirmationBtn() {
      window.location.href = this.invoiceUrl;
      this.closeModal();
    },
    handleChangePurchase() {
      window.location.href = this.changePurchaseUrl;
      this.closeModal();
    },
  },
};
</script>

<style lang="scss" src="./ConfirmPaymentModal.scss"></style>
