<template>
  <widget-card
    title="Info untuk Anda"
    description="Informasi terbaru seputar layanan dan produk kami."
  >
    <template v-for="infoItem in policyInfoItems">
      <mk-action-card
        v-if="infoItem.id < 2"
        :key="infoItem.id"
        @click="handleClickInfo(infoItem)"
        :title="infoItem.title"
        card-color="dark"
      />
    </template>
  </widget-card>
</template>

<script>
import { mapGetters } from 'vuex';
import WidgetCard from '~/components/page-features/dashboard/components/WidgetCard';
import MkActionCard from '~/components/global/molecules/MkActionCard';

export default {
  name: 'InfoCard',

  components: {
    MkActionCard,
    WidgetCard,
  },

  computed: {
    ...mapGetters('profile', ['isBbk', 'isNewOwner', 'user']),
    policyInfoItems() {
      return [
        {
          id: 0,
          title: 'Kebijakan baru dari Mamikos mengenai 7% Booking Langsung',
          tracker: '[Owner] OD Info untuk Anda - Card Clicked',
          route:
            'https://help.mamikos.com/syarat-dan-ketentuan/?category=snk-pemilik&subCategory=bisa-booking-pemilik&slug=syarat-dan-ketentuan-bisa-booking-pemilik',
        },
      ];
    },
  },

  methods: {
    handleClickInfo(infoItem) {
      this.handleClickInfoTracker(infoItem);
      window.location.href = infoItem.route;
    },
    handleClickInfoTracker(infoItem) {
      this.$tracker.send('moe', [
        infoItem.tracker,
        {
          user_id: this.user.user_id,
          interface: this.$device.isMobile ? 'mobile' : 'desktop',
          is_booking: this.isBbk,
          is_premium: this.isPremium,
        },
      ]);
    },
  },
};
</script>
