<template>
  <div>
    <grid-column
      v-for="(data, i) in pagination.data"
      :key="i"
      v-if="isDesktop"
      @click.native="$router.push(`/billing-management/${data.invoice_id}/detail-bill`)"
      class="billing-management__column billing-management__data"
    >
      <template ref="rowSlot" v-slot:row>
        <grid-row class="billing-management__row">
          <span class="billing-management__tenant-info__name">
            {{ data.tenant_name | truncate(22) }}
          </span>
          <span class="billing-management__tenant-info__label"
            >Kamar
            <span class="billing-management__tenant-info__room">{{ data.room_number }}</span></span
          >
        </grid-row>
        <grid-row justify-self="center" align-self="center" class="billing-management__row">
          <status-bill-label :due-date="data.invoice_scheduled_date">{{
            data.invoice_scheduled_label
          }}</status-bill-label>
        </grid-row>
        <grid-row align-self="center" class="billing-management__row simple-text">{{
          dueDateFormated(data.invoice_scheduled_date)
        }}</grid-row>
        <grid-row class="billing-management__row">
          <span class="simple-text">{{ data.room_rent_type }}</span
          ><br />
          <span class="simple-text"
            >Rp {{ data.invoice_calculated_amount | currencyIDR(',', true) }}</span
          >
        </grid-row>
        <grid-row justify-self="center" align-self="center" class="billing-management__row">
          <template v-if="data.invoice_is_overdue">
            <a
              v-if="!data.tenant_remindered"
              @click.prevent.stop="showModalReminder(data.tenant_name, data.invoice_id)"
              class="billing-management__link-remember"
              href="#"
              ><span class="billing-management__link-remember__label">Ingatkan</span>
              <img
                class="billing-management__link-remember__icon"
                src="~assets/images/billing_management/ic_bell.svg"
            /></a>
            <span v-else class="billing-management__link-remember__done">
              Sudah Diingatkan
            </span>
          </template>
        </grid-row>
      </template>
    </grid-column>

    <grid-column
      v-for="(data, i) in pagination.data"
      :key="i"
      v-if="isMobile"
      @click.native="$router.push(`/billing-management/${data.invoice_id}/detail-bill`)"
      class="billing-management__column"
    >
      <template ref="rowSlot" v-slot:row>
        <grid-row class="billing-management__row">
          <div class="bm-list-mobile__header">
            <span class="bm-list-mobile__header__due-date">
              Jatuh tempo {{ dueDateFormated(data.invoice_scheduled_date) }}
            </span>
            <span class="bm-list-mobile__header__additional">
              <status-bill-label :due-date="data.invoice_scheduled_date">{{
                data.invoice_scheduled_label
              }}</status-bill-label>
            </span>
          </div>

          <span class="billing-management__tenant-info__name">{{ data.tenant_name }}</span>
          <span class="billing-management__tenant-info__label"
            >Kamar
            <span class="billing-management__tenant-info__room">{{ data.room_number }}</span> ({{
              data.room_rent_type
            }})</span
          >

          <div class="bm-list-mobile__footer">
            <span class="bm-list-mobile__footer__total">
              Rp{{ data.invoice_calculated_amount | currencyIDR('.', true) }}
            </span>
            <template v-if="data.invoice_is_overdue">
              <span v-if="!data.tenant_remindered">
                <a
                  @click.prevent.stop="showModalReminder(data.tenant_name, data.invoice_id)"
                  class="billing-management__link-remember"
                  href="#"
                  ><span class="billing-management__link-remember__label">Ingatkan Lagi</span>
                </a>
              </span>
              <span v-else class="billing-management__link-remember__done">
                Sudah Diingatkan
              </span>
            </template>
          </div>
        </grid-row>
      </template>
    </grid-column>
  </div>
</template>

<script>
import GridColumn from '../GridColumn';
import GridRow from '../GridRow';
import StatusBillLabel from '../StatusBillLabel';
import billing from '~/components/page-features/kelola-tagihan/mixins/billing';
import EventBus from '~/components/event-bus/index.js';

import { truncate } from '~/utils/string';

export default {
  components: {
    GridColumn,
    GridRow,
    StatusBillLabel,
  },
  filters: {
    truncate,
  },
  mixins: [billing],
  computed: {
    isDesktop() {
      return this.$device.isDesktop;
    },
    isMobile() {
      return this.$device.isMobile;
    },
    pagination() {
      return this.$store.state.billingManagement.pagination;
    },
  },
  mounted() {
    this.getBillListInvoices({
      invoiceStatus: 'unpaid',
    });
  },
  methods: {
    showModalReminder(tenantName, invoiceId) {
      EventBus.$emit('eventModalReminder', {
        invoiceId,
        type: 'single',
        tenantName,
      });
    },
    dueDateFormated(date) {
      return this.$dayjs(date).format('D MMM YYYY');
    },
  },
};
</script>
