.bm-list {
  .billing-management {
    &__data {
      cursor: pointer;
      &:hover {
        background-color: #f9f9f9;
      }
    }

    &__tenant-info {
      &__two-row {
        display: flex;
      }

      &__name {
        color: #303030;
        font-size: 16px;
        line-height: 24px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        width: 100%;
        display: block;
        @media (max-width: 480px) {
          width: 50%;
          font-weight: bold;
        }
      }

      &__total {
        text-align: right;
        width: 50%;
        color: #1baa56;
      }

      &__label {
        color: #757575;
        font-size: 16px;
        line-height: 24px;
      }

      &__room {
        color: #303030;
        font-size: 16px;
        line-height: 24px;
      }
    }

    &__link-remember {
      &__label {
        color: #1baa56;
        font-weight: bold;
        font-size: 14px;
      }

      &__icon {
        width: 15px;
        height: 15px;
        position: relative;
        top: 2px;
      }

      &__done {
        color: #bbbbbb;
        font-weight: bold;
        font-size: 14px;
      }
    }

    &__loader {
      margin: 10px 10px;
    }
  }

  .bm-list-mobile {
    &__header {
      display: flex;
      justify-content: space-between;
      margin-bottom: 8px;

      &__due-date {
        color: #bbbbbb;
        font-weight: bold;
        font-size: 14px;
      }
    }

    &__footer {
      display: flex;
      justify-content: space-between;
      margin-top: 4px;

      &__total {
        color: #949494;
        font-weight: normal;
        font-size: 16px;
      }
    }
  }
}
