<template>
  <div class="bm-list">
    <grid-column v-if="isDesktop" class="billing-management__column-header">
      <template ref="rowSlot" v-slot:row>
        <grid-row
          v-for="(column, i) in headerColumn[page]"
          :key="i"
          :justify-self="column.justifySelf"
          class="billing-management__row"
        >
          <b>{{ column.title }}</b>
        </grid-row>
      </template>
    </grid-column>

    <div v-if="paginationLoading" class="columns is-mobile billing-management__loader">
      <template v-if="isDesktop">
        <div v-for="index in 4" :key="index" class="column">
          <skeleton-loader width="212px" height="32px"></skeleton-loader><br />
          <skeleton-loader width="140px" height="24px"></skeleton-loader>
        </div>
      </template>
      <template v-else>
        <div v-for="index in 2" :key="index" class="column">
          <skeleton-loader width="104px" height="16px"></skeleton-loader><br />
          <skeleton-loader width="122px" height="24px"></skeleton-loader><br />
          <skeleton-loader width="69px" height="16px"></skeleton-loader>
        </div>
      </template>
    </div>

    <template v-if="selectedKost && paginationData">
      <billing-management-list-unpaid v-if="page === 'unpaid'"></billing-management-list-unpaid>
      <billing-management-list-paid v-else-if="page === 'paid'"></billing-management-list-paid>
      <billing-management-list-transferred
        v-else-if="page === 'transferred'"
      ></billing-management-list-transferred>
    </template>

    <empty-state-list
      v-if="selectedKost && !paginationLoading && paginationData.length === 0"
      :title="emptyStateTitle"
      :description="emptyStateDesc"
    ></empty-state-list>
  </div>
</template>

<script>
import GridColumn from '../GridColumn';
import GridRow from '../GridRow';
import EmptyStateList from '../EmptyStateList';
import SkeletonLoader from '../SkeletonLoader';
import BillingManagementListUnpaid from './BillingManagementListUnpaid';
import BillingManagementListPaid from './BillingManagementListPaid';
import BillingManagementListTransferred from './BillingManagementListTransferred';
import emptyStateBasedOnPage from '~/components/page-features/kelola-tagihan/data/emptyStateBasedOnPage';

const headerColumn = {
  unpaid: [
    {
      title: 'Kamar / Penyewa',
      justifySelf: 'start',
    },
    {
      title: 'Status Tagihan',
      justifySelf: 'center',
    },
    {
      title: 'Jatuh Tempo',
      justifySelf: 'start',
    },
    {
      title: 'Total Tagihan',
      justifySelf: 'start',
    },
    {
      title: 'Ingatkan Penyewa',
      justifySelf: 'center',
    },
  ],
  paid: [
    {
      title: 'Kamar / Penyewa',
      justifySelf: 'start',
    },
    {
      title: 'Status Tagihan',
      justifySelf: 'center',
    },
    {
      title: 'Tanggal Pembayaran',
      justifySelf: 'start',
    },
    {
      title: 'Jenis',
      justifySelf: 'start',
    },
    {
      title: 'Total Tagihan',
      justifySelf: 'start',
    },
  ],
  transferred: [
    {
      title: 'Kamar / Penyewa',
      justifySelf: 'start',
    },
    {
      title: 'Status Tagihan',
      justifySelf: 'start',
    },
    {
      title: 'Tanggal Pengiriman',
      justifySelf: 'start',
    },
    {
      title: 'Total Tagihan',
      justifySelf: 'start',
    },
  ],
};

export default {
  components: {
    GridColumn,
    GridRow,
    BillingManagementListUnpaid,
    BillingManagementListPaid,
    BillingManagementListTransferred,
    EmptyStateList,
    SkeletonLoader,
  },

  data() {
    return {
      headerColumn,
    };
  },

  computed: {
    isDesktop() {
      return this.$device.isDesktop;
    },
    isMobile() {
      return this.$device.isMobile;
    },
    page() {
      return this.$route.query.page;
    },
    selectedKost() {
      return this.$store.state.billingManagement.selectedKost.kostName;
    },
    paginationData() {
      return this.$store.state.billingManagement.pagination.data;
    },
    paginationLoading() {
      return this.$store.state.billingManagement.pagination.isLoading;
    },
    emptyStateTitle() {
      return emptyStateBasedOnPage[this.page] && emptyStateBasedOnPage[this.page].title;
    },
    emptyStateDesc() {
      return emptyStateBasedOnPage[this.page] && emptyStateBasedOnPage[this.page].description;
    },
  },
};
</script>

<style lang="scss" src="./BillingManagementList.scss"></style>
