<template>
  <div>
    <grid-column
      v-for="(data, i) in pagination.data"
      :key="i"
      v-if="isDesktop"
      @click.native="$router.push(`/billing-management/${data.invoice_id}/detail-bill`)"
      class="billing-management__column billing-management__data"
    >
      <template ref="rowSlot" v-slot:row>
        <grid-row class="billing-management__row">
          <span class="billing-management__tenant-info__name">
            {{ data.tenant_name | truncate(22) }}
          </span>
          <span class="billing-management__tenant-info__label"
            >Kamar
            <span class="billing-management__tenant-info__room">{{ data.room_number }}</span></span
          >
        </grid-row>
        <grid-row justify-self="start" align-self="center" class="billing-management__row">
          <status-bill-label
            v-slot:default="{ title }"
            :inline-text="labelBillStatus(data.from_mamipay).inlineText"
            :type="labelBillStatus(data.from_mamipay).type"
            >{{ title }}</status-bill-label
          >
        </grid-row>
        <grid-row align-self="center" class="billing-management__row simple-text">{{
          datePayFormated(data.invoice_transferred_at)
        }}</grid-row>
        <grid-row align-self="center" class="billing-management__row">
          Rp {{ data.invoice_transferred_amount | currencyIDR(',', true) }}
        </grid-row>
      </template>
    </grid-column>

    <grid-column
      v-for="(data, i) in pagination.data"
      :key="i"
      v-if="isMobile"
      @click.native="$router.push(`/billing-management/${data.invoice_id}/detail-bill`)"
      class="billing-management__column"
    >
      <template ref="rowSlot" v-slot:row>
        <grid-row class="billing-management__row">
          <div class="bm-list-mobile__header">
            <span class="bm-list-mobile__header__due-date">
              {{ datePayFormated(data.invoice_transferred_at) }}
            </span>
            <span class="bm-list-mobile__header__additional"> </span>
          </div>

          <div class="billing-management__tenant-info__two-row">
            <span class="billing-management__tenant-info__name">{{ data.tenant_name }} </span>
            <span class="billing-management__tenant-info__total"
              >Rp {{ data.invoice_transferred_amount | currencyIDR('.', true) }}
            </span>
          </div>

          <span class="billing-management__tenant-info__label"
            >Kamar
            <span class="billing-management__tenant-info__room">{{ data.room_number }}</span></span
          >
        </grid-row>
      </template>
    </grid-column>
  </div>
</template>

<script>
import GridColumn from '../GridColumn';
import GridRow from '../GridRow';
import StatusBillLabel from '../StatusBillLabel';
import billing from '~/components/page-features/kelola-tagihan/mixins/billing';

import { truncate } from '~/utils/string';

export default {
  components: {
    GridColumn,
    GridRow,
    StatusBillLabel,
  },
  filters: {
    truncate,
  },
  mixins: [billing],
  computed: {
    isDesktop() {
      return this.$device.isDesktop;
    },
    isMobile() {
      return this.$device.isMobile;
    },
    pagination() {
      return this.$store.state.billingManagement.pagination;
    },
  },
  mounted() {
    this.getBillListInvoices({
      invoiceStatus: 'transferred',
    });
  },
  methods: {
    datePayFormated(date) {
      return this.$dayjs(date).format('D MMM YYYY, hh.mm');
    },
    labelBillStatus(isFromMamipay) {
      return {
        inlineText: isFromMamipay ? 'Ditransfer' : 'Diluar Mamipay',
        type: 'success',
      };
    },
  },
};
</script>
