<template>
  <!-- eslint-disable-next-line vue/require-component-is -->
  <component
    ref="button"
    v-bind="$attrs"
    :is="currentElement"
    :class="buttonClasses"
    :disabled="disabled"
    @click="handleButtonClicked"
    class="c-mk-button"
  >
    <span v-if="hasSpinner" class="c-loader"></span>
    <slot v-else></slot>
  </component>
</template>

<script>
export default {
  name: 'MkButton',
  inheritAttrs: false,
  props: {
    /**
     * Whether the button is disabled or not
     * true , false
     */
    disabled: {
      type: Boolean,
      default: false,
    },
    /**
     * Whether the button is link or not
     * true , false
     */
    href: {
      type: String,
      default: '',
    },
    /**
     * Whether the button has spinner or not
     * true , false
     */
    hasSpinner: {
      type: Boolean,
      default: false,
    },
    /**
     * The background color button
     * green-brand , green-inverse, default
     * Please add another option if you need
     */
    color: {
      type: String,
      validator: (type) => {
        return [
          'white-brand',
          'green-brand',
          'green-inverse',
          'orange',
          'default',
          'secondary',
          'tertiary',
          'naked',
        ].includes(type);
      },
      default: 'default',
    },
    /**
     * The shape of button
     * square, default
     * Please add another option if you need
     */
    shape: {
      type: String,
      validator: (shape) => {
        return ['default', 'square'].includes(shape);
      },
      default: null,
    },
    /**
     * The button size
     * default, large
     * Please add another option if you need
     */
    size: {
      type: String,
      validator: (size) => {
        return ['default', 'large'].includes(size);
      },
      default: null,
    },
    /**
     * Whether the button has block display or not
     * true , false
     */
    block: {
      type: Boolean,
      default: false,
    },
  },
  computed: {
    currentElement() {
      return this.href ? 'a' : 'button';
    },
    buttonClasses() {
      const prefix = 'c-mk-button--';
      const { color, shape, size, block, disabled } = this;

      return [color, shape, size, block && 'block', disabled && 'disabled'].map((modifier) => {
        if (modifier) return `${prefix}${modifier}`;
        return null;
      });
    },
  },
  mounted() {
    this.href && (this.$refs.button.href = this.href);
  },
  methods: {
    handleButtonClicked(event) {
      // lose focus for restoring background color
      this.$refs.button && this.$refs.button.blur();
      this.$emit('clicked', event);
    },
  },
};
</script>

<style src="./MkButton.scss" lang="scss" scoped></style>
