.c-mk-button {
  padding: 10px 20px;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  background-color: #ddd;
  border-radius: 3px;
  outline: none;
  transition: 0.3s;

  &--green-brand {
    color: #fff;
    background-color: #1baa56;
    border: solid 1px #1baa56;

    &:hover:not([disabled]),
    &:focus:not([disabled]),
    &:active:not([disabled]) {
      background-color: #16994c;
      border: solid 1px #16994c;
    }
  }

  &--white-brand {
    color: #404040;
    background-color: #fff;
    border: 1px solid #e8e8e8;

    &:hover:not([disabled]),
    &:focus:not([disabled]),
    &:active:not([disabled]) {
      background-color: #f5f5f5;
      border: 1px solid #e8e8e8;
    }
  }

  &--green-inverse {
    color: #1baa56;
    background-color: #fff;
    border: solid 1px #1baa56;

    &:hover:not([disabled]),
    &:focus:not([disabled]) {
      color: #fff;
      background-color: #1baa56;
      border: solid 1px #1baa56;
    }
    &:active:not([disabled]) {
      background-color: #16994c;
      border: solid 1px #16994c;
    }
  }

  &--orange {
    color: #fff;
    background-color: #ec4a0c;
    border: solid 1px #ec4a0c;

    &:hover:not([disabled]),
    &:focus:not([disabled]) {
      color: #fff;
      background-color: #e04205;
      border: solid 1px #e04205;
    }
    &:active:not([disabled]) {
      background-color: #e04205;
      border: solid 1px #e04205;
    }
  }

  &--secondary {
    display: flex;
    color: #1baa56;
    background-color: #fff;
    border: solid 1px #1baa56;
    align-items: center;
    justify-content: center;

    &:hover:not([disabled]),
    &:focus:not([disabled]) {
      color: #6ecf91;
      background-color: #fff;
      border-color: #6ecf91;
    }

    &:active:not([disabled]) {
      color: #008742;
      background-color: #fff;
      border-color: #008742;
    }

    &[disabled],
    &[disabled]:hover,
    &[disabled]:focus,
    &[disabled]:active {
      color: #bbb;
      background-color: #f6f6f6;
      border-color: #e8e8e8;
    }
  }

  &--tertiary {
    display: flex;
    color: #404040;
    background-color: #fff;
    border: solid 1px #e8e8e8;
    align-items: center;
    justify-content: center;

    &:hover:not([disabled]),
    &:focus:not([disabled]) {
      color: #949494;
    }

    &:active:not([disabled]) {
      color: #303030;
      background-color: #fff;
    }

    &[disabled],
    &[disabled]:hover,
    &[disabled]:focus,
    &[disabled]:active {
      color: #bbb;
      background-color: #f6f6f6;
      border-color: #e8e8e8;
    }
  }

  &--naked {
    color: #1baa56;
    background-color: transparent;
    border: 0;

    &:hover:not([disabled]),
    &:focus:not([disabled]) {
      color: #6ecf91;
    }

    &:active:not([disabled]) {
      color: #008742;
    }
  }

  &--default {
    color: #333;
    background-color: #fafafa;
    border: 1px solid #ddd;

    &:hover:not([disabled]),
    &:focus:not([disabled]) {
      color: #1baa56;
      background-color: #f5f5f5;
    }
    &:active:not([disabled]) {
      color: #1baa56;
      background-color: #f5f5f5;
    }
  }

  &--square {
    border-radius: 0;
  }

  &-large {
    padding: 15px 30px;
    font-size: 14px;
  }

  &--block {
    display: block;
    width: 100%;
  }

  &[disabled],
  &[disabled]:hover,
  &[disabled]:focus,
  &[disabled]:active,
  &--disabled,
  &--disabled:hover,
  &--disabled:focus,
  &--disabled:active {
    /* stylelint-disable-next-line plugin/no-unsupported-browser-features */
    cursor: not-allowed;
    outline: none;
    opacity: 0.32;
  }
}
