<template>
  <div ref="gridColumn" :style="gridTemplateColumn" class="bm-grid-column">
    <slot name="row"></slot>
  </div>
</template>

<script>
import _fill from 'lodash/fill';
import _join from 'lodash/join';
export default {
  name: 'GridColumn',

  data() {
    return {
      gridColumnLength: 0,
    };
  },

  computed: {
    gridTemplateColumn() {
      const childrenElementLength = this.gridColumnLength;
      const calc = 100 / childrenElementLength;
      const childrenElement = new Array(childrenElementLength);

      _fill(childrenElement, `${calc}%`);

      return {
        'grid-template-columns': _join(childrenElement, ' '),
      };
    },
  },

  mounted() {
    this.initialCountGridColumn();
    this.initMutationObserver();
  },

  beforeDestroy() {
    // Clean up
    this.observer.disconnect();
  },

  methods: {
    initMutationObserver() {
      this.observer = new MutationObserver((mutations) => {
        this.initialCountGridColumn();
      });

      // Setup the observer
      this.observer.observe(this.$refs.gridColumn, {
        attributes: false,
        childList: true,
        characterData: false,
        subtree: false,
      });
    },
    initialCountGridColumn() {
      this.gridColumnLength = this.$refs.gridColumn.children.length;
    },
  },
};
</script>

<style lang="scss" src="./GridColumn.scss"></style>
