$text-color: #484848;

.mamipoin-rewards {
  &.--desktop {
    max-width: 1024px;
    margin-right: auto;
  }
}

.reward-exchange {
  &__menu {
    margin-bottom: 20px;
  }
}

.reward-menu {
  margin-bottom: 20px;

  &__link {
    display: inline-block;
    font-size: 24px;
    color: $text-color;

    .link-icon {
      margin-right: 5px;
    }
  }
}
