<template>
  <div class="reward-exchange --desktop">
    <div class="reward-exchange__menu">
      <router-link :to="rewardDetailUrl" class="reward-menu__link">
        <b-icon icon="arrow-left" class="link-icon" />
        <strong class="link-text">
          Tukar Hadiah
        </strong>
      </router-link>
    </div>
    <div>
      <exchange-form />
    </div>
  </div>
</template>

<script>
import ExchangeForm from '../components/ExchangeForm';

export default {
  name: 'RewardExchangeDesktop',
  components: { ExchangeForm },
  computed: {
    rewardId() {
      return this.$route.params.reward_id || '';
    },
    rewardDetailUrl() {
      return `/mamipoin/rewards/${this.rewardId}`;
    },
  },
};
</script>
<style scoped lang="scss" src="./desktop.scss"></style>
