<template>
  <mk-modal v-model="active" class="additional-modal-price">
    <mk-card :width="width" class="add-price-card">
      <mk-card-header>
        <div class="card-close">
          <b-icon @click.native="closeModal" class="icon-close" icon="close" size="is-medium" />
        </div>

        <mk-card-title :class="`--${titleAlignment}`" class="card-title">
          {{ cardTitle }}
        </mk-card-title>
      </mk-card-header>

      <mk-card-body>
        <slot />
      </mk-card-body>
    </mk-card>
  </mk-modal>
</template>

<script>
import MkCard from '~/components/global/molecules/MkCard';
import MkCardBody from '~/components/global/molecules/MkCard/components/MkCardBody';
import MkCardHeader from '~/components/global/molecules/MkCard/components/MkCardHeader';
import MkCardTitle from '~/components/global/molecules/MkCard/components/MkCardTitle';
import MkModal from '~/components/global/molecules/MkModal/MkModal';

export default {
  name: 'AdditionalModalPrice',

  components: {
    MkCard,
    MkCardBody,
    MkCardHeader,
    MkCardTitle,
    MkModal,
  },

  props: {
    active: {
      type: Boolean,
      default: false,
    },
    cardTitle: {
      type: String,
      default: '',
    },
    titleAlignment: {
      type: String,
      default: 'center',
    },
    disableClose: {
      type: Boolean,
      default: false,
    },
    width: {
      type: Number,
      default: 320,
    },
  },

  methods: {
    closeModal() {
      !this.disableClose && this.$emit('close');
    },
  },
};
</script>

<style lang="scss" src="./AdditionalModalPrice.scss" scoped></style>
