.add-price-card {
  max-width: 100vw;

  .card-close {
    display: flex;
    justify-content: flex-end;
    width: 100%;

    * {
      cursor: pointer;
    }
  }

  .card-title {
    display: flex;
    width: 100%;
    margin: 15px 0;
    word-break: break-word;
    justify-content: center;

    &.--left {
      justify-content: flex-start;
    }
  }
}
