<template>
  <div>
    <div v-if="isLoadSurveyData" class="skeleton">
      <bg-skeleton :height="150" width="40%" />
      <div class="skeleton__line">
        <bg-skeleton :height="70" width="70%" />
        <bg-skeleton :height="20" width="70%" />
        <bg-skeleton :height="20" width="70%" />
        <bg-skeleton :height="20" width="70%" />
        <bg-skeleton :height="20" width="70%" />
        <bg-skeleton :height="50" width="50%" />
      </div>
    </div>
    <div v-else>
      <div class="c-illustration">
        <bg-illustration name="review" alt="riview" height="300" />
      </div>
      <div class="c-title">
        <p v-if="user.name !== null" class="c-title__content">Halo, {{ user.name }}!</p>
        <p v-else class="c-title__content">Halo!</p>
      </div>
      <div class="c-subtitle">
        <p class="c-subtitle__content">
          Kami sedih Anda berhenti dari GoldPlus. Tapi, penilaian Anda juga berharga bagi kami. Yuk,
          berikan pendapat Anda.
        </p>
      </div>
      <hr class="c-line" />
      <div class="c-button">
        <div class="c-button__content">
          <bg-button @click="gotoFeedback" variant="primary" size="lg" block
            >Beri Pendapat</bg-button
          >
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import { BgIllustration, BgButton, BgSkeleton } from 'bangul-vue';
export default {
  name: 'LandingPageSurvey',
  components: { BgIllustration, BgButton, BgSkeleton },
  data() {
    return {
      isLoadSurveyData: true,
    };
  },
  computed: {
    ...mapGetters('profile', ['user', 'isPremium']),
    ...mapGetters('statistic', ['redirectionHistory']),

    goldplusPackageStatus() {
      return this.$route.query.gp_package === 'gp1'
        ? 'GoldPlus 1'
        : this.$route.query.gp_package === 'gp2'
        ? 'GoldPlus 2'
        : this.$route.query.gp_package === 'gp3'
        ? 'GoldPlus 3'
        : localStorage.getItem('trackerSurveyGpStatus');
    },

    ownerRedirection() {
      return this.redirectionHistory === 'ownerDashboard' ? 'owner dashboard' : 'notification';
    },
  },
  created() {
    this.getPollingStatus();
    this.sendTrackerEvent();
  },
  methods: {
    gotoFeedback() {
      this.$router.push({ path: '/exit-gp-survey/feedback' });
    },

    isHasSubmited(isSubmited) {
      if (isSubmited) {
        this.$router.push({ path: '/exit-gp-survey/close' });
      }
    },

    getPollingStatus() {
      this.$api.getPollingQuestions().then(async (response) => {
        this.isHasSubmited(await response.data.data.has_submitted);
        this.isLoadSurveyData = false;
      });
    },

    // tracker event
    sendTrackerEvent() {
      this.$tracker.send('moe', [
        '[Owner] GP Review Page Visited',
        {
          interface: 'mobile',
          redirection_source: this.ownerRedirection,
          owner_name: this.user.name === null ? '' : this.user.name,
          owner_phone_number: this.user.phone_number,
          owner_email: this.user.email,
          owner_premium_status: this.isPremium,
          goldplus_status: this.goldplusPackageStatus,
        },
      ]);
      localStorage.setItem('trackerSurveyGpStatus', this.goldplusPackageStatus);
    },
  },
};
</script>

<style lang="scss" scoped src="./mobile.scss"></style>
