.c-illustration {
  width: 255px;
  height: 198px;
  margin: 56px auto 18px;
}

.c-title {
  width: 328px;
  height: auto;
  margin: 0 auto;
  text-align: center;
  &__content {
    font-family: Lato;
    font-size: 32px;
    font-style: normal;
    font-weight: 900;
    line-height: 40px;
    color: #303030;
  }
}

.c-subtitle {
  width: 328px;
  height: 72px;
  margin: 8px auto;
  text-align: center;
  &__content {
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    line-height: 24px;
    text-align: center;
  }
}

hr {
  margin: 0;
}
.c-line {
  position: fixed;
  right: 0;
  bottom: 72px;
  left: 0;
  width: 100%;
  height: 1px;
  margin: 15 0;
  background: #e8e8e8;
}

.c-button {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 16px;

  &__content {
    width: 328px;
    margin-left: auto;
    margin-right: auto;
  }
}

.skeleton {
  width: 360px;
  margin: 55px auto 0;
  text-align: center;
  &__line {
    display: inline;
    width: 50%;
  }
}
