.c-mk-popper {
  cursor: pointer;

  .popper {
    width: 96%;
    max-width: 332px;
    height: 182px;
    padding: 15px;
    margin-top: 20px;
    font-weight: bold;
    color: #fff;
    text-align: left;
    background-color: #2e2d39;
    border: 0;
    border-radius: 4px;
    box-shadow: none;

    &__title {
      font-size: 20px;
    }

    &__body {
      margin: 10px 0;
      font-size: 16px;
      line-height: 24px;
    }

    &__footer {
      display: flex;
      justify-content: flex-end;
      &-button {
        font-size: 16px;
        line-height: 24px;
        color: #1baa56;
        cursor: pointer;
        background-color: transparent;
        border: 0;
      }

      &-button:focus {
        outline: 0;
      }
    }
    ::v-deep .popper__arrow {
      border-color: transparent #242424 transparent transparent;
      border-width: 6px 5px 4px 0;
    }
  }
}
