<template>
  <div class="c-mk-popper">
    <popper
      ref="popper"
      :options="{
        placement: placement,
        modifiers: { offset: { offset: '0,10px' } },
      }"
      trigger="clickToToggle"
    >
      <div class="popper">
        <div class="popper__title">
          <p>{{ popperProps.title }}</p>
        </div>
        <div class="popper__body">
          <p>{{ popperProps.text }}</p>
        </div>
        <div class="popper__footer">
          <button @click="hide" class="popper__footer-button" type="button">
            {{ popperProps.btnText }}
          </button>
        </div>
      </div>

      <slot slot="reference" />
    </popper>
  </div>
</template>

<script>
import Popper from 'vue-popperjs';
import 'vue-popperjs/dist/vue-popper.css';

export default {
  components: {
    Popper,
  },
  props: {
    popperProps: {
      type: Object,
      default: () => ({}),
    },
  },
  computed: {
    placement() {
      return this.$device.isMobile ? 'top' : 'right';
    },
  },
  methods: {
    hide() {
      this.$refs.popper.doClose();
    },
  },
};
</script>

<style lang="scss" src="./DailyAllocationPopper.scss" scoped></style>
