.goldplus-statistic-chart-filter-modal {
  width: 100vw;
  height: 100vh;
  background-color: #fff;

  @media (min-width: 768px) {
    max-width: 411px;
    height: 600px;
  }

  &__close-button {
    cursor: pointer;
  }

  &__header,
  &__body,
  &__footer {
    padding: 0 16px;
  }

  &__header {
    padding-top: 12px;
    padding-bottom: 12px;
    border-bottom: 1px solid #e8e8e8;
  }

  &__body {
    height: calc(100% - 60px - 73px); // 60px and 73px are header's and footer's height
    padding-top: 18px;
    padding-bottom: 18px;
    overflow: auto;

    &-title {
      font-size: 20px;
      font-weight: 900;
      line-height: 28px;
    }

    &-content {
      margin-top: 24px;
    }
  }

  &__footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #fff;
    border-top: 1px solid #e8e8e8;

    @media (min-width: 768px) {
      position: unset;
    }

    ::v-deep {
      .c-mk-button {
        height: 48px;
        font-size: 16px;
        font-weight: bold;
        line-height: 24px;
      }
    }
  }

  &__loader {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0;
    transform: translate(-50%, -50%);

    .c-loader {
      width: 40px;
      height: 40px;
    }
  }

  .field {
    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }

  ::v-deep {
    .check {
      box-shadow: unset !important;
    }

    /* stylelint-disable selector-max-specificity, selector-no-qualifying-type, selector-max-type, selector-max-compound-selectors */
    .b-radio.radio input[type='radio']:checked + .check {
      border-color: #1baa56;

      &::before {
        background-color: #1baa56;
      }
    }
    /* stylelint-enable selector-max-specificity, selector-no-qualifying-type, selector-max-type, selector-max-compound-selectors */
  }
}
