<template>
  <mk-modal v-model="showModal" backdrop>
    <div class="goldplus-statistic-chart-filter-modal">
      <div class="goldplus-statistic-chart-filter-modal__header">
        <b-icon
          @click.native="closeModal"
          icon="close"
          size="is-medium"
          class="goldplus-statistic-chart-filter-modal__close-button"
        ></b-icon>
      </div>

      <div class="goldplus-statistic-chart-filter-modal__body">
        <h2 class="goldplus-statistic-chart-filter-modal__body-title">
          Lihat statistik performa GoldPlus di
        </h2>

        <div v-if="isLoadingFilters" class="goldplus-statistic-chart-filter-modal__loader">
          <div class="c-loader" />
        </div>

        <div class="goldplus-statistic-chart-filter-modal__body-content">
          <div
            v-for="(filter, index) in statisticFilterArray"
            :key="`filter-${index}`"
            class="field"
          >
            <b-radio v-model="selectedFilterKey" :native-value="filter.key">
              {{ filter.value }}
            </b-radio>
          </div>
        </div>
      </div>

      <div class="goldplus-statistic-chart-filter-modal__footer">
        <mk-button
          @clicked="handleSetFilter"
          :disabled="isLoadingFilters"
          block
          color="green-brand"
          class="goldplus-statistic-chart-filter-modal__footer-button"
        >
          Tampilkan
        </mk-button>
      </div>
    </div>
  </mk-modal>
</template>

<script>
import { mapState, mapGetters, mapMutations, mapActions } from 'vuex';

import MkModal, { mixin as modalMixin } from '~/components/global/molecules/MkModal/MkModal';
import MkButton from '~/components/global/atoms/MkButton';

export default {
  name: 'GoldPlusStatisticChartFilterModal',
  components: { MkModal, MkButton },
  mixins: [modalMixin],
  model: {
    prop: 'active',
    event: 'update:active',
  },
  props: {
    statisticType: {
      type: Object,
      required: true,
    },
    active: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      isLoadingFilters: false,
      selectedFilterKey: null,
    };
  },
  computed: {
    ...mapState('goldplus', ['roomDetail']),
    ...mapGetters('goldplus', ['statisticFilters', 'selectedStatisticFilter']),
    ...mapGetters('profile', ['user']),
    showModal: {
      get() {
        return this.active;
      },
      set(val) {
        this.$emit('update:active', val);
      },
    },
    statisticFilterArray() {
      const filterObject = this.statisticFilters(this.statisticType);
      const filterArray = [];

      Object.keys(filterObject).forEach((key) => {
        filterArray.push(filterObject[key]);
      });

      return filterArray;
    },
    selectedFilterObject() {
      return this.statisticFilterArray.find((filter) => filter.key === this.selectedFilterKey);
    },
  },
  watch: {
    active(value) {
      if (value && !this.statisticFilterArray.length) this.handleGetStatisticFilters();
    },
  },
  methods: {
    ...mapMutations('goldplus', [
      'setSelectedVisitStatisticFilter',
      'setSelectedUniqueVisitStatisticFilter',
      'setSelectedChatStatisticFilter',
      'setSelectedFavoriteStatisticFilter',
    ]),
    ...mapActions('goldplus', ['getStatisticFilters']),
    async handleGetStatisticFilters() {
      const payload = {
        type: this.statisticType,
        params: {
          id: this.$route.params.id,
        },
      };

      this.isLoadingFilters = true;

      try {
        await this.getStatisticFilters(payload);

        this.selectedFilterKey = this.selectedStatisticFilter(this.statisticType).key;
        this.isLoadingFilters = false;
      } catch (error) {
        this.$bugsnag.notify(error);
        this.$alert('is-danger', 'Gagal', 'Terjadi galat, silakan coba lagi.');
        this.isLoadingFilters = false;
      }
    },
    closeModal() {
      this.toggleModal(false);
      this.trackChangeFilterTimeRange();
    },
    trackChangeFilterTimeRange() {
      this.$tracker.send('moe', [
        '[Owner] Webview: Change Filter Timerange',
        {
          interface: this.$device.isMobile ? 'mobile' : 'desktop',
          owner_name: this.user.name,
          gp_level: this.roomDetail.gp_status.value,
          property_id: this.roomDetail.id,
          statistik_section: this.statisticType.value,
          timerange: this.selectedFilterKey,
        },
      ]);
    },
    handleSetFilter() {
      this[`setSelected${this.statisticType.pascalValue}StatisticFilter`](
        this.selectedFilterObject,
      );
      this.closeModal();
    },
  },
};
</script>

<style lang="scss" src="./GoldPlusStatisticChartFilterModal.scss" scoped></style>
