.tenant-list-mobile {
  padding-bottom: 66px;

  &__footer {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    padding: 8px 16px;
    background: #fff;
    border-top: 1px solid #f4f4f4;
  }

  &__add-tenant-link {
    text-decoration: none;
  }

  &__list {
    &-item {
      margin-bottom: 8px;
      border-bottom: 1px solid #f4f4f4;
    }
  }
}
