<template>
  <div class="tenant-list-mobile">
    <tenant-list
      :tenants="tenants"
      :is-first-time-loading="!isLoaded && isLoading"
      :is-loading-more="isLoading"
      :is-empty="isEmpty"
      class="tenant-list-mobile__list"
    />

    <div class="tenant-list-mobile__footer">
      <bg-link :to="addTenantRoutePath" class="tenant-list-mobile__add-tenant-link" tag="nuxt-link">
        <bg-button variant="primary" size="lg" block>
          <bg-icon name="add-plus" size="xs" /> Tambah Data Penyewa
        </bg-button>
      </bg-link>
    </div>

    <bg-toast v-model="isShowToast" :duration="5" class="tenant-list-mobile__toast">
      {{ toastMessage }}
    </bg-toast>
  </div>
</template>

<script>
import { BgLink, BgButton, BgIcon, BgToast } from 'bangul-vue';
import TenantList from '../components/TenantList';
import mixinTenantList from '../mixins/mixinTenantList';

export default {
  name: 'TenantListMobile',
  components: {
    BgLink,
    BgButton,
    BgIcon,
    BgToast,
    TenantList,
  },
  mixins: [mixinTenantList],
  created() {
    this.trackTenantListPageVisited();
    this.getTenantList({ offset: this.offset, limit: this.limit });
  },
  mounted() {
    window.addEventListener('scroll', this.handleWindowScrolled);
  },
  beforeDestroy() {
    window.removeEventListener('scroll', this.handleWindowScrolled);
  },
  methods: {
    handleWindowScrolled() {
      const isScrolledToBottom =
        window.innerHeight + window.pageYOffset >= document.body.offsetHeight - 10;

      this.loadMoreTenants(isScrolledToBottom);
    },
  },
};
</script>

<style lang="scss" scoped src="./mobile.scss"></style>
