.c-mk-snackbar {
  &__background {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 6;
    background-color: rgba(46, 45, 57, 0.5);
  }

  &__frame {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 7;
    padding: 0 16px;
    background-color: #fff;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  &__handle {
    width: 40px;
    height: 6px;
    margin: 8px auto 20px;
    background: #dbdbdb;
    border-radius: 100px;
  }
}

.slideup-enter-active,
.slideup-leave-active {
  transition: max-height 0.5s;
}
.slideup-enter-to,
.slideup-leave {
  max-height: 100vh;
}
.slideup-enter,
.slideup-leave-to {
  max-height: 0;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter-to,
.fade-leave {
  opacity: 1;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
