<template>
  <div class="c-mk-snackbar">
    <transition name="fade">
      <div
        v-if="active"
        @click="backdrop && $emit('update:active', false)"
        class="c-mk-snackbar__background"
      ></div>
    </transition>
    <transition name="slideup">
      <div v-if="active" class="c-mk-snackbar__frame">
        <div class="c-mk-snackbar__handle"></div>

        <div class="c-mk-snackbar__body">
          <slot />
        </div>
      </div>
    </transition>
  </div>
</template>

<script>
export default {
  name: 'MkSnackbar',
  model: {
    prop: 'active',
    event: 'update:active',
  },
  props: {
    active: {
      type: Boolean,
      required: true,
    },
    /**
     * determine backdrop clickable or not to close snack
     */
    backdrop: {
      type: Boolean,
      default: false,
    },
  },
};
</script>

<style lang="scss" src="./MkSnackbar.scss" scoped></style>
