/* stylelint-disable */
$fontSizeTitle: 32px;
$marginBottomTitle: 15px;
/* stylelint-enable */

.tnc-booking-langsung {
  &__title {
    margin-bottom: $marginBottomTitle;
    font-size: $fontSizeTitle;
    font-weight: 900;
    line-height: 40px;
    color: #303030;

    @media (max-width: 767px) {
      font-size: 24px;
      line-height: 32px;
    }
  }

  &__sub-title {
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: 900;
    line-height: 26px;
    color: #303030;
  }

  &__content {
    height: 400px;
    padding-right: 10px;
    overflow: auto;
    @media (max-width: 767px) {
      height: calc(100vh - 121px - #{$fontSizeTitle} - #{$marginBottomTitle} - 50px - 12px);
      overflow: scroll;
    }
  }

  /* stylelint-disable selector-max-type */
  p {
    margin-top: 0;
    margin-bottom: 1rem;
  }

  a {
    color: #303030;
    text-decoration: underline;
  }

  ol,
  ul {
    padding-left: 30px;
    li {
      margin-bottom: 10px;
    }
  }

  ul {
    list-style: circle;
  }
}
