<template>
  <div class="tnc-booking-langsung">
    <h2 class="tnc-booking-langsung__title">Syarat dan Ketentuan</h2>
    <div @scroll="handleTncScrolled" class="tnc-booking-langsung__content">
      <h2 class="tnc-booking-langsung__sub-title">
        Syarat dan Ketentuan Booking Langsung Owner
      </h2>
      <p>
        Sebagai upaya pemberian layanan yang maksimal kepada setiap pengguna atau
        <em>user,</em> Mamikos (selanjutnya disebut “Kami”) menerapkan syarat dan ketentuan
        untuk&nbsp; digunakan sebagai acuan apabila ditemukan permasalahan di dalam penggunaan fitur
        Booking Langsung (selanjutnya disebut “<strong>Booking Langsung</strong>”).
      </p>
      <p>
        Kami menyarankan Anda sebagai pemilik atau pengelola kos atau <em>Owner</em> (selanjutnya
        disebut “Anda”) untuk membaca Syarat dan Ketentuan Turunan Fitur Booking Langsung
        (selanjutnya disebut “<strong>S&amp;K Turunan</strong>”) ini secara berkala bersama dengan
        <a
          target="_blank"
          href="https://help.mamikos.com/syarat-dan-ketentuan/?category=pemilik-dan-penghuni&amp;subCategory=syarat-dan-ketentuan-umum"
        >
          S&amp;K Umum</a
        >
        dan
        <a target="_blank" href="https://mamikos.com/privacy">Kebijakan Privasi Data</a>
        yang merupakan bagian yang tidak terpisahkan dari S&amp;K Turunan ini.
      </p>

      <p>
        S&amp;K Turunan ini berlaku sebagaimana mestinya dan wajib diperhatikan oleh Anda sebelum
        menggunakan Booking Langsung.
      </p>

      <p><strong>A. Definisi</strong></p>

      <p>
        Sebagaimana yang digunakan dalam S&amp;K Turunan ini, istilah-istilah berikut memiliki
        artinya masing-masing sebagaimana yang dijelaskan di bawah:
      </p>

      <ol>
        <li>
          <strong>Biaya Administrasi Booking Langsung </strong>atau<strong>
            Biaya Administrasi </strong
          >berarti biaya tambahan yang ditagihkan oleh Kami pada tagihan <em>Tenant</em>.&nbsp;
        </li>
        <li>
          <strong>Biaya Layanan</strong> berarti biaya layanan untuk transaksi yang besarnya sesuai
          pada kebijakan Kami dan akan Kami dipotong langsung dari transaksi yang Kami terima.
        </li>
        <li>
          <strong>Booking Langsung </strong>berarti fitur yang Kami sediakan pada situs web
          (<em>website</em>) Mamikos.com atau aplikasi Mamikos yang memungkinkan
          <em>Tenant</em> dapat memesan terlebih dahulu (<em>booking</em>) dan melakukan pembayaran
          kepada <em>Owner</em> melalui MamiPAY.
        </li>
        <li>
          <strong>Deposit</strong> berarti uang yang dijaminkan oleh <em>Tenant</em> ketika Kontrak
          dibuat dan ditagihkan pada transaksi pertama. Deposit akan dikembalikan sesuai kesepakatan
          antara <em>Tenant</em> dan <em>Owner</em> pada saat jangka waktu Kontrak berakhir.
        </li>
        <li>
          <strong>Harga Sewa</strong> berarti biaya yang dibebankan kepada <em>Tenant</em> yang yang
          di dalamnya terdapat komponen: i) pembayaran utuh (<em>full payment</em>), atau ii)&nbsp;
          pembayaran di muka (<em>down payment</em> atau DP) dan pembayaran pelunasan dibayarkan
          sesuai dengan Hitungan Sewa yang disepakati antara <em>Tenant</em> dan<em> Owner</em>.
        </li>
        <li>
          <strong>Hitungan Sewa</strong> berarti jangka waktu yang digunakan untuk mengirimkan
          tagihan Transaksi sesuai kesepakatan antara <em>Tenant</em> dan <em>Owner</em>.&nbsp;
        </li>
        <li>
          <strong>Jadwal Pembayaran</strong> adalah tanggal-tanggal dimana <em>Tenant</em> memiliki
          kewajiban untuk menyelesaikan transaksi tagihan sesuai Nominal Tagihan.
        </li>
        <li>
          <strong>Jangka Waktu Kontrak</strong> berarti jumlah waktu dalam&nbsp;
          hari/minggu/bulan/tahun atas tanggal Kontrak dimulai hingga tanggal Kontrak selesai.&nbsp;
        </li>
        <li>
          <strong>Kontrak</strong> berarti kesepakatan sewa antara <em>Owner</em> dan
          <em>Tenant</em> yang dikelola melalui Sistem.
        </li>
        <li>
          <strong>MamiPAY </strong>berarti sistem <em>billing management </em>dan pembayaran pada
          <em>platform</em> Kami melalui pilihan-pilihan <em>payment gateway </em>(seperti bank,
          <em>fintech</em>, <em>merchant</em>) yang disediakan didalamnya dan dapat digunakan oleh
          <em>Tenant</em> untuk melakukan pembayaran Nominal Tagihan.&nbsp;
        </li>
        <li>
          <strong>Nominal Tagihan </strong>berarti total biaya yang harus dibayarkan
          <em>Tenant</em> pada setiap Transaksi yang timbul selama jangka waktu Kontrak. Nominal
          Tagihan terdiri dari Harga Sewa, Deposit (apabila ada), Biaya Tambahan Tetap (apabila
          ada), Biaya Tambahan Lainnya (apabila ada) dan Biaya Administrasi.
        </li>
        <li>
          <strong><em>Owner</em></strong
          ><strong> </strong>atau <strong>Pemilik </strong>berarti pemilik dari properti Indekos
          (kos) yang namanya tertera pada surat kepemilikan properti sebagai pihak yang sah
          berdasarkan hukum atau pengelola yang memiliki hak pengelolaan atau kuasa untuk mengelola
          kos yang didaftarkan dan bisa dibuktikan secara hukum melalui suatu dokumen yang dianggap
          sah berdasarkan hukum di Indonesia.
        </li>
        <li>
          <strong>Rekening </strong>berarti rekening resmi atas nama Kami yang Kami gunakan untuk
          mengirimkan pembayaran dari <em>Tenant</em> kepada <em>Owner </em>atau nomor
          <em>virtual account </em>yang Kami sediakan secara resmi pada situs web (<em>website</em>)
          Mamikos.com atau aplikasi Mamikos.
        </li>
        <li>
          <strong>Sistem Kelola Tagihan</strong> atau <strong>Sistem </strong>berarti sistem yang
          berfungsi untuk mengelola tagihan <em>Tenant</em>, Booking Langsung dan laporan transaksi
          untuk Owner selama menggunakan situs web (<em>website</em>) Mamikos.com atau aplikasi
          Mamikos.
        </li>
        <li>
          <strong>Tagihan</strong> berarti resi yang dikirimkan kepada <em>Tenant</em> yang wajib
          dibayar oleh <em>Tenant</em> sebelum Kontrak disepakati.&nbsp;
        </li>
        <li>
          <strong>Tambahan Biaya Lainnya </strong>berarti biaya tambahan atas layanan tertentu dan
          dibebankan kepada <em>Tenant</em> di luar Harga Sewa dan Tambahan Biaya Tetap. Tambahan
          Biaya Lainnya ini akan ditagihkan secara tidak rutin (insidental dan diatur oleh
          <em>Owner</em>).
        </li>
        <li>
          <strong>Tambahan Biaya Tetap </strong>berarti biaya tambahan atas layanan tertentu dan
          dibebankan kepada <em>Tenant</em> di luar Harga Sewa. Tambahan Biaya Tetap tetap
          ditagihkan secara rutin di setiap Transaksi dan diatur oleh<em> Owner</em>.
        </li>
        <li>
          <strong><em>Tenant</em></strong> atau <strong>Penyewa </strong>atau
          <strong>Penghuni </strong>berarti calon atau penghuni kos yang menggunakan fitur Booking
          Langsung.&nbsp;
        </li>
        <li>
          <strong>Transaksi </strong>berarti aktivitas sewa dan pembayaran secara daring (dalam
          jaringan) ataupun manual yang dilakukan oleh <em>Tenant</em> kepada <em>Owner</em> melalui
          Sistem.
        </li>
      </ol>

      <p>
        Istilah-istilah yang menggunakan huruf besar yang didefinisikan dan digunakan dalam S&amp;K
        Turunan ini berlaku secara sama untuk kedua bentuk tunggal atau jamak dari istilah yang
        didefinisikan tersebut. Apabila konteksnya mungkin mempersyaratkan, setiap kata ganti benda
        mencakup bentuk maskulin, feminin dan netralnya. Kata-kata “mencakup” dan ”meliputi”
        dianggap diikuti oleh frasa “tanpa pembatasan”.
      </p>

      <p>
        <strong>B.</strong><strong> </strong><strong>Hak dan Kewajiban </strong
        ><strong><em>Owner</em></strong>
      </p>

      <p>Hak <em>Owner </em>selama menggunakan Booking Langsung antara lain:&nbsp;</p>

      <ol>
        <li>
          Dapat menggunakan fitur MamiPAY secara otomatis dengan melakukan aktivasi fitur Booking
          Langsung.&nbsp;
        </li>
        <li>
          Aktivasi fitur Booking Langsung pada kos yang baru dibuat, akan otomatis mengaktifkan
          fitur Booking Langsung pada kos lain yang belum aktif.
        </li>
        <li>Mendapatkan dukungan teknis dari Kami.</li>
        <li>Menerima informasi status Transaksi.&nbsp;</li>
        <li>Menerima informasi status Kontrak.&nbsp;</li>
        <li>Menerima informasi status pengiriman dana dari Kami.</li>
        <li>
          Menerima pencairan dana Transaksi ke dalam rekening yang didaftarkan dalam waktu
          sebagaimana diatur dalam <strong>butir C</strong> di bawah sejak Kami terima dan
          konfirmasi.
        </li>
      </ol>

      <p>Kewajiban <em>Owner</em> selama menggunakan Booking Langsung antara lain:&nbsp;</p>

      <ol>
        <li>
          Bersedia untuk melakukan seluruh Transaksi pembayaran melalui Sistem, Kami menganggap
          setiap Transaksi yang dilakukan di luar Sistem sebagai tindakan ilegal dan oleh karenanya
          akan mengakibatkan dimatikannya fitur Booking Langsung ataupun tindakan lain yang Kami
          anggap perlu.
        </li>
        <li>
          Memasukkan Kontrak <em>Tenant</em> yang memiliki tanggal mulai huni setelah aktivasi fitur
          ke dalam Sistem. Kami berhak untuk menggunakan properti kamar yang didaftarkan oleh
          <em>Owner</em> meskipun <em>Tenant</em> telah menghuni unit kamar tersebut tanpa
          pengembalian dana apabila ditemukan Transaksi yang dilakukan diluar Sistem.&nbsp;
        </li>
        <li>
          Memberikan hak atas penggunaan atas unit kamar sesuai tipe dan fasilitas yang tertera pada
          iklan properti pada <em>platform</em>.&nbsp;
        </li>
        <li>
          Memberikan deskripsi dan data ketersediaan unit kamar secara benar, terkini dan sesuai
          keadaan sesungguhnya.&nbsp;
        </li>
        <li>
          Tidak melakukan penagihan pembayaran diluar Tagihan yang tercatat pada Sistem kepada Kami
          kepada <em>Tenant</em>.&nbsp;
        </li>
        <li>
          Menjamin kepastian harga dan menyatakan harga yang berlaku adalah harga sebagaimana
          tertuang pada iklan properti pada <em>platform</em>.
        </li>
        <li>
          Melakukan upaya dan imbauan dengan usaha terbaiknya kepada <em>Tenant</em> eksisting untuk
          melakukan pembayaran tagihan bulanan melalui <em>platform</em> Kami dan tidak menerima
          pembayaran dari <em>Tenant</em> di luar <em>platform</em> Kami.&nbsp;
        </li>
        <li>
          Menyelesaikan segala permasalahan, sengketa, perbedaan pendapat (“Perselisihan”) termasuk
          namun tidak terbatas terkait permintaan pengembalian atau <em>refund</em>, perbaikan atau
          peningkatan fasilitas kos yang terjadi antara Anda dengan <em>Tenant</em> dengan baik dan
          membebaskan Kami dari segala tuntutan, permintaan ganti kerugian dalam bentuk apapun atas
          perselisihan yang timbul.
        </li>
        <li>
          Dalam hal terjadi permintaan pengembalian dana ataupun pembatalan oleh
          <em>Tenant</em> setelah Kami melakukan <em>disbursement </em>pembayaran kepada Anda atau
          <em>Tenant </em>telah melakukan <em>check in</em>, maka Anda wajib untuk segera
          menyelesaikan permasalahan tersebut secara langsung dengan <em>Tenant</em>. Kami tidak
          bertanggung jawab atas penggantian dalam bentuk apapun akibat pembatalan tersebut namun
          demikian Kami berdasarkan kebijaksanaan Kami dapat menawarkan bantuan komunikasi
          penyelesaian antara <em>Owner</em> dan <em>Tenant</em>.
        </li>
      </ol>

      <p><strong>C. Biaya Transaksi Dan Pembayaran Tagihan</strong></p>

      <ol>
        <li>
          <em>Owner</em> dilarang untuk meminta atau memerintahkan <em>Tenant</em> dengan cara
          apapun untuk melakukan pembayaran diluar metode pembayaran pada Sistem. Kami tidak
          bertanggung jawab terhadap Transaksi diluar Sistem dan tetap berhak untuk menggunakan unit
          kamar yang didaftarkan oleh <em>Owner</em> atau mengambil langkah-langkah yang kami
          perlukan berdasarkan diskresi Kami.
        </li>
        <li>
          <em>Owner</em> dapat melihat status pembayaran dari setiap Transaksi pada
          <em>platform</em> ini.
        </li>
        <li>
          Kami akan meneruskan pembayaran <em>Tenant</em> kepada Anda dengan ketentuan sebagai
          berikut:&nbsp;
          <ul>
            <li>
              Pembayaran untuk Tagihan pertama <em>Tenant </em>dilakukan maksimal 1×24 jam setelah
              <em>Tenant </em>melakukan <em>check in</em> pada aplikasi Mamikos. Lebih lanjut
              <em>Owner </em>diwajibkan untuk melanjutkan proses <em>assign room</em> pada aplikasi
              Mamikos agar Kami dapat meneruskan pembayaran tersebut.
            </li>
            <li>
              Pembayaran untuk Tagihan bulan selanjutnya atau Transaksi berulang (<em
                >recurring Transaction</em
              >) dilakukan maksimal 1×24 jam.&nbsp;
            </li>
            <li>
              Apabila hari pembayaran jatuh pada hari libur yang ditetapkan oleh pemerintah maka
              Kami akan meneruskan pembayaran tersebut pada hari kerja berikutnya.&nbsp;
            </li>
          </ul>
        </li>
        <li>
          Kami hanya akan meneruskan pembayaran ke Rekening yang Anda daftarkan di Kami. Dalam hal
          terdapat kegagalan transfer dikarenakan informasi Rekening yang Anda berikan tidak tepat,
          tidak sesuai maupun terjadinya kesalahan input atas informasi Rekening yang Anda daftarkan
          di Kami maka, Anda memahami bahwa hal ini sepenuhnya adalah bukan kesalahan Kami dan oleh
          karenanya Anda tidak dapat mengajukan tuntutan, klaim, gugatan, permohonan ganti rugi,
          kompensasi atau permintaan apapun dan kapanpun kepada Kami terhadap kesalahan
          tersebut.&nbsp;
        </li>
        <li>
          Anda akan dikenakan Biaya Layanan atas fitur Booking Langsung sebesar 7% (tujuh persen)
          dari pembayaran pertama Transaksi oleh <em>Tenant</em>. Lebih lanjut Biaya Tambahan
          Lainnya dalam hal ini tidak akan dikenakan Biaya Layanan.
        </li>
      </ol>

      <p><strong>D. Penghentian Sementara Layanan Booking Langsung</strong></p>

      <p>
        Penghentian layanan fitur Booking Langsung dapat disebabkan oleh alasan-alasan sebagai
        berikut:
      </p>

      <ol>
        <li>
          Adanya inspeksi, perbaikan, pemeliharaan, dan/atau peningkatan sistem. Kami akan
          memberitahukan sebelumnya kepada Anda dengan memberikan notifikasi melalui aplikasi,
          tertulis, atau lainnya.
        </li>
        <li>
          Adanya alasan tertentu untuk melindungi hak-hak dan/atau kepentingan <em>Tenant</em>,
          <em>Owner</em>, dan/atau Kami.
        </li>
        <li>
          Apabila terdapat gangguan tiba-tiba terhadap fitur Booking Langsung dan/atau Sistem, Kami
          akan memberikan notifikasi melalui aplikasi, tertulis, atau lainnya.
        </li>
      </ol>

      <p><strong>E. Keamanan dan Perlindungan Informasi</strong></p>

      <p>
        Kami sangat menghargai kerahasiaan atas data dan informasi Anda dan oleh karenanya Kami
        beritikad baik untuk memberikan usaha terbaik Kami dalam mematuhi peraturan maupun
        persyaratan perlindungan data yang relevan. Lebih lanjut Anda dapat mempelajari ketentuan
        penggunaan data dan informasi pribadi anda secara terpisah yang merupakan bagian dari
        S&amp;K Turunan ini pada bagian
        <a target="_blank" href="https://mamikos.com/privacy"
          ><span style="text-decoration: underline;">Kebijakan Privasi Data</span></a
        >.
      </p>

      <p><strong>F. Hak Kami</strong></p>

      <p>
        Kami atas pertimbahan terbaik menurut Kami dan/atau alasan lainnya yang wajar dalam rangka
        melaksanakan kewajiban Kami sehubungan dengan penerapan prinsip <em>Know Your Customer</em>,
        prinsip kehati-hatian, dan prinsip bisnis lainnya yang bertujuan untuk menjaga Kami terhadap
        Transaksi yang patut dianggap mencurigakan, tidak sesuai dengan hukum dan peraturan
        perundang-undang serta potensi terjadinya pelanggaran (<em>fraud</em>) dapat berhak untuk
        melakukan upaya-upaya sebagai berikut:&nbsp;
      </p>

      <ol>
        <li>
          Meminta data ataupun informasi tambahan atau melakukan verifikasi lebih lanjut kepada Anda
          maupun pihak ketiga lainnya untuk memvalidasi dan mengkonfirmasi Transaksi yang terjadi
          dalam kondisi-kondisi tertentu;
        </li>
        <li>
          Menahan pembayaran Kami kepada Anda dalam hal patut untuk dicurigai dan terbukti
          berdasarkan data dan pertimbangan Kami bahwa terjadinya pelanggaran
          (<em>noncompliance</em>) maupun kecurangan (<em>fraud</em>) Transaksi pada
          <em>platform </em>Kami;
        </li>
        <li>
          Tidak meneruskan pembayaran yang Kami terima kepada Anda dalam hal patut untuk dicurigai
          dan terbukti berdasarkan data dan pertimbangan Kami bahwa terjadinya pelanggaran
          (<em>noncompliance</em>) maupun kecurangan (<em>fraud</em>) Transaksi pada
          <em>platform</em> Kami. Selanjutnya pembayaran yang Kami terima dapat Kami kembalikan
          kepada pihak yang melakukan pembayaran;&nbsp;
        </li>
        <li>
          Memberikan teguran kepada Anda terhadap terjadinya pelanggaran (<em>noncompliance</em>)
          maupun kecurangan (<em>fraud)</em>;&nbsp;
        </li>
        <li>
          Menonaktifkan <em>listing</em> properti Anda, akun Anda untuk jangka waktu tertentu
          ataupun selamanya pada <em>platform</em>&nbsp; Kami;&nbsp;
        </li>
        <li>
          Memasukkan Anda pada daftar hitam Kami atas terjadinya pelanggaran
          (<em>noncompliance</em>) maupun kecurangan (<em>fraud</em>) dan menolak semua permintaan
          <em>listing</em> yang Anda ajukan di kemudian hari; dan/atau
        </li>
        <li>
          Melakukan upaya hukum baik secara perdata maupun pidana terhadap setiap pelanggaran
          (<em>noncompliance</em>) maupun kecurangan (<em>fraud)</em> yang terjadi.
        </li>
      </ol>

      <p><strong>G. Pembaruan&nbsp;</strong></p>

      <p>
        S&amp;K Turunan ini mungkin diubah dan/atau diperbaharui dari waktu ke waktu tanpa
        pemberitahuan sebelumnya. Kami menyarankan untuk membaca secara seksama dan memeriksa
        kembali laman S&amp;K ini dari waktu ke waktu untuk mengetahui perubahan apapun, dengan
        tetap mengakses dan menggunakan <em>platform</em>, maka Anda dianggap menyetujui
        perubahan-perubahan dalam S&amp;K Turunan yang ada. Anda memahami bahwa versi terbaru dari
        S&amp;K Turunan ini akan menggantikan semua versi sebelumnya.
      </p>

      <p>
        Kami dapat menyediakan tautan ke situs ataupun aplikasi lain yang dikelola oleh pihak lain,
        dan dengan mengklik tautan tersebut Anda dengan menyatakan, mengakui, dan menyetujui bahwa
        tindakan tersebut adalah tindakan sukarela Anda untuk melihat atau memasuki situs lain yang
        tidak diawasi atau ditanggung oleh Kami.
      </p>

      <p><strong>H. Lain-lain</strong></p>

      <p>
        Tidak sahnya atau tidak dapat dilaksanakannya suatu ketentuan atau suatu bagian dari suatu
        ketentuan dalam S&amp;K Turunan ini tidak mempengaruhi keabsahan bagian-bagian lain dari
        ketentuan yang tidak sah tersebut serta keabsahan ketentuan-ketentuan lain dari S&amp;K
        Turunan ini.
      </p>

      <p>
        Judul pasal/butir dalam S&amp;K Turunan ini berdasarkan pertimbangan praktis saja dan tidak
        dapat dipergunakan untuk menafsirkan isi dari pasal/butir dalam S&amp;K ini.
      </p>

      <p><strong>I. </strong>&nbsp;<strong>Kontak Kami</strong></p>

      <p>
        Lebih lanjut apabila Anda mengalami permasalahan ataupun sekedar ingin mengajukan
        pertanyaan, Anda dapat melakukan kontak dengan Kami pada: <br />Email:
        <a target="_blank" href="mailto:cs@mamikos.com"
          ><span style="text-decoration: underline;">cs@mamikos.com</span></a
        ><br />Whatsapp: 0859-3022-9138 &amp; 0857-2567-6911
      </p>

      <p>Diperbaharui pada tanggal 24&nbsp; September 2020<br /><em>©</em> Mamikos.com</p>
    </div>
  </div>
</template>

<script>
export default {
  name: 'TnCBookingLangsung',
  methods: {
    handleTncScrolled({ target: { scrollTop, clientHeight, scrollHeight } }) {
      if (scrollTop + clientHeight >= scrollHeight) {
        this.$emit('scrolled', true);
      }
    },
  },
};
</script>

<style src="./TncBookingLangsung.scss" lang="scss" scoped></style>
