<template>
  <div class="goldplus-submission-stepper-mweb">
    <gold-plus-header class="goldplus-submission-stepper-mweb__header">
      <div slot="title" class="goldplus-submission-stepper-mweb__title">
        Daftar GoldPlus
      </div>
      <div slot="utilities">
        Berikut adalah langkah-langkah dalam melakukan pendaftaran GoldPlus.
      </div>
    </gold-plus-header>
    <stepper-content />
  </div>
</template>

<script>
import GoldPlusSubmissionStepperContent from '../components/GoldPlusSubmissionStepperContent';
import GoldPlusHeader from '~/components/page-features/goldplus/components/GoldPlusHeader';
import restrictNewSubmission from '~/components/page-features/goldplus/mixins/restrictNewSubmission';

export default {
  name: 'GoldPlusSubmissionStepperMobile',
  components: {
    'stepper-content': GoldPlusSubmissionStepperContent,
    GoldPlusHeader,
  },
  mixins: [restrictNewSubmission],
};
</script>

<style lang="scss" scoped src="./mobile.scss"></style>
