.goldplus-detail-bill-mobile {
  &__wrapper {
    padding: 16px;
    margin: 0 0 75px auto;
  }

  &__header {
    margin-bottom: 16px;
  }

  &__alert {
    margin-bottom: 24px;
  }

  &__title {
    font-size: 28px;
    font-style: normal;
    font-weight: 900;
    color: #303030;
  }
}
