<template>
  <div class="goldplus-detail-bill-mobile">
    <div class="goldplus-detail-bill-mobile__wrapper">
      <div class="goldplus-detail-bill-mobile__header">
        <h1 class="goldplus-detail-bill-mobile__title">Detail Tagihan</h1>
      </div>

      <bg-alert
        v-if="isShowAlert"
        :closable="false"
        :title="alertReminder.title"
        class="goldplus-detail-bill-desktop__alert"
        variant="warning"
      >
        <template #footer>
          <bg-text v-html="alertReminder.description" size="body-4" />
        </template>
      </bg-alert>

      <mk-three-dots-loading v-if="isFetchingData" />
      <goldplus-payment-billing-detail v-else />

      <goldplus-payment-action-button
        v-if="orderStatus === 'unpaid'"
        @action-pay="handleActionPay"
        :is-loading="isActionButtonLoading"
        :order-amount="orderAmount"
      />
    </div>
  </div>
</template>

<script>
import _get from 'lodash/get';
import { BgAlert } from 'bangul-vue';
import { mapState, mapActions } from 'vuex';

import GoldplusPaymentBillingDetail from '../components/GoldplusPaymentBillingDetail';
import GoldplusPaymentActionButton from '../components/GoldplusPaymentActionButton';

import MixinAlert from '../mixins/alert';
import MkThreeDotsLoading from '~/components/global/atoms/MkThreeDotsLoading';

export default {
  components: {
    BgAlert,
    MkThreeDotsLoading,
    GoldplusPaymentBillingDetail,
    GoldplusPaymentActionButton,
  },
  mixins: [MixinAlert],
  data() {
    return {
      isFetchingData: false,
      isActionButtonLoading: false,
    };
  },
  computed: {
    ...mapState('goldplus', ['billingInvoiceData', 'billingInvoicePayment']),
    orderStatus() {
      return _get(this.billingInvoicePayment, 'status', 'unpaid');
    },
    orderAmount() {
      return _get(this.billingInvoicePayment, 'amount', 0);
    },
    invoiceId() {
      return this.billingInvoiceData.invoice_id
        ? this.billingInvoiceData.invoice_id
        : this.$route.params.id;
    },
  },
  async mounted() {
    await this.handleFetchBillingData();
  },
  created() {
    if (this.$route.query.submission) {
      this.handleReloadPage();
    }
  },
  methods: {
    ...mapActions('goldplus', ['fetchBillingInvoice']),
    async handleFetchBillingData() {
      this.isFetchingData = true;
      this.isActionButtonLoading = true;
      try {
        await this.fetchBillingInvoice(this.invoiceId);
        if (Object.keys(this.billingContractDetail).length) {
          this.isFetchingData = false;
          this.isActionButtonLoading = false;
        } else {
          this.$router.replace({ name: 'goldplus-payment' });
        }
      } catch (error) {
        this.$bugsnag.notify(error);
        this.$alert('is-danger', 'Gagal', 'Terjadi galat, silakan coba lagi.');
      }
    },
    handleReloadPage() {
      window.location.href = this.$route.path;
    },
    handleActionPay() {
      this.isActionButtonLoading = true;
      const MAMIPAY_BASE_URL = process.env.MAMIPAY_BASE_URL || 'https://pay.mamikos.com';
      window.location.href = `${MAMIPAY_BASE_URL}/invoice/select-payment/${this.invoiceId}`;
    },
  },
};
</script>

<style lang="scss" src="./mobile.scss"></style>
