$inactive-tab-text: #ddd;
$active-tab-text: #484848;
$active-tab-underline: #1baa56;

/* stylelint-disable selector-max-type, selector-no-qualifying-type, selector-max-compound-selectors, max-nesting-depth, selector-max-specificity */

.mamipoin-tabs {
  position: relative;
  display: block;
  width: 100%;

  @media (max-width: 480px) {
    margin-top: 10px;
  }

  &__tabs {
    margin-top: 9px;

    &.--has-highlight {
      ::v-deep .tabs {
        ul::before {
          position: fixed;
          top: 0;
          left: 0;
          z-index: 10;
          display: block;
          width: 100%;
          height: 100%;
          content: '';
          background-color: rgba(0, 0, 0, 0.6);
        }

        li.is-highlighted {
          z-index: 11;
          color: #484848;
          background-color: #fff;
          border-radius: 4px;

          a {
            color: $active-tab-text;
          }
        }

        .guide-popover {
          height: 0;
          overflow: hidden;
        }
      }
    }

    li {
      margin-bottom: -1px;
    }

    a {
      border-bottom: unset;
      padding-bottom: 17px;
    }

    ::v-deep .tabs.is-fullwidth {
      li {
        flex-grow: unset;
      }
    }

    ::v-deep .tabs {
      @media (max-width: 480px) {
        a {
          padding: 0.4em 0.6em;
          font-size: 16px;
        }
      }

      li.is-active {
        a {
          font-weight: 600;
          color: $active-tab-text;
          border-bottom: 4px solid $active-tab-underline;
        }
      }

      li:not(.is-active) {
        a {
          font-weight: 600;
          color: $inactive-tab-text;
          border-bottom: 4px solid #f4f4f4;
          border-bottom: 4px solid transparent;
        }
      }
    }
  }

  &__list {
    @media (max-width: 480px) {
      border-bottom: unset;
    }
  }
}
