<template>
  <grid-column class="billing-management__column">
    <template ref="rowSlot" v-slot:row>
      <grid-row class="billing-management__row no-margin mamipoin-tabs">
        <div class="mamipoin-tabs__tabs">
          <nav class="tabs is-fullwidth">
            <ul class="mamipoin-tabs__list">
              <li
                v-for="(tab, index) in tabsMenu"
                :key="index"
                :class="{
                  'is-active': tab.page === page,
                }"
                @click="changeTab(tab.page, tab.url)"
              >
                <a
                  >{{ tab.title }}
                  <img
                    v-if="tab.notification"
                    class="billing-management__red-dot"
                    src="~assets/images/billing_management/ic_red_dots.svg"
                /></a>
              </li>
            </ul>
          </nav>
        </div>

        <slot></slot>
      </grid-row>
    </template>
  </grid-column>
</template>

<script>
import GridColumn from '../GridColumn';
import GridRow from '../GridRow';

export default {
  components: {
    GridColumn,
    GridRow,
  },

  data() {
    return {
      tabsMenu: [
        {
          title: 'Belum Bayar',
          notification: false,
          page: 'unpaid',
          url: '/billing-management?page=unpaid',
        },
        {
          title: 'Di Mamikos',
          notification: false,
          page: 'paid',
          url: '/billing-management?page=paid',
        },
        {
          title: 'Ditransfer',
          notification: false,
          page: 'transferred',
          url: '/billing-management?page=transferred',
        },
      ],
    };
  },

  computed: {
    isDesktop() {
      return this.$device.isDesktop;
    },
    page() {
      return this.$route.query.page;
    },
  },

  methods: {
    changeTab(page, url) {
      this.$store.commit('billingManagement/updateFilterStatus', page);
      this.$store.dispatch('billingManagement/getBillingSummaryPerStatus');

      this.$router.push(url);
    },
  },
};
</script>

<style lang="scss" src="./BillingManagementTabs.scss" scoped></style>
