.top-ads-modal {
  width: 96%;
  max-width: 560px;
  padding: 20px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 5px;

  &__title {
    font-size: 22px;
    font-weight: bold;
  }

  &__captions {
    margin: 12px 0 0;

    .checkbox {
      margin: 24px 0;
    }
  }

  &__buttons {
    display: flex;
    width: 100%;

    .c-mk-button {
      width: 50%;
    }

    .cancel-button {
      margin-right: 12px;
      background-color: #fff;
      border: 0;
    }
  }
}
