<template>
  <mk-modal v-model="active">
    <div class="top-ads-modal">
      <div class="top-ads-modal__title">
        Iklan Teratas Tidak Aktif
      </div>
      <div class="top-ads-modal__captions">
        <p>
          Dengan menonaktifkan Iklan Teratas, iklan Anda akan lebih sulit ditemukan oleh calon
          penyewa.
        </p>
        <b-checkbox v-model="neverShowAgain" class="checkbox" type="is-green-brand"
          >Jangan tampilkan ini kembali</b-checkbox
        >
      </div>
      <div class="top-ads-modal__buttons">
        <mk-button @clicked="cancel" :disabled="isLoading" class="cancel-button">Batal</mk-button>
        <mk-button
          @clicked="confirm"
          :disabled="isLoading"
          :has-spinner="isLoading"
          class="confirm-button"
          color="green-brand"
          >Saya Mengerti</mk-button
        >
      </div>
    </div>
  </mk-modal>
</template>

<script>
import MkModal, { mixin as modalMixin } from '~/components/global/molecules/MkModal/MkModal';
import MkButton from '~/components/global/atoms/MkButton';

export default {
  name: 'ModalTopAds',
  components: {
    MkModal,
    MkButton,
  },
  mixins: [modalMixin],
  props: {
    propertyId: {
      type: Number,
      default: 0,
    },
  },
  data() {
    return {
      isLoading: false,
      neverShowAgain: false,
    };
  },
  watch: {
    neverShowAgain(val) {
      if (val) {
        this.handleCheckboxChecked('hide');
      } else {
        this.handleCheckboxChecked('show');
      }
    },
  },
  methods: {
    handleCheckboxChecked(val) {
      localStorage.setItem('top_ads_modal', val);
    },
    cancel() {
      this.isLoading = true;
      this.$emit('setSwitchFromModal', true);
      this.isLoading = false;
      this.toggleModal(false);
    },
    async confirm() {
      this.isLoading = true;
      try {
        const res = await this.$api.deactivatePremiumAllocation(this.propertyId);
        if (res.data.status) {
          this.$emit('setSwitchFromModal', false);
          this.openToast(res.data.message);
          this.isLoading = false;
          this.toggleModal(false);
        } else {
          this.$emit('setSwitchFromModal', true);
          this.openToast(res.data.message);
          this.isLoading = false;
          this.toggleModal(false);
        }
      } catch (e) {
        this.$bugsnag.notify(e);
        this.toggleModal(false);
      }
    },
    openToast(message) {
      this.$buefy.toast.open({
        duration: 2000,
        message: `${message}`,
        position: 'is-bottom',
      });
    },
  },
};
</script>

<style lang="scss" src="./ModalTopAds.scss" scoped></style>
