.c-loader {
  display: block;
  width: 15px;
  height: 15px;
  margin: auto;
  border: 2px solid #fff;
  border-top: 2px solid #3a694d;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
