.v-tour {
  &__target {
    &--highlighted {
      z-index: 9999 !important;
      pointer-events: none !important;
      background-color: #fff;
      border-radius: 2px;
      box-shadow: 0 0 0 4px #fff !important;
    }
  }
  // this is for backdrop
  &.open-backdrop {
    &::before {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 100;
      display: block;
      width: 100%;
      height: 100%;
      content: '';
      background-color: rgba(0, 0, 0, 0.6);
    }
  }
}
.hihglight-item {
  &.inline {
    display: inline-block;
  }
}
/* stylelint-disable selector-max-type, selector-no-qualifying-type */
body.v-tour--active {
  pointer-events: auto !important;
  .wrapper__body {
    overflow-y: hidden;
  }
}
