.tooltip {
  z-index: 10000;
  display: block !important;
  max-width: 328px;

  @media (max-width: 1024px) {
    margin-left: 30px;
  }
}

.tooltip .tooltip-inner {
  padding: 5px 10px 4px;
  color: #fff;
  background: #000;
  border-radius: 16px;
}

.tooltip .tooltip-arrow {
  position: absolute;
  z-index: 1;
  width: 0;
  height: 0;
  margin: 5px;
  border-color: #000;
  border-style: solid;
}

.tooltip[x-placement^='top'] {
  margin-bottom: 5px;
}

.tooltip[x-placement^='top'] .tooltip-arrow {
  bottom: -5px;
  left: calc(50% - 5px);
  margin-top: 0;
  margin-bottom: 0;
  border-width: 5px 5px 0;
  border-right-color: transparent !important;
  border-bottom-color: transparent !important;
  border-left-color: transparent !important;
}

.tooltip[x-placement='top-center'] .tooltip-arrow {
  bottom: -5px;
  left: calc(50% - 5px) !important;
  margin-top: 0;
  margin-bottom: 0;
  border-width: 5px 5px 0;
  border-right-color: transparent !important;
  border-bottom-color: transparent !important;
  border-left-color: transparent !important;
}

.tooltip[x-placement='top-right'] .tooltip-arrow {
  right: 25px;
  bottom: -5px;
  left: unset !important;
  margin-top: 0;
  margin-bottom: 0;
  border-width: 5px 5px 0;
  border-right-color: transparent !important;
  border-bottom-color: transparent !important;
  border-left-color: transparent !important;
}

.tooltip[x-placement^='bottom'] {
  margin-top: 5px;
}

.tooltip[x-placement^='bottom'] .tooltip-arrow {
  top: -5px;
  left: calc(50% - 5px);
  margin-top: 0;
  margin-bottom: 0;
  border-width: 0 15px 15px;
  border-top-color: transparent !important;
  border-right-color: transparent !important;
  border-left-color: transparent !important;
}

.tooltip[x-placement='bottom-center'] .tooltip-arrow {
  top: -5px;
  left: calc(50% - 5px) !important;
  margin-top: 0;
  margin-bottom: 0;
  border-width: 0 15px 15px;
  border-top-color: transparent !important;
  border-right-color: transparent !important;
  border-left-color: transparent !important;
}

.tooltip[x-placement='bottom-right'] .tooltip-arrow {
  top: -5px;
  right: 25px;
  left: unset !important;
  margin-top: 0;
  margin-bottom: 0;
  border-width: 0 15px 15px;
  border-top-color: transparent !important;
  border-right-color: transparent !important;
  border-left-color: transparent !important;
}

.tooltip[x-placement^='right'] {
  margin-left: 5px;
}

.tooltip[x-placement^='right'] .tooltip-arrow {
  top: calc(50% - 5px);
  left: -5px;
  margin-right: 0;
  margin-left: 0;
  border-width: 5px 5px 5px 0;
  border-top-color: transparent !important;
  border-bottom-color: transparent !important;
  border-left-color: transparent !important;
}

.tooltip[x-placement^='left'] {
  margin-right: 5px;
}

.tooltip[x-placement^='left'] .tooltip-arrow {
  top: calc(50% - 5px);
  right: -5px;
  margin-right: 0;
  margin-left: 0;
  border-width: 5px 0 15px 15px;
  border-top-color: transparent !important;
  border-right-color: transparent !important;
  border-bottom-color: transparent !important;
}

.tooltip.popover .popover-inner {
  padding: 10px;
  color: #000;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 5px 30px rgba(#000, 0.1);
}

.tooltip.popover .popover-arrow {
  border-color: #fff;
}

.tooltip[aria-hidden='true'] {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.15s, visibility 0.15s;
}

.tooltip[aria-hidden='false'] {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.15s;
}
