$exchange-link-color: #242424;
$exchange-link-subtitle-color: #727272;

.exchange-card {
  display: flex;
  height: 100%;
  align-items: center;
  margin-bottom: 0;

  &:hover {
    cursor: pointer;
  }

  &.--has-highlight {
    .c-mk-card {
      z-index: 11;
      height: 100%;
    }

    &::before {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 10;
      display: block;
      width: 100%;
      height: 100%;
      content: '';
      background-color: rgba(0, 0, 0, 0.6);
    }

    .guide-popover {
      position: absolute;
      z-index: 12;
    }
  }

  &__card {
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0;
    align-items: center;

    &:hover {
      cursor: pointer;
    }

    @media (max-width: 480px) {
      margin-bottom: 0;
    }

    .c-mk-card {
      display: flex;
      height: 100%;
      align-items: center;
      flex: 1;
    }

    .c-mk-card__body {
      display: flex;
      width: 100%;
      padding: 12px 20px;
      align-items: center;
    }
  }
}

.exchange-content {
  display: flex;
}

.exchange-image {
  max-height: 40px;
  margin-right: 10px;

  @media (max-width: 480px) {
    max-height: 30px;
  }
}

.exchange-link {
  display: flex;
  flex: 1;
  align-items: center;
  color: $exchange-link-color;

  &__text {
    .link-title {
      display: block;
      font-size: 24px;
      font-weight: 600;
      line-height: 1.5;

      @media (max-width: 480px) {
        font-size: 20px;
      }
    }

    .link-subtitle {
      display: block;
      color: $exchange-link-subtitle-color;

      @media (max-width: 480px) {
        font-size: 15px;
      }
    }
  }

  &__icon {
    margin-left: auto;
  }
}

.mamipoin-header.--mobile {
  .exchange-card {
    .c-mk-card__body {
      padding: 18px 15px;
    }
  }
}
