<template>
  <div :class="isPopoverShown ? '--has-highlight' : ''" class="exchange-card">
    <mk-card ref="exchangeCard" @click.native="goToRewardsPage" class="exchange-card__card">
      <mk-card-body>
        <img class="exchange-image" src="~/assets/images/mamipoin/exchangepoin-icon.svg" />
        <span class="exchange-link">
          <div class="exchange-link__text">
            <strong class="link-title">Tukar Poin</strong>
            <span class="link-subtitle">
              Anda bisa menukar poin di sini
            </span>
          </div>
          <b-icon
            :size="isDesktop ? 'is-large' : 'is-medium'"
            class="exchange-link__icon"
            icon="chevron-right"
          />
        </span>
      </mk-card-body>

      <guide-popover
        v-if="isPopoverShown"
        :is-active="isPopoverShown"
        :is-finished="true"
        @click:popover-button="closePopover"
        :offset="popoverOffset"
        :placement="popoverPlacement"
        class="exchange-card__popover"
        title="Tukar Poin"
        message="Anda dapat menukar poin Anda dengan hadiah di bagian ini."
      />
    </mk-card>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import onboardingMixin from '../../mixins/onboarding';

import GuidePopover from '../GuidePopover';

import MkCard from '~/components/global/molecules/MkCard';
import MkCardBody from '~/components/global/molecules/MkCard/components/MkCardBody';

export default {
  name: 'ExchangeCard',
  components: {
    MkCard,
    MkCardBody,
    GuidePopover,
  },
  mixins: [onboardingMixin],
  computed: {
    ...mapGetters('profile', ['isBooking', 'isPremium', 'membership']),
    totalMamipoin() {
      return this.$store.state.profile.data.total_mamipoin || 0;
    },
    mamipoinPage: {
      get() {
        return this.$store.state.mamipoin.mamipoinPage;
      },
      set(val) {
        this.$store.commit('mamipoin/setMamipoinPage', val);
      },
    },
    isPopoverShown() {
      return (
        !this.mamipoinPage.hasViewedOnboarding &&
        this.mamipoinPage.currentOnboardingStep === 'exchangeCard' &&
        !this.isProfileModalShown
      );
    },
    isDesktop() {
      return Boolean(this.$device.isDesktop);
    },
    popoverOffset() {
      const mobileOffset = this.$device.isTablet && window.outerWidth >= 1024 ? 50 : 75;
      return this.isDesktop ? 120 : mobileOffset;
    },
    popoverPlacement() {
      const mobilePlacement =
        this.$device.isTablet && window.outerWidth >= 1024 ? 'bottom-center' : 'top-left';
      return this.isDesktop ? 'bottom-right' : mobilePlacement;
    },
  },
  methods: {
    goToRewardsPage() {
      this.$router.push('/mamipoin/rewards');

      this.sendTrackerEvent();
    },
    sendTrackerEvent() {
      this.$tracker.send('moe', [
        '[Owner] Reward Page Visited',
        {
          interface: this.isDesktop ? 'desktop' : 'mobile',
          redirection_source: '[Owner] Mamipoin Page',
          is_owner: true,
          is_mamipay: this.membership.is_mamipay_user,
          is_booking: this.isBooking,
          is_premium_owner: this.isPremium,
          point_total: this.totalMamipoin,
        },
      ]);
    },
    closePopover() {
      this.mamipoinPage = {
        hasViewedOnboarding: true,
        currentOnboardingStep: 'exchangeCard',
      };
      this.setBodyOverflow(true);
    },
  },
};
</script>

<style lang="scss" scoped src="./ExchangeCard.scss"></style>
