.c-mk-header {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 80px;
  line-height: 80px;
  background-color: #fff;
  box-shadow: 0 4px 20px rgba(86, 86, 86, 0.05);

  &__logo {
    float: left;
    margin-left: 35px;

    &-desktop {
      vertical-align: middle;
    }
  }

  &__menu {
    float: right;
    height: 100%;
    list-style: none;

    &-item {
      position: relative;
      float: left;
      max-height: 80px;
      margin: 0 15px;

      &:hover,
      &--focus {
        /* stylelint-disable max-nesting-depth */
        .c-mk-header__menu-item-border {
          position: relative;
          top: -3px;
          border-top: 3px solid #1baa56;
          border-top-left-radius: 2px;
          border-top-right-radius: 2px;
        }
      }

      &:focus {
        outline: none;
      }
    }

    &-item-link {
      display: flex;
      height: 80px;
      align-items: center;
      color: #2e2d39;

      &:focus {
        outline: none;
      }
    }

    &-dropdown {
      visibility: hidden;
      transition-timing-function: ease-out;
      transition-duration: 0.1s;
      transform: scaleY(0);
      transform-origin: top;

      &-visible {
        visibility: visible;
        transition-delay: 0.13s;
        transition-timing-function: ease-out;
        transition-duration: 0.25s;
        transform: scaleY(1);
        transform-origin: center top;
      }
    }

    .notification-menu {
      position: relative;

      &__counter {
        position: absolute !important;
        top: 22px;
        left: 10px;
      }
    }

    .chat-menu {
      position: relative;

      &__counter {
        position: absolute !important;
        top: 22px;
        left: 28px;
      }
    }
  }

  &__avatar {
    width: 32px;
    height: 32px;
    object-fit: cover;
    margin-right: 14px;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 20px;

    .mdi-account-circle::before {
      font-size: 35px;
      vertical-align: middle;
    }
  }

  &__notification {
    top: 100%;
    right: 0;
    width: 342px;
  }

  &__chat-widget {
    position: fixed;
    top: 80px;
    right: 0;
    z-index: 2;
    width: 366px;
    height: calc(100% - 80px);
    background-color: #fff;
  }

  &__overlay-chat {
    position: fixed;
    top: 80px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
  }

  &--left {
    float: left;
  }

  &--right {
    float: right;
  }
}

.c-mk-header-user {
  position: relative;
  top: 100%;
  right: 0;
  z-index: 5;
  min-width: 208px;
  height: 165px;
  padding: 16px;
  text-align: left;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 4px 20px rgba(86, 86, 86, 0.15);

  &__name {
    overflow: hidden;
    font-size: 16px;
    font-style: normal;
    font-weight: bold;
    line-height: 24px;
    color: #383746;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__email {
    margin-bottom: 8px;
    overflow: hidden;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    line-height: 21px;
    color: #383746;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__setting {
    font-size: 14px;
    font-style: normal;
    font-weight: bold;
    line-height: 21px;
    color: #1baa56;
    cursor: pointer;
  }

  &__line {
    margin: 16px 0;
  }

  &__logout {
    font-size: 16px;
    font-style: normal;
    font-weight: bold;
    line-height: 24px;
    color: #383746;
    cursor: pointer;
  }
}
