<template>
  <header class="c-mk-header">
    <div class="c-mk-header__logo">
      <a :href="mamikosUrl">
        <img class="c-mk-header__logo-desktop" src="~assets/images/logo.svg" />
      </a>
    </div>

    <ul class="c-mk-header__menu">
      <li class="c-mk-header__menu-item">
        <a
          href="https://help.mamikos.com/booking/owner"
          class="c-mk-header__menu-item-link"
          tabindex="0"
        >
          <bg-text size="body-2">Pusat Bantuan</bg-text>
        </a>
        <div class="c-mk-header__menu-item-border"></div>
      </li>
      <li class="c-mk-header__menu-item">
        <a @click.stop="handleToggleChat" class="c-mk-header__menu-item-link chat-menu">
          <bg-text size="body-2">Chat</bg-text>
          <bg-badge-counter
            v-if="unreadMessages"
            :value="unreadMessages"
            class="chat-menu__counter"
          />
        </a>
        <div class="c-mk-header__menu-item-border"></div>
      </li>
      <li ref="notificationMenu" class="c-mk-header__menu-item">
        <a
          @click="handleMenuClicked($event, 'isNotificationDropdownOpened', 'notificationMenu')"
          class="c-mk-header__menu-item-link notification-menu"
        >
          <bg-icon name="notification" />
          <bg-badge-counter
            v-if="notification.count"
            :value="notification.count"
            :max="99"
            class="notification-menu__counter"
          />
        </a>
        <notification-dropdown
          :class="{ 'c-mk-header__menu-dropdown-visible': isNotificationDropdownOpened }"
          :notifications="notification.list"
          :count="notification.count"
          :loading="isLoadingNotification"
          class="c-mk-header__notification c-mk-header__menu-dropdown"
        />
        <div class="c-mk-header__menu-item-border"></div>
      </li>

      <li ref="userMenu" class="c-mk-header__menu-item">
        <a
          @click="handleMenuClicked($event, 'isUserDropdownOpened', 'userMenu')"
          class="c-mk-header__menu-item-link user-menu"
        >
          <img v-if="avatar" :src="avatar" class="c-mk-header__avatar" />
          <b-icon v-else icon="account-circle" size="is-large" class="c-mk-header__avatar"></b-icon>
          <bg-text size="body-2" class="c-mk-header__username">
            {{ trimmedUserName }}
          </bg-text>
        </a>
        <div class="c-mk-header__menu-item-border"></div>

        <profile-dropdown
          :class="{ 'c-mk-header__menu-dropdown-visible': isUserDropdownOpened }"
          :name="trimmedUserName"
          :email="email"
          :phone="phone"
          class="c-mk-header__menu-dropdown"
        />
      </li>
    </ul>
    <div v-show="user.user_id && isChatOpen">
      <div class="c-mk-header__chat-widget">
        <mk-sendbird
          :user-id="user.user_id"
          :user-chat-name="user.chat_name"
          :user-chat-access-token="user.chat_access_token"
          @handle-toggle-chat="handleToggleChat"
        />
      </div>
      <span @click.stop="handleToggleChat" class="c-mk-header__overlay-chat" />
    </div>
  </header>
</template>

<script>
import { BgIcon, BgText, BgBadgeCounter } from 'bangul-vue';
import { mapGetters, mapState } from 'vuex';
import ProfileDropdown from './components/MkHeaderProfileDropdown';
import NotificationDropdown from '~/components/global/molecules/MkNotification';
import dashboardTracker from '~/components/page-features/dashboard/mixins/dashboardTracker';

import { truncate } from '~/utils/string';

import MkSendbird from '~/components/global/organisms/MkSendbird';

export default {
  name: 'MkHeader',
  components: {
    BgIcon,
    BgText,
    BgBadgeCounter,
    ProfileDropdown,
    NotificationDropdown,
    MkSendbird,
  },
  mixins: [dashboardTracker],
  props: {
    avatar: {
      type: String,
      default: '',
    },
    username: {
      type: String,
      default: '',
    },
    email: {
      type: String,
      default: '',
    },
    phone: {
      type: String,
      default: '',
    },
    notification: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      isUserDropdownOpened: false,
      isNotificationDropdownOpened: false,
      mamikosUrl: process.env.MAMIKOS_URL,
      isLoadingNotification: true,
      isChatOpen: false,
    };
  },
  computed: {
    ...mapGetters('profile', ['user']),
    ...mapState('profile', ['unreadMessages']),
    trimmedUserName() {
      return truncate(this.username, 30);
    },
  },
  watch: {
    isUserDropdownOpened(value) {
      if (value) this.sendDashboardTracker('[Owner] OD Profile - Profile Clicked');
    },
    isNotificationDropdownOpened(value) {
      if (value) {
        this.$tracker.send('moe', [
          'Notification Screen Viewed',
          {
            is_owner: true,
            interface: this.interfaceLabel,
          },
        ]);
      }
    },
  },
  methods: {
    handleToggleChat() {
      if (this.isChatOpen) {
        const closeChatElement = document.querySelector('.ic-close');
        closeChatElement && closeChatElement.click();
      }

      this.isChatOpen = !this.isChatOpen;
    },
    handleMenuClicked(e, flagname, refName) {
      const focusClassName = 'c-mk-header__menu-item--focus';
      this.openedMenu = refName;
      this[flagname] = !this[flagname];

      if (flagname === 'isNotificationDropdownOpened') {
        this.isUserDropdownOpened = false;
        this.$refs.notificationMenu.classList.toggle(focusClassName);
        this.$refs.userMenu.classList.remove(focusClassName);
        this.$store.dispatch('profile/getNotifications').then(() => {
          this.isLoadingNotification = false;
        });
      } else {
        this.$refs.userMenu.classList.toggle(focusClassName);
        this.$refs.notificationMenu.classList.remove(focusClassName);
        this.isNotificationDropdownOpened = false;
      }
      // prevent bubbling to window
      e.stopPropagation();
      this.handleClickOutside(flagname, refName);
    },
    handleClickOutside(flagname, refName) {
      if (this[flagname]) {
        this.windowOutsideCallback = (e) => {
          this[flagname] = false;
          this.$refs[refName].classList.remove('c-mk-header__menu-item--focus');
        };
        window.addEventListener('click', this.windowOutsideCallback, { once: true });
        return;
      }
      // remove event when user click again on menu (not outside)
      window.removeEventListener('click', this.windowOutsideCallback, { once: true });
    },
  },
};
</script>

<style lang="scss" src="./MkHeader.scss"></style>
