.countdown-timer {
  height: 65px;
  padding: 12px;
  margin: auto;
  background-color: #fcf7e3;
  border-radius: 4px;

  &__image {
    display: flex;
    float: left;
    width: 5%;
    height: 40px;
    margin-right: 10px;
    align-items: center;
  }

  &__title-desc-wrapper {
    display: flex;
    flex-direction: column;
  }

  &__timer {
    font-size: 12px;
    color: #8c3b00;
  }

  &__limit {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-weight: bold;
    color: #5b1b00;
  }

  &__countdown {
    right: 0;
  }

  &__title {
    margin: 24px 0 8px;
    font-size: 20px;
    font-weight: 900;
    color: #303030;
  }

  &__description {
    font-size: 16px;
    color: #404040;
  }
}
