<template>
  <div>
    <div class="countdown-timer">
      <div class="countdown-timer__image"><img src="~assets/images/time-glyph.svg" /></div>
      <div class="countdown-timer__title-desc-wrapper">
        <div class="countdown-timer__timer">
          Selesaikan pembayaran sebelum:
        </div>
        <div class="countdown-timer__limit">
          <div>{{ expiredDate }}</div>
          <div class="countdown-timer__countdown">
            <span v-if="hours">{{ hours | formatTime }}:</span>
            <span>{{ minutes | formatTime }}:{{ seconds | formatTime }}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="countdown-timer__title">Mohon Konfirmasi Pembayaran</div>
    <div class="countdown-timer__description">
      Silakan lakukan konfirmasi pembayaran untuk mengaktifkan
      <strong>{{ purchaseName }}</strong> Anda.
    </div>
  </div>
</template>

<script>
export default {
  name: 'CountdownTimer',
  filters: {
    formatTime(value) {
      if (value < 10) {
        return '0' + value;
      }
      return value;
    },
  },
  props: {
    speed: {
      type: Number,
      default: 1000,
    },
  },
  data() {
    return {
      currentTime: this.expiredDate - this.timeNow,
    };
  },
  computed: {
    seconds() {
      return Math.floor((this.currentTime / 1000) % 60);
    },
    minutes() {
      return Math.floor((this.currentTime / 1000 / 60) % 60);
    },
    hours() {
      return Math.floor((this.currentTime / (1000 * 60 * 60)) % 24);
    },
    invoice() {
      return this.$store.state.profile.ownerInvoice.invoice;
    },
    purchaseName() {
      return this.invoice.detail_package.name;
    },
    expiredDate() {
      return this.$dayjs(this.invoice.expired_date).format('dddd, D MMM YYYY, HH:mm');
    },
    timeNow() {
      return this.$dayjs(new Date()).format('dddd, D MMM YYYY, HH:mm');
    },
  },
  mounted() {
    setTimeout(this.countdown, 1000);
  },
  methods: {
    countdown() {
      this.currentTime = Date.parse(this.expiredDate) - Date.parse(new Date());
      if (this.currentTime > 0) {
        setTimeout(this.countdown, this.speed);
      } else {
        this.currentTime = null;
      }
    },
  },
};
</script>

<style lang="scss" src="./CountdownTimer.scss"></style>
