<template>
  <mk-card class="goldplus-statistic-card">
    <mk-card-header>
      <p>{{ label }}</p>
    </mk-card-header>
    <mk-card-body>
      <p>{{ value }}</p>
    </mk-card-body>
  </mk-card>
</template>

<script>
import MkCard from '~/components/global/molecules/MkCard';
import MkCardHeader from '~/components/global/molecules/MkCard/components/MkCardHeader';
import MkCardBody from '~/components/global/molecules/MkCard/components/MkCardBody';

export default {
  name: 'GoldPlusStatisticCard',
  components: {
    MkCard,
    MkCardHeader,
    MkCardBody,
  },
  props: {
    label: {
      type: String,
      required: true,
    },
    value: {
      type: Number,
      required: true,
    },
  },
};
</script>

<style lang="scss" src="./GoldPlusStatisticCard.scss"></style>
