<template>
  <!-- eslint-disable-next-line vue/require-component-is -->
  <component :is="view"></component>
</template>

<script>
import pageView from '~/mixins/page-view';

export default {
  layout({ isDesktop }) {
    return `default/${isDesktop ? 'desktop' : 'mobile'}/index`;
  },
  head() {
    const headData = { title: 'Statistik' };
    if (this.$device.isDesktop) {
      headData.meta = [{ hid: 'viewport', name: 'viewport', content: 'width=1200' }];
    }
    return headData;
  },
  name: 'StatisticMenuRoute',
  meta: {
    topNavbarTitle: 'Statistik',
    topNavbarType: 'flat',
    mobileBodyBackground: '#fff',
    desktopBodyBackground: '#F5F7F9',
  },
  mixins: [pageView],
  data() {
    return {
      component: import(
        /* webpackChunkName: "page-view-statistic-menu" */ `~/components/page-features/statistic/components/StatisticMenu`
      ),
    };
  },
};
</script>
