<template>
  <!-- eslint-disable-next-line vue/require-component-is -->
  <component :is="view"></component>
</template>

<script>
import pageView from '~/mixins/page-view';

export default {
  layout({ isDesktop }) {
    return `default/${isDesktop ? 'desktop' : 'mobile'}/index`;
  },
  head() {
    const header = {
      title: 'Owner GoldPlus Mamikos',
    };
    if (this.$device.isDesktop) {
      header.meta = [{ hid: 'viewport', name: 'viewport', content: 'width=1200' }];
    }
    return header;
  },
  name: 'SurveyPage',
  mixins: [pageView],
  meta: {
    hideSidebar: true,
    showMobileBackButton: true,
    hideMobileFloatingChat: true,
    prevPath: {
      name: 'review',
      path: '/review',
    },
  },
  data() {
    let component;
    // component path needs to write explicitly so that webpack can create chunk based on explicit path
    if (this.$device.isDesktop) {
      component = import(
        /* webpackChunkName: "page-view-statistic-price" */ `~/components/page-features/statistic/components/StatisticPrice`
      );
    } else {
      component = import(
        /* webpackChunkName: "page-view-statistic-price" */ `~/components/page-features/statistic/components/StatisticPrice`
      );
    }
    return {
      component,
    };
  },
  computed: {
    isDesktop() {
      return this.$device.isDesktop;
    },
  },
  mounted() {
    if (!this.isDesktop) {
      const status = localStorage.getItem('gpStatistic');
      this.$store.commit(
        'mobile/setPrevPath',
        status === 'null'
          ? { name: 'statistic', path: '/exit-gp-statistic' }
          : { name: 'review', path: '/exit-gp-statistic/review' },
      );
    }
  },
};
</script>
