$avatar-width: 48px;

.tenant-list-item {
  width: 100%;
  color: #383746;

  &__avatar-wrapper {
    display: inline-block;
    width: $avatar-width;
    padding-right: 0;
    padding-left: 0;
    vertical-align: top;
  }

  &__details {
    position: relative;
    display: inline-block;
    width: calc(100% - #{$avatar-width} - 4px);
    padding-bottom: 0;
    padding-left: 8px;

    .tenant-details-name {
      overflow: hidden;
      color: #4a4a4a;
      text-decoration: none;

      > * {
        max-width: calc(100% - 120px);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }

    .tenant-details-room {
      margin-top: 10px;
      color: #999;
    }

    .tenant-details-kost {
      margin-top: 4px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &-status {
      position: absolute;
      top: 2px;
      right: 4px;
    }
  }
}
