<template>
  <div class="tenant-list-item">
    <div class="tenant-list-item__avatar-wrapper">
      <bg-link :href="tenantProfileHref" target="_blank" class="tenant-list-item__avatar-link">
        <bg-avatar :src="tenantPhotoSrc" alt="tenant-avatar" class="tenant-list-item__avatar" />
      </bg-link>
    </div>
    <div class="tenant-list-item__details">
      <bg-link :href="tenantProfileHref" target="_blank" class="tenant-details-name">
        <bg-text size="body-3">{{ tenant.tenant_name }}</bg-text>
      </bg-link>
      <bg-text size="body-4" class="tenant-details-room">Kamar {{ tenant.room_number }}</bg-text>
      <bg-text size="body-4" class="tenant-details-kost">{{ tenant.kost_name }}</bg-text>
      <bg-label-rainbow :color="transferStatusColor" class="tenant-list-item__details-status">
        {{ tenant.transfer_status }}
      </bg-label-rainbow>
    </div>
  </div>
</template>

<script>
import { BgAvatar, BgLabelRainbow, BgText, BgLink } from 'bangul-vue';
export default {
  name: 'TenantListItem',
  components: {
    BgAvatar,
    BgLabelRainbow,
    BgText,
    BgLink,
  },
  props: {
    tenant: {
      type: Object,
      required: true,
    },
  },
  computed: {
    tenantPhotoSrc() {
      return (this.tenant.tenant_photo && this.tenant.tenant_photo.small) || '';
    },
    transferStatusColor() {
      return this.tenant.transfer_status_raw === 'unpaid' ? 'red' : 'green';
    },
    tenantProfileHref() {
      return `${this.$mamikosUrl}/ownerpage/manage/profile-tenant/${this.tenant.contract_id}/biodata-tenant`;
    },
  },
};
</script>

<style lang="scss" src="./TenantListItem.scss" scoped></style>
