<template>
  <div class="goldplus-submission-stepper-content">
    <div
      v-for="(item, i) in stepItems"
      :key="`item-${i}`"
      :class="stateClass(item.id)"
      class="goldplus-submission-stepper-content__item"
    >
      <div class="goldplus-submission-stepper-content__item-bullet">
        <div class="item-bullet-style">
          <div class="item-bullet-style__content">
            {{ i + 1 }}
          </div>
        </div>
      </div>

      <div class="goldplus-submission-stepper-content__item-content">
        <div class="item-content-header">
          <span>{{ item.title }}</span>
          <mk-button
            v-if="stateClass(item.id) === 'active'"
            @clicked="startStep(item.key)"
            class="start-button"
            color="green-brand"
          >
            Mulai
          </mk-button>
        </div>

        <div v-if="stateClass(item.id) === 'active'" class="item-content-body">
          {{ item.description }}
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';

import MkButton from '~/components/global/atoms/MkButton';

export default {
  name: 'GoldPlusSubmissionStepperContent',
  components: { MkButton },
  data() {
    return {
      isDone: false,
      stepItems: [
        {
          // Step 1 (Buat Iklan Kos) is only for display purpose as owner's property list will never be empty when accessing this component, so they won't be needed to create another in advance.
          id: 1,
          key: 'create_ad',
          title: 'Buat Iklan Kos',
          description: '',
        },
        {
          id: 2,
          key: 'register_bbk',
          title: 'Daftar Booking Langsung',
          description:
            'Booking Langsung adalah fitur yang memudahkan Anda dalam memproses booking/pengajuan sewa di Mamikos.',
        },
        {
          id: 3,
          key: 'purchase_gp',
          title: 'Beli Paket GoldPlus',
          description:
            'Pilih dan lakukan pembelian paket GoldPlus sesuai dengan kebutuhan kos Anda.',
        },
      ],
    };
  },
  computed: {
    ...mapGetters('profile', ['membership']),
    currentStep() {
      return this.membership.is_mamipay_user ? 3 : 2;
    },
  },
  created() {
    this.trackStepperVisited();
  },
  methods: {
    stateClass(stepId) {
      return this.currentStep < stepId
        ? 'disabled'
        : this.currentStep > stepId
        ? 'completed'
        : 'active';
    },
    startStep(stepName) {
      if (stepName === 'register_bbk') {
        // step 2
        this.$router.push({
          name: 'kos-booking-register',
          query: { gp_submission: true },
        });
      } else {
        // step 3
        this.$router.push({ name: 'goldplus-packages' });
      }
    },
    trackStepperVisited() {
      this.$tracker.send('moe', [
        '[Owner] GP Submission - Stepper Visited',
        {
          interface: this.$device.isMobile ? 'mobile' : 'desktop',
          owner_name: this.$store.getters['profile/user'].name,
        },
      ]);
    },
  },
};
</script>

<style lang="scss" src="./GoldPlusSubmissionStepperContent.scss" scoped></style>
