/* stylelint-disable max-nesting-depth */

.goldplus-submission-stepper-content {
  &__item {
    display: flex;
    width: 100%;
    margin-bottom: 24px;

    &.disabled {
      .item-bullet-style {
        color: #bbb;
        background-color: transparent;
        border: 1px solid #bbb;
      }

      .item-content-header {
        color: #bbb;
      }
    }

    &.completed {
      .item-bullet-style {
        color: #303030;
        background-color: transparent;
        border: 1px solid #303030;
      }

      .item-content-header {
        &::after {
          content: url('~assets/images/ic_success_round_glyph.svg');
        }
      }
    }

    &-bullet {
      margin-right: 20px;

      .item-bullet-style {
        position: relative;
        width: 24px;
        height: 24px;
        font-size: 12px;
        font-style: normal;
        font-weight: bold;
        line-height: 18px;
        color: #fff;
        text-align: center;
        background-color: #1baa56;
        border-radius: 50%;

        &__content {
          position: absolute;
          top: 50%;
          width: inherit;
          height: auto;
          transform: translateY(-50%);
        }
      }
    }

    &-content {
      width: 100%;
      padding-bottom: 20px;
      align-items: center;
      border-bottom: 1px solid #e8e8e8;
    }

    .item-content-header {
      display: flex;
      width: 100%;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: 28px;
      color: #303030;
      justify-content: space-between;

      .start-button {
        width: 80px;
        height: 40px;
        font-size: 14px;
        font-weight: 700;
        border-radius: 4px;
      }
    }

    .item-content-body {
      margin-top: 8px;
      font-size: 16px;
      line-height: 24px;
    }
  }
}
