@mixin notif() {
  padding: 12px 18px;
  margin-top: 28px;
  background-color: transparent;
  border: 1px solid #e8e8e8;
  border-radius: 8px;

  ::v-deep {
    /* stylelint-disable-next-line selector-pseudo-element-colon-notation */
    .mdi-alert-circle:before {
      font-size: 20px;
      color: #0074db;
    }
    .icon.is-large {
      width: 20px;
      height: 20px;
    }

    .delete::before,
    .modal-close::before,
    .delete::after,
    .modal-close::after {
      top: 0;
      left: 0;
      font: normal normal normal 24px/1 'Material Design Icons';
      content: '\F156';
      transform: none;
      transform-origin: unset;
    }

    .delete {
      top: 12px;
      right: 18px;
      background-color: unset;
      border-radius: 0;
    }

    .media-content {
      margin-right: 20px;
      font-size: 14px;
    }
  }
}
