.manage-ads {
  .total-data {
    float: right;
    font-weight: bold;
  }

  &__is-loading {
    padding: 10% 0;

    .c-loader {
      padding: 20px;
    }

    .caption {
      margin-top: 24px;
      text-align: center;

      .title {
        font-size: 18px;
      }

      .subtitle {
        font-size: 14px;
      }
    }
  }

  &__header {
    padding: 0 24px;

    @media (max-width: 768px) {
      padding: 0 12px;
    }

    .description {
      &__title {
        padding-bottom: 14px;
        font-size: 16px;
        font-weight: bold;
      }

      &__address {
        margin-bottom: 14px;
        margin-bottom: 4px;
        font-size: 14px;
        line-height: 21px;
      }

      &__gender-female {
        color: #f76288;
      }
      &__gender-male {
        color: #289ad6;
      }
      &__gender-mix {
        color: #9d5ab0;
      }
    }

    .image {
      &__room {
        width: auto;
        height: 100%;
        max-height: 90px;
      }
    }
  }

  &__ads-report {
    padding: 10px 24px;
    border-top: solid 1px #f4f4f4;

    @media (max-width: 768px) {
      padding: 10px 12px;
    }

    .report-title {
      font-size: 20px;
      font-weight: bold;
    }

    .caption {
      margin: 14px 0;
    }

    .report-data {
      .seen,
      .liked,
      .spent {
        margin-top: 12px;
      }
    }
  }

  &__balance-allocation {
    padding: 12px 24px 24px;
    border-top: solid 1px #f4f4f4;

    @media (max-width: 768px) {
      padding: 12px 12px 16px;
    }

    .balance-title {
      margin-bottom: 12px;
      font-size: 20px;
      font-weight: bold;
    }

    .top-ads {
      padding-bottom: 12px;
      margin: 12px 0;
      border-bottom: solid 1px #f4f4f4;

      .switch,
      .switch-loader {
        float: right;
      }
    }

    .daily-allocation,
    .detail-allocation {
      margin: 12px 0;
    }

    .image-money-bag {
      position: relative;
      top: 2px;
      margin-right: 5px;
    }

    .top-ads-active {
      .allocated-balance,
      .remaining-balance {
        margin-top: 12px;
      }

      .used-balance {
        margin: 12px 0;
      }
    }

    .top-ads-inactive {
      .image-inactive {
        width: auto;
        height: 100%;
        max-height: 120px;
      }

      .description {
        padding-top: 30px;
      }
    }
  }

  &__promo {
    padding: 10px 24px 24px;
    border-top: solid 1px #f4f4f4;

    @media (max-width: 768px) {
      padding: 10px 12px 12px;
    }

    .promo-title {
      margin-bottom: 12px;
      font-size: 20px;
      font-weight: bold;
    }

    .promo-ads-title {
      margin-top: 12px;

      .title-text {
        /* stylelint-disable-next-line  */
        @media (max-width: 375px) {
          max-width: 120px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }

    .promo-status {
      margin: 12px 0;

      .status-active {
        color: #1baa56;
      }

      .status-expired {
        color: #aaa;
      }

      .status-failed {
        color: #e52a34;
      }

      .status-waiting {
        color: #ff863a;
      }
    }
  }
  ::v-deep {
    /* stylelint-disable-next-line  */
    .select:not(.is-multiple):not(.is-loading)::after {
      border-color: #000;
    }
  }

  .action-button {
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
  }
}
