<template>
  <div class="manage-ads">
    <div v-if="isLoading" class="manage-ads__is-loading">
      <span class="c-loader"></span>
      <div class="caption">
        <div class="title">Mohon Menunggu</div>
        <div class="subtitle">Menampilkan iklan properti Anda.</div>
      </div>
    </div>
    <template v-else>
      <div class="columns is-mobile manage-ads__header">
        <div class="column is-three-quarters description">
          <div class="description__title">{{ property.room_title }}</div>
          <div class="description__address">
            {{ property.address }}
          </div>
          <span v-if="roomType === 'kos'" :class="`description__gender${kosGender.style}`">{{
            kosGender.type
          }}</span>
          <span v-else>Unit Apartemen</span>
        </div>
        <div class="column image">
          <img :src="roomImageUrl" class="image__room" />
        </div>
      </div>
      <div class="manage-ads__ads-report">
        <div class="report-title">Laporan Iklan</div>
        <div class="caption">Data performa iklan Anda</div>
        <b-field>
          <b-select
            v-model="timeSelected"
            :loading="statisticLoading"
            :disabled="statisticLoading"
            expanded
          >
            <option value="1">Kemarin</option>
            <option value="6">Hari ini</option>
            <option value="2">Minggu ini</option>
            <option value="4">Bulan ini</option>
            <option value="5">Semua</option>
          </b-select>
        </b-field>
        <div v-if="!statisticLoading" class="report-data">
          <div class="seen">
            <span v-if="roomType === 'kos'">Melihat Kos Anda</span>
            <span v-else>Melihat Apartemen Anda</span>
            <span class="total-data">{{ roomStatistic.view }} Orang</span>
          </div>
          <div class="liked">
            <span v-if="roomType === 'kos'">Menyukai Kos Anda</span>
            <span v-else>Menyukai Apartemen Anda</span>
            <span class="total-data">{{ roomStatistic.love }} Orang</span>
          </div>
          <div class="spent">
            <span>Saldo Terpakai</span>
            <span class="total-data">{{ toIDR(roomStatistic.balanceUsed) }}</span>
          </div>
        </div>
      </div>
      <div class="manage-ads__balance-allocation">
        <div class="balance-title">Alokasi Besar, Iklan Teratas</div>
        <span class="balance-desc"
          >Alokasikan Saldo Iklan Anda untuk posisi iklan yang paling strategis.</span
        >
        <div class="top-ads">
          <span>Iklan Teratas</span>
          <b-switch
            v-if="!switchLoading"
            v-model="topAdsSwitchState"
            @input="handleTopAdsSwitch"
            class="switch"
            size="is-small"
            type="is-green-brand"
          ></b-switch>
          <span v-else class="c-loader switch-loader"></span>
        </div>
        <modal-top-ads
          v-model="showTopAdsModal"
          @setSwitchFromModal="setSwitchState"
          :property-id="property._id"
        ></modal-top-ads>
        <template v-if="!switchLoading">
          <div v-if="topAdsSwitchState" class="top-ads-active">
            <span
              ><img class="image-money-bag" src="~/assets/images/money_bag_small.svg" />Saldo
              Iklan</span
            >
            <span class="total-data">{{ toIDR(adsBalance) }}</span>
            <div class="daily-allocation">
              <h2><strong>Alokasi Saldo per hari</strong></h2>
              <div class="allocated-balance">
                <span>Saldo yang dialokasikan</span>
                <span class="total-data">{{ toIDR(property.premium_daily_budget) }}</span>
              </div>
            </div>
            <div class="detail-allocation">
              <h2><strong>Rincian Alokasi Hari ini</strong></h2>
              <div class="remaining-balance">
                <span>Saldo Sisa</span>
                <span class="total-data">{{ toIDR(property.saldo_available) }}</span>
              </div>
              <div class="used-balance">
                <span>Saldo Terpakai</span>
                <span class="total-data">{{ toIDR(property.premium_balance_used) }}</span>
              </div>
            </div>
            <b-button
              :to="{
                name: `${$route.meta.type}-kelola-saldo`,
                params: {
                  id: $route.params.id,
                  balance: adsBalance,
                  dailyBudget: property.premium_daily_budget,
                },
              }"
              tag="router-link"
              type="is-green-brand"
              class="action-button"
              expanded
              outlined
            >
              Kelola Alokasi Saldo
            </b-button>
          </div>
          <div v-else class="columns is-mobile top-ads-inactive">
            <img class="column image-inactive" src="~/assets/images/mami_search.svg" />
            <div class="column is-two-thirds description">
              Banyak yang sedang mencari tempat tinggal nih. Yuk aktifkan Iklan Teratas.
            </div>
          </div>
        </template>
      </div>
      <div v-if="!isLoading" class="manage-ads__promo">
        <div class="promo-title">Promo dari Anda untuk Penyewa</div>
        <span class="promo-desc">Promo yang dibuat akan muncul pada tampilan iklan Anda.</span>
        <div v-if="property.promo_status !== null" class="promo-ads-title">
          <span>Promo Anda</span>
          <span class="total-data title-text">{{ property.promo_title }}</span>
        </div>
        <div class="promo-status">
          <span>Status Promo</span>
          <span :class="`status-${promoStatus.style}`" class="total-data">{{
            promoStatus.text
          }}</span>
        </div>
        <b-button
          :to="{
            name: `${$route.meta.type}-kelola-promo`,
            params: {
              id: $route.params.id,
              isWaiting: property.promo_status === 'waiting',
            },
          }"
          tag="router-link"
          type="is-green-brand"
          class="action-button"
          expanded
          outlined
        >
          Kelola Promo
        </b-button>
      </div>
    </template>
  </div>
</template>

<script>
import ModalTopAds from '~/components/page-features/premium/components/ModalTopAds/ModalTopAds';

import { toIDR } from '~/utils/currencyString';

export default {
  components: {
    ModalTopAds,
  },
  data() {
    return {
      isLoading: true,
      statisticLoading: false,
      adsBalance: 0,
      timeSelected: 6,
      property: {}, // it can be kos or apartment
      roomData: {
        type: 'kos',
        id: this.$route.params.id,
      },
      roomStatistic: {
        view: 0,
        love: 0,
        balanceUsed: 0,
      },
      topAdsSwitchState: false,
      switchLoading: false,
      showTopAdsModal: false,
    };
  },
  computed: {
    roomImageUrl() {
      return this.property.photo_url.small;
    },
    kosGender() {
      const kosType = [
        { type: 'Kos Campur', style: '-mix' },
        { type: 'Kos Putra', style: '-male' },
        { type: 'Kos Putri', style: '-female' },
      ];
      return kosType[this.property.gender];
    },
    promoStatus() {
      const promoStatus = [
        { status: null, text: 'Belum Ada', style: '' },
        { status: 'verified', text: 'Aktif', style: 'active' },
        { status: 'expired', text: 'Kedaluwarsa', style: 'expired' },
        { status: 'ignored', text: 'Gagal', style: 'failed' },
        { status: 'waiting', text: 'Menunggu Verifikasi', style: 'waiting' },
      ];
      return promoStatus.find((promo) => promo.status === this.property.promo_status);
    },
    roomType() {
      return this.property.apartment_project_id === 0 ? 'kos' : 'apartment';
    },
  },
  watch: {
    timeSelected() {
      this.getRoomStatisticsReport();
    },
  },
  created() {
    this.getRoomData();
  },
  methods: {
    toIDR,
    getTopAdsModalDisplay() {
      const topAdsModal = localStorage.getItem('top_ads_modal');
      if (topAdsModal === null) {
        localStorage.setItem('top_ads_modal', 'show');
        return true;
      } else if (topAdsModal === 'hide') {
        return false;
      }
      return true;
    },
    getRoomData() {
      this.isLoading = true;
      this.$api
        .getRoomData(this.roomData)
        .then((res) => {
          if (res.data.status) {
            this.property = res.data.room;
            this.adsBalance = res.data.membership.views;
            this.getSwitchState(this.property.status_promote);
            this.getRoomStatisticsReport();
            this.isLoading = false;
          } else {
            this.$alert('is-warning', 'Gagal', 'Data tidak ditemukan.');
            this.$bugsnag.notify(`Room with id ${this.roomData.id} is not found from API`);

            window.location.assign(`${process.env.MAMIKOS_URL}/ownerpage/${this.roomType}`);
          }
        })
        .catch((err) => {
          this.$bugsnag.notify(err);
          this.$alert('is-danger', 'Gagal', 'Terjadi galat, silakan coba lagi.');
        });
    },
    getSwitchState(val) {
      return val === 1 ? (this.topAdsSwitchState = true) : (this.topAdsSwitchState = false);
    },
    setSwitchState(val) {
      this.topAdsSwitchState = val;
      this.switchLoading = false;
    },
    getRoomStatisticsReport() {
      const data = {
        id: this.property._id,
        time: this.timeSelected,
      };
      this.statisticLoading = true;
      this.$api
        .getRoomStatisticsReport(data)
        .then((res) => {
          this.roomStatistic.view = res.data.view_ads_count;
          this.roomStatistic.love = res.data.love_count;
          this.roomStatistic.balanceUsed = res.data.used_balance;
          this.statisticLoading = false;
        })
        .catch((err) => {
          this.$bugsnag.notify(err);
          this.statisticLoading = false;
        });
    },
    async handleTopAdsSwitch(val) {
      if (!val) {
        if (this.getTopAdsModalDisplay()) {
          this.switchLoading = true;
          this.showTopAdsModal = true;
        } else {
          this.switchLoading = true;
          try {
            const res = await this.$api.deactivatePremiumAllocation(this.property._id);
            if (res.data.status) {
              this.openToast(res.data.message);
              this.switchLoading = false;
            } else {
              this.setSwitchState(true);
              this.openToast(res.data.message);
              this.switchLoading = false;
            }
          } catch (e) {
            this.$bugsnag.notify(e);
            this.switchLoading = false;
          }
        }
      } else {
        const data = {
          id: this.property._id,
          payload: {
            allocation: this.property.premium_daily_budget,
          },
        };
        if (this.property.premium_daily_budget < 5000) {
          this.goToPremiumBalance();
        } else {
          try {
            this.switchLoading = true;
            const res = await this.$api.activatePremiumAllocation(data);
            const newPropertyRes = await this.$api.getRoomData(this.roomData);
            if (res.data.status && newPropertyRes.data.status) {
              this.property = newPropertyRes.data.room;
              this.adsBalance = newPropertyRes.data.membership.views;
              this.openToast(res.data.message);
              this.switchLoading = false;
            } else {
              this.goToPremiumBalance();
            }
          } catch (e) {
            this.$bugsnag.notify(e);
            this.switchLoading = false;
          }
        }
      }
    },
    goToPremiumBalance() {
      this.$router.push({
        name: `${this.$route.meta.type}-kelola-saldo`,
        params: {
          id: this.$route.params.id,
          balance: this.adsBalance,
          dailyBudget: this.property.premium_daily_budget,
        },
      });
    },
    openToast(message) {
      this.$buefy.toast.open({
        duration: 2000,
        message: `${message}`,
        position: 'is-bottom',
      });
    },
  },
};
</script>

<style lang="scss" src="./ManageAds.scss" scoped></style>
