.goldplus-submission-onboarding {
  width: 100vw;
  max-height: calc(100vh - 80px - 96px); // window height - navbar - footer;
  margin: -32px -39px;
  overflow: auto;

  &__container {
    max-width: 600px;
    padding: 58px 0 20px;
    margin: 0 auto;
  }

  &__header {
    margin-bottom: 12px;
  }

  &__close-button {
    margin-top: 3px;
    cursor: pointer;
  }

  &__footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 24px;
    background-color: #fff;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.12);

    ::v-deep {
      .goldplus-submission-onboarding-footer__button {
        float: right;
        width: 217px;
        height: 48px;
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
      }
    }
  }
}
