<template>
  <div class="goldplus-submission-onboarding">
    <div v-if="isLoadingContent">
      <div class="c-loader"></div>
    </div>

    <div v-else class="goldplus-submission-onboarding__container">
      <gold-plus-header
        @backClicked="backToDashboard"
        is-show-back-button
        is-overwrite-back-button
        icon="close"
        class="goldplus-submission-onboarding__header"
      >
        <div slot="title" class="goldplus-submission-onboarding__title">
          {{ onboardingTitle }}
        </div>
      </gold-plus-header>

      <onboarding-content
        :onboarding-contents="onboardingContents"
        class="goldplus-submission-onboarding__content"
      />

      <onboarding-footer class="goldplus-submission-onboarding__footer" />
    </div>
  </div>
</template>

<script>
import mixinFetchOnboardingContents from '../mixins/mixinFetchOnboardingContents';

import GoldPlusSubmissionOnBoardingContent from '../components/GoldPlusSubmissionOnBoardingContent';
import GoldPlusSubmissionOnBoardingFooter from '../components/GoldPlusSubmissionOnBoardingFooter';
import GoldPlusHeader from '~/components/page-features/goldplus/components/GoldPlusHeader';

import restrictNewSubmission from '~/components/page-features/goldplus/mixins/restrictNewSubmission';

export default {
  name: 'GoldPlusSubmissionOnBoardingDesktop',
  components: {
    'onboarding-content': GoldPlusSubmissionOnBoardingContent,
    'onboarding-footer': GoldPlusSubmissionOnBoardingFooter,
    GoldPlusHeader,
  },
  mixins: [mixinFetchOnboardingContents, restrictNewSubmission],
  methods: {
    backToDashboard() {
      this.$router.replace('/');
    },
  },
};
</script>

<style lang="scss" scoped src="./desktop.scss"></style>
