.goldplus-submission-onboarding-mweb {
  padding: 7px;
  margin-bottom: 60px;

  &__footer {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1040;
    width: 100%;
    padding: 12px 16px;
    background-color: #fff;
    border-top: 1px solid #e8e8e8;

    ::v-deep {
      .goldplus-submission-onboarding-footer__button {
        height: 48px;
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
      }
    }
  }
}
