<template>
  <div class="goldplus-submission-onboarding-mweb">
    <gold-plus-header>
      <div slot="title" class="goldplus-submission-onboarding-mweb__title">
        {{ onboardingTitle }}
      </div>
    </gold-plus-header>

    <div v-if="isLoadingContent">
      <div class="c-loader"></div>
    </div>
    <onboarding-content
      v-else
      :onboarding-contents="onboardingContents"
      class="goldplus-submission-onboarding-mweb__content"
    />

    <onboarding-footer class="goldplus-submission-onboarding-mweb__footer" />
  </div>
</template>

<script>
import mixinFetchOnboardingContents from '../mixins/mixinFetchOnboardingContents';

import GoldPlusSubmissionOnBoardingContent from '../components/GoldPlusSubmissionOnBoardingContent';
import GoldPlusSubmissionOnBoardingFooter from '../components/GoldPlusSubmissionOnBoardingFooter';
import GoldPlusHeader from '~/components/page-features/goldplus/components/GoldPlusHeader';

import restrictNewSubmission from '~/components/page-features/goldplus/mixins/restrictNewSubmission';

export default {
  name: 'GoldPlusSubmissionOnBoardingMobile',
  components: {
    'onboarding-content': GoldPlusSubmissionOnBoardingContent,
    'onboarding-footer': GoldPlusSubmissionOnBoardingFooter,
    GoldPlusHeader,
  },
  mixins: [mixinFetchOnboardingContents, restrictNewSubmission],
};
</script>

<style lang="scss" scoped src="./mobile.scss"></style>
