<template>
  <div :class="labelStyle">
    <slot :title="title"></slot>
  </div>
</template>

<script>
export default {
  props: {
    dueDate: {
      type: String,
      default: '',
    },
    inlineText: {
      type: String,
      default: '',
    },
    type: {
      type: String,
      default: 'default',
    },
  },

  computed: {
    countDueDateDay() {
      const today = this.$dayjs();
      const dueDate = this.$dayjs(this.dueDate);
      const diffDay = dueDate.diff(today, 'day');
      return diffDay;
    },

    labelStyle() {
      return {
        'status-bill-label__default':
          (this.countDueDateDay > 0 && !this.inlineText) ||
          (this.inlineText && this.type === 'default'),
        'status-bill-label__warning': this.countDueDateDay === 0 && !this.inlineText,
        'status-bill-label__danger': this.countDueDateDay < 0 && !this.inlineText,
        'status-bill-label__success': this.inlineText && this.type === 'success',
        'status-bill-label__blue': this.inlineText && this.type === 'blue',
      };
    },

    title() {
      if (this.inlineText !== '') {
        return this.inlineText;
      } else {
        if (this.countDueDateDay > 0) {
          return `${Math.abs(this.countDueDateDay)} Hari lagi`;
        } else if (this.countDueDateDay === 0) {
          return 'Jatuh Tempo';
        } else if (this.countDueDateDay < 0) {
          return `Telat ${Math.abs(this.countDueDateDay)} Hari`;
        }
        return '';
      }
    },
  },
};
</script>

<style lang="scss" src="./StatusBillLabel.scss" scoped></style>
