@mixin wrapper {
  padding: 4px 8px;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  border-radius: 4px;
  width: fit-content;

  @media (max-width: 480px) {
    padding: 0;
    background: none;
    border: none;
    font-style: italic;
    font-weight: normal;
  }
}

.status-bill-label {
  &__warning {
    @include wrapper;
    background: #fff4f2;
    border: 1px solid #ffe2db;
    color: #8c3b00;
  }

  &__danger {
    @include wrapper;
    background: #fff4f2;
    border: 1px solid #ffe2db;
    color: #9b292d;
  }

  &__success {
    @include wrapper;
    background: #edf9f4;
    border: 1px solid #d8ede3;
    color: #016034;
  }

  &__default {
    @include wrapper;
    background: #f6f6f6;
    border: 1px solid #e8e8e8;
    color: #757575;
  }

  &__blue {
    @include wrapper;
    background: #f1f7ff;
    border: 1px solid #dbe9ff;
    color: #0052a4;
  }
}
