<template>
  <div class="goldplus-dashboard-mweb">
    <gold-plus-header>
      <span slot="title">Kos GoldPlus Anda</span>
    </gold-plus-header>
    <gold-plus-features></gold-plus-features>
  </div>
</template>

<script>
import GoldPlusFeatures from '../components/GoldPlusFeatures';
import GoldPlusHeader from '../components/GoldPlusHeader';

export default {
  name: 'GoldPlusMobile',
  components: {
    GoldPlusHeader,
    GoldPlusFeatures,
  },
};
</script>

<style lang="scss" scoped src="./mobile.scss"></style>
