<template>
  <div class="tenant-list">
    <mk-back-nav-desktop title="Penyewa" tag="nuxt-link" to="/" />
    <tenant-list
      :tenants="tenants"
      :is-first-time-loading="!isLoaded && isLoading"
      :is-loading-more="isLoading"
      :is-empty="isEmpty"
      @scrolled="handleListScrolled"
      class="tenant-list__card"
    />
    <bg-link :to="addTenantRoutePath" tag="nuxt-link" class="tenant-list__add-tenant-link">
      <bg-button variant="primary" size="lg" block>Tambah Penyewa</bg-button>
    </bg-link>
    <bg-toast v-model="isShowToast" :duration="5" class="tenant-list__toast">
      {{ toastMessage }}
    </bg-toast>
  </div>
</template>

<script>
import { BgLink, BgButton, BgToast } from 'bangul-vue';
import TenantList from '../components/TenantList';
import mixinTenantList from '../mixins/mixinTenantList';
import MkBackNavDesktop from '~/components/global/molecules/MkBackNavDesktop';

export default {
  name: 'TenantListDesktop',
  components: {
    BgLink,
    BgButton,
    BgToast,
    MkBackNavDesktop,
    TenantList,
  },
  mixins: [mixinTenantList],
  created() {
    this.trackTenantListPageVisited();
    this.getTenantList({ offset: this.offset, limit: this.limit });
  },
  methods: {
    handleListScrolled(e) {
      const { scrollTop, scrollHeight, clientHeight } = e.target;
      this.loadMoreTenants(scrollHeight - clientHeight <= scrollTop + 10);
    },
  },
};
</script>

<style lang="scss" src="./desktop.scss" scoped></style>
