.tenant-list {
  &__nav {
    display: flex;
    align-items: center;
    margin-bottom: 24px;

    &-back {
      display: flex;
      margin-right: 24px;
      align-items: center;
    }
  }

  &__card {
    width: 775px;
    max-width: 100%;
    max-height: calc(100vh - 292px);
    overflow-y: auto;
  }

  &__add-tenant-link {
    display: block;
    width: 775px;
    max-width: 100%;
    margin-top: 24px;
    text-decoration: none;
  }
}
