.dashboard-desktop {
  color: #404040;

  &__membership {
    margin-bottom: -15px;

    &-greet {
      margin-bottom: 20px;
    }

    &-card {
      margin-bottom: 0;
    }
  }

  &__widget-list {
    > *:not(:last-child) {
      margin-bottom: 24px;
    }
  }

  @media (min-height: 1365px) {
    &__membership {
      margin-bottom: 8px;
    }
  }
}
