<template>
  <div class="dashboard-desktop">
    <bg-grid class="dashboard-desktop__membership">
      <bg-grid-item :col="12" class="dashboard-desktop__membership-greet">
        <greeting-section :username="user.name" />
      </bg-grid-item>
      <bg-grid-item :col="12">
        <membership-card></membership-card>
      </bg-grid-item>
    </bg-grid>

    <bg-grid class="dashboard-desktop__body">
      <bg-grid-item :col="6" class="dashboard-desktop__widget-list">
        <waiting-card v-if="!isNewOwner && isShowWaitingWidget && isBbk" />
        <finance-card v-if="!isNewOwner && isBbk" />
        <manage-kos-card />
      </bg-grid-item>
      <bg-grid-item :col="6" class="dashboard-desktop__widget-list">
        <info-card></info-card>
        <widget-card
          v-if="!isNewOwner"
          title="Penilaian Kos Anda"
          description="Anda dapat membalas ulasan dan meminta penyewa mengulas kos Anda."
        >
          <property-reviews-card />
        </widget-card>
        <widget-card title="Dari Mamikos"><banner-card /></widget-card>
      </bg-grid-item>
    </bg-grid>

    <modal-update-property
      v-model="showUpdatePropertyModal"
      v-popup-order="{ name: `modalUpdateProperty`, order: 1 }"
    />

    <modal-premium-trial :active="showModalPremiumTrial" @closed="toggleModalPremiumTrial(false)" />
  </div>
</template>

<script>
import { BgGrid, BgGridItem } from 'bangul-vue';
import { mapGetters } from 'vuex';
import WidgetCard from '../components/WidgetCard';
import FinanceCard from '../components/FinanceCard';
import WaitingCard from '../components/WaitingCard';
import BannerCard from '../components/BannerCard';
import MembershipCard from '../components/MembershipCard';
import ManageKosCard from '../components/ManageKosCard';
import PropertyReviewsCard from '../components/PropertyReviewsCard';
import GreetingSection from '../components/GreetingSection';
import InfoCard from '../components/InfoCard';
import mixin from '../mixin';

export default {
  name: 'DashboardDesktop',

  components: {
    FinanceCard,
    BannerCard,
    BgGrid,
    BgGridItem,
    WidgetCard,
    MembershipCard,
    WaitingCard,
    ManageKosCard,
    PropertyReviewsCard,
    GreetingSection,
    InfoCard,
  },
  mixins: [mixin],
  data() {
    return {
      // content of array ["MamipoinCard":true]
      fullLoadedComponents: [],
    };
  },
  computed: {
    ...mapGetters('profile', ['isBbk', 'isNewOwner', 'user']),
  },
  mounted() {
    this.$api.getMamipayRooms({ booking_status: 'approve', offset: 0, limit: 9 });

    this.showPopUpOrder();
  },
  beforeDestroy() {
    this.$popupOrder && this.$popupOrder.destroy();
  },
  methods: {
    showPopUpOrder() {
      this.$nextTick(() => {
        if (
          !document.querySelector('.modal-init-exists') &&
          !document.querySelector('.modal-init-loading')
        )
          this.$popupOrder && this.$popupOrder.next();
      });
    },
  },
};
</script>

<style lang="scss" src="./desktop.scss" scoped></style>
