<template>
  <div class="confirmation-card">
    <div class="confirmation-card__title">
      <h1 class="text">Lanjutkan Pembayaran</h1>
    </div>
    <mk-card :max-width="342" class="confirmation-card__card">
      <mk-card-body class="bodies">
        <bg-label-rainbow color="yellow" class="label">Menunggu Pembayaran</bg-label-rainbow>
        <div class="desc">
          Silakan lakukan konfirmasi pembayaran untuk mengaktifkan
          <strong>{{ purchaseName }}</strong> Anda.
        </div>
      </mk-card-body>
      <mk-card-footer class="footers">
        <bg-button @click="handleConfirmationBtn" variant="primary" block class="confirmation-btn"
          >Konfirmasi Pembayaran</bg-button
        >
        <bg-button
          @click="handleChangePurchase"
          variant="tertiary"
          block
          class="change-purchase-btn"
          >Ganti {{ purchaseType }}</bg-button
        >
      </mk-card-footer>
    </mk-card>
  </div>
</template>

<script>
import { BgLabelRainbow, BgButton } from 'bangul-vue';
import MkCardFooter from '~/components/global/molecules/MkCard/components/MkCardFooter';
import MkCardBody from '~/components/global/molecules/MkCard/components/MkCardBody';

import MkCard from '~/components/global/molecules/MkCard';

export default {
  name: 'ConfirmationCard',
  components: {
    BgLabelRainbow,
    BgButton,
    MkCard,
    MkCardBody,
    MkCardFooter,
  },
  computed: {
    invoice() {
      return this.$store.state.profile.ownerInvoice.invoice;
    },
    invoiceUrl() {
      return this.invoice.invoice_url;
    },
    purchaseType() {
      return this.invoice.detail_package.type === 'balance' ? 'Saldo' : 'Paket';
    },
    purchaseName() {
      return this.invoice.detail_package.name;
    },
    changePurchaseUrl() {
      return this.purchaseType === 'Saldo'
        ? `${process.env.MAMIKOS_URL}/ownerpage/premium/balance?change-package=true`
        : `${process.env.MAMIKOS_URL}/promosi-kost/premium-package`;
    },
  },
  methods: {
    handleConfirmationBtn() {
      window.location.href = this.invoiceUrl;
    },
    handleChangePurchase() {
      window.location.href = this.changePurchaseUrl;
    },
  },
};
</script>

<style lang="scss" src="./ConfirmationCard.scss"></style>
