.confirmation-card {
  &__title {
    max-width: 342px;
    margin: 10px auto;

    .text {
      font-size: 18px;
      font-weight: 900;
    }
  }

  &__card {
    .bodies,
    .footers {
      border-top: 0;
    }

    .bodies {
      padding-bottom: 0;

      .desc {
        margin: 8px 0 10px;
      }
    }

    .footers {
      padding-top: 0;

      .confirmation-btn {
        margin-bottom: 8px;
      }
    }
  }
}
