<template>
  <div class="goldplus-billing-detail">
    <bg-label-rainbow :color="statusData.color">
      {{ statusData.text }}
    </bg-label-rainbow>

    <div v-if="hasOrderTime" class="goldplus-billing-detail__item">
      <bg-text size="title-5" class="goldplus-billing-detail__item-title">
        {{ billingContractDetail.order_time_label }}
      </bg-text>
      <bg-text size="body-4">
        {{ billingContractDetail.order_time_value }}
      </bg-text>
    </div>

    <!--hidden temporarily-->
    <!-- <div class="goldplus-billing-detail__item">
      <bg-text size="title-5" class="goldplus-billing-detail__item-title">
        No Langganan
      </bg-text>
      <bg-text size="body-4">{{ billingContractDetail.order_id }}</bg-text>
    </div> -->

    <div v-if="billingInvoicePayment.invoice_number" class="goldplus-billing-detail__item">
      <bg-text size="title-5" class="goldplus-billing-detail__item-title">No Invoice</bg-text>
      <bg-text size="body-4">{{ billingInvoicePayment.invoice_number }}</bg-text>
    </div>

    <!--hidden temporarily-->
    <!-- <div class="goldplus-billing-detail__item">
      <bg-link variant="medium-naked" active
        >Lihat Status Tagihan</bg-link
      >
    </div> -->

    <hr class="divider" />

    <goldplus-payment-package-detail
      v-if="hasPackageDetail"
      :order-detail="billingContractDetail"
    />

    <hr class="divider" />

    <div v-if="hasPackageDetail" class="goldplus-billing-detail__billing">
      <bg-text size="title-3" class="goldplus-billing-detail__billing-title">
        Rincian Pembayaran
      </bg-text>

      <div class="goldplus-billing-detail__billing-item">
        <div class="goldplus-billing-detail__billing-detail">
          <bg-text size="body-2" class="goldplus-billing-detail__billing-title">
            {{ packageDetail.package_name }}
          </bg-text>
          <bg-text size="label-2" class="goldplus-billing-detail__billing-description">
            {{ packageDetail.package_description }}
          </bg-text>
        </div>

        <bg-text size="body-1" class="goldplus-billing-detail__billing-price">
          {{ packagePrice }}
        </bg-text>
      </div>
    </div>

    <hr class="divider-dashed" />

    <div class="goldplus-billing-detail__billing-total">
      <bg-text size="title-3">Total Pembayaran</bg-text>
      <bg-text size="title-3">{{ totalAmount }}</bg-text>
    </div>
  </div>
</template>

<script>
import _get from 'lodash/get';
import { BgLabelRainbow, BgText } from 'bangul-vue';
import { mapState } from 'vuex';
import GoldplusPaymentPackageDetail from '../GoldplusPaymentPackageDetail';

import { toIDR } from '~/utils/currencyString';

export default {
  components: { BgLabelRainbow, BgText, GoldplusPaymentPackageDetail },
  computed: {
    ...mapState('goldplus', [
      'billingContractDetail',
      'billingInvoiceData',
      'billingInvoicePayment',
    ]),
    invoiceId() {
      return this.$route.params.id;
    },
    hasOrderTime() {
      return (
        !!this.billingContractDetail.order_time_label &&
        !!this.billingContractDetail.order_time_value
      );
    },
    hasPackageDetail() {
      return Object.keys(this.packageDetail).length;
    },
    packageDetail() {
      return _get(this.billingContractDetail, 'package', {});
    },
    packagePrice() {
      const package_price = _get(this.packageDetail, 'package_price', 0);
      return toIDR(package_price);
    },
    totalAmount() {
      const order_amount = _get(this.billingContractDetail, 'order_amount', 0);
      return toIDR(order_amount);
    },
    orderStatus() {
      return _get(this.billingInvoicePayment, 'status', 'unpaid');
    },
    statusData() {
      const statusData = {
        unpaid: {
          color: 'red',
          text: 'Menunggu Pembayaran',
        },
        paid: {
          color: 'green',
          text: 'Lunas',
        },
        expired: {
          color: 'grey',
          text: 'Dibatalkan',
        },
      };
      return {
        color: statusData[this.orderStatus].color,
        text: statusData[this.orderStatus].text,
      };
    },
  },
};
</script>

<style lang="scss" src="./GoldplusPaymentBillingDetail.scss" scoped></style>
