$dusty-gray-color: #949494;

$border-default: 1px solid #e8e8e8;
$border-dashed: 1px dashed #e8e8e8;

.goldplus-billing-detail {
  &__item {
    margin: 16px 0;
  }

  &__item-title {
    margin-bottom: 4px;
  }

  &__billing-title {
    margin-bottom: 8px;
  }

  &__billing-description {
    color: $dusty-gray-color;
  }

  &__billing-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__billing-total {
    display: flex;
    justify-content: space-between;
  }

  .divider {
    margin: 24px 0;
    border-bottom: $border-default;
  }

  .divider-dashed {
    margin: 24px 0;
    border-bottom: $border-dashed;
  }
}
