<template>
  <mk-modal v-model="active" class="loading-modal">
    <mk-card v-show="isShowCard">
      <mk-card-body class="loading-modal__body">
        <div class="c-loader" />
      </mk-card-body>
    </mk-card>
  </mk-modal>
</template>

<script>
import MkModal, { mixin as modalMixin } from '~/components/global/molecules/MkModal/MkModal';
import MkCard from '~/components/global/molecules/MkCard';
import MkCardBody from '~/components/global/molecules/MkCard/components/MkCardBody';

export default {
  name: 'LoadingModal',
  components: {
    MkModal,
    MkCard,
    MkCardBody,
  },
  mixins: [modalMixin],
  data() {
    return {
      isShowCard: true,
    };
  },
  watch: {
    active(val) {
      this.isShowCard = val;
    },
  },
};
</script>

<style lang="scss" scoped src="./LoadingModal.scss"></style>
