<template>
  <div v-if="!isChunkError" class="__nuxt-error-page">
    <div class="error">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="90"
        height="90"
        fill="#DBE1EC"
        viewBox="0 0 48 48"
      >
        <path
          d="M22 30h4v4h-4zm0-16h4v12h-4zm1.99-10C12.94 4 4 12.95 4 24s8.94 20 19.99 20S44 35.05 44 24 35.04 4 23.99 4zM24 40c-8.84 0-16-7.16-16-16S15.16 8 24 8s16 7.16 16 16-7.16 16-16 16z"
        />
      </svg>

      <div class="title">{{ message }}</div>
      <p v-if="statusCode === 404" class="description">
        <a v-if="typeof $route === 'undefined'" class="error-link" href="/">
          Back to home
        </a>
        <nuxt-link v-else class="error-link" to="/">Back to home</nuxt-link>
      </p>
    </div>
  </div>
</template>

<script>
export default {
  name: 'NuxtError',
  props: {
    error: {
      type: Object,
      default: null,
    },
  },
  computed: {
    statusCode() {
      return (this.error && this.error.statusCode) || 500;
    },
    message() {
      return this.error.message;
    },
    isChunkError() {
      const message = this.error.message || '';
      const isContainChunkFailedMessage = /^Loading chunk (\d)+ failed\./.test(message);

      // Handle chunk loading errors
      // This may be due to a new deployment or a network problem
      return isContainChunkFailedMessage;
    },
  },
  head() {
    return {
      title: this.message,
      meta: [
        {
          name: 'viewport',
          content: 'width=device-width,initial-scale=1.0,minimum-scale=1.0',
        },
      ],
    };
  },
  mounted() {
    // eslint-disable-next-line no-console
    if (this.isChunkError) {
      this.$bugsnag.notify(this.error);
    }
  },
};
</script>

<style>
.__nuxt-error-page {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  padding: 1rem;
  font-family: sans-serif;
  font-weight: 100 !important;
  color: #47494e;
  text-align: center;
  flex-direction: column;
  background: #f7f8fb;
  justify-content: center;
  align-items: center;
}
.__nuxt-error-page .error {
  max-width: 450px;
}
.__nuxt-error-page .title {
  margin-top: 15px;
  margin-bottom: 8px;
  font-size: 1.5rem;
  color: #47494e;
}
.__nuxt-error-page .description {
  margin-bottom: 10px;
  line-height: 21px;
  color: #7f828b;
}
.__nuxt-error-page .error-link {
  color: #7f828b !important;
  text-decoration: none;
}
.__nuxt-error-page .logo {
  position: fixed;
  bottom: 12px;
  left: 12px;
}
</style>
