.c-wrapper {
  width: 700px;
  margin: 24px auto 0;

  @media (max-width: 1024px) {
    width: 360px;
    margin: 0 auto;
  }
}

::v-deep .bg-c-link--medium-naked {
  font-weight: bold;
  line-height: 24px;
}

::v-deep .bg-c-illustration {
  width: 100%;
  height: auto;
}

.c-body {
  position: relative;
  display: flex;
  margin: 0;

  @media (max-width: 1024px) {
    display: inline;
  }

  &__content {
    width: 284px;
    height: auto;
  }
  &__illustration {
    width: 284px;
    height: 213px;
    margin: 24px auto 0;

    @media (max-width: 1024px) {
      width: 250px;
      height: 186px;
      margin: 0 auto;
    }
  }
}

.l-title {
  margin: 16px 0 0;
  font-family: Lato;
  font-style: normal;
  font-weight: 900;
  color: #303030;
  &__content {
    width: 258px;
    height: 96px;
    font-size: 24px;
    line-height: 32px;
  }
}

.l-right {
  position: relative;
  left: 25px;

  @media (max-width: 1024px) {
    left: 0;
  }
}

.c-title {
  width: 388px;
  height: auto;
  margin: 24px auto 0;
  text-align: left;

  @media (max-width: 1024px) {
    width: 328px;
    margin: 4px auto 0;
  }
  &__content {
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: 32px;
    color: #303030;

    @media (max-width: 1024px) {
      font-size: 20px;
      line-height: 28px;
    }
  }
}

.c-subtitle {
  width: 388px;
  height: auto;
  margin: 8px auto 0;
  text-align: center;
  &__content {
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: normal;
    line-height: 30px;
    color: #404040;
    text-align: left;
  }
}

.l-statistic {
  display: flex;
  margin: 26px 0 0;
  font-family: Lato;
  font-style: normal;
  justify-content: space-between;

  &__title {
    font-size: 20px;
    font-weight: 900;
    line-height: 28px;
    color: #303030;

    @media (max-width: 1024px) {
      font-size: 18px;
      line-height: 26px;
    }
  }

  &__value {
    float: right;
    font-size: 20px;
    font-weight: 900;
    line-height: 28px;
    color: #1baa56;

    @media (max-width: 1024px) {
      font-size: 18px;
      line-height: 26px;
    }
  }

  &__nominal {
    font-size: 24px;
    font-weight: bold;
    line-height: 32px;
    color: #1baa56;

    @media (max-width: 1024px) {
      font-size: 18px;
      line-height: 26px;
    }
  }

  &__information {
    margin: 5px 0 0;
    font-size: 20px;
    line-height: 30px;
    color: #404040;

    @media (max-width: 1024px) {
      font-size: 16px;
      line-height: 24px;
    }
  }
}

// line mobiel
hr {
  margin: 0;
}
.c-line {
  position: fixed;
  right: 0;
  bottom: 72px;
  left: 0;
  width: 100%;
  height: 1px;
  margin: 15 0;
  background: #e8e8e8;
}

.c-button {
  width: 388px;
  height: 120px;
  margin: 32px auto;
  @media (max-width: 1024px) {
    position: fixed;
    right: 0;
    bottom: 16px;
    left: 0;
    width: 100%;
    height: auto;
    margin: 0;
  }

  &__content {
    width: 180px;
    text-align: left;

    @media (max-width: 1024px) {
      display: flex;
      justify-content: space-between;
      width: 328px;
      margin-right: auto;
      margin-left: auto;
    }
  }

  &__mobile {
    @media (max-width: 1024px) {
      width: 156px;
    }
  }
}
