<template>
  <div class="c-wrapper">
    <div v-if="isDesktop" @click="prevPage" class="c-navigation">
      <bg-link variant="medium-naked">Kembali</bg-link>
    </div>
    <div class="c-body">
      <div v-if="isDesktop" class="c-body__content">
        <div class="c-body__illustration">
          <bg-illustration
            :name="illustrationType"
            :alt="illustrationType"
            height="284"
            width="213"
          />
        </div>
        <!-- title left -->
        <div class="l-title">
          <div class="l-title__content">
            Anda mendapat banyak keuntungan setelah memakai
            {{ packageStatus }}
          </div>
        </div>
      </div>
      <div class="l-right c-title">
        <div v-if="!isDesktop" class="c-body__illustration">
          <bg-illustration
            :name="illustrationType"
            :alt="illustrationType"
            height="250"
            width="186"
          />
        </div>
        <p class="c-title__content">
          Anda mendapat banyak keuntungan setelah memakai {{ packageStatus }}
        </p>

        <div class="l-statistic ">
          <div class="l-statistic__title">MamiPoin</div>
          <div class="l-statistic__value">Dapat Ekstra</div>
        </div>
        <div class="l-statistic__information">
          Pengguna Mamikos GoldPlus menerima lebih banyak MamiPoin dibanding pemilik kos yang lain.
        </div>
        <div>
          <div class="l-statistic ">
            <div class="l-statistic__title">Cashback Saldo Premium</div>
            <div class="l-statistic__value">Rp{{ cashbackPremium }}</div>
          </div>
          <div class="l-statistic__information">
            Dengan mendaftar Mamikos GoldPlus, Anda berhak mendapat tambahan saldo iklan Premium.
          </div>
        </div>
        <hr v-if="!isDesktop" class="c-line" />
        <div class="c-button">
          <div class="c-button__content">
            <div v-if="!isDesktop" class="c-button__mobile">
              <bg-button @click="prevPage" variant="tertiary" size="lg" block>Kembali</bg-button>
            </div>
            <div class="c-button__mobile">
              <bg-button @click="nextPage" variant="primary" size="lg" block>Lanjut</bg-button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { BgIllustration, BgButton, BgLink } from 'bangul-vue';
export default {
  name: 'BenefitFromGp',
  components: {
    BgLink,
    BgButton,
    BgIllustration,
  },
  data() {
    return {
      packageStatus: localStorage.getItem('packageStatus'),
    };
  },
  computed: {
    isDesktop() {
      return this.$device.isDesktop;
    },

    illustrationType() {
      return this.packageStatus === 'GoldPlus 1'
        ? 'benefit-goldplus-1'
        : this.packageStatus === 'GoldPlus 2'
        ? 'benefit-goldplus-2'
        : 'benefit-goldplus-3';
    },

    cashbackPremium() {
      return this.packageStatus === 'GoldPlus 1'
        ? '59.000'
        : this.packageStatus === 'GoldPlus 2'
        ? '145.000'
        : '500.000';
    },
  },
  methods: {
    prevPage() {
      this.$router.push({ path: '/exit-gp-statistic/statistic-price' });
    },

    nextPage() {
      this.$router.push({ path: '/exit-gp-statistic/offer-extend-gp' });
    },
  },
};
</script>

<style lang="scss" src="./BenefitFromGp.scss" scoped></style>
