.goldplus-submission-package-confirmation-modal {
  width: 90vw;
  padding: 16px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.04), 0 4px 8px rgba(0, 0, 0, 0.08);

  @media (min-width: 768px) {
    max-width: 411px;
  }

  &__header {
    display: flex;
    justify-content: flex-end;
  }

  &__close-button {
    cursor: pointer;
  }

  &__body {
    margin-top: 4px;

    &-title {
      font-size: 20px;
      font-weight: 900;
      line-height: 28px;
    }

    &-message {
      margin-top: 8px;
    }
  }

  &__actions {
    display: flex;
    margin-top: 24px;
    justify-content: space-between;
  }

  &__button {
    width: calc(50% - 8px);
    height: 48px;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
  }
}
