<template>
  <mk-modal v-model="showModal" backdrop>
    <div class="goldplus-submission-package-confirmation-modal">
      <div class="goldplus-submission-package-confirmation-modal__header">
        <b-icon
          @click.native="closeModal"
          icon="close"
          size="is-medium"
          class="goldplus-submission-package-confirmation-modal__close-button"
        ></b-icon>
      </div>

      <div class="goldplus-submission-package-confirmation-modal__body">
        <h2 class="goldplus-submission-package-confirmation-modal__body-title">
          Ajukan pendaftaran GoldPlus
        </h2>

        <p class="goldplus-submission-package-confirmation-modal__body-message">
          Setelah ini, Anda akan membaca Syarat & Ketentuan, dan mengirimkan pengajuan daftar
          GoldPlus kepada kami.
        </p>

        <div class="goldplus-submission-package-confirmation-modal__actions">
          <mk-button
            @clicked="closeModal"
            color="white-brand"
            class="goldplus-submission-package-confirmation-modal__button --cancel"
          >
            Kembali
          </mk-button>
          <mk-button
            @clicked="handleSubmit"
            color="green-brand"
            class="goldplus-submission-package-confirmation-modal__button --submit"
          >
            Lanjut
          </mk-button>
        </div>
      </div>
    </div>
  </mk-modal>
</template>

<script>
import MkModal, { mixin as modalMixin } from '~/components/global/molecules/MkModal/MkModal';
import MkButton from '~/components/global/atoms/MkButton';

export default {
  name: 'GoldPlusSubmissionPackageConfirmationModal',
  components: { MkModal, MkButton },
  mixins: [modalMixin],
  model: {
    prop: 'active',
    event: 'update:active',
  },
  props: {
    active: {
      type: Boolean,
      default: false,
    },
  },
  computed: {
    showModal: {
      get() {
        return this.active;
      },
      set(val) {
        this.$emit('update:active', val);
      },
    },
  },
  methods: {
    closeModal() {
      this.toggleModal(false);
    },
    handleSubmit() {
      this.$emit('continue');
    },
  },
};
</script>

<style lang="scss" src="./GoldPlusSubmissionPackageConfirmationModal.scss" scoped></style>
