<template>
  <div class="no-property">
    <img class="no-property__image" src="~assets/images/dashboard/no-property.svg" />
    <h4 class="no-property__title">{{ title }}</h4>
    <p class="no-property__caption">Silakan tambahkan kos Anda terlebih dahulu.</p>
    <mk-button @clicked="handleAddKosClicked" color="green-brand" block>Tambah Kos</mk-button>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import MkButton from '~/components/global/atoms/MkButton';

export default {
  name: 'StateNoProperty',
  components: {
    MkButton,
  },
  props: {
    title: {
      type: String,
      default: 'Anda Belum Mendaftarkan Kos',
    },
  },
  computed: {
    ...mapGetters('profile', ['isBbk', 'user', 'isPremium']),
  },
  methods: {
    handleAddKosClicked() {
      this.$tracker.send('moe', [
        '[Owner] Dashboard - Tambah Kos Button Clicked',
        {
          user_id: this.user.user_id,
          interface: this.$device.isMobile ? 'mobile' : 'desktop',
          is_booking: this.isBbk,
          is_premium: this.isPremium,
        },
      ]);
      window.location.href = `${process.env.MAMIKOS_URL}/ownerpage/add?input-property=true`;
    },
  },
};
</script>

<style lang="scss" src="./StateNoProperty.scss"></style>
