<template>
  <div class="reward-exchange-page --mobile">
    <exchange-form />
  </div>
</template>

<script>
import ExchangeForm from '../components/ExchangeForm';

export default {
  name: 'RewardExchangeMobile',
  components: { ExchangeForm },
};
</script>

<style scoped lang="scss" src="./mobile.scss"></style>
