.daily-balance-allocation-body {
  width: 96%;
  max-width: 560px;
  padding: 20px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 5px;

  .title {
    font-size: 24px;
    line-height: 36px;
  }

  .content {
    font-size: 16px;
    line-height: 24px;
  }

  .daily-balance-allocation-buttons {
    .activate,
    .deactivate {
      display: flex;
      width: 100%;
    }

    .c-mk-button {
      width: 50%;
    }

    .white-btn {
      background-color: #fff;
      border: 0;
    }
  }
}
