<template>
  <mk-modal v-model="active">
    <div class="daily-balance-allocation-body">
      <div class="title">
        {{ modalStates.title }}
      </div>
      <div class="content">
        {{ modalStates.text }}
      </div>
      <div class="daily-balance-allocation-buttons">
        <div v-if="modalType === 'activate'" class="activate">
          <mk-button @clicked="cancel" :disabled="isLoading" class=" white-btn">
            {{ modalStates.onCancel }}
          </mk-button>
          <mk-button
            @clicked="handleConfirmation('activation')"
            :disabled="isLoading"
            :has-spinner="isLoading"
            color="green-brand"
            >{{ modalStates.onConfirm }}</mk-button
          >
        </div>
        <div v-else class="deactivate">
          <mk-button
            @clicked="handleConfirmation('deactivation')"
            :disabled="isLoading"
            :has-spinner="isLoading"
            class="white-btn"
          >
            {{ modalStates.onConfirm }}
          </mk-button>
          <mk-button @clicked="cancel" :disabled="isLoading" color="green-brand">
            {{ modalStates.onCancel }}
          </mk-button>
        </div>
      </div>
    </div>
  </mk-modal>
</template>

<script>
import { mapGetters } from 'vuex';
import modalStates from './data/modalStates';
import MkModal, { mixin as modalMixin } from '~/components/global/molecules/MkModal/MkModal';
import MkButton from '~/components/global/atoms/MkButton';

export default {
  name: 'ModalDailyBalanceAllocation',
  components: {
    MkModal,
    MkButton,
  },
  mixins: [modalMixin],
  props: {
    modalType: {
      type: String,
      default: 'activate',
    },
  },
  data() {
    return {
      isLoading: false,
    };
  },
  computed: {
    ...mapGetters('profile', ['membership']),
    modalStates() {
      return modalStates[this.modalType].call(this);
    },
  },
  methods: {
    async cancel() {
      this.isLoading = true;
      if (this.modalType === 'activate') await this.$store.dispatch('profile/getLatestProfile');
      this.$store.dispatch('profile/updateDailyBalanceAllocation', 'cancel');
      this.isLoading = false;
      this.toggleModal(false);
      this.$popupOrder.next();
    },
    async handleConfirmation(val) {
      this.isLoading = true;
      if (val === 'activation') {
        try {
          await this.$store.dispatch('profile/updateDailyBalanceAllocation', val);
          this.$popupOrder.next();
          this.toggleModal(false);
          this.$buefy.toast.open({
            duration: 2000,
            message: 'Alokasi Harian telah diaktifkan',
            position: 'is-bottom',
          });
        } catch (e) {
          this.$bugsnag.notify(e);
          this.toggleModal(false);
          this.$alert('is-danger', 'Gagal', 'Terjadi galat, silakan coba lagi.');
        }
      } else {
        try {
          await this.$store.dispatch('profile/updateDailyBalanceAllocation', val);
          this.toggleModal(false);
          this.$buefy.toast.open({
            duration: 2000,
            message: 'Alokasi Harian telah dinonaktifkan',
            position: 'is-bottom',
          });
        } catch (e) {
          this.$bugsnag.notify(e);
          this.toggleModal(false);
          this.$alert('is-danger', 'Gagal', 'Terjadi galat, silakan coba lagi.');
        }
      }
      this.isLoading = false;
    },
  },
};
</script>

<style lang="scss" src="./ModalDailyBalanceAllocation.scss" scoped></style>
