<template>
  <div ref="propertyList" class="property-list">
    <template v-if="properties.length">
      <nuxt-link
        v-for="(property, key) in properties"
        :key="key"
        :to="{
          name: isUpdateRoom ? `kos-rooms-kos_id` : `kos-rooms-price-kos_id`,
          params: { kos_id: property._id },
          query: $route.query,
        }"
      >
        <div class="property-list__item">
          <img v-lazy="property.photo_url.small" alt="kost image" class="property-list__item-img" />
          <div class="property-list__item-name">
            <span v-if="property.room_title.length > 58">
              {{ property.room_title.slice(0, 58) }}...
            </span>
            <span v-else>{{ property.room_title }}</span>
          </div>
          <div
            v-if="paramRoomId === property._id"
            class="property-list__item-selected-indicator"
          ></div>
        </div>
      </nuxt-link>
    </template>
    <span ref="loader" v-if="isLoading" class="c-loader" style="margin:20px auto"></span>
  </div>
</template>

<script>
export default {
  name: 'PropertyList',
  props: {
    properties: { type: Array, required: true },
    isLoading: { type: Boolean, required: true },
    isUpdateRoom: { type: Boolean, default: true },
  },
  computed: {
    paramRoomId() {
      return this.$route.params && parseInt(this.$route.params.kos_id, 10);
    },
  },
  mounted() {
    this.addScrollEvent();
  },
  beforeDestroy() {
    this.$refs.propertyList.removeEventListener('scroll', this.mobileKosRoomsScrolled);
  },
  methods: {
    addScrollEvent() {
      this.mobileKosRoomsScrolled = (e) => {
        const { scrollHeight, scrollTop, offsetHeight } = this.$refs.propertyList;
        const loaderHeight = this.$refs.loader ? this.$refs.loader.offsetHeight : 0;
        // 40 is margin of loader
        if (scrollHeight - offsetHeight - loaderHeight - 40 <= scrollTop) {
          this.$emit('updateData');
        }
      };
      this.$refs.propertyList.addEventListener('scroll', this.mobileKosRoomsScrolled);
    },
  },
};
</script>

<style lang="scss" src="./PropertyList.scss"></style>
