.property-list {
  width: 360px;
  max-height: calc(100vh - 200px);
  padding: 0;
  margin-right: 28px;
  overflow: auto;
  border: 1px solid #dddd;
  border-radius: 8px;

  &__item {
    display: flex;
    align-items: center;
    height: 80px;
    padding: 16px 0;
    margin: 0 16px;
    border-bottom: 1px solid #f5f5f5;

    &-img {
      width: 40px;
      height: 40px;
      border-radius: 8px;
      object-fit: cover;
    }

    &-name {
      width: 100%;
      max-height: 40px;
      margin-left: 11px;
      overflow-y: hidden;
      font-size: 16px;
      font-style: normal;
      font-weight: bold;
      line-height: 19px;
      color: #242424;
      word-wrap: break-word;
      white-space: normal;
    }

    &-selected-indicator {
      height: 40px;
      padding-right: 16px;
      margin-right: -16px;
      border-right: 4px solid #1baa56;
    }
  }
}
