$heading-font-size: (
  desktop: 20px,
  mobile: 18px,
);
$heading-color: #242424;
$text-font-size: (
  desktop: 16px,
  mobile: 14px,
);

@mixin fontSize($source: $text-font-size) {
  font-size: map-get($source, 'desktop');

  @media (max-width: 480px) {
    font-size: map-get($source, 'mobile');
  }
}

.mamipoin-placeholder {
  margin: 60px 20px;
  text-align: center;

  &__image {
    display: block;
    max-height: 200px;
    margin: 0 auto 10px;
  }

  &__title {
    display: block;
    line-height: 2;
    color: $heading-color;
    @include fontSize($heading-font-size);
  }

  &__desc {
    @include fontSize($text-font-size);
  }
}
