<template>
  <div class="mamipoin-placeholder">
    <img :src="placeholderImage" class="mamipoin-placeholder__image" />
    <strong v-if="title" class="mamipoin-placeholder__title">
      {{ title || '' }}
    </strong>
    <p v-if="desc" class="mamipoin-placeholder__desc">
      {{ desc || '' }}
    </p>
  </div>
</template>

<script>
export default {
  name: 'MamipoinPlaceholder',
  props: {
    image: {
      type: String,
      default: '',
    },
    title: {
      type: String,
      default: '',
    },
    desc: {
      type: String,
      default: '',
    },
  },
  computed: {
    placeholderImage() {
      return this.image ? require(`~/assets/images/mamipoin/${this.image}.svg`) : '';
    },
  },
};
</script>

<style lang="scss" scoped src="./MamipoinPlaceholder.scss"></style>
