.premium-survey-modal {
  max-width: 600px;
  text-align: center;

  &__title {
    margin-bottom: 10px;
    font-size: 18px;
    color: #1baa56;
  }

  &__options {
    margin: 15px 10%;
    text-align: left;

    .additional-option {
      margin: 10px 0;
    }
  }
}
