<template>
  <mk-modal v-model="active">
    <mk-card v-if="isShowCard">
      <mk-card-body class="premium-survey-modal">
        <h4 class="premium-survey-modal__title">Terima kasih sudah memakai Premium!</h4>
        <p>
          Demi meningkatkan pelayanan Kami, mohon beritahu alasan Anda tidak memperpanjang paket
          Premium. Anda boleh memilih lebih dari satu.
        </p>
        <div class="premium-survey-modal__options">
          <div v-for="(option, key) in surveyOptions" :key="key">
            <b-checkbox
              v-model="reasons"
              :native-value="option"
              type="is-green-brand"
              class="survey-checkbox"
            >
              {{ option }}
            </b-checkbox>
          </div>
          <div v-if="isRoomCountShow" class="additional-option">
            <label>Berapa kamar yang berhasil terisi berkat paket premium Anda kemarin?</label>
            <b-input v-model="roomCount" type="text"></b-input>
          </div>
          <div v-if="isDesiredPriceShow" class="additional-option">
            <label>Menurut Anda, berapa harga yang sesuai untuk Premium?</label>
            <b-input v-model="desiredPrice" type="text"></b-input>
          </div>
        </div>
        <p>Terima kasih atas masukan Anda!</p>
        <mk-button
          :has-spinner="isSendingData"
          @clicked="handleSubmitButtonClicked"
          :disabled="!reasons.length || isSendingData"
          class="premium-survey-modal__submit"
          color="green-brand"
          block
        >
          SUBMIT
        </mk-button>
      </mk-card-body>
    </mk-card>
  </mk-modal>
</template>

<script>
import MkModal, { mixin as modalMixin } from '~/components/global/molecules/MkModal/MkModal';
import MkCard from '~/components/global/molecules/MkCard';
import MkCardBody from '~/components/global/molecules/MkCard/components/MkCardBody';
import MkButton from '~/components/global/atoms/MkButton';

export default {
  name: 'ModalSurveyPremium',
  components: {
    MkModal,
    MkButton,
    MkCard,
    MkCardBody,
  },
  mixins: [modalMixin],
  data() {
    return {
      reasons: [],
      roomCount: '',
      desiredPrice: '',
      isSendingData: false,
      isShowCard: true,
      isShowModalRoomSurvey: false,
      roomSurveyModal: true,
      isRoomCountShow: false,
      isDesiredPriceShow: false,
    };
  },
  computed: {
    packageId() {
      return this.$store.getters['profile/membership'].active_package;
    },
    packageName() {
      return this.$store.getters['profile/membership'].package_name;
    },
    surveyOptions() {
      return this.$store.state.profile.data.survey;
    },
  },
  watch: {
    reasons(val) {
      this.isRoomCountShow = val.includes('Kamar masih terisi penuh');
      this.isDesiredPriceShow = val.includes('Harga dan keuntungan tidak sesuai');
    },
  },
  methods: {
    async handleSubmitButtonClicked() {
      this.isSendingData = true;
      const response = await this.$api.submitPremiumSurvey({
        reason: this.reasons,
        premium_id: this.packageId,
        data_for: 'premium_expired',
        price: this.desiredPrice,
        room_count: this.roomCount,
      });
      this.isSendingData = false;
      if (response.data.status) {
        this.isShowCard = false;
        await this.$alert('is-success', 'Berhasil!', 'Sukses mengisi survey');
      } else {
        await this.$alert('is-danger', 'Gagal!', response.data.meta.message);
      }
      this.toggleModal(false);
    },
  },
};
</script>

<style lang="scss" src="./ModalPremiumSurvey.scss" scoped></style>
