<template>
  <div>
    <mk-action-card
      v-for="(propertyMenu, index) in propertyMenus"
      :key="'propertyMenu' + index"
      :title="propertyMenu.title"
      :subtitle="propertyMenu.subtitle"
      :icon-name="propertyMenu.icon"
      @click="goToPage(propertyMenu)"
      icon-position="top"
      class="card-component"
    />
  </div>
</template>

<script>
import MixinActionCardNavigation from '../../mixins/actionCardNavigation';
import mixinDashboardTracker from '~/components/page-features/dashboard/mixins/dashboardTracker.js';
import MkActionCard from '~/components/global/molecules/MkActionCard/MkActionCard.vue';

export default {
  name: 'KosPropertyCard',
  components: {
    MkActionCard,
  },
  mixins: [MixinActionCardNavigation, mixinDashboardTracker],
  data() {
    return {
      propertyMenus: [
        {
          title: 'Kos',
          subtitle: 'Atur dan tambah iklan kos',
          icon: 'promote',
          route: '/ownerpage/kos',
          type: 'mami53',
          tracker: '[Owner] OD Properti Saya - Kos Clicked',
        },
        {
          title: 'Apartemen',
          subtitle: 'Atur dan tambah iklan apartemen',
          icon: 'promote',
          route: '/ownerpage/apartment',
          type: 'mami53',
          tracker: '[Owner] OD Properti Saya - Apartemen Clicked',
        },
        {
          title: 'Lowongan Kerja',
          subtitle: 'Atur dan tambah iklan info loker',
          icon: 'promote',
          route: '/ownerpage/vacancy',
          type: 'mami53',
          tracker: '[Owner] OD Properti Saya - Pekerjaan Clicked',
        },
      ],
    };
  },
  methods: {
    goToPage({ route, type, tracker }) {
      if (route) {
        this.sendDashboardTracker(tracker);
        this.navigate(route, type || '');
      }
    },
  },
};
</script>

<style lang="scss" src="./KosPropertyCard.scss" scoped></style>
