.detail-room-info {
  &__basic-info {
    display: flex;
    justify-content: space-between;
    margin: 10px 0 30px;
  }

  &__room-data {
    display: flex;
    flex-direction: column;
  }

  &__room-number {
    margin: 7px 0 10px;
  }

  &__room-image {
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 8px;
  }

  &__booking-info {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
  }

  &__payment-total {
    margin: 15px 0;
  }

  &__payment-total > &__booking-info {
    margin: 15px 0;
  }
}
