<template>
  <div class="detail-room-info">
    <bg-text size="title-4">
      Properti yang disewa:
    </bg-text>

    <div class="detail-room-info__basic-info">
      <div class="detail-room-info__room-data">
        <bg-text size="body-2" tag="span">
          {{ contractRequestDetail.room.name }}
        </bg-text>

        <div
          v-if="contractRequestDetail.room.number || contractRequestDetail.room.floor"
          class="detail-room-info__room-number"
        >
          <bg-text v-if="contractRequestDetail.room.number" size="body-3" tag="span">
            {{ contractRequestDetail.room.number }}&nbsp;
          </bg-text>
          <bg-text v-if="contractRequestDetail.room.floor" size="body-3" tag="span">
            {{ contractRequestDetail.room.floor }}
          </bg-text>
        </div>

        <div>
          <bg-label-rainbow v-if="contractRequestDetail.room.is_goldplus"
            >Goldplus</bg-label-rainbow
          >
        </div>
      </div>

      <div
        v-lazy:background-image="{
          src: contractRequestDetail.room.image.small,
        }"
        class="detail-room-info__room-image"
      ></div>
    </div>

    <div v-if="contractRequestDetail.due_date !== 0" class="detail-room-info__booking-info">
      <bg-text size="body-2">Tanggal Jatuh Tempo</bg-text>
      <bg-text size="body-1">{{ contractRequestDetail.due_date }}</bg-text>
    </div>

    <div class="detail-room-info__booking-info">
      <bg-text size="body-2">Harga Sewa {{ rentType }}</bg-text>
      <bg-text size="body-1">{{ rentPrice }}</bg-text>
    </div>

    <bg-text
      v-if="
        contractRequestDetail.additional_price &&
          contractRequestDetail.additional_price.length !== 0
      "
      size="body-2"
      >Biaya Tambahan</bg-text
    >

    <div
      v-for="(additionalPrice, index) in contractRequestDetail.additional_price"
      :key="index"
      class="detail-room-info__booking-info"
    >
      <bg-text size="body-2">&#8226; {{ additionalPrice.name }}</bg-text>
      <bg-text size="body-1">{{
        `Rp${parseInt(additionalPrice.price).toLocaleString('id-ID')}`
      }}</bg-text>
    </div>

    <div class="detail-room-info__payment-total">
      <bg-divider />
      <div class="detail-room-info__booking-info">
        <bg-text size="title-4">Total Pembayaran</bg-text>
        <bg-text size="title-4">{{ contractRequestDetail.bill_price_label }}</bg-text>
      </div>
      <bg-divider />
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex';
import { BgDivider, BgLabelRainbow, BgText } from 'bangul-vue';

export default {
  name: 'DetailRoomInfo',

  components: {
    BgDivider,
    BgLabelRainbow,
    BgText,
  },

  computed: {
    ...mapState('contract', ['contractRequestDetail']),
    rentType() {
      const rentCountInID = {
        day: 'Per Hari',
        week: 'Per Minggu',
        month: 'Per Bulan',
        '3_month': 'Per 3 Bulan',
        '6_month': 'Per 6 Bulan',
        year: 'Pertahun',
      };

      return rentCountInID[this.contractRequestDetail.rent_count_type];
    },
    rentPrice() {
      return this.contractRequestDetail.is_revised_price
        ? this.contractRequestDetail.revised_price_label
        : this.contractRequestDetail.original_price_label;
    },
  },
};
</script>

<style lang="scss" src="./DetailRoomInfo.scss"></style>
