.goldplus-payment-desktop {
  &__header {
    display: flex;
    margin-bottom: 24px;

    &-back {
      margin: -20px 27px 0;
      box-shadow: none;
    }
  }

  &__tabs {
    .tablist {
      padding-right: 28px;
      padding-left: 28px;
      border-radius: 4px;
      box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.02), 0 1px 4px rgba(0, 0, 0, 0.08);
    }
  }

  &__pagination {
    margin-top: 20px;
  }
}
