<template>
  <div class="goldplus-payment-desktop">
    <div class="goldplus-payment-desktop__header">
      <bg-button-icon
        @click="handleGoBack"
        class="goldplus-payment-desktop__header-back"
        icon="back"
      />
      <gold-plus-header>
        <span slot="title">Pembayaran Tagihan Goldplus</span>
      </gold-plus-header>
    </div>
    <bg-tabs class="goldplus-payment-desktop__tabs">
      <bg-tab id="goldplusPaymentUnpaid" title="Butuh Pembayaran">
        <mk-three-dots-loading v-if="isLoadingData" />
        <div v-else>
          <gold-plus-payment-list-table
            v-if="pendingBillingList.total > 0"
            :table-head="tableHeaderUnpaid"
          >
            <tr
              @click="handleViewDetails(item.invoice_id)"
              v-for="(item, index) in unpaidData"
              :key="index"
              class="goldplus-payment-list-table__row"
            >
              <td class="goldplus-payment-list-table__cell">{{ dateYearFormat(item.due_date) }}</td>
              <td class="goldplus-payment-list-table__cell">
                <bg-text class="goldplus-payment-list-table__name">{{ item.name }}</bg-text>
                <bg-text>{{ item.description }}</bg-text>
              </td>
              <td class="goldplus-payment-list-table__cell">
                {{ itemPeriod(item) }}
              </td>
              <td class="goldplus-payment-list-table__cell">{{ toIDR(item.amount) }}</td>
              <td class="goldplus-payment-list-table__cell">
                <bg-link variant="medium-naked">Lihat Tagihan</bg-link>
              </td>
            </tr>
            <tr>
              <td :colspan="tableHeaderUnpaid.length">
                <bg-pagination
                  v-if="pendingBillingList.total > dataPerPage"
                  v-model="unpaidPage"
                  @click="handlePaginationUnpaid"
                  :page-total="unpaidPageTotal"
                  class="goldplus-payment-desktop__pagination"
                />
              </td>
            </tr>
          </gold-plus-payment-list-table>

          <gold-plus-payment-empty-list v-else />
        </div>
      </bg-tab>
      <bg-tab id="goldplusPaymentDone" title="Selesai">
        <mk-three-dots-loading v-if="isLoadingData" />
        <div v-else>
          <gold-plus-payment-list-table
            v-if="doneBillingList.total > 0"
            :table-head="tableHeaderDone"
          >
            <tr
              @click="handleViewDetails(item.invoice_id)"
              v-for="(item, i) in doneData"
              :key="i"
              class="goldplus-payment-list-table__row"
            >
              <td class="goldplus-payment-list-table__cell">
                <bg-text class="goldplus-payment-list-table__name">{{ item.name }}</bg-text>
                <bg-text>{{ item.description }}</bg-text>
              </td>
              <td class="goldplus-payment-list-table__cell">
                {{ itemPeriod(item) }}
              </td>
              <td class="goldplus-payment-list-table__cell">
                <bg-label-rainbow v-if="item.status === 'paid'" color="green">
                  Lunas
                </bg-label-rainbow>
                <bg-label-rainbow v-else-if="item.status === 'expired'" color="grey">
                  Dibatalkan
                </bg-label-rainbow>
              </td>
              <td class="goldplus-payment-list-table__cell">
                {{ dateYearFormat(item.status === 'paid' ? item.paid_at : item.expired_at) }}
              </td>
              <td class="goldplus-payment-list-table__cell">{{ toIDR(item.amount) }}</td>
            </tr>
            <tr>
              <td :colspan="tableHeaderDone.length">
                <bg-pagination
                  v-if="doneBillingList.total > dataPerPage"
                  v-model="donePage"
                  @click="handlePaginationDone"
                  :page-total="donePageTotal"
                  class="goldplus-payment-desktop__pagination"
                />
              </td>
            </tr>
          </gold-plus-payment-list-table>

          <gold-plus-payment-empty-list v-else :is-unpaid="false" />
        </div>
      </bg-tab>
    </bg-tabs>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex';
import {
  BgTabs,
  BgTab,
  BgLink,
  BgLabelRainbow,
  BgText,
  BgButtonIcon,
  BgPagination,
} from 'bangul-vue';
import GoldPlusHeader from '../../../components/GoldPlusHeader';
import GoldPlusPaymentListTable from '../components/GoldPlusPaymentListTable';
import GoldPlusPaymentEmptyList from '../components/GoldPlusPaymentEmptyList';
import MkThreeDotsLoading from '~/components/global/atoms/MkThreeDotsLoading';
import { toIDR } from '~/utils/currencyString';

export default {
  components: {
    BgButtonIcon,
    BgTabs,
    BgTab,
    BgLink,
    BgText,
    BgLabelRainbow,
    BgPagination,
    GoldPlusPaymentListTable,
    GoldPlusHeader,
    GoldPlusPaymentEmptyList,
    MkThreeDotsLoading,
  },
  data() {
    return {
      tableHeaderUnpaid: [
        'Tanggal Jatuh Tempo',
        'Nama Tagihan',
        'Periode',
        'Total Tagihan',
        'Aksi',
      ],
      tableHeaderDone: ['Nama Tagihan', 'Periode', 'Status', 'Tanggal Selesai', 'Total Tagihan'],
      fetchParams: {
        limit: 10,
        offset: 0,
      },
      dataPerPage: 10,
      isLoadingData: false,
      donePage: 1,
      unpaidPage: 1,
    };
  },
  computed: {
    ...mapState('goldplus', ['pendingBillingList', 'doneBillingList']),
    unpaidData() {
      return this.pendingBillingList.billings;
    },
    doneData() {
      return this.doneBillingList.billings;
    },
    unpaidPageTotal() {
      return this.countTotalPage(this.pendingBillingList.total);
    },
    donePageTotal() {
      return this.countTotalPage(this.doneBillingList.total);
    },
  },
  mounted() {
    this.handleFetchBillingList({ ...this.fetchParams, type: 'pending' });
    this.handleFetchBillingList({ ...this.fetchParams, type: 'done' });
  },
  methods: {
    ...mapActions('goldplus', ['fetchBillingList']),
    countTotalPage(total) {
      return total > this.dataPerPage ? Math.ceil(total / this.dataPerPage) : total;
    },
    async handleFetchBillingList(params) {
      this.isLoadingData = true;
      try {
        await this.fetchBillingList(params);
      } catch (error) {
        this.$bugsnag.notify(error);
        this.$alert('is-danger', 'Gagal', 'Terjadi galat, silakan coba lagi.');
      }
      this.isLoadingData = false;
    },
    toIDR,
    dateYearFormat(value) {
      return this.$dayjs(value).format('D MMM YYYY');
    },
    dateFormat(value) {
      return this.$dayjs(value).format('D MMM');
    },
    handleGoBack() {
      this.$router.push('/goldplus');
    },
    handleViewDetails(id) {
      this.$router.push(`/goldplus/payment/${id}`);
    },
    handlePaginationUnpaid(page) {
      this.handleFetchBillingList({
        type: 'pending',
        limit: this.dataPerPage,
        offset: (page - 1) * this.dataPerPage,
      });
    },
    handlePaginationDone(page) {
      this.handleFetchBillingList({
        type: 'done',
        limit: this.dataPerPage,
        offset: (page - 1) * this.dataPerPage,
      });
    },
    itemPeriod(item) {
      const { start_date, end_date } = item;
      if (start_date && end_date) {
        return this.dateFormat(start_date) + ' - ' + this.dateFormat(end_date);
      } else {
        return '';
      }
    },
  },
};
</script>

<style lang="scss" scoped src="./desktop.scss" />
