/* stylelint-disable max-nesting-depth, primer/no-unused-vars */
@mixin modal-mobile($selector, $max-width) {
  @media (max-width: #{$max-width}) {
    #{$selector} {
      &::v-deep {
        justify-content: flex-end;

        .add-price-card {
          margin-bottom: 0;
          border-radius: 0;
          border-top-left-radius: 20px;
          border-top-right-radius: 20px;
        }

        .card-title {
          justify-content: flex-start;
          font-size: 20px;
          font-weight: 900;
          line-height: 28px;
          color: #303030;
        }

        .c-mk-card__body {
          .c-field-input__label,
          label {
            font-weight: bold;
            color: #303030;
          }
        }

        .additional-price-action-button {
          width: 100%;
        }
      }
    }
  }
}

.room-additional-price {
  padding: 24px 0;

  ::v-deep {
    .c-mk-modal {
      margin-top: 0 !important;
    }

    .additional-price-action-button {
      min-height: 48px;
    }
  }

  > *:not(:first-of-type) {
    margin-top: 16px;
  }

  @media (max-width: 767px) {
    padding: 32px 0;

    > *:not(:first-of-type) {
      margin-top: 40px;
    }
  }

  $this: &;
  @include modal-mobile(#{$this}__modal-form, 453px);
  @include modal-mobile(#{$this}__modal-delete, 588px);
}
