<template>
  <div class="room-additional-price">
    <template v-if="!isLoading">
      <additional-price-item
        v-for="(price, i) in additionalPrices"
        v-model="price.active"
        :index="i"
        :key="`${i}-${price.type}`"
        :kost-id="kostId"
        :type="price.type"
        :data="price.data || []"
        :label="price.label"
        :description="price.description"
        :is-range="price.type === 'dp'"
        :is-many="price.type === 'additional'"
        :kost-detail="kostDetail"
        @add="updateModalOptions(price, $event)"
        @edit="updateModalOptions(price, $event)"
        @delete="updateModalOptions(price, $event, true)"
      />

      <additional-modal-price
        :active="!!modalOptions.type && !modalOptions.isDelete"
        :card-title="modalOptions.modalLabel || modalOptions.label"
        :disable-close="modalOptions.isLoading"
        :width="453"
        @close="handleCloseModal"
        class="room-additional-price__modal-form"
      >
        <template v-if="modalOptions.type">
          <form-price-other
            v-if="modalOptions.type === 'additional'"
            :value="modalOptions.value"
            :type="modalOptions.type"
            :is-loading="modalOptions.isLoading"
            @submit="storeAdditionalPrice"
          />
          <form-price-fine
            v-else-if="modalOptions.type === 'fine'"
            :value="modalOptions.value"
            :type="modalOptions.type"
            :is-loading="modalOptions.isLoading"
            @submit="storeAdditionalPrice"
          />
          <form-price-deposit
            v-else-if="modalOptions.type === 'deposit'"
            :value="modalOptions.value"
            :type="modalOptions.type"
            :is-loading="modalOptions.isLoading"
            @submit="storeAdditionalPrice"
          />
          <form-price-dp
            v-else-if="modalOptions.type === 'dp'"
            :value="modalOptions.value"
            :type="modalOptions.type"
            :is-loading="modalOptions.isLoading"
            :kost-detail="kostDetail"
            @submit="storeAdditionalPrice"
          />
        </template>
      </additional-modal-price>

      <additional-price-modal-delete
        :active="isShowModal('delete')"
        :title="deleteModalTitle"
        :is-loading="isDeleting"
        @close="handleCloseModal"
        @delete="handleDeletePrice"
        class="room-additional-price__modal-delete"
      />
    </template>
    <span v-else class="c-loader"></span>
  </div>
</template>

<script>
import _findIndex from 'lodash/findIndex';
import AdditionalModalPrice from './components/AdditionalModalPrice';
import AdditionalPriceItem from './components/AdditionalPriceItem';
import AdditionalPriceModalDelete from './components/AdditionalPriceModalDelete';
import FormPriceDeposit from './components/AdditionalFormPriceDeposit';
import FormPriceDp from './components/AdditionalFormPriceDp';
import FormPriceFine from './components/AdditionalFormPriceFine';
import FormPriceOther from './components/AdditionalFormPriceOther';

const defaultModalOptions = {
  isShow: false,
  type: '',
  label: '',
  value: null,
  isDelete: false,
  isLoading: false,
};

export default {
  name: 'RoomAdditionalPrice',

  components: {
    AdditionalPriceModalDelete,
    AdditionalModalPrice,
    AdditionalPriceItem,
    FormPriceDeposit,
    FormPriceDp,
    FormPriceFine,
    FormPriceOther,
  },

  props: {
    kostDetail: {
      type: Object,
      required: true,
    },
  },

  data() {
    return {
      modalOptions: defaultModalOptions,
      isDeleting: false,
      isLoading: false,
      failedUpdateMessage: 'Gagal mengubah. Mohon coba lagi.',
      additionalPrices: [],
    };
  },

  computed: {
    deleteModalTitle() {
      return this.modalOptions.value ? `Yakin hapus biaya ${this.modalOptions.value.name}?` : '';
    },
    isShowModal() {
      return function(modalType) {
        const { isShow, type, isDelete } = this.modalOptions;
        return isDelete && modalType === 'delete'
          ? isShow
          : !isDelete && isShow && type === modalType;
      };
    },
    kostId() {
      return this.kostDetail._id;
    },
  },

  created() {
    this.getAdditionalPrices();
  },

  methods: {
    updateModalOptions(price, value = null, isDelete = false) {
      this.modalOptions = {
        type: price.type,
        label: price.label,
        value,
        isDelete,
        isShow: true,
        isLoading: false,
      };
    },
    handleCloseModal() {
      if (!this.modalOptions.isDelete) {
        const priceTypeIndex = this.getPriceTypeIndex(this.modalOptions.type);
        const { data } = this.additionalPrices[priceTypeIndex] || {};
        if (!data || !data.length) {
          this.additionalPrices[priceTypeIndex].active = false;
        }
      }

      this.modalOptions = { ...defaultModalOptions };
    },
    async getAdditionalPrices() {
      this.isLoading = true;
      try {
        const res = await this.$api.getPriceComponents(this.kostId);
        if (res.data.status) {
          this.isLoading = false;
          this.additionalPrices = res.data.data;
        } else {
          throw new Error('Response status is not true');
        }
      } catch (error) {
        this.isLoading = false;
        this.additionalPrices = [];
        this.$bugsnag.notify(error);
        this.$alert('is-danger', 'Gagal', 'Terjadi galat, silakan coba lagi.');
      }
    },
    async storeAdditionalPrice(type, payload, id) {
      this.modalOptions.isLoading = true;
      const { key, index } = this.modalOptions.value;
      try {
        const service = (id ? 'update' : 'post') + 'PriceComponent';
        const res = await this.$api[service](id || this.kostId, payload);
        if (res.data.status) {
          this.modalOptions.isLoading = false;
          if (id) {
            this.additionalPrices[key].data.splice(index, 1, res.data.data);
          } else if (this.additionalPrices[key].data) {
            this.additionalPrices[key].data.push(res.data.data);
          } else {
            this.additionalPrices[key].data = [res.data.data];
          }
          this.openToast(res.data.meta.message);
          this.handleCloseModal();
        } else {
          this.modalOptions.isLoading = false;
          this.openToast(res.data.meta.message);
        }
      } catch (error) {
        this.modalOptions.isLoading = false;
        this.$bugsnag.notify(error);
        this.openToast(this.failedUpdateMessage);
      }
    },
    async handleDeletePrice() {
      this.isDeleting = true;
      const { type, value } = this.modalOptions;
      try {
        const res = await this.$api.deletePriceComponent(value.id);

        if (res.data.status) {
          this.onDeletedPrice(type, value.key, value.index);
          this.isDeleting = false;
          this.openToast(res.data.meta.message);
          this.handleCloseModal();
        } else {
          this.isDeleting = false;
          this.openToast(res.data.meta.message);
        }
      } catch (error) {
        this.isDeleting = false;
        this.$bugsnag.notify(error);
        this.openToast(this.failedUpdateMessage);
      }
    },
    getPriceTypeIndex(type) {
      return _findIndex(this.additionalPrices, (price) => price.type === type);
    },
    onDeletedPrice(type, key, index) {
      this.additionalPrices[key].data.splice(index, 1);
      if (!this.additionalPrices[key].data.length) {
        this.additionalPrices[key].active = false;
      }
    },
    openToast(message) {
      this.$buefy.toast.open({
        duration: 4000,
        position: 'is-bottom',
        message,
      });
    },
  },
};
</script>

<style lang="scss" src="./RoomAdditionalPrice.scss" scoped></style>
