<template>
  <grid-column class="billing-management__column no-border-bottom">
    <template ref="rowSlot" v-slot:row>
      <grid-row class="billing-management__row bm-list-mobile">
        <span class="bm-list-mobile__title">{{ title }}</span>
        <slot></slot>
      </grid-row>
    </template>
  </grid-column>
</template>

<script>
import GridColumn from '../GridColumn';
import GridRow from '../GridRow';

export default {
  components: {
    GridColumn,
    GridRow,
  },

  props: {
    title: {
      type: String,
      default: '',
    },
  },
};
</script>

<style lang="scss" src="./BillingManagementHeader.scss" scoped></style>
