<template>
  <div class="point-scheme">
    <div v-if="isDesktop">
      <desktop-scheme />
    </div>
    <div v-else>
      <mobile-scheme />
    </div>
  </div>
</template>

<script>
import DesktopScheme from '../DesktopScheme';
import MobileScheme from '../MobileScheme';

export default {
  name: 'PointScheme',
  components: {
    DesktopScheme,
    MobileScheme,
  },
  computed: {
    isDesktop() {
      return this.$device.isDesktop;
    },
  },
};
</script>

<style lang="scss" scoped src="./PointScheme.scss"></style>
