<template>
  <bg-link
    @click="$emit('click')"
    v-bind="$attrs"
    :class="`mk-action-card--${cardColor}`"
    class="mk-action-card"
  >
    <bg-card
      :size="cardSize"
      :color="cardColor"
      :class="{ 'mk-action-card__card--is-flat': isFlat }"
    >
      <div class="mk-action-card__main">
        <div
          v-if="hasIcon || hasMainContent"
          :class="`mk-action-card__main-left--${iconPosition}`"
          class="mk-action-card__main-left"
        >
          <div
            v-if="hasIcon"
            :class="[
              { 'mk-action-card__main-icon-wrapper--text': !!iconText },
              `mk-action-card__main-icon-wrapper--${iconType}`,
              `mk-action-card__main-icon-wrapper--${iconPosition}`,
            ]"
            :style="{ color: iconColor || null }"
            class="mk-action-card__main-icon-wrapper"
          >
            <slot v-if="$slots.icon" name="icon" />
            <bg-icon
              v-else-if="iconName"
              :size="iconSize"
              :name="iconName"
              class="mk-action-card__main-icon-icon"
            />
            <bg-text v-else-if="iconText" size="heading-5" class="mk-action-card__main-icon-text">
              {{ iconText }}
            </bg-text>
            <bg-red-dot v-if="hasRedDot" class="mk-action-card__red-dot" top="2px" right="2px" />
          </div>
          <div v-if="hasMainContent" class="mk-action-card__main-content">
            <bg-text
              v-if="title"
              :size="titleSize"
              :style="{ color: titleColor || null }"
              class="mk-action-card__main-content-title"
            >
              {{ title }}
            </bg-text>
            <slot v-else-if="$slots.title" name="title" />
            <bg-text
              v-if="subtitle"
              :size="subtitleSize"
              :style="{ color: subtitleColor || null }"
              class="mk-action-card__main-content-subtitle"
            >
              {{ subtitle }}
            </bg-text>
            <slot v-else-if="$slots.subtitle" name="subtitle" />
          </div>
          <slot v-else-if="$slots.content" name="content" />
        </div>
        <div class="mk-action-card__main-right">
          <bg-icon name="chevron-right" size="sm" />
        </div>
      </div>
      <bg-text v-if="description" size="body-2" class="mk-action-card__description">
        {{ description }}
      </bg-text>
      <slot v-else-if="$slots.description" />
    </bg-card>
  </bg-link>
</template>

<script>
/* eslint-disable unicorn/prefer-includes */
import { BgCard, BgText, BgIcon, BgRedDot, BgLink } from 'bangul-vue';

export default {
  components: { BgCard, BgText, BgIcon, BgRedDot, BgLink },
  props: {
    isFlat: {
      type: Boolean,
      default: false,
    },
    cardColor: {
      type: String,
      default: 'light',
    },
    cardSize: {
      type: String,
      default: 'sm',
    },
    title: {
      type: String,
      default: '',
    },
    titleSize: {
      type: String,
      default: 'title-5',
    },
    titleColor: {
      type: String,
      default: '',
    },
    subtitle: {
      type: String,
      default: '',
    },
    subtitleSize: {
      type: String,
      default: 'body-2',
    },
    subtitleColor: {
      type: String,
      default: '',
    },
    iconText: {
      type: [String, Number],
      default: '',
    },
    iconName: {
      type: String,
      default: '',
    },
    iconColor: {
      type: String,
      default: '',
    },
    iconType: {
      type: String,
      default: 'normal',
      validator(type) {
        return ['normal', 'circle'].indexOf(type) >= 0;
      },
    },
    iconSize: {
      type: String,
      default: 'md',
    },
    iconPosition: {
      type: String,
      default: 'center',
      validator(position) {
        return ['center', 'top'].indexOf(position) >= 0;
      },
    },
    description: {
      type: String,
      default: '',
    },
    hasRedDot: {
      type: Boolean,
      default: false,
    },
  },
  computed: {
    hasIcon() {
      return !!this.iconName || !!this.iconText || !!this.$slots.icon;
    },
    hasMainContent() {
      return !!this.$slots.title || !!this.$slots.subtitle || !!this.title || !!this.subtitle;
    },
  },
};
</script>

<style lang="scss" src="./MkActionCard.scss" scoped></style>
