.mk-action-card {
  display: flex;
  width: 100%;
  max-width: 100%;
  color: #404040;
  text-decoration: none;
  word-break: break-word;
  cursor: pointer;
  flex-direction: column;

  &__card {
    &--is-flat {
      border: 0;
      box-shadow: none;
    }
  }

  &__main {
    display: flex;
    justify-content: space-between;

    &-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;

      &-title {
        color: #303030;
      }
    }

    &-left {
      display: flex;

      &--top {
        align-items: flex-start;
      }

      &--center {
        align-items: center;
      }
    }

    &-icon {
      &-wrapper {
        position: relative;
        display: flex;
        height: 100%;
        margin-right: 8px;
        align-items: flex-start;
        flex-shrink: 0;

        /* stylelint-disable max-nesting-depth */
        &--top {
          align-items: flex-start;
        }

        &--center {
          align-items: center;
        }

        &--circle {
          position: relative;
          display: flex;
          width: 40px;
          height: 40px;
          margin-right: 16px;
          color: #fff;
          background-color: #373d3f;
          border-radius: 50%;
          flex-shrink: 0;
          align-items: center;
          justify-content: center;
        }
        /* stylelint-enable */
      }

      &-icon {
        flex-shrink: 0;
      }
    }

    &-right {
      display: flex;
      align-items: center;
      flex-shrink: 0;
    }
  }

  &__description {
    margin-top: 12px;
    font-size: 16px;
    line-height: 24px;
  }

  $this: &;

  &--dark {
    &,
    #{$this}__main-content-title {
      color: #fff;
    }
  }
}
