<template>
  <div class="goldplus-payment-mobile">
    <gold-plus-header>
      <span slot="title">Pembayaran Tagihan Goldplus</span>
    </gold-plus-header>
    <mk-three-dots-loading v-if="isLoadingData" />
    <bg-tabs v-else class="goldplus-payment-mobile__tab">
      <bg-tab id="goldplusPaymentUnpaid" title="Butuh Pembayaran">
        <div v-if="pendingBillingList.total > 0">
          <gold-plus-payment-list-card
            v-for="(item, i) in pendingArray"
            :key="i"
            :list-data="item"
            @onClickDetails="handleViewDetails"
          />
          <bg-button-icon
            @click="handleLoadMore('pending')"
            v-if="isShowLoadMorePending"
            icon="reload"
            variant="primary-naked"
            block
          />
          <mk-three-dots-loading v-if="isLoadingLoadMorePending" />
        </div>
        <gold-plus-payment-empty-list v-else />
      </bg-tab>
      <bg-tab id="goldplusPaymentDone" title="Selesai">
        <div v-if="doneBillingList.total > 0">
          <gold-plus-payment-list-card
            v-for="(item, i) in doneArray"
            :key="i"
            :list-data="item"
            :is-unpaid="false"
            @onClickDetails="handleViewDetails"
          />
          <bg-button-icon
            @click="handleLoadMore('done')"
            v-if="isShowLoadMoreDone"
            icon="reload"
            variant="primary-naked"
            block
          />
          <mk-three-dots-loading v-if="isLoadingLoadMoreDone" />
        </div>
        <gold-plus-payment-empty-list v-else :is-unpaid="false" />
      </bg-tab>
    </bg-tabs>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex';
import { BgTabs, BgTab, BgButtonIcon } from 'bangul-vue';
import GoldPlusHeader from '../../../components/GoldPlusHeader';
import GoldPlusPaymentListCard from '../components/GoldPlusPaymentListCard';
import GoldPlusPaymentEmptyList from '../components/GoldPlusPaymentEmptyList';
import MkThreeDotsLoading from '~/components/global/atoms/MkThreeDotsLoading';

export default {
  components: {
    BgTabs,
    BgTab,
    BgButtonIcon,
    GoldPlusPaymentListCard,
    GoldPlusPaymentEmptyList,
    GoldPlusHeader,
    MkThreeDotsLoading,
  },
  data() {
    return {
      isBottom: false,
      dataPerPage: 10,
      isLoadingPagination: false,
      isLoadingData: false,
      pagination: { limit: 10, offset: 0 },
      pendingArray: [],
      doneArray: [],
      page: 0,
    };
  },
  computed: {
    ...mapState('goldplus', ['pendingBillingList', 'doneBillingList']),
    isLoadingLoadMorePending() {
      return this.pendingBillingList.total > this.dataPerPage && this.isLoadingPagination;
    },
    isLoadingLoadMoreDone() {
      return this.doneBillingList.total > this.dataPerPage && this.isLoadingPagination;
    },
    isShowLoadMorePending() {
      return (
        this.page + 1 < this.countTotalPage(this.pendingBillingList.total) &&
        !this.isLoadingPagination
      );
    },
    isShowLoadMoreDone() {
      return (
        this.page + 1 < this.countTotalPage(this.doneBillingList.total) && !this.isLoadingPagination
      );
    },
  },
  mounted() {
    this.handleFetchBillingList({ ...this.pagination, type: 'pending' });
    this.handleFetchBillingList({ ...this.pagination, type: 'done' });
  },
  methods: {
    ...mapActions('goldplus', ['fetchBillingList']),
    async handleFetchBillingList(params) {
      this.isLoadingData = true;
      try {
        await this.fetchBillingList(params);
        this.pendingArray = this.pendingBillingList.billings;
        this.doneArray = this.doneBillingList.billings;
      } catch (error) {
        this.$bugsnag.notify(error);
        this.$alert('is-danger', 'Gagal', 'Terjadi galat, silakan coba lagi.');
      }
      this.isLoadingData = false;
    },
    handleViewDetails(id) {
      this.$store.commit('goldplus/setBillingInvoiceData', { invoice_id: id });
      this.$router.push(`/goldplus/payment/${id}`);
    },
    countTotalPage(total) {
      return total > this.dataPerPage ? Math.ceil(total / this.dataPerPage) : 1;
    },
    async handleLoadMore(type) {
      this.page = this.page + 1;
      this.isLoadingPagination = true;

      if (type === 'pending') {
        if (this.page < this.countTotalPage(this.pendingBillingList.total)) {
          this.pagination.offset = this.page * this.dataPerPage;
          await this.fetchBillingList({
            type,
            ...this.pagination,
          });
          this.pendingArray.push(...this.pendingBillingList.billings);
        }
      } else if (type === 'done') {
        if (this.page < this.countTotalPage(this.doneBillingList.total)) {
          this.pagination.offset = this.page * this.dataPerPage;
          await this.fetchBillingList({
            type,
            ...this.pagination,
          });
          this.doneArray.push(...this.doneBillingList.billings);
        }
      }

      this.isLoadingPagination = false;
    },
  },
};
</script>

<style lang="scss" scoped src="./mobile.scss" />
