<template>
  <div>
    <!-- eslint-disable-next-line vue/require-component-is -->
    <component :is="view"></component>
  </div>
</template>

<script>
import pageView from '~/mixins/page-view';

export default {
  layout({ isDesktop }) {
    return `default/${isDesktop ? 'desktop' : 'mobile'}/index`;
  },
  head() {
    const header = {};
    if (this.$device.isDesktop) {
      header.meta = [{ hid: 'viewport', name: 'viewport', content: 'width=1200' }];
    }
    return header;
  },
  name: 'BookingActivationRoute',
  mixins: [pageView],
  meta: {
    hideSidebar: true,
    showMobileBackButton: true,
    hideMobileFloatingChat: true,
    hideBottomNavbar: true,
  },
  data() {
    let component;
    // component path needs to write explicitly so that webpack can create chunk based on explicit path
    if (this.$device.isDesktop) {
      component = import(
        /* webpackChunkName: "page-view-booking-activation-desktop" */ `~/components/page-features/kos-booking-activation/desktop`
      );
    } else {
      component = import(
        /* webpackChunkName: "page-view-booking-activation-mobile" */ `~/components/page-features/kos-booking-activation/mobile`
      );
    }
    return {
      component,
    };
  },
};
</script>

<style></style>
