<template>
  <div class="manfaat-booking-webview">
    <h1 class="title">Manfaat Booking Langsung</h1>
    <ul class="item-content">
      <li
        :key="index + 'directBooking'"
        v-for="(data, index) in dataDirectBooking"
        class="list-items"
      >
        <img v-lazy="data.icon" class="images-icons" />
        <div class="description">
          <h4 class="title">{{ data.title }}</h4>
          <p v-text="data.description" class="text" />
        </div>
      </li>
    </ul>
  </div>
</template>

<script>
import directBooking from '@/components/page-features/kos-booking-register/component/data/directBooking';

export default {
  name: 'ManfaatBookingWebViewPage',
  meta: {
    isNoAuthentication: true,
  },
  head() {
    const header = {};
    return header;
  },
  computed: {
    dataDirectBooking() {
      return directBooking;
    },
  },
};
</script>

<style lang="scss" scoped>
.manfaat-booking-webview {
  height: 100vh;
  padding: 15px;
  overflow: auto;
  .title {
    margin-bottom: 35px;
    font-size: 24px;
    font-weight: 900;
    color: #242424;
  }
  .item-content {
    text-align: left;
    // stylelint-disable selector-max-type
    .list-items {
      display: flex;
      align-items: flex-start;
      margin-bottom: 20px;
    }
    .images-icons {
      height: 36px;
      margin-right: 15px;
    }
    .description {
      // stylelint-disable  selector-max-compound-selectors
      .title {
        margin-bottom: 5px;
        font-size: 20px;
        font-weight: bold;
        color: #303030;
      }
      .text {
        font-size: 16px;
        color: #404040;
      }
    }
  }
}
</style>
