.suggestion-modal {
  position: relative;
  padding: 24px;
  text-align: center;

  @media screen and (max-width: 768px) {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 25px 15px 15px;
    margin-bottom: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;

    &.closable::before {
      position: absolute;
      top: 15px;
      left: 50%;
      width: 40px;
      height: 6px;
      content: '';
      background-color: #dbdbdb;
      border-radius: 50px;
      transform: translate(-50%, 0);
    }
  }

  &__close {
    position: absolute;
    top: 24px;
    right: 24px;
    @media screen and (max-width: 768px) {
      display: none;
    }
  }

  &__title {
    font-size: 24px;
    font-weight: 900;
    line-height: 32px;
    color: #303030;
    text-align: center;

    @media screen and (max-width: 768px) {
      font-size: 18px;
    }
  }

  &__caption {
    margin-top: 8px;
    font-size: 16px;
    line-height: 24px;
    color: #404040;
    text-align: center;

    @media screen and (max-width: 768px) {
      margin-top: 5px;
    }
  }

  &__button {
    width: 274px;
    height: 48px;
    padding: 12px 16px;
    margin-top: 24px;
    font-size: 16px;
    font-weight: bold;
    @media screen and (max-width: 768px) {
      width: 100%;
    }
  }
}
