<template>
  <mk-modal
    v-if="!isLoading"
    v-model="active"
    :backdrop="closable"
    @backdropClick="handleBackdropClicked"
  >
    <mk-card :max-width="596" :class="{ closable: closable }" class="suggestion-modal">
      <mk-card-body>
        <b-icon
          v-if="closable"
          @click.native="toggleModal(false)"
          icon="close"
          class="suggestion-modal__close"
        />
        <img src="~/assets/images/booking/register-booking.svg" class="suggestion-modal__image" />
        <div class="suggestion-modal__title">Beberapa Kos Belum Dapat Dibooking</div>
        <div class="suggestion-modal__caption">
          {{ notActiveKos }} kos Anda belum aktifkan fitur Booking Langsung. Yuk, aktifkan agar bisa
          dipesan online.
        </div>
        <b-button
          :to="{
            name: 'kos-booking-register',
            query: { redirect_url: redirectUrl },
            params: { previousPage: 'Popup Intercept Kelola Booking Langsung' },
          }"
          tag="router-link"
          type="is-primary"
          class="suggestion-modal__button"
        >
          Pelajari Booking Langsung
        </b-button>
      </mk-card-body>
    </mk-card>
  </mk-modal>
</template>

<script>
import { mapGetters } from 'vuex';
import MkModal from '~/components/global/molecules/MkModal';
import MkCard from '~/components/global/molecules/MkCard';
import MkCardBody from '~/components/global/molecules/MkCard/components/MkCardBody';
import { mixin } from '~/components/global/molecules/MkModal/MkModal';
import { forceBbk } from '~/utils/oxAbTest';

export default {
  name: 'BookingSuggestionModal',
  components: {
    MkModal,
    MkCard,
    MkCardBody,
  },
  mixins: [mixin],
  props: {
    notActiveKos: {
      type: Number,
      default: 0,
    },
  },
  data() {
    return {
      isLoading: true,
      closable: true,
      redirectUrl: window.location.href,
    };
  },
  computed: {
    ...mapGetters('profile', ['user']),
  },
  created() {
    forceBbk(
      {
        userId: this.user.user_id,
        endpoint: this.$api.getOXAbTest,
        onDefaultReceived: () => {
          this.isLoading = false;
          this.closable = true;
        },
        onVariantAReceived: () => {
          this.isLoading = false;
          this.closable = false;
        },
      },
      this.$axios,
    );
  },
  methods: {
    handleBackdropClicked() {
      !this.closable &&
        this.$buefy.toast.open({
          duration: 2000,
          message: 'Mohon aktifkan Booking Langsung dahulu',
          position: 'is-bottom',
        });
    },
  },
};
</script>

<style src="./BookingSuggestionModal.scss" lang="scss" scoped></style>
