.premium-balance {
  max-width: 376px;
  @media screen and (max-width: 768px) {
    padding: 12px 7px;
  }

  &__header {
    margin-bottom: 40px;
  }

  &__back-icon {
    margin-right: 10px;
    cursor: pointer;

    &::v-deep .mdi-24px.mdi::before {
      font-size: 28px;
    }
  }
  &__title {
    font-size: 24px;
    font-weight: bold;
    line-height: 36px;
    color: rgba(0, 0, 0, 0.87);
  }

  &__label {
    margin-bottom: 16px;
    font-size: 20px;
    line-height: 30px;
    color: #484848;
  }

  &__input {
    height: 48px;
    margin-bottom: 8px;
    font-weight: bold;
  }

  &__wrapper-view {
    display: flex;
    align-items: center;
    margin-bottom: 56px;
    font-size: 16px;
    line-height: 24px;

    ::v-deep {
      .c-mk-icon {
        margin-right: 10px;
      }
    }
  }

  &__view {
    padding-left: 5px;
    font-weight: bold;
  }

  &__info {
    font-size: 14px;
    line-height: 21px;
    color: #1baa56;
  }

  &__error {
    font-size: 14px;
    line-height: 21px;
    color: #e52a34;
  }

  &__submit {
    margin-top: 16px;

    &[disabled] {
      color: #fff;
      background: #aaa;
      border-color: #aaa;
      opacity: 1;
    }
    &[disabled]:hover {
      opacity: 1;
    }
  }

  .footer-mobile {
    position: fixed;
    right: 0;
    bottom: 76px;
    left: 0;
    padding: 0 16px;
  }
}
