<template>
  <div class="premium-balance">
    <div v-if="$device.isDesktop" class="premium-balance__header">
      <b-icon
        @click.native="$router.back()"
        icon="arrow-left"
        class="premium-balance__back-icon"
      ></b-icon>
      <span class="premium-balance__title">Alokasi Saldo</span>
    </div>

    <div class="premium-balance__label">Masukkan Jumlah Alokasi Saldo</div>

    <mk-currency-input
      v-model="dailyBudget"
      @input="isDirty = true"
      :disabled="isLoading"
      class="premium-balance__input"
    />

    <div class="premium-balance__wrapper-view">
      <mk-icon :width="19" variant="money-bag"></mk-icon>
      Saldo Iklan:
      <span class="premium-balance__view">{{ balanceStr }}</span>
    </div>
    <div :class="{ 'footer-mobile': $device.isMobile }">
      <div v-if="isError" class="premium-balance__error">
        <b-icon icon="alert-circle" size="is-small" />
        Minimum Alokasi Saldo Rp5.000
      </div>
      <div v-else class="premium-balance__info">
        <b-icon icon="alert-circle" size="is-small" />
        Rekomendasi Alokasi Saldo Rp15.000 - Rp30.000
      </div>
      <mk-button
        @clicked="submitAllocation"
        :disabled="isLoading || isError || !isDirty"
        :has-spinner="isLoading"
        class="premium-balance__submit"
        color="green-brand"
        block
        >Konfirmasi</mk-button
      >
    </div>
  </div>
</template>

<script>
import MkCurrencyInput from '~/components/global/molecules/MkCurrencyInput';
import MkIcon from '~/components/global/atoms/MkIcon';
import MkButton from '~/components/global/atoms/MkButton';
import { toIDR } from '~/utils/currencyString';

export default {
  name: 'PremiumBalance',
  components: {
    MkCurrencyInput,
    MkIcon,
    MkButton,
  },
  data() {
    return {
      balance: this.$route.params.balance,
      dailyBudget: this.$route.params.dailyBudget,
      isError: false,
      isLoading: false,
      isDirty: false,
    };
  },
  computed: {
    balanceStr() {
      return toIDR(this.balance);
    },
  },
  watch: {
    dailyBudget: {
      immediate: true,
      handler(val) {
        if (val < 5000) this.isError = true;
        else this.isError = false;
      },
    },
  },
  beforeCreate() {
    const { params } = this.$route;
    // redirect to parent route if params doesn't exist
    if (
      [null, undefined].includes(params.balance) &&
      [null, undefined].includes(params.dailyBudget)
    ) {
      return this.$router.push({ path: `/premium-dashboard/kelola-iklan/${params.id}` });
    }
  },
  methods: {
    openToast(message) {
      this.$buefy.toast.open({
        message,
        duration: 2000,
        position: 'is-bottom',
      });
    },
    submitAllocation() {
      this.isLoading = true;
      this.$api
        .allocateDailyBudget(this.$route.params.id, { allocation: this.dailyBudget })
        .then((res) => {
          this.isLoading = false;
          if (res.data.status) {
            this.$router.push({ path: `/premium-dashboard/kelola-iklan/${this.$route.params.id}` });
          } else {
            this.openToast(res.data.message);
          }
        })
        .catch(() => {
          this.isLoading = false;
          this.openToast(`Alokasi gagal diupdate`);
        });
    },
  },
};
</script>

<style lang="scss" src="./PremiumBalance.scss" scoped></style>
