<template>
  <div class="select-kos">
    <select-kos-skeleton v-if="kosListData.loadingKosList && kosListData.firstLoad" />

    <template v-else>
      <div class="select-kos__title">
        <bg-text size="title-2" tag="span">
          Pilih kos yang ingin ditambahkan kontrak
        </bg-text>
        <bg-text v-if="!kosListData.isAllBbk" size="body-2" class="select-kos__desc">
          Penyewa hanya bisa ditambahkan di kos yang terdaftar Booking Langsung.
        </bg-text>
      </div>

      <div class="select-kos__cards">
        <div @click="selectKos(kos)" v-for="(kos, index) in kosListData.list" :key="index">
          <bg-card class="select-kos__card-item">
            <div>
              <bg-text size="body-1">
                {{ kos.room_title }}
              </bg-text>
              <bg-text size="body-2">
                {{ kos.area_formatted }}
              </bg-text>
            </div>

            <bg-icon name="chevron-right" />
          </bg-card>
        </div>
        <select-kos-skeleton
          v-if="kosListData.loadingKosList && !kosListData.firstLoad"
          :show-title="false"
        />
      </div>
    </template>
  </div>
</template>

<script>
import { mapState } from 'vuex';
import _get from 'lodash/get';
import { BgCard, BgIcon, BgText } from 'bangul-vue';
import SelectKosSkeleton from '../SelectKosSkeleton';
import EventBus from '~/components/event-bus/index.js';

export default {
  name: 'SelectKos',

  head() {
    return {
      title: 'Manajemen Kos - pilih kos yang ingin dilihat link-nya',
    };
  },

  components: {
    BgCard,
    BgIcon,
    BgText,
    SelectKosSkeleton,
  },

  computed: {
    ...mapState('contract', ['kosListData']),
  },

  created() {
    this.$store.dispatch('contract/getKosList', this.kosListData.pagination);
  },

  mounted() {
    this.onScrollSelectKos();
  },

  methods: {
    selectKos(room) {
      this.$store.commit('contract/updateKosSelected', room);
      this.trackOnSelectKos(room);
      this.$router.push('/add-tenant/from-tenant/setting');
    },
    onScrollSelectKos() {
      //  triggered from the route parent
      EventBus.$on('onScrollAddContractSelectKos', (event) => {
        if (!this.kosListData.pagination.has_more) {
          return;
        }

        if (!this.kosListData.loadingKosList) {
          const { scrollTop, scrollHeight, clientHeight } = event.target;
          if (scrollHeight - clientHeight === scrollTop) {
            return this.$store.dispatch('contract/getKosList', this.kosListData.pagination);
          }
        }
      });
    },
    trackOnSelectKos(room) {
      this.$tracker.send('moe', [
        '[Owner] DBET Tenant Options - Kos selected',
        {
          interface: this.$device.isMobile ? 'mobile' : 'desktop',
          selected_property_name: _get(room, 'title', ''),
          selected_property_type: 'kost',
          selected_property_id: _get(room, 'id', 0),
          selected_property_city: _get(room, 'area_city', ''),
          selected_property_subdistrict: _get(room, 'area_subdistrict', ''),
        },
      ]);
    },
  },
};
</script>

<style lang="scss" src="./SelectKos.scss"></style>
