.select-kos {
  @media (max-width: 650px) {
    width: 100%;
  }

  &__title {
    margin-top: 25px;

    @media (max-width: 767px) {
      margin-top: 0;
    }
  }

  &__desc {
    margin-top: 25px !important;

    @media (max-width: 767px) {
      display: none;
    }
  }

  &__cards {
    display: flex;
    margin-top: 45px;
    flex-direction: column;

    @media (max-width: 767px) {
      margin-top: 25px;
      flex-direction: column;
    }
  }

  &__card-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 606px;
    height: 84px;
    margin-bottom: 15px;
    cursor: pointer;

    @media (max-width: 650px) {
      width: 100%;
    }
  }
}
