/* stylelint-disable selector-max-type */

.scheme-card {
  line-height: 1.5;

  @media (max-width: 480px) {
    padding-top: 20px;
    background-color: transparent;
    border-top: 1px solid #e8e8e8;
    border-radius: unset;
    box-shadow: unset;
  }

  &__body {
    padding: 20px;
    border-radius: 16px;

    @media (max-width: 480px) {
      padding: 0;
      background-color: transparent;
    }
  }

  &__title {
    font-size: 16px;
    font-weight: 900;
    color: #303030;
  }

  &__desc {
    margin-bottom: 20px;
    font-size: 14px;
    color: #404040;
  }

  &__button {
    color: #404040;

    ::v-deep span {
      font-size: 14px;
      font-weight: bold;
    }
  }
}
