<template>
  <div class="scheme-card-wrapper">
    <mk-card class="scheme-card">
      <mk-card-body class="scheme-card__body">
        <strong class="scheme-card__title">
          Perbandingan Skema Poin
        </strong>
        <p class="scheme-card__desc">
          Anda dapat melihat skema poin lebih detail
        </p>
        <b-button @click="handleSchemeCardButtonClick" outlined class="scheme-card__button">
          Pelajari Lebih Lanjut
        </b-button>
      </mk-card-body>
    </mk-card>
  </div>
</template>

<script>
import { mapGetters, mapState } from 'vuex';
import MkCard from '~/components/global/molecules/MkCard';
import MkCardBody from '~/components/global/molecules/MkCard/components/MkCardBody';

export default {
  name: 'SchemeCard',
  components: {
    MkCard,
    MkCardBody,
  },
  computed: {
    ...mapState('profile', {
      profileData: (state) => state.data,
    }),
    ...mapGetters('profile', ['user', 'isBooking', 'isPremium', 'membership']),
    isDesktop() {
      return this.$device.isDesktop;
    },
  },
  methods: {
    handleSchemeCardButtonClick() {
      this.$router.push('/mamipoin/scheme');
      this.$tracker.send('moe', [
        '[Owner] Pelajari Lebih Lanjut Clicked',
        {
          interface: this.isDesktop ? 'desktop' : 'mobile',
          is_owner: true,
          is_mamipay: this.membership.is_mamipay_user,
          is_booking: this.isBooking,
          is_premium_owner: this.isPremium,
          point_total: this.profileData.total_mamipoin,
        },
      ]);
    },
  },
};
</script>

<style lang="scss" scoped src="./SchemeCard.scss"></style>
