<template>
  <!-- eslint-disable-next-line vue/require-component-is -->
  <component :is="view"></component>
</template>

<script>
import pageView from '~/mixins/page-view';

export default {
  layout({ isDesktop }) {
    return `default/${isDesktop ? 'desktop' : 'mobile'}/index`;
  },
  head() {
    const header = {
      title: 'Survey Owner Mamikos',
    };
    if (this.$device.isDesktop) {
      header.meta = [{ hid: 'viewport', name: 'viewport', content: 'width=1200' }];
    }
    return header;
  },
  name: 'SurveyPage',
  mixins: [pageView],
  meta: {
    hideSidebar: true,
    showMobileBackButton: true,
    hideMobileFloatingChat: true,
    prevPath: {
      name: 'survey',
      path: '/survey',
    },
  },
  data() {
    let component;
    // component path needs to write explicitly so that webpack can create chunk based on explicit path
    if (this.$device.isDesktop) {
      component = import(
        /* webpackChunkName: "page-view-mamipoin-redeem-detail" */ `~/components/page-features/survey/components/SurveyQuestions`
      );
    } else {
      component = import(
        /* webpackChunkName: "page-view-mamipoin-redeem-detail" */ `~/components/page-features/survey/components/SurveyQuestions`
      );
    }
    return {
      component,
    };
  },
  computed: {
    isDesktop() {
      return this.$device.isDesktop;
    },
  },
};
</script>
