<template>
  <nav
    :class="[
      `c-mk-top-navbar-mweb--${type || 'normal'}`,
      `c-mk-top-navbar-mweb--title-${titleAlignment || 'left'}`,
      { 'c-mk-top-navbar-mweb--no-back': !isShowBackButton },
    ]"
    class="c-mk-top-navbar-mweb"
  >
    <bg-link v-if="isShowBackButton" @click="$emit('back')" class="c-mk-top-navbar-mweb__back">
      <bg-icon name="back" />
    </bg-link>
    <bg-text v-if="title" :size="titleTextSize" class="c-mk-top-navbar-mweb__title">
      {{ title }}
    </bg-text>
  </nav>
</template>

<script>
import { BgIcon, BgText, BgLink } from 'bangul-vue';

export default {
  name: 'MkTopNavbarMweb',
  components: {
    BgIcon,
    BgText,
    BgLink,
  },
  props: {
    title: {
      type: String,
      default: '',
    },
    titleAlignment: {
      type: String,
      default: '',
    },
    titleSize: {
      type: String,
      default: '',
    },
    isShowBackButton: {
      type: Boolean,
      default: false,
    },
    type: {
      type: String,
      default: 'normal',
    },
  },
  computed: {
    titleTextSize() {
      return this.titleSize || (this.isShowBackButton ? 'heading-6' : 'heading-4');
    },
  },
};
</script>

<style lang="scss" src="./MkTopNavbarMweb.scss" scoped></style>
