.c-mk-top-navbar-mweb {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  display: flex;
  width: 100%;
  min-height: 56px;
  padding: 4px;
  background-color: #fff;
  border-bottom: 1px solid #e8e8e8;
  align-items: center;

  &__back {
    z-index: 1;
    display: flex;
    padding: 12px;
    margin-right: 4px;
    align-items: center;
    justify-content: center;
  }

  $this: &;

  &--title-center {
    #{$this}__title {
      position: relative;
      left: -52px;
      width: 100%;
      margin-left: 52px;
      text-align: center;
    }
  }

  &--no-back {
    padding-right: 16px;
    padding-left: 16px;

    &#{$this}--title-center {
      #{$this}__title {
        left: 0;
        margin-left: 0;
      }
    }
  }

  &--flat {
    border: 0;
  }
}
