.bm-filter {
  &__card {
    border: 1px solid #e8e8e8;
    border-radius: 8px;
    box-shadow: none;
  }

  &__kost {
    border-right: 1px solid #e8e8e8;

    &-title {
      display: block;
      font-size: 16px;
    }

    &-label {
      position: relative;
      display: flex;
      justify-content: space-between;
      cursor: pointer;

      .icon-down {
        position: absolute;
        right: 14px;
      }
    }

    &-text {
      width: 88%;
      max-width: calc(100vw - 700px);
      overflow: hidden;
      font-size: 24px;
      font-weight: 900;
      line-height: 32px;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  &__date {
    position: relative;
    cursor: pointer;

    &-picker {
      position: absolute;
      z-index: 2;
    }

    &-input {
      width: 100%;
      height: 45px;
      box-sizing: border-box;
      font-size: 20px;
      text-indent: 20px;
      cursor: pointer;
      background: #fff;
      border: 1px solid #dadada;
      border-radius: 4px;
    }

    .icon-down {
      position: absolute;
      top: 15px;
      right: 5%;
    }
  }

  &__rent {
    position: relative;
    cursor: pointer;

    &-input {
      width: 100%;
      height: 45px;
      box-sizing: border-box;
      font-size: 20px;
      text-indent: 20px;
      cursor: pointer;
      background: #fff;
      border: 1px solid #dadada;
      border-radius: 4px;
    }

    .icon-down {
      position: absolute;
      top: 15px;
      right: 5%;
    }
  }
}

.--is-vcentered {
  display: flex;
  align-items: center;
}

.--is-truncate-input {
  padding-right: 1.75rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media (min-width: 480px) {
  .bm-filter {
    &__card-body {
      display: flex;
      padding: 0;

      .columns {
        padding: 8px 16px;
        margin: 0;
        flex: 1;
      }
    }
  }
}

@media (max-width: 480px) {
  .bm-filter {
    margin: -10px;

    &__card {
      border: 0;
    }

    .columns {
      padding: 10px 10px 0;
    }

    &__kost {
      border-right: 0;

      &-text {
        max-width: 100%;
        font-size: 20px;
        line-height: 28px;
      }

      &-label {
        .icon-down {
          top: 25%;
          right: 0;
          width: 18px;
        }
      }
    }

    &__date {
      &-input {
        height: 35px;
        font-size: 14px;
        text-indent: 10px;
      }

      .icon-down {
        top: 8px;
        right: 4.33%;
      }
    }

    &__rent {
      &-input {
        height: 35px;
        font-size: 14px;
        text-indent: 10px;
      }

      .icon-down {
        top: 8px;
        right: 4.33%;
      }
    }
  }
}
