<template>
  <div class="bm-filter">
    <mk-card class="bm-filter__card">
      <mk-card-body class="bm-filter__card-body">
        <div class="columns">
          <div class="column is-half is-full-mobile">
            <div class="bm-filter__kost">
              <span class="bm-filter__kost-title">
                Tagihan di
              </span>
              <div @click="openFilterKostModal" class="bm-filter__kost-label">
                <strong class="bm-filter__kost-text">
                  <span v-if="!selectedKost" class="c-loader"></span>
                  <template v-else>
                    {{ selectedKost }}
                  </template>
                </strong>
                <img
                  src="~assets/images/billing_management/ic_chevron_down.svg"
                  class="icon-down"
                  alt="Icon arrow down"
                />
              </div>
            </div>
          </div>
          <div class="columns is-half is-1 is-multiline is-variable is-mobile">
            <div class="column --is-vcentered">
              <div v-if="$device.isDesktop" class="bm-filter__date">
                <input
                  id="inputFilter"
                  @click="toggleDatePicker"
                  :value="selectedMonthText"
                  type="text"
                  class="bm-filter__date-input --is-truncate-input"
                  readonly
                />
                <img
                  @click="toggleDatePicker"
                  src="~assets/images/billing_management/ic_dropdown_down.svg"
                  class="icon-down"
                  alt="Icon arrow down"
                />
                <div class="bm-filter__date-picker">
                  <b-datepicker
                    ref="monthPicker"
                    v-if="isDatepickerOpen"
                    v-model="selectedMonth"
                    :date-formatter="dateFormatter"
                    :mobile-native="false"
                    :years-range="datepickerRange"
                    @input="changeDate"
                    inline
                    type="month"
                    trap-focus
                  >
                  </b-datepicker>
                </div>
              </div>

              <div v-if="$device.isMobile" class="bm-filter__date">
                <b-datepicker
                  ref="monthPicker"
                  v-model="selectedMonth"
                  :date-formatter="dateFormatter"
                  :mobile-native="false"
                  :years-range="datepickerRange"
                  @input="changeDate"
                  type="month"
                  trap-focus
                >
                </b-datepicker>
                <img
                  src="~assets/images/billing_management/ic_dropdown_down.svg"
                  class="icon-down"
                  alt="Icon arrow down"
                />
              </div>
            </div>
            <div class="column --is-vcentered">
              <div @click="openFilterRentModal" class="bm-filter__rent">
                <input
                  id="inputFilter"
                  :value="selectedRentType"
                  type="text"
                  class="bm-filter__rent-input --is-truncate-input"
                  readonly
                />
                <img
                  src="~assets/images/billing_management/ic_dropdown_down.svg"
                  class="icon-down"
                  alt="Icon arrow down"
                />
              </div>
            </div>
          </div>
        </div>
      </mk-card-body>
    </mk-card>
  </div>
</template>

<script>
import MkCard from '~/components/global/molecules/MkCard';
import MkCardBody from '~/components/global/molecules/MkCard/components/MkCardBody';
import billing from '~/components/page-features/kelola-tagihan/mixins/billing';
import rentType from '~/components/page-features/kelola-tagihan/data/rentType';

import { truncate } from '~/utils/string';

export default {
  name: 'BillingManagementFilter',
  components: {
    MkCard,
    MkCardBody,
  },

  filters: {
    truncate,
  },
  mixins: [billing],
  data() {
    return {
      rentType,
      isDatepickerOpen: false,
      selectedMonth: null,
      datepickerRange: [-2, 1],
    };
  },

  computed: {
    selectedKost() {
      return this.$store.state.billingManagement.selectedKost.kostName;
    },
    selectedRentType() {
      return this.rentType(this.$store.state.billingManagement.filterOption.rentType);
    },
    selectedMonthText() {
      return this.$dayjs(this.selectedMonth).format('MMMM YYYY');
    },
    page() {
      return this.$route.query.page;
    },
  },

  mounted() {
    const { year, month } = this.$route.query;
    if (year || month) {
      this.selectedMonth = new Date(`${year}-${month}-01`);
    } else {
      this.selectedMonth = new Date();
    }
  },

  methods: {
    changeDate(date) {
      const month = this.$dayjs(date).format('MM');
      const year = this.$dayjs(date).format('YYYY');
      const { rentType, selectedKost } = this.$route.query;

      this.$router.replace({ query: { selectedKost, month, year, page: this.page, rentType } });

      this.$store.commit('billingManagement/updateFilterDate', {
        month,
        year,
      });
      this.getAllBillingSummary();
      this.getBillListInvoices({
        invoiceStatus: this.page,
      });

      this.updateDatepickerRange(year);
      this.isDatepickerOpen = false;
    },
    dateFormatter(date) {
      const stringDate = this.$dayjs(date).format('MMMM YYYY');
      return this.$device.isMobile ? this.$options.filters.truncate(stringDate, 12) : stringDate;
    },
    openFilterKostModal() {
      this.$emit('click:filter-kost-button');
    },
    openFilterRentModal() {
      this.$emit('click:filter-rent-button');
    },
    toggleDatePicker() {
      this.isDatepickerOpen = !this.isDatepickerOpen;
    },
    updateDatepickerRange(selectedYear) {
      const currentYear = new Date().getFullYear();
      const maxYearRange = 1 + currentYear - selectedYear;
      this.datepickerRange[1] = maxYearRange;
    },
  },
};
</script>

<style lang="scss" src="./BillingManagementFilter.scss" scoped></style>
