<template>
  <div :class="isDesktop ? '--desktop' : '--mobile'" class="mamipoin-pagination">
    <b-button
      :disabled="isLoading || paginationCurrent === 1"
      @click.native="handlePaginationChange(1)"
      size="is-small"
      class="pagination-link pagination-first"
    >
      <b-icon size="is-small" icon="chevron-double-left" />
    </b-button>
    <b-pagination
      :total="total"
      :current.sync="paginationCurrent"
      :per-page="limit"
      :range-before="isDesktop ? 2 : 0"
      :range-after="isDesktop ? 2 : 0"
      :class="paginationClass"
      @change="handlePaginationChange"
      size="is-small"
      class="pagination-list-all"
    >
      <b-pagination-button
        slot="previous"
        slot-scope="props"
        :disabled="isLoading || paginationCurrent === 1"
        :page="props.page"
        size="is-small"
        tag="button"
      >
        <b-icon size="is-small" icon="chevron-left" />
      </b-pagination-button>

      <b-pagination-button
        slot="default"
        slot-scope="props"
        :disabled="isLoading"
        :page="props.page"
        :id="`page${props.page.number}`"
        tag="button"
      >
        {{ props.page.number }}
      </b-pagination-button>

      <b-pagination-button
        slot="next"
        slot-scope="props"
        :disabled="isLoading || paginationCurrent === totalPages"
        :page="props.page"
        size="is-small"
        tag="button"
      >
        <b-icon size="is-small" icon="chevron-right" />
      </b-pagination-button>
    </b-pagination>

    <b-button
      :disabled="isLoading || paginationCurrent === totalPages"
      @click.native="handlePaginationChange(totalPages)"
      size="is-small"
      class="pagination-link pagination-last"
    >
      <b-icon size="is-small" icon="chevron-double-right" />
    </b-button>

    <loading-modal v-model="isLoadingModalShown" />
  </div>
</template>
<script>
import LoadingModal from '../LoadingModal';

export default {
  name: 'MamipoinPagination',
  components: {
    LoadingModal,
  },
  model: {
    prop: 'current',
    event: 'update:current',
  },
  props: {
    hasNext: {
      required: true,
      type: Boolean,
      default: false,
    },
    current: {
      required: true,
      type: Number,
      default: 1,
    },
    isLoading: {
      type: Boolean,
      default: false,
    },
    total: {
      required: true,
      type: Number,
      default: 10,
    },
    totalPages: {
      type: Number,
      default: 1,
    },
    limit: {
      type: Number,
      default: 10,
    },
    showModalOnLoading: {
      type: Boolean,
      default: false,
    },
    order: {
      type: String,
      default: 'is-centered',
    },
  },
  data() {
    return {
      isLoadingModalShown: false,
    };
  },
  computed: {
    paginationClass() {
      const className =
        !this.isDesktop &&
        this.paginationCurrent > 2 &&
        this.paginationCurrent <= this.totalPages - 2
          ? '--has-extra'
          : '';

      return className;
    },
    paginationCurrent: {
      get() {
        return this.current;
      },
      set(val) {
        this.$emit('update:current', val);
      },
    },
    isDesktop() {
      return this.$device.isDesktop;
    },
  },
  watch: {
    isLoading(isLoading) {
      this.isLoadingModalShown = this.showModalOnLoading ? isLoading : false;
    },
  },
  methods: {
    handlePaginationChange(currentPage = 1) {
      !this.isLoading && this.$emit('update:current', currentPage);
    },
  },
};
</script>

<style lang="scss" scoped src="./MamipoinPagination.scss"></style>
