$active-color: #1baa56;
$inactive-color: #ddd;

/* stylelint-disable selector-max-type, selector-max-specificity, selector-max-compound-selectors, max-nesting-depth, plugin/no-unsupported-browser-features */

.mamipoin-pagination {
  display: flex;
  margin: 20px 0;

  &.--mobile {
    justify-content: center;
  }

  .pagination-first {
    order: 0;
  }

  .pagination-list-all {
    order: 1;
  }

  .pagination-last {
    order: 2;
  }

  ::v-deep .pagination {
    display: flex;

    .pagination-previous {
      order: 0;
      flex-grow: 0;
    }

    .pagination-list {
      order: 1;
      margin: 0 5px;
      flex-grow: 0;

      @media (max-width: 320px) {
        margin: 0;
      }
    }

    .pagination-next {
      order: 2;
      flex-grow: 0;
    }

    @media (max-width: 320px) {
      .pagination-previous,
      .pagination-next,
      .pagination-link,
      .pagination-ellipsis {
        margin: 0.125rem;
      }
    }
  }

  &.--has-extra {
    ::v-deep .pagination-list {
      li:nth-child(2),
      li:nth-child(4) {
        .pagination-ellipsis,
        .pagination-link {
          display: none;
        }

        &::after {
          padding-right: 0.25em;
          padding-left: 0.25em;
          font-size: 1em;
          color: #b5b5b5;
          text-align: center;
          content: '...';
          justify-content: center;
        }
      }
    }
  }

  ::v-deep .pagination-link {
    font-weight: 600;
    color: $active-color;
    background-color: #fff;
    border-color: $active-color;
    border-radius: 4px;

    &:hover {
      cursor: pointer;
      background-color: darken(#fff, 5%);
    }

    &.is-current {
      color: #fff;
      background-color: $active-color;
      border-color: $active-color;
    }

    &[disabled='disabled'] {
      color: $inactive-color;
      background-color: #fff;
      border-color: $inactive-color;

      &:hover {
        cursor: not-allowed;
      }
    }
  }
}
