<template>
  <!-- eslint-disable-next-line vue/require-component-is -->
  <component :is="view"></component>
</template>

<script>
import pageView from '~/mixins/page-view';

export default {
  layout({ isDesktop }) {
    return `default/${isDesktop ? 'desktop' : 'mobile'}/index`;
  },
  head() {
    const header = {};
    if (this.$device.isDesktop) {
      header.meta = [{ hid: 'viewport', name: 'viewport', content: 'width=1200' }];
    }
    return header;
  },
  validate({ params }) {
    return /^\d+$/.test(params.kos_id);
  },
  meta: {
    showMobileBackButton: true,
    hideMobileFloatingChat: true,
    hideBottomNavbar: true,
  },
  name: 'RoomsRoute',
  mixins: [pageView],
  data() {
    let component;
    // component path needs to write explicitly so that webpack can create chunk based on explicit path
    if (this.$device.isDesktop) {
      component = import(
        /* webpackChunkName: "page-view-rooms-edit" */ `~/components/page-features/rooms-edit/desktop`
      );
    } else {
      component = import(
        /* webpackChunkName: "page-view-rooms-edit" */ `~/components/page-features/rooms-edit/mobile`
      );
    }
    return {
      component,
    };
  },
  mounted() {
    this.$changes.init();
  },
};
</script>

<style></style>
