<template>
  <!-- eslint-disable-next-line vue/require-component-is -->
  <component :is="view"></component>
</template>

<script>
import pageView from '~/mixins/page-view';

export default {
  layout({ isDesktop }) {
    return `default/${isDesktop ? 'desktop' : 'mobile'}/index`;
  },
  head() {
    const header = {};
    if (this.$device.isDesktop) {
      header.meta = [{ hid: 'viewport', name: 'viewport', content: 'width=1200' }];
    }
    return header;
  },
  validate({ params, app }) {
    return /^\d+$/.test(params.kos_id) && app.$device.isMobile;
  },
  meta: {
    showMobileBackButton: true,
    hideMobileFloatingChat: true,
    hideBottomNavbar: true,
  },
  name: 'RoomsPriceRoute',
  mixins: [pageView],
  data() {
    const component = import(
      /* webpackChunkName: "page-view-rooms-price" */ `~/components/page-features/rooms-price/mobile`
    );
    return {
      component,
    };
  },
  mounted() {
    this.$changes.init();
  },
};
</script>

<style></style>
