<template>
  <div class="dbet-accept-skeleton">
    <bg-skeleton :height="24" :width="isMobile ? '60%' : '40%'" />
    <bg-skeleton v-for="i in 5" :key="i" :height="24" :width="isMobile ? '100%' : '80%'" />
  </div>
</template>

<script>
import { BgSkeleton } from 'bangul-vue';
export default {
  name: 'DbetAcceptSkeleton',
  components: {
    BgSkeleton,
  },
  computed: {
    isMobile() {
      return this.$device.isMobile;
    },
  },
};
</script>

<style lang="scss" src="./Skeleton.scss" scoped></style>
