.dbet-accept-skeleton {
  display: flex;
  width: 360px;
  max-width: 100%;
  margin: 0 auto;
  flex-direction: column;

  > *:not(:last-child) {
    margin-bottom: 24px;
  }

  > *:not(:first-child) {
    margin-bottom: 32px;
  }
}
