<template>
  <div id="kosReviews" class="kos-reviews">
    <top-nav
      @back="$router.replace('/')"
      :type="isScrolling ? 'normal' : 'flat'"
      :title="isScrolling ? 'Penilaian Kos Anda' : ''"
      is-show-back-button
    />

    <div ref="title">
      <bg-text size="heading-4" class="kos-reviews__title">
        Penilaian Kos Anda
      </bg-text>
    </div>

    <review-list class="kos-reviews__list" />
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex';
import { BgText } from 'bangul-vue';

import ReviewList from '~/components/page-features/kos-reviews/components/ReviewList';
import TopNav from '~/components/global/molecules/MkTopNavbarMweb';

export default {
  name: 'KosReviews',
  components: {
    BgText,
    ReviewList,
    TopNav,
  },
  data() {
    return {
      isScrolling: false,
    };
  },
  computed: {
    ...mapState('review', ['hasMore', 'isLoadingFetchMore']),
  },
  mounted() {
    this.addScrollEvent();
  },
  methods: {
    ...mapActions('review', ['fetchReviews']),
    async handleFetchReviews() {
      try {
        await this.fetchReviews(15);
      } catch (error) {
        this.$bugsnag.notify(error);
        this.$alert('is-danger', 'Gagal', 'Terjadi galat, silakan coba lagi.');
      }
    },
    addScrollEvent() {
      window.addEventListener('scroll', this.reviewListScrolled);
    },
    reviewListScrolled() {
      const { scrollTop, scrollHeight, clientHeight } = document.documentElement;
      const titleHeight = this.$refs.title.offsetHeight;

      this.isScrolling = scrollTop >= titleHeight;

      // listener to fetch reviews when scrolling reach the bottom
      const isAtBottom = scrollHeight - clientHeight <= Math.ceil(scrollTop);

      if (isAtBottom && this.hasMore && !this.isLoadingFetchMore) this.handleFetchReviews();
    },
  },
};
</script>

<style lang="scss" scoped src="./mobile.scss"></style>
