<template>
  <div class="mamipoin-rewards --desktop">
    <div class="mamipoin-rewards__content">
      <reward-content />
    </div>
  </div>
</template>

<script>
import RewardContent from '~/components/page-features/mamipoin/pages/rewards/components/RewardContent';

export default {
  name: 'MamipoinRewardsDesktop',
  components: {
    RewardContent,
  },
};
</script>
<style scoped lang="scss" src="./desktop.scss"></style>
