.notice-area {
  display: flex;
  background: #fcfcfc;
  border: 1px solid #f4f4f4;
  border-radius: 4px;
  min-height: 53px;
  margin-bottom: 17px;
  padding: 5px 9px;

  .description {
    font-size: 14px;
    color: #595959;
    padding: 1px 11px;
    display: block;
    padding: 10px 11px;
  }
}
