<template>
  <div class="notice-area">
    <img src="~assets/images/ic_information.svg" />
    <span class="description">{{ description }} </span>
  </div>
</template>

<script>
export default {
  props: {
    description: {
      type: String,
      default: '',
    },
  },
};
</script>

<style lang="scss" src="./NoticeArea.scss" scoped></style>
