$sendbird-header-height: 68px;
$bottom-navbar-height: 56px;
$bottom-navbar-z-index: 1030;
$sendbird-height: #{$sendbird-header-height} - #{$bottom-navbar-height};

/* stylelint-disable selector-max-specificity, selector-max-id, selector-max-compound-selectors */

@mixin sendbird-bottom-nav-style {
  #sb_widget {
    .channel-board {
      height: calc(100% - #{$sendbird-height});
    }
  }

  .mk-sb-widget {
    z-index: $bottom-navbar-z-index + 1;

    &__body {
      height: calc(100% - #{$sendbird-height});
    }
  }
}

.c-mk-bottom-navbar {
  ::v-deep {
    @include sendbird-bottom-nav-style;
  }
}
