<template>
  <div class="c-mk-bottom-navbar">
    <bg-bottom-nav>
      <bg-bottom-nav-item
        v-for="(menu, index) in menus"
        v-if="checkIfMenuAvailable(menu.icon)"
        @click="changeMenu(menu)"
        :key="index"
        :icon="menu.icon"
        :active="activeMenu === menu.icon"
        :show-badge="menu.showBadge"
        :badge-number-value="menu.badgeNumber"
      >
        {{ menu.label }}
      </bg-bottom-nav-item>
    </bg-bottom-nav>

    <mk-sendbird
      ref="sendbirdChatRoom"
      v-show="user.user_id"
      :cs-id="membership.cs_id"
      :user-id="user.user_id"
      :user-chat-name="user.chat_name"
      :user-chat-access-token="user.chat_access_token"
    />
  </div>
</template>

<script>
import _find from 'lodash/find';
import { mapGetters, mapState } from 'vuex';
import { BgBottomNav, BgBottomNavItem } from 'bangul-vue';
import MkSendbird from '~/components/global/organisms/MkSendbird';

export default {
  name: 'MkBottomNavbar',

  components: {
    BgBottomNav,
    BgBottomNavItem,
    MkSendbird,
  },

  data() {
    return {
      activeMenu: 'home',
      menus: [
        { label: 'Home', icon: 'home', showBadge: false, badgeNumber: 0, route: '/' },
        { label: 'Chat', icon: 'chat', showBadge: false, badgeNumber: 0, route: null },
        {
          label: 'Kelola',
          icon: 'kos-management',
          showBadge: false,
          badgeNumber: 0,
          route: '/manage-kos',
        },
        {
          label: 'Statistik',
          icon: 'statistic',
          showBadge: false,
          badgeNumber: 0,
          route: '/statistic',
        },
        {
          label: 'Akun',
          icon: 'profile',
          showBadge: false,
          badgeNumber: 0,
          route: `${process.env.MAMIKOS_URL}/ownerpage/settings`,
        },
      ],
    };
  },

  computed: {
    ...mapGetters('profile', ['membership', 'user']),
    ...mapState('profile', ['unreadMessages']),
    ...mapState('mobile', ['hideMobileFloatingChat']),
  },

  watch: {
    unreadMessages: {
      immediate: true,
      handler(total) {
        this.updateTotalMessages(total);
      },
    },
    $route: {
      immediate: true,
      handler(route) {
        this.checkActiveMenu(route);
      },
    },
  },

  methods: {
    checkActiveMenu(route) {
      if (route.path === '/') {
        this.activeMenu = 'home';
      } else if (route.path === '/statistic') {
        this.activeMenu = 'statistic';
      } else {
        this.activeMenu = 'kos-management';
      }
    },
    checkIfMenuAvailable(menu) {
      if (menu === 'chat') {
        // hideMobileFloatingChat is temporary flag. Still waiting UXD decide it (comment from the prev component)
        return this.user.user_id && !this.hideMobileFloatingChat;
      } else {
        return true;
      }
    },
    changeMenu(menu) {
      const lastActiveMenu = this.activeMenu;
      this.activeMenu = menu.icon;

      if (menu.icon === 'chat') {
        this.$refs.sendbirdChatRoom.handleSbWidgetButtonClicked();
        this.$refs.sendbirdChatRoom.sbWidgetButton.click();
      } else if (menu.icon === 'profile') {
        this.$refs.sendbirdChatRoom.handleCloseClicked();
        window.location.href = menu.route;
      } else {
        if (lastActiveMenu === 'chat') {
          this.$refs.sendbirdChatRoom.handleCloseClicked();
        }
        this.$router.push(menu.route);
      }
    },
    updateTotalMessages(total) {
      const chatProps = _find(this.menus, (menu) => menu.icon === 'chat');

      if (total > 0) {
        chatProps.showBadge = true;
        chatProps.badgeNumber = total;
      } else {
        chatProps.showBadge = false;
      }
    },
  },
};
</script>

<style lang="scss" src="./MkBottomNavbar.scss" scoped></style>
