<template>
  <mk-modal v-model="isActive" class="modal-add-tenant-intercept">
    <mk-card :max-width="574" class="modal-add-tenant-intercept__card">
      <mk-card-header class="modal-add-tenant-intercept__header">
        <b-icon
          @click.native="toggleModal(false)"
          class="modal-add-tenant-intercept__icon-close"
          icon="close"
          size="is-medium"
        ></b-icon>
      </mk-card-header>
      <mk-card-body class="modal-add-tenant-intercept__body">
        <img
          class="modal-add-tenant-intercept__body-image"
          src="~assets/images/room/success-update-kost.svg"
          alt="success update kost image"
        />
        <h1 class="modal-add-tenant-intercept__body-title">Anda belum tambah data penyewa</h1>
        <p class="modal-add-tenant-intercept__body-description">
          Sebelum menandai kamar menjadi "sudah berpenghuni", mohon tambahkan data penyewa terlebih
          dahulu.
        </p>
      </mk-card-body>
      <mk-card-footer class="modal-add-tenant-intercept__footer">
        <mk-button
          @clicked="goToAddTenant"
          color="green-brand"
          class="modal-add-tenant-intercept__footer-action-btn"
          block
          >Tambah Penyewa</mk-button
        >
      </mk-card-footer>
    </mk-card>
  </mk-modal>
</template>

<script>
import MkModal from '~/components/global/molecules/MkModal/MkModal';
import MkCard from '~/components/global/molecules/MkCard';
import MkCardBody from '~/components/global/molecules/MkCard/components/MkCardBody';
import MkCardHeader from '~/components/global/molecules/MkCard/components/MkCardHeader';
import MkCardFooter from '~/components/global/molecules/MkCard/components/MkCardFooter';
import MkButton from '~/components/global/atoms/MkButton';

export default {
  name: 'ModalAddTenantIntercept',
  components: {
    MkButton,
    MkModal,
    MkCard,
    MkCardBody,
    MkCardHeader,
    MkCardFooter,
  },
  data() {
    return {
      mamikosUrl: process.env.MAMIKOS_URL,
      isActive: false,
      kosId: '',
      roomId: '',
    };
  },
  computed: {
    addTenantWebview() {
      return this.$store.state.addTenant.webviewInterface;
    },
    addTenantUrl() {
      const addTenantUrl = `${this.mamikosUrl}/ownerpage/manage/add-tenant/select-kost`;
      const queryStringKeys = {
        interface: this.addTenantWebview,
        k: this.kosId,
        r: this.roomId,
        from: 'update-kamar',
      };

      const addTenantQueryString = Object.keys(queryStringKeys)
        .filter((key) => !!queryStringKeys[key])
        .map((key) => `${encodeURIComponent(key)}=${encodeURIComponent(queryStringKeys[key])}`)
        .join('&');

      return addTenantQueryString ? `${addTenantUrl}?${addTenantQueryString}` : addTenantUrl;
    },
  },
  methods: {
    toggleModal(isActive, kosId = '', roomId = '') {
      this.isActive = isActive;
      this.kosId = kosId;
      this.roomId = roomId;
    },
    goToAddTenant() {
      window.location.replace(this.addTenantUrl);
    },
  },
};
</script>

<style lang="scss" src="./ModalAddTenantIntercept.scss" scoped></style>
