.modal-add-tenant-intercept {
  &__header {
    padding: 36px 36px 0;
    text-align: right;
  }

  &__icon-close {
    width: 20px;
    height: 20px;
    color: #757575;
    cursor: pointer;
  }

  &__body {
    padding: 24px 32px 32px;
    text-align: center;

    &-image {
      width: 100%;
      max-width: 224px;
      margin-bottom: 40px;
    }

    &-title {
      margin-bottom: 8px;
      font-size: 24px;
      font-weight: 900;
      line-height: 32px;
      color: #303030;
    }

    &-description {
      font-size: 16px;
      line-height: 24px;
      color: #484848;
    }
  }

  &__footer {
    padding: 0 32px 32px;
    border-top: 0;

    &-action-btn {
      padding: 13px 20px;
      font-size: 16px;
      line-height: 20px;
    }
  }

  @media (max-width: 574px /* modal width breakpoint */) {
    justify-content: flex-end;

    &__card {
      margin-bottom: 0;
      border-radius: 0;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
    }

    &__header {
      padding: 20px 20px 0;
    }

    &__body {
      padding: 12px 16px 32px;

      &-title {
        font-size: 20px;
        line-height: 28px;
      }
    }

    &__footer {
      padding: 0 16px 16px;
    }
  }
}
