<template>
  <div class="form-input-wrapper">
    <mk-field-input
      v-model="priceName"
      label="Nama Biaya"
      type="text"
      bordered
      placeholder="Contoh: Listrik, Parkir"
    />

    <div class="price-value">
      <label>Jumlah Biaya</label>
      <mk-currency-input v-model="priceVal" />
    </div>

    <div class="form-action-button">
      <mk-button
        @clicked="savePrice"
        :disabled="isLoading || !priceName || !priceVal"
        :has-spinner="isLoading"
        class="additional-price-action-button"
        color="green-brand"
      >
        Simpan
      </mk-button>
    </div>
  </div>
</template>

<script>
import MixinRoomAdditionalPrice from '../../mixins/room-additional-price-form';
import MkButton from '~/components/global/atoms/MkButton';
import MkCurrencyInput from '~/components/global/molecules/MkCurrencyInput';
import MkFieldInput from '~/components/global/atoms/MkFieldInput';

export default {
  name: 'AdditionalFormPriceOther',

  components: {
    MkButton,
    MkCurrencyInput,
    MkFieldInput,
  },

  mixins: [MixinRoomAdditionalPrice],

  data() {
    return {
      priceName: '',
      priceVal: 0,
    };
  },

  created() {
    this.setInitialValue();
  },

  methods: {
    setInitialValue() {
      if (this.value) {
        this.priceName = this.value.name;
        this.priceVal = this.value.price;
      }
    },
    savePrice() {
      this.submit({
        name: this.priceName,
        price: this.priceVal,
      });
    },
  },
};
</script>

<style lang="scss" src="./AdditionalFormPriceOther.scss" scoped></style>
