.form-input-wrapper {
  ::v-deep {
    .c-field-input__label {
      font-size: 16px;
      font-weight: normal;
    }

    .input {
      height: 48px;
      margin-top: 10px;

      &:focus,
      &:active {
        border-color: #1baa56;
        box-shadow: none;
      }
    }

    .c-mk-button {
      width: 180px;
      font-size: 1em;
      font-weight: bold;
    }
  }

  .form-action-button {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 25px;
  }
}
