<template>
  <div class="manage-booking-status">
    <div class="manage-booking-status__body">
      <div class="manage-booking-status__header">
        <b-icon
          @click.native="$router.push('/')"
          icon="arrow-left"
          class="manage-booking-status__back-icon"
        ></b-icon>
        <span class="manage-booking-status__title">Kelola Booking Langsung</span>
      </div>

      <b-notification
        :closable="false"
        type="is-blue-invert"
        class="manage-booking-status__info"
        icon="alert-circle"
        has-icon
      >
        Kini Anda dapat melihat tagihan sewa dan pencairan dana lebih detail di halaman Kelola
        Tagihan.
        <div>
          <a
            :href="`https://mamikos.com/info/billing-management/`"
            class="manage-booking-status__info-link"
            target="_blank"
          >
            <u>Kelola Tagihan</u>
          </a>
        </div>
      </b-notification>

      <div>
        <div>Tampilkan Kos Berdasarkan:</div>
        <div class="manage-booking-status__choices">
          <div
            v-for="(choice, index) in choices"
            :key="index"
            :class="{ active: index === 'all' }"
            @click="handleChoiceClicked(index, $event)"
            class="manage-booking-status__choice"
          >
            {{ choice }}
          </div>
        </div>
      </div>

      <b-button
        v-if="list.not_active.total"
        :to="{
          name: 'kos-booking-register',
          query: { redirect_url: redirectUrl },
          params: { previousPage: 'Kelola Booking Langsung' },
        }"
        tag="router-link"
        class="manage-booking-status__register"
        type="is-primary"
      >
        Daftarkan {{ list.not_active.total }} kos
      </b-button>

      <div v-for="(status, key) in list" :key="key" class="manage-booking-status__list">
        <div v-if="status.data.length" class="manage-booking-status__list-status">
          {{ `${status.name} (${status.total})` }}
        </div>
        <div
          v-for="(item, index) in status.data"
          :key="index"
          class="manage-booking-status__item item-booking"
        >
          <div class="item-booking__header">
            <div class="item-booking__status">{{ status.name }}</div>
            <div class="item-booking__last-update">Diperbarui {{ item.last_update }}</div>
          </div>
          <div class="item-booking__body">
            <img v-lazy="item.photo ? item.photo.medium : ''" class="item-booking__image" />
            <div class="item-booking__caption">
              <div class="item-booking__kos-name">
                {{ item.room_title }}
              </div>
              <div
                v-if="key === 'waiting' || (key === 'approve' && item.total_waiting)"
                class="item-booking__alert"
              >
                <b-icon class="item-booking__alert-icon" icon="alert" />
                <template v-if="key === 'waiting'">
                  Mohon menunggu, pengajuan Booking Langsung sedang diperiksa
                </template>
                <template v-else-if="key === 'approve' && item.total_waiting">
                  {{ item.total_waiting }} Penyewa menunggu konfirmasi
                  <a
                    :href="
                      `${$mamikosUrl}/ownerpage/manage/all/booking?status=need_confirmation&kos_name=${item.room_title}`
                    "
                  >
                    <span class="item-booking__check-request">Lihat Penyewa</span>
                  </a>
                </template>
              </div>
            </div>
            <div class="item-booking__room-availability">
              <img :src="`${$mamikosUrl}/general/img/icons/ic_room_availability.svg`" />
              <span>{{ item.room_available }} Kamar tersedia</span>
            </div>
          </div>
        </div>
      </div>

      <div
        v-if="selectedChoice && !list[selectedChoice].data.length && !isLoading && !isAllSelected"
        class="empty-state"
      >
        <img
          class="empty-state__img"
          src="~/assets/images/mamipoin/empty-rewards-placeholder.svg"
        />
        <h4 class="empty-state__caption">Kos tidak ditemukan</h4>
      </div>

      <span v-if="isLoading" class="c-loader manage-booking-status__loading"></span>
    </div>

    <booking-suggestion-modal
      v-model="isSuggestionModalShown"
      :not-active-kos="list.not_active.total"
    />
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import BookingSuggestionModal from '../components/BookingSuggestionModal';

document.querySelector('.wrapper__body').scrollTop = 0;

export default {
  name: 'BookingManageStatusDesktop',
  components: {
    BookingSuggestionModal,
  },
  data() {
    return {
      isSuggestionModalShown: false,
      choices: {
        all: 'Semua',
        approve: 'Aktif',
        waiting: 'Diperiksa Admin',
        not_active: 'Belum Aktif',
      },
      selectedChoice: 'not_active',
      choicesOrder: ['not_active', 'waiting', 'approve'],
      list: {
        not_active: {
          name: 'Belum Aktif',
          data: [],
          offset: 0,
          total: 0,
        },
        waiting: {
          name: 'Diperiksa Admin',
          data: [],
          offset: 0,
          total: 0,
        },
        approve: {
          name: 'Aktif',
          data: [],
          offset: 0,
          total: 0,
        },
      },
      isLoading: false,
      isAllSelected: true,
      redirectUrl: window.location.href,
    };
  },
  computed: {
    ...mapGetters('profile', ['membership']),
  },
  created() {
    this.isLoading = true;
    this.$api.getBbkStatus().then((res) => {
      if (!res.data.status) return;
      const { approve, other, reject, waiting } = res.data.bbk_status;
      this.list.approve.total = approve;
      this.list.waiting.total = waiting;
      this.list.not_active.total = other + reject;

      if (
        !(waiting > 0 && reject + other === 0) &&
        this.membership.is_mamipay_user &&
        reject + other > 0
      ) {
        // force showing popup when varian A
        if (
          sessionStorage &&
          sessionStorage.getItem('AbTestForceBbkVarianHandler') === 'onVariantAReceived'
        ) {
          this.isSuggestionModalShown = true;
        } else if (sessionStorage && !sessionStorage.getItem('isSuggestionModalShown')) {
          this.isSuggestionModalShown = true;
          sessionStorage.setItem('isSuggestionModalShown', 'true');
        }
      }
      this.isLoading = false;

      this.getData();
    });
    this.addScrollEvent();
  },
  beforeDestroy() {
    document
      .querySelector('.wrapper__body')
      .removeEventListener('scroll', window.bookingScrollHandler);
  },
  methods: {
    handleChoiceClicked(choice, e) {
      if (this.isLoading) return;

      if (choice === 'all') {
        this.selectedChoice = 'not_active';
        this.isAllSelected = true;
      } else {
        this.selectedChoice = choice;
        this.isAllSelected = false;
      }

      // remove all class first
      this.$el.querySelectorAll('.manage-booking-status__choice').forEach((choiceEl) => {
        choiceEl.classList.remove('active');
      });
      // then set active class to selected status
      e.target.classList.add('active');

      // remove all data
      Object.keys(this.list).forEach((key) => {
        this.list[key].data = [];
        this.list[key].offset = 0;
      });

      this.getData();
    },
    getData(forceGet) {
      if (!this.selectedChoice) {
        this.isLoading = false;
        return;
      }
      // all data is fully loaded, then skip getting data
      if (
        ((this.list[this.selectedChoice].data.length === this.list[this.selectedChoice].total &&
          !this.isAllSelected) ||
          this.isLoading) &&
        !forceGet
      ) {
        this.isLoading = false;
        return;
      }

      this.isLoading = true;
      this.$api
        .getMamipayRooms({
          booking_status: this.selectedChoice,
          offset: this.list[this.selectedChoice].offset,
          limit: 10,
          timestamp: new Date().getTime(),
        })
        .then((res) => {
          if (!res.data.status) return;

          this.list[this.selectedChoice].data = this.list[this.selectedChoice].data.concat(
            res.data.data,
          );
          this.list[this.selectedChoice].offset += 10;

          // get next status
          if (!res.data.has_more && this.isAllSelected) {
            const currentIndex = this.choicesOrder.findIndex((c) => c === this.selectedChoice);
            this.selectedChoice = this.choicesOrder[currentIndex + 1];
            if (
              this.list.not_active.data.length +
                this.list.waiting.data.length +
                this.list.approve.data.length <
              5
            ) {
              this.getData(true);
              return;
            }
          }

          this.isLoading = false;
        });
    },
    addScrollEvent() {
      window.bookingScrollHandler = (e) => {
        if (this.isLoading) return;

        const { scrollTop, scrollHeight, clientHeight } = e.target;
        // scroll element reaches the bottom
        if (scrollHeight - clientHeight === scrollTop) {
          this.getData();
        }
      };

      document
        .querySelector('.wrapper__body')
        .addEventListener('scroll', window.bookingScrollHandler);
    },
  },
};
</script>

<style src="./desktop.scss" lang="scss" scoped></style>
