.manage-booking-status {
  padding-bottom: 20px;

  &__body {
    position: relative;
    z-index: 1;
  }

  &__loading {
    margin: 20px auto;
  }

  &__title {
    font-size: 24px;
    font-weight: bold;
    line-height: 29px;
    color: #2e2d39;
  }

  &__register {
    width: 191px;
    height: 40px;
  }

  &__info {
    width: 476px;
    margin-top: 28px;
    background-color: #fff;
    border: 1px solid #e8e8e8;
    border-radius: 8px;

    ::v-deep {
      .mdi::before {
        font-size: 20px;
      }

      .is-large {
        width: 20px;
        height: 20px;
      }

      .media-content {
        color: #404040;

        /* stylelint-disable-next-line */
        @media screen and (max-width: 768px) {
          font-size: 20px;
        }
      }
    }

    &-link {
      margin-top: 12px;
      font-size: 16px;
      font-weight: bold;
      line-height: 24px;
      color: #303030;
    }
  }

  &__choices {
    margin-top: 12px;
    margin-bottom: 28px;
  }

  &__choice {
    display: inline-block;
    padding: 8px 16px;
    margin-right: 12px;
    font-size: 16px;
    line-height: 24px;
    color: #303030;
    cursor: pointer;
    background: #fff;
    border: 1px solid #e8e8e8;
    border-radius: 50px;

    &.active {
      font-weight: bold;
      border: 1px solid #303030;
    }
  }

  &__list {
    margin-top: 28px;
  }

  &__list-status {
    margin-top: 28px;
    font-size: 18px;
    font-weight: bold;
    line-height: 26px;
    color: #242424;
  }

  &__back-icon {
    margin-right: 10px;
    cursor: pointer;
  }
}

.item-booking {
  margin-top: 28px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.03);

  &__header {
    display: flex;
    justify-content: space-between;
    padding: 16px 25px;
    border-bottom: solid 1px rgba(219, 219, 219, 0.5);
  }

  &__body {
    display: flex;
    padding: 16px 25px;
  }

  &__status {
    font-size: 18px;
    font-weight: bold;
    line-height: 22px;
    color: #484848;
  }

  &__last-update {
    font-size: 14px;
    line-height: 20px;
    color: #aaa;
  }

  &__caption {
    width: 592px;
    padding: 0 25px;
  }

  &__image {
    width: 136px;
    height: 136px;
    object-fit: cover;
    border-radius: 8px;
  }

  &__kos-name {
    margin-top: 12px;
    font-size: 20px;
    font-weight: bold;
    color: #484848;
  }

  &__room-availability {
    flex-grow: 2;
    font-size: 16px;
    font-weight: bold;
    line-height: 30px;
    color: #484848;
    text-align: right;

    > * {
      margin-right: 10px;
      vertical-align: middle;
    }
  }

  &__alert {
    padding: 12px 18px;
    margin-top: 25px;
    color: #8c3b00;
    background: #fcf7e3;
    border-radius: 4px;

    ::v-deep {
      .mdi-alert::before {
        color: #d48011;
      }
    }
  }

  &__alert-icon {
    margin-right: 10px;
    vertical-align: bottom;
  }

  &__check-request {
    float: right;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    color: #1baa56;
  }
}

.empty-state {
  &__img {
    display: block;
    margin: auto;
  }

  &__caption {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
  }
}
