<template>
  <div class="gold-plus-features">
    <gold-plus-feature-card
      v-for="(goldPlusMenu, index) in goldPlusMenus"
      :key="'goldPlusMenu' + index"
      :icon="goldPlusMenu.icon"
      :title="goldPlusMenu.title"
      :feature-name="goldPlusMenu.featureName"
      :description="goldPlusMenu.description"
      @handleLinkClicked="handleLinkClicked(goldPlusMenu.featureName)"
    ></gold-plus-feature-card>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import GoldPlusFeatureCard from '../GoldPlusFeatureCard';

export default {
  name: 'GoldPlusFeatures',
  components: {
    GoldPlusFeatureCard,
  },
  data() {
    return {
      // in this condition only show statistic and tnc
      goldPlusMenus: [
        {
          featureName: 'list',
          icon: 'ic_mamicoin',
          title: 'Kos GoldPlus Anda',
          description: 'Informasi mengenai paket GoldPlus yang Anda miliki.',
        },
        {
          featureName: 'statistic',
          icon: 'ic_chart_kpi',
          title: 'Statistik GoldPlus Anda',
          description: 'Data performa iklan kos Anda yang tergabung dengan GoldPlus.',
        },
        {
          featureName: 'payment',
          icon: 'ic_minimum_payment',
          title: 'Pembayaran Tagihan Goldplus',
          description: 'Tagihan pembayaran paket GoldPlus Anda dan cara perpanjangan paket.',
        },
        {
          featureName: 'tnc',
          icon: 'ic_term_condition',
          title: 'Syarat dan Ketentuan',
          description: 'Informasi perjanjian dan ketentuan antara Mamikos dan pengguna GoldPlus.',
        },
      ],
    };
  },
  computed: {
    ...mapGetters('profile', ['user']),
  },
  methods: {
    handleLinkClicked(featureName) {
      if (featureName === 'statistic') {
        this.$router.push(`/goldplus/${featureName}`);
        this.trackStatisticPageVisited();
      } else if (featureName === 'tnc') {
        this.trackTnCClicked();
        window.location.href =
          'https://help.mamikos.com/syarat-dan-ketentuan/?category=snk-pemilik&subCategory=mamikos-goldplus&slug=syarat-dan-ketentuan-mamikos-goldplus';
      } else if (featureName === 'list') {
        this.$router.push(`/goldplus/${featureName}`);
      } else if (featureName === 'payment') {
        this.$router.push({ path: `/goldplus/${featureName}` });
      }
    },
    trackStatisticPageVisited() {
      this.$tracker.send('moe', [
        '[Owner] Dashboard GP: List Kost Goldplus Visited',
        {
          interface: this.$device.isMobile ? 'mobile' : 'desktop',
          owner_name: this.user.name,
          redirection_source: 'Dashboard GP',
        },
      ]);
    },
    trackTnCClicked() {
      this.$tracker.send('moe', [
        '[Owner] Dashboard GP: Syarat dan Ketentuan clicked',
        {
          interface: this.$device.isMobile ? 'mobile' : 'desktop',
          owner_name: this.user.name,
        },
      ]);
    },
  },
};
</script>

<style lang="scss" scoped src="./GoldPlusFeatures.scss"></style>
