<template>
  <div class="label-number">
    <div class="label-number__number">
      <slot />
      <div class="label-number__label">{{ label }}</div>
    </div>
    <div class="label-number__chveron">
      <img src="~assets/images/billing_management/chevron-right-icon-grey.svg" />
    </div>
  </div>
</template>

<script>
export default {
  name: 'MkLabelNumber',
  props: {
    label: {
      type: String,
      default: '',
    },
  },
};
</script>

<style lang="scss" src="./LabelNumber.scss"></style>
