.label-number {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  padding: 8px 18px;
  margin-bottom: 16px;
  text-align: center;
  cursor: pointer;
  background: #fcfcfc;
  border: 0.5px solid #dbdbdb;
  border-radius: 8px;
  align-items: center;
  justify-content: space-between;
  transition: 0.3s;

  &:hover {
    background-color: #f9f9f9;
  }

  &__number {
    width: 100%;
    font-size: 24px;
    font-style: normal;
    font-weight: bold;
    line-height: 36px;
    text-align: left;
    vertical-align: middle;
  }

  &__chveron {
    margin-top: 4px;
    text-align: right;
  }

  &__label {
    display: inline-block;
    margin-left: 25px;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    line-height: 14px;
    color: #000;
    text-align: left;
    vertical-align: middle;
  }
}
