.goldplus-package-card {
  &__wrapper {
    border-radius: 8px;
  }

  &__title {
    font-size: 18px;
    font-weight: 900;
    line-height: 26px;
  }

  &__subtitle {
    margin-top: 4px;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
  }

  &__body {
    margin: 12px 0 16px;
  }

  &__modal-toggler {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    color: #1baa56;
  }

  &__description {
    margin-top: 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;

    &-item {
      &:not(:last-child) {
        margin-bottom: 8px;
      }
    }
  }
}
