<template>
  <div class="goldplus-package-card">
    <bg-card class="goldplus-package-card__wrapper" size="sm">
      <div class="goldplus-package-card__header">
        <h3 class="goldplus-package-card__title">
          {{ `Paket ${packageDetail.name}` }}
        </h3>
        <h4 class="goldplus-package-card__subtitle">
          {{ packageDetail.description }}
        </h4>
      </div>

      <div class="goldplus-package-card__body">
        <a @click="showModal" class="goldplus-package-card__modal-toggler">
          Pelajari lebih lanjut
        </a>
        <div class="goldplus-package-card__description">
          <p class="goldplus-package-card__description-item">
            {{ packageDetail.charging }}
          </p>
          <p class="goldplus-package-card__description-item">
            {{ packageDetail.price_description }}
          </p>
        </div>
      </div>

      <div class="goldplus-package-card__footer">
        <bg-button @click="handleSelectPackage" variant="secondary" size="lg" block>
          Pilih Paket Ini
        </bg-button>
      </div>
    </bg-card>

    <gold-plus-package-modal
      v-model="isModalActive"
      :package-name="packageDetail.name"
      :modal-content="packageDetail.detail_package_html"
      @selectPackage="handleSelectPackage"
      class="goldplus-package-card__modal"
    />
  </div>
</template>

<script>
import { mapMutations } from 'vuex';

import { BgCard, BgButton } from 'bangul-vue';

import GoldPlusPackageModal from '~/components/page-features/goldplus/pages/submission-packages/components/GoldPlusPackageModal';

export default {
  name: 'GoldPlusPackageCard',
  components: {
    BgCard,
    BgButton,
    GoldPlusPackageModal,
  },
  props: {
    packageDetail: {
      type: Object,
      default() {
        return {
          code: null,
          name: null,
          description: null,
          price_description: null,
          detail_package_html: null,
        };
      },
    },
  },
  data() {
    return {
      isModalActive: false,
      keyModal: this.$vnode.key,
    };
  },
  methods: {
    ...mapMutations('goldplus', ['setSelectedPackage']),
    showModal() {
      this.isModalActive = true;
    },
    handleSelectPackage() {
      this.setSelectedPackage(this.packageDetail);
      this.$router.push(`/goldplus/submission/packages/${this.packageDetail.code}`);
    },
  },
};
</script>

<style lang="scss" scoped src="./GoldPlusPackageCard.scss"></style>
