<template>
  <div class="goldplus-submission-onboarding-footer">
    <mk-button
      @clicked="handleButtonClicked"
      class="goldplus-submission-onboarding-footer__button"
      color="green-brand"
      block
    >
      Daftar GoldPlus
    </mk-button>
  </div>
</template>

<script>
import MkButton from '~/components/global/atoms/MkButton';

export default {
  name: 'GoldPlusSubmissionOnBoardingFooter',
  components: { MkButton },
  methods: {
    handleButtonClicked() {
      this.$router.push('/goldplus/submission/steps');
    },
  },
};
</script>

<style lang="scss" src="./GoldPlusSubmissionOnBoardingFooter.scss" scoped></style>
