<template>
  <!-- eslint-disable-next-line vue/require-component-is -->
  <component :is="view"></component>
</template>

<script>
import pageView from '~/mixins/page-view';

export default {
  layout({ isDesktop }) {
    return `default/${isDesktop ? 'desktop' : 'mobile'}/index`;
  },
  head() {
    const header = {
      title: 'Mamikos - GoldPlus Payment - Detail Payment',
    };
    if (this.$device.isDesktop) {
      header.meta = [{ hid: 'viewport', name: 'viewport', content: 'width=1200' }];
    }
    return header;
  },
  meta: {
    showMobileBackButton: true,
    hideMobileFloatingChat: true,
    prevPath: {
      name: 'goldplus-payment',
      path: '/goldplus/payment',
    },
  },
  name: 'GoldPlusPaymentDetailRoute',
  mixins: [pageView],
  data() {
    let component;
    // component path needs to write explicitly so that webpack can create chunk based on explicit path
    if (this.$device.isDesktop) {
      component = import(
        /* webpackChunkName: "page-view-goldplus-payment" */ `~/components/page-features/goldplus/pages/payment-detail/desktop`
      );
    } else {
      component = import(
        /* webpackChunkName: "page-view-goldplus-payment" */ `~/components/page-features/goldplus/pages/payment-detail/mobile`
      );
    }

    return {
      component,
    };
  },
};
</script>
