<template>
  <div>
    <!-- eslint-disable-next-line vue/require-component-is -->
    <component :is="view"></component>
  </div>
</template>

<script>
import pageView from '~/mixins/page-view';

export default {
  layout({ isDesktop }) {
    return `default/${isDesktop ? 'desktop' : 'mobile'}/index`;
  },
  head() {
    const header = {
      title: 'Mamikos - GoldPlus Payment',
    };
    if (this.$device.isDesktop) {
      header.meta = [{ hid: 'viewport', name: 'viewport', content: 'width=1200' }];
    }
    return header;
  },
  meta: {
    showMobileBackButton: true,
    hideMobileFloatingChat: true,
    prevPath: {
      name: 'goldplus',
      path: '/goldplus',
    },
  },
  middleware: 'goldplus-owner',
  name: 'GoldPlusPaymentRoute',
  mixins: [pageView],
  data() {
    let component;
    // component path needs to write explicitly so that webpack can create chunk based on explicit path
    if (this.$device.isDesktop) {
      component = import(
        /* webpackChunkName: "page-view-goldplus-payment" */ `~/components/page-features/goldplus/pages/payment/desktop`
      );
    } else {
      component = import(
        /* webpackChunkName: "page-view-goldplus-payment" */ `~/components/page-features/goldplus/pages/payment/mobile`
      );
    }

    return {
      component,
    };
  },
};
</script>

<style></style>
