<template>
  <div class="goldplus-statistic-chart-tips-card">
    <div class="goldplus-statistic-chart-tips-card__title">
      <img
        src="~/assets/images/ic_question_mark_outline.svg"
        alt="question mark icon"
        class="goldplus-statistic-chart-tips-card__title-icon"
      />
      <p class="goldplus-statistic-chart-tips-card__title-text">Tips tingkatkan performa kos</p>
    </div>

    <p class="goldplus-statistic-chart-tips-card__body">
      Anda mengalami penurunan performa. Baca tips dari Mamikos untuk cara meningkatkannya.
    </p>

    <div @click="goToLink" class="goldplus-statistic-chart-tips-card__footer">
      <p class="goldplus-statistic-chart-tips-card__footer-text">
        Baca artikel sekarang
      </p>
      <img
        class="goldplus-statistic-chart-tips-card__footer-icon"
        src="~/assets/images/ic_chevron_right_green.svg"
        alt="tips link icon"
      />
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters } from 'vuex';
export default {
  name: 'GoldPlusStatisticTipsCard',
  props: {
    statisticType: {
      type: Object,
      required: true,
    },
  },
  computed: {
    ...mapGetters('profile', ['user']),
    ...mapState('goldplus', ['roomDetail']),
    tipsLink() {
      switch (this.statisticType.key) {
        case 'visit':
          return 'https://mamikos.com/info/fasilitas-yang-banyak-dicari-oleh-pencari-kost-milenial-pemilik-kost-wajib-tahu-nih/';
        case 'unique_visit':
          return 'https://mamikos.com/info/fasilitas-yang-banyak-dicari-oleh-pencari-kost-milenial-pemilik-kost-wajib-tahu-nih/';
        case 'chat':
          return 'https://mamikos.com/info/tips-jitu-agar-kost-anda-dilirik-oleh-mahasiswa-baru/';
        case 'favorite':
          return 'https://mamikos.com/info/tips-jitu-agar-kost-anda-dilirik-oleh-mahasiswa-baru/';
        default:
          return '';
      }
    },
  },
  methods: {
    goToLink() {
      window.open(this.tipsLink, '_blank') && this.trackReadTipsClicked();
    },
    trackReadTipsClicked() {
      this.$tracker.send('moe', [
        '[Owner] Webview GP: Baca Artikel Button Clicked',
        {
          interface: this.$device.isMobile ? 'mobile' : 'desktop',
          owner_name: this.user.name,
          gp_level: this.roomDetail.gp_status.value,
          property_id: this.roomDetail.id,
          statistik_section: this.statisticType.value,
        },
      ]);
    },
  },
};
</script>

<style lang="scss" src="./GoldPlusStatisticChartTipsCard.scss" scoped></style>
