.goldplus-statistic-chart-tips-card {
  padding: 16px;
  margin-top: 16px;
  border: 1px solid #e8e8e8;
  border-radius: 8px;

  &__title {
    display: flex;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;

    &-text {
      margin-left: 6px;
    }
  }

  &__body {
    margin-top: 12px;
    font-size: 14px;
    line-height: 20px;
    color: #757575;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    color: #1baa56;
    cursor: pointer;
  }
}
