.rating-card {
  padding: 0 !important;

  &__wrapper {
    display: flex;
  }

  &__photo {
    width: 94px;
    background-position: center;
    background-size: cover;
    border-radius: 16px 0 0 16px;

    @media (max-width: 767px) {
      border-radius: 8px 0 0 8px;
    }
  }

  &__details {
    width: 80%;
    padding: 36px 12px;
    cursor: pointer;

    @media (max-width: 767px) {
      padding: 16px 12px;
    }
  }

  .rating-section {
    display: flex;
    margin-top: 4px;
    align-items: center;
    flex-flow: row wrap;

    &__item {
      &:not(:last-child) {
        margin-right: 12px;
      }
    }

    @media (max-width: 767px) {
      &__item:last-child {
        width: 100%;
      }
    }
  }
}
