<template>
  <bg-card class="rating-card">
    <div @click="goToReviewDetail" class="rating-card__wrapper">
      <div
        v-lazy:background-image="{
          src: propertyPhoto,
        }"
        class="rating-card__photo"
      ></div>
      <div class="rating-card__details">
        <bg-text size="title-5" class="rating-card__title">
          {{ propertyName }}
        </bg-text>
        <div class="rating-section">
          <bg-rating-star :value="ratingValue" class="rating-section__item" />
          <bg-text size="heading-4" class="rating-section__item">
            {{ fixedRatingValue }}
          </bg-text>
          <bg-text size="body-2" class="rating-section__item">
            ( {{ reviewCount }} Ulasan )
          </bg-text>
        </div>
      </div>
    </div>
  </bg-card>
</template>

<script>
import { BgCard, BgText, BgRatingStar } from 'bangul-vue';

import dashboardTracker from '~/components/page-features/dashboard/mixins/dashboardTracker';

export default {
  name: 'RatingCard',
  components: {
    BgCard,
    BgText,
    BgRatingStar,
  },
  mixins: [dashboardTracker],
  props: {
    propertyId: {
      type: Number,
      required: true,
    },
    propertyPhoto: {
      type: String,
      default: '',
    },
    propertyName: {
      type: String,
      required: true,
    },
    ratingValue: {
      type: Number,
      required: true,
    },
    reviewCount: {
      type: Number,
      required: true,
    },
  },
  computed: {
    fixedRatingValue() {
      const val = this.ratingValue;

      return val > 0 && val.toString().length === 1 ? parseFloat(val).toPrecision(2) : val;
    },
  },
  methods: {
    goToReviewDetail() {
      this.sendDashboardTracker('[Owner] OD Penilaian Kos Anda - Kos Clicked');
      window.location.href = `${this.$mamikosUrl}/ownerpage/statistics/${this.propertyId}#review`;
    },
  },
};
</script>

<style lang="scss" scoped src="./RatingCard.scss"></style>
