<template>
  <h3 class="c-mk-card__title">
    <slot />
  </h3>
</template>

<script>
import groupable from '~/mixins/groupable';

export default {
  name: 'MkCardTitle',
  mixins: [
    // MkCardTitle must have MkCardHeader as direct parent component
    groupable('MkCardHeader'),
  ],
};
</script>
