<template>
  <div class="c-mk-card__body">
    <slot />
  </div>
</template>

<script>
import groupable from '~/mixins/groupable';

export default {
  name: 'MkCardBody',
  // MkCardTitle must have MkCard as direct parent component
  mixins: [groupable('MkCard')],
};
</script>
