.desktop-scheme {
  &__loader {
    margin: 60px 0;

    .c-loader {
      width: 40px;
      height: 40px;
    }
  }

  &__content {
    margin-bottom: 60px;
  }
}

.scheme-content {
  &__title {
    margin: 10px 0 15px;
    font-size: 24px;
    font-weight: bold;
    color: #303030;
  }
}

.scheme-table {
  overflow-y: scroll;

  .table-head {
    &__column {
      width: 150px;
      padding: 20px 0;
      vertical-align: middle;
      border-bottom: 2px solid #e8e8e8;

      .label {
        font-size: 20px;
        font-weight: bold;
      }

      &:first-of-type {
        width: 238px;
      }
    }
  }

  .table-body {
    &__column {
      padding: 15px 0;
      vertical-align: middle;
      border-bottom: 1px solid #e8e8e8;
    }
  }
}
