<template>
  <div class="desktop-scheme">
    <div v-if="isLoading" class="desktop-scheme__loader">
      <div class="c-loader" />
    </div>
    <div v-else class="scheme-content desktop-scheme__content">
      <h1 class="scheme-content__title">Perbandingan Skema Poin</h1>
      <table class="scheme-content__table scheme-table">
        <thead class="table-head">
          <th class="table-head__column">
            <span class="label">
              Aktivitas
            </span>
          </th>
          <th v-for="(pack, index) in packages" :key="'pack' + index" class="table-head__column">
            <span class="label">
              {{ pack.label }}
            </span>
          </th>
        </thead>
        <tbody class="table-body">
          <tr
            v-for="(activity, index) in activities"
            :key="'activity' + index"
            class="table-body__row"
          >
            <td class="table-body__column">
              {{ activity.title }}
            </td>
            <td
              v-for="(point_detail, idx) in activity.point_details"
              :key="'point_detail' + idx"
              class="table-body__column"
            >
              {{ point_detail ? point_detail.min_point : 0 | toThousands | formatPoint }}
              <span v-if="point_detail && point_detail.min_point">
                poin
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
import _zip from 'lodash/zip';
import _flatMap from 'lodash/flatMap';
import { formatPoint } from '~/utils/mamipoin';

export default {
  name: 'DesktopScheme',
  filters: {
    formatPoint,
  },
  data() {
    return {
      isLoading: false,
      schemes: [],
    };
  },
  computed: {
    packages() {
      return this.schemes.map((scheme, index) => {
        return {
          id: index,
          type: scheme.type,
          label: scheme.title,
        };
      });
    },
    activities() {
      const activities = this.schemes.map((scheme) => {
        return scheme.activities;
      });
      return _zip(...activities).map((activity) => {
        return {
          title: activity[0].title,
          description: activity[0].description,
          point_details: _flatMap(activity, 'point_details'),
        };
      });
    },
  },
  created() {
    this.fetchPointScheme();
  },
  methods: {
    fetchPointScheme() {
      this.isLoading = true;
      this.$api
        .getPointScheme()
        .then((response) => {
          if (response.data.status) {
            this.schemes = response.data.data;
          }
          this.isLoading = false;
        })
        .catch(() => {
          this.isLoading = false;
        });
    },
  },
};
</script>

<style lang="scss" scoped src="./DesktopScheme.scss"></style>
