.goldplus-banner {
  position: relative;
  max-width: 740px;

  &__icon-close {
    position: absolute;
    top: 18px;
    right: 10px;
    color: #9f9f9f;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
  }

  &__text-body {
    margin-bottom: 14px;
  }

  &__learn-more {
    display: inherit;
    margin: 12px 0;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: bold;
    line-height: 24px;
    color: #1baa56;
  }

  @media (max-width: 1024px) {
    max-width: 342px;
  }

  @media (min-width: 768px) {
    &__action {
      display: flex;
    }

    &__learn-more {
      margin-left: 24px;
    }
  }
}
