<template ng-if="isBannerDisplayed">
  <transition name="fade">
    <mk-card class="goldplus-banner">
      <mk-card-header>
        <mk-card-title key="title">
          Gabung dengan <img src="~assets/images/logo-goldplus.svg" />
        </mk-card-title>
      </mk-card-header>
      <mk-card-body>
        <div class="goldplus-banner__text-body">
          Solusi untuk kelola kos lebih mudah. Maksimalkan okupansi, operasional, dan penghasilan
          Anda bersama Mamikos
        </div>

        <div class="goldplus-banner__action">
          <mk-button
            @clicked="handleBtnClicked"
            :block="$device.isMobile"
            class="goldplus-banner__register"
            color="green-brand"
            target="_blank"
            rel="noopener"
            >Daftar Sekarang
          </mk-button>

          <a @click="handleLearnMore" class="goldplus-banner__learn-more">
            Pelajari Lebih Lanjut
          </a>
        </div>
      </mk-card-body>
    </mk-card>
  </transition>
</template>

<script>
import { mapGetters, mapState } from 'vuex';
import MkButton from '~/components/global/atoms/MkButton';
import MkCard from '~/components/global/molecules/MkCard';
import MkCardBody from '~/components/global/molecules/MkCard/components/MkCardBody';
import MkCardTitle from '~/components/global/molecules/MkCard/components/MkCardTitle';
import MkCardHeader from '~/components/global/molecules/MkCard/components/MkCardHeader';

export default {
  name: 'GoldPlusBanner',
  components: {
    MkButton,
    MkCard,
    MkCardTitle,
    MkCardHeader,
    MkCardBody,
  },
  data() {
    return {
      mamikosUrl: process.env.MAMIKOS_URL,
    };
  },
  computed: {
    ...mapState('profile', {
      profileData: (state) => state.data,
    }),
    ...mapGetters('profile', ['isBbk', 'isPremium', 'membership']),
    isMamipayOwner() {
      return this.membership.is_mamipay_user;
    },
  },

  created() {
    this.$emit('componentRegistered', this.$options.name);
  },
  mounted() {
    this.$nextTick(() => {
      this.$emit('componentFullLoaded', this.$options.name);
    });
  },
  methods: {
    handleBtnClicked() {
      this.trackEntryPointClicked();
      this.$router.push({
        name: 'goldplus-submission',
        params: { previousPage: 'Dashboard' },
      });
    },
    handleLearnMore() {
      window.open('https://mamikos.com/goldplus', '_blank') && this.goldplusTracker();
    },
    goldplusTracker() {
      const dataMoengage = {
        interface: this.$device.isMobile ? 'mobile' : 'desktop',
        is_booking: this.$store.getters['profile/isBbk'],
        redirection_source: document.location.hostname,
        is_premium: this.$store.getters['profile/isPremium'],
      };
      this.$tracker.send('moe', ['[GoldPlusLP] Homepage Viewed', dataMoengage]);
    },
    trackEntryPointClicked() {
      this.$tracker.send('moe', [
        '[Owner] GP Submission - Entry Point Clicked',
        {
          interface: this.$device.isMobile ? 'mobile' : 'desktop',
          owner_name: this.$store.getters['profile/user'].name,
          is_mamipay: this.isMamipayOwner,
        },
      ]);
    },
  },
};
</script>

<style lang="scss" src="./GoldPlusBanner.scss"></style>
