.delete-modal {
  &__title {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
  }
  &__message {
    margin-top: 16px;
    font-size: 14px;
    text-align: center;
  }
  &__actions {
    margin-top: 32px;
  }
  &__action {
    margin: 0 8px;
  }
}
