<template>
  <mk-modal v-model="active">
    <mk-card :max-width="360" class="delete-modal">
      <mk-card-body>
        <div class="delete-modal__title">Hapus Kamar</div>
        <p class="delete-modal__message">
          <template v-if="occupied">
            Kamar yang akan dihapus adalah kamar terisi, yakin ingin menghapus?
          </template>
          <template v-else>Yakin ingin menghapus kamar?</template>
        </p>
        <div class="columns delete-modal__actions">
          <mk-button
            @clicked="toggleModal(false)"
            :disabled="isSendingData"
            color="green-inverse"
            class="column delete-modal__action"
          >
            Batalkan
          </mk-button>
          <mk-button
            :has-spinner="isSendingData"
            :disabled="isSendingData"
            @clicked="handleDeleteButtonClicked"
            color="green-brand"
            class="column delete-modal__action"
          >
            Hapus
          </mk-button>
        </div>
      </mk-card-body>
    </mk-card>
  </mk-modal>
</template>

<script>
import MkModal from '~/components/global/molecules/MkModal/MkModal';
import MkCard from '~/components/global/molecules/MkCard';
import MkCardBody from '~/components/global/molecules/MkCard/components/MkCardBody';
import MkButton from '~/components/global/atoms/MkButton';

export default {
  name: 'ModalDelete',
  components: {
    MkButton,
    MkModal,
    MkCard,
    MkCardBody,
  },
  data() {
    return {
      isSendingData: false,
      active: false,
      roomId: null,
      occupied: false,
    };
  },
  methods: {
    async handleDeleteButtonClicked() {
      this.isSendingData = true;
      const res = await this.$api.deletePropertyRoom(this.roomId);

      if (res.data.status) {
        await this.$store.dispatch('profile/getLatestProfile');
        this.$buefy.toast.open({
          duration: 2000,
          message: 'Kamar berhasil dihapus',
          position: 'is-bottom',
        });
      }
      this.isSendingData = false;
      this.toggleModal(false);
      this.$emit('deleted');
    },
    toggleModal(active, room = {}) {
      this.active = active;
      this.roomId = room.id;
      this.occupied = room.occupied;
    },
  },
};
</script>

<style lang="scss" src="./ModalDelete.scss" scoped></style>
