<template>
  <div :style="loaderStyle" class="block-loader"></div>
</template>

<script>
export default {
  props: {
    width: {
      type: [String, Number],
      default: '100%',
    },
    height: {
      type: [String, Number],
      default: '50px',
    },
    radius: {
      type: Number,
      default: 3,
    },
  },
  computed: {
    loaderStyle() {
      return {
        width: typeof this.width === 'string' ? this.width : `${this.width}px`,
        height: typeof this.height === 'string' ? this.height : `${this.height}px`,
        borderRadius: `${this.radius}px`,
      };
    },
  },
};
</script>

<style lang="scss" src="./SkeletonLoader.scss" scoped></style>
