<template>
  <div>
    <div>
      <mk-action-card
        v-for="(marketingMenu, index) in marketingMenus"
        :key="'marketingMenu' + index"
        :title="marketingMenu.title"
        :subtitle="marketingMenu.subtitle"
        :icon-name="marketingMenu.icon"
        @click="goToPage(marketingMenu)"
        icon-position="top"
        class="card-component"
      />
    </div>
    <confirm-payment-modal v-model="isConfirmModalActive" />
    <has-no-property-modal v-model="isNoPropertyModalActive" />
  </div>
</template>

<script>
import MixinActionCardNavigation from '../../mixins/actionCardNavigation';
import MixinPremiumEntryAction from '~/components/page-features/premium-dashboard/mixins/mixinPremiumEntryAction.js';
import MkActionCard from '~/components/global/molecules/MkActionCard/MkActionCard.vue';
import ConfirmPaymentModal from '~/components/page-features/premium/components/ConfirmPaymentModal/ConfirmPaymentModal.vue';
import HasNoPropertyModal from '~/components/page-features/premium/components/HasNoPropertyModal/HasNoPropertyModal.vue';

export default {
  name: 'KosMarketingCard',
  components: {
    MkActionCard,
    ConfirmPaymentModal,
    HasNoPropertyModal,
  },
  mixins: [MixinActionCardNavigation, MixinPremiumEntryAction],
  data() {
    return {
      marketingMenus: [
        {
          title: 'Premium',
          subtitle: 'Pengelolaan saldo iklan Premium',
          icon: 'star-round',
          route: '/premium-dashboard',
        },
      ],
    };
  },
  methods: {
    goToPage({ route, type }) {
      if (route) {
        if (route === '/premium-dashboard') {
          this.handlePremiumEntryAction('marketingCard');
        } else {
          this.navigate(route, type || '');
        }
      }
    },
  },
};
</script>

<style lang="scss" src="./MarketingCard.scss" scoped></style>
