<template>
  <mk-modal v-model="active" class="update-price-modal">
    <mk-card class="update-price">
      <mk-card-body>
        <div class="update-price__close">
          <b-icon @click.native="closeModal" class="icon-close" icon="close" size="is-medium" />
        </div>

        <div class="update-price__image">
          <img src="~/assets/images/img_price_update.svg" alt="update price" />
        </div>

        <div class="update-price__caption">
          <h1 class="update-price__title">Atur Biaya Tambahan di Kos Anda</h1>
          <p>
            Anda sekarang bisa menentukan biaya DP, deposit, denda, dan biaya tambahan lainnya untuk
            kos Anda.
          </p>
        </div>

        <div class="update-price__action-button">
          <mk-button @clicked="closeModal" color="default">
            Saya Mengerti
          </mk-button>

          <mk-button @clicked="updateRoomsPrice" color="green-brand">
            Atur Sekarang
          </mk-button>
        </div>
      </mk-card-body>
    </mk-card>
  </mk-modal>
</template>

<script>
import MkButton from '~/components/global/atoms/MkButton';
import MkCard from '~/components/global/molecules/MkCard';
import MkCardBody from '~/components/global/molecules/MkCard/components/MkCardBody';
import MkModal from '~/components/global/molecules/MkModal/MkModal';

export default {
  name: 'ModalPriceUpdate',

  components: {
    MkButton,
    MkCard,
    MkCardBody,
    MkModal,
  },

  props: {
    active: {
      type: Boolean,
      default: false,
    },
  },

  methods: {
    closeModal() {
      this.$emit('close');
    },
    updateRoomsPrice() {
      this.$router.push('/kos/rooms-price');
      this.closeModal();
    },
  },
};
</script>

<style lang="scss" src="./ModalPriceUpdate.scss" scoped></style>
