.update-price {
  width: 558px;
  max-width: 100vw;
  padding: 10px;

  &__close {
    display: flex;
    justify-content: flex-end;

    * {
      cursor: pointer;
    }
  }

  &__image {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 15px;
  }

  &__caption {
    margin-top: 25px;
  }

  &__title {
    font-size: 24px;
    font-weight: bold;
    line-height: 2;
  }

  &__action-button {
    display: flex;
    justify-content: flex-end;
    margin-top: 25px;

    > *:last-of-type {
      margin-left: 16px;
    }
  }

  ::v-deep {
    .c-mk-button {
      width: 135px;
      min-height: 48px;
      font-weight: bold;
    }
  }
}

.update-price-modal {
  @media (max-width: 767px) {
    z-index: 1031;
  }

  @media (max-width: 558px) {
    justify-content: flex-end;

    .update-price {
      margin-bottom: 0;
      border-radius: 0;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
    }

    ::v-deep {
      .c-mk-button {
        width: 100%;
        font-weight: bold;
      }
    }
  }
}
