.goldplus-payment-list-card {
  &__muted {
    color: #949494;
  }

  &__name {
    color: #757575;
  }

  &__description {
    color: #303030;
  }

  &__right-align {
    text-align: right;
  }

  &__line {
    margin: 8px 0 30px;
  }
}
