<template>
  <div @click="handleViewDetails(listData.invoice_id)" class="goldplus-payment-list-card">
    <bg-text v-if="isUnpaid" size="body-4" class="goldplus-payment-list-card__muted">
      Jatuh tempo {{ dateYearFormat(listData.due_date) }}
    </bg-text>
    <bg-grid>
      <bg-grid-item v-if="!isUnpaid">
        <bg-text size="body-4" class="goldplus-payment-list-card__muted">
          {{ dateTimeFormat(listData.due_date) }}
        </bg-text>
      </bg-grid-item>
      <bg-grid-item class="goldplus-payment-list-card__right-align">
        <bg-label-rainbow v-if="listData.status === 'paid'" color="green"> Lunas </bg-label-rainbow>
        <bg-label-rainbow v-else-if="listData.status === 'expired'" color="grey">
          Dibatalkan
        </bg-label-rainbow>
      </bg-grid-item>
    </bg-grid>
    <bg-grid>
      <bg-grid-item>
        <bg-text class="goldplus-payment-list-card__name">{{ listData.name }}</bg-text>
        <bg-text size="body-1" class="goldplus-payment-list-card__description">
          {{ listData.description }}
        </bg-text>
      </bg-grid-item>
      <bg-grid-item class="goldplus-payment-list-card__right-align">
        <bg-text size="title-4">{{ toIDR(listData.amount) }}</bg-text>
      </bg-grid-item>
    </bg-grid>
    <bg-grid>
      <bg-grid-item>
        <bg-text v-if="hasOrderPeriod" size="body-2">
          {{ dateFormat(listData.start_date) }} - {{ dateFormat(listData.end_date) }}
        </bg-text>
      </bg-grid-item>
      <bg-grid-item class="goldplus-payment-list-card__right-align">
        <bg-link variant="medium-naked" class="goldplus-payment-list-card_link">
          {{ isUnpaid ? 'Lihat Tagihan' : 'Lihat Detail' }}
        </bg-link>
      </bg-grid-item>
    </bg-grid>
    <hr class="goldplus-payment-list-card__line" />
  </div>
</template>

<script>
import { BgLabelRainbow, BgGrid, BgGridItem, BgLink, BgText } from 'bangul-vue';
import { toIDR } from '~/utils/currencyString';

export default {
  components: {
    BgLabelRainbow,
    BgGrid,
    BgGridItem,
    BgLink,
    BgText,
  },
  props: {
    listData: {
      type: Object,
      required: true,
    },
    isUnpaid: {
      type: Boolean,
      default: true,
    },
  },
  computed: {
    hasOrderPeriod() {
      return this.listData.start_date && this.listData.end_date;
    },
  },
  methods: {
    toIDR,
    dateTimeFormat(value) {
      return this.$dayjs(value).format('D MMM YYYY, hh.mm');
    },
    dateFormat(value) {
      return this.$dayjs(value).format('D MMM');
    },
    dateYearFormat(value) {
      return this.$dayjs(value).format('D MMM YYYY');
    },
    handleViewDetails(id) {
      this.$emit('onClickDetails', id);
    },
  },
};
</script>

<style lang="scss" scoped src="./GoldPlusPaymentListCard.scss" />
