.detail-bill-desktop {
  .reward-menu {
    margin-bottom: 20px;

    &__link {
      display: flex;
      font-size: 24px;
      color: #484848;
      align-items: center;

      .link-icon {
        margin-right: 5px;
      }
    }
  }

  &__title {
    font-style: normal;
    font-weight: 900;
    font-size: 28px;
    color: #303030;
    margin-bottom: 16px;
  }

  &__wrapper {
    width: 576px;
    margin: 0 auto;
  }

  &__content {
    border: 1px solid #e8e8e8;
    border-radius: 4px;
    padding: 16px;
  }
}
