<template>
  <div class="detail-bill-desktop">
    <div v-if="isDesktop" class="reward-menu">
      <a @click.prevent="$router.go(-1)" href="#" class="reward-menu__link">
        <b-icon icon="arrow-left" class="link-icon" />
        <strong class="link-text">
          Kelola Tagihan
        </strong>
      </a>
    </div>

    <div class="detail-bill-desktop__wrapper">
      <h1 class="detail-bill-desktop__title">Detail Tagihan</h1>

      <div class="detail-bill-desktop__content">
        <detail-bill-invoice />
      </div>
    </div>
  </div>
</template>

<script>
import DetailBillInvoice from '~/components/page-features/kelola-tagihan/pages/detailBill/components/DetailBillInvoice';

export default {
  components: {
    DetailBillInvoice,
  },
  computed: {
    isDesktop() {
      return this.$device.isDesktop;
    },
  },
};
</script>

<style lang="scss" src="./desktop.scss"></style>
