$border-default: 1px solid #e8e8e8;
$body-background-color: #fcfcfc;

.goldplus-action-button {
  @media (min-width: 476px) {
    margin: 12px 0;
  }

  @media (max-width: 475px) {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 72px;
    padding: 12px 16px;
    background-color: $body-background-color;
    border-top: $border-default;
  }
}
