<template>
  <div class="goldplus-action-button">
    <bg-button @click="handleActionPay" :loading="isLoading" variant="primary" size="lg" block>
      {{ actionButtonText }}
    </bg-button>
  </div>
</template>

<script>
import { BgButton } from 'bangul-vue';

import { toIDR } from '~/utils/currencyString';

export default {
  components: {
    BgButton,
  },
  props: {
    isLoading: {
      type: Boolean,
      default: false,
    },
    orderAmount: {
      type: Number,
      required: true,
    },
    text: {
      type: String,
      default: 'Bayar Sekarang',
    },
  },
  computed: {
    actionButtonText() {
      return this.text + ' ' + toIDR(this.orderAmount);
    },
  },
  methods: {
    handleActionPay() {
      this.$emit('action-pay');
    },
  },
};
</script>

<style lang="scss" src="./GoldplusPaymentActionButton.scss" scoped></style>
