<template>
  <div class="premium-page">
    <manage-ads />
  </div>
</template>

<script>
import ManageAds from '../components/ManageAds';

export default {
  components: {
    ManageAds,
  },
};
</script>

<style lang="scss" src="./mobile.scss"></style>
