<template>
  <div class="guide-popover">
    <v-popover
      :auto-hide="false"
      :open="isActive"
      :offset="offset"
      :container="container"
      :boundaries-element="boundariesElement"
      :placement="placement"
      trigger="manual"
    >
      <template slot="popover">
        <div class="guide-popover__header">
          <h1 class="title">
            {{ title }}
          </h1>
          <p class="message">
            {{ message }}
          </p>
        </div>
        <div class="guide-popover__footer">
          <b-button @click="onClickPopover" type="is-text" class="popover-button">
            {{ isFinished ? finishedButtonText : nextButtonText }}
          </b-button>
        </div>
      </template>
    </v-popover>
  </div>
</template>

<script>
import { VPopover } from 'v-tooltip';

export default {
  name: 'GuidePopover',
  components: {
    VPopover,
  },
  model: {
    prop: 'isActive',
    event: 'update',
  },
  props: {
    title: {
      type: String,
      default: '',
    },
    message: {
      type: String,
      default: '',
    },
    placement: {
      type: String,
      default: 'bottom',
    },
    boundariesElement: {
      type: [String, HTMLDivElement, Object, Array],
      default: '',
    },
    container: {
      type: String,
      default: 'body',
    },
    offset: {
      type: [Number, String],
      default: 0,
    },
    finishedButtonText: {
      type: String,
      default: 'Oke',
    },
    nextButtonText: {
      type: String,
      default: 'Selanjutnya',
    },
    isActive: {
      type: Boolean,
      default: false,
    },
    isFinished: {
      type: Boolean,
      default: false,
    },
  },
  methods: {
    onClickPopover() {
      this.$emit('click:popover-button');
    },
  },
};
</script>

<style lang="scss" scoped src="./GuidePopover.scss"></style>
