.guide-popover {
  &__header {
    .title {
      margin-bottom: 10px;
      font-size: 20px;
      font-style: normal;
      font-weight: bold;
      line-height: 30px;
    }

    .message {
      font-size: 14px;
      font-style: normal;
      font-weight: normal;
      line-height: 21px;
      background-color: transparent;
    }
  }

  &__footer {
    margin-top: 20px;
    text-align: right;

    .popover-button {
      font-weight: 600;
      color: #1baa56;
      text-decoration: none;
    }
  }
}
