$text-size: (
  desktop: 16px,
  mobile: 14px,
);
$heading-size: (
  desktop: 20px,
  mobile: 18px,
);

@mixin fontSize($source: $text-size) {
  font-size: map-get($source, 'desktop');

  @media (max-width: 480px) {
    font-size: map-get($source, 'mobile');
  }
}

/* stylelint-disable selector-max-type, selector-max-compound-selectors, max-nesting-depth, selector-max-specificity */

.general-questions {
  box-sizing: border-box;
  padding-left: 15px;
  border-radius: 16px;

  @media (min-width: 480px) and (max-width: 768px) {
    padding-left: 0;
  }

  @media (max-width: 480px) {
    padding: 15px;
    margin: -1rem;
    background: none;
    border: unset;
  }

  &__title {
    font-weight: bold;
    line-height: 1.5;
    @include fontSize($heading-size);
  }

  ::v-deep .card {
    background-color: transparent;
  }

  &__card {
    padding: 10px 0;
    border: 0;
    border-bottom: 1px solid #ddd;
    box-shadow: none;
    @include fontSize($text-size);

    &:last-of-type {
      border-bottom: 0;
    }

    @media (max-width: 480px) {
      background: none;
    }

    &.--open {
      ::v-deep .collapse-content {
        display: block;
        height: 100%;
      }
    }

    &.--closed {
      ::v-deep .collapse-content {
        display: block !important;
        height: 0;
        overflow: hidden;
      }
    }
  }

  &__contact {
    display: flex;
    padding-top: 30px;
    border-top: 1px solid #ddd;

    @media (max-width: 480px) {
      display: block;
      padding-top: 20px;
    }

    .contact-text {
      max-width: calc(100% - 150px);
      margin-right: auto;

      @media (max-width: 480px) {
        max-width: 100%;
        margin: 0 0 20px;
      }
    }

    .contact-title {
      display: block;
      margin-bottom: 10px;
      font-weight: 900;
      line-height: 1.5;
      @include fontSize($heading-size);
    }

    .contact-info {
      font-size: 14px;
    }

    .contact-link {
      height: 100%;
      padding: 7.5px 15px;
      margin-top: 15px;
      margin-left: 10px;
      font-size: 14px;
      font-weight: bold;
      line-height: 1.5;
      color: #1baa56;
      text-align: center;
      border: 1px solid #1baa56;
      border-radius: 4px;

      @media (max-width: 480px) {
        margin: 0;
      }
    }
  }

  .card-header {
    display: flex;
    box-shadow: none;
    align-items: center;
    @include fontSize($text-size);

    &__title {
      margin-right: auto;
      font-weight: 600;
      line-height: 1.5;
      color: #484848;
      word-break: break-word;
    }

    &__icon {
      margin-left: 10px;
      color: #484848;

      ::v-deep i::before {
        font-size: 36px;
        line-height: 1.5;
      }
    }
  }

  .card-content {
    padding: 10px 0;
    word-break: break-word;

    @include fontSize($text-size);
  }
}
