<template>
  <div class="general-questions">
    <h1 class="general-questions__title">
      Pertanyaan Umum
    </h1>

    <b-collapse
      @open="activeQuestion = index"
      v-for="(question, index) of questions"
      :key="index"
      :open="activeQuestion == index"
      :class="activeQuestion == index ? '--open' : '--closed'"
      class="card general-questions__card"
      animation="slide"
    >
      <div slot="trigger" slot-scope="props" class="card-header" role="button">
        <p class="card-header__title">
          {{ question.title }}
        </p>
        <a role="button" class="card-header__icon">
          <b-icon :icon="props.open ? 'chevron-up' : 'chevron-down'"> </b-icon>
        </a>
      </div>
      <div class="card-content">
        <p class="card-content__text">
          {{ question.answer }}
        </p>
      </div>
    </b-collapse>
    <div class="general-questions__contact">
      <div class="contact-text">
        <strong class="contact-title">
          Butuh bantuan?
        </strong>
        <p class="contact-info">
          Silakan hubungi CS Mamikos via WhatsApp
        </p>
      </div>
      <a class="contact-link" href="http://wa.me/6281325111171" target="_blank" rel="noopener">
        Hubungi Kami
      </a>
    </div>
  </div>
</template>

<script>
export default {
  name: 'GeneralQuestions',
  data() {
    return {
      activeQuestion: 0,
      questions: [
        {
          title: 'Setelah saya menukarkan poin untuk hadiah, apa yang harus saya lakukan?',
          answer:
            'Setelah Anda menukarkan poin, Anda cukup menunggu hingga penerimaan hadiah. Tim Mamikos akan menghubungi Anda untuk konfirmasi dan penerimaan hadiah khusus.',
        },
        {
          title: 'Kapan hadiah akan saya terima?',
          answer:
            'Jangka waktu proses penukaran hadiah bergantung pada jenis hadiah. Pastikan untuk terus pantau status penukaran hadiah pada halaman ini.',
        },
        {
          title:
            'Apa yang harus saya lakukan jika proses sudah berhasil namun hadiah belum diterima?',
          answer:
            'Penukaran berstatus berhasil jika hadiah sudah dikirimkan dengan estimasi pengiriman 1-14 hari. Untuk hadiah berupa barang, durasi pengiriman kemungkinan menjadi lebih lama tergantung pada area pengiriman. Mohon kesediaannya untuk menunggu.',
        },
        {
          title: 'Apakah penukaran bisa dibatalkan?',
          answer:
            'Anda bisa membatalkan penukaran poin selama hadiah belum diproses oleh tim Mamikos. Poin akan dikembalikan paling lambat 1 minggu setelah proses pembatalan. Untuk mengajukan pembatalan, Anda bisa menghubungi CS Mamikos di bawah ini.',
        },
      ],
    };
  },
  computed: {
    isDesktop() {
      return this.$device.isDesktop;
    },
  },
};
</script>

<style lang="scss" scoped src="./GeneralQuestions.scss"></style>
