//
// Global Settings
// ==========================================================================
@import '1-settings/settings.colors';
@import '1-settings/settings.typography';

//
// Settings
// ==========================================================================

//
// Tools
// ==========================================================================

//
// Generic
// ==========================================================================

//
// Elements
// ==========================================================================

//
// Objects
// ==========================================================================

//
// Components
// ==========================================================================
@import '6-components/loader.component';
@import '6-components/vtour.component';
@import '6-components/vtooltip.component';

//
// Utilities
// ==========================================================================
@import '7-utilities/utilities.colors';

/* stylelint-disable */
@import '~bulma/sass/utilities/_all';

$colors: map-merge(
  $colors,
  (
    'green-brand': (
      $global-color-green-brand,
      findColorInvert($global-color-green-brand),
    ),
    'primary': (
      $global-color-green-brand,
      findColorInvert($global-color-green-brand),
    ),
    'orange': (
      #fdede7,
      #e75f2a,
    ),
    'blue-invert': (
      #f1f7ff,
      #0074db,
    ),
  )
);

$toast-border-radius: 4px;
$body-overflow-y: hidden;
$family-primary: $global-font-family;
$datepicker-item-selected-background-color: $global-color-green-brand;
$datepicker-today-border: solid 1px rgba($global-color-green-brand, 0.5);
$snackbar-background-color: #303030;
$snackbar-button-text-transform: normal;

@import '~bulma';
@import '~buefy/src/scss/buefy';
@import '~bangul-vue/src/scss/index.scss';
