.contract-accept-navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 64px;
  padding: 20px 32px;
  background-color: #fff;

  &__title {
    margin-left: 32px;
    color: #303030;
  }

  &__left {
    display: flex;
    width: 100%;
    align-items: center;
  }

  &__right {
    margin-top: 2px;
    color: #949494;
    flex-shrink: 0;
  }

  &__back {
    color: #757575;
    cursor: pointer;
  }

  &__progress {
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #e8e8e8;

    &-bar {
      height: 100%;
      background-color: #1baa56;
      transition: width 0.5s;
    }
  }

  @media (max-width: 767px) {
    height: 56px;
    padding: 16px;

    &__back {
      color: #404040;
    }
  }
}
