<template>
  <nav class="contract-accept-navbar">
    <div class="contract-accept-navbar__left">
      <bg-icon @click.native="$emit('back')" class="contract-accept-navbar__back" name="back" />
      <bg-text v-if="title" size="body-3" class="contract-accept-navbar__title">
        {{ title }}
      </bg-text>
    </div>
    <bg-text v-if="rightText" class="contract-accept-navbar__right" size="body-4">
      {{ rightText }}
    </bg-text>
    <div v-if="!isHideProgressBar" class="contract-accept-navbar__progress">
      <div :style="{ width: `${progress * 100}%` }" class="contract-accept-navbar__progress-bar" />
    </div>
  </nav>
</template>

<script>
import { BgIcon, BgText } from 'bangul-vue';

export default {
  name: 'ContractAcceptNavbar',
  components: {
    BgIcon,
    BgText,
  },
  props: {
    title: {
      type: String,
      default: '',
    },
    rightText: {
      type: String,
      default: '',
    },
    progress: {
      type: Number,
      default: 0,
    },
    isHideProgressBar: {
      type: Boolean,
      default: false,
    },
  },
};
</script>

<style lang="scss" src="./Navbar.scss" scoped></style>
