<template>
  <div class="premium-dashboard-desktop">
    <allocation-card />
    <confirmation-card v-if="onConfirmation" />
    <premium-card />
  </div>
</template>

<script>
import AllocationCard from '../components/AllocationCard/AllocationCard';
import ConfirmationCard from '../components/ConfirmationCard/ConfirmationCard';
import PremiumCard from '../components/PremiumCard/PremiumCard';

export default {
  components: {
    AllocationCard,
    ConfirmationCard,
    PremiumCard,
  },
  computed: {
    ownerStatus() {
      return this.$store.state.profile.ownerInvoice.invoice.status;
    },
    onConfirmation() {
      return this.ownerStatus === 'Konfirmasi Pembayaran';
    },
  },
};
</script>
