<template>
  <div class="add-contract">
    <div class="add-contract__title">
      <bg-text size="title-2" tag="span">
        Bagaimana Anda ingin menambahkan kontrak?
      </bg-text>
      <bg-text size="body-2" class="add-contract__desc">
        Anda bisa menambahkannya sendiri, atau meminta penyewa mengisi kontraknya.
      </bg-text>
    </div>

    <div class="add-contract__cards">
      <contract-type-box
        @select="selectBox(addContract.type)"
        v-for="(addContract, index) in addContracts"
        :key="index"
        :title="addContract.title"
        :content="addContract.content"
        :steps="addContract.steps"
        class="add-contract__card-item"
      />
    </div>
  </div>
</template>

<script>
import _get from 'lodash/get';
import { mapGetters } from 'vuex';
import { BgText } from 'bangul-vue';
import ContractTypeBox from '../ContractTypeBox';

export default {
  name: 'ContractType',

  head() {
    return {
      title: 'Manajemen Kos - pilih metode tambah penyewa',
    };
  },

  components: {
    BgText,
    ContractTypeBox,
  },

  data() {
    return {
      addTenantUrl: `${process.env.MAMIKOS_URL}/ownerpage/manage/add-tenant/select-kost`,
      manageActiveUrl: `${process.env.MAMIKOS_URL}/ownerpage/manage/activate`,
      addContracts: [
        {
          title: 'Minta penyewa untuk mengisi',
          type: 'tenant',
          content: 'Bagikan link dan minta penyewa Anda untuk mengisi data mereka dengan cara:',
          steps: [
            'Buat formulir',
            'Bagikan formulir ke penyewa melalui Mamikos',
            'Konfirmasi data penyewa Anda',
          ],
        },
        {
          title: 'Saya yang menambah kontrak',
          type: 'owner',
          content: 'Isi data dan tambahkan kontrak penyewa secara mandiri dengan cara:',
          steps: [
            'Masukkan nomor HP penyewa',
            'Masukkan data diri penyewa',
            'Masukkan data pembayaran penyewa',
          ],
        },
      ],
    };
  },

  computed: {
    ...mapGetters('profile', ['isBbk', 'membership', 'user', 'isPremium']),
    redirectionSource() {
      return this.$route.params.redirection_source || 'deeplink';
    },
  },

  methods: {
    selectBox(type) {
      this.$store.commit('contract/updateContractType', type);

      if (type === 'tenant') {
        this.trackAddTenantByTenant();
        this.$router.push('/add-tenant/from-tenant/choose-kos');
      } else {
        this.handleAddTenantByOwner();
      }
    },
    handleAddTenantByOwner() {
      this.trackAddTenantByOwner();

      if (!this.isBbk) {
        if (this.membership.is_mamipay_user) {
          window.location.href = this.addTenantUrl;
          return;
        }

        window.location.href = this.manageActiveUrl;
        return;
      }
      window.location.href = this.addTenantUrl;
    },
    trackAddTenantByOwner() {
      this.$tracker.send('moe', [
        '[Owner] Tambah Penyewa Clicked',
        {
          user_id: _get(this.user, 'user_id', 0),
          interface: this.$device.isMobile ? 'mobile' : 'desktop',
          is_booking: this.isBbk,
          is_premium: this.isPremium,
          redirection_source: this.redirectionSource,
        },
      ]);
    },
    trackAddTenantByTenant() {
      this.$tracker.send('moe', [
        '[Owner] DBET Tenant Options - Clicked',
        {
          owner_name: _get(this.user, 'name', ''),
          owner_phone_number: _get(this.user, 'phone_number', 0),
          owner_email: _get(this.user, 'email', ''),
          interface: this.$device.isMobile ? 'mobile' : 'desktop',
          redirection_source: this.redirectionSource,
        },
      ]);
    },
  },
};
</script>

<style lang="scss" src="./ContractType.scss"></style>
