.add-contract {
  &__title {
    margin-top: 25px;

    @media (max-width: 767px) {
      margin-top: 0;
    }
  }

  &__desc {
    margin-top: 25px !important;

    @media (max-width: 767px) {
      display: none;
    }
  }

  &__cards {
    display: flex;
    margin-top: 45px;

    @media (max-width: 767px) {
      margin-top: 25px;
      flex-direction: column;
      align-items: center;
    }
  }

  &__card-item {
    margin-right: 25px;

    @media (max-width: 767px) {
      margin-right: 0;
      margin-bottom: 15px;
    }
  }
}
