$top-nav-height: 56px;
$bottom-nav-height: 56px;

.wrapper {
  &__body {
    width: 100%;
    padding: 16px;
    margin: $top-nav-height 0 $bottom-nav-height;
    background: #fcfcfc;

    &.fullheight {
      margin-top: 0;
    }

    &--no-bottom-nav {
      margin-bottom: 0;
    }

    &--no-top-nav {
      margin-top: 0;
    }
  }

  &__sendbird {
    position: fixed;
    z-index: 6;
  }

  &__loader {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 20vh;
    height: 20vh;
    margin: auto;
    border-width: 20px;
  }

  &__alert {
    position: fixed;
    top: 20vh;
    right: 5px;
    left: 5px;
    z-index: 41; // more than buefy modal
    max-width: 400px;
    margin: auto;
    box-shadow: 0 0 6px 1px #868686;
  }
}

.scale-out-enter-active,
.scale-out-leave-active {
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
}
.scale-out-enter-to,
.scale-out-leave {
  opacity: 1;
  transform: scale(1);
}
.scale-out-enter,
.scale-out-leave-to {
  opacity: 0;
  transform: scale(0.7);
}
