<template>
  <div class="wrapper">
    <span v-if="loading" class="c-loader wrapper__loader"></span>
    <template v-else>
      <mk-top-navbar-mweb
        v-if="!isHideTopNavbar"
        :title="topNavbarTitle"
        :type="topNavbarType"
        :prev-path="prevPath"
        :is-show-back-button="isShowBackButton"
        :title-alignment="topNavbarAttributes.titleAlign || ''"
        :title-size="topNavbarAttributes.titleSize || ''"
        @back="handleTopNavbarBack"
      />
      <mk-bottom-navbar v-if="!isHideBottomNavbar" />
      <div
        id="wrapperBody"
        :class="{
          'wrapper__body--no-top-nav': isHideTopNavbar,
          'wrapper__body--no-bottom-nav': isHideBottomNavbar,
        }"
        :style="{ background: bodyBackground || null }"
        class="wrapper__body"
      >
        <nuxt />
      </div>

      <modal-init-sequencer />
      <transition name="scale-out">
        <b-message
          v-if="isActive"
          :active="isActive"
          :title="title"
          :type="type"
          @close="handleAlertClosed"
          has-icon
          class="wrapper__alert"
          aria-close-label="Close message"
        >
          {{ message }}
        </b-message>
      </transition>
    </template>

    <modal-price-update :active="isModalPriceUpdate" @close="toggleModalPriceUpdate(false)" />
  </div>
</template>

<script>
import _isEqual from 'lodash/isEqual';
import { mapGetters, mapState } from 'vuex';
import sidebarItems from '../data/sidebarItems';
import MkTopNavbarMweb from '~/components/global/molecules/MkTopNavbarMweb';
import MkBottomNavbar from '~/components/global/organisms/MkBottomNavbar';
import ModalInitSequencer from '~/components/layout-features/default/ModalInitSequencer';
import ModalPriceUpdate from '~/components/layout-features/default/ModalPriceUpdate';
import { initAuthTracker } from '~/utils/authTracker';
import EventBus from '~/components/event-bus/index.js';

export default {
  name: 'DefaultLayout',
  components: {
    MkBottomNavbar,
    ModalInitSequencer,
    ModalPriceUpdate,
    MkTopNavbarMweb,
  },
  data() {
    return {
      isModalPriceUpdate: false,
    };
  },
  computed: {
    ...mapState(['mobile', 'route']),
    ...mapState('alert', ['isActive', 'message', 'title', 'type']),
    ...mapGetters('profile', ['isBbk', 'user', 'getInvisibleSidebars']),
    loading() {
      const { auth, profile } = this.$store.state;
      return !auth.isAuthenticated || profile.loading;
    },
    menuItems() {
      return sidebarItems.map((sidebarItem) => {
        sidebarItem.isVisible = !this.getInvisibleSidebars.includes(sidebarItem.name);

        return sidebarItem;
      });
    },
    isHideTopNavbar() {
      return this.mobile.hideTopNavbar;
    },
    isShowBackButton() {
      return this.mobile.showMobileBackButton;
    },
    topNavbarTitle() {
      return this.mobile.topNavbarTitle || '';
    },
    topNavbarAttributes() {
      return this.mobile.topNavbarAttributes || {};
    },
    topNavbarType() {
      return this.mobile.topNavbarType;
    },
    prevPath() {
      return this.mobile.prevPath;
    },
    bodyBackground() {
      return this.mobile.bodyBackground;
    },
    isHideBottomNavbar() {
      return this.mobile.hideBottomNavbar;
    },
    prevRoute() {
      return this.route.previousRoute;
    },
    customPrevPath() {
      return this.mobile.customPrevPath;
    },
  },
  created() {
    this.$store.dispatch('profile/getProfile').then(() => {
      initAuthTracker(this, this.user);
    });
  },
  mounted() {
    EventBus.$on('onContractExists', () => {
      this.openModalPriceUpdate();
    });
  },
  methods: {
    handleAlertClosed() {
      this.$store.commit('alert/close');
    },
    toggleModalPriceUpdate(isShow) {
      this.isModalPriceUpdate = isShow;
    },
    openModalPriceUpdate() {
      const oneDay = 1;

      if (Cookies.get('isModalPriceShown') === undefined) {
        this.$route.name === 'index' && this.toggleModalPriceUpdate(true);
        Cookies.set('isModalPriceShown', true, { expires: oneDay });
      }
    },
    handleTopNavbarBack() {
      const currentRoute = { name: this.$route.name, path: this.$route.path };

      if (this.prevRoute && !_isEqual(this.prevRoute, currentRoute)) {
        this.$router.back();
      } else if (this.prevPath) {
        const { name = '', path = '/' } = this.prevPath;
        this.$router.replace({ name, path });
      } else if (this.customPrevPath) {
        window.location.href = this.customPrevPath;
      } else {
        this.$router.replace('/');
      }
    },
  },
};
</script>

<style lang="scss" src="./default.scss" scoped></style>
<style>
/* forcely change overflow to leverage safari scroll behavior */
/* stylelint-disable-next-line selector-max-type */
html {
  overflow-y: scroll;
}
/* stylelint-disable-next-line selector-max-type */
.disable-scroll {
  overflow-y: hidden;
}
</style>
