<template>
  <div class="goldplus-room-list-content">
    <bg-alert
      v-if="isShowAlert"
      :closable="false"
      class="goldplus-room-list-content__alert"
      variant="warning"
    >
      <template #footer>
        <bg-text size="body-4" class="goldplus-room-list-content__alert-content">
          {{ alertDescription }}
        </bg-text>
        <bg-link @click="handleGoToBillingList" class="goldplus-room-list-content__alert-link">
          Lihat Semua Tagihan
        </bg-link>
      </template>
    </bg-alert>

    <gold-plus-room-list-filters @filterSelected="handleSelectFilter"></gold-plus-room-list-filters>

    <div class="goldplus-room-list-content__body">
      <div v-if="isLoading" class="goldplus-room-list-content__loader-space"></div>
      <div v-if="isLoading" class="goldplus-room-list-content__loader">
        <div class="c-loader"></div>
      </div>

      <div v-if="!isEmpty && !isLoading" class="goldplus-room-list-content__wrapper">
        <gold-plus-room-card
          v-for="room in roomList"
          :room-data="room"
          :key="room.id"
          hidden-main-action
          shown-room-count
          shown-submission-status
          class="goldplus-room-list-content__room-card"
        ></gold-plus-room-card>
      </div>
      <empty-state
        v-if="isEmpty && !isLoading"
        :illustration="`empty_state_v2`"
        :empty-title="`Kos GoldPlus Tidak Ditemukan`"
        :empty-message="`Saat ini belum ada kos GoldPlus Anda yang ${filterSelected}.`"
      ></empty-state>
    </div>

    <div v-if="currentActiveAction" class="goldplus-room-list-content__footer">
      <mk-button
        @clicked="handleActionButtonClicked"
        block
        color="green-brand"
        class="goldplus-room-list-content__footer-button"
      >
        {{ actionButtonText }}
      </mk-button>
    </div>

    <bg-modal
      v-model="isShowPackageChangesModal"
      @click-main-action="requestPackageChanges"
      @click-second-action="togglePackageChangesModal"
      title="Anda akan mengajukan penggantian paket GoldPlus"
      description="Lakukan penggantian paket GoldPlus dengan menghubungi tim kami."
      mobile-size="popup"
      illustration-name="add-kos-gold-plus"
      illustration-alt="Add kos goldplus"
      button-block
      button-main-text="Hubungi Mamikos"
      button-second-text="Kembali"
      class="package-changes-modal"
    />
  </div>
</template>

<script>
import _get from 'lodash/get';
import { mapState, mapActions, mapGetters } from 'vuex';
import { BgAlert, BgLink, BgText, BgModal } from 'bangul-vue';

import GoldPlusRoomListFilters from '../GoldPlusRoomListFilters';
import GoldPlusRoomCard from '~/components/page-features/goldplus/components/GoldPlusRoomCard';

import MkButton from '~/components/global/atoms/MkButton';
import EmptyState from '~/components/page-features/goldplus/components/GoldPlusRoomsEmptyState';

export default {
  name: 'GoldPlusRoomListContent',
  components: {
    BgModal,
    GoldPlusRoomListFilters,
    GoldPlusRoomCard,
    MkButton,
    EmptyState,
    BgAlert,
    BgLink,
    BgText,
  },
  data() {
    return {
      filterSelected: null,
      currentActiveAction: null, // 'new', 'change'
      isShowPackageChangesModal: false,
      isLoading: false,
      roomList: [],
      offset: 0,
      limit: 15,
      currentActivePackage: null,
    };
  },
  computed: {
    ...mapState('goldplus', ['billingAlertPending']),
    ...mapGetters('profile', ['user']),
    isEmpty() {
      return this.roomList.length === 0;
    },
    widgetFilterKey() {
      return this.$route.params.filter_key || 0;
    },
    closestDate() {
      return _get(this.billingAlertPending, 'closest_date', '');
    },
    alertDescription() {
      return `Mohon selesaikan pembayaran sebelum ${this.closestDate} agar registrasi GoldPlus Anda tidak dibatalkan.`;
    },
    isShowAlert() {
      return _get(this.billingAlertPending, 'has_pending_first_transaction', false);
    },
    actionButtonText() {
      return this.currentActiveAction === 'new'
        ? 'Beli Paket GoldPlus'
        : this.currentActiveAction === 'change'
        ? 'Ajukan Ganti Paket'
        : null;
    },
  },
  created() {
    this.trackPageVisited();
  },
  mounted() {
    this.handleFetchGPSubmissionRoomList([this.offset, this.limit, this.widgetFilterKey]);
    this.handleFetchPendingAlert();
  },
  methods: {
    ...mapActions('goldplus', ['fetchBillingAlertPending']),
    dateTimeFormat(value) {
      return this.$dayjs(value).format('D MMM YYYY');
    },
    async handleFetchPendingAlert() {
      try {
        await this.fetchBillingAlertPending();
      } catch (error) {
        this.$bugsnag.notify(error);
        this.$alert('is-danger', 'Gagal', 'Terjadi galat, silakan coba lagi.');
      }
    },
    handleSelectFilter(filter) {
      const params = [this.offset, this.limit, filter.key];
      this.filterSelected = filter.value;
      this.handleFetchGPSubmissionRoomList(params);
    },
    handleFetchGPSubmissionRoomList([offset, limit, status]) {
      this.isLoading = true;

      this.$api
        .fetchGoldPlusSubmissionRoomList({ offset, limit, status })
        .then(async (response) => {
          if (response.data.status) {
            this.roomList = response.data.data;
            /**
             * The following block means that if owner had never done GP
             * Submission request in advance (flagged as old_gp, done in
             * BE), then set current shown action button to request new
             * submission (new).
             *
             * Else, check if owner has any active GP contracts to set the
             * current action button to 'change' if they do.
             */
            if (response.data.button) this.currentActiveAction = 'new';
            else await this.handleGetActiveContract();
          }
        })
        .catch((error) => {
          this.$bugsnag.notify(error);
          this.$alert('is-danger', 'Gagal', 'Terjadi galat, silakan coba lagi.');
        })
        .finally(() => (this.isLoading = false));
    },
    async handleGetActiveContract() {
      await this.$api
        .getGoldPlusActiveContract()
        .then((response) => {
          if (response.data.status) {
            const contractData = response.data.data.contract;

            if (contractData) {
              this.currentActiveAction = 'change';
              this.currentActivePackage = contractData.name;
            }
          }
        })
        .catch((error) => {
          this.$bugsnag.notify(error);
          this.$alert('is-danger', 'Gagal', 'Terjadi galat, silakan coba lagi.');
        });
    },
    handleGoToBillingList() {
      this.$router.push('/goldplus/payment');
    },
    handleActionButtonClicked() {
      switch (this.currentActiveAction) {
        case 'new':
          this.$router.push('/goldplus/submission');
          break;
        case 'change':
          this.togglePackageChangesModal();
          break;
        default:
          return null;
      }
    },
    togglePackageChangesModal() {
      this.isShowPackageChangesModal = !this.isShowPackageChangesModal;
      this.trackUpgradeDowngradeAction('Ajukan Ganti Paket Button Clicked');
    },
    requestPackageChanges() {
      this.trackUpgradeDowngradeAction('Hubungi Mamikos Button Clicked');
      const mamikosNumber = '6281325111171';
      const preText =
        'Mohon dibantu proses penggantian paket GoldPlus dengan detail sebagai berikut:';
      let detailText = [
        `Nama: ${this.user.name}`,
        `Nomor handphone: ${this.user.phone_number}`,
        `Paket yang sedang aktif: ${this.currentActivePackage}`,
        'Paket pengganti yang ingin diaktifkan:',
      ];

      detailText = detailText.join('%0a');

      const whatsappUrl = `https://api.whatsapp.com/send?phone=${mamikosNumber}&text=Halo,%0a%0a${preText}%0a%0a${detailText}`;

      window.open(whatsappUrl);
    },
    trackPageVisited() {
      this.$tracker.send('moe', [
        '[Owner] Paket Goldplus Anda Visited',
        {
          interface: this.$device.isMobile ? 'mobile' : 'desktop',
          owner_name: this.$store.getters['profile/user'].name,
        },
      ]);
    },
    trackUpgradeDowngradeAction(title) {
      this.$tracker.send('moe', [
        `[Owner]  GP Upgrade - ${title}`,
        {
          interface: this.$device.isMobile ? 'mobile' : 'desktop',
          owner_name: this.currentActivePackage,
        },
      ]);
    },
  },
};
</script>

<style scoped lang="scss" src="./GoldPlusRoomListKostContent.scss"></style>
