/* stylelint-disable selector-max-compound-selectors */
.goldplus-room-list-content {
  &__alert {
    margin-bottom: 20px;

    &-content {
      margin: -12px 0 12px;
    }

    &-link {
      font-weight: 700;
    }
  }

  &__loader {
    position: absolute;
    top: 57.5%;
    left: 50%;
    margin: 0;
    transform: translate(-50%, -50%);

    .c-loader {
      width: 40px;
      height: 40px;
    }

    &-space {
      position: relative;
      width: 60px;
      height: 60px;
      margin: 15px 0;
    }
  }

  @media (min-width: 768px) {
    &__wrapper {
      display: flex;
      flex-wrap: wrap;
    }

    &__room-card {
      width: calc(50% - 12px);
      height: 100%;
      margin-bottom: 30px;

      &:nth-child(even) {
        margin: auto 0 24px 12px;
      }

      &:nth-child(odd) {
        margin: auto 12px 24px 0;
      }
    }
  }

  &__body {
    position: relative;
  }

  &__footer {
    position: fixed;
    bottom: 56px;
    left: 0;
    width: 100%;
    padding: 12px 16px;
    margin-top: 12px;
    background: #fff;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.12);

    @media (min-width: 768px) {
      display: flex;
      justify-content: flex-end;
      &-button {
        width: 298px;
      }
    }

    &-button {
      height: 48px;
      font-size: 16px;
      font-weight: 700;
      line-height: 20px;
    }
  }

  .package-changes-modal {
    ::v-deep {
      // Override bg-modal styles to assure its fixed position on mobile browsers viewport.
      .bg-c-modal__wrapper {
        bottom: 0 !important;
        min-height: unset !important;
      }
    }
  }
}
