.share-link {
  padding-top: 25px;

  @media (max-width: 767px) {
    padding-top: 0;
  }

  &__card {
    margin-top: 45px;
  }

  &__card-copy {
    display: flex;
    margin-top: 15px;
    cursor: pointer;
  }

  &__copy-icon {
    margin-right: 10px;
  }

  &__invisible-link {
    position: absolute;
    opacity: 0;
  }

  &__action-button {
    width: 328px;
    margin: auto;

    @media (max-width: 767px) {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      padding: 15px;
    }

    /* stylelint-disable-next-line */
    button {
      width: 100%;
    }
  }
}
