<template>
  <div class="share-link">
    <bg-text size="title-2" tag="span">
      Anda akan mengirim link beserta pesan sebagai berikut:
    </bg-text>

    <bg-card class="share-link__card">
      <div class="share-link__card-desc">
        <bg-text size="body-2">
          {{ `"${descriptionText}` }}
        </bg-text>

        <a :href="shareLink" target="_blank">
          {{ `${shareLink}"` }}
        </a>

        <input
          id="shareLinkAddContract"
          :value="shareLink"
          class="share-link__invisible-link"
          type="text"
        />
      </div>

      <div v-show="!isMobile" @click="copyLink" class="share-link__card-copy">
        <bg-icon name="copy" class="share-link__copy-icon" />
        <bg-text :underline="true" size="body-1">
          Copy Link
        </bg-text>
      </div>
    </bg-card>

    <share-link-card v-if="!isMobile" :share-content="descriptionText" :share-url="shareLink" />

    <div class="share-link__action-button">
      <bg-button @click="shareAddContractLink" variant="primary" size="lg">
        <bg-text size="body-1">
          {{ isMobile ? 'Bagikan' : 'Selesai' }}
        </bg-text>
      </bg-button>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex';
import { BgButton, BgCard, BgIcon, BgText } from 'bangul-vue';
import ShareLinkCard from '../ShareLinkCard';

export default {
  name: 'ShareLink',

  head() {
    return {
      title: 'Manajemen Kos - share link tambah penyewa',
    };
  },

  components: {
    BgButton,
    BgCard,
    BgIcon,
    BgText,
    ShareLinkCard,
  },

  data() {
    return {
      descriptionText:
        'Mohon bantuannya untuk mengisi formulir berikut untuk kelengkapan data anak kos.',
    };
  },

  computed: {
    ...mapState('contract', ['kosSelected', 'kosLinkShareOptions']),
    shareLink() {
      return `https://mamikos.com/ob/dbet-${this.kosLinkShareOptions.code}`;
    },
    isMobile() {
      return this.$device.isMobile;
    },
    isNativeShareSupport() {
      return !!('share' in navigator);
    },
  },

  methods: {
    copyLink() {
      this.trackOnShareLink();
      const copyText = document.getElementById('shareLinkAddContract');
      copyText.select();
      const copyResult = document.execCommand('copy');

      if (copyResult) {
        this.$buefy.toast.open({
          duration: 2000,
          message: 'Link berhasil di-copy.',
          position: 'is-bottom-left',
        });
      }
    },
    shareAddContractLink() {
      if (this.isMobile) {
        this.trackOnShareLink();
        if (this.isNativeShareSupport) {
          navigator.share({
            title: document.title,
            text: this.descriptionText,
            url: this.shareLink,
          });
        } else {
          this.copyLink();
        }
      } else {
        this.$router.push('/');
      }
    },
    trackOnShareLink() {
      this.$tracker.send('moe', [
        '[Owner] DBET Tenant Options - Shared',
        {
          interface: this.$device.isMobile ? 'mobile' : 'desktop',
          selected_property_name: this.kosSelected.room_title,
          selected_property_type: 'kost',
          selected_property_id: this.kosSelected.id,
          selected_property_city: this.kosSelected.area_city,
          selected_property_subdistrict: this.kosSelected.area_subdistrict,
          kos_link: this.shareLink,
        },
      ]);
    },
  },
};
</script>

<style lang="scss" src="./ShareLink.scss"></style>
