<template>
  <div
    :class="[isDesktop ? '--desktop' : '--mobile', { '--not-sticky': isConfirmationDialogShown }]"
    class="action-card"
  >
    <mk-card :class="isDesktop ? '--desktop' : '--mobile'" class="action-card__card">
      <mk-card-body class="action-card__content">
        <div class="content-info">
          <div class="content-info__point">
            <span class="point-label">Poin Tukar</span>
            <strong class="point-text">
              <img class="point-icon" src="~/assets/images/mamipoin/mamicoin.svg" />
              {{ reward.redeem_value || 0 | toThousands }} Poin
            </strong>
          </div>
          <div class="content-info__date column">
            <span class="date-label">Batas Penukaran</span>
            <time class="date-text">
              <img class="date-icon" src="~/assets/images/mamipoin/clock-icon-black-outline.svg" />
              {{ reward.endDateString || '' }}
            </time>
          </div>
        </div>
        <div class="content-action">
          <b-button
            v-if="isAllowedToRedeem"
            :disabled="!reward.is_eligible"
            @click="handleActionButtonClick"
            expanded
            class="content-action__button"
          >
            Tukar Poin
          </b-button>
          <div v-if="requiredPoint > 0" class="content-action__warning">
            <span class="warning-heading">
              Poin Anda tidak cukup
            </span>
            <p class="warning-text">
              Ayo tambahkan <strong>{{ requiredPoint | toThousands }} poin </strong> agar Anda bisa
              mendapatkan hadiah ini.
            </p>
          </div>
        </div>
      </mk-card-body>
    </mk-card>

    <confirmation-modal
      v-model="isConfirmationDialogShown"
      :is-loading="isSubmitting"
      @submit="handleConfirmationDialogSubmission"
    >
      <div slot="description">
        Anda akan menukarkan {{ reward.redeem_value | toThousands }} poin untuk mendapatkan hadiah
        ini
      </div>
    </confirmation-modal>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import ConfirmationModal from '../../../exchange/components/ConfirmationModal';

import MkCard from '~/components/global/molecules/MkCard';
import MkCardBody from '~/components/global/molecules/MkCard/components/MkCardBody';

export default {
  name: 'ActionCard',
  components: { MkCard, MkCardBody, ConfirmationModal },
  model: {
    prop: 'value',
    event: 'update',
  },
  props: {
    value: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      isLoading: false,
      isConfirmationDialogShown: false,
      isSubmitting: false,
      point: 0,
      reward: {
        redeem_value: 0,
        remaining_quota: {},
        start_date: '',
      },
    };
  },
  computed: {
    ...mapGetters('profile', ['user', 'membership', 'isBooking', 'isPremium']),
    rewardsPage: {
      get() {
        return this.$store.state.mamipoin.rewardsPage;
      },
      set(val) {
        this.$store.commit('mamipoin/setRewardsPage', val);
      },
    },
    isAllowedToRedeem() {
      return this.reward.isAllowedToRedeem && this.point > 0 && this.requiredPoint <= 0;
    },
    isDesktop() {
      return this.$device.isDesktop;
    },
    exchangeUrl() {
      return `/mamipoin/rewards/${this.rewardId}/exchange`;
    },
    rewardId() {
      return this.$route.params.reward_id;
    },
    requiredPoint() {
      return this.reward.redeem_value - this.point;
    },
  },
  watch: {
    isLoading(val) {
      this.$emit('update', val);
    },
    isConfirmationDialogShown(val) {
      this.$emit('update:action-modal', val);
    },
  },
  created() {
    this.fetchPoint();
    this.fetchRewardDetail();
  },
  methods: {
    handleConfirmationDialogSubmission(isConfirmed = false) {
      if (isConfirmed) {
        this.sendConfirmRedeemTrackerEvent();
        this.redeemReward();
      } else {
        this.isConfirmationDialogShown = false;
      }
    },
    sendConfirmRedeemTrackerEvent() {
      this.$tracker.send('moe', [
        '[Owner] Tukar Poin Confirmed',
        {
          interface: this.isDesktop ? 'desktop' : 'mobile',
          is_owner: true,
          is_mamipay: this.membership.is_mamipay_user,
          is_booking: this.isBooking,
          is_premium_owner: this.isPremium,
          reward_id: this.reward.id,
          reward_type: this.reward.type,
          reward_name: this.reward.name,
        },
      ]);
    },
    sendRedeemPointTrackerEvent() {
      this.$tracker.send('moe', [
        '[Owner] Tukar Poin Clicked',
        {
          interface: this.isDesktop ? 'desktop' : 'mobile',
          is_owner: true,
          is_mamipay: this.membership.is_mamipay_user,
          is_booking: this.isBooking,
          is_premium_owner: this.isPremium,
          reward_id: this.reward.id,
          reward_type: this.reward.type,
          reward_name: this.reward.name,
        },
      ]);
    },
    redeemReward() {
      const request = {
        id: parseInt(this.rewardId),
        recipient_name: this.user.name,
        recipient_phone: this.user.phone_number,
      };
      this.isSubmitting = true;
      this.$api
        .redeemReward(this.rewardId, request)
        .then((response) => {
          if (response.data.status) {
            const redeemId = response.data.redeem_id;
            this.$buefy.toast.open({
              duration: 2000,
              message: 'Hadiah berhasil ditukar',
              position: 'is-bottom',
            });
            if (redeemId) {
              this.$router.push(`/mamipoin/redeem/${redeemId}`);
            } else {
              this.$router.push('/mamipoin/rewards');
            }
          } else {
            this.$buefy.toast.open({
              duration: 2000,
              message: 'Hadiah gagal ditukar',
              position: 'is-bottom',
            });
          }
          this.isSubmitting = false;
        })
        .catch(() => {
          this.isSubmitting = false;
          this.$buefy.toast.open({
            duration: 2000,
            message: 'Hadiah gagal ditukar',
            position: 'is-bottom',
          });
        });
    },
    handleActionButtonClick() {
      this.sendRedeemPointTrackerEvent();
      const isRequiredToFillFormList = [
        'virtual_goods_pln',
        'virtual_goods_pulsa',
        'shipping_goods',
      ];
      if (isRequiredToFillFormList.includes(this.reward.type)) {
        this.$router.push(this.exchangeUrl);
      } else {
        this.isConfirmationDialogShown = true;
        window.scrollTo(0, 0);
      }
    },
    fetchPoint() {
      this.$api.getPointTotal().then((response) => {
        if (response.data.status) {
          this.point = response.data.point;
        }
      });
    },
    fetchRewardDetail() {
      this.isLoading = true;
      this.$api
        .getRewardDetail(this.rewardId)
        .then((response) => {
          if (response.data.status) {
            const reward = response.data.data || {};
            reward.endDateString = reward.end_date
              ? this.$dayjs(reward.end_date, 'YYYY-MM-DD hh:mm:ss').format('DD MMM YYYY')
              : '';

            const remainingQuotaChecklist = ['total', 'daily', 'total_user', 'daily_user'];
            let isAllowedToRedeem = true;
            remainingQuotaChecklist.forEach((key) => {
              if (!reward.remaining_quota[key]) isAllowedToRedeem = false;
            });

            reward.isAllowedToRedeem = isAllowedToRedeem;
            reward.redeem_value = parseInt(reward.redeem_value || 0);

            this.reward = { ...this.reward, ...reward };
          }
          this.isLoading = false;
        })
        .catch(() => {
          this.isLoading = false;
        });
    },
  },
};
</script>

<style lang="scss" scoped src="./ActionCard.scss"></style>
