$border-color: #ddd;

$warning-bg-color: #f9ede7;
$warning-color: #ff863a;

$success-color: #1baa56;

$text-size: (
  desktop: 16px,
  mobile: 14px,
);

@mixin fontSize($source: $text-size, $scale: 1) {
  font-size: map-get($source, 'desktop') * $scale;

  @media (max-width: 480px) {
    font-size: map-get($source, 'mobile') * $scale;
  }
}

.action-card {
  @media (max-width: 769px) {
    width: 100%;
  }

  &__loader {
    margin-top: 50px;

    .c-loader {
      width: 40px;
      height: 40px;
    }
  }

  &__card {
    @include fontSize($text-size);

    @media (max-width: 769px) {
      width: 100%;
    }

    @media (max-width: 480px) {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }

    &.--desktop {
      /* stylelint-disable-next-line plugin/no-unsupported-browser-features */
      position: sticky;

      &.--not-sticky {
        position: relative;
      }
    }

    &.--mobile {
      position: fixed;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 4;
    }

    @media (max-width: 480px) {
      margin-bottom: 0;
    }
  }
}

.content-info {
  @include fontSize($text-size);

  display: flex;
  margin-bottom: 20px;

  &__point {
    display: flex;
    width: calc(50% - 2px);
    flex-direction: column;
    border-right: 2px solid $border-color;
    justify-content: center;
    align-items: center;

    .point-label {
      margin-bottom: 5px;
    }

    .point-text {
      display: flex;
      align-items: center;
    }

    .point-icon {
      max-height: 16px;
      margin-right: 5px;
    }
  }

  &__date {
    width: 50%;
    padding-left: 20px;

    .date-label {
      display: block;
      margin-bottom: 5px;
    }

    .date-icon {
      width: 18px;
      height: 18px;
      margin-right: 10px;
    }

    .date-text {
      display: flex;
      align-items: center;
      font-weight: bold;
    }
  }
}

.content-action {
  &__button {
    color: #fff;
    background-color: $success-color;
    border: 0;
    border-radius: 4px;

    &[disabled='disabled'] {
      color: #bbb;
      background: #e8e8e8;
    }
  }

  &__warning {
    padding: 10px 15px;
    background-color: $warning-bg-color;
    border-radius: 2.5px;

    .warning-heading {
      font-weight: 600;
      line-height: 1.5;
      color: $warning-color;
    }
  }
}
