<template>
  <div class="gift-card-wrapper">
    <mk-card class="gift-card">
      <mk-card-body class="gift-card__body">
        <div class="gift-body">
          <div class="gift-body__content">
            <div class="content-name">
              <span class="content-name__text">
                {{ redeem.reward.name | shortenText }}
              </span>
            </div>
            <div class="content-status">
              <span :class="redeem.className" class="content-status__icon">
                <b-icon
                  :icon="redeem.displayIcon"
                  :class="redeem.displayIconClassName"
                  class="status-icon"
                />
              </span>
              <span class="content-status__text">
                {{ redeem.displayStatus }}
              </span>
            </div>
          </div>
          <div class="gift-body__action">
            <b-button @click.native="viewDetail" type="is-text" class="gift-button">
              Lihat Status
            </b-button>
          </div>
        </div>
      </mk-card-body>
    </mk-card>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';

import MkCard from '~/components/global/molecules/MkCard';
import MkCardBody from '~/components/global/molecules/MkCard/components/MkCardBody';

import { shortenText } from '~/utils/string';

export default {
  name: 'GiftCard',
  components: {
    MkCard,
    MkCardBody,
  },
  filters: {
    shortenText,
  },
  props: {
    redeem: {
      required: true,
      type: Object,
    },
  },
  computed: {
    ...mapGetters('profile', ['isBooking', 'isPremium', 'membership']),
    isDesktop() {
      return this.$device.isDesktop;
    },
  },
  methods: {
    async viewDetail() {
      if (!this.isDesktop) {
        await this.$store.commit('mamipoin/setRedeemDetailPage', {
          prevPath: {
            name: 'mamipoin',
            path: '/mamipoin',
          },
        });
      }
      this.$router.push(`/mamipoin/redeem/${this.redeem.id}`);
    },
  },
};
</script>

<style lang="scss" scoped src="./GiftCard.scss"></style>
