$font-size: (
  desktop: 16px,
  mobile: 14px,
);

$line-height: 1.5rem;

/* stylelint-disable selector-max-type, selector-max-compound-selectors,  max-nesting-depth, value-no-vendor-prefix, property-no-vendor-prefix  */

@mixin fontSize($source: $font-size, $scale: 1) {
  font-size: map-get($source, 'desktop') * $scale;

  @media (max-width: 768px) {
    font-size: map-get($source, 'mobile') * $scale;
  }
}

@mixin vendor($selector, $value) {
  -moz-#{$selector}: $value;
  -webkit-#{$selector}: $value;
  -o-#{$selector}: $value;
  -ms-#{$selector}: $value;
  #{$selector}: $value;
}

.gift-card-wrapper {
  position: relative;
  z-index: 0;
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 0 1px 4px rgba(36, 36, 36, 0.14);

  @media (max-width: 768px) {
    border-radius: 8px;
  }

  &::after {
    position: absolute;
    top: calc(50% - 16px);
    right: -16px;
    z-index: 1;
    width: 32px;
    height: 32px;
    content: '';
    background-color: #fff;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    box-shadow: inset 3px 1px 5px rgba(36, 36, 36, 0.14);

    @media (max-width: 768px) {
      background-color: #fcfcfc;
    }
  }
}

.gift-card {
  position: relative;
  margin: 0;
  background: unset;
  box-shadow: unset;

  &__body {
    position: relative;
    padding: 0;
    background: unset;
    border-radius: 16px;
  }
}

.gift-body {
  display: flex;
  height: 128px;

  &__content {
    display: flex;
    width: 75%;
    padding: 20px 24px;
    line-height: $line-height;
    flex-direction: column;
    border-right: 2px dashed #ddd;

    @media (max-width: 768px) {
      padding: 20px 10px;
    }

    @media (max-width: 480px) {
      width: 65%;
    }

    .content-name {
      position: relative;
      display: block; // fallback
      display: -webkit-box;
      min-height: $line-height * 2;
      max-height: $line-height * 2;
      padding-right: 1rem;
      overflow: hidden;
      font-style: normal;
      font-weight: bold;
      text-overflow: ellipsis;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;

      &__text {
        position: relative;
      }
    }
  }

  &__action {
    display: flex;
    width: 25%;
    padding: 20px 30px 20px 15px;
    text-align: center;
    align-items: center;
    justify-content: center;

    @media (max-width: 768px) {
      padding: 20px 25px 20px 10px;
    }

    @media (max-width: 480px) {
      width: 35%;
    }

    .gift-button {
      padding: 0;
      font-size: 14px;
      font-style: normal;
      font-weight: bold;
      line-height: 1.125;
      color: #1baa56;
      text-decoration: none;
      white-space: normal;

      ::v-deep > span {
        max-width: 60px;
      }

      &:hover,
      &:focus {
        text-decoration: underline;
        background-color: unset;
      }
    }
  }
}

.content-status {
  width: 100%;
  margin-top: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  @include fontSize($font-size, 1);

  &__icon {
    &.--success {
      ::v-deep i::before {
        color: #1baa56;
      }
    }

    &.--failed {
      ::v-deep i::before {
        color: #da3438;
      }
    }

    &.--onprocess {
      ::v-deep i::before {
        color: #bbb;
      }
    }

    .status-icon {
      width: 16px;
      height: 16px;

      @media (max-width: 768px) {
        width: 12px;
        height: 12px;
      }

      ::v-deep i::before {
        font-size: 16px;

        @media (max-width: 768px) {
          font-size: 14px;
        }
      }

      &.--reversed {
        @include vendor('transform', scale(-1, 1));
      }
    }
  }
}
