.room-page {
  &__header {
    margin-bottom: 24px;
  }

  &__body {
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
    align-items: flex-start;
  }

  &__back-icon {
    margin-right: 10px;
    cursor: pointer;

    &::v-deep .mdi-24px.mdi::before {
      font-size: 28px;
    }
  }
  &__title {
    font-size: 24px;
    font-weight: bold;
    line-height: 36px;
    color: rgba(0, 0, 0, 0.87);
  }
}
