<template>
  <div class="room-page">
    <div class="room-page__header">
      <b-icon
        @click.native="handleBackIconClicked"
        icon="arrow-left"
        class="room-page__back-icon"
      ></b-icon>
      <span class="room-page__title">{{
        isUpdatedRoomPage ? 'Update Kamar' : 'Update Harga'
      }}</span>
    </div>
    <div v-if="!noProperty" class="room-page__body columns">
      <property-list
        v-if="!$route.query.single"
        :properties="properties"
        :is-update-room="isUpdatedRoomPage"
        :is-loading="isLoading"
        @updateData="getData"
        class="column is-narrow"
      />
      <nuxt-child class="column" />
    </div>
    <state-no-property v-else title="Anda Belum Mempunyai Kos Aktif" />
  </div>
</template>

<script>
import PropertyList from '../components/PropertyList';
import StateNoProperty from '~/components/page-features/dashboard/components/StateNoProperty';

export default {
  name: 'RoomDesktop',
  components: {
    PropertyList,
    StateNoProperty,
  },
  data() {
    return {
      properties: [],
      noProperty: false,
      offset: 0,
      limit: 20,
      hasNextPage: true,
      isLoading: false,
    };
  },
  computed: {
    isUpdatedRoomPage() {
      return (
        this.$route.name === 'kos-rooms' ||
        this.$route.name === 'kos-rooms-index' ||
        this.$route.name === 'kos-rooms-kos_id'
      );
    },
    isRedirectUrl() {
      const { redirect_url } = this.$route.query;
      return redirect_url;
    },
  },
  async mounted() {
    if (!this.$route.query.single) {
      await this.getData();
    }

    // redirect to first property endpoint when owner enters to /kos/rooms path
    if (
      (this.$route.name === 'kos-rooms' || this.$route.name === 'kos-rooms-price') &&
      this.properties.length
    ) {
      this.$router.replace({
        name: this.$route.name === 'kos-rooms' ? 'kos-rooms-kos_id' : 'kos-rooms-price-kos_id',
        params: { kos_id: this.properties[0]._id },
      });
    }
  },
  methods: {
    handleBackIconClicked() {
      if (this.isRedirectUrl) {
        window.location.href = this.isRedirectUrl;
        return;
      }

      this.$router.push('/');
    },
    getData() {
      if (this.hasNextPage && !this.isLoading) {
        this.isLoading = true;
        return this.$api
          .getActiveProperty({ limit: this.limit, offset: this.offset })
          .then((res) => {
            !res.data.rooms.length && (this.hasNextPage = false);
            this.properties.push(...res.data.rooms);
            // show no property state when owner doesn't have any property
            !this.properties.length && (this.noProperty = true);
            // increament offset
            this.offset = this.offset + this.limit;
            this.isLoading = false;
          })
          .catch(() => {
            this.isLoading = false;
          });
      }
      return Promise.resolve();
    },
  },
};
</script>

<style lang="scss" src="./desktop.scss" scoped></style>
