<template>
  <div class="exchange-detail">
    <div v-if="isLoading" class="exchange-detail__loader">
      <div class="c-loader" />
    </div>
    <div v-else :class="isDesktop ? '--desktop' : '--mobile'" class="exchange-detail__content">
      <div class="content-voucher">
        <strong class="content-voucher__name">
          {{ redeem.reward.name | shortenText }}
        </strong>
        <div class="content-voucher__value">
          <img class="voucher-icon" src="~/assets/images/mamipoin/mamicoin.svg" />
          <span class="voucher-point">
            {{ redeem.reward.redeem_value | toThousands }}
            poin
          </span>
        </div>
      </div>
      <h1 v-if="!isDesktop" class="content-title">
        Status Hadiah
      </h1>
      <div class="content-progress b-steps">
        <div class="steps is-brand size">
          <ul class="step-items">
            <li
              v-for="(step, idx) in steps"
              :key="'step' + idx"
              :class="step.className"
              class="step-item is-active"
            >
              <a class="step-link">
                <div class="step-marker">
                  <img :src="stepImage(step.image)" v-if="step.image" class="step-marker__image" />
                  <b-icon v-else :icon="step.icon" class="step-marker__icon" size="is-medium" />
                </div>
                <div class="step-details">
                  <span class="step-title">{{ step.title }}</span>
                  <span class="step-date">{{ step.dateString }}</span>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="content-info">
        <div class="info-detail">
          <div class="info-detail__item">
            <span class="item-label">
              ID Penukaran
            </span>
            <strong class="item-text"> #{{ redeemId }} </strong>
          </div>
          <div class="info-detail__item">
            <span class="item-label">
              Keterangan
            </span>
            <strong class="item-text">
              {{ redeem.notes || '-' }}
            </strong>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { groupBy, orderBy } from 'lodash';
import redeemDictionary from '../../json/redeemDictionary.json';
import { shortenText } from '~/utils/string';

export default {
  name: 'ExchangeDetail',
  filters: {
    shortenText,
  },
  data() {
    return {
      isLoading: false,
      redeem: {
        reward: {},
        history: [],
      },
      steps: [],
    };
  },
  computed: {
    redeemId() {
      return this.$route.params.redeem_id;
    },
    isDesktop() {
      return this.$device.isDesktop;
    },
  },
  mounted() {
    this.fetchRedeemDetail();
  },
  methods: {
    stepImage(image) {
      return require(`~/assets/images/mamipoin/${image}.svg`);
    },
    mapRedeemHistory(groupedHistory) {
      let history = [];
      Object.keys(groupedHistory).forEach((hist) => {
        const group = groupedHistory[hist];
        history.push(group[group.length - 1]);
      });

      history = history.map((item) => {
        const dict = redeemDictionary[item.status] || {};
        const { title = 'Menunggu', image, icon, order = 2, className = 'is-default' } = dict;

        const dateString = item.date
          ? this.$dayjs(item.date, 'YYYY-MM-DD hh:mm:ss').format('DD MMM YYYY hh:mm')
          : '';

        return {
          ...item,
          ...{
            title,
            image,
            icon,
            order,
            className,
            dateString,
          },
        };
      });

      return history;
    },
    concatOnProcessStatus(steps) {
      const redeemDateString = (steps.find((step) => step.status === 'redeemed') || {}).dateString;
      steps = steps.concat([
        {
          title: 'Diproses',
          status: 'onprocess',
          image: 'clock-icon-white-filled',
          order: 1,
          className: 'is-previous --done',
          dateString: redeemDateString,
        },
      ]);
      return steps;
    },
    filterDuplicateFinishedStatus(steps) {
      if (this.redeem.status === 'success') {
        steps = steps.filter((step) => step.status !== 'failed');
      } else if (this.redeem.status === 'failed') {
        steps = steps.filter((step) => step.status !== 'success');
      }
      return steps;
    },
    concatFinishedStatus(steps) {
      const finishedList = ['success', 'failed'];
      steps = steps
        .filter((hist) => !finishedList.includes(hist.status))
        .concat([
          {
            title: 'Berhasil',
            status: 'success',
            order: 2,
            className: '--in-progress',
            icon: 'check-circle',
          },
        ]);
      return steps;
    },
    fetchRedeemDetail() {
      this.isLoading = true;
      this.$api
        .getRedeemDetail(this.redeemId)
        .then((response) => {
          if (response.data.status) {
            this.redeem = { ...this.redeem, ...response.data.data };

            this.redeem.displayStatus = redeemDictionary[this.redeem.status].displayStatus;

            const groupedHistory = groupBy(this.redeem.history, 'status');
            let steps = this.mapRedeemHistory(groupedHistory);

            const isFinished = ['success', 'failed'].includes(this.redeem.status);
            const hasOnProcessStatus = this.redeem.history.some(
              (hist) => hist.status === 'onprocess',
            );

            steps = hasOnProcessStatus ? steps : this.concatOnProcessStatus(steps);
            steps = isFinished
              ? this.filterDuplicateFinishedStatus(steps)
              : this.concatFinishedStatus(steps);

            this.steps = orderBy(steps, ['order']);
          }
          this.isLoading = false;
        })
        .catch(() => {
          this.isLoading = false;
        });
    },
  },
};
</script>

<style lang="scss" scoped src="./ExchangeDetail.scss"></style>
