$text-size: (
  desktop: 16px,
  mobile: 14px,
);
$heading-size: (
  desktop: 20px,
  mobile: 18px,
);

@mixin fontSize($source: $text-size) {
  font-size: map-get($source, 'desktop');

  @media (max-width: 480px) {
    font-size: map-get($source, 'mobile');
  }
}

/* stylelint-disable selector-max-type, selector-max-specificity, selector-max-compound-selectors, max-nesting-depth, value-no-vendor-prefix, property-no-vendor-prefix */

.exchange-detail {
  &__loader {
    margin: 40px 0;

    .c-loader {
      width: 40px;
      height: 40px;
    }
  }
}

.content-voucher {
  line-height: 1.75rem;

  @media (max-width: 480px) {
    margin-top: 10px;
  }

  &__name {
    position: relative;
    display: block; // fallback
    display: -webkit-box;
    max-height: 3.5rem;
    overflow: hidden;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    text-overflow: ellipsis;
    word-break: break-word;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;

    @media (max-width: 480px) {
      font-size: 22px;
    }
  }

  &__value {
    display: flex;
    margin-top: 10px;
    align-items: center;

    .voucher-icon {
      height: 16px;
      margin-right: 5px;
    }

    .voucher-point {
      margin-right: 5px;
      font-size: 20px;

      @media (max-width: 480px) {
        font-size: 16px;
      }
    }
  }
}

.content-title {
  padding-top: 20px;
  margin-top: 20px;
  font-size: 20px;
  font-style: normal;
  font-weight: bold;
  line-height: 28px;
  color: #404040;
  border-top: 1px solid #dbdbdb;

  @media (max-width: 480px) {
    font-size: 18px;
  }
}

.content-progress {
  margin: 60px 0 30px;

  @media (max-width: 480px) {
    margin: 40px 0 0;
  }

  &.b-steps {
    .steps .step-items {
      .step-item {
        &:first-of-type {
          &::before {
            content: unset;
          }
        }

        &:last-of-type {
          &::after {
            content: unset;
          }
        }

        &.--in-progress {
          &::before {
            /* stylelint-disable-next-line plugin/no-unsupported-browser-features */
            background: linear-gradient(to left, #dbdbdb 50%, #1baa56 50%);
          }
        }

        &.--not-done {
          &::before {
            background: #dbdbdb;
          }
        }

        &.--done {
          &::before {
            background: #1baa56;
          }
        }
      }
    }

    .step-item {
      &:not(:first-child) {
        &::before {
          width: 100%;
        }
      }

      &.is-danger {
        .step-marker {
          background-color: #db0808;
          border: 0;
        }
      }

      &.is-active {
        .step-marker {
          border: 2px solid #e8e8e8;
        }
      }

      &.is-previous {
        .step-marker {
          background-color: #1baa56;
          border: 0;

          .icon {
            *,
            ::before {
              font-size: 28px;

              color: #fff;
            }
          }
        }
      }

      .step-marker {
        top: -18px;
        left: calc(50% - 36px);
        width: 72px;
        height: 72px;
        box-sizing: border-box;
        background: #fff;
        border: 2px solid #e8e8e8;

        &__image {
          height: 24px;
        }

        .icon {
          color: #e8e8e8;

          *,
          ::before {
            font-size: 28px;
          }
        }
      }

      .step-details {
        margin-top: 72px;
        margin-bottom: 36px;

        @include fontSize($text-size);

        .step-title {
          font-size: 20px;

          @media (max-width: 480px) {
            font-size: 16px;
          }
        }

        .step-date {
          font-size: 16px;

          @media (max-width: 480px) {
            font-size: 12px;
          }
        }
      }
    }
  }

  .step-title {
    display: block;
    font-weight: bold;
    line-height: 1.5;
    word-break: break-word;
    @include fontSize($heading-size);
  }

  .step-info {
    color: #383746;
    @include fontSize($text-size);
  }
}

.content-info {
  margin: 40px 0;

  @media (max-width: 480px) {
    padding-bottom: 10px;
    margin: 0 0 20px;
    border-bottom: 1px solid #dbdbdb;
  }

  .info-title {
    @include fontSize($heading-size);
    line-height: 1.5;
  }

  .info-detail {
    @include fontSize($text-size);

    &__item {
      display: flex;
      margin: 10px 0;

      .item-label {
        margin-right: auto;
      }

      .item-text {
        max-width: 50vw;
        margin-left: 20px;
        text-align: right;
        word-break: break-word;
      }
    }
  }
}
