.room-list {
  display: flex;
  flex-direction: column;

  &__option {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    cursor: pointer;

    * {
      word-break: break-word;
    }

    &:not(:last-of-type) {
      margin-bottom: 16px;
    }

    &-radio {
      flex-grow: 1;
    }

    &--disabled {
      cursor: default;
    }
  }

  &__gp-label {
    flex-shrink: 0;
    margin-left: 8px;
  }

  &__disabled-overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: transparent;
  }

  $this: &;

  ::v-deep {
    .bg-c-radio__icon {
      flex-shrink: 0 !important;
    }

    #{$this}__gp-label--disabled {
      color: #bbb;
    }
  }
}
