<template>
  <div class="room-list">
    <div
      v-for="room in options"
      :key="room.id"
      :class="{ 'room-list__option--disabled': room.disable }"
      @click="room.disable ? null : (selectedRoom = room.id)"
      class="room-list__option"
    >
      <bg-radio
        v-model="selectedRoom"
        :id="`roomOption${room.id}`"
        :label="`${room.name} ${room.floor}`"
        :disabled="room.disable || disabled"
        :checked="room.id === value"
        :custom-value="room.id"
        class="room-list__option-radio"
      />
      <bg-label-pill
        v-if="room.is_gold_plus"
        :class="{ 'room-list__gp-label--disabled': room.disable }"
        class="room-list__gp-label"
        color="yellow"
      >
        GoldPlus
      </bg-label-pill>
      <div
        v-if="room.disable"
        @click="$emit('disabled-clicked')"
        class="room-list__disabled-overlay"
      />
    </div>
  </div>
</template>

<script>
import { BgRadio, BgLabelPill } from 'bangul-vue';

export default {
  components: {
    BgRadio,
    BgLabelPill,
  },
  props: {
    value: {
      type: Number,
      required: true,
    },
    options: {
      type: Array,
      required: true,
    },
    disabled: {
      type: Boolean,
      default: false,
    },
  },
  computed: {
    selectedRoom: {
      get() {
        return this.value;
      },
      set(value) {
        this.$emit('input', value);
      },
    },
  },
};
</script>

<style lang="scss" src="./RoomList.scss" scoped></style>
