<template>
  <div :style="styles" class="c-mk-card">
    <slot />
  </div>
</template>

<script>
export default {
  name: 'MkCard',
  props: {
    /**
     * card's width
     * card will align center on default
     */
    width: {
      type: Number,
      default: null,
    },
    /**
     * card's width
     * card will align center on default
     */
    maxWidth: {
      type: Number,
      default: null,
    },
  },
  computed: {
    styles() {
      const suffixPx = (prop) => prop && `${prop}px`;
      return {
        width: suffixPx(this.width),
        'max-width': suffixPx(this.maxWidth),
      };
    },
  },
};
</script>

<style lang="scss" src="./MkCard.scss"></style>
