.c-mk-card {
  display: block;
  margin: auto auto 24px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 8px 24px rgba(56, 55, 70, 0.08);

  &__title {
    font-size: 24px;
    font-style: normal;
    font-weight: bold;
    line-height: 36px;
  }

  &__header {
    padding: 16px 16px 0;
    font-family: Lato;
    font-size: 24px;
  }

  &__body {
    padding: 12px 16px 24px;
  }
  &__footer {
    padding: 16px;
    border-top: solid 1px #f4f4f4;
  }
}
