<template>
  <div :class="rewardHeaderClass" class="reward-header">
    <div
      :class="hasScrolledMobile ? '--visible' : '--invisible'"
      class="header-content --mobile --has-scrolled header-content__fixed"
    >
      <div class="header-content__point">
        <span class="point-label">MamiPoin</span>
        <div class="point-info">
          <img class="info-image" src="~/assets/images/mamipoin/mamicoin-basic.svg" />
          <strong class="info-total"> {{ point || 0 | toThousands }} </strong>
        </div>
      </div>
      <div class="header-content__faq">
        <b-button
          :rounded="true"
          @click="showRewardOnboarding"
          :disabled="isPopoverShown"
          size="is-small"
          class="faq-button --mobile  --small"
        >
          <b-icon size="is-small" icon="help-circle" class="faq-button__icon" />
          <span class="faq-button__text">
            Bantuan
          </span>
        </b-button>
      </div>
    </div>
    <div :class="headerContentOriginalClass" class="header-content --original">
      <div
        :class="{
          'is-highlighted': isPopoverShown && rewardsPage.currentOnboardingStep === 'pointCount',
        }"
        class="reward-header__mamipoin"
      >
        <div ref="pointWrapper" class="text-wrapper">
          <img class="mamipoin-image" src="~/assets/images/mamipoin/mamicoin-basic.svg" />
          <div class="mamipoin-info">
            <span class="info-title"> MamiPoin Anda </span>
            <strong class="info-total"> {{ point || 0 | toThousands }} Poin </strong>
          </div>
          <guide-popover
            :is-active="isPopoverShown && rewardsPage.currentOnboardingStep === 'pointCount'"
            :boundaries-element="parent.$refs.rewardContent"
            @click:popover-button="closePopover"
            offset="40"
            title="Poin Anda"
            message="Pastikan poin Anda cukup untuk ditukarkan dengan hadiah yang Anda inginkan."
            position="bottom-left"
            class="reward-header__popover"
          />
        </div>
      </div>
      <div
        :class="{ 'is-highlighted': isPopoverShown && rewardsPage.currentOnboardingStep === 'faq' }"
        class="reward-header__faq"
      >
        <div ref="faqWrapper" class="button-wrapper">
          <b-button
            :rounded="true"
            :disabled="isPopoverShown"
            @click="showRewardOnboarding"
            :class="[
              isDesktop ? '--desktop' : '--mobile',
              { '--has-full-opacity': isPopoverShown },
            ]"
            class="faq-button"
          >
            <b-icon icon="help-circle" class="faq-button__icon"> </b-icon>
            <span class="faq-button__text">
              Bantuan

              <guide-popover
                :is-active="isPopoverShown && rewardsPage.currentOnboardingStep === 'faq'"
                :offset="isDesktop ? 30 : 20"
                :is-finished="true"
                :boundaries-element="parent.$refs.rewardContentBody"
                @click:popover-button="closePopover"
                :placement="isDesktop ? 'bottom-right' : 'top-right'"
                title="Bantuan"
                message="Tekan tombol Bantuan untuk kembali mempelajari cara penukaran poin."
                finished-button-text="Selesai"
                class="reward-header__popover"
              />
            </span>
          </b-button>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import onboardingMixin from '~/components/page-features/mamipoin/mixins/onboarding';
import GuidePopover from '~/components/page-features/mamipoin/components/GuidePopover';
export default {
  name: 'RewardHeader',
  components: { GuidePopover },
  mixins: [onboardingMixin],
  props: {
    hasScrolledMobile: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      point: 0,
      pointWrapperHeight: 0,
      popover: {
        pointCount: {
          title: 'Poin Anda',
          message: 'Pastikan poin Anda cukup untuk ditukarkan dengan hadiah yang Anda inginkan.',
        },
        faq: {
          title: 'Bantuan',
          message: 'Tekan tombol Bantuan untuk kembali mempelajari cara penukaran poin.',
        },
      },
    };
  },
  inject: ['parent'],
  computed: {
    rewardsPage: {
      get() {
        return this.$store.state.mamipoin.rewardsPage;
      },
      set(val) {
        this.$store.commit('mamipoin/setRewardsPage', val);
      },
    },
    popoverText() {
      return this.popover[this.rewardsPage.currentOnboardingStep] || {};
    },
    isOnboardingActive() {
      return !this.rewardsPage.hasViewedOnboarding && !this.isProfileModalShown;
    },
    isPopoverShown() {
      const steps = ['pointCount', 'faq'];
      return (
        !this.rewardsPage.hasViewedOnboarding &&
        steps.includes(this.rewardsPage.currentOnboardingStep) &&
        !this.isProfileModalShown
      );
    },
    isDesktop() {
      return this.$device.isDesktop;
    },
    rewardHeaderClass() {
      return [
        {
          '--has-highlight': this.isPopoverShown,
          '--not-sticky': this.isOnboardingActive && !this.isPopoverShown,
          '--has-scrolled': this.hasScrolledMobile,
        },
        this.isDesktop ? '--desktop' : '--mobile',
      ];
    },
    headerContentOriginalClass() {
      return [
        this.isDesktop ? '--desktop' : '--mobile',
        this.hasScrolledMobile ? '--invisible' : '--visible',
      ];
    },
  },
  watch: {
    isPopoverShown(val) {
      if (val && !this.isDesktop) {
        this.setBodyOverflow(false);
      }
      val && this.scrollToThisCard();
    },
  },
  created() {
    this.fetchPoint();
  },
  mounted() {
    this.preparePopover();
  },
  methods: {
    scrollToThisCard() {
      this.$el && this.$el.scrollIntoView({ block: 'center', behavior: 'smooth' });
    },
    preparePopover() {
      if (this.isPopoverShown) {
        this.scrollToThisCard();
        !this.isDesktop && this.setBodyOverflow(false);
      }
    },
    showRewardOnboarding() {
      window.scroll({
        top: 0,
        behavior: 'smooth',
      });
      this.$nextTick(() => {
        this.rewardsPage = {
          ...this.rewardsPage,
          ...{ hasViewedOnboarding: false, currentOnboardingStep: 'pointCount' },
        };
      });
    },
    closePopover() {
      if (this.rewardsPage.currentOnboardingStep === 'pointCount') {
        this.rewardsPage = {
          ...this.rewardsPage,
          ...{ hasViewedOnboarding: false, currentOnboardingStep: 'firstReward' },
        };
      } else if (this.rewardsPage.currentOnboardingStep === 'faq') {
        this.rewardsPage = {
          ...this.rewardsPage,
          ...{ hasViewedOnboarding: true, currentOnboardingStep: 'faq' },
        };
        this.setBodyOverflow(true);
      }
    },
    fetchPoint() {
      this.$api.getPointTotal().then((response) => {
        if (response.data.status) {
          this.point = parseInt(response.data.point || 0);
        }
      });
    },
  },
};
</script>
<style lang="scss" scoped src="./RewardHeader.scss"></style>
