$info-text-color: #303030;

/* stylelint-disable selector-max-type, selector-max-specificity, selector-max-compound-selectors, max-nesting-depth, ,no-unsupported-browser-features */

.reward-header {
  padding-bottom: 20px;

  &.--desktop {
    background-color: #fff;
  }

  &.--mobile {
    background-color: #fcfcfc;

    &.--has-scrolled {
      background-color: transparent;
    }
  }

  &.--has-highlight {
    position: relative;

    &::before {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 10;
      display: block;
      width: 100%;
      height: 100%;
      content: '';
      background-color: rgba(0, 0, 0, 0.6);
    }
  }

  .header-content {
    display: flex;

    &.--mobile {
      &.--has-scrolled {
        display: flex;
        padding: 15px 10px;
        background: #fff;
        border-radius: 8px;
        box-shadow: 0 8px 24px rgba(56, 55, 70, 0.08);
      }

      &.--invisible {
        max-height: 0;
        padding: 0;
        overflow: hidden;
        opacity: 0;
      }

      &.--visible {
        max-height: 100%;
        opacity: 1;
      }
    }

    &__point {
      display: flex;
      align-items: center;
      margin-right: 10px;

      .point-label {
        display: flex;
        margin-right: 20px;
        font-size: 14px;
        font-style: normal;
        font-weight: normal;
        color: #535353;
        align-items: flex-end;
      }

      .point-info {
        display: flex;
        font-size: 16px;
        color: #242424;
        align-items: center;
      }

      .info-image {
        max-height: 16px;
        margin-right: 10px;
      }
    }

    &__faq {
      margin-left: auto;

      .faq-button {
        &__text {
          font-size: 14px;
          font-style: normal;
          font-weight: bold;
          color: #404040;
        }

        &.--small {
          ::v-deep i::before {
            color: #757575;
          }
        }
      }
    }
  }

  &__mamipoin {
    display: flex;
    width: 100%;

    &.is-highlighted {
      position: relative;
      z-index: 11;

      .text-wrapper {
        background-color: #fff;
        border-radius: 8px;
      }
    }

    .text-wrapper {
      display: flex;
      padding: 10px;
      margin-right: 10px;
      margin-left: -10px;
      align-items: center;
    }

    .mamipoin-image {
      max-height: 48px;
      margin-right: 20px;

      @media (max-width: 480px) {
        margin-right: 10px;
      }
    }

    .mamipoin-info {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      justify-content: center;
    }
    .guide-popover {
      height: 0;
    }
  }

  &__faq {
    display: flex;
    margin-left: auto;
    align-items: center;

    &.is-highlighted {
      position: relative;
      z-index: 11;

      .faq-button {
        margin-top: 0;
      }
    }

    .button-wrapper {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .faq-button {
      background: #fff;
      border: unset;
      border-radius: 20px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08), 0 -1px 4px rgba(0, 0, 0, 0.04);

      &.--has-full-opacity {
        opacity: 1;

        &[disabled] {
          opacity: 1;
        }
      }

      &.--mobile {
        height: 30px;
      }

      ::v-deep &.button.is-rounded {
        @media (max-width: 480px) {
          padding-right: 0.75rem;
          padding-left: 0.75rem;
        }

        .icon {
          width: 1.25em;
          height: 1.25em;
        }
      }

      ::v-deep > span {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      &__icon {
        ::v-deep i::before {
          font-size: 16px;
        }
      }

      &__text {
        font-size: 16px;
        font-style: normal;
        font-weight: bold;
        color: #404040;

        @media (max-width: 480px) {
          font-size: 14px;
        }
      }

      &:hover {
        cursor: pointer;
      }
    }

    .guide-popover {
      width: 0;
      height: 0;
    }
  }
}
.mamipoin-info {
  .info-title {
    display: block;
    font-size: 14px;
    color: $info-text-color;

    @media (max-width: 480px) {
      font-size: 12px;
    }
  }

  .info-total {
    font-size: 28px;
    line-height: 1.25;
    color: $info-text-color;

    @media (max-width: 480px) {
      font-size: 24px;
    }
  }
}
